<div class="signin-content">
    <mat-card>
        <mat-card-header>
            <div class="title">Citizen Form</div>
        </mat-card-header>
        <mat-card-content>
            <form name="nested-form" [formGroup]="birthCertForm" (ngSubmit)="onSubmit(birthCertForm.value)" autocomplete="off" ngNativeValidate>
                <mat-icon>lock</mat-icon>
                <mat-input-container class="justifier">
                    <input matInput type="number" placeholder="Age" name="age" formControlName="age" required>
                </mat-input-container>
                <mat-icon>lock</mat-icon>
                <mat-input-container class="justifier">
                    <input matInput type="text" placeholder="File Status" name="fileStatus" formControlName="fileStatus" readonly>
                </mat-input-container>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="MALE" >Male</mat-radio-button>
                    <mat-radio-button value="FEMALE" >Female</mat-radio-button>
                </mat-radio-group>
                <button mat-raised-button color="primary">
                    <mat-icon>input</mat-icon> Submit
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
