
<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <mat-toolbar-row>
            <button mat-icon-button (click)="snav && snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span><button mat-icon-button position="end" (click)="selectLanguage('en')">EN</button>
            <button mat-icon-button position="end" (click)="selectLanguage('gu')">ગુજ</button>
           
            <button mat-icon-button position="end" [matMenuTriggerFor]="menu" style="margin-right:10px;">
                <mat-icon>account_circle</mat-icon>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/citizen/my-profile">Profile</button>
                <button mat-menu-item (click)="onLogout()">Logout</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" style="height: 100%;">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="!mobileQuery.matches" style="width:200px;background-color: aliceblue;">
            <mat-nav-list (click)="toggleSideNav()">
                <a mat-list-item routerLink="/citizen/dashboard/" routerLinkActive="active-route-link">dashboard</a>
                <a mat-list-item routerLink="/citizen/my-profile" routerLinkActive="active-route-link">My Profile</a>
                <a mat-list-item routerLink="/citizen/my-resource" routerLinkActive="active-route-link">Resource</a>
                <a mat-list-item routerLink="/citizen/my-transactions" routerLinkActive="active-route-link">Transction</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>