.accept-terms {
    ::ng-deep .mat-checkbox-layout {
      white-space: normal !important;
      ::ng-deep .mat-checkbox-inner-container{
          margin: 6px 8px auto 0px;
      }
    }
  }
  .errors-massage{
    font-size: 11px;
  }

  .center{
    text-align: center;
  }
  .listSize {
    font-size: 13px;
}
.noSize{
  font-size: 11px;
  padding-top: 2px
}