<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<mat-card class="formClass cardBorder">
		<form [formGroup]="affordableHousingForm">
				<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">
	
					<!-- step 1 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'applicant_detail' | translate:translateKey}}</div>
						</ng-template>
	
						<div class="row">
	
							<div class="col-md-4 ngSelect" >
								<ng-select placeholder="{{'appliedFor' | translate: translateKey}} *" formControlName="schemeId" (change)="schemeChange($event)">
									<ng-option *ngFor="let appliedFor of appliedForData" [value]="appliedFor.id">
										{{appliedFor.name}}</ng-option>
								</ng-select>
								<control-messages [control]="affordableHousingForm.get('schemeId')">
								</control-messages>
							</div>
		
							<div class="col-md-4 ngSelect" >
								<ng-select placeholder="{{'project' | translate: translateKey}} *" formControlName="projectId" >
									<ng-option *ngFor="let project of projectData" [value]="project.id">
										{{project.projectName}}</ng-option>
								</ng-select>
								<control-messages [control]="affordableHousingForm.get('projectId')">
								</control-messages>
							</div>
		
							<div class="col-md-4 ngSelect" formGroupName="category">
								<ng-select placeholder="{{'category' | translate: translateKey}} *" formControlName="code">
									<ng-option *ngFor="let category of MF_CATEGORY_TYPE" [value]="category.code">
										{{category.name}}
									</ng-option>
								</ng-select>
								<control-messages [control]="affordableHousingForm.get('category').get('code')">
								</control-messages>
							</div>
		
							
							<mat-form-field class="col-md-4">
								<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace'
									required maxlength="100" placeholder="{{'applicant_Name' | translate:translateKey}}"
									formControlName="applicantName">
								<control-messages [control]="affordableHousingForm.get('applicantName')"></control-messages>
							</mat-form-field>
		
							<mat-form-field class="col-md-4">
								<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace'
									required maxlength="100" placeholder="{{'father_Name' | translate:translateKey}}"
									formControlName="applicantFatherName">
								<control-messages [control]="affordableHousingForm.get('applicantFatherName')"></control-messages>
							</mat-form-field>
		
							<mat-form-field class="col-md-4">
								<input matInput autocomplete="off" appDate formControlName="dateOfBirth" [max]="maxDate"
									[matDatepicker]="dobpicker" (dateChange)="onDateChange('dateOfBirth', $event.value)"
									placeholder="{{'applicant_dob' | translate: translateKey}}" required>
								<mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
								<mat-datepicker touchUi="true" #dobpicker></mat-datepicker>
								<div align="end" class="default-show-hint mat-hint mat-right">
									{{affordableHousingConfiguration.DATE_HINT_MSG}}</div>
								<control-messages [control]="affordableHousingForm.get('dateOfBirth')"></control-messages>
							</mat-form-field>
		
							<mat-form-field class="col-md-4">
								<span matPrefix>+91 &nbsp;</span>
								<input matInput OnlyNumber placeholder="{{'contact_no' | translate:translateKey}}" type="tel"
									maxlength="15" formControlName="telephoneNumber">
								<control-messages [control]="affordableHousingForm.get('telephoneNumber')"></control-messages>
							</mat-form-field>
		
		
							<mat-form-field class="col-md-4">
								<input matInput OnlyNumber placeholder="{{'mobile_no' | translate:translateKey}}" type="tel"
									maxlength="10" formControlName="mobileNumber" required>
								<control-messages [control]="affordableHousingForm.get('mobileNumber')"></control-messages>
							</mat-form-field>
		
							<mat-form-field class="col-md-4">
								<input matInput autocomplete="off" maxlength="50"
									placeholder="{{'email' | translate:translateKey}}" type="email" formControlName="email">
								<control-messages [control]="affordableHousingForm.get('email')"></control-messages>
							</mat-form-field>
		
						</div>
	
	
	
						 <div class="row">
							<h2>{{'applicant_correspondence_address' | translate: translateKey}}</h2>
							<app-address #applicantCorrespondenceAddr [requiredFeilds]="true" [addressFormGroup]="affordableHousingForm.get('correspondanceAddress')">
							</app-address>
						</div> 
	
						<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
							[stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
	
					</mat-tab>
					<!-- step 1 Ends -->
	
					<!-- step 2 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'applicant_occupation' | translate:translateKey}}</div>
						</ng-template>
						<div class="row">
							<mat-form-field class="col-md-4">
								<input matInput type="text" required maxlength="100" placeholder="{{'applicant_Occupation' | translate:translateKey}}"
								 formControlName="occupation">
								<control-messages [control]="affordableHousingForm.get('occupation')">
								</control-messages>
							</mat-form-field>
	
							<mat-form-field class="col-md-4">
								<input matInput type="text" required maxlength="100" placeholder="{{'organisation_Name' | translate:translateKey}}"
								 formControlName="organizationName">
								<control-messages [control]="affordableHousingForm.get('organizationName')">
								</control-messages>
							</mat-form-field>
	
							<mat-form-field class="col-md-4">
								<input matInput type="text" required maxlength="100" placeholder="{{'designation_Held' | translate:translateKey}}"
								 formControlName="occupationDesignation">
								<control-messages [control]="affordableHousingForm.get('occupationDesignation')">
								</control-messages>
							</mat-form-field>
						</div>
	
						<div class="row">
							<h2>{{'address_proof_with_residence' | translate: translateKey}}</h2>
							<mat-form-field class="col-md-4">
								<input matInput type="text" appAlphaNumeric maxlength="50" placeholder="{{'drivingLicense' | translate:translateKey}}"
								 formControlName="drivingLicenseNumber">
								<control-messages [control]="affordableHousingForm.get('drivingLicenseNumber')">
								</control-messages>
							</mat-form-field>
							<mat-form-field class="col-md-4">
								<input matInput type="text" appAlphaNumeric maxlength="25" placeholder="{{'voterID' | translate:translateKey}}"
								 formControlName="voterIdNumber">
								<control-messages [control]="affordableHousingForm.get('voterIdNumber')"></control-messages>
							</mat-form-field>
							<mat-form-field class="col-md-4">
									<input matInput OnlyNumber maxlength="12" required formControlName="aadharCardNumber"
										placeholder="{{'aadharID' | translate:translateKey}}">
									<control-messages [control]="affordableHousingForm.get('aadharCardNumber')"></control-messages>
								</mat-form-field>

							<!-- <mat-form-field class="col-md-4">
								<input matInput type="text" appAlphaNumeric required maxlength="20" placeholder="{{'aadharID' | translate:translateKey}}"
								 formControlName="aadharCardNumber">
								<control-messages [control]="affordableHousingForm.get('aadharCardNumber')"></control-messages>
							</mat-form-field> -->

							<mat-form-field class="col-md-4">
									<input matInput upperCase appAlphaNumeric maxlength="10" required formControlName="panCardNumber"
										placeholder="{{'panNo' | translate:translateKey}}"  (change)="onCardChange($event,'panCardNumber')">
									<control-messages [control]="affordableHousingForm.get('panCardNumber')"></control-messages>
								</mat-form-field>

							<mat-form-field class="col-md-4">
								<input matInput type="text" appAlphaNumeric maxlength="50" placeholder="{{'rationCardNo' | translate:translateKey}}"
								 formControlName="rationCardNumber">
								<control-messages [control]="affordableHousingForm.get('rationCardNumber')"></control-messages>
							</mat-form-field>
						</div>
						<div class="row">
							<h2>{{'occupationAddress' | translate: translateKey}}</h2>
							<app-address #occupationAddr [requiredFeilds]="true" [addressFormGroup]="affordableHousingForm.get('occupationAddress')"></app-address>
						</div>
	
						<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
							[stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>

	
					</mat-tab>
	
					<!-- step 2 Ends -->
	
					<!-- step 3 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'bank_detail' | translate:translateKey}}</div>
						</ng-template>
	
						<div class="row stepperMinHeight">
							<mat-form-field class="col-md-4">
								<input matInput autocomplete="off" minlength="9" maxlength="18" OnlyNumber formControlName="bankAccountNumber" type="text"
								 placeholder="{{'bank_account_no' | translate: translateKey}}" required>
								<control-messages [control]="affordableHousingForm.get('bankAccountNumber')"></control-messages>
							</mat-form-field>
	
							<div class="col-md-4 ngSelect" formGroupName="bank">
								<ng-select placeholder="{{'bank' | translate: translateKey}} *" formControlName="code">
									<ng-option *ngFor="let bank of bankNameArray" [value]="bank.code">
										{{bank.name}}
									</ng-option>
								</ng-select>
								<control-messages [control]="affordableHousingForm.get('bank').get('code')">
								</control-messages>
							</div>
							<!-- <div class="col-md-4 ngSelect" formGroupName="bank">
								<ng-select placeholder="{{'bank_name' | translate: translateKey}} *" formControlName="code">
									<ng-option *ngFor="let bank of bankNameArray" [value]="bank.code">{{bank.name}}
									</ng-option>
								</ng-select>
								<control-messages [control]="affordableHousingForm.get('bank')">
								</control-messages>
							</div> -->
	
							<mat-form-field class="col-md-4">
								<input matInput autocomplete="off" maxlength="100" formControlName="bankBranch" type="text" placeholder="{{'branch_name' | translate: translateKey}}"
								 required>
								<control-messages [control]="affordableHousingForm.get('bankBranch')"></control-messages>
							</mat-form-field>
	
							<mat-form-field class="col-md-4">
								<input matInput autocomplete="off" appAlphaNumeric upperCase maxlength="11" formControlName="bankIFSC" type="tel"
								 placeholder="{{'IFSCCode' | translate: translateKey}}" required>
								<control-messages [control]="affordableHousingForm.get('bankIFSC')"></control-messages>
							</mat-form-field>
	
							<mat-form-field class="col-md-4">
								<input matInput  autocomplete="off" minlength="9" maxlength="9" OnlyNumber formControlName="bankMicrCode" type="tel"
								 placeholder="{{'MICRCode' | translate: translateKey}}" required>
								<control-messages [control]="affordableHousingForm.get('bankMicrCode')"></control-messages>
							</mat-form-field>
	
						</div>
	
						<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
							[stepInfo]="{step: 'step3', next: 3, back: 1}"></app-action-bar>

	
					</mat-tab>
	
					<!-- step 3 Ends -->
	
					<!-- step 4 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'annual_income' | translate:translateKey}}</div>
						</ng-template>
						<div class="row">
	
							<mat-form-field class="col-md-4">
								<input matInput OnlyNumber placeholder="{{'annualIncome' | translate:translateKey}}" type="tel" maxlength="10"
								 formControlName="aggregateAnnualIncomeAmount" required>
								<control-messages [control]="affordableHousingForm.get('aggregateAnnualIncomeAmount')"></control-messages>
							</mat-form-field>
	
							<mat-form-field class="col-md-4">
								<input matInput autocomplete="off" maxlength="200" appValidationFields validationFieldsType='onlyNameWithSpace' placeholder="{{'annualIncomeWords' | translate:translateKey}}"
								 type="text" formControlName="aggregateAnnualIncomeAmountInWords" required>
								<control-messages [control]="affordableHousingForm.get('aggregateAnnualIncomeAmountInWords')">
								</control-messages>
							</mat-form-field>
	
						</div>
	
	
	
						<div class="row" formArrayName="placeOfChoice">
							<mat-form-field class="col-md-4" *ngFor="let item of affordableHousingForm.get('placeOfChoice')['controls']; let i = index;"
							 [formGroupName]="i">
								<input matInput autocomplete="off" maxlength="200" formControlName="name" placeholder="{{'place_of_choice' | translate: translateKey}}"
								 required>
								<button *ngIf="affordableHousingForm.get('placeOfChoice')['controls'].length > 1" title="remove_place_of_choice"
								 class="deleteBtn pull-right text-right" type="button" mat-icon-button color="warn" (click)="deleteFormArrayRecord('placeOfChoice',i)">
									<i class="fa fa-times"></i>
								</button>
								<control-messages [control]="affordableHousingForm.get('placeOfChoice')['controls'][i].get('name')">
								</control-messages>
							</mat-form-field>
	
							<div class="col-md-12 pt-3">
								<button type="button" mat-raised-button color="primary" [disabled]="affordableHousingForm.get('placeOfChoice')['controls'].length > 4"
								 (click)="addRecordFormArray('placeOfChoice')" title="{{'add_more_place' | translate:'translateKey'}}">
									<mat-icon matPrefix>add</mat-icon>Add Place
								</button>
							</div>
						</div>
	
						<div class="row pb-3">
							<div class="col-md-10">
								<h2>{{ 'family_members_details' | translate:translateKey}}</h2>
							</div>
							<div class="col-md-2 pt-3" style="text-align: right;">
								<button type="button" *ngIf="affordableHousingForm.get('canEdit').value" matTooltip="{{'add_more' | translate:translateKey}}"
								 mat-raised-button color="primary" (click)="addRecordFormArray('familyMembers')">{{'add'|
									translate:translateKey}}</button>
							</div>
						</div>
	
						<div *ngIf="affordableHousingForm.get('familyMembers')['controls'].length">
							<div>
								<table class="table table-striped responsiveTableRow">
									<thead>
										<tr class="mo-d-none">
											<th>#</th>
											<th>{{'name' | translate:translateKey}}</th>
											<th width="100">{{'age' | translate:translateKey}}</th>
											<th>{{'relationship_with_applicant' | translate:translateKey}}</th>
											<th colspan="2" *ngIf="affordableHousingForm.get('canEdit').value">
											</th>
										</tr>
									</thead>
									<tbody formArrayName="familyMembers">
										<tr *ngFor="let item of affordableHousingForm.get('familyMembers')['controls']; let indx = index;"
										 [formGroupName]="indx">
	
											<td>
												<div class="d-md-none">#</div>
												{{indx+1}}
											</td>
	
											<td>
												<div class="d-md-none">{{'name' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('name').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" formControlName="name">
													<control-messages [control]="item.get('name')"></control-messages>
												</mat-form-field>
											</td>
	
											<td>
												<div class="d-md-none">{{'age' | translate:translateKey}}</div>
												<p class="width60" *ngIf="!item.isEditMode">{{item.get('memberAge').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput maxlength="2" OnlyNumber formControlName="memberAge">
													<control-messages [control]="item.get('memberAge')"></control-messages>
												</mat-form-field>
											</td>
	
											<td>
												<div class="d-md-none">{{'relationship' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('relationshipWithApplicant').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" formControlName="relationshipWithApplicant">
													<control-messages [control]="item.get('relationshipWithApplicant')">
													</control-messages>
												</mat-form-field>
											</td>
	
	
											<td style="width: 40px;" *ngIf="affordableHousingForm.get('canEdit').value">
												<button mat-icon-button color="primary" *ngIf="!item.isEditMode" (click)="editRecord(item)">
													<mat-icon title="Edit">edit</mat-icon>
												</button>
												<button type="submit" [disabled]="item.invalid" mat-icon-button color="primary" *ngIf="item.isEditMode"
												 (click)="saveRecord(item)">
													<mat-icon title="save">save</mat-icon>
												</button>
											</td>
											<td style="width: 40px;" *ngIf="affordableHousingForm.get('canEdit').value">
												<button mat-icon-button color="warn" *ngIf="!item.isEditMode" (click)="deleteFormArrayRecord('familyMembers',indx)">
													<mat-icon title="Delete">delete</mat-icon>
												</button>
												<button mat-icon-button color="warn" *ngIf="item.isEditMode" (click)="cancelRecord('familyMembers',item,indx)">
													<mat-icon title="Cancel">cancel</mat-icon>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	
						<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
						[stepInfo]="{step: 'step4', next: 4, back: 2}"></app-action-bar>
	
	
					</mat-tab>
					<!--  step 4 Ends -->
	
	
					<!-- step 5 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'ownHouseDetail' | translate:translateKey}}</div>
						</ng-template>
	
						<div class="row pb-3">
							<div class="col-md-10">
								<h2>{{ 'ownHouseDetail' | translate:translateKey}}</h2>
							</div>
							<div class="col-md-2 pt-3" style="text-align: right;">
								<button type="button" *ngIf="affordableHousingForm.get('canEdit').value" matTooltip="{{'add_more' | translate:translateKey}}"
								 mat-raised-button color="primary" (click)="addRecordFormArray('ownHouseDetail')">{{'add'|
									translate:translateKey}}</button>
							</div>
						</div>
	
						<div *ngIf="affordableHousingForm.get('ownHouseDetail')['controls'].length">
							<div>
								<table class="table table-striped responsiveTableRow">
									<thead>
										<tr class="mo-d-none">
											<th>#</th>
											<th>{{'name' | translate:translateKey}}</th>
											<th>{{'flat_no' | translate:translateKey}}</th>
											<th>{{'street' | translate:translateKey}}</th>
											<th>{{'city' | translate:translateKey}}</th>
											<th>{{'district' | translate:translateKey}}</th>
											<th>{{'pincode' | translate:translateKey}}</th>
											<th *ngIf="affordableHousingForm.get('canEdit').value">
											</th>
										</tr>
									</thead>
									<tbody formArrayName="ownHouseDetail">
										<tr *ngFor="let item of affordableHousingForm.get('ownHouseDetail')['controls']; let indx = index;"
										 [formGroupName]="indx">
	
											<td>
												<div class="d-md-none">#</div>
												{{indx+1}}
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'name' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('name').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" formControlName="name">
													<control-messages [control]="item.get('name')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'flat_no' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('flatNo').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="flatNo">
													<control-messages [control]="item.get('flatNo')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'street' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('street').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="street">
													<control-messages [control]="item.get('street')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'city' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('city').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="city">
													<control-messages [control]="item.get('city')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
													<div class="d-md-none">{{'district' | translate:translateKey}}</div>
													<p *ngIf="!item.isEditMode">{{item.get('district').value}}</p>
													<mat-form-field *ngIf="item.isEditMode">
														<input matInput formControlName="district">
														<control-messages [control]="item.get('district')"></control-messages>
													</mat-form-field>
												</td>
												<td class="matErrorTwoLine">
														<div class="d-md-none">{{'pincode' | translate:translateKey}}</div>
														<p *ngIf="!item.isEditMode">{{item.get('pincode').value}}</p>
														<mat-form-field *ngIf="item.isEditMode">
															<input matInput formControlName="pincode">
															<control-messages [control]="item.get('pincode')"></control-messages>
														</mat-form-field>
													</td>
	
											<td width="110px">
												<div *ngIf="affordableHousingForm.get('canEdit').value" class="float-left">
													<button mat-icon-button color="primary" *ngIf="!item.isEditMode" (click)="editRecord(item)">
														<mat-icon title="Edit">edit</mat-icon>
													</button>
													<button type="submit" [disabled]="item.invalid" mat-icon-button color="primary" *ngIf="item.isEditMode"
													 (click)="saveRecord(item)">
														<mat-icon title="save">save</mat-icon>
													</button>
												</div>
	
												<div *ngIf="affordableHousingForm.get('canEdit').value">
													<button mat-icon-button color="warn" *ngIf="!item.isEditMode" (click)="deleteFormArrayRecord('ownHouseDetail',indx)">
														<mat-icon title="Delete">delete</mat-icon>
													</button>
													<button mat-icon-button color="warn" *ngIf="item.isEditMode" (click)="cancelRecord('ownHouseDetail',item,indx)">
														<mat-icon title="Cancel">cancel</mat-icon>
													</button>
												</div>
											</td>
	
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	
						<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
						[stepInfo]="{step: 'step5', next: 5, back: 3}"></app-action-bar>
	
	
					</mat-tab>
					<!-- step 5 Ends -->
	
					<!-- step 6 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'ownLandPlotDetail' | translate:translateKey}}</div>
						</ng-template>
	
	
						<div class="row pb-3">
							<div class="col-md-10">
								<h2>{{ 'ownLandPlotDetail' | translate:translateKey}}</h2>
							</div>
							<div class="col-md-2 pt-3" style="text-align: right;">
								<button type="button" *ngIf="affordableHousingForm.get('canEdit').value" matTooltip="{{'add_more' | translate:translateKey}}"
								 mat-raised-button color="primary" (click)="addRecordFormArray('ownLandPlotDetail')">{{'add'|
									translate:translateKey}}</button>
							</div>
						</div>
	
						<div *ngIf="affordableHousingForm.get('ownLandPlotDetail')['controls'].length">
							<div>
								<table class="table table-striped responsiveTableRow">
									<thead>
										<tr class="mo-d-none">
											<th>#</th>
											<th>{{'name' | translate:translateKey}}</th>
											<th>{{'flat_no' | translate:translateKey}}</th>
											<th>{{'street' | translate:translateKey}}</th>
											<th>{{'city' | translate:translateKey}}</th>
											<th>{{'district' | translate:translateKey}}</th>
											<th>{{'pincode' | translate:translateKey}}</th>
											<th *ngIf="affordableHousingForm.get('canEdit').value">
											</th>
										</tr>
									</thead>
									<tbody formArrayName="ownLandPlotDetail">
										<tr *ngFor="let item of affordableHousingForm.get('ownLandPlotDetail')['controls']; let indx = index;"
										 [formGroupName]="indx">
	
											<td>
												<div class="d-md-none">#</div>
												{{indx+1}}
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'name' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('name').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" formControlName="name">
													<control-messages [control]="item.get('name')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'flat_no' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('flatNo').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="flatNo">
													<control-messages [control]="item.get('flatNo')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'street' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('street').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="street">
													<control-messages [control]="item.get('street')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'city' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('city').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="city">
													<control-messages [control]="item.get('city')"></control-messages>
												</mat-form-field>
											</td>
	
											<td class="matErrorTwoLine">
												<div class="d-md-none">{{'district' | translate:translateKey}}</div>
												<p *ngIf="!item.isEditMode">{{item.get('district').value}}</p>
												<mat-form-field *ngIf="item.isEditMode">
													<input matInput formControlName="district">
													<control-messages [control]="item.get('district')"></control-messages>
												</mat-form-field>
											</td>
											<td class="matErrorTwoLine">
													<div class="d-md-none">{{'pincode' | translate:translateKey}}</div>
													<p *ngIf="!item.isEditMode">{{item.get('pincode').value}}</p>
													<mat-form-field *ngIf="item.isEditMode">
														<input matInput formControlName="pincode">
														<control-messages [control]="item.get('pincode')"></control-messages>
													</mat-form-field>
												</td>
											 
											<td width="110px">
												<div *ngIf="affordableHousingForm.get('canEdit').value" class="float-left">
	
	
													<button mat-icon-button color="primary" *ngIf="!item.isEditMode" (click)="editRecord(item)">
														<mat-icon title="Edit">edit</mat-icon>
													</button>
													<button type="submit" [disabled]="item.invalid" mat-icon-button color="primary" *ngIf="item.isEditMode"
													 (click)="saveRecord(item)">
														<mat-icon title="save">save</mat-icon>
													</button>
												</div>
												<div *ngIf="affordableHousingForm.get('canEdit').value">
													<button mat-icon-button color="warn" *ngIf="!item.isEditMode" (click)="deleteFormArrayRecord('ownLandPlotDetail',indx)">
														<mat-icon title="Delete">delete</mat-icon>
													</button>
													<button mat-icon-button color="warn" *ngIf="item.isEditMode" (click)="cancelRecord('ownLandPlotDetail',item,indx)">
														<mat-icon title="Cancel">cancel</mat-icon>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	
						<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
						[stepInfo]="{step: 'step6', next: 6, back: 4}"></app-action-bar>
	
	
					</mat-tab>
					<!-- step 6 Ends -->
	
					<!-- step 7 Starts -->
					<mat-tab>
						<ng-template mat-tab-label>
							<div>{{'Nominee_details' | translate:translateKey}}</div>
						</ng-template>
						<div class="row">
							<mat-form-field class="col-md-4">
								<input matInput type="text" required maxlength="100" placeholder="{{'nominee_name' | translate:translateKey}}"
								 formControlName="nomineeName">
								<control-messages [control]="affordableHousingForm.get('nomineeName')"></control-messages>
							</mat-form-field>
	
							<mat-form-field class="col-md-4">
								<input matInput type="text" required maxlength="100" placeholder="{{'relation_with_applicant' | translate:translateKey}}"
								 formControlName="nomineeApplicantRelationShip">
								<control-messages [control]="affordableHousingForm.get('nomineeApplicantRelationShip')">
								</control-messages>
							</mat-form-field>
						</div>
	
						<div class="row">
							<h2>{{'nominee_address' | translate: translateKey}}</h2>
							<app-address #nomineeAddr [requiredFeilds]="true" [addressFormGroup]="affordableHousingForm.get('nomineeAddress')"></app-address>
						</div>
	
						<div class="row">
							<mat-checkbox class="col accept-terms" required formControlName="licenseAgreed">Lorem Ipsum is simply
								dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book. It has survived not only five centuries, but also
								the
								leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
								1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
								with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
							</mat-checkbox>
						</div>
	
						<!-- <div class="fotButtonBar clearfix">
							<div class="col-sm-12 col-md-12">
								<button type="button" class="liteBorder pull-left" mat-raised-button (click)="tabIndex = 5">{{'back'
									|
									translate: actionBarKey}}</button>
								<div class="float-right">
									<button mat-raised-button color="success" (click)="onSubmit()">{{'submit'
										| translate:
										actionBarKey}}</button>
									<button mat-raised-button color="success" (click)="onSubmit()">{{'accept' | translate:actionBarKey}}</button>
									<button type="button" color="warn" mat-raised-button (click)="onRejectApp()">{{'reject' |
										translate:actionBarKey}}</button>
								</div>
							</div>
						</div> -->
						
					<app-action-bar [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
						[stepInfo]="{step: 'step7', next: 7, back: 5}"></app-action-bar>

	
					</mat-tab>
					<!-- step 7 Ends -->
	
					 <mat-tab>
						<ng-template mat-tab-label>
							<div>{{'attachment' | translate: translateKey}}</div>
						</ng-template>
						<div class="row">
							<div class="col-md-4" *ngFor="let doc of attachmentList">
								<div *ngIf="doc.requiredOnAdminPortal && doc.isActive">
									<label>{{doc.documentLabelEn}}
										<span class="text-danger" *ngIf="doc.mandatory">*</span>
									</label>
									<file-upload [form]="affordableHousingForm" [uploadModel]="doc"></file-upload>
								</div>
							</div>
						</div>
					
						<app-action-bar  [form]="affordableHousingForm" (tabIndex)="onTabChange($event)"
				 (handleOnSaveAndNext)="handleOnSaveAndNext($event)" (handleErrors)="handleErrorsOnSubmit($event)" [stepInfo]="{step: 'final', next:7, back:6} "></app-action-bar>
					
					</mat-tab> 
	
				</mat-tab-group>
			</form>
</mat-card>