
.myIcon{
  color: greenyellow;
  font-size: 70px;  
}

.circle{
  width: 100px;
  height: 100px;
  background-color: #66ff33;
  color: white;
  margin: 0 auto;
  border-radius: 50%;
}

.checkIcon{
  font-size: 70px;  
  margin-left: -42px;
  margin-top: 15px;
}

.failure{
  height: 130px;
  width: 130px;
  color: red;
  font-size: 130px; 
}