<div class="row">
	<div class="col-md-12">
		<h5 class="example-h2 pt-4">No Record Found For Birth</h5>

		<!--Start  form  -->
		<form [formGroup]="noRecordBirthForm">
			<mat-horizontal-stepper [linear]="false">

				<!-- first step start-->
				<mat-step [stepControl]="noRecordDetail" [label]="stepLable1">
					<div class="row">

						<mat-form-field class="col-md-6">
							<input matInput type="text" formControlName="childName" placeholder="{{'child_name' | translate:'translateKey'}}" required>
							<control-messages [control]="noRecordBirthForm.controls.childName"></control-messages>
						</mat-form-field>

						<div formGroupName="gender" class="col-md-6">
							<mat-radio-group formControlName="code">
								<mat-radio-button [value]="gender.code" *ngFor="let gender of genderArray">{{gender.name +'/'+gender.gujName}}</mat-radio-button>
								<control-messages [control]="noRecordBirthForm.controls.gender.controls.code"></control-messages>
							</mat-radio-group>
						</div>

						<mat-form-field class="col-md-6">
							<input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthDate" (dateChange)="onDateChange($event.value)"
							 placeholder="{{'date_of_birth' | translate:'translateKey'}}">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<control-messages [control]="noRecordBirthForm.controls.birthDate"></control-messages>
						</mat-form-field>

						<div formGroupName="birthPlace" class="col-md-6">
							<mat-radio-group formControlName="code">
								<mat-radio-button [value]="place.code" *ngFor="let place of placeArray">{{place.name}}</mat-radio-button>
							</mat-radio-group>
							<control-messages [control]="noRecordBirthForm.controls.birthPlace.controls.code"></control-messages>
						</div>

						<mat-form-field class="col-md-6">
							<input matInput type="text" formControlName="fatherName" placeholder="{{'father_name' | translate:'translateKey'}}">
							<control-messages [control]="noRecordBirthForm.controls.fatherName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput type="text" formControlName="motherName" placeholder="{{'mother_name' | translate:'translateKey'}}">
							<control-messages [control]="noRecordBirthForm.controls.motherName"></control-messages>
						</mat-form-field>
					</div>

					<file-upload [uploadModel]="setDataValue(1)"></file-upload>

					<app-action-bar [form]="noRecordBirthForm" [step]="'step1'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

				</mat-step>
				<!-- end first step -->

				<!-- second step start-->
				<mat-step [stepControl]="birthAddressDetail" [label]="stepLable2">

					<div class="row">
						<app-address class="col-md-6" #address [addressFormGroup]="noRecordBirthForm.controls.birthPlaceAddress"></app-address>
					</div>

					<file-upload [uploadModel]="setDataValue(2)"></file-upload>

					<app-action-bar [form]="noRecordBirthForm" [step]="'step2'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

				</mat-step>
				<!-- second step end-->

				<!-- third step start-->
				<mat-step [stepControl]="applicantDetail" [label]="stepLable3">
					<div class="row">
						<mat-form-field class="col-md-6">
							<input matInput type="text" formControlName="applicantName" placeholder="{{'full_name' | translate:'translateKey'}}">
							<control-messages [control]="noRecordBirthForm.controls.applicantName"></control-messages>
						</mat-form-field>

						<mat-form-field formGroupName="applicantRelation" class="col-md-6">
							<mat-select placeholder="{{'relation_with_applicant' | translate:'translateKey'}}" name="relation" formControlName="code">
								<mat-option *ngFor="let relation of relationshipArray" [value]="relation.code">{{relation.name}}</mat-option>
							</mat-select>
							<control-messages [control]="noRecordBirthForm.controls.applicantRelation.controls.code"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput type="text" OnlyNumber formControlName="applicantContactNo" placeholder="{{'mobile_no' | translate:'translateKey'}}">
							<control-messages [control]="noRecordBirthForm.controls.applicantContactNo"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput type="email" formControlName="applicantEmail" placeholder="{{'email' | translate:'translateKey'}}">
							<control-messages [control]="noRecordBirthForm.controls.applicantEmail"></control-messages>
						</mat-form-field>

					</div>

					<file-upload [uploadModel]="setDataValue(3)"></file-upload>

					<app-action-bar [form]="noRecordBirthForm" [step]="'final'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

				</mat-step>
				<!-- third step end-->
			</mat-horizontal-stepper>
		</form>

	</div>
</div>