<div class="row">
	<div class="col-md-12">
		<h5 class="example-h2 pt-4">No Record Found For Birth</h5>

		<!--Start  form  -->
		<form [formGroup]="noRecordBirthForm">
			<mat-horizontal-stepper [linear]="false">

				<!-- first step start-->
				<mat-step [stepControl]="noRecordDetail" [label]="stepLable1">

					<mat-progress-bar class="example-margin" [color]="color" [mode]="mode" value="25"></mat-progress-bar>

					<div>
						<mat-form-field class="example-full-width">
							<input matInput type="text" formControlName="childName" placeholder="{{'child_name' | translate:'ceicedforms'}}" required>
						</mat-form-field>
						<control-messages [control]="noRecordBirthForm.controls.childName"></control-messages>

						<div formGroupName="gender" class="dis-inline">
							<mat-radio-group formControlName="code">
								<mat-radio-button [value]="gender.code" *ngFor="let gender of genderArray">{{gender.name}}</mat-radio-button>
							</mat-radio-group>
							<control-messages [control]="noRecordBirthForm.controls.gender.controls.code"></control-messages>
						</div>
					</div>

					<div>
						<mat-form-field class="example-full-width">
							<input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthDate" (dateChange)="onDateChange($event.value)"
							 placeholder="{{'date_of_birth' | translate:'ceicedforms'}}">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
						<control-messages [control]="noRecordBirthForm.controls.birthDate"></control-messages>

						<div formGroupName="birthPlace" class="dis-inline">
							<mat-radio-group formControlName="code">
								<mat-radio-button [value]="place.code" *ngFor="let place of placeArray">{{place.name}}</mat-radio-button>
							</mat-radio-group>
						</div>
						<control-messages [control]="noRecordBirthForm.controls.birthPlace.controls.code"></control-messages>

						<mat-form-field class="example-full-width">
							<input matInput type="text" formControlName="fatherName" placeholder="{{'father_name' | translate:'ceicedforms'}}">
						</mat-form-field>
						<control-messages [control]="noRecordBirthForm.controls.fatherName"></control-messages>

						<mat-form-field class="example-full-width">
							<input matInput type="text" formControlName="motherName" placeholder="{{'mother_name' | translate:'ceicedforms'}}">
						</mat-form-field>
						<control-messages [control]="noRecordBirthForm.controls.motherName"></control-messages>
					</div>

					<file-upload [uploadModel]="setDataValue(1)"></file-upload>

					<app-action-bar [form]="noRecordBirthForm" [step]="'step1'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

				</mat-step>
				<!-- end first step -->

				<!-- second step start-->
				<mat-step [stepControl]="birthAddressDetail" [label]="stepLable2">
					<mat-progress-bar class="example-margin" [color]="color" [mode]="mode" value="50"></mat-progress-bar>

					<div formGroupName="birthPlaceAddress">
						<mat-form-field class="example-full-width">
							<textarea matInput type="text" formControlName="addressLine1" placeholder="{{'birth_place_address' | translate:'ceicedforms'}}"></textarea>
						</mat-form-field>
					</div>

					<file-upload [uploadModel]="setDataValue(2)"></file-upload>

					<app-action-bar [form]="noRecordBirthForm" [step]="'step2'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

				</mat-step>
				<!-- second step end-->

				<!-- third step start-->
				<mat-step [stepControl]="applicantDetail" [label]="stepLable3">
					<mat-progress-bar class="example-margin" [color]="color" [mode]="mode" value="100"></mat-progress-bar>

					<mat-form-field class="example-full-width">
						<input matInput type="text" formControlName="applicantName" placeholder="{{'full_name' | translate:'ceicedforms'}}">
					</mat-form-field>
					<control-messages [control]="noRecordBirthForm.controls.applicantName"></control-messages>

					<div formGroupName="applicantRelation">
						<mat-form-field>
							<mat-select placeholder="{{'relation_with_applicant' | translate:'ceicedforms'}}" name="relation" formControlName="code">
								<mat-option *ngFor="let relation of relationshipArray" [value]="relation.code">{{relation.name}}</mat-option>
							</mat-select>
						</mat-form-field>
						<control-messages [control]="noRecordBirthForm.controls.applicantRelation.controls.code"></control-messages>
					</div>

					<mat-form-field class="example-full-width">
						<input matInput type="text" OnlyNumber formControlName="applicantContactNo" placeholder="{{'mobile_no' | translate:'ceicedforms'}}">
					</mat-form-field>
					<control-messages [control]="noRecordBirthForm.controls.applicantContactNo"></control-messages>

					<mat-form-field class="example-full-width">
						<input matInput type="email" formControlName="applicantEmail" placeholder="{{'email' | translate:'ceicedforms'}}">
					</mat-form-field>
					<control-messages [control]="noRecordBirthForm.controls.applicantEmail"></control-messages>


					<file-upload [uploadModel]="setDataValue(3)"></file-upload>

					<app-action-bar [form]="noRecordBirthForm" [step]="'final'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

				</mat-step>
				<!-- third step end-->
			</mat-horizontal-stepper>
		</form>

	</div>
</div>