<div class="mainBg">
	<div class="signUp vMid col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">

		<mat-card>
			<h1 class="heading">Sign up</h1>
			<form [formGroup]="regForm" (ngSubmit)="onSignUp(regForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Firstname" formControlName="firstName" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Lastname" formControlName="lastName" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="email" placeholder="Email" formControlName="email" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="number" placeholder="Cell Number" formControlName="cellNo" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="password" placeholder="Password" formControlName="password" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="password" placeholder="Password" formControlName="confirmPassword" required>
				</mat-form-field>

				<div class="text-center">
					<button type="submit" mat-raised-button color="primary" [disabled]="regForm.invalid">
						Sign Up
					</button>
				</div>
				<p class="text-center" style="margin-top: 10px;">Already have an account
					<a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHLOGIN')}}">Log In</a>
				</p>
			</form>

		</mat-card>
	</div>
</div>