<div class="example-container col-md-6 col-md-offset-3" style="margin: 0px auto;">
	<div class="header">
		<div class="heading">Sign UP</div>
	</div>
	<mat-card>
		<mat-card-content>
			<form [formGroup]="regForm" (ngSubmit)="onSignUp(regForm.value)" autocomplete="off" ngNativeValidate> 
				
				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="text" placeholder="Firstname" formControlName="firstName" required>
				</mat-form-field>

				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="text" placeholder="Lastname" formControlName="lastName" required>
				</mat-form-field>

				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="email" placeholder="Email" formControlName="email" required>
				</mat-form-field>

				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="number" placeholder="Cell Number" formControlName="cellNo" required>
				</mat-form-field>

				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="password" placeholder="Password" formControlName="password" required>
				</mat-form-field>

				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="password" placeholder="Password" formControlName="confirmPassword" required>
				</mat-form-field>

				<button type="submit" mat-raised-button color="primary" [disabled]="regForm.invalid" style="width:100%">
					Sign Up
				</button>
				<p class="text-center" style="margin-top: 10px;">Already have an account
					<a routerLink="../login">Log In</a>
				</p>
			</form>
		</mat-card-content>
	</mat-card>
</div>