<div class="mainBg">

	<mat-card class="verticalAlign borderRadius10 signUp">                   
				<div class="headingBox">Register<span>Sign up by entering the information below</span></div>
			<form [formGroup]="regForm" (ngSubmit)="onSignUp(regForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Firstname" formControlName="firstName" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Lastname" formControlName="lastName" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="email" placeholder="Email" formControlName="email" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="number" placeholder="Cell Number" formControlName="cellNo" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="password" placeholder="Password" formControlName="password" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="password" placeholder="Password" formControlName="confirmPassword" required>
				</mat-form-field>

				<div class="text-center">
					<button type="submit" mat-raised-button color="primary" [disabled]="regForm.invalid" class="width150">
						Sign up
					</button>
				</div>
				<div class="text-center pt-2">
					Allready have an account ?
					<a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHLOGIN')}}">Login</a> here.
				</div>
			</form>

		</mat-card>

</div>