<app-title-bar [title]="pipe.transform('screen_title',translateKey)">
</app-title-bar>
<!-- <div class="moduleList">
    <div class="servicesList row pb-5">
        <div class="colBtn col-md-3" *ngFor="let service of modules;" matTooltip="{{ service.name }}">
            <button mat-stroked-button (click)="generalShow = !generalShow" routerLinkActive="activated-services-button"
                *ngIf="service.active" color="primary">
                {{ service.name }}
            </button>
            <button mat-stroked-button (click)="specialShow = !specialShow" *ngIf="!service.active" color="primary">
                {{ service.name }}
            </button>
        </div>
    </div>
</div> -->
<!-- HTML for planetarium hall booking -->

<div>

  <div *ngIf="guideLineFlag">
    <mat-card class="cardBox">
      <div class="pageTitle d-flex justify-content-between">
    <div *ngIf="showSelectLanguage">{{'instruction_of_planetarium_booking'| translate: translateKey : 'gu'}}</div>
    <div *ngIf="!showSelectLanguage">{{'instruction_of_planetarium_booking'| translate: translateKey}}</div>
    <button mat-raised-button type="button" color="primary" *ngIf="showSelectLanguage"
        (click)="selectLanguage('en')">English</button>
    <button mat-raised-button type="button" color="primary" *ngIf="!showSelectLanguage"
        (click)="selectLanguage('gu')">ગુજરાતી</button>
    </div>
      <mat-card-content class="p-4 mat-card" *ngIf="!showSelectLanguage">
        <img _ngcontent-c1="" width=130 height=130 alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg"
        class="center mb-2">
        <h1><b>Instruction Of Planetarium Booking</b></h1>
        <h5 class="pb-2">{{head_lines| translate: translateKey}}</h5><br>
        <h4 class="text-center"><span class="font-weight-bold">Note : </span>Planetarium tickets will be non-refundable</h4>
        <h2 class="rules-title"><b>{{'rules_and_regulations'| translate: translateKey}}</b></h2>
    <h4>
        <ol class="olList">
          <li class="listSize">
            Citizens follow the VMC Rules.
          </li>
          <li class="listSize">
            Production of all necessary permission is mandatory for applicant before commencement of Program.
          </li>
          <li class="listSize">
            Planetarium Show timings:
            <ul>
              <li class="listSize">Special Show: 1. 03:00 PM to 03:30 PM (Gujarati) 2. 03:00 PM to 03:30 PM (Hindi) only for school.</li>
              <li class="listSize">General Show 1. 04:00 PM to 04:30 PM (Gujarati) 2. 05:00 PM to 05:30 PM (Hindi) 3. 06:00 PM to 06:30 PM(Hindi).</li>
            </ul>
          </li>
          <li class="listSize">
            Charge:
            <ul>
                <h4><li class="listSize"> Special show charge per seat 10 ({{rupeeSign}}), Only with school approval.</li></h4>
                <h4><li class="listSize"> General show charge per seat 20 ({{rupeeSign}})</li></h4>
            </ul>
          </li>
          <li class="listSize">Seating Capacity: For Special Show citizen can book 98 seats and for General Show one user can book 4 seats.</li>
        </ol>
    </h4>
      </mat-card-content>
      <mat-card-content class="p-4 mat-card" *ngIf="showSelectLanguage">
        <img _ngcontent-c1="" width=130 height=130 alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg"
        class="center mb-2">
        <h2><b>પ્લેનેટોરિયમ બુકિંગની સૂચના</b></h2>
        <h5 class="pb-2 ">{{gujheadLine| translate: translateKey}}</h5><br>
        <h4 class="text-center"><span class="font-weight-bold">નૉૅધ : </span>પ્લેનેટોરિયમ ટિકિટ નોન-રિફંડેબલ રહેશે </h4>
        <h2 class="rules-title"><b>{{'rules_and_regulations'| translate: translateKey : 'gu'}}</b></h2>
    <h5>
        <div class="d-flex ">
            <p class="pr-2 listSize"> ૧. </p>
            <p class="listSize">નાગરિકો VMC નિયમોનું પાલન કરે છે.
            </p>
          </div>
          <div class="d-flex ">
            <p class="pr-2 listSize">૨.</p>
            <p class="listSize">કાર્યક્રમ શરૂ કરતા પહેલા અરજદાર માટે તમામ જરૂરી પરવાનગીનું ઉત્પાદન ફરજિયાત છે.</p>
          </div>
          <div class="d-flex ">
            <p class="pr-2 listSize">૩.</p>
            <p class="listSize">પ્લેનેટોરિયમ શોના સમય:</p>
          </div>
          <div class="d-flex pl-4 ">
            <p class="pr-4 listSize"> </p>
            <p class="listSize"> વિશેષ શો: ૧. બપોરે ૩:૦૦ થી ૩:૩૦ (ગુજરાતી),  ૨. બપોરે ૩:૦૦ થી ૩:૩૦ (હિન્દી)  માત્ર શાળા માટે.</p>
          </div>
          <div class="d-flex pl-4 ">
            <p class="pr-4 listSize"> </p>
            <p class="listSize">સામાન્ય શો: ૧. બપોરે ૪:૦૦ થી ૪:૩૦ (ગુજરાતી),  ૨. બપોરે ૫:૦૦ થી સાંજે ૫:૩૦ (હિન્દી),  ૩. સાંજે ૬:૦૦ થી ૬:૩૦ (હિન્દી).</p>
          </div>
          <div class="d-flex ">
            <p class="pr-2 listSize"> ૪. </p>
            <p class="listSize"> ચાર્જ: </p>
          </div>
          <div class="d-flex pl-4 ">
            <p class="pr-4 listSize"> </p>
            <p class="listSize"> સીટ દીઠ સ્પેશિયલ શો ચાર્જ ૧૦ (₹), માત્ર શાળાના મંજૂરીપત્ર સાથે </p>
          </div>
          <div class="d-flex pl-4 ">
            <p class="pr-4 listSize"> </p>
            <p class="listSize">સીટ દીઠ સામાન્ય શો ચાર્જ ૨૦ (₹)</p>
          </div>
          <div class="d-flex  ">
            <p class="pr-2 listSize"> ૫.</p>
            <p class="listSize"> બેઠક ક્ષમતા: વિશેષ શો માટે નાગરિક ૯૮ બેઠકો બુક કરી શકે છે અને જનરલ શો માટે એક વપરાશકર્તા ૪ બેઠકો બુક કરી શકે છે. </p>
          </div>
    </h5>

      </mat-card-content>
    </mat-card>
    <div class="fotButtonBar">
        <div class="row px-2">
        <div class="col-sm-6 col-md-6" *ngIf="!showSelectLanguage">
            <mat-checkbox class="d-block listSize" labelPosition="after" (change)="clickProcess($event)" [checked]="checkProceed">
                <span class="font-weight-bold"> {{'i_have_read_and_agree_with_terms_and_conditions' | translate:translateKey}}</span>
             </mat-checkbox>
        </div>
        <div class="col-sm-6 col-md-6" *ngIf="showSelectLanguage">
            <mat-checkbox class="d-block listSize" labelPosition="after" (change)="clickProcess($event)" [checked]="checkProceed">
                <span class="font-weight-bold"> {{'i_have_read_and_agree_with_terms_and_conditions' | translate:translateKey :'gu'}}</span>
             </mat-checkbox>
        </div>
      <div class="col-sm-6 col-md-6 text-right">
        <button mat-raised-button [disabled]="btnProceed"  type="button" (click)="guideLineFlag = true;showPlanetariumSearchForm= false;showPopup();" color="primary">
          <mat-icon>thumb_up_alt</mat-icon>
          {{'proceed'| translate: translateKey}}
        </button>
      </div>
    </div>
    </div>
  </div>

  <div *ngIf="showPlanetariumSearchForm">
    <mat-card class="formClass cardBorder">
        <div class="pageTitle">{{'book_your_ticket' | translate: translateKey}}</div>
        <div class="p-15">
            <form [formGroup]="ticketBookingForm">
                <div class="row mt-3 mb-3">

                    <div formGroupName="showCategory" class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'show_category'| translate: translateKey}} *"
                            (change)="setValidationForSpecialShow($event);savePlanetariumTickets();"
                            formControlName="code" required>
                            <ng-option *ngFor="let cat of FINAL_PLANETARIUM_SHOW_CATEGORY" [value]="cat.code">
                                {{ cat.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="ticketBookingForm.get('showCategory').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="resourceCodeLK" class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'resource_name'| translate: translateKey}} *" formControlName="code"
                            required (change)="ticketBookingForm.get('visitingDate').reset()">
                            <ng-option *ngFor="let cat of resourceName" [value]="cat.code">
                                {{ cat.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="ticketBookingForm.get('resourceCodeLK').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'visiting_date'| translate: translateKey}}</mat-label>
                        <input matInput [max]="maxDate" required [min]="minDate" [matDatepicker]="datePicker" [matDatepickerFilter]="disableDates"
                            formControlName="visitingDate" placeholder="DD/MM/YYYY"
                            (dateChange)="changeDateFormat($event);getPlanetariumShowTimeSlot($event);savePlanetariumTickets()">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker touchUi="true"></mat-datepicker>
                        <div align="end" class="default-show-hint mat-hint mat-right">
                            {{DateFormate}}</div>
                        <control-messages [control]="ticketBookingForm.get('visitingDate')">
                        </control-messages>
                    </mat-form-field>

                    <div formGroupName="planetariumShowTiming"
                        [hidden]="ticketBookingForm.get('showCategory').get('code').value == 'PLANETARIUM_SPECIAL_SHOW'"
                        class="col-md-4 ngSelect" >
                        <ng-select placeholder="{{'planetarium_shows_timing'| translate: translateKey}} *"
                            formControlName="code" (change)="setShiftType()" required>
                            <ng-option *ngFor="let cat of PLANETARIUM_SHOWS_TIMING" [value]="cat.code">
                                {{ cat.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="ticketBookingForm.get('planetariumShowTiming').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="specialShowLanguage"
                        [hidden]="ticketBookingForm.get('showCategory').get('code').value != 'PLANETARIUM_SPECIAL_SHOW'"
                        class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'planetarium_shows_language'| translate: translateKey}} *"
                            formControlName="code" (change)="setShiftType()">
                            <ng-option *ngFor="let cat of PLANETARIUM_SPECIAL_SHOWS_LAG" [value]="cat.code">
                                {{ cat.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="ticketBookingForm.get('specialShowLanguage').get('code')">
                        </control-messages>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>{{'number_of_visitors' | translate: translateKey}}</h2>
                        <div class="row">

                            <div formGroupName="visitors" class="col-md-4 ngSelect"
                                *ngIf="ticketBookingForm.get('showCategory').get('code').value != 'PLANETARIUM_SPECIAL_SHOW'" >
                                <ng-select OnlyNumber placeholder="{{'visitors'| translate: translateKey}} *" formControlName="code"
                                    (change)="setVisitors();computeTotalAndVisitors(); getPlanetariumGeneralShowAvailability()" required>
                                    <ng-option *ngFor="let num of PLANETARIUM_VISITOR" [value]="num.code">
                                        {{ num.name }}
                                    </ng-option>
                                </ng-select>
                                <control-messages [control]="ticketBookingForm.get('visitors').get('code')">
                                </control-messages>
                            </div>

                            <mat-form-field class="col-md-4"
                                *ngIf="ticketBookingForm.get('showCategory').get('code').value == 'PLANETARIUM_SPECIAL_SHOW'">

                              <input matInput OnlyNumber formControlName="totalVisitor" maxlength="3" [max]="totalVisitorLimit"
                                    placeholder="{{'selected_seats' | translate: translateKey}}"
                                    (change)="computeTotalAndVisitors()" required>
                                <control-messages [control]="ticketBookingForm.get('totalVisitor')">
                                </control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput OnlyNumber placeholder="{{ 'rate'| translate:translateKey}}"
                                    formControlName="rate" required readonly>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput OnlyNumber
                                    placeholder="{{ 'total_amount'| translate:translateKey}}" formControlName="amount" readonly>
                            </mat-form-field>

                            <!-- <mat-form-field class="col-md-4">
                                <input matInput OnlyNumber
                                    placeholder="{{ 'remain_seats'| translate:translateKey}}" formControlName="remainSeats">
                            </mat-form-field> -->

                        </div>
                    </div>
                </div>
                <!-- <button
                    *ngIf="ticketBookingForm.get('showCategory').get('code').value == 'PLANETARIUM_SPECIAL_SHOW' && ticketBookingForm.get('totalVisitor').value"
                    mat-raised-button color="primary" type="submit" (click)="getPlanetariumShowAvailability();">
                    {{'check_avalability'| translate: translateKey}}
                </button> -->

                <div class="row"
                    *ngIf="ticketBookingForm.get('showCategory').get('code').value != 'PLANETARIUM_SPECIAL_SHOW'">
                    <div class="col-md-12">
                        <h2>{{'applicant_details' | translate: translateKey}}</h2>
                    </div>
                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50" required formControlName="firstName"
                            placeholder="{{'first_name' | translate: translateKey}}" appValidationFields
                            [validationFieldsType]="'onlyNameWithOutSpace'">
                        <control-messages [control]="ticketBookingForm.get('firstName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50" formControlName="middleName"
                            placeholder="{{'middle_name' | translate: translateKey}}" appValidationFields
                            [validationFieldsType]="'onlyNameWithOutSpace'">
                        <control-messages [control]="ticketBookingForm.get('middleName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50"  formControlName="lastName"
                            placeholder="{{'last_name' | translate: translateKey}}" appValidationFields
                            [validationFieldsType]="'onlyNameWithOutSpace'" required>
                        <control-messages [control]="ticketBookingForm.get('lastName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="applicantMobile"
                            placeholder="{{'mobile_number' | translate: translateKey}} *">
                        <control-messages [control]="ticketBookingForm.get('applicantMobile')"></control-messages>
                    </mat-form-field>

                    <div formGroupName="idType" class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'id_type'| translate: translateKey}} *" formControlName="code" (change)="CheckType($event)">
                            <ng-option *ngFor="let idType of idTypes" [value]="idType.code">
                                {{ idType.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="ticketBookingForm.get('idType').get('code')">
                        </control-messages>
                    </div>

                  <mat-form-field class="col-md-4 mb-5" *ngIf="isVisibleIdNumber">
                    <input matInput minlength="4" class="aadharcard"  OnlyNumber maxlength="4" formControlName="idNumber"
                           placeholder="{{'id_number' | translate: translateKey}} *">
                    <control-messages [control]="ticketBookingForm.get('idNumber')"></control-messages>
                    <mat-hint class="mt-3 font-weight-bold fsLarge">
                      ({{'last_4_digit_of_ID'| translate: translateKey}})</mat-hint>
                  </mat-form-field>

                  <mat-form-field class="col-md-4 mb-5" *ngIf="!isVisibleIdNumber">
                        <input matInput minlength="4" appAlphaNumeric maxlength="4" formControlName="idNumber"  class="capitalCase"
                            placeholder="{{'id_number' | translate: translateKey}} *">
                        <control-messages [control]="ticketBookingForm.get('idNumber')"></control-messages>
                        <mat-hint class="mt-3 font-weight-bold fsLarge">
                            ({{'last_4_digit_of_ID'| translate: translateKey}})</mat-hint>
                    </mat-form-field>

                    <!-- <mat-form-field class="col-md-4">
                        <input matInput OnlyNumber minlength="4" maxlength="4" formControlName="idNumber"
                            placeholder="{{'id_number' | translate: translateKey}}" required>
                        <control-messages [control]="ticketBookingForm.get('idNumber')"></control-messages>
                        <mat-hint class="mt-3 font-weight-bold fsLarge">
                            ({{'last_4_digit_of_ID'| translate: translateKey}})</mat-hint>
                    </mat-form-field> -->
                </div>
                <!-- special Show fields -->
                <div class="row pt-4"
                    *ngIf="ticketBookingForm.get('showCategory').get('code').value == 'PLANETARIUM_SPECIAL_SHOW'">

                    <div class="col-md-12">
                        <h2>{{'school_details_or_group_details' | translate: translateKey}}</h2>
                    </div>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="25" appValidationFields [validationFieldsType]="'onlyNameWithSpace'"
                            type="text" formControlName="schoolName"
                            placeholder="{{'school_name' | translate: translateKey}}" required>
                        <control-messages [control]="ticketBookingForm.get('schoolName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="schoolMobileNumber"
                            placeholder="{{'school_mobile_number' | translate: translateKey}} " required>
                        <control-messages [control]="ticketBookingForm.get('schoolMobileNumber')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput type="text" formControlName="schoolEmailId" maxlength="50"
                            placeholder="{{'school_email_id' | translate: translateKey}}" required>
                        <control-messages [control]="ticketBookingForm.get('schoolEmailId')" ></control-messages>
                    </mat-form-field>

                    <!-- <h2>
                        {{'attchaments' | translate:translateKey}}
                    </h2> -->
                    <div class="col-md-6">
                        <label labelPosition="after">{{'permission_orders_if_applicable' | translate:translateKey}} </label>
                        <span class="text-danger">*</span>
                        <ticketing-file-upload (uploaded)="isFileUploaded = $event" [form]="ticketBookingForm"
                            [uploadModel]="{dmsUpload:true, fieldIdentifier:'1', labelName:'Previous Permission Orders if Applicable', formPart:'1.1', refNumber:
                            ticketBookingForm.get('refNumber').value, bookingFormId : ticketBookingForm.get('bookingFormId').value, variableName: 'permission_orders'}">
                        </ticketing-file-upload>
                    </div>

                </div>

                <div>
                    <div class="pl-2">

                    </div>
                </div>

                <div class="row fotButtonBar">
                    <div class="col-sm-12 col-md-12 text-right">

                        <button  [disabled]="ticketBookingForm.invalid" mat-raised-button color="primary" type="submit" (click)="redirecToPayment()"
                            *ngIf="ticketBookingForm.get('showCategory').get('code').value != 'PLANETARIUM_SPECIAL_SHOW'">
                            <!-- <mat-icon>payment</mat-icon> -->
                            {{'pay_and_print_ticket'| translate: translateKey}}
                        </button>

                        <button [disabled]="ticketBookingForm.invalid" mat-raised-button color="primary" type="submit"  (click)="submitForVarification()"
                            *ngIf="ticketBookingForm.get('showCategory').get('code').value == 'PLANETARIUM_SPECIAL_SHOW' && seatAvailable == true">
                            <!-- <mat-icon>check_circle</mat-icon> -->
                            {{'submit'| translate: translateKey}}
                        </button>

                        <button mat-raised-button color="primary" type="button" (click)="ticketBookingForm.reset()">
                            <!-- <mat-icon>clear_all</mat-icon> -->
                            {{'clear'| translate: translateKey}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <select-payment-gateway #paymentGateway [applicationType]="'ticketing'"></select-payment-gateway>
    </mat-card>
  </div>
</div>

<div id="sectionToPrint"></div>
