<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<!-- GuideLine Div-->
<div *ngIf="guideLineFlag">
    <mat-card class="cardBox">
        <div class="pageTitle d-flex justify-content-between">
            <div *ngIf="!showSelectLanguage" class="header-title">{{'atithigruh_bookings'| translate: translateKey}} </div>
            <div *ngIf="showSelectLanguage" class="header-title">{{'atithigruh_bookings'| translate: translateKey:'gu'}} </div>
            <button mat-raised-button color="primary" type="button" (click)="selectLanguage('en')" *ngIf="showSelectLanguage">English</button>
            <button mat-raised-button color="primary" type="button" (click)="selectLanguage('gu')" *ngIf="!showSelectLanguage">ગુજરાતી</button>
        </div>
        <mat-card-content class="p-4 header_lines" *ngIf="showSelectLanguage">
            <img _ngcontent-c1="" width=130 height=130 alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg"
                class="center">
            <p class="head-line"> <strong>{{'atithigruh_rules'| translate: translateKey:'gu'}}</strong></p>
            <h4 class="instructions pl-4">
                <div class="d-flex">
                    <p class="pr-2 listSize"> ૧. </p>
                    <p class="listSize"> અતિથિગૃહનો ચાર્જ પરત લેતી વખતે નિયમ પ્રમાણેનો લાઇટ, ગેસ વાસણો તથા અન્ય ચાર્જીસની રકમ
                        થયેલ વપરેશ મુજબની મૂળ ડીપોઝીટમાંથી કપાત કરવામાં આવશે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize"> ૨. </p>
                    <p class="listSize">અતિથિગૃહમાં બેન્ડ અથવા અન્ય વાજીંત્રો વગાડવાની તથા દારૂખાનું ફોડવાની સખત મનાઇ છે.</p>
                </div>
                <div class="d-flex">
                    <p class="pr-2 listSize">૩.</p>
                    <p class="listSize"> અતિથિગૃહમાં નિયમ વિરુદ્ધ ટંટો ફસાદ , તકરાર કે ગંદકી કરવી નહીં , સરસામાન કે વાસણોનો દૂર
                        ઉપયોગ કરવો નહીં.</p>
                </div>
                <div class="d-flex">
                    <p class="pr-2 listSize">૪.</p>
                    <p class="listSize"> અતિથિગ્રહ કેન્સલ કરાવવા માટે પ્રસંગની તારીખથી ૧૦ દિવસ પહેલાં કેન્સલની અરજી અતિથિગ્રહ ઓફિસ
                        ગેટ નંબર:૪ ઓફિસમાં કરવાની રહેશે . જેમાંથી લાગતના ૩૦ % કપાત કરી બાકી રકમ પરત મળશે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">૫.</p>
                    <p class="listSize"> અતિથિગૃહમાં કોઈપણ પ્રકારનું નુકશાન થશે અથવા વાસણ ખોવાશે તો ભરેલ ડીપોઝીટમાંથી તેની બજાર
                        કિંમત વસૂલ કરવામાં આવશે.</p>
                </div>
                <div class="d-flex">
                    <p class="pr-2 listSize">૬.</p>
                    <p class="listSize">નિયમ વિરુદ્ધ કોઈપણ કાર્ય કરવામાં આવશે તો ડીપોઝીટ જપ્ત કરવામાં આવશે અને અતિથિગ્રહ
                        તાત્કાલિક ખાલી કરાવવામાં આવશે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">૭.</p>
                    <p class="listSize">આ ઉપરાંત જે તે અતિથિગૃહ ઉપર લખેલ નિયમોનો ચૂસ્ત પણે અમલ કરવાનો રહેશે .</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">૮.</p>
                    <p class="listSize">સરકારશ્રી દ્વારા યોજવામાં આવતી ચૂંટણી સમયે જરૂરીયાત મુજબ અતિથિગૃહનું બુકીંગ રદ કરી લાગત
                        - અનામતની રકમ
                        રીફંડ કરવામાં આવશે . તથા આ બાબતે કોઇ કાનુની વિવાદ ઉભો કરી શકાશે નહીં .</p>
                </div>
                <div class="pl-3">
                    <p class="listSize">બુકીંગ ઓફિસ : સયાજીબાગ અતિથિગૃહ નંબર : ૨ ની પાસે , સયાજીબાગ , વડોદરા.</p>
                    <p class="listSize">બુકીંગનો સમય : સોમવારથી શુક્રવાર સવારે ૯-૩૦ થી ૧-૦૦ સુધી.</p>
                    <p class="listSize">શનિવાર : સવારે ૯-૩૦ થી ૧૧-૦૦ સુધી (જાહેર રજાના દિવસે બુર્કીગ ઓફિસ બંધ રહેશે).</p>
                </div>
                <div>
        
                    <p class="pb-2 readline">{{guj_line| translate: translateKey}}</p>
                    <div class="rate-chart">
                        <h4 class="rate-chart-title"><b>અતિથિગૃહ બુકિંગ રેટ ચાર્ટ</b></h4>
                    </div>
        
                    <mat-card class="cardBox mt-3">
                        <div class="pageTitle">
                            <h4 align="center"><b>અતિથિગૃહ વન ડે બુકિંગ શુલ્ક</b></h4>
                        </div>
                    </mat-card>
                    <table mat-table [dataSource]="gujratifeeDetails" class="mat-elevation-z8">
        
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef class="containerWidth">ક્રમ.નં. </th>
                            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="atithigruh">
                            <th mat-header-cell *matHeaderCellDef class="containerWidth"> અતિથિગ્રુહ </th>
                            <td mat-cell *matCellDef="let element"> {{element.atithigruh}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="rent">
                            <th mat-header-cell *matHeaderCellDef class="text-right table-title">ભાડુ (₹)</th>
                            <td mat-cell *matCellDef="let element" class="text-right"> {{element.rent}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="administrative_charge">
                            <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 200px;"> વહીવટી ચાર્જ (₹)</th>
                            <td mat-cell *matCellDef="let element" class="text-right"> {{element.administrative_charge}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="gst">
                            <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> જીએસટી(૧૮%)(₹)
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-right"> {{element.gst}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="total_rent">
                            <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> કુલ ભાડું (₹)</th>
                            <td mat-cell *matCellDef="let element" class="text-right"> {{element.total_rent}} </td>
                        </ng-container>
                        <ng-container matColumnDef="deposit">
                            <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> ડિપોઝિટ (₹)</th>
                            <td mat-cell *matCellDef="let element" class="text-right"> {{element.deposit}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> કુલ (₹)</th>
                            <td mat-cell *matCellDef="let element" class="text-right"> {{element.total}} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFeeDetails"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFeeDetails;"></tr>
                    </table>
                    <div>
                        <mat-card-content class="p-4">
                            <h5>
        
                                <div class="d-flex ">
                                    <p class="pr-2 listSize">૧.</p>
                                    <p class="listSize"><span class="font-weight-bold">મૃત્યુ કારણ શુલ્ક માટે:</span> જો બુકિંગનો હેતુ અશુભ હશે અર્થાત બેસણું, 
                                        બારમું કે તેરમું હશે તો અતિથિગૃહનુ ભાડું ૫૦% રહશે અને તમામ અતિથિગૃહ માટે ₹૫૦૦૦ ડિપોઝિટ ભરવાની રહેશે.</p>
                                </div>
                                <div class="d-flex ">
                                    <p class="pr-2 listSize">૨.</p>
                                    <p class="listSize"><span class="font-weight-bold">સમુહ લગ્ન માટે:</span> જો બુકિંગનો હેતુ સમુહ લગ્ન માટે હશે તથા ઓછામાં ઓછા 5 યુગલ હોય તો તમામ અતિથિગૃહ માટે નું ભાડું ૫૦% રહેશે.</p>
                                </div>
                            </h5>
                        </mat-card-content>
                    </div>
                </div>
            </h4>
        </mat-card-content>
        <mat-card-content class="p-4 header_lines" *ngIf="!showSelectLanguage">
            <img _ngcontent-c1="" width=130 height=130 alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg"
                class="center">
            <h3 class="head-line"><strong>{{'atithigruh_rules'| translate: translateKey}}</strong></h3>
            <h4>
                <ol class="listofol">
        
                    <li class="engInstructions">
                        <h4>As per the rules, the amount of light, gas utensils and other charges will be
                            deducted from the original deposit as per the guest house charge.</h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4>It is strictly forbidden to play bands or other instruments in the guest house and to
                            break the fire.
                        </h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4>Don't quarrel, quarrel or litter against the rules in the guest house,
                            don't use traps or utensils away.</h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4>In order to cancel the guest house, the application for cancellation should be
                            made 10 days before the date of the event at the guest house office gate number: 4
                            office Out of which the remaining amount will be refunded after deducting 30% of
                            the cost.</h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4>In case of any kind of loss or loss of utensils in the guest house,
                            its market value will be recovered from the filled deposit.</h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4> If any action is taken against the rule, the deposit will be
                            confiscated and the guest will be evacuated immediately.</h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4>In addition, the rules written on the guest house will have to be strictly enforced.</h4>
                    </li>
        
                    <li class="engInstructions">
                        <h4>
                            At the time of election held by the Government, the booking of the guest house will be
                            Cancelled as required and the cost-reserve amount will be refunded. And no legal dispute
                            can be raised in this matter.
                        </h4>
                    </li>
        
                    <h4 class="exterInst">Booking Office : Near Sayajibagh Guest House No. 2, Sayajibagh, Vadodara.</h4>
                    <h4 class="exterInst">Booking time : Monday to Friday from 9:30 am to 1:00 pm.</h4>
                    <h4 class="exterInst">Saturday : 9:30 am to 11:00 am (Booking office will be closed on public holidays.)
                    </h4>
                </ol>
            </h4>
            <div>
        
                <p class="pb-2 engreadline">{{head_lines| translate: translateKey}}</p> <br>
                <div class="rate-chart">
                    <h4 class="engTitle"><b>Atithigruh Booking Rate Chart</b></h4>
                </div>
        
                <mat-card class="cardBox mt-3">
                    <div class="pageTitle">
                        <h4 align="center"><b>Atithigruh One Day Booking Charges</b></h4>
                    </div>
                </mat-card>
                <table mat-table [dataSource]="feeDetails" class="mat-elevation-z8">
        
                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef class="containerWidth"> Sr.No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="atithigruh">
                        <th mat-header-cell *matHeaderCellDef class="containerWidth"> Atithigruh </th>
                        <td mat-cell *matCellDef="let element"> {{element.atithigruh}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="rent">
                        <th mat-header-cell *matHeaderCellDef class="text-right table-title">Rent (₹)</th>
                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.rent}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="administrative_charge">
                        <th mat-header-cell *matHeaderCellDef class="text-right pl-3" style="width: 250px;"> Administrative Charge (₹)
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.administrative_charge}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="gst">
                        <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> GST(18%)(₹)</th>
                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.gst}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="total_rent">
                        <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> Total Rent (₹)</th>
                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.total_rent}} </td>
                    </ng-container>
                    <ng-container matColumnDef="deposit">
                        <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> Deposit (₹)</th>
                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.deposit}} </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef class="text-right" style="width: 150px;"> Total (₹)</th>
                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.total}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFeeDetails"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFeeDetails;"></tr>
                </table>
                <div>
                    <mat-card-content class="p-4">
                        <h5>
                            <ol class="additionInfo">
                                <li>
                                    <b>
                                        <h5 class="exterInst"><b>For Death Reason Charges :</b> If the Purpose of booking is
                                            Death Realted
                                            then rent will be 50% and deposit
                                            will be ₹ 5000 to all Atithigruh.</h5>
                                    </b>
                                </li>
                                <li>
                                    <b>
                                        <h5 class="exterInst"><b>For Samuh Lagna :</b>If the Purpose of booking is Samuh Lagna
                                            then rent
                                            will be 50% to all Atithigruh.</h5>
                                    </b>
                                </li>
                            </ol>
                        </h5>
                    </mat-card-content>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    <div class="fotButtonBar mt-0">
        <div class="row px-3 checkbox">
            <div class="col-sm-6 col-md-6" *ngIf="showSelectLanguage">
                <mat-checkbox class="d-block listSize" labelPosition="after" (change)="clickProcess($event)" [checked]="checkProceed">
                   <span class="font-weight-bold"> {{'મેં નિયમો અને શરતો વાંચી છે અને તેનાથી સંમત છું.' | translate:translateKey}}</span>
                </mat-checkbox>
                </div>
            <div class="col-sm-6 col-md-6"  *ngIf="!showSelectLanguage">
                <mat-checkbox (change)="clickProcess($event)" [checked]="checkProceed"> 
                    <span class="font-weight-bold">{{'i_have_read_and_agree_with_terms_and_conditions' | translate:stadiumTranslateKey}}</span>
                </mat-checkbox>
            </div>
            <div class="col-sm-6 col-md-6 text-right">
                <button mat-raised-button (click)="guideLineFlag = false;showSearchForm = true" color="primary"
                    [disabled]="btnProceed">
                    <mat-icon>thumb_up_alt</mat-icon>
                    {{'proceed'| translate: stadiumTranslateKey}}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- GuideLine Div End-->

<!-- Search Form-->
<div *ngIf="showSearchForm">
    <mat-card class="formClass cardBorder">

        <div class="pageTitle">{{'online_atithigruh'| translate: translateKey}}</div>

        <div class="p-15">

            <form [formGroup]="BookingTypeForm" (ngSubmit)="searchBooking()" autocomplete="off" ngNativeValidate>

                <div class="row mt-3 mb-3">
                    <div class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'booking_type'| translate: translateKey}} "  class="asteriskmarkRequired"
                            formControlName="bookingType" (change)="onBookingTypeChange($event)">
                            <ng-option *ngFor="let bt of BOOKING_TYPE" [value]="bt.code">
                                {{ bt.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="BookingTypeForm.get('bookingType')"></control-messages>
                    </div>

                    <div class="col-md-4 ngSelect" formGroupName="atithiGruhName">
                        <ng-select placeholder="{{'atithiguh'| translate: translateKey}}" formControlName="code"  (change)="onAtithiGruhNameChange($event)" class="asteriskmarkRequired">
                            <ng-option *ngFor="let at of ATITHIGRUH" [value]="at.code">
                                {{ at.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="BookingTypeForm.get('atithiGruhName').get('code')"></control-messages>
                    </div>

                    <div formGroupName="bookingPurposeMaster" class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'purpose'| translate: translateKey}}" formControlName="code" (change)="onPurposeChange($event)" class="asteriskmarkRequired">
                            <ng-option *ngFor="let purpose of PURPOSE" [value]="purpose.code">
                                {{ purpose.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="BookingTypeForm.get('bookingPurposeMaster').get('code')">
                        </control-messages>
                    </div>

                    <ng-container *ngIf="bookingForRegular">
                        <mat-form-field class="col-md-4">
                            <mat-label>{{'booking_date'| translate: stadiumTranslateKey }}<span class="asteriskmarkRequired-label"></span></mat-label>
                            <input  appDate matInput [min]="startMinDate" [max]="endMinDate"
                                [matDatepicker]="townHallBookingfromPicker" formControlName="bookingFrom"
                                (dateChange)="onDateChange('bookingFrom', $event.value)">
                            <mat-datepicker-toggle matSuffix [for]="townHallBookingfromPicker"></mat-datepicker-toggle>
                            <mat-datepicker #townHallBookingfromPicker touchUi="true"></mat-datepicker>
                            <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}
                            </div>
                            <control-messages [control]="BookingTypeForm.get('bookingFrom')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <mat-label>{{'choose_end_date'| translate: translateKey}}<span class="asteriskmarkRequired-label"></span></mat-label>
                            <input appDate matInput [min]="toStartDate" [max]="endMinDate"
                                [matDatepicker]="townHallBookingtoPicker" formControlName="bookingTo"
                                (dateChange)="onDateChange('bookingTo', $event.value)" >
                            <mat-datepicker-toggle matSuffix [for]="townHallBookingtoPicker"></mat-datepicker-toggle>
                            <mat-datepicker #townHallBookingtoPicker touchUi="true"></mat-datepicker>
                            <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}
                            </div>
                            <control-messages [control]="BookingTypeForm.get('bookingTo')">
                            </control-messages>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="!bookingForRegular">
                        <mat-form-field class="col-md-4">
                            <mat-label>{{'program_date'| translate: translateKey}}<span class="asteriskmarkRequired-label"></span></mat-label>
                            <input  appDate matInput [min]="toStartBookDate" [max]="toEndBookDate"
                                [matDatepicker]="townHallBookingtoPicker" formControlName="bookingFrom"
                                (dateChange)="onDateChange('bookingFrom', $event.value)">
                            <mat-datepicker-toggle matSuffix [for]="townHallBookingtoPicker"></mat-datepicker-toggle>
                            <mat-datepicker #townHallBookingtoPicker touchUi="true"></mat-datepicker>
                            <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}
                            </div>
                            <control-messages [control]="BookingTypeForm.get('bookingFrom')">
                            </control-messages>
                        </mat-form-field>
                    </ng-container>

                    <div class="col mt-4">
                        <div class="text-right">
                            <button mat-raised-button color="primary" type="submit">
                                <mat-icon>search</mat-icon>
                                {{bookingForRegular ? 'Search' : 'check_fees' | translate: translateKey}}
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </mat-card>
    <!-- Search Form End-->

    <!-- Slot Table-->
    <mat-card *ngIf="Dates.length>0" class="mt-4">
        <mat-card class="formClass cardBorder">
            <div class="pageTitle">{{'list_of_atithigruh'| translate: translateKey}}</div>
            <mat-accordion *ngFor="let month of bookingUtils.filterMonths(Dates); let i = index;">
                <mat-expansion-panel [expanded]="i === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{month.monthName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <mat-checkbox [checked]="!bookingUtils.checkedAllinMonth(month, Dates)"
                            [disabled]="bookingUtils.checkAllDisabledInmonth(month,Dates)" labelPosition="after"
                            (change)="selectedShift = bookingUtils.selectAllShiftsInMonth($event.checked, month, Dates, selectedShift, i)">
                            {{'select_all_shift_in'| translate: stadiumTranslateKey}} {{month.monthName}}
                        </mat-checkbox>
                    </div>

                    <div class="row">
                        <div *ngFor="let date of bookingUtils.filterAcc(month.id, Dates)"
                            class="col-6 col-md-3 col-lg-2 mb-1 p-1">
                            <div class="dateBox rounded border availableDate" *ngFor="let shift of date.slotList; let i = index"
                                 [ngClass]="{'bookDate': shift.slotStatus == bookingConstants.BOOKED || shift.slotStatus == bookingConstants.TEMPORARY_BLOCKED,
                                        'checkDate': shift.slotStatus != bookingConstants.AVAILABLE,
                                        'blockDate': shift.slotStatus == 'TEMPORARY_BLOCKED',
                                        'holiyDay': shift.slotStatus == bookingConstants.RESERVED || shift.slotStatus == bookingConstants.HOLIDAY || shift.slotStatus == bookingConstants.FESTIVAL}">
                                <strong>
                                    {{bookingUtils.returnProperDate(date.key)}}
                                </strong>
                                <div class="dateCon">
                                    <mat-checkbox
                                        (change)="selectedShift = bookingUtils.selectShift(shift, $event.checked, selectedShift)"
                                        *ngFor="let shift of date.slotList; let i = index"
                                        [disabled]="shift.slotStatus == bookingConstants.BOOKED || shift.slotStatus == bookingConstants.RESERVED || shift.slotStatus == bookingConstants.TEMPORARY_BLOCKED"
                                        [checked]="shift.slotStatus != bookingConstants.AVAILABLE && shift.slotStatus != bookingConstants.HOLIDAY && shift.slotStatus != bookingConstants.FESTIVAL">
                                        &nbsp;{{shift.slotStatus == bookingConstants.CHECKED ?
                                        bookingConstants.AVAILABLE : (shift.slotStatus == 'TEMPORARY_BLOCKED' ?
                                        'Temporary Blocked' : shift.slotStatus) }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="fotButtonBar  mt-0">
                <div class="col-sm-12 col-md-12 text-right">
                    <button mat-raised-button data-toggle="modal" (click)="shortlistShifts(confirmationModel)"
                        data-target="#confirmShortlistModel" type="button" [disabled]="selectedShift.length == 0"
                        color="primary">
                        <mat-icon>check_circle_outline</mat-icon>
                        {{'shortlist'| translate: stadiumTranslateKey}}
                    </button>
                </div>
            </div>

        </mat-card>
    </mat-card>
</div>
<!-- Slot Table end-->

<!-- Selected slots disaplay modal-->
<ng-template #confirmationModel>
    <div class="modal-header customthead">
        <h3 class="modal-title" id="exampleModalLabel">
            {{'list_selected_slot'| translate: stadiumTranslateKey}}
        </h3>
        <button title="Close" data-dismiss="modal" class="mat-icon-button" aria-label="Close"
            (click)="confirmRef.hide()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body scrollModel">
        <div class="table-responsive">
            <table class="table">
                <thead class="customthead">
                    <tr>
                        <!-- <th scope="col" width="56">{{'s_no'| translate: stadiumTranslateKey}}</th> -->
                        <th scope="col" width="56">Sr.No.</th>
                        <th scope="col">{{'date_of_programme'| translate: translateKey}}</th>
                        <!-- <th scope="col">{{'end_date'| translate: translateKey}}</th> -->
                        <th scope="col">{{'slot_status'| translate: stadiumTranslateKey}}</th>
                        <!-- <th scope="col">{{'occupancy'| translate: translateKey}}</th> -->
                        <th scope="col" width="65">{{'action'| translate: stadiumTranslateKey}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shifts of selectedShift; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{bookingUtils.returnProperDate(shifts.start)}}</td>
                        <!-- <td>{{bookingUtils.returnProperDate(shifts.end)}}</td> -->
                        <td>{{shifts.slotStatus == bookingConstants.CHECKED ? bookingConstants.AVAILABLE :
                            shifts.slotStatus}}
                        </td>
                        <!-- <td>{{shifts.occupancy}}</td> -->
                        <td>
                            <!-- <button mat-icon-button title="{{'remove_slot'| translate: translateKey}}" -->
                              <button mat-icon-button title="Remove Slot"
                                (click)="selectedShift = bookingUtils.removeSelectedShift(shifts,selectedShift,  i)">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" mat-raised-button color="primary" data-dismiss="modal" (click)="confirmRef.hide()">
            <mat-icon>cancel</mat-icon>
            {{'cancel'| translate: stadiumTranslateKey}}
        </button>
        <button type="button" mat-raised-button color="primary" data-dismiss="modal" (click)="confirmShortlist()">
            <mat-icon>check_circle_outline</mat-icon>
            {{'confirm_and_continue'| translate: stadiumTranslateKey}}
        </button>
    </div>

</ng-template>
<!--Selected slots disaplay modal -->

<!-- This block is for payment details and selected slots-->
<div *ngIf="showPaymentReciept">

    <mat-card class="formClass cardBorder">
        <div class="pageTitle">
            {{'atithigruh_booking_details'| translate: translateKey}}
        </div>
        <div class="p-3 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{'booking_date'| translate: stadiumTranslateKey}}</th>
                        <th scope="col">Program Date</th>
                        <th scope="col">Atithigruh Name</th>
                        <th scope="col">Purpose </th>
                        <th scope="col" *ngIf='paymentObject.bookingType=="Advance booking"'>{{'form_charges'| translate: stadiumTranslateKey}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">{{bookingUtils.returnProperDate(paymentObject.bookingDate)}}</td>
                        <td scope="col">{{startDate | date:'dd-MM-yyy'}} </td>
                         <td scope="col">{{atithigruhName}}</td>
                         <td scope="col">{{purpose}}</td>
                         <td scope="col" *ngIf='paymentObject.bookingType=="Advance booking"'>{{paymentObject.FORM_CHARGES}}</td>

                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rent Amount (A)</th>
                        <th scope="col">Administrative Charge (B)</th>
                        <th scope="col">GST (C)=(A+B*GST/100)</th>
                        <th scope="col">Total (D)=(A+B+C)</th>
                        <th scope="col">Deposit Amount (E) </th>
                        <th scope="col">Total Payble (D+E)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">{{paymentObject.RENT_FEES-paymentObject.RENT_CONCESSION}}</td>
                        <td scope="col">{{paymentObject.ADMINISTRATION_CHARGES}}</td>
                        <td scope="col">{{paymentObject.GST}}</td>
                        <td scope="col">{{totalAmount}}</td>
                        <td scope="col">{{paymentObject.DEPOSIT_FEES-paymentObject.DEPOSIT_CONCESSION}}</td>
                        <td scope="col">{{totalPayble}}</td>
                    </tr>
                </tbody>
            </table>
             <!-- display Search Details List -->
            <!-- <div class="row">
              <div class="col-md-8 ">
                <div class="d-flex justify-content-between">
                  <h5 class="detailslist"> Atithigruh Name :- <span class="detailsNamelist">{{atithigruhName}}  </span> </h5>
                </div>
                <div class="mt-2">
                   <h5 class="detailslist"> Date Of Programme :-  <span class="detailsNamelist"> {{startDate | date:'dd-MM-yyy'}}
                    <ng-container *ngIf="bookingForRegular"> - {{endDate | date:'dd-MM-yyy'}}</ng-container> </span></h5>
                </div>
                </div>
              <div class="col-md-4">
              </div>
            </div> -->
        </div>
        <div class="fotButtonBar  mt-0">
            <div class="col-sm-12 col-md-12 text-right">
                <button type="button" mat-raised-button color="primary" data-dismiss="modal"
                    (click)="isBookingFormHidden = false; showPaymentReciept = false;setDefaultValue()">
                    {{'Proceed For Application' | translate: stadiumTranslateKey}}
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>
<!-- This block is for payment details and selected slots end-->

<!-- Booking slot start-->
<div [hidden]="isBookingFormHidden">
    <mat-card class="formClass cardBorder">
        <!-- <button (click)="patchValue2()" >Patch</button> -->
        <!-- <form [formGroup]="atithigruhForm" (ngSubmit)="submit()"> -->

            <mat-tab-group mat-stretch-tabs dynamicHeight="true" [(selectedIndex)]="tabIndex" class="stepperNav">

                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div>{{'applicant_details' | translate:stadiumTranslateKey}}</div>
                    </ng-template>
                    <form [formGroup]="applicationDetails">
                    <h2>
                        {{'applicant_details' | translate:stadiumTranslateKey}}
                    </h2>

                    <div class="row">
                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="50" appValidationFields
                                [validationFieldsType]="'onlyNameWithSpace'" type="text" formControlName="applicantName"
                                placeholder="{{'applicant_name' | translate: stadiumTranslateKey}}" required>
                            <control-messages [control]="applicationDetails.get('applicantName')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput OnlyNumber  minlength="10" maxlength="10" formControlName="applicantMobileNo"
                                placeholder="{{'applicant_mobile' | translate: stadiumTranslateKey}}" required>
                            <control-messages [control]="applicationDetails.get('applicantMobileNo')"></control-messages>
                        </mat-form-field>

                        <!-- <div class="col-md-4">
                            <mat-form-field>
                                <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="confirmMobile"
                                    placeholder="{{'confirm_mobile' | translate: stadiumTranslateKey}}" required>
                                <control-messages [control]="atithigruhForm.get('confirmMobile')"></control-messages>
                            </mat-form-field>
                            <mat-error
                                *ngIf="!bookingUtils.matcher(atithigruhForm, 'applicantMobileNo', 'confirmMobile') && atithigruhForm.get('applicantMobileNo').touched && atithigruhForm.get('confirmMobile').touched">
                                {{bookingConstants.MOB_NO_MIS_MATCH_MESSAGE}}
                            </mat-error>
                        </div> -->

                        <mat-form-field class="col-md-4">
                            <input matInput type="email" disabled formControlName="applicantEmailID"
                                placeholder="{{'applicant_email' | translate: stadiumTranslateKey}}" required>
                            <control-messages [control]="applicationDetails.get('applicantEmailID')"></control-messages>
                        </mat-form-field>

                        <!-- <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="email" formControlName="confirmEmailID"
                                    placeholder="{{'confirm_email' | translate: stadiumTranslateKey}}" required>
                                <control-messages [control]="atithigruhForm.get('confirmEmailID')"></control-messages>
                            </mat-form-field>
                            <mat-error
                                *ngIf="!bookingUtils.matcher(atithigruhForm, 'applicantEmailID', 'confirmEmailID') && atithigruhForm.get('applicantEmailID').touched && atithigruhForm.get('confirmEmailID').touched">
                                {{bookingConstants.EMAIL_MIS_MATCH_MESSAGE}}
                            </mat-error>
                        </div> -->

                    </div>

                    <div class="col-md-4" *ngIf = "applicationDetails.contains('samuhLaganCoupleCount')">
                        <mat-form-field>
                          <input matInput OnlyNumber formControlName="samuhLaganCoupleCount" maxlength="2"

                            placeholder="{{'samuh_lagan_couple_count' | translate: translateKey}}" required>
                          <control-messages [control]="applicationDetails.get('samuhLaganCoupleCount')"></control-messages>
                        </mat-form-field>
                      </div>

                    <div>
                        <h2>
                            {{'applicant_address' | translate:stadiumTranslateKey}}
                        </h2>
                        <app-address #address [requiredFeilds]="true"
                            [addressFormGroup]="applicationDetails.get('applicantAddress')"></app-address>


                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="15" formControlName="gstNo"
                            placeholder="{{'GSTIN_Number' | translate: translateKey}}">
                            <control-messages [control]="applicationDetails.get('gstNo')"></control-messages>
                        </mat-form-field>

                    </div>

                    <!--<div class="row mt-4 fotButtonBar float-right">-->
                        <!--<div class="col-sm-12 col-md-12 justify-content-between d-flex">-->
                            <!--<button class="float-right" mat-raised-button type="button" color="primary"-->
                                <!--(click)="tabIndex= tabIndex +1;">-->
                                <!--{{'next'| translate:stadiumTranslateKey}}-->
                                <!--<mat-icon>navigate_next</mat-icon>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->

                  <div class="row mt-0 fotButtonBar">
                    <div class="col-sm-12 col-md-12 text-right">
                      <button mat-raised-button type="button" color="primary"
                              (click)="checkValidation(applicationDetails,false)">
                        {{'next'| translate:stadiumTranslateKey}}
                        <mat-icon>navigate_next</mat-icon>
                      </button>
                    </div>
                  </div>
                </form>
                </mat-tab>

                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div>{{'bank_details' | translate:stadiumTranslateKey}}</div>
                    </ng-template>

                    <h2>
                        {{'bank_details' | translate:stadiumTranslateKey}}
                    </h2>

                    <form [formGroup]="bookingDetails">

                    <bank-details [form]="bookingDetails"></bank-details>

                    <div class="row">
                        <h2>
                            {{'terms_and_conditions' | translate:stadiumTranslateKey }}
                        </h2>
                        <div class="pl-2 ml-3">
                            <mat-checkbox class="d-block" labelPosition="after" formControlName="agree">
                                {{'i_agree_with_above_bank_details_are_correct' | translate:stadiumTranslateKey}}
                            </mat-checkbox>
                            <!-- <mat-checkbox class="d-block" labelPosition="after" formControlName="termsCondition">
                               
                            </mat-checkbox> -->
                        </div>
                    </div>

                    <div class="row mt-0 fotButtonBar">
                        <div class="col-sm-12 col-md-12 justify-content-between d-flex">
                            <button type="button" color="primary" mat-raised-button (click)="tabIndex= tabIndex -1; ">
                                <mat-icon>navigate_before</mat-icon>
                                {{'back' | translate:stadiumTranslateKey}}
                            </button>
                            <button mat-raised-button color="primary" type="submit" (click)="checkValidation(bookingDetails,true)">
                                <mat-icon>check_circle_outline</mat-icon>
                                {{bookingForRegular ? ' Confirm & Pay' : 'Submit Application' | translate: translateKey}}
                            </button>
                        </div>
                    </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        <!-- </form> -->
    </mat-card>
</div>
<!-- Booking slot end-->

<select-payment-gateway #paymentGateway [applicationType]="'booking'"></select-payment-gateway>

<!-- this div is used for printing the receipt -->
<div id="sectionToPrint"></div>
