<mat-card class="cardH1">
    <h1>Application for Change of Usage</h1>
</mat-card>
<div [hidden]="isShowForm">
 <app-application-change-usage-form></app-application-change-usage-form>
</div>
<div *ngIf="isShowWaterBillDetail">
    <app-water-bill-detail></app-water-bill-detail>
</div>

<div *ngIf="isShowWaterTaxDetail">
    <app-water-tax-detail></app-water-tax-detail>
</div>

<div *ngIf="isShowPropertyDetail">
    <app-property-detail></app-property-detail>
</div>

<div *ngIf="isShowPropertyBillDetail">
    <app-property-bill-detail></app-property-bill-detail>
</div>

<div *ngIf="isShowPropertyTaxDetail">
    <app-property-tax-detail></app-property-tax-detail>
</div>

<div *ngIf="isShowApproval">
    <app-application-change-usage-approval></app-application-change-usage-approval>
</div>
<br>