<mat-card class="mt-0 pt-0">
  <form #formDetail="ngForm" (ngSubmit)="search(formDetail)">
    <div class="row">
      <div class="col-md-5">
        <div class="ngSelect">
          <ng-select required placeholder="Transaction Type *" [items]="transactionTypeList" bindValue="itemId"
            bindLabel="itemName" name="transactionTypeId" [(ngModel)]="searchModel.transactionTypeId"
            #TransactionTypeId="ngModel"
            [ngClass]="{'ng-invalid ng-touched':
                            formDetail.submitted && formDetail.form.get('transactionTypeId').invalid}">
          </ng-select>
          <mat-error
            *ngIf="formDetail.submitted && TransactionTypeId.invalid 
                || TransactionTypeId.invalid && TransactionTypeId.touched">
                *Transaction Type is required.
          </mat-error>
        </div>
      </div>
      <div class="col-md-5">
        <mat-form-field class="full-width-input">
          <input required trim="blur" matInput name="propertyNo" placeholder="Property No"
            [(ngModel)]="searchModel.propertyNo"
            mask-property-no-with-occuiper-code maxlength="16" minlength="16"
            matInput name="propertyNo" #PropertyNo="ngModel">
          <mat-error *ngIf="PropertyNo.invalid">*Property No is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button class="ml-3" mat-raised-button color="primary" type="submit">
          Go
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input disabled matInput placeholder="Census No" name="censusNo" [(ngModel)]="viewModel.censusNo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input disabled matInput placeholder="Name of Tax Payer" name="taxPayerName"
            [(ngModel)]="viewModel.taxPayerName">
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width-input">
          <textarea disabled matInput placeholder="Address" name="address" [(ngModel)]="viewModel.address"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 text-right mt-4">
        <button mat-raised-button class=" ml-3" type="button" color="warn" (click)="clear(formDetail)">
          <mat-icon>clear_all</mat-icon> Clear
        </button>
      </div>
    </div>
  </form>
</mat-card>