<app-title-bar [title]="'Application for Extract of Property'"></app-title-bar>
    <!-- <mat-card class="cardH1">
        <h1>Application for Extract of Property</h1>
  </mat-card> -->

  <mat-horizontal-stepper #stepper (selectionChange)="stepChanged($event, stepper);" class="stepperToTab">
    <mat-step>
      <ng-template matStepLabel>Applicant Details</ng-template>
      <app-applicant-detail-propertywater (stepChange)="stepChangedEvent($event)" (applicantDetails)="saveApplicantDetails($event)"  [serviceType]="'PRO-EXT'"></app-applicant-detail-propertywater>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Extract Of Property Details</ng-template>
      <div>
        <!-- Search Component Start -->
        <div *ngIf="!isShowForm">
            <app-extract-property-search></app-extract-property-search>
        </div>
        <!-- Form Component Start -->
        <div *ngIf="isShowForm">
            <app-payment></app-payment>
        </div>
        <!-- Form Component End -->
        <!-- Table Component Start -->
        <div [hidden]="!isShowTable">
            <app-extract-property-table></app-extract-property-table>
        </div>
        <!-- Table Component End -->
    </div>
    <br>
    </mat-step>
  
  </mat-horizontal-stepper>




<!-- ===========================Old Component============================ -->

<div *ngIf="false">
    <!-- Search Component Start -->
    <div *ngIf="!isShowForm">
        <app-extract-property-search></app-extract-property-search>
    </div>
    <!-- Form Component Start -->
    <div *ngIf="isShowForm">
        <app-payment></app-payment>
    </div>
    <!-- Form Component End -->
    <!-- Table Component Start -->
    <div [hidden]="!isShowTable">
        <app-extract-property-table></app-extract-property-table>
    </div>
    <!-- Table Component End -->
</div>
<br>