<mat-card class="cardBox">
  <div class="pageTitle d-flex justify-content-between"><span>Property Search</span>
    <button mat-raised-button color="primary" class="mb-0" type="button" (click)="onBackFromSearch()">
    <mat-icon>skip_previous</mat-icon>Back
  </button>
</div>


<mat-card class="mt-4">
  <form #formDetail="ngForm" (ngSubmit)="search(formDetail)">
    <div class="row">
    
      <div class="col-md-6">
        <div class="ngSelect" *ngIf="wardZoneLevel.length>=1">
          <ng-select required #level1Id="ngModel" [placeholder]="!wardZoneLevel[0]?'': wardZoneLevel[0].levelName" [items]="wardZoneLevel1List"
            bindValue="parentWardzoneId" bindLabel="wardzoneName" name="level1Id" [(ngModel)]="searchModel.level1Id"
            (ngModelChange)="onChangedWardZone($event,2)" class="asteriskmarkRequired">
          </ng-select>
          <mat-error *ngIf="formDetail.form.get('level1Id') && formDetail.form.get('level1Id').invalid && formDetail.form.get('level1Id').touched">
            *Zone is required.</mat-error>
        </div>
      </div>

      <div class="col-md-6">
        <div class="ngSelect" *ngIf="wardZoneLevel.length>=2">
          <ng-select required  [placeholder]="!wardZoneLevel[1]?'': wardZoneLevel[1].levelName " [items]="wardZoneLevel2List"
            bindValue="wardzoneId" bindLabel="wardzoneName" name="Level2Id" [(ngModel)]="searchModel.level2Id"
            (ngModelChange)="onChangedWardZone($event,3)" class="asteriskmarkRequired">
          </ng-select>
          <mat-error *ngIf="formDetail.form.get('Level2Id') && formDetail.form.get('Level2Id').invalid && formDetail.form.get('Level2Id').touched">
            *Ward is required.</mat-error>
        </div>
      </div>
   
      <div class="col-md-6">
        <mat-form-field class="full-width-input" *ngIf="wardZoneLevel.length>=3">
          <mat-select name="level3Id" (ngModelChange)="onChangedWardZone($event,4)" [(ngModel)]="searchModel.level3Id"
            #Level3Id="ngModel" [placeholder]="!wardZoneLevel[2]?'': wardZoneLevel[2].levelName">
            <mat-option *ngFor="let item of wardZoneLevel3List" [value]="item.wardzoneId">{{item.wardzoneName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width-input" *ngIf="wardZoneLevel.length>=4">
          <mat-select name="level4Id" [(ngModel)]="searchModel.level4Id" #Level4Id="ngModel" [placeholder]="!wardZoneLevel[3]?'': wardZoneLevel[3].levelName">
            <mat-option *ngFor="let item of wardZoneLevel4List" [value]="item.wardzoneId">{{item.wardzoneName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input matInput number-only maxlength="10" name="mobileNo" placeholder="Mobile No" [(ngModel)]="searchModel.mobileNo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input matInput mask-census-no maxlength="17" name="censusNo" placeholder="Census No" [(ngModel)]="searchModel.censusNo">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input matInput name="ownerName" placeholder="Owner Name" [(ngModel)]="searchModel.ownerName">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input matInput name="occupierName" placeholder="Occupier Name" [(ngModel)]="searchModel.occupierName">
        </mat-form-field>
      </div>

  
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input matInput name="address" placeholder="Address" [(ngModel)]="searchModel.address">
        </mat-form-field>
      </div>
     
  
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput mask-property-no maxlength="12" name="propertyNo" placeholder="Property No" [(ngModel)]="propertyNo">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button class="ml-3" mat-raised-button color="primary" type="button" (click)="searchByPropertyNo()">
          Go
        </button>
      </div>

    </div>

    <div class="fotButtonBar clearfix mt-0">
        <div class="col-sm-12 col-md-12 text-right">
            <button mat-raised-button class="gray-btn ml-3" type="submit">
                <mat-icon>search</mat-icon> Search
              </button>
              <button mat-raised-button class=" ml-3" type="button" color="warn" (click)="clear()">
                <mat-icon>clear_all</mat-icon> Clear
              </button>
        </div>
    </div>

  </form>
</mat-card>

<div class="mt-4">
  <div class="example-container mat-elevation-z8" *ngIf="isShowTable">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 width100">

      <ng-container matColumnDef="propertyNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Property No </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyNo}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="ownerNames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ownerNames}} </td>
      </ng-container>
      <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No </th>
        <td mat-cell *matCellDef="let element"> {{element.serialNo}} </td>
      </ng-container>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button title="Select" class="btn-width-auto" color="primary" type="button" (click)="onSelect(element)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [hidden]="resultsLength==0" [pageSizeOptions]="pageRecord" showFirstLastButtons></mat-paginator> 
</div>

</mat-card>
