<div class="container">
	<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
	<mat-card class="mt-4 formClass">
		<!--Start  form  -->
		<form [formGroup]="marriageFormGroup">
			<mat-horizontal-stepper>

				<!-- First step -->
				<mat-step [stepControl]="bridegroomDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable1">{{stepLable1}}</div>
					</ng-template>

					<div class="row">
						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker1" formControlName="marriageDate" (dateChange)="dateFormate($event.value,'marriageDate');CalculateAge()"
							 placeholder="{{ 'date_of_marriage' | translate:translateKey }}" (click)="picker1.open()" (focus)="picker1.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.marriageDate"></control-messages>
						</mat-form-field>

						<!-- <mat-form-field class="col-4" >
							<input matInput [max]="disablefutureDate" [min]="marriageFormGroup.controls.marriageDate.value" [matDatepicker]="pickerReg"
							 formControlName="marriageRegistrationDate" value="2018-05-19" readonly>
							<mat-datepicker-toggle matSuffix [for]="pickerReg"></mat-datepicker-toggle>
							<mat-datepicker #pickerReg></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.marriageRegistrationDate"></control-messages>
						</mat-form-field> -->

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="marriagePlace" placeholder="{{ 'place_of_marriage' | translate:translateKey }}"
							 required>
							<control-messages [control]="marriageFormGroup.controls.marriagePlace"></control-messages>
						</mat-form-field>
					</div>

					<!-- gujarati -->
					<!-- <div class="row">
						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="pickerguj" (dateChange)="dateFormate($event.value,'marriageDate');CalculateAge()"
							 placeholder="લગ્ન ની તારીખ" readonly>
							<mat-datepicker-toggle matSuffix [for]="pickerguj"></mat-datepicker-toggle>
							<mat-datepicker #pickerguj></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.marriageDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4" *ngIf="marriageFormGroup.controls.marriageDate.value != null">
							<input matInput [max]="disablefutureDate" [min]="marriageFormGroup.controls.marriageDate.value" [matDatepicker]="pickerReg"
							 (dateChange)="dateFormate($event.value,'marriageRegistrationDate')" placeholder="લગ્ન નોંધણી તારીખ" required readonly>
							<mat-datepicker-toggle matSuffix [for]="pickerReg"></mat-datepicker-toggle>
							<mat-datepicker #pickerReg></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.marriageRegistrationDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" placeholder="લગ્નસ્થળ" required>
							<control-messages [control]="marriageFormGroup.controls.marriagePlace"></control-messages>
						</mat-form-field>
					</div> -->

					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{ 'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.groomFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{ 'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.groomMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{ 'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.groomLastName"></control-messages>
						</mat-form-field>
					</div>

					<!-- gujarati -->
					<!-- <div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" placeholder="પ્રથમ નામ" required>
							<control-messages [control]="marriageFormGroup.controls.groomFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" placeholder="પિતાનું નામ" required>
							<control-messages [control]="marriageFormGroup.controls.groomMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" placeholder="છેલ્લું નામ" required>
							<control-messages [control]="marriageFormGroup.controls.groomLastName"></control-messages>
						</mat-form-field>
					</div> -->

					<div class="row">
						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker2" formControlName="groomBirthDate" (dateChange)="dateFormate($event.value,'groomBirthDate');CalculateAge()"
							 placeholder="{{ 'date_of_birth' | translate:translateKey }}" required (click)="picker2.open()" (focus)="picker2.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
							<mat-datepicker #picker2 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.groomBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput formControlName="groomAge" [value]="groomage" placeholder="{{'year' | translate:translateKey }}" class="example-right-align"
							 readonly>
							<control-messages [control]="marriageFormGroup.controls.groomAge"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [value]="groomdays" placeholder="{{'days' | translate:translateKey }}" class="example-right-align" readonly>
						</mat-form-field>
					</div>

					<!-- gujrati -->
					<!-- <div class="row">
						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker2guj" (dateChange)="dateFormate($event.value,'groomBirthDate');CalculateAge()"
							 placeholder="જન્મતારીખ" required readonly>
							<mat-datepicker-toggle matSuffix [for]="picker2guj"></mat-datepicker-toggle>
							<mat-datepicker #picker2guj startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.groomBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [value]="groomage" placeholder="વર્ષ" class="example-right-align" readonly>
							<control-messages [control]="marriageFormGroup.controls.groomAge"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [value]="groomdays" placeholder="દિવસ" class="example-right-align" readonly>
						</mat-form-field>
					</div> -->

					<div class="row">
						<mat-form-field class="col-4" formGroupName="groomReligion">
							<mat-select (change)="onChange()" placeholder="{{ 'religion' | translate:translateKey }}" formControlName="code">
								<mat-option *ngFor="let religion of religionArray" [value]="religion.code">{{religion.name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<div *ngIf="marriageFormGroup.controls.groomReligion.get('code').value === 'MUSLIM'">
							<div class="col-4" formGroupName="marriageTimeGroomStatus"> {{'marital_status' | translate:translateKey }}*
								<mat-radio-group formControlName="code">
									<mat-radio-button class="example-radio-button" *ngFor="let status of maritalstatusArray" [value]="status.code">
										{{status.name}}
									</mat-radio-button>
									<control-messages [control]="marriageFormGroup.controls.marriageTimeGroomStatus"></control-messages>
								</mat-radio-group>
							</div>
						</div>

						<mat-form-field class="col-4" *ngIf="marriageFormGroup.controls.groomReligion.get('code').value === 'MUSLIM' && marriageFormGroup.controls.marriageTimeGroomStatus.get('code').value === 'MARRIED'">
							<input matInput formControlName="aliveWives" placeholder="{{'alive_wives' | translate:translateKey }}" type="number" class="pl-1 example-right-align">
						</mat-form-field>

					</div>

					<!-- gujrati -->
					<!-- <div class="row">
						<mat-form-field class="col-4">
							<mat-select (change)="onChange()" placeholder="ધર્મ">
								<mat-option *ngFor="let religion of religionArray" [value]="religion.code">{{religion.gujName}}</mat-option>
							</mat-select>
						</mat-form-field>

						<div *ngIf="marriageFormGroup.controls.groomReligion.get('code').value === 'MUSLIM'">
							<div class="col-4"> ૈવાહિક સ્થિતિ*
								<mat-radio-group class="example-radio-group">
									<mat-radio-button class="example-radio-button" *ngFor="let status of maritalstatusArray" [value]="status.code">
										{{status.gujName}}
									</mat-radio-button>
									<control-messages [control]="marriageFormGroup.controls.marriageTimeGroomStatus"></control-messages>
								</mat-radio-group>
							</div>
						</div>

						<mat-form-field class="col-4" *ngIf="marriageFormGroup.controls.marriageTimeGroomStatus.get('code').value === 'MARRIED'">
							<input matInput placeholder="જીવંત પત્નીઓ" type="number" class="pl-1 example-right-align">
						</mat-form-field>
					</div> -->

					<div class="row">
						<mat-form-field class="col-4">
							<input matInput OnlyNumber maxlength="12" minlength="12" formControlName="groomAadharNumber" placeholder="{{'aadhar_number' | translate:translateKey }}"
							 required class="example-right-align">
							<control-messages [control]="marriageFormGroup.controls.groomAadharNumber"></control-messages>
						</mat-form-field>

						<!-- gujrati -->
						<!-- <mat-form-field class="col-4">
							<input matInput OnlyNumber maxlength="12" minlength="12" placeholder="આધાર નંબર" required>
							<control-messages [control]="marriageFormGroup.controls.groomAadharNumber"></control-messages>
						</mat-form-field> -->
					</div>

					<div class="row">
						<div class="col-12">address:
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.groomAddress"></app-address>
						</div>

						<div class="col-12">
							<app-action-bar [form]="marriageFormGroup" [step]="'step1'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End First step -->

				<!-- Second step -->
				<mat-step [stepControl]="brideDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable2">{{stepLable2}}</div>
					</ng-template>
					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.brideFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.brideMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.brideLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker3" formControlName="brideBirthDate" (dateChange)="dateFormate($event.value,'brideBirthDate');CalculateAge()"
							 placeholder="{{'date_of_birth' | translate:translateKey }}" required (click)="picker3.open()" (focus)="picker3.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
							<mat-datepicker #picker3 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.brideBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [value]="brideage" formControlName="brideAge" placeholder="{{'year' | translate:translateKey }}" class="example-right-align"
							 readonly>
							<control-messages [control]="marriageFormGroup.controls.brideAge"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [value]="bridedays" placeholder="{{'days' | translate:translateKey }}" class="example-right-align" readonly>
						</mat-form-field>

						<mat-form-field class="col-4" formGroupName="brideReligion">
							<mat-select (change)="onChange()" placeholder="{{'religion' | translate:translateKey }}" formControlName="code">
								<mat-option *ngFor="let religion of religionArray" [value]="religion.code">{{religion.name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<div *ngIf="marriageFormGroup.controls.brideReligion.get('code').value === 'MUSLIM'">
							<div class="col-4" formGroupName="marriageTimeBrideStatus">{{'marital_status' | translate:translateKey }}*
								<mat-radio-group formControlName="code">
									<mat-radio-button class="example-radio-button" *ngFor="let status of maritalstatusArray" [value]="status.code">
										{{status.name}}
									</mat-radio-button>
								</mat-radio-group>
								<control-messages [control]="marriageFormGroup.controls.marriageTimeBrideStatus"></control-messages>
							</div>
						</div>

						<mat-form-field class="col-4">
							<input matInput OnlyNumber maxlength="12" formControlName="brideAadharNumber" placeholder="{{'aadhar_number' | translate:translateKey }}"
							 required class="example-right-align">
							<control-messages [control]="marriageFormGroup.controls.brideAadharNumber"></control-messages>
						</mat-form-field>

						<div class="col-12">address:
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.brideAddress"></app-address>
						</div>

						<div class="col-12">
							<app-action-bar [form]="marriageFormGroup" [step]="'step2'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End Second step -->

				<!-- Third step -->
				<mat-step [stepControl]="groomguirdianDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable3">{{stepLable3}}</div>
					</ng-template>
					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomParentsFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.groomParentsFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomParentsMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.groomParentsMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomParentsLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.groomParentsLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker4" formControlName="groomParentsBirthDate" (dateChange)="dateFormate($event.value,'groomParentsBirthDate');age('groomParentsBirthDate',1)"
							 placeholder="{{'date_of_birth' | translate:translateKey }}" required (click)="picker4.open()" (focus)="picker4.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
							<mat-datepicker #picker4 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.groomParentsBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput placeholder="Age: {{ageObject.parent1}} Year {{ageObject.days1}} Days" readonly/>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput OnlyNumber formControlName="groomParentsAadharNumber" maxlength="12" minlength="12" placeholder="{{'aadhar_number' | translate:translateKey }}"
							 class="example-right-align">
							<control-messages [control]="marriageFormGroup.controls.groomParentsAadharNumber"></control-messages>
						</mat-form-field>

						<div class="col-12">address:
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.groomParentsAddress"></app-address>
						</div>

						<div formGroupName='isGroomParResAddressSame'>
							<mat-checkbox type="checkbox" class="col-4" [checked]="addObject.checkedPar1" (change)="check($event,'isGroomParResAddressSame','groomParentsAddressResidence','groomParentsAddress','1')">{{'is_permanent_address_same_as_present_address' | translate:translateKey}}</mat-checkbox>
						</div>
						<div class="col-12">residence_address :
							<app-address #address [readOnly]="addObject.checkedPar1" [addressFormGroup]="marriageFormGroup.controls.groomParentsAddressResidence"></app-address>
						</div>

						<div class="col-4">
							<app-action-bar [form]="marriageFormGroup" [step]="'step3'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End Third step -->

				<!-- Forth step -->
				<mat-step [stepControl]="brideguirdianDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable4">{{stepLable4}}</div>
					</ng-template>
					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideParentsFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.brideParentsFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideParentsMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.brideParentsMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideParentsLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.brideParentsLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker5" formControlName="brideParentsBirthDate" (dateChange)="dateFormate($event.value,'brideParentsBirthDate');age('brideParentsBirthDate',2)"
							 placeholder="{{'date_of_birth' | translate:translateKey }}" required (click)="picker5.open()" (focus)="picker5.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
							<mat-datepicker #picker5 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.brideParentsBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput placeholder="Age: {{ageObject.parent2}} Year {{ageObject.days2}} Days" readonly/>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput OnlyNumber formControlName="brideParentsAadharNumber" maxlength="12" placeholder="{{'aadhar_number' | translate:translateKey }}"
							 class="example-right-align" required>
							<control-messages [control]="marriageFormGroup.controls.brideParentsAadharNumber"></control-messages>
						</mat-form-field>

						<div class="col-12">address :
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.brideParentsAddress"></app-address>
						</div>

						<div formGroupName='isBrideParResAddressSame'>
							<mat-checkbox type="checkbox" class="col-4" [checked]="addObject.checkedPar2" (change)="check($event,'isBrideParResAddressSame','brideParentsAddressResidence','brideParentsAddress','2')">{{'is_permanent_address_same_as_present_address' | translate:translateKey}}</mat-checkbox>
						</div>

						<div class="col-12">residence_address :
							<app-address #address [readOnly]="addObject.checkedPar2" [addressFormGroup]="marriageFormGroup.controls.brideParentsAddressResidence"></app-address>
						</div>

						<div class="col-4">
							<app-action-bar [form]="marriageFormGroup" [step]="'step4'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End Forth step -->

				<!-- Fifth step -->
				<mat-step [stepControl]="priestDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable5">{{stepLable5}}</div>
					</ng-template>
					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="priestFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.priestFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="priestMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.priestMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="priestLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.priestLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker6" formControlName="priestBirthDate" (dateChange)="dateFormate($event.value,'priestBirthDate');age('priestBirthDate',3)"
							 placeholder="{{'date_of_birth' | translate:translateKey }}" required (click)="picker6.open()" (focus)="picker6.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
							<mat-datepicker #picker6 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.priestBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput placeholder="Age: {{ageObject.parent3}} Year {{ageObject.days3}} Days" readonly/>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput OnlyNumber maxlength="12" placeholder="aadhar_number" formControlName="priestAddressAadharNumber" class="example-right-align">
							<control-messages [control]="marriageFormGroup.controls.priestAddressAadharNumber"></control-messages>
						</mat-form-field>

						<div class="col-12">address :
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.priestAddress"></app-address>
						</div>

						<div formGroupName='isPriestParResAddressSame'>
							<mat-checkbox type="checkbox" class="col-4" [checked]="addObject.checkedPar3" (change)="check($event,'isPriestParResAddressSame','priestAddressResidence','priestAddress','3')">{{'is_permanent_address_same_as_present_address' | translate:translateKey}}</mat-checkbox>
						</div>

						<div class="col-12">residence_address :
							<app-address #address [readOnly]="addObject.checkedPar3" [addressFormGroup]="marriageFormGroup.controls.priestAddressResidence"></app-address>
						</div>

						<div class="col-4">
							<app-action-bar [form]="marriageFormGroup" [step]="'step5'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End Fifth step -->

				<!-- Sixth step -->
				<mat-step [stepControl]="firstwitnessDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable6">{{stepLable6}}</div>
					</ng-template>
					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="firstWitnessFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.firstWitnessFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="firstWitnessMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.firstWitnessMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="firstWitnessLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.firstWitnessLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker7" formControlName="firstWitnessBirthDate" (dateChange)="dateFormate($event.value,'firstWitnessBirthDate');age('firstWitnessBirthDate',4)"
							 placeholder="{{'date_of_birth' | translate:translateKey }}" required (click)="picker7.open()" (focus)="picker7.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
							<mat-datepicker #picker7 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.firstWitnessBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput placeholder="Age: {{ageObject.parent4}} Year {{ageObject.days4}} Days" readonly/>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput OnlyNumber maxlength="12" placeholder="aadhar_number" formControlName="firstWitnessAadharNumber" class="example-right-align">
							<control-messages [control]="marriageFormGroup.controls.firstWitnessAadharNumber"></control-messages>
						</mat-form-field>

						<div class="col-12">address :
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.firstWitnessAddress"></app-address>
						</div>

						<div class="col-4">
							<app-action-bar [form]="marriageFormGroup" [step]="'step6'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End sixth step -->

				<!-- Seventh step -->
				<mat-step [stepControl]="secondwitnessDetail">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable7">{{stepLable7}}</div>
					</ng-template>
					<div class="row">
						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="secondWitnessFirstName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'first_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.secondWitnessFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="secondWitnessMiddleName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'middlename_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.secondWitnessMiddleName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="secondWitnessLastName" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
							 placeholder="{{'last_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageFormGroup.controls.secondWitnessLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker8" formControlName="secondWitnessBirthDate" (dateChange)="dateFormate($event.value,'secondWitnessBirthDate');age('secondWitnessBirthDate',5)"
							 placeholder="{{'date_of_birth' | translate:translateKey }}" required (click)="picker8.open()" (focus)="picker8.open()"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
							<mat-datepicker #picker8 startView="multi-year"></mat-datepicker>
							<control-messages [control]="marriageFormGroup.controls.secondWitnessBirthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput placeholder="Age: {{ageObject.parent5}} Year {{ageObject.days5}} Days" readonly/>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput OnlyNumber formControlName="secondWitnessAadharNumber" maxlength="12" minlength="12" placeholder="{{'aadhar_number' | translate:translateKey }}"
							 class="example-right-align">
							<control-messages [control]="marriageFormGroup.controls.secondWitnessAadharNumber"></control-messages>
						</mat-form-field>

						<div class="col-12">address :
							<app-address #address [addressFormGroup]="marriageFormGroup.controls.secondWitnessAddress"></app-address>
						</div>

						<div class="pt-4">
							<app-action-bar [form]="marriageFormGroup" [step]="'step7'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End Seventh step -->

				<!-- Start eighth step -->
				<mat-step [stepControl]="upload">
					<ng-template matStepLabel>
						<div [matTooltip]="stepLable8">{{stepLable8}}</div>
					</ng-template>
					<div class="row">

						<div class="col-4">
							<div *ngIf="showButtons">marriage_event_photo
								<file-upload [uploadModel]="setDataValue(1,'marriagephoto','1.1','marriagephoto')" [attachments]="attachments"></file-upload>
							</div>
						</div>

						<div class="col-4">
							<div *ngIf="showButtons">groom_photo
								<file-upload [uploadModel]="setDataValue(2,'groomphoto','1.2','groomphoto')" [attachments]="attachments"></file-upload>
							</div>
						</div>

						<div class="col-4" *ngIf="showButtons">bride_photo
							<file-upload [uploadModel]="setDataValue(3,'bridephoto','1.3','bridephoto')" [attachments]="attachments"></file-upload>
						</div>
						<div class="col-12">
							<span>Upload Documents</span>
						</div>
						<div class="col-12">
							<mat-checkbox [checked]="myModel" type="checkbox">
								<!-- Resident proof of Groom and Bride(Driving License/Aadhar card/passport/Ration card/Election card) -->
								resident_proof_of_groom_and_bride
							</mat-checkbox>
							<div [hidden]="!myModel">
								<div *ngIf="showButtons">
									<file-upload [uploadModel]="setDataValue(4,'resProof','1.4','doc')" [attachments]="attachments"></file-upload>
								</div>
							</div>
						</div>
						<div class="col-12">
							<mat-checkbox [disabled]="false">
								<!-- Any KYC (Know your Customer)Document of Bride; -->
								any_kyc_doc_bride
							</mat-checkbox>
							<div *ngIf="showButtons">
								<file-upload [uploadModel]="setDataValue(5,'kyc','1.5','doc')" [attachments]="attachments"></file-upload>
							</div>
						</div>

						<div class="col-12">
							<mat-checkbox [disabled]="false">
								<!-- Resident proof of Priest (Driving License/Aadhar card/passport/Ration card/Election card) </mat-checkbox> -->
								resident_proof_of_priest
							</mat-checkbox>
							<div *ngIf="showButtons">
								<file-upload [uploadModel]="setDataValue(6,'priest','1.6','doc')" [attachments]="attachments"></file-upload>
							</div>
						</div>
						<div class="col-12">
							<mat-checkbox [disabled]="false">
								<!-- Resident proof of Two local Witnesses (Driving License/Aadhar card/passport/Ration card/Election card) </mat-checkbox> -->
								resident_proof_of_two_local_witnesses
							</mat-checkbox>
							<div *ngIf="showButtons">
								<file-upload [uploadModel]="setDataValue(7,'withness','1.6','doc')" [attachments]="attachments"></file-upload>
							</div>
						</div>

						<div class="col-4">
							<app-action-bar [form]="marriageFormGroup" [step]="'step8'"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End eighth step -->

				<!-- Last step -->
				<mat-step>
					<div class="row">
						<div class="col-12">
							<ng-template matStepLabel>Done</ng-template>
							You are now done.
							<app-action-bar [form]="marriageFormGroup" [step]="'final'" (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
						</div>
					</div>
				</mat-step>
				<!-- End last step -->

			</mat-horizontal-stepper>
		</form>
		<!-- End  form -->
	</mat-card>
	<!-- {{ marriageFormGroup.value | json}} -->
</div>