// .mat-step-header{
//     $root: &;
//     --s-stepper-bullet: 2rem;
//     --s-stepper-bullet-half: calc( var(--s-stepper-bullet) / 2);
//     --step-transition: background .5s, color .5s; 
//     --step-content: '✔︎';
//     --step-color: hsl(0, 0%, 70%);
//     --step-bar-bg: var(--c-accent);
//     --step-bullet-bg: var(--step-bar-bg);
//     --step-bullet-color: white;
//     counter-reset: current-step;
// }
.mat-error {
    bottom: -15px;
    left: 0;
    font-size: 11px;
}

.imageSize {
    width: 100px;
    height: 100px;
}

.formClass {
    margin-bottom: 0 !important;
}


.leftpadding{
  padding-left: 20px;
}

.customthead{
    background-color: #673ab7;
    color: white;
}

.scrollModel{
    overflow-y:auto;
    max-height: 500px;
}
/deep/ .cdk-overlay-container {z-index: 1051 !important;}
.mandatory{
    color: red;
}

.mt-6{
    margin-top: 4rem;
}
label {
    font-size: 14px;
}
