/deep/ .mat-step-header {
    pointer-events: none !important; 
}


///deep/ .stepperToTab {
//  &{border: 1px solid #e1e1e1; border-radius: 5px;}
//  .mat-horizontal-content-container {padding: 0;}
//  .mat-horizontal-stepper-header-container {margin-bottom: 0; background: #f1f1f1; border: 0;}
//  .mat-horizontal-stepper-header {
//    height: 45px !important;}
//  .mat-step-icon, .mat-step-icon-not-touched {display: none;}
//  .mat-stepper-horizontal-line {border-top-width:0}
//  .mat-step-label.mat-step-label-active {color: #666;}
//  .mat-step-label.mat-step-label-active.mat-step-label-selected {color: #673ab7;}
//  .mat-step-label-active.mat-step-label-selected::after {height: 2px; }
//
//}


