<div class="container">
	<app-title-bar [title]="'Slot Booking'"></app-title-bar>

	<!-- list of booked slot -->
	<div class="example-container mat-elevation-z8">

		<div class="example-table-container">
			<table mat-table #table1 [dataSource]="calcelslots" class="example-table">

				<ng-container matColumnDef="start date">
					<th mat-header-cell *matHeaderCellDef>Start Time</th>
					<td mat-cell *matCellDef="let row">{{ row.start | date:'MM-dd-yyyy, h:mm a' }}</td>
				</ng-container>

				<ng-container matColumnDef="end date">
					<th mat-header-cell *matHeaderCellDef>End Time</th>
					<td mat-cell *matCellDef="let row">{{ row.end | date:'MM-dd-yyyy, h:mm a'}}</td>
				</ng-container>

				<ng-container matColumnDef="resource name">
					<th mat-header-cell *matHeaderCellDef>Resource Name</th>
					<td mat-cell *matCellDef="let row">{{ row.resourceName}}</td>
				</ng-container>

				<ng-container matColumnDef="slot Status">
					<th mat-header-cell *matHeaderCellDef>Slot Status</th>
					<td mat-cell *matCellDef="let row">{{ row.bookingStatus }}</td>
				</ng-container>

				<ng-container matColumnDef="action">
					<th mat-header-cell *matHeaderCellDef>Action</th>
					<td mat-cell *matCellDef="let row">
						<button mat-icon-button color="primary" *ngIf="row.bookingStatus === 'BOOKED'" (click)="redirectToCancel(row.uniqueId)">
							<mat-icon matTooltip="cancel">alarm_off</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="bookedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: bookedColumns;"></tr>

			</table>
		</div>

		<div class="example-loading-shade" *ngIf="appointmentLength == 0 || appointmentLength == null">
			<div class="example-rate-limit-reached">
				No Appointment(s) found!
			</div>
		</div>
	</div>

	<!--/ list of booked slot -->
	<!-- resource selection form -->
	<mat-card class="my-3">
		<form [formGroup]="appointmentForm">
			<div class="row">
				<div class="col-4" formGroupName='resources'>
					<ng-select formControlName="code" required placeholder="Select resources*" (change)="onSubmit()">
						<ng-option *ngFor="let resources of resources" [value]="resources.code">{{resources.name}}</ng-option>
					</ng-select>
				</div>

				<mat-form-field class="col-4">
					<input matInput [min]="minDate" (dateChange)="dateFormate($event.value,'appointmentdate');onSubmit()"
					 [matDatepicker]="appointmentPicker" formControlName="appointmentdate" placeholder="Choose a date" (click)="appointmentPicker.open()"
					 (focus)="appointmentPicker.open()" readonly>
					<mat-datepicker-toggle matSuffix [for]="appointmentPicker"></mat-datepicker-toggle>
					<mat-datepicker #appointmentPicker></mat-datepicker>
				</mat-form-field>
			</div>
		</form>
	</mat-card>
	<!--/ resource selection form -->

	<!-- list of slot -->
	<div class="example-container mat-elevation-z8">

		<div class="example-table-container">
			<table mat-table #table2 [dataSource]="slots" class="example-table">

				<ng-container matColumnDef="start date">
					<th mat-header-cell *matHeaderCellDef>Start Time</th>
					<td mat-cell *matCellDef="let row">{{ row.start | date:'h:mm:ss a' }}</td>
				</ng-container>

				<ng-container matColumnDef="end date">
					<th mat-header-cell *matHeaderCellDef>End Time</th>
					<td mat-cell *matCellDef="let row">{{ row.end | date:'h:mm:ss a'}}</td>
				</ng-container>

				<ng-container matColumnDef="slot Status">
					<th mat-header-cell *matHeaderCellDef>Slot Status</th>
					<td mat-cell *matCellDef="let row">{{ row.slotStatus }}</td>
				</ng-container>

				<ng-container matColumnDef="action">
					<th mat-header-cell *matHeaderCellDef>Action</th>
					<td mat-cell *matCellDef="let row">
						<button mat-icon-button color="primary" *ngIf="row.slotStatus === 'AVAILABLE'" (click)="redirectToBook(row.uniqueId)">
							<mat-icon matTooltip="Appointment">touch_app</mat-icon>
						</button>
						<button mat-icon-button color="primary" *ngIf="row.slotStatus === 'BOOKED'">
							<mat-icon matTooltip="Booked">done</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="row.slotStatus === 'BOOKED'"></tr>

			</table>
		</div>

		<div class="example-loading-shade" *ngIf="resultsLength == 0 || resultsLength == null">
			<div class="example-rate-limit-reached">
				No record(s) found!
			</div>
		</div>
	</div>
	<!--/ list of slot -->

</div>