<app-title-bar [title]="'New Plumber License'"></app-title-bar>
<!-- <mat-card class="cardH1">
    <h1>New Plumber License</h1>
</mat-card> -->
<!-- <mat-horizontal-stepper #stepper (selectionChange)="stepChanged($event, stepper);" class="stepperToTab"> -->
    <!-- <mat-step > -->
    <div *ngIf="isShowForm">
    <app-new-plumber-license-form></app-new-plumber-license-form>
 </div>
 <!-- </mat-step>
 <mat-step > -->
 <div *ngIf="isShowApproval">
     <app-new-plumber-license-approval></app-new-plumber-license-approval>
 </div>
<!-- </mat-step> -->
<br>
<!-- </mat-horizontal-stepper> -->
