<div class="mainBg">
    <div class="verticalAlign">
        <header class="header clearfix">
            <a mat-button routerLink="." class="logo">
                <img src="assets/images/vmc-logo.png" alt="Vadodara Municipal Corporation">
                <span class="logoName">VADODARA MUNICIPAL
                    <br>CORPORATION</span>
            </a>
            <!-- <ul>
                <li> 
                    <a mat-button routerLink=".">Home</a>
                </li>
            </ul> -->
        </header>
        <router-outlet></router-outlet>
        <footer class="footer">&copy; {{ date | date:"yyyy" }}, developed by Nascent Infotech</footer>
    </div>
</div>