.cardBox {
    .headlines {
        font-size: 18px;
    }

    h2 {
        margin-bottom: 10px;
    }

    .headline {
        font-size: 20px;
    }

    .olList {
        .engInstructions {
            font-size: 18px;
        }
    }
}

.fotButtonBar {
    margin-top: 0 !important;
}

.customthead{
    background-color: #673ab7;
    color: white;
}