.cardBox {
    .pageTitle{
        margin-bottom: 0px;
      }
      .mat-card{
         padding-top:  7px !important;
      }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .headlines {
        font-size: 18px;
    }

    h2 {
        margin-bottom: 10px;
    }

    .headline {
        font-size: 20px;
    }

    .olList {
        .engInstructions {
            font-size: 18px;
        }
    }
    .listSize{
        font-size: 15px;
        margin-bottom: 0.8rem;
    }
}

.fotButtonBar{
    .listSize{
        font-size: 15px;
    }
}

.fotButtonBar{
    .listSize{
        font-size: 15px;
    }
}

.fotButtonBar {
    margin-top: 0 !important;
}

.customthead{
    background-color: #673ab7;
    color: white;
}