<!-- HTML for booking Guideline-->
<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<div *ngIf="guideLineFlag">
  <mat-card class="cardBox">

    <div class="pageTitle">{{'online_shootingPermission_booking_instruction'| translate: translateKey}}</div>

    <mat-card-content class="p-4">

      <h4 class="pb-2 headlines">{{head_lines| translate: translateKey}}</h4>
      <br>
      <h2 class="headline"><b>{{'rules_and_regulations'| translate: translateKey}}</b></h2>

      <h4><ol class="olList">

        <li class="engInstructions">
          All parties/organizers have to observe the VMC Rules
        </li>

        <li class="engInstructions">
          Production of all necessary permission is mandatory for applicant before commencement of program.
        </li>

        <li class="engInstructions">
          Deduction as per the rules will be made in the event of cancellation.
        </li>

      </ol></h4>
    </mat-card-content>
  </mat-card>
  <div class="fotButtonBar1">
    <div class="col-sm-12 col-md-12 text-right">
      <button mat-raised-button (click)="guideLineFlag = false;showPermissionSearchForm= true;" color="primary">
        {{'submit'| translate: translateKey}}
      </button>
    </div>
  </div>
</div>

<!-- HTML for Shooting booking -->
<div *ngIf="showPermissionSearchForm">
  <mat-card class="formClass cardBorder">
    <div class="pageTitle">{{'screen_title'| translate: translateKey}}</div>
    <div class="p-15">
      <form [formGroup]="bookPermissionSearchForm" (ngSubmit)="searchBooking()" autocomplete="off" ngNativeValidate>

        <div class="row mt-3 mb-3">
          <div class="col-md-6 ngSelect">
            <ng-select placeholder="Zone No.*" formControlName="waterDrainageZoneId"
              (change)="onChangedWardZone($event,2); bookPermissionSearchForm.get('code').reset()">
              <ng-option *ngFor="let zone of wardZoneLevel1List" [value]="zone.zoneName">
                {{zone.zoneName}}</ng-option>
            </ng-select>
            <!-- <control-messages [control]="shopLicNewForm.get('waterDrainageZoneId')"> -->
            <!-- </control-messages> -->
          </div>
          <div class="col-md-6 ngSelect">
            <ng-select placeholder="{{'select_place'| translate: translateKey}}" formControlName="code"
              (change)="maxDateForSlot($event)">
              <ng-option *ngFor="let bookPermission of SHOOTING_PERMISSION" [value]="bookPermission.code">
                {{ bookPermission.name }}
              </ng-option>
            </ng-select>
            <control-messages [control]="bookPermissionSearchForm.get('code')"></control-messages>
          </div>

          <div formGroupName="purpose" class="col-md-6 ngSelect">
            <ng-select placeholder="{{'purpose_of_booking'| translate: translateKey}}" formControlName="code">
              <ng-option *ngFor="let purpose of PURPOSES" [value]="purpose.code">
                {{ purpose.name }}
              </ng-option>
            </ng-select>
            <control-messages [control]="bookPermissionSearchForm.get('purpose').get('code')">
            </control-messages>
          </div>

          <mat-form-field class="col-md-6">
            <mat-label>
              {{'choose_start_date'| translate: translateKey}}
            </mat-label>
            <input matInput [min]="disablefutureDate" [max]="endDate" [matDatepicker]="bookPermissionBookingfromPicker"
              formControlName="startDate" placeholder="" (dateChange)="onDateChange($event.value)">
            <mat-datepicker-toggle matSuffix [for]="bookPermissionBookingfromPicker"></mat-datepicker-toggle>
            <mat-datepicker #bookPermissionBookingfromPicker touchUi="true"></mat-datepicker>
            <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}</div>
            <control-messages [control]="bookPermissionSearchForm.get('startDate')">
            </control-messages>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>
              {{'choose_end_date'| translate: translateKey}}
            </mat-label>
            <input matInput [min]="bookPermissionSearchForm.get('startDate').value"
              [matDatepicker]="bookPermissionBookingtoPicker" formControlName="endDate" placeholder="" [max]="endDate">
            <mat-datepicker-toggle matSuffix [for]="bookPermissionBookingtoPicker"></mat-datepicker-toggle>
            <mat-datepicker #bookPermissionBookingtoPicker touchUi="true"></mat-datepicker>
            <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}</div>
            <control-messages [control]="bookPermissionSearchForm.get('endDate')">
            </control-messages>
          </mat-form-field>

        </div>
        <div class="row fotButtonBar mt-0">
          <div class="col-sm-12 col-md-12 text-right">
            <button mat-raised-button color="primary" [disabled]="bookPermissionSearchForm.invalid" type="submit">
              {{'search'| translate: translateKey}}
            </button>
          </div>
        </div>

      </form>
    </div>
  </mat-card>

  <div *ngIf="Dates.length>0" class="mt-4">
    <mat-card class="formClass cardBorder">
        <div class="pageTitle">{{'list_of_book_permission'| translate: translateKey}}</div>
        <mat-accordion *ngFor="let month of bookingUtils.filterMonths(Dates); let i = index;">
            <mat-expansion-panel [expanded]="i === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{month.monthName}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
<!--                    <div>-->
<!--                        <mat-checkbox [checked]="!bookingUtils.checkedAllinMonth(month, Dates)" [disabled]="bookingUtils.checkAllDisabledInmonth(month,Dates)"-->
<!--                            labelPosition="after" (change)="selectedShift = bookingUtils.selectAllShiftsInMonth($event.checked, month, Dates, selectedShift, i)">-->
<!--                            {{'select_all_shift_in'| translate: translateKey}} {{month.monthName}}-->
<!--                        </mat-checkbox>-->
<!--                    </div>-->

                <div class="row">
                    <div *ngFor="let date of bookingUtils.filterAcc(month.id, Dates)" class="col-6 col-md-3 col-lg-2 mb-1 p-1">
                        <div class="dateBox rounded border">
                            <div class="dateBox rounded border availableDate" *ngFor="let shift of date.slotList; let i = index"
                            [ngClass]="{'bookDate': shift.slotStatus == bookingConstants.BOOKED || shift.slotStatus == bookingConstants.TEMPORARY_BLOCKED,
                           'checkDate': shift.slotStatus != bookingConstants.AVAILABLE,
                           'blockDate': shift.slotStatus == 'TEMPORARY_BLOCKED',
                           'holiyDay': shift.slotStatus == bookingConstants.RESERVED || shift.slotStatus == bookingConstants.HOLIDAY || shift.slotStatus == bookingConstants.FESTIVAL}">
                            <strong>
                                {{bookingUtils.returnProperDate(date.key)}}
                            </strong>
                            <div class="dateCon">
                                <mat-checkbox (change)="selectedShift = bookingUtils.selectShift(shift, $event.checked, selectedShift)" *ngFor="let shift of date.slotList; let i = index"
                                    [disabled]="shift.slotStatus == bookingConstants.BOOKED || shift.slotStatus == bookingConstants.TEMPORARY_BLOCKED"
                                    [checked]="shift.slotStatus != bookingConstants.AVAILABLE">
                                    &nbsp;{{shift.slotStatus == bookingConstants.CHECKED ? bookingConstants.AVAILABLE : shift.slotStatus }}
                                </mat-checkbox>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
      <div class="fotButtonBar1">
        <div class="col-sm-12 col-md-12 text-right">
          <button mat-raised-button data-toggle="modal" (click)="shortlistShifts(confirmationModel)"
            data-target="#confirmShortlistModel" type="button" [disabled]="selectedShift.length == 0" color="primary">
            {{'shortlist'| translate: translateKey}}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>


<ng-template #confirmationModel>
  <div class="modal-header customthead">
    <h4 class="modal-title" id="exampleModalLabel">
      {{'list_selected_slot'| translate: translateKey}}
    </h4>
    <!-- <button title="Close" data-dismiss="modal" class="mat-icon-button" aria-label="Close" (click)="confirmRef.hide()">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
  <div class="modal-body scrollModel">
    <div class="table-responsive">
      <table class="table">
        <thead class="customthead">
          <tr>
            <th scope="col" width="56">Sr. No.</th>
            <th scope="col">{{'Event Date'}}</th>
            <!-- <th scope="col">{{'end_date'| translate: translateKey}}</th> -->
            <th scope="col">{{'slot_status'| translate: translateKey}}</th>
            <!-- <th scope="col">{{'occupancy'| translate: translateKey}}</th> -->
            <th scope="col" width="65">{{'action'| translate: translateKey}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let days of selectedShift; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{bookingUtils.returnProperDate(days.start)}}</td>
            <!-- <td>{{bookingUtils.returnProperDate(days.end)}}</td> -->
            <td>{{days.slotStatus == bookingConstants.CHECKED ? bookingConstants.AVAILABLE : days.slotStatus }}</td>
            <!-- <td>{{days.occupancy}}</td> -->
            <td>
              <button mat-icon-button [disabled]="selectedShift.length == 1" (click)="removeSelectedShift(days, i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn mat-raised-button" data-dismiss="modal" (click)="confirmRef.hide()">
      {{'cancel'| translate: translateKey}}
    </button>

    <button type="button" class="btn mat-raised-button mat-primary" data-dismiss="modal" (click)="confirmShortlist()">
      {{'confirm_and_continue'| translate: translateKey}}
    </button>
  </div>
</ng-template>

<ng-template #receiptModel>
  <div class="modal-header customthead">
    <h4 class="modal-title">
      {{'bookPermission_booking_details'| translate: translateKey}}
    </h4>
    <button title="Close" data-dismiss="modal" class="mat-icon-button" aria-label="Close" (click)="receiptRef.hide()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body scrollModel">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{'booking_date'| translate: translateKey}}</th>
            <th scope="col">{{'rate_amount'| translate: translateKey}}</th>
            <!-- <th scope="col">{{'deposit_amount'| translate: translateKey}}</th>
            <th scope="col">{{'GST'| translate: translateKey}}</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">{{bookingUtils.returnProperDate(paymentObject.BOOKING_DATE)}}</td>
            <td scope="col">{{paymentObject.RENT_FEES}}</td>
            <!-- <td scope="col">{{paymentObject.DEPOSIT_FEES}}</td>
            <td scope="col">{{paymentObject.GST}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn mat-raised-button mat-primary" data-dismiss="modal"
      (click)="showPermissionApplicationForm = true; receiptRef.hide(); getUserProfile();">
      {{'proceed_for_appication'| translate: translateKey}}
    </button>
  </div>
</ng-template>


<div [hidden]="!showPermissionApplicationForm">
  <mat-card class="formClass cardBorder">
    <!-- <form [formGroup]="bookPermissionApplicationForm" (ngSubmit)="submitPermissionApplication()"> -->

      <mat-tab-group mat-stretch-tabs dynamicHeight="true" [(selectedIndex)]="tabIndex" class="stepperNav">

        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div>{{'applicant_or_organization_details' | translate:translateKey}}</div>
          </ng-template>

          <!-- <h2>
            {{'applicant_details' | translate:translateKey}}
          </h2> -->
          <form [formGroup]="organizationdetails">
          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput maxlength="50" appValidationFields [validationFieldsType]="'onlyNameWithSpace'"
                type="text" formControlName="orgName" placeholder="{{'organization_name' | translate: translateKey}}"
                required>
              <control-messages [control]="organizationdetails.get('orgName')"></control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="orgContactNo"
                placeholder="{{'org_contact_no' | translate: translateKey}}" required>
              <control-messages [control]="organizationdetails.get('orgContactNo')"></control-messages>
            </mat-form-field>

            <h2>
              {{'organization_address' | translate:translateKey}}
            </h2>
            <app-address #orgAddress [requiredFeilds]="true"
              [addressFormGroup]="organizationdetails.get('organizationAddress')"></app-address>


            <mat-form-field class="col-md-4">
              <input matInput maxlength="50" appValidationFields [validationFieldsType]="'onlyNameWithSpace'"
                type="text" formControlName="applicantName" placeholder="{{'applicant_name' | translate: translateKey}}"
                required>
              <control-messages [control]="organizationdetails.get('applicantName')"></control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="applicantMobile"
                placeholder="{{'applicant_mobile' | translate: translateKey}}" required >
              <control-messages [control]="organizationdetails.get('applicantMobile')"></control-messages>
            </mat-form-field>

            <div class="col-md-4">
              <mat-form-field>
                <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="confirmMobile"
                  placeholder="{{'confirm_mobile' | translate: translateKey}}" required>
                <control-messages [control]="organizationdetails.get('confirmMobile')"></control-messages>
              </mat-form-field>
              <!-- <mat-error *ngIf="!mobileNumberMatcher() && bookPermissionApplicationForm.get('applicantMobile').touched && bookPermissionApplicationForm.get('confirmMobile').touched">
                {{bookingConstants.MOB_NO_MIS_MATCH_MESSAGE}}
              </mat-error> -->

              <!-- <mat-error
                *ngIf="!bookingUtils.matcher(bookPermissionApplicationForm, 'applicantMobile', 'confirmMobile') && bookPermissionApplicationForm.get('applicantMobile').touched && bookPermissionApplicationForm.get('confirmMobile').touched">
                {{bookingConstants.MOB_NO_MIS_MATCH_MESSAGE}}
              </mat-error> -->
              <mat-error
                *ngIf="!bookingUtils.matcher(organizationdetails, 'applicantMobile', 'confirmMobile') && organizationdetails.get('applicantMobile').touched && organizationdetails.get('confirmMobile').touched">
                {{bookingConstants.MOB_NO_MIS_MATCH_MESSAGE}}
              </mat-error>
            </div>

            <mat-form-field class="col-md-4">
              <input matInput type="email" formControlName="emailId"
                placeholder="{{'applicant_email' | translate: translateKey}}" required maxlength="50">
              <control-messages [control]="organizationdetails.get('emailId')"></control-messages>
            </mat-form-field>

            <div class="col-md-4">
              <mat-form-field>
                <input matInput type="email" formControlName="confirmEmailId"
                  placeholder="{{'confirm_email' | translate: translateKey}}" required maxlength="50">
                <control-messages [control]="organizationdetails.get('confirmEmailId')"></control-messages>
              </mat-form-field>
              <!-- <mat-error *ngIf="!emailMatcher() && bookPermissionApplicationForm.get('emailId').touched && bookPermissionApplicationForm.get('confirmEmailId').touched">
                {{bookingConstants.EMAIL_MIS_MATCH_MESSAGE}}
              </mat-error> -->
              <mat-error
                *ngIf="!bookingUtils.matcher(organizationdetails, 'emailId', 'confirmEmailId') && organizationdetails.get('emailId').touched && organizationdetails.get('confirmEmailId').touched">
                {{bookingConstants.EMAIL_MIS_MATCH_MESSAGE}}
              </mat-error>

            </div>
          </div>
          <mat-checkbox class="col-md-12 mt-2" formControlName="officeResidentialAddressSame"
            (change)="onSameAddressChange($event)">{{'same_address' | translate: translateKey}}</mat-checkbox>
          <div>
            <h2>
              {{'applicant_address' | translate:translateKey}}
            </h2>
            <app-address #applicantAddress [requiredFeilds]="true"
              [addressFormGroup]="organizationdetails.get('applicantAddress')"></app-address>
          </div>

          <div class="row mt-4 fotButtonBar1">
            <div class="col-sm-12 col-md-12 text-right">
              <!-- <button mat-raised-button type="button" color="primary" (click)="tabIndex= tabIndex +1;">{{'next' |
                translate:translateKey}} -->
                <button mat-raised-button type="button" color="primary" (click)="checkValidation(organizationdetails,false)">{{'next' |
                  translate:translateKey}}
              </button>
            </div>
          </div>
        </form>
        </mat-tab>

        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div>{{'bank_details' | translate:translateKey}}</div>
          </ng-template>

          <h2>
            {{'bank_details' | translate:translateKey}}
          </h2>
          <form [formGroup]="bookingDetails">
          <bank-details [form]="bookingDetails"></bank-details>
          </form>
          <form [formGroup]="bookPermissionApplicationForm">
          <h2>
            {{'attchaments' | translate:translateKey}}
          </h2>
          <div class="col-md-6">
            <label labelPosition="after">{{'previous_permission_orders_if_applicable' | translate:translateKey}}
            </label>
            <booking-file-upload [form]="bookPermissionApplicationForm"
              [uploadModel]="{dmsUpload:true,fieldIdentifier:'1', labelName:'Previous Permission Orders ', formPart:'1.1', refNumber:
                bookPermissionApplicationForm.get('refNumber').value, bookingFormId : bookPermissionApplicationForm.get('bookingFormId').value, variableName: 'permission_orders'}">
            </booking-file-upload>
          </div>

          <div class="col-md-6">
            <label labelPosition="after">{{'vehicle_details' | translate:translateKey}} *
            </label>
            <booking-file-upload (uploaded)="isFileUploaded = $event" [form]="bookPermissionApplicationForm"
              [uploadModel]="{dmsUpload:true,fieldIdentifier:'2', labelName:'Vehicle Details', formPart:'1.2', refNumber:
                bookPermissionApplicationForm.get('refNumber').value, bookingFormId : bookPermissionApplicationForm.get('bookingFormId').value, variableName: 'vehicle_details'}">
            </booking-file-upload>
          </div>

          <div class="row mt-4 fotButtonBar1">
            <div class="col-sm-12 col-md-12 justify-content-between d-flex">
              <button type="button" mat-raised-button color="primary" (click)="tabIndex= tabIndex -1; ">{{'back' |
                translate:translateKey}}</button>
              <!-- <button mat-raised-button color="primary" type="submit"
                [disabled]="bookPermissionApplicationForm.invalid">
                {{'submit_application'| translate: translateKey}}
              </button> -->
              <button mat-raised-button color="primary" type="submit" (click)="checkValidation(bookingDetails,true)">
              {{'submit_application'| translate: translateKey}}
            </button>
            </div>
          </div>
        </form>
        </mat-tab>
      </mat-tab-group>
    <!-- </form> -->
  </mat-card>
</div>

<!-- this div is used for printing the receipt -->
<div id="sectionToPrint"></div>
