<div class="container">
    <div class="row pt-4">
        <form [formGroup]="ambulanceAppForm">
            <mat-horizontal-stepper [linear]="false">

                <!-- first step start-->
                <mat-step [label]="stepLable1">
                    <div class="row">
                    </div>
                    <app-basic-details [basicFormGroup]="ambulanceAppForm"></app-basic-details>
                    <app-action-bar [form]="ambulanceAppForm" [step]="'final'" (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
                </mat-step>

            </mat-horizontal-stepper>
        </form>
    </div>
</div>