<div class="container pt-4">
    <div class="pt-1 pb-2" [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-4">
                First Source-Target Combo
            </div>
            <div class="col-md-4">
                <input formControlName="sourceGuj"  appGujInputSource targetElement="targetGuj" [form]="formGroup">
            </div>
            <div class="col-md-4">
                <input formControlName="targetGuj" appGujInputTarget>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-4">
                Second Source-Target Combo
            </div>
            <div class="col-md-4">
                <input formControlName="sourceGujA"  appGujInputSource targetElement="targetGujA" [form]="formGroup">
            </div>
            <div class="col-md-4">
                <input formControlName="targetGujA" appGujInputTarget>
            </div>
        </div>
    </div>
</div>