<div [formGroup]="addressFormGroup" class="formClass">
	<div class="row">

		<mat-form-field class="col-md-4">
			<input matInput type="tel" OnlyNumber formControlName="houseNo" placeholder="{{'house_no' | translate:translateKey }}"
			 class="pl-1 example-right-align" required>
			<control-messages [control]="addressFormGroup.controls.houseNo"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-4">
			<input matInput type="text" formControlName="tenamentNo" placeholder="{{'tenament_no' | translate:translateKey }}"
			 class="pl-1 example-right-align">
			<control-messages [control]="addressFormGroup.controls.tenamentNo"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-4">
			<input matInput type="text" formControlName="buildingName" placeholder="{{'building_name' | translate:translateKey }}"
			 class="pl-1 example-right-align">
			<control-messages [control]="addressFormGroup.controls.buildingName"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-4">
			<input matInput type="text" formControlName="state" placeholder="{{'state' | translate:translateKey }}" class="pl-1 example-right-align"
			 required>
			<control-messages [control]="addressFormGroup.controls.state"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-4">
			<input matInput type="text" formControlName="district" placeholder="{{'district' | translate:translateKey }}" class="pl-1 example-right-align"
			 required>
			<control-messages [control]="addressFormGroup.controls.district"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-4">
			<input matInput type="text" formControlName="talukaName" placeholder="{{'taluka_name' | translate:translateKey }}"
			 class="pl-1 example-right-align" required>
			<control-messages [control]="addressFormGroup.controls.talukaName"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-4">
			<input matInput type="tel" OnlyNumber formControlName="pincode" placeholder="{{'pincode' | translate:translateKey }}"
			 class="pl-1 example-right-align" maxlength="6">
			<control-messages [control]="addressFormGroup.controls.pincode"></control-messages>
		</mat-form-field>

		<!-- <mat-form-field class="col-md-8">
			<input matInput type="text" formControlName="addressLine1" placeholder="{{'address_line1' | translate:translateKey }}"
			 class="pl-1 example-right-align">
			<control-messages [control]="addressFormGroup.controls.addressLine1"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-6">
			<input matInput type="text" formControlName="addressLine2" placeholder="{{'address_line2' | translate:translateKey }}"
			 class="pl-1 example-right-align">
			<control-messages [control]="addressFormGroup.controls.addressLine2"></control-messages>
		</mat-form-field>

		<mat-form-field class="col-md-6">
			<input matInput type="text" formControlName="addressLine3" placeholder="{{'address_line3' | translate:translateKey }}"
			 class="pl-1 example-right-align">
			<control-messages [control]="addressFormGroup.controls.addressLine3"></control-messages>
		</mat-form-field> -->

		<mat-form-field class="col-md-12">
			<input matInput type="text" formControlName="village" placeholder="{{'village' | translate:translateKey }}" class="pl-1 example-right-align">
			<control-messages [control]="addressFormGroup.controls.village"></control-messages>
		</mat-form-field>
	</div>
</div>