<div [formGroup]="atithigruhForm" class="formClass">
  <div class="row">
    <div formGroupName="bankName" class="col-md-6 ngSelect">
      <ng-select class="asteriskmarkRequired" placeholder="{{'bank_name' | translate:stadiumTranslateKey}}" formControlName="code">
        <ng-option *ngFor="let bank of BankOptions" [value]="bank.code">
          {{bank.name}}
        </ng-option>
      </ng-select>
      <control-messages [control]="atithigruhForm.get('bankName.code')"></control-messages>
    </div>

    <mat-form-field class="col-md-6">
      <input matInput type="text" minlength="2" maxlength="100" appValidationFields appBlockCopyPaste
        [validationFieldsType]="'onlyNameWithSpace'" formControlName="accountHolderName"
        placeholder="{{'account_holder_name' | translate: stadiumTranslateKey}}" required>
      <control-messages [control]="atithigruhForm.get('accountHolderName')"></control-messages>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput OnlyNumber maxlength="16" minlength="9" formControlName="accountNo"
        placeholder="{{'account_no' | translate: stadiumTranslateKey}}" required>
      <control-messages [control]="atithigruhForm.get('accountNo')"></control-messages>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput type="text" appAlphaNumeric upperCase maxlength="11" formControlName="ifscCode"
        placeholder="{{'ifsc_code' | translate: stadiumTranslateKey}}" required>
      <control-messages [control]="atithigruhForm.get('ifscCode')"></control-messages>
    </mat-form-field>
  </div>
</div>
