<div class="mainBg">
	<div class="verticalAlign signUp">
		<mat-card class="borderRadius10">
			<div class="headingBox">Register
				<span>Sign up by entering the information below</span>
			</div>
		<form [formGroup]="regForm" (ngSubmit)="onSignUp(regForm.value)" autocomplete="off" ngNativeValidate>
			<div class="row">
				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>face</mat-icon>
					<input matInput type="text" placeholder="HospitalName" formControlName="hospitalName" required>
					<control-messages [control]="regForm.controls.hospitalName"></control-messages>
				</mat-form-field>

				<mat-form-field class="col-md-6 iconMat">
					<mat-select placeholder="Hospital Type" name="relation" formControlName="hospitalType">
						<mat-option value="GOVERNMENT">GOVERNMENT</mat-option>
						<mat-option value="PRIVATE">PRIVATE</mat-option>
					</mat-select>
					<control-messages [control]="regForm.controls.hospitalType"></control-messages>
				</mat-form-field>
			</div>


			<div class="row" formGroupName="userDetail">
				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>face</mat-icon>
					<input matInput type="text" placeholder="Firstname" formControlName="firstName" required>
					<control-messages [control]="regForm.controls.userDetail.controls.firstName"></control-messages>
				</mat-form-field>

				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>face</mat-icon>
					<input matInput type="text" placeholder="Lastname" formControlName="lastName" required>
					<control-messages [control]="regForm.controls.userDetail.controls.lastName"></control-messages>
				</mat-form-field>

				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>mail_outline</mat-icon>
					<input matInput type="email" placeholder="Email" formControlName="email" required>
					<control-messages [control]="regForm.controls.userDetail.controls.email"></control-messages>
				</mat-form-field>

				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>phone_android</mat-icon>
					<input matInput type="tel" placeholder="Cell Number" formControlName="cellNo" minlength="10" maxlength="10" required>
					<control-messages [control]="regForm.controls.userDetail.controls.cellNo"></control-messages>
				</mat-form-field>

				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input matInput type="password" placeholder="Password" formControlName="password" required>
				</mat-form-field>

				<mat-form-field class="col-md-6 iconMat">
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
				</mat-form-field>
				
				<div class="col-md-6 offset-md-6">
					<mat-error *ngIf="regForm.errors?.mismatchedPasswords">Password not match</mat-error>
				</div>
			
			</div>

			<div class="row">
					<div class="col-md-12 nursingHome">
							<mat-label>Nursing Home</mat-label>
							<mat-radio-group class="example-radio-group" formControlName="nursingHome">
								<mat-radio-button value="true">YES</mat-radio-button>
								<mat-radio-button value="false">NO</mat-radio-button>
							</mat-radio-group>
				</div>
			</div>

			<div class="text-center mt-4">
				<button type="submit" mat-raised-button color="primary" [disabled]="regForm.invalid" class="width150">
					Sign up
				</button>
			</div>
			<div class="text-center pt-2">
				Allready have an account ?
				<a routerLink="/hospital/auth/login">
					<strong>Login</strong>
				</a> here.
			</div>
		</form>

	</mat-card>
</div>
</div>