
// .hosVerticalAlign {width: 100%; max-width:550px !important; margin: 40px auto 0; align-self: center; }
mat-error{
    margin: -22px 0 10px 15px;
    font-size: 11px;
}

.nursingHome {display: flex; align-items: center; 
    mat-label {float: left; padding-left: 22px;}
}