.cstmClass {
    padding: 0;
    margin-top: -50px;
    margin-right: 78px;
}

.font16 {
    // font-size: 15px;
}

.mrgLeft {
    margin-left: -16px;
}

.bgEEE {
    background: #eee;
}

.arrowCls{
    cursor: pointer;
    margin-top: -2px
}

.redBox{
    border: 1px solid #000; 
    color:red; 
    font-weight: bold; 
    display: inline-block;
    padding: 5px 10px;
    margin: 2px 5px;
}
.greenBox{
    border: 1px solid #000; 
    color:green; 
    font-weight: bold; 
    display: inline-block;
    padding: 5px 10px;
    margin: 2px 16px;
}

.font20{
    font-size: 20px;
}