<mat-card class="mb-4" *ngIf="isShowPayableScreen">

  <form [formGroup]="paymentsForm" autocomplete="off" ngNativeValidate novalidate>
    <div class="row">

      <div formGroupName="module" class="col-md-4 ngSelect">
        <ng-select placeholder="Select Service Module" formControlName="code" (change)="setPayableServices($event)" class="asteriskmarkRequired">
          <ng-option *ngFor="let module of userServicesList" [value]="module.code">
            {{module.name}}
          </ng-option>
        </ng-select>
        <control-messages [control]="paymentsForm.get('module.code')"></control-messages>
      </div>


      <div formGroupName="payableServices" class="col-md-4 ngSelect">
        <ng-select placeholder="Select Payable Service" formControlName="code" (change)="showHideSearchable($event)" class="asteriskmarkRequired">
          <ng-option *ngFor="let payservice of PayableServices" [value]="payservice.code">
            {{payservice.name}}
          </ng-option>
        </ng-select>
        <control-messages [control]="paymentsForm.get('payableServices.code')"></control-messages>
      </div>

      <!-- This is input for other services search-->
      <mat-form-field class="col-md-4" *ngIf="!isProfessionalTax">
        <input matInput placeholder="{{placeholder}}" formControlName="refNumber" required>
        <mat-error *ngIf="placeHolderMessage !== null">{{placeHolderMessage}}</mat-error>
        <!-- <control-messages [control]="paymentsForm.get('refNumber')"></control-messages> -->
      </mat-form-field>

      <!-- This is input for professional tax search-->
      <mat-form-field class="col-md-4" *ngIf="isProfessionalTax">
        <input matInput appAlphaNumeric maxlength="12" placeholder="{{placeholder}}" formControlName="refNumber"
          required>
        <mat-error *ngIf="placeHolderMessage !== null">{{placeHolderMessage}}</mat-error>
        <!-- <control-messages [control]="paymentsForm.get('refNumber')"></control-messages> -->
      </mat-form-field>

      <div class="col-md-8 text-left">
        <button mat-raised-button color="accent" (click)="getServices()">
          <mat-icon>search</mat-icon>
          Search
        </button>
        <!-- </div>
      <div class="col-md-8 text-right"> -->
        <button mat-raised-button color="accent" *ngIf="isShowSearchButton(paymentsForm)" (click)="onSearchProperty()">
          <mat-icon>search</mat-icon>
          Search Property
        </button>
      </div>
    </div>

    <div>
      <div class="row" style="margin-left: -30px;" *ngIf="isRecordExists && responseData">
        <div class="col-md-12 mb-sm-0 mb-4">
          <label class="col-md-2 font16 font-weight-bold">Name :</label>
          <span class="font16 col">{{responseData?.applicantFullName}}</span>
        </div>
        <div class="col-md-12 mb-sm-0 mb-4">
          <label class="col-md-2 font16 font-weight-bold">Commencement Date :</label>
          <span class="font16 col">{{responseData?.commencementDate | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="col-md-12 mb-sm-0 mb-4">
          <label class="col-md-2 font16 font-weight-bold">Establishment Name :</label>
          <span class="font16 col">{{responseData?.establishmentName}}</span>
        </div>
        <div class="col-md-12 mb-sm-0 mb-4">
          <label class="col-md-2 font16 font-weight-bold">Contact No :</label>
          <span class="font16 col">{{responseData?.contactNo}}</span>
        </div>
        <div class="col-md-12 mb-sm-0 mb-4">
          <label class="col-md-2 font16 font-weight-bold">Address :</label>
          <span class="font16 col d-sm-inline d-inline-block">{{responseData?.officeAddress?.buildingName}},
            {{responseData?.officeAddress?.area}},
            {{responseData?.officeAddress?.city}},
            {{responseData?.officeAddress?.state | titlecase}}, {{responseData?.officeAddress?.country | titlecase}},
            {{responseData?.officeAddress?.pincode}}</span>
        </div>
      </div>

      <div class="row mt-4" *ngIf="isRecordExists">
        <ng-container *ngIf="isECRCSearch">
          <div class="table-responsive">
            <table class="table" style="border: 1px solid #dee2e6;">
              <thead>
                <tr>
                  <th class="pl-4">Sr. No.</th>
                  <th>Reg. No.</th>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Prof. Tax {{rupeeSign}}</th>
                  <th>Interest {{rupeeSign}}</th>
                  <th>Penalty {{rupeeSign}}</th>
                  <th>Comp. Fee {{rupeeSign}}</th>
                  <th>cheque return Penalty {{rupeeSign}}</th>
                  <th>Total Tax {{rupeeSign}}</th>
                  <th>Credit Amt {{rupeeSign}}</th>
                  <th>Fin. Year</th>
                  <th>Due Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="duesDetailsArr.length == 0">
                  <td colspan="12" class="noRecord">
                    <h5 class="text-center">No record found !</h5>
                  </td>
                </tr>
                <ng-container *ngFor="let dues of duesDetailsArr;let i=index">
                  <tr>
                    <td width="50" [class.pl-4]="!dues.children">
                      <mat-icon class="pull-left arrowCls" (click)="toggleRow(dues)"
                        *ngIf="dues.children && dues.children.length > 0">
                        <span *ngIf="!dues.hidden">chevron_right</span>
                        <span *ngIf="dues.hidden">expand_more</span>
                      </mat-icon>{{i+1}}
                    </td>
                    <td>{{responseData.ecrcNo}}</td>
                    <td>{{dues.month}}</td>
                    <td>{{dues.financialYear}}</td>
                    <td>{{dues.remainingProfessionalTax}}</td>
                    <td>{{dues.interest}}</td>
                    <td>{{dues.penaltyFee}}</td>
                    <td>{{dues.compFee}}</td>
                    <td>{{chequeReturn}}</td>
                    <td>{{dues.remainingProfessionalTax + dues.interest + dues.penaltyFee + chequeReturn}}</td>
                    <td>{{dues.creditAmount ? dues.creditAmount: 0}}</td>
                    <td>{{dues.financialYearSlab}}</td>
                    <td>{{dues.dueDate ? (dues.dueDate | date: 'dd/MM/yyyy'): '-'}}</td>
                  </tr>
                  <ng-container *ngIf="dues.children && dues.children.length > 0">
                    <tr *ngFor="let child of dues.children" class="bgEEE" [hidden]="!dues.hidden">
                      <td></td>
                      <td>{{responseData.ecrcNo}}</td>
                      <td>{{child.month}}</td>
                      <td>{{child.financialYear}}</td>
                      <td>{{child.professionalTax}}</td>
                      <td>{{child.interest}}</td>
                      <td>{{child.penaltyFee}}</td>
                      <td>{{child.compFee}}</td>
                      <td>{{child.professionalTax + child.interest + child.penaltyFee }}</td>
                      <td>{{child.creditAmount ? child.creditAmount: 0}}</td>
                      <td>{{child.financialYearSlab}}</td>
                      <td>{{child.dueDate ? (child.dueDate | date: 'dd/MM/yyyy'): '-'}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ng-container>


        <div class="col-md-3 mt-4 mb-2 font16 font-weight-bold">Amount Payable : (₹) <span
            style="color: #ff0000;">{{paymentsForm.get('amount').value}}</span> Only</div>
        <div class="col mt-3 mb-3">
          <button mat-raised-button class="paymentButton" color="primary" type="submit"
            (click)="makePayment(paymentsForm.value)">
            Proceed for Payment
          </button>
        </div>



        <!-- <div class="row mt-4">
        <div class="col-md-12">
          <label class="col-md-6 font16 font-weight-bold">Amount Payable :</label>
          <span class="font16" style="color: #ff0000;">{{paymentsForm.get('amount').value}}</span>
        </div> -->

        <!-- <div class="col-md-12" formGroupName="payMode">
          <label class="col-md-3 font16 font-weight-bold">Payment Mode :</label>
          <span style="display: inline-block">
            <mat-radio-group class="example-radio-group" formControlName="code">
              <mat-radio-button [value]="mode.code" *ngFor="let mode of payModeArr">{{mode.name}}</mat-radio-button>
            </mat-radio-group>
          </span>
        </div> -->

        <!-- </div>

      <div class="col-md-6 pt-3 mt-4" style="margin-left: 92px;">
        <button mat-raised-button class="paymentButton" color="primary" type="submit" (click)="makePayment(paymentsForm.value)">
          Proceed for Payment
        </button>
      </div> -->

      </div>

    </div>
    <div *ngIf="isPropertyRecordExists">
      <div *ngIf="isPropertyTax">

        <div class="row" style="margin-left: -30px;">

          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Property No :</label>
            <span class="font16">{{collectionModel?.propertyNo}}</span>
          </div>

          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Census No :</label>
            <span class="font16">{{collectionModel?.censusNo}}</span>
          </div>

          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Owner Name :</label>
            <span class="font16">{{collectionModel?.ownerName}}</span>
          </div>
          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Occupier Name :</label>
            <span class="font16">{{collectionModel?.occupierName}}</span>
          </div>
          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Mobile Number :</label>
            <span class="font16">{{collectionModel?.mobileNo}}</span>
          </div>
          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Property Address :</label>
            <span class="font16">{{collectionModel?.address}}</span>
          </div>
        </div>

        <div class="row mt-4">
          <ng-container>
            <div class="table-responsive">
              <table class="table" style="border: 1px solid #dee2e6;">
                <thead>
                  <tr class="text-center">
                    <th class="pl-4">S.No.</th>
                    <th>Financial Year</th>
                    <th>Bill No</th>
                    <th>Bill Date </th>
                    <th>Bill Due Date</th>
                    <th>Due Amount</th>
                    <!-- <th>Rebate</th> -->
                    <th>Interest/Penalty Amount </th>
                    <th>Payable Amount</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="collectionModel?.billWiseDetails?.length == 0">
                    <td colspan="12" class="noRecord">
                      <h5 class="text-center">No record found !</h5>
                    </td>
                  </tr>
                  <ng-container *ngFor="let dues of collectionModel?.billWiseDetails;let i=index">
                    <tr class="text-center">
                      <td width="50" [class.pl-4]="!dues.children">
                        <mat-icon class="pull-left arrowCls" (click)="toggleRow(dues)"
                          *ngIf="dues.children && dues.children.length > 0">
                          <span *ngIf="!dues.hidden">chevron_right</span>
                          <span *ngIf="dues.hidden">expand_more</span>
                        </mat-icon>{{i+1}}
                      </td>
                      <td>{{dues?.financialYear}}</td>
                      <td>{{dues?.billNo}}</td>
                      <td>{{dues?.billDate}}</td>
                      <td>{{dues?.billDueDate}}</td>
                      <td>{{dues?.billAmount}}</td>

                      <!-- <td>{{collectionModel?.rebateAmount}}</td> -->
                      <td>{{dues.intrestOrPenaltyAmount}}</td>
                      <!-- <td OnlyNumber [textContent]="model" (input)="model=$event.target.textContent" contentEditable>{{collectionModel?.payableAmount}}</td>  -->
                      <!-- <td>{{collectionModel?.payableAmount}} </td> -->
                      <td>{{dues?.totalTaxWiseBillAmount}} </td>
                      <td>{{dues.totalTaxWiseBillAmount == 0 ? "Paid" : "Unpaid"}}</td>
                      <td>
                        <button mat-button title="Detail" class="btn-width-auto" color="accent" type="button"
                          (click)="onDetailClick(dues)">
                          <mat-icon>details</mat-icon>
                        </button>
                      </td>
                    </tr>

                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong class="font20"> Rebate Amount :</strong> <span
              class="greenBox">{{collectionModel?.rebateAmount}}</span>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-mg-4">
            <strong class="font20"> Amount Payable : Rs.</strong> <span class="redBox">{{model}}</span> <strong
              class="font20"> Only</strong>
          </div>
          <div class="col-md-4">
            <button mat-raised-button class="paymentButton" color="primary" type="submit"
              (click)="makePayment(paymentsForm.value)">
              Proceed for Payment
            </button>
          </div>
        </div>



      </div>
    </div>

    <div *ngIf="isWaterRecordExists">
      <div *ngIf="isWaterTax">
        <div class="row" style="margin-left: -30px;">

          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Connection No :</label>
            <span class="font16">{{collectionWaterModel?.connectionNo}}</span>
          </div>

          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Owner Name :</label>
            <span class="font16">{{collectionWaterModel?.ownerName}}</span>
          </div>

          <div class="col-md-12">
            <label class="col-md-2 font16 font-weight-bold">Address :</label>
            <span class="font16">{{collectionWaterModel?.address}}</span>
          </div>
        </div>

        <div class="row mt-4">
          <ng-container>
            <div class="table-responsive">
              <table class="table" style="border: 1px solid #dee2e6;">
                <thead>
                  <tr>
                    <th class="pl-4">S.No.</th>
                    <th>Financial Year</th>
                    <th>Bill No</th>
                    <th>Bill Date </th>
                    <th>Collected Amount</th>
                    <th>Interest/Penalty Amount </th>
                    <th>Payable Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="collectionWaterModel?.billWiseOutstandings?.length == 0">
                    <td colspan="12" class="noRecord">
                      <h5 class="text-center">No record found !</h5>
                    </td>
                  </tr>
                  <ng-container *ngFor="let dues of collectionWaterModel?.billWiseOutstandings;let i=index">
                    <tr>
                      <td width="50" [class.pl-4]="!dues.children">
                        <mat-icon class="pull-left arrowCls" (click)="toggleRow(dues)"
                          *ngIf="dues.children && dues.children.length > 0">
                          <span *ngIf="!dues.hidden">chevron_right</span>
                          <span *ngIf="dues.hidden">expand_more</span>
                        </mat-icon>{{i+1}}
                      </td>
                      <td>{{dues.financialYear}}</td>
                      <td>{{dues.billNo}}</td>
                      <td>{{dues.billDate}}</td>
                      <td>{{dues.billPaidAmount}}</td>
                      <td>{{dues.intrestOrPenaltyAmount}}</td>
                      <td>{{dues.totalTaxWiseBillAmount}}</td>
                      <!-- <td OnlyNumber [textContent]="model" (input)="model=$event.target.textContent" contentEditable>{{collectionWaterModel?.outstandingAmount}}</td>  -->

                      <td>
                        <button mat-button title="Detail" class="btn-width-auto" color="accent" type="button"
                          (click)="onDetailClick(dues)">
                          <mat-icon>details</mat-icon>
                        </button>
                      </td>
                    </tr>

                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-container>

          <div class="row m-0">
            <div class="col-mg-4">
              <strong class="font20"> Amount Payable : Rs.</strong> <span class="redBox">{{model}}</span> <strong
                class="font20"> Only</strong>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="paymentButton" color="primary" type="submit"
                (click)="makePayment(paymentsForm.value)">
                Proceed for Payment
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div *ngIf="isVehileTax">
        <div class="row mt-4">
          <ng-container>
            <div class="table-responsive">
              <table class="table" style="border: 1px solid #dee2e6;">
                <thead>
                  <tr>
                    <th class="pl-4">S.No.</th>
                    <th>Applicant Name</th>
                    <th>Applicant No</th>
                    <th>Date of Application</th>
                    <th>Department Name</th>
                    <th>Service Name</th>
                    <th>Payable Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="input?.length == 0">
                    <td colspan="12" class="noRecord">
                      <h5 class="text-center">No record found !</h5>
                    </td>
                  </tr>
                  <ng-container *ngFor="let dues of inputData;let i=index">
                    <tr>
                      <td width="50">
                        <mat-icon class="pull-left arrowCls">
                        </mat-icon>{{i+1}}
                      </td>
                      <td>{{dues.applicantName}}</td>
                      <td>{{dues.fileNumber}}</td>
                      <td>{{dues.createdDate}}</td>
                      <td>{{dues.departmentName}}</td>
                      <td>{{dues.serviceType}}</td>
                      <td>{{dues.fileStatus}}</td>
                    </tr>

                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-container>

          <div class="row m-0">
            <div class="col-md-6 mt-4 mb-2 font16 font-weight-bold">Amount Payable : (₹) <span
              style="color: #ff0000;">{{paymentsForm.get('amount').value}}</span> Only</div>
          <div class="col-md-6 mb-3">
            <button mat-raised-button class="paymentButton" color="primary" type="submit"
              (click)="makePayment(paymentsForm.value)">
              Proceed for Payment
            </button>
          </div>
        </div>
        </div>
    </div>
    
  </form>
  <select-payment-gateway #paymentGateway></select-payment-gateway>
</mat-card>

<ng-container *ngIf="!isVehileTax">
  <app-my-applications [inputData]="inputData" [fromOtherModule]=true></app-my-applications>
</ng-container>

<app-property-tax-detail *ngIf="isShowTaxDetailTable" [taxDetailData]="propertyTaxDetailData"
  (showPayable)=showHidePaybleScreen($event) (showTaxDetail)=showHideTaxDetailScreen($event)></app-property-tax-detail>

<app-water-tax-detail *ngIf="isShowWaterTaxDetailTable" [taxDetailData]="waterTaxDetailData"
  (showPayable)=showHidePaybleScreen($event) (showTaxDetail)=showHideWaterTaxDetailScreen($event)>
</app-water-tax-detail>

<app-property-occupier-search *ngIf="isShowPropertySearchForm" (showPayable)=showHidePaybleScreen($event)>
</app-property-occupier-search>