<mat-card class="mb-4">

  <form [formGroup]="paymentsForm" autocomplete="off" ngNativeValidate novalidate>
    <div class="row">
      <div formGroupName="payableServices" class="col-md-4 ngSelect">
        <ng-select placeholder="Select Payable Service *" formControlName="code" (change)="showHideSearchable($event)">
          <ng-option *ngFor="let payservice of PayableServices" [value]="payservice.code">
            {{payservice.name}}
          </ng-option>
        </ng-select>
        <control-messages [control]="paymentsForm.get('payableServices.code')"></control-messages>
      </div>

      <!-- This is input for other services search-->
      <mat-form-field class="col-md-4" *ngIf="f.payableServices.get('code').value !== 'PROFESSIONAL_TAX'">
        <input matInput placeholder="{{placeholder}}" formControlName="refNumber" required>
        <control-messages [control]="paymentsForm.get('refNumber')"></control-messages>
      </mat-form-field>

      <!-- This is input for professional tax search-->
      <mat-form-field class="col-md-4" *ngIf="f.payableServices.get('code').value === 'PROFESSIONAL_TAX'">
        <input matInput appAlphaNumeric maxlength="12" placeholder="{{placeholder}}" formControlName="refNumber"
          required>
        <control-messages [control]="paymentsForm.get('refNumber')"></control-messages>
      </mat-form-field>

      <div class="col-md-4 pt-2">
        <button mat-raised-button color="accent" (click)="getCitizenForm()">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>
    </div>

    <div class="row" style="margin-left: -30px;" *ngIf="isRecordExists && responseData">
      <div class="col-md-12">
        <label class="col-md-2 font16 font-weight-bold">Name :</label>
        <span class="font16">{{responseData?.applicantFullName}}</span>
      </div>
      <div class="col-md-12">
        <label class="col-md-2 font16 font-weight-bold">Commencement Date :</label>
        <span class="font16">{{responseData?.commencementDate | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="col-md-12">
        <label class="col-md-2 font16 font-weight-bold">Establishment Name :</label>
        <span class="font16">{{responseData?.establishmentName}}</span>
      </div>
      <div class="col-md-12">
        <label class="col-md-2 font16 font-weight-bold">Contact No :</label>
        <span class="font16">{{responseData?.contactNo}}</span>
      </div>
      <div class="col-md-12">
        <label class="col-md-2 font16 font-weight-bold">Address :</label>
        <span class="font16">{{responseData?.officeAddress?.buildingName}}, {{responseData?.officeAddress?.area}},
          {{responseData?.officeAddress?.city}},
          {{responseData?.officeAddress?.state | titlecase}}, {{responseData?.officeAddress?.country | titlecase}},
          {{responseData?.officeAddress?.pincode}}</span>
      </div>
    </div>



  </form>
  <select-payment-gateway #paymentGateway></select-payment-gateway>
</mat-card>

<app-my-applications [inputData]="inputData" [fromOtherModule]=true></app-my-applications>