.note{
    background-color: orange;
}

.example-radio-button {
  margin: 5px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.fs{
  font-size: 11px;
}
.mandatory {
  color: red; /* Set color to red */
}
