<div class="container">
	<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
	<mat-card  class="mt-4 formClass">

		<form [formGroup]="deathCertificateForm" autocomplete="off" ngNativeValidate>

			<mat-horizontal-stepper #stepper="matHorizontalStepper">
				<mat-step>
					<ng-template matStepLabel>
						<div [matTooltip]="'deceased_details' | translate:translateKey">
							{{'deceased_details' | translate:translateKey}}</div>
					</ng-template>

					<div class="row col-md-12" formGroupName="unknownCategory">
						<mat-label>{{'is_deceased_unknown' | translate:translateKey}} *</mat-label>
						<mat-radio-group formControlName="code" (change)="decider($event.value)">
							<mat-radio-button *ngFor="let yesno of ISYESNO" [value]="yesno.code">
								{{yesno.name}}
							</mat-radio-button>
						</mat-radio-group>
					</div>

					<div class="row">

						<mat-form-field class="col-md-4">
							<input matInput appValidationFields [form]="deathCertificateForm" appGujInputSource targetElement="deceasedFirstNameGuj"
							 [validationFieldsType]="'onlyNameWithOutSpace'" maxlength="20" placeholder="{{'first_name' | translate:translateKey}}"
							 formControlName="deceasedFirstName" [required]="requiredFeild">
							<control-messages [control]="deathCertificateForm.controls.deceasedFirstName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput appValidationFields [form]="deathCertificateForm" appGujInputSource targetElement="deceasedMiddleNameGuj"
							 [validationFieldsType]="'onlyNameWithOutSpace'" maxlength="20" placeholder="{{'middle_name' | translate:translateKey}}"
							 formControlName="deceasedMiddleName">
							<control-messages [control]="deathCertificateForm.controls.deceasedMiddleName"></control-messages>
						</mat-form-field>


						<mat-form-field class="col-md-4">
							<input matInput appValidationFields [form]="deathCertificateForm" appGujInputSource targetElement="deceasedLastNameGuj" [validationFieldsType]="'onlyNameWithOutSpace'"
							 maxlength="20" placeholder="{{'last_name' | translate:translateKey}}" formControlName="deceasedLastName" [required]="requiredFeild">
							<control-messages [control]="deathCertificateForm.controls.deceasedLastName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input [required]="requiredFeild" matInput maxlength="20" appGujInputTarget [form]="deathCertificateForm" placeholder="{{'first_name' | translate:translateKey:'gu'}}" formControlName="deceasedFirstNameGuj">
							<control-messages [control]="deathCertificateForm.controls.deceasedFirstNameGuj"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput type="text" appGujInputTarget [form]="deathCertificateForm" maxlength="20" placeholder="{{'middle_name' | translate:translateKey:'gu'}}" formControlName="deceasedMiddleNameGuj">
							<control-messages [control]="deathCertificateForm.controls.deceasedMiddleNameGuj"></control-messages>
						</mat-form-field>


						<mat-form-field class="col-md-4">
							<input [required]="requiredFeild" matInput type="text" appGujInputTarget [form]="deathCertificateForm" maxlength="20" placeholder="{{'last_name' | translate:translateKey:'gu'}}" formControlName="deceasedLastNameGuj">
							<control-messages [control]="deathCertificateForm.controls.deceasedLastNameGuj"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input [required]="requiredFeild" matInput readonly (click)="pickerDeath.open()" (focus)="pickerDeath.open()" [max]="maxBirthDate" [matDatepicker]="pickerDeath"
							 (dateChange)="birthFormatChanger($event)" placeholder="{{'date_of_birth' | translate:translateKey}}" formControlName="birthDate">
							<mat-datepicker-toggle matSuffix [for]="pickerDeath"></mat-datepicker-toggle>
							<mat-datepicker #pickerDeath touchUi="true"></mat-datepicker>
							<control-messages [control]="deathCertificateForm.controls.birthDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input [required]="requiredFeild" matInput readonly (click)="pickerBirth.open()" (focus)="pickerBirth.open()" [max]="maxDeathDate" [min]="minDeathDate"
							 [matDatepicker]="pickerBirth" (dateChange)="deathFormatChanger($event);delayCalculator($event)" placeholder="{{'date_of_death' | translate:translateKey}}"
							 formControlName="deathDate">
							<mat-datepicker-toggle matSuffix [for]="pickerBirth"></mat-datepicker-toggle>
							<mat-datepicker #pickerBirth touchUi="true"></mat-datepicker>
							<control-messages [control]="deathCertificateForm.controls.deathDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input [required]="requiredFeild" matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" maxlength="20" placeholder="{{'mother_name' | translate:translateKey}}"
							 name="motherName" formControlName="motherName">
							<control-messages [control]="deathCertificateForm.controls.motherName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input [required]="requiredFeild" matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" maxlength="20" placeholder="{{'husband_or_father_name' | translate:translateKey}}"
							 formControlName="fatherOrHusbandName">
							<control-messages [control]="deathCertificateForm.controls.fatherOrHusbandName"></control-messages>
						</mat-form-field>

						<div formGroupName="occupation" class="col-md-4 ngSelect">
							<ng-select placeholder="{{'occupation' | translate:translateKey}}" (change)="gujNameFinder($event,'occupation',DeceasedOccupation)" formControlName="code">
								<ng-option  *ngFor="let deceasedoccupation of DeceasedOccupation" [value]="deceasedoccupation.code">
									{{deceasedoccupation.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="deathCertificateForm.controls.occupation.controls.code"></control-messages>
						</div>

						<div formGroupName="education" class="col-md-4 ngSelect">
							<ng-select placeholder="{{'education' | translate:translateKey}} {{requiredFeild?'*':''}}" (change)="gujNameFinder($event,'education',DeceasedEducations)" formControlName="code">
								<ng-option *ngFor="let deceasededucation of DeceasedEducations" [value]="deceasededucation.code">
									{{deceasededucation.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="deathCertificateForm.controls.education.controls.code"></control-messages>
						</div>

						<mat-form-field formGroupName="occupation" class="col-md-6">
							<input [required]="requiredFeild" readonly matInput maxlength="20" appPreventSpace placeholder="{{'occupation' | translate:translateKey:'gu'}}" [value]="deathCertificateForm.get('occupation').get('gujName').value">
						</mat-form-field>

						<mat-form-field formGroupName="education" class="col-md-6">
							<input [required]="requiredFeild" readonly matInput maxlength="20" appPreventSpace placeholder="{{'education' | translate:translateKey:'gu'}}" [value]="deathCertificateForm.get('education').get('gujName').value">
						</mat-form-field>

						<div formGroupName="religion" class="col-md-6 ngSelect">
							<ng-select placeholder="{{'religion' | translate:translateKey}} {{requiredFeild?'*':''}}" formControlName="code">
								<ng-option *ngFor="let religion of Religion" [value]="religion.code">
									{{religion.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="deathCertificateForm.controls.religion.controls.code"></control-messages>
						</div>

						<mat-form-field class="col-md-6">
							<input matInput readonly placeholder="{{'delay_period' | translate:translateKey}}" formControlName="delayedPeriod">
							<control-messages [control]="deathCertificateForm.controls.delayedPeriod"></control-messages>
						</mat-form-field>

					</div>

					<div class="row">
						<div class="col-md-6" formGroupName="gender">
							<mat-label>{{'gender' | translate:translateKey}} {{requiredFeild?'*':''}}</mat-label>
							<mat-radio-group formControlName="code">
								<mat-radio-button *ngFor="let gender of Gender" [value]="gender.code">
									{{gender.name}}
								</mat-radio-button>
								<control-messages [control]="deathCertificateForm.controls.gender.controls.code"></control-messages>
							</mat-radio-group>
						</div>

						<div class="col-md-6" formGroupName="femaleDeathReason">
							<mat-label>{{'female_death_region' | translate:translateKey}} {{requiredFeild?'*':''}}</mat-label>
							<mat-radio-group formControlName="code">
								<mat-radio-button *ngFor="let yesNo of ISYESNO" [value]="yesNo.code">
									{{yesNo.name}}
								</mat-radio-button>
								<control-messages [control]="deathCertificateForm.controls.femaleDeathReason.controls.code"></control-messages>
							</mat-radio-group>
						</div>
					</div>
					<app-hos-action-bar [form]="deathCertificateForm" [step]="'step1'" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
				</mat-step>

				<mat-step>
					<ng-template matStepLabel>
						<div [matTooltip]="'death_details' | translate:translateKey">
							{{'death_details' | translate:translateKey}}</div>
					</ng-template>

					<div class="row">

						<div class="col-md-4 ngSelect" formGroupName="deathPlace">
							<ng-select placeholder="{{'place_of_death' | translate:translateKey}} {{requiredFeild?'*':''}}" formControlName="code">
								<ng-option *ngFor="let deathplace of deathPlaces" [value]="deathplace.code">
									{{deathplace.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="deathCertificateForm.controls.deathPlace.controls.code"></control-messages>
						</div>

						<mat-form-field *ngIf="deathCertificateForm.value.deathPlace.code == 'OTHER_PLACE'" class="col-md-4">
							<input matInput placeholder="{{'other_death_place' | translate:translateKey}}" formControlName="otherPlace">
						</mat-form-field>

						<div class="col-md-4 ngSelect" formGroupName="medicalTreatment">
							<ng-select  (change)="gujNameFinder($event,'medicalTreatment',MedicalTreatmentOptions)" placeholder="{{'medical_treatment' | translate:translateKey}} {{requiredFeild?'*':''}}" formControlName="code">
								<ng-option *ngFor="let mto of MedicalTreatmentOptions" [value]="mto.code">
									{{mto.name}}
								</ng-option>
							</ng-select>
						</div>

						<mat-form-field formGroupName="medicalTreatment" class="col-md-4">
							<input [required]="requiredFeild" readonly [disabled]="!deathCertificateForm.get('canEdit').value" matInput placeholder="{{'medical_treatment' | translate:translateKey:'gu'}}" [value]="deathCertificateForm.get('medicalTreatment').get('gujName').value">
						</mat-form-field>


						<mat-form-field class="col">
							<input matInput type="text" placeholder="{{'death_reason' | translate:translateKey}}" formControlName="deathReason">
							<control-messages [control]="deathCertificateForm.controls.deathReason"></control-messages>
						</mat-form-field>

						<div class="col-md-12" formGroupName="medicalReason">
							<label>{{'medical_reason' | translate:translateKey}} {{requiredFeild?'*':''}} </label>
							<mat-radio-group formControlName="code">
								<mat-radio-button *ngFor="let prove of ISYESNO" [value]="prove.code">
									{{prove.name}}
								</mat-radio-button>
								<control-messages [control]="deathCertificateForm.controls.medicalReason.controls.code"></control-messages>
							</mat-radio-group>
						</div>

						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber maxlength="10" placeholder="{{'smoking_since' | translate:translateKey}}" maxlength="10" formControlName="smokingSince">
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber maxlength="10" placeholder="{{'tobacco_since' | translate:translateKey}}" maxlength="10" formControlName="tobaccoSince">
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber maxlength="10" placeholder="{{'sopari_panmasala_since' | translate:translateKey}}" maxlength="10"
							 formControlName="sopariPanmasalaSince">
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber maxlength="10" placeholder="{{'alcohol_since' | translate:translateKey}}" maxlength="10" formControlName="alcoholSince">
						</mat-form-field>
					</div>


					<app-hos-action-bar [form]="deathCertificateForm" [step]="'step2'" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
				</mat-step>

				<mat-step>

					<ng-template matStepLabel>
						<div [matTooltip]="'address_details' | translate:translateKey">
							{{'address_details' | translate:translateKey}}</div>
					</ng-template>


					<div class="container">
						<h2>
							{{'present_address' | translate:translateKey}}
						</h2>
					     <app-address #address [addressFormGroup]="deathCertificateForm.controls.presentAddress"></app-address>
					</div>


					<span formGroupName="isPermanentPresentAddressSame">
						<mat-checkbox [disabled]="!deathCertificateForm.get('canEdit').value" (change)="check($event)" [checked]="deathCertificateForm.get('isPermanentPresentAddressSame').get('code').value == 'YES'? true : false">{{'is_permanent_address_same_as_present_address' | translate:translateKey}}</mat-checkbox>
					</span>

					<div class="container">
						<h2>
							{{'permanent_address' | translate:translateKey}}
						</h2>
						<app-address #address [addressFormGroup]="deathCertificateForm.controls.permanentAddress"></app-address>
					</div>
					<app-hos-action-bar [form]="deathCertificateForm" [step]="'step3'" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
				</mat-step>

				<mat-step>

					<ng-template matStepLabel>
						<div [matTooltip]="'applicant_details' | translate:translateKey">
							{{'applicant_details' | translate:translateKey}}</div>
					</ng-template>

					<div class="row">

						<mat-form-field class="col-md-4">
							<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" maxlength="20" placeholder="{{'applicant_hospital_name' | translate:translateKey}}"
							 formControlName="appHospitalName">
							<control-messages [control]="deathCertificateForm.controls.appHospitalName"></control-messages>
						</mat-form-field>

						<div formGroupName="applicantRelation" class="col-md-4 ngSelect">
							<ng-select placeholder="{{'applicant_relation' | translate:translateKey}}" formControlName="code">
								<ng-option *ngFor="let app_rel of RelationShip" [value]="app_rel.code">
									{{app_rel.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="deathCertificateForm.controls.applicantRelation.controls.code"></control-messages>
						</div>

						<mat-form-field *ngIf="deathCertificateForm.value.applicantRelation.code == 'OTHER_RELATIONSHIP'" class="col-md-4">
							<input required matInput placeholder="{{'other_death_place' | translate:translateKey}}" formControlName="relationOther">
							<control-messages [control]="deathCertificateForm.controls.relationOther"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput placeholder="{{'applicant_email' | translate:translateKey}}" type="email" formControlName="email">
							<control-messages [control]="deathCertificateForm.controls.email"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput maxlength="12" OnlyNumber minlength="12" placeholder="{{'applicant_aadhar' | translate:translateKey}}" formControlName="aadhaarNo">
							<control-messages [control]="deathCertificateForm.controls.aadhaarNo"></control-messages>
						</mat-form-field>

						<mat-form-field class="col">
							<input matInput placeholder="{{'contact_No' | translate:translateKey}}" OnlyNumber maxlength="10" formControlName="contactNo">
							<control-messages [control]="deathCertificateForm.controls.contactNo"></control-messages>
						</mat-form-field>
					</div>

					<!-- -->

					<div class="row">
						<div class="container">
							<mat-label>{{'applicant_or_hospital_address' | translate:translateKey}}</mat-label>
							<app-address #address [addressFormGroup]="deathCertificateForm.controls.applicantAddress"></app-address>
						</div>
					</div>

					<app-hos-action-bar [form]="deathCertificateForm" [step]="'step4'" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
				</mat-step>

				<mat-step>
					<ng-template matStepLabel>
						<div [matTooltip]="'upload_documents' | translate:translateKey">
							{{'upload_documents' | translate:translateKey}}</div>
					</ng-template>

					<div class="alert alert-warning">
						{{'note' | translate:translateKey}} : {{'submit_hardcopy_at_madhyawarti_school' | translate:translateKey}}
					</div>

					<div class="alert alert-warning">
						{{'note' | translate:translateKey}} : {{'maximum_size_1_MB' | translate:translateKey}}
					</div>

					<div *ngIf="showButtons">
						<mat-checkbox labelPosition="after">{{'cremation_report' | translate:translateKey}}</mat-checkbox>
						<br>
						<app-hos-file-upload [form]="deathCertificateForm" [uploadModel]="setDataValue(1,'cremationReport','1.1','cremationReport')"
						 [attachments]="attachments"></app-hos-file-upload>
					</div>

					<div *ngIf="showButtons">
						<mat-checkbox labelPosition="after">{{'form4A_death_provided_by_doctor' | translate:translateKey}}</mat-checkbox>
						<br>
						<app-hos-file-upload [form]="deathCertificateForm" [uploadModel]="setDataValue(2,'form4A','1.1','form4A')" [attachments]="attachments"></app-hos-file-upload>
					</div>

					<div *ngIf="showButtons">
						<mat-checkbox labelPosition="after">{{'deceased_id_proof' | translate:translateKey}}</mat-checkbox>
						<br>
						<app-hos-file-upload [form]="deathCertificateForm" [uploadModel]="setDataValue(3,'deceasedIdProof','1.1','deceasedIdProof')"
						 [attachments]="attachments"></app-hos-file-upload>
					</div>

					<app-hos-action-bar [form]="deathCertificateForm" [step]="'final'" (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
				</mat-step>
			</mat-horizontal-stepper>
		</form>
	</mat-card>
</div>