<mat-card class="cardBox">
  <div class="pageTitle">{{'animal_adoption' | translate: translateKey}}</div>
  <div class="row" *ngIf="showAnimalAdoptionPricingTable" style="height: 448px;">

    <mat-card-content style="margin-top: 0px;" class="p-4 col-md-6">
      <h1><b>{{'Rules for adopting wildlife animal /birds (Friends of Zoo)'| translate: translateKey}}</b></h1>
      <div class="example-table-container mat-elevation-z8 borderOne">

        <table mat-table [dataSource]="dataSourceForPricing" class="myTicketPricingTabel">

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef style="text-align:justify">Sr. No.</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" class="fullWidth">
              <div class="mobile-label">{{'s_no' | translate:translateKey}}</div>
              <div class="mobile-label1">:</div>
              <div class="row-inside"> {{i+1}} </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="animalBirdName">
            <mat-header-cell *matHeaderCellDef style="text-align:justify;padding: 15px;">{{'animal_or_bird_name' | translate:translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" class="fullWidth">
              <div class="mobile-label">{{'animal_or_bird_name' | translate:translateKey}}</div>
              <div class="mobile-label1">:</div>
              <div class="row-inside"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{row?.animalBirdName}} </div>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="annualBoardingExpenses">
            <mat-header-cell *matHeaderCellDef>{{'annual_medical_expense' | translate:translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" class="fullWidth">
              <div class="mobile-label">{{'annual_medical_expense' | translate:translateKey}}</div>
              <div class="mobile-label1">:</div>
              <div class="row-inside"> {{row?.annualBoardingExpenses}} </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="annualMaintainanceExpenses">
            <mat-header-cell *matHeaderCellDef>{{'annual_maintainance_expenses' | translate:translateKey}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" class="fullWidth">
              <div class="mobile-label">{{'annual_maintainance_expenses' | translate:translateKey}}</div>
              <div class="mobile-label1">:</div>
              <div class="row-inside"> {{row?.annualMaintainanceExpenses}} </div>
            </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="totalExpenses">
            <mat-header-cell *matHeaderCellDef style="text-align:justify">{{'total_expenses' | translate:translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" class="fullWidth">
              <div class="mobile-label">{{'total_expenses' | translate:translateKey}}</div>
              <div class="mobile-label1">:</div>
              <div class="row-inside"> &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;{{row?.totalExpenses}} </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayColumnsForAnimalAdoptionPricingTable; sticky: true;">
          </mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumnsForAnimalAdoptionPricingTable;"></mat-row>
        </table>
      </div>
    </mat-card-content>

    <mat-card-content class="p-4 col-md-6">
      <h5><b>{{'Terms and Conditions for Adoption of Zoo Animals/ Birds in Sri Sayajibaug Zoo, VMC under the ‘Friends of Zoo’ program.'| translate: translateKey}}</b></h5>
        
      <h5><ol class="olList rules-scrollable">

        <li>
          <h5>Hon’ble Municipal Commissioner, Vadodara Municipal Corporation (VMC) reserves all the rights regarding the
            Adoption of Zoo Animals/Birds under the ‘Friends of Zoo’ program.</h5>
        </li>

        <h5>Hon’ble Municipal Commissioner, VMC reserves the right to:</h5>

        <h5>i. decide which Zoo Animals/Birds may be offered for Adoption.</h5>
        <h5>ii. amend the Terms and Conditions for Adoption as and when required.</h5>
        <h5>iii. revise the maintenance expenses of the Zoo Animals/Birds offered for Adoption.</h5>


        <li>
          <h5>The Zoo Animals/Birds offered for Adoption shall always remain under the sole ownership of Sri Sayajibaug
            Zoo, VMC. The generous Donor shall be considered only as a ‘FRIEND’ of the Zoo for the Animal/Bird which
            he/she has adopted. The Donor shall here onwards be referred to as ‘FRIEND’.</h5>
        </li>

        <li>
          <h5>The Zoo Animals/Birds offered for Adoption shall be maintained within the Zoo Facility only and the
            minimum standards of upkeep of Zoo Animals as per the Central Zoo Authority (CZA), New Delhi, guidelines
            will be followed.</h5>
        </li>

        <li>
          <h5>The FRIEND shall neither be permitted to have any physical contact with the Zoo Animal/Bird that he/she
            has adopted, nor the FRIEND will be allowed to bring any outside food for the Animal/Bird which he/she has
            adopted. </h5>
        </li>

        <li>
          <h5>The Zoo Authority shall display the FRIEND’s Name on a signage at the respective Enclosure of the
            Animal/Bird that the FRIEND has chosen for Adoption.</h5>

          <h5>Please Note: The FRIEND shall give the details of the Name only which he/she desires to be displayed on
            the signage. The dimensions and format of the signage is already fixed by the Zoo Authority.</h5>

        </li>

        <li>
          <h5>The Zoo Authority shall facilitate the FRIEND by permitting 25 Free Entries to the Zoo throughout his/her
            period of Adoption.</h5>
          <h5>Please Note: The Free Entry during the Adoption Period will be given only on a prior intimation by the
            FRIEND to the Zoo Office. For availing the Free Entry, the FRIEND is hereby requested to liaison with the
            Zoo Education Officer; Contact No.: +91 9033340778.</h5>
        </li>

        <li>
          <h5>The FRIEND shall be honoured by awarding a ‘Certificate of Appreciation’ duly signed by the higher
            Authorities of VMC.</h5>
        </li>

        <li>
          <h5>The FRIEND may be invited as a Guest for some of the Awareness/Educational programs organized by the
            Zoo.</h5>
        </li>

        <li>
          <h5>The FRIENDS are requested to take a kind note that the amount paid towards the Adoption Scheme is
            Non-Refundable. Therefore, in the event of death of the Animal/Bird under adoption during the adoption
            period, the amount will not be paid back.</h5>
        </li>

        <li>
          <h5>In addition to the Point No. 9, during the period of adoption the Animal/Bird under adoption may be
            exchanged with another Zoo and in this case also the amount will not be paid back.</h5>
            <br>


          <h3>❖ GENEROUS CONSIDERATIONS:</h3>
            <br>
          <h5>I. In addition to the Animal Adoption Scheme of Zoo; the Zoo shall be highly obliged to receive
            contributions from Individuals/Corporates in the form of Commodity, which are a special seasonal
            requirements for Animals/Birds for their better upkeep viz. Coolers during Summer, Heaters during Winter,
            Water Troughs, Feed Baskets, etc.</h5>

          <h5>II. Donations are also accepted on the occasions of major Festivals; on the occasions of Birthdays and/or
            Death Anniversary; to commemorate days like World Environment Day, World Animal Day, International Day for
            Biodiversity; Wildlife Week, etc.</h5>

          <h5>III. Donations are also welcomed to strengthen the Public Amenities at the Zoo likewise Wheelchairs, RO
            Water Systems at Drinking Water Points, Benches at the Resting Points, Dust Bins, etc.</h5>

          <h5>* Corporate Organizations can include the above Considerations in their CSR activity towards Environment
            and Nature Conservation.</h5>
        </li>
      </ol></h5>
    </mat-card-content>

  </div>
  <div class="fotButtonBar" *ngIf="showAnimalAdoptionPricingTable">
    <div class="col-sm-12 col-md-12 text-right" style="height: 34px;
    margin-top: -16px;">
      <button mat-raised-button (click)="showAnimalAdoptionPricingTable = false; showAnimalAdoptionForm= true;"
        color="primary">
        <!-- <mat-icon>thumb_up_alt</mat-icon> -->
        {{'submit'| translate: translateKey}}
      </button>
    </div>
  </div>

  <mat-card-content class="p-4" *ngIf="showAnimalAdoptionForm">
    <p class="pb-2">{{head_lines| translate: translateKey}}</p>
    <h2>{{'animal_adoption_aplication_form'| translate: translateKey}}</h2>

    <form [formGroup]="animalAdoptionForm">
      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput maxlength="25" appValidationFields [validationFieldsType]="'onlyNameWithSpace'" type="text"
            formControlName="adoptingPersonOrganizationName"
            placeholder="{{'adopter_or_rganisation_name' | translate: translateKey}}" required>
          <control-messages [control]="animalAdoptionForm.get('adoptingPersonOrganizationName')"></control-messages>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput type="text" formControlName="adoptersAddress" maxlength="100"
            placeholder="{{'adopter_organisation_address' | translate: translateKey}}" required>
          <control-messages [control]="animalAdoptionForm.get('adoptersAddress')"></control-messages>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="adopterContactNumber"
            placeholder="{{'contact_number' | translate: translateKey}}" required>
          <control-messages [control]="animalAdoptionForm.get('adopterContactNumber')"></control-messages>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput type="email" formControlName="adopterEmailId"
            placeholder="{{'applicant_email' | translate: translateKey}}" maxlength="50">
          <control-messages [control]="animalAdoptionForm.get('adopterEmailId')"></control-messages>
        </mat-form-field>

        <div class="col-md-4 ngSelect">
          <ng-select [items]="animalAdoptionPricing" formControlName="animalName" [multiple]="false"
            (clear)="resetCalculations($event);" (change)="getValues($event)"
            placeholder="{{'animal_or_bird_preferred_for_adoption'| translate: translateKey}}"
            bindLabel="animalBirdName">
          </ng-select>
          <control-messages [control]="animalAdoptionForm.get('animalName')">
          </control-messages>
        </div>


        <mat-form-field class="col-md-3">
          <input matInput type="text" OnlyNumber maxlength="2" (change)="calculateAmount();" [(ngModel)]="selectedAnimalAnnualBoardingExpenses"
            [ngModelOptions]="{standalone: true}" placeholder="{{'No of Count' | translate: translateKey}}" required>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <input matInput type="text" formControlName="totalAdoptionCost"
            placeholder="{{'total_cost_of_adoption' | translate: translateKey}}" readonly>
          <control-messages [control]="animalAdoptionForm.get('totalAdoptionCost')"></control-messages>
        </mat-form-field>

        <div class="col-md-2 pt-2" style="text-align: right;">
          <button (click)="openDialog()" type="button" mat-raised-button color="primary">
            {{'Add' | translate:translateKey}}
          </button>
        </div>

        <!-- <mat-form-field class="col-md-6">
          <input matInput type="number" [(ngModel)]="selectedAnimalAnnualMaintainanceExpenses"
            [ngModelOptions]="{standalone: true}"
            placeholder="{{'annual_maintainance_expenses' | translate: translateKey}}" readonly required>
        </mat-form-field> -->



        <mat-form-field class="col-md-12 labelLonger">
          <textarea matInput type="text" formControlName="message" maxlength="255"
            placeholder="{{'adoption_msg' | translate: translateKey}}"></textarea>
          <!-- <control-messages [control]="animalAdoptionForm.get('message')"></control-messages> -->
        </mat-form-field>

        

      </div>


      <div>
        <div class="col-md-12" *ngIf="animalAdoptionForm.get('animalNameList')['controls'].length >= 1">
          <!-- <h2 class="col-md-11 float-left">{{'o_t_occupational_therapy ' | translate:translateKey}} {{i+1}}</h2> -->

          <div style="margin-top: 15px;" class="table-responsive" formArrayName="animalNameList">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" width="56">{{'Sr.No'| translate: translateKey}}</th>
                  <th scope="col">{{'Animal BirdName'| translate: translateKey}}</th>
                  <th scope="col">{{'No of Count'| translate: translateKey}}</th>
                  <th scope="col">{{'Total Expenses'| translate: translateKey}}</th>

                  <th scope="col" *ngIf="animalAdoptionForm.get('canEdit').value">{{'Action'| translate: translateKey}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of animalAdoptionForm.get('animalNameList')['controls']; let i = index;"
                  [formGroupName]="i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.get('animalBirdName').value}}</td>
                  <td>{{item.get('totalQty').value}}</td>
                  <td>{{item.get('totalExpenses').value}}</td>
                  <td *ngIf="animalAdoptionForm.get('canEdit').value">
                    <button type="button" mat-icon-button (click)="deleteOT(item.value, i)" class="m-1">
                      <mat-icon matTooltip="Delete" color="warn">delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <div class="pl-3">

        <mat-checkbox class="d-block checkBoxLabel" labelPosition="after" required formControlName="termsCondition">
          {{'i_have_read_and_agree_with_terms_and_conditions' | translate:translateKey}}
          <a class="stretchedLink">

          </a>
        </mat-checkbox>

        <!-- <mat-checkbox class="d-block" labelPosition="after" formControlName="termsCondition">
          {{'i_have_read_and_agree_with_terms_and_conditions' | translate:translateKey}}
          <terms-conditions
              [moduleNameParam]="{moduleName:ticketingService.moduleName,resourName: ticketingService.resourceType}">
          </terms-conditions>
      </mat-checkbox> -->
      </div>

      <select-payment-gateway #paymentGateway [applicationType]="'Zooticketing'"></select-payment-gateway>
    </form>

    <div class="row mt-4 fotButtonBar">
      <div class="col-sm-12 col-md-12 justify-content-between d-flex">
        <button type="button" color="primary" mat-raised-button
          (click)="showAnimalAdoptionPricingTable = true; showAnimalAdoptionForm = false;">
          <!-- <mat-icon>navigate_before</mat-icon> -->
          {{'back' | translate:translateKey}}
        </button>
        <button mat-raised-button color="primary" type="button" [disabled]="animalAdoptionForm.invalid"
          (click)="submitAnimalAdoptionRequest()">
          <!-- <mat-icon>check_circle_outline</mat-icon> -->
          {{'submit_application'| translate: translateKey}}
        </button>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<!-- this div is used for printing the receipt -->
<div id="sectionToPrint"></div>