// mat-card-title{
//     font-size: 16px;
// }

// mat-expansion-panel{
//     border-bottom: 1px solid #3f51b5 !important;
    
// }

.middle{margin:  0 auto}

.mat-chip-list-wrapper {
    justify-content: center;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.i-flex{
    display: inline-flex
}

.chartHeight{
    height: 120px;
    // margin-left: -15px
}

.mt20{
    margin-top: 20%;
}
.pl15{
    padding-left: 15px;
}
.ml_15{
    margin-left: -15px;
}