<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
<mat-card class="formClass cardBorder">
	<form [formGroup]="provisionalNocForm">
		<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'applicant_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput readonly placeholder="{{'provisional_noc_number' | translate:translateKey}}" formControlName="provisionalNocNumber">
					</mat-form-field>
					<mat-form-field class="col-md-4" *ngIf="provisionalNocForm.get('oldReferenceNumber').value">
						<input matInput readonly placeholder="{{'old_refrance_number' | translate:translateKey}}" formControlName="oldReferenceNumber">
					</mat-form-field>
				</div>
				<div class="row">

					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace' required maxlength="100"
						 placeholder="{{'applicant_Name' | translate:translateKey}}" formControlName="applicantName" appGujInputSource
						 targetElement="applicantNameGuj" [form]="provisionalNocForm">
						<control-messages [control]="provisionalNocForm.controls.applicantName"></control-messages>
					</mat-form-field>
					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="300" required formControlName="applicantNameGuj" appGujInputTarget [form]="provisionalNocForm"
						 placeholder="{{ 'applicant_Name' | translate:translateKey:'gu' }}">
						<control-messages [control]="provisionalNocForm.controls.applicantNameGuj"></control-messages>
					</mat-form-field>
					<!-- gujarati -->

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'applicant_mobile' | translate:translateKey}}" type="tel" maxlength="10"
						 minlength="10" formControlName="contactNo" required>
						<control-messages [control]="provisionalNocForm.controls.contactNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'office_contact_no' | translate:translateKey}}" type="tel" maxlength="10"
						 minlength="10" formControlName="officeContactNo" required>
						<control-messages [control]="provisionalNocForm.controls.officeContactNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'onsite_person_mobile_no' | translate:translateKey}}" type="tel"
						 maxlength="10" minlength="10" formControlName="onsitePersonMobileNo" required>
						<control-messages [control]="provisionalNocForm.controls.onsitePersonMobileNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" required maxlength="300" placeholder="{{'applicant_permanent_address' | translate:translateKey}}"
						 formControlName="applicantPermanentAddress" appGujInputSource targetElement="applicantPermanentAddressGuj"
						 [form]="provisionalNocForm"></textarea>
						<control-messages [control]="provisionalNocForm.controls.applicantPermanentAddress"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" maxlength="900" type="text" required formControlName="applicantPermanentAddressGuj"
						 appGujInputTarget [form]="provisionalNocForm" placeholder="{{ 'applicant_permanent_address' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="provisionalNocForm.controls.applicantPermanentAddressGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput appPreventSpace placeholder="{{'office_email_id' | translate:translateKey}}" type="email"
						 formControlName="officeEmailId" required maxlength="50">
						<control-messages [control]="provisionalNocForm.controls.officeEmailId"></control-messages>
					</mat-form-field>
				</div>
				<app-action-bar [form]="provisionalNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 1 Ends -->
			<!-- step 2 Start -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'form_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">

					<div class="col-md-4 ngSelect" formGroupName="appliedForId">
						<ng-select required placeholder="{{'applied_for' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of FS_APPLIED_FOR" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="provisionalNocForm.get('appliedForId').controls.code"></control-messages>
					</div>
					<div class="col-md-4 ngSelect" formGroupName="usageTypeId">
						<ng-select required placeholder="{{'usage_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of FS_USAGE_TYPE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="provisionalNocForm.get('usageTypeId').controls.code"></control-messages>
					</div>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="200" placeholder="{{'subject_to' | translate:translateKey}}"
						 formControlName="subjectTo">
						<control-messages [control]="provisionalNocForm.controls.subjectTo"></control-messages>
					</mat-form-field>
				</div>
				<div class="row">
					<!-- purpose_of_building_use -->
					<div class="col-md-8 ngSelect">
						<ng-select required [items]="FS_PURPOSE_OF_BUILDING_USE" bindLabel="name" formControlName="purposeOfBuildingUse"
						 [multiple]="true" (ngModelChange)="otherRemark($event);" placeholder="{{'purpose_of_building_use' | translate:translateKey}} *">
						</ng-select>
						<control-messages [control]="provisionalNocForm.get('purposeOfBuildingUse')"></control-messages>
					</div>
					<mat-form-field class="col-md-4" *ngIf="codeOther">
						<input matInput type="text" maxlength="200" placeholder="{{'other_purpose_remark' | translate:translateKey}}"
						 formControlName="otherPurposeRemark">
						<control-messages [control]="provisionalNocForm.controls.otherPurposeRemark"></control-messages>
					</mat-form-field>
				</div>

				<!-- <div class="row">
					<h2>{{'permanat_address' | translate:translateKey}}</h2>
					<app-address [isDisplayGujFields]="true" #permanantAddressEstablishment [requiredFeilds]="provisionalNocForm.controls.permanantAddress.value"
					 [addressFormGroup]="provisionalNocForm.controls.permanantAddress"></app-address>
				</div> -->
				<app-action-bar [form]="provisionalNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 2 Ends -->

			<!-- step 3 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'architect_detail' | translate:translateKey}}</div>
				</ng-template>
				<div class="row">

					<mat-form-field class="col-md-4">
						<input matInput type="text" appAlphaNumeric formControlName="architectRegistrationNumber" placeholder="{{'architect_regi_no' | translate: translateKey }} *"
						 maxlength="15">
						<control-messages [control]="provisionalNocForm.controls.architectRegistrationNumber"></control-messages>
					</mat-form-field>

				</div>
				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace' required maxlength="100"
						 placeholder="{{'architect_name' | translate:translateKey}}" formControlName="architectName" appGujInputSource
						 targetElement="architectNameGuj" [form]="provisionalNocForm">
						<control-messages [control]="provisionalNocForm.controls.architectName"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace' required maxlength="50"
						 placeholder="{{'architect_firm_name' | translate:translateKey}}" formControlName="architectFirmName"
						 appGujInputSource targetElement="architectFirmNameGuj" [form]="provisionalNocForm">
						<control-messages [control]="provisionalNocForm.controls.architectFirmName"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" required maxlength="300" placeholder="{{'architect_permanent_address' | translate:translateKey}}"
						 formControlName="architectPermanentAddress" appGujInputSource targetElement="architectPermanentAddressGuj"
						 [form]="provisionalNocForm"></textarea>
						<control-messages [control]="provisionalNocForm.controls.architectPermanentAddress"></control-messages>
					</mat-form-field>

					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="300" required formControlName="architectNameGuj" appGujInputTarget [form]="provisionalNocForm"
						 placeholder="{{ 'architect_name' | translate:translateKey:'gu' }}">
						<control-messages [control]="provisionalNocForm.controls.architectNameGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="150" required formControlName="architectFirmNameGuj" appGujInputTarget
						 [form]="provisionalNocForm" placeholder="{{ 'architect_firm_name' | translate:translateKey:'gu' }}">
						<control-messages [control]="provisionalNocForm.controls.architectFirmNameGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" maxlength="900" type="text" required formControlName="architectPermanentAddressGuj"
						 appGujInputTarget [form]="provisionalNocForm" placeholder="{{ 'architect_permanent_address' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="provisionalNocForm.controls.architectPermanentAddressGuj"></control-messages>
					</mat-form-field>
					<!-- /gujarati -->
				</div>
				<div class="row">

					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="10" minlength="10" type="tel" formControlName="architectContactNo"
						 placeholder="{{'architect_contact_number' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.architectContactNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" type="text" required maxlength="300" placeholder="{{'site_address' | translate:translateKey}}"
						 formControlName="siteAddress" appGujInputSource targetElement="siteAddressGuj" [form]="provisionalNocForm"></textarea>
						<control-messages [control]="provisionalNocForm.controls.siteAddress"></control-messages>
					</mat-form-field>
					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" maxlength="900" required formControlName="siteAddressGuj" appGujInputTarget
						 [form]="provisionalNocForm" placeholder="{{ 'site_address' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="provisionalNocForm.controls.siteAddressGuj"></control-messages>
					</mat-form-field>
					<!-- /gujarati -->

					<div class="col-md-4 ngSelect" formGroupName="fireVendorType">
						<ng-select placeholder="{{'fire_vendor_type' | translate:translateKey}} " formControlName="code">
							<ng-option *ngFor="let type of FS_FIRE_VENDOR_TYPE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="provisionalNocForm.get('fireVendorType').controls.code"></control-messages>
					</div>
					<mat-form-field class="col-md-4">
						<input matInput required appAlphaNumeric maxlength="15" type="text" formControlName="fireVendorRegistrationNumber"
						 placeholder="{{'fire_vendor_registration_no' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.fireVendorRegistrationNumber"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace' required maxlength="150"
						 placeholder="{{'fire_vendor_name' | translate:translateKey}}" formControlName="fireVendorName" appGujInputSource
						 targetElement="fireVendorNameGuj" [form]="provisionalNocForm">
						<control-messages [control]="provisionalNocForm.controls.fireVendorName"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="450" required formControlName="fireVendorNameGuj" appGujInputTarget [form]="provisionalNocForm"
						 placeholder="{{ 'fire_vendor_name' | translate:translateKey:'gu' }}">
						<control-messages [control]="provisionalNocForm.controls.fireVendorNameGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" type="text" required maxlength="900" placeholder="{{'fire_vendor_address' | translate:translateKey}}"
						 formControlName="fireVendorAddress"></textarea>
						<control-messages [control]="provisionalNocForm.controls.fireVendorAddress"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" type="text" required maxlength="300" placeholder="{{'fire_vendor_office_address' | translate:translateKey}}"
						 formControlName="fireVendorOfficeAddress"></textarea>
						<control-messages [control]="provisionalNocForm.controls.fireVendorOfficeAddress"></control-messages>
					</mat-form-field>
				</div>

				<app-action-bar [form]="provisionalNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step3', next: 3, back: 1}"></app-action-bar>
			</mat-tab>
			<!-- step 3 Ends -->

			<!-- step 4 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'location_details' | translate:translateKey}}</div>
				</ng-template>
				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'final_plot_no' | translate:translateKey}}"
						 formControlName="fpNo">
						<control-messages [control]="provisionalNocForm.controls.fpNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'revenue_survey_no' | translate:translateKey}}"
						 formControlName="rsNo">
						<control-messages [control]="provisionalNocForm.controls.rsNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'tika_no' | translate:translateKey}}" formControlName="tikaNo">
						<control-messages [control]="provisionalNocForm.controls.tikaNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'town_planning_no' | translate:translateKey}}"
						 formControlName="townPlanningNo">
						<control-messages [control]="provisionalNocForm.controls.townPlanningNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="50" required placeholder="{{'building_location' | translate:translateKey}}"
						 formControlName="buildingLocation">
						<control-messages [control]="provisionalNocForm.controls.buildingLocation"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'block_no' | translate:translateKey}}" formControlName="blockNo">
						<control-messages [control]="provisionalNocForm.controls.blockNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'O_P_no' | translate:translateKey}}" formControlName="opNo">
						<control-messages [control]="provisionalNocForm.controls.opNo"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="10" required placeholder="{{'city_servay_no' | translate:translateKey}}"
						 formControlName="citySurveyNo">
						<control-messages [control]="provisionalNocForm.controls.citySurveyNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput maxlength="5" required OnlyNumber placeholder="{{'building_height' | translate:translateKey}}"
						 formControlName="buildingHeight">
						<control-messages [control]="provisionalNocForm.controls.buildingHeight"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="5" required appAlphaNumeric placeholder="{{'total_building_floor' | translate:translateKey}}"
						 formControlName="totalBuildingFloor">
						<control-messages [control]="provisionalNocForm.controls.totalBuildingFloor"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="3" type="tel" formControlName="noOfBasement" placeholder="{{'no_of_basement' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.noOfBasement"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="2" type="tel" formControlName="lowerBasement" placeholder="{{'lower_basement' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.lowerBasement"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="2" type="tel" formControlName="upperBasement" placeholder="{{'upper_basement' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.upperBasement"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="3" type="tel" formControlName="basementArea" placeholder="{{'basement_area' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.basementArea"></control-messages>
					</mat-form-field>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'multiple_towers' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="multipleTowers" required>
							<mat-radio-button [value]="true">
								Yes
							</mat-radio-button>
							<mat-radio-button [value]="false">
								No
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="provisionalNocForm.controls.multipleTowers"></control-messages>
					</div>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="3" type="tel" formControlName="noOfTowers" placeholder="{{'no_of_towers' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.noOfTowers"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="3" type="tel" formControlName="noOfApproachedRoad" placeholder="{{'no_of_approached_road' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.noOfApproachedRoad"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="3" type="tel" formControlName="noOfVentilation" placeholder="{{'no_of_ventilation' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.noOfVentilation"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="20" required appAlphaNumeric placeholder="{{'ventilation_provision_detail' | translate:translateKey}}"
						 formControlName="ventilationProvisionDetail">
						<control-messages [control]="provisionalNocForm.controls.ventilationProvisionDetail"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="4" type="tel" formControlName="plotArea" placeholder="{{'plot_area' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.plotArea"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="4" type="tel" formControlName="constructionArea" placeholder="{{'construction_area' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.constructionArea"></control-messages>
					</mat-form-field>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'drawing_provided' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="drawingProvided" required>
							<mat-radio-button [value]="true">
								Yes
							</mat-radio-button>
							<mat-radio-button [value]="false">
								No
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="provisionalNocForm.controls.drawingProvided"></control-messages>
					</div>
				</div>
				<div class="row">
					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" type="text" required maxlength="200" placeholder="{{'site_address_with_building_name' | translate:translateKey}}"
						 formControlName="siteAddressWithBuildingName" appGujInputSource targetElement="siteAddressWithBuildingNameGuj"
						 [form]="provisionalNocForm"></textarea>
						<control-messages [control]="provisionalNocForm.controls.siteAddressWithBuildingName"></control-messages>
					</mat-form-field>
					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" maxlength="600" required formControlName="siteAddressWithBuildingNameGuj"
						 appGujInputTarget [form]="provisionalNocForm" placeholder="{{ 'site_address_with_building_name' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="provisionalNocForm.controls.siteAddressWithBuildingNameGuj"></control-messages>
					</mat-form-field>
					<!-- /gujarati -->

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" required maxlength="200" placeholder="{{'other_information' | translate:translateKey}}"
						 formControlName="otherInformation"></textarea>
						<control-messages [control]="provisionalNocForm.controls.otherInformation"></control-messages>
					</mat-form-field>
				</div>
				<div class="row">
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'gas_line_in_underground' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="gaslineInUnderground" required>
							<mat-radio-button [value]="true">
								Yes
							</mat-radio-button>
							<mat-radio-button [value]="false">
								No
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="provisionalNocForm.controls.gaslineInUnderground"></control-messages>
					</div>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'underground_cabling' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="undergroundCabling" required>
							<mat-radio-button [value]="true">
								Yes
							</mat-radio-button>
							<mat-radio-button [value]="false">
								No
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="provisionalNocForm.controls.undergroundCabling"></control-messages>
					</div>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'ongc_line_in_underground' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="ongcLineInUnderground" required>
							<mat-radio-button [value]="true">
								Yes
							</mat-radio-button>
							<mat-radio-button [value]="false">
								No
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="provisionalNocForm.controls.ongcLineInUnderground"></control-messages>
					</div>
				</div>
				<app-action-bar [form]="provisionalNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step4', next: 4, back: 2}"></app-action-bar>
			</mat-tab>
			<!-- step 4 Ends -->

			<!-- step 5 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'other_details' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<div class="col-md-4 ngSelect" formGroupName="areaZone">
						<ng-select placeholder="{{'area_zone' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of FS_AREA_ZONE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="provisionalNocForm.get('areaZone').controls.code"></control-messages>
					</div>
					<div class="col-md-4 ngSelect" formGroupName="previouslyNocTaken">
						<ng-select placeholder="{{'previously_noc_taken' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of FS_PREVIOUSLY_NOC_TAKEN" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="provisionalNocForm.get('previouslyNocTaken').controls.code"></control-messages>
					</div>
				</div>

				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="undergroundWaterTankCapacity"
						 placeholder="{{'underground_water_tank_capacity' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.undergroundWaterTankCapacity"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="undergroundWaterTankLength"
						 placeholder="{{'underground_water_tank_length' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.undergroundWaterTankLength"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="undergroundWaterTankBreadth"
						 placeholder="{{'underground_water_tank_breadth' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.undergroundWaterTankBreadth"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="undergroundWaterTankHeight"
						 placeholder="{{'underground_water_tank_height' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.undergroundWaterTankHeight"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
							<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="undergroundWaterTankVolume"
							 placeholder="{{'underground_water_tank_volume_LBH_in_M³' | translate:translateKey }}">
							<control-messages [control]="provisionalNocForm.controls.undergroundWaterTankVolume"></control-messages>
						</mat-form-field>
		
						<div class="col-md-4 radioBtnError">
							<mat-label>{{'underground_watertank_map_approved' | translate:translateKey }} *</mat-label>
							<mat-radio-group formControlName="undergroundWatertankMapApproved" required (change)="dependentAttachment($event.value,'UNDERGROUND_WATER_TANK_MAP')">
								<mat-radio-button [value]="true">
									Yes
								</mat-radio-button>
								<mat-radio-button [value]="false">
									No
								</mat-radio-button>
							</mat-radio-group>
							<control-messages [control]="provisionalNocForm.controls.undergroundWatertankMapApproved"></control-messages>
						</div>
				</div>
				

				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="overgroundWaterTankCapacity"
						 placeholder="{{'overground_water_tank_capacity' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.overgroundWaterTankCapacity"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="overgroundWaterTankLength"
						 placeholder="{{'overground_water_tank_length' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.overgroundWaterTankLength"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="overgroundWaterTankBreadth"
						 placeholder="{{'overground_water_tank_breadth' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.overgroundWaterTankBreadth"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="overgroundWaterTankHeight"
						 placeholder="{{'overground_water_tank_height' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.overgroundWaterTankHeight"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="8" type="tel" formControlName="overgroundWaterTankVolume"
						 placeholder="{{'overground_water_tank_volume_LBH_in_M³' | translate:translateKey }}">
						<control-messages [control]="provisionalNocForm.controls.overgroundWaterTankVolume"></control-messages>
					</mat-form-field>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'overground_water_tank_map_approved' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="overgroundWatertankMapApproved" required (change)="dependentAttachment($event.value,'OVERHEAD_WATER_TANK_MAP')">
							<mat-radio-button [value]="true">
								Yes
							</mat-radio-button>
							<mat-radio-button [value]="false">
								No
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="provisionalNocForm.controls.overgroundWatertankMapApproved"></control-messages>
					</div>
				</div>

				<app-action-bar [form]="provisionalNocForm" (handleOnSaveAndNext)="handleOnSaveAndNext($event)" (tabIndex)="onTabChange($event)"
				 [stepInfo]="{step: 'step5', next: 5, back: 3}"></app-action-bar>
			</mat-tab>
			<!-- step 5 Ends -->

			<!-- step  Attachment Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
				<div class="row">
					<ng-container *ngFor="let doc of provisionalNocForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
							<label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }} <span *ngIf="doc.mandatory">*</span></label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>

				<app-action-bar [uploadFiles]="uploadFilesArray" [form]="provisionalNocForm" (tabIndex)="onTabChange($event) "
				 (handleOnSaveAndNext)="handleOnSaveAndNext($event)" (handleErrors)="handleErrorsOnSubmit($event)" [stepInfo]="{step: 'final', next:6, back:4} "></app-action-bar>

			</mat-tab>
			<!-- step Attachment Ends -->

		</mat-tab-group>
	</form>
	<!-- <pre>{{ provisionalNocForm.get('serviceDetail').get('serviceUploadDocuments').value | json }}</pre> -->
</mat-card>

<!-- 
					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'approved_layout_plan_vuda_vmc' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(2,'ApprovedLayoutplanVudaVMC','1.2','doc')"></file-upload>
						</div>
					</div>
					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'approved_approach_road_vuda_vmc' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(3,'ApprovedApproachRoadVudaVMC', '1.3', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'measurement_of_tank_underground_overhead_with_map' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(4, 'MeasurementofTankUndergroundOverheadwithmap', '1.4', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'explosive_license' | translate: translateKey}} </label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(5,'Explosivelicense', '1.5','doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'raja_chithi_of_vmc' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(6,'Rajachithiofvmc', '1.6', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'completion_certi' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(7, 'CompletionCertificate', '1.7', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'structural_stability_certi' | translate: translateKey}}</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(8, 'StructuralStabilityCertificate', '1.8', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'escalator_lift_approved_by_govt_certi' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(9, 'EscalatorLiftapprovedbyGovtCertificate', '1.9', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'fire_drawing_floor_wise' | translate: translateKey}} *</label>
							<file-upload [form]="provisionalNocForm" [uploadModel]="setDataValue(10, 'FireDrawingFloorwise', '2', 'doc') "></file-upload>
						</div>
					</div> -->