<app-title-bar [title]="'screen_title' | translate: translateKey">
	<!-- <button class="pull-right" mat-stroked-button type="button" (click)="patchValue()">
		Patch Value
	</button> -->
</app-title-bar>

<mat-card class="formClass cardBorder">
	<form [formGroup]="drainagePipeliConnectionForm">

		<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'application-details' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput type="text" required maxlength="250" appValidationFields
							validationFieldsType='onlyNameWithSpace'
							placeholder="{{'scheme-name' | translate:translateKey}}" formControlName="schemeName">
						<control-messages [control]="drainagePipeliConnectionForm.get('schemeName')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<input matInput type="text" required maxlength="250"
							placeholder="{{'society-name' | translate:translateKey}}" formControlName="societyName">
						<mat-error *ngIf="drainagePipeliConnectionForm.get('societyName')" style="font-size: 11px;">
							Society Name / Apartment Name is required
						  </mat-error>
					</mat-form-field>

					<div class="col-md-6 ngSelect">
						<div *ngIf="wardZoneLevel.length>=1">
							<ng-select required placeholder="{{'water-pipeline-zone' | translate:translateKey}} *"
								formControlName="drainagePipelineZoneId"
								(change)="onChangedWardZone($event,2)">
								<ng-option *ngFor="let zone of wardZoneLevel1List" [value]="zone.parentWardzoneId">{{zone.wardzoneName}}</ng-option>
							</ng-select>
							<mat-error *ngIf="drainagePipeliConnectionForm.get('drainagePipelineZoneId').touched && !drainagePipeliConnectionForm.get('drainagePipelineZoneId').value" style="font-size: 11px;">
								Zone is required
							  </mat-error>
						</div>
					</div>
					<div class="col-md-6 ngSelect">
						<div *ngIf="wardZoneLevel.length>=2">
							<ng-select required placeholder="{{'water-pipeline-ward' | translate:translateKey}} *"
								formControlName="drainagePipelineWardId"
								(change)="onChangedWardZone($event,3)">
								<ng-option *ngFor="let zone of wardZoneLevel2List" [value]="zone.wardzoneId">{{zone.wardzoneName}}</ng-option>
							</ng-select>
							<mat-error *ngIf="drainagePipeliConnectionForm.get('drainagePipelineWardId').touched && !drainagePipeliConnectionForm.get('drainagePipelineWardId').value" style="font-size: 11px;">
								Ward is required
							  </mat-error>
						</div>
					</div>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput rows="1" cols="50" maxlength="100" formControlName="landmark"
							placeholder="{{ 'landmark' | translate:translateKey }}" >
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<textarea matInput rows="1" cols="50" maxlength="250" formControlName="propertyAddress"
							placeholder="{{ 'property-address' | translate:translateKey }}" required> </textarea>
						<mat-error *ngIf="drainagePipeliConnectionForm.get('propertyAddress')" style="font-size: 11px;">
							Address is required
						  </mat-error>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-4">
						<input required matInput OnlyNumber formControlName="pinCode"
						placeholder="{{'pin-code' | translate:translateKey}}" minlength="6" maxlength="6">
						<mat-error *ngIf="drainagePipeliConnectionForm.get('pinCode')" style="font-size: 11px;">
							Pin Code is required
						  </mat-error>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="tel"  formControlName="tpNo"
							placeholder="{{'tp-no' | translate: translateKey }} " minlength="10" maxlength="10">
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput   maxlength="10" formControlName="fpNo"
							placeholder="{{'fp-no' | translate:translateKey}}">
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput  maxlength="10"  formControlName="revenueSurveyNo" 
							placeholder="{{'revenue-survey-no' | translate:translateKey}}">
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput  appPreventSpace maxlength="50"
							placeholder="{{'city-survey-no' | translate:translateKey}}" type="text"
							formControlName="citySurveyNo" >
					</mat-form-field>
 
					<mat-form-field class="col-md-4">
						<input matInput  appPreventSpace  maxlength="50"
							placeholder="{{'building-permissin-no' | translate:translateKey}}" type="text"
							formControlName="buildingPermissionNo">
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input  matInput appDate  [matDatepicker]="picker1" [max]="disablefutureDate"
							formControlName="buildingPermissionDate"
							(dateChange)="dateFormate($event.value,'buildingPermissionDate');"
							placeholder="{{ 'building-permission-date' | translate:translateKey }}  ">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
					</mat-form-field>

				</div>
				<app-action-bar [form]="drainagePipeliConnectionForm" (tabIndex)="onTabChange($event)"
					[stepInfo]="{step: 'step1', next: 1, back: 0}" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
			</mat-tab>
			<!-- step 1 Ends -->

			<!-- step 2 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'applicant-developer-details' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput type="text" required maxlength="250" appValidationFields
							validationFieldsType='onlyNameWithSpace'
							placeholder="{{'developer-full-name' | translate:translateKey}}"
							formControlName="developerFullName">
						<control-messages [control]="drainagePipeliConnectionForm.get('developerFullName')">
						</control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<textarea matInput rows="1" cols="50" maxlength="200" formControlName="developerAddress"
							placeholder="{{ 'developer-address' | translate:translateKey }}" required> </textarea>
						<control-messages [control]="drainagePipeliConnectionForm.get('developerAddress')">
						</control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput OnlyNumber required maxlength="10" minlength="10" formControlName="developerMobileNo"
							placeholder="{{'developer-mobile-no' | translate:translateKey}}">
						<mat-error *ngIf="drainagePipeliConnectionForm.get('developerMobileNo')" style="font-size: 11px;">
							Developer Mobile No. is required
						  </mat-error>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput  appPreventSpace type="text"
							placeholder="{{'developer-email-id' | translate:translateKey}}"
							formControlName="developerEmailId" >
						<control-messages [control]="drainagePipeliConnectionForm.get('developerEmailId')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required maxlength="10" formControlName="reraRegNo"
							placeholder="{{'rera-reg-no' | translate:translateKey}}">
						<mat-error *ngIf="drainagePipeliConnectionForm.get('reraRegNo')" style="font-size: 11px;">
							RERA Registration No. is required
						  </mat-error>
					</mat-form-field>

				</div>
				<div class="row">
					<mat-form-field class="col-md-4">
						<input required matInput appDate [max]="disablefutureDate" [matDatepicker]="picker2"
							formControlName="reraRegistrationDate"
							(dateChange)="dateFormate($event.value,'reraRegistrationDate');"
							placeholder="{{ 'rera-registration-date' | translate:translateKey }}  ">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
						<mat-error *ngIf="drainagePipeliConnectionForm.get('reraRegistrationDate')" style="font-size: 11px;">
							RERA Registration Date is required
						  </mat-error>
					</mat-form-field>
				</div>
				<app-action-bar [form]="drainagePipeliConnectionForm" (tabIndex)="onTabChange($event)"
					[stepInfo]="{step: 'step2', next: 2, back: 0}" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
			</mat-tab>
			<!-- step 2 Ends -->

			<!-- step 3 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'contractor-details' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput type="text" required maxlength="250" appValidationFields
							validationFieldsType='onlyNameWithSpace'
							placeholder="{{'contractor-full-name' | translate:translateKey}}"
							formControlName="contractorFullName">
						<control-messages [control]="drainagePipeliConnectionForm.get('contractorFullName')">
						</control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<textarea matInput rows="1" cols="50" maxlength="250" formControlName="contractorAddress"
							placeholder="{{ 'contractor-address' | translate:translateKey }}" required> </textarea>
						<control-messages [control]="drainagePipeliConnectionForm.get('contractorAddress')">
						</control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput OnlyNumber required maxlength="10" minlength="10" formControlName="contractorMobileNo"
							placeholder="{{'contractor-mobile-no' | translate:translateKey}}">
						<mat-error *ngIf="drainagePipeliConnectionForm.get('contractorMobileNo')" style="font-size: 11px;">
							Contractor Mobile No. is required
						  </mat-error>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput  appPreventSpace
							placeholder="{{'contractor-email-id' | translate:translateKey}}" type="text"
							formControlName="contractorEmailId" >
						<control-messages [control]="drainagePipeliConnectionForm.get('contractorEmailId')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput required maxlength="10" formControlName="registrationNumber"
							placeholder="{{'registration-number' | translate:translateKey}}">
						<control-messages [control]="drainagePipeliConnectionForm.get('registrationNumber')">
						</control-messages>
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="col-md-4">
						<input required matInput appDate [max]="disablefutureDate" [matDatepicker]="picker3"
							formControlName="registrationDate"
							(dateChange)="dateFormate($event.value,'registrationDate');"
							placeholder="{{ 'registration-date' | translate:translateKey }}  ">
						<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
						<mat-datepicker #picker3 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
						<control-messages [control]="drainagePipeliConnectionForm.get('registrationDate')">
						</control-messages>
					</mat-form-field>


					<mat-form-field class="col-md-4">
						<input matInput required maxlength="10" formControlName="registrationClass"
							placeholder="{{'registration-class' | translate:translateKey}}">
						<control-messages [control]="drainagePipeliConnectionForm.get('registrationClass')">
						</control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput OnlyNumber required maxlength="10" formControlName="workExecutionFromAmount"
							placeholder="{{'work-execution-from-amount' | translate:translateKey}}">
						<control-messages [control]="drainagePipeliConnectionForm.get('workExecutionFromAmount')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput OnlyNumber required maxlength="10" formControlName="workExecutionToAmount"
							placeholder="{{'work-execution-to-amount' | translate:translateKey}}">
						<mat-error *ngIf="drainagePipeliConnectionForm.get('workExecutionToAmount').touched && drainagePipeliConnectionForm.errors && drainagePipeliConnectionForm.errors['range']">Please enter Work Execution To Amount Greater than Work Execution From Amount</mat-error>
						<control-messages [control]="drainagePipeliConnectionForm.get('workExecutionToAmount')">
						</control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput appDate [max]="disablefutureDate" [matDatepicker]="picker4"
							formControlName="registrationValidity"
							(dateChange)="dateFormate($event.value,'registrationValidity');"
							placeholder="{{ 'registration-validity' | translate:translateKey }}  ">
						<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
						<mat-datepicker #picker4 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
					</mat-form-field>

					<mat-form-field [hidden]="true">
						<input matInput formControlName="workOrderNo" >
					</mat-form-field>
					<mat-form-field [hidden]="true">
						<input matInput formControlName="workOrderDate" >
					</mat-form-field>
					<mat-form-field [hidden]="true">
						<input matInput formControlName="estimateAmount" >
					</mat-form-field>
					<mat-form-field [hidden]="true">
						<input matInput formControlName="connectionStatus" >
					</mat-form-field>
					
				</div>
				<app-action-bar [form]="drainagePipeliConnectionForm" (tabIndex)="onTabChange($event)"
					[stepInfo]="{step: 'step3', next: 3, back: 1}" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
			</mat-tab>
			<!-- step 3 Ends -->

			<!-- step 4 Ends -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'Upload Documents' | translate: translateKey}}</div>
				</ng-template>
				<div class="row">
					<!-- fieldIdentifier -->
					<ng-container
						*ngFor="let doc of drainagePipeliConnectionForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
							<label>{{translateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }}<span *ngIf="doc.mandatory">*</span>							</label>
							<file-upload [form]="drainagePipeliConnectionForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>
				<div class="row">
					<div>						
						<mat-checkbox class="col accept-terms" required formControlName="acceptterms">
							<control-messages [control]="drainagePipeliConnectionForm.get('acceptterms')">
							</control-messages>
						</mat-checkbox>
						
					</div>
					<a style="margin-left: -10px; margin-top: -3px;">I Applicant Name guarantee that the information provided above is correct and if any wrong inforamtion is found VMC can take action </a>
				</div>
				<app-action-bar [uploadFiles]="uploadFilesArray"
					[form]="drainagePipeliConnectionForm" (tabIndex)="onTabChange($event)"[paymentGateway]="paymentGateway"
					[stepInfo]="{step: 'final', next: 4, back: 2}" (handleErrors)="handleErrorsOnSubmit($event)">
				</app-action-bar>
					<!-- Tab 4 End -->
				<select-payment-gateway #paymentGateway></select-payment-gateway>
			</mat-tab>
		
			
		</mat-tab-group>
	</form>
	<!-- {{ drainagePipeliConnectionForm.value | json }} -->
</mat-card>