
td.mat-cell   {
  min-width: 150px;
}
.mat-horizontal-content-container {
  overflow: inherit !important;
}
.col-align-center{

  padding-right: 20px;
}

.mat-expansion-panel.mat-expanded {
  box-shadow: none;}

.del-btn-style{
  padding: 5px !important;
  min-width: auto;
}
