<mat-card class="borderRadius10">
	<div class="headingBox">Reset Password
		<span>Please choose a new password</span>
	</div>

	<form [formGroup]="resetPassForm" (ngSubmit)="onResetPassword(resetPassForm)" autocomplete="off" ngNativeValidate>
<ng-container *ngIf="isvisibleFrom">
	<div class="row">
		<mat-form-field class="col-md-12 iconMat">
			<mat-icon matPrefix>chat_bubble_outline</mat-icon>
			<input matInput type="text" maxlength="5" OnlyNumber minlength="5" placeholder="Enter OTP" formControlName="code" required>
		</mat-form-field>

		<img class="col-md-3" *ngIf="loading" [class.disabled]="loading" src="assets/images/loader.gif" />	
	</div>

		<mat-form-field class="example-full-width iconMat">
			<mat-icon matPrefix>lock_outline</mat-icon>
			<input matInput type="password" placeholder="Password" formControlName="password" required maxlength="50">
			<control-messages [control]="resetPassForm.get('password')"></control-messages>
		</mat-form-field>

		<mat-form-field class="example-full-width iconMat">
			<mat-icon matPrefix>lock_outline</mat-icon>
			<input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" maxlength="50" required>
			<control-messages [control]="resetPassForm.get('confirmPassword')"></control-messages>
		</mat-form-field>

		<div class="row">
			<mat-error *ngIf="resetPassForm.errors && resetPassForm.errors['mismatchedPasswords']">Password not match</mat-error>
		</div>

		<div class="text-center">
			<button type="submit" mat-raised-button color="primary" [disabled]="resetPassForm.invalid">
				Submit
			</button>
			<br>Back to
				<a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHLOGIN')}}" class="d-inline-block mt-3 mb-2"><strong>Login</strong></a>
		</div>
</ng-container>
	</form>
	
</mat-card>