
			<mat-card class="borderRadius10">
				<div class="headingBox">Reset Password
					<span>Please choose a new password</span>
				</div>

			<form [formGroup]="resetPassForm" (ngSubmit)="onResetPassword(resetPassForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="example-full-width iconMat">
					<mat-icon matPrefix>chat_bubble_outline</mat-icon>
					<input matInput type="text" [readonly]="resetPassForm.get('code').value != ''" placeholder="Enter OTP" formControlName="code" required>
				</mat-form-field>

				<mat-form-field class="example-full-width iconMat" >
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input matInput type="password" placeholder="Password" formControlName="password" required>
				</mat-form-field>

				<mat-form-field class="example-full-width iconMat" >
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
				</mat-form-field>
				<mat-error *ngIf="resetPassForm.errors?.mismatchedPasswords">Password not match</mat-error>

				<p *ngIf="showWarning" class="text-danger">Password did not match</p>

				<div class="text-center">
				<button type="submit" mat-raised-button color="primary" [disabled]="resetPassForm.invalid">
					Submit
				</button>
			</div>

			</form>

		</mat-card>
