<!-- HTML for booking Guideline-->
<!-- <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar> -->
<div *ngIf="guideLineFlag">
    <mat-card class="cardBox">

        <div class="pageTitle"><b><span class="headline">{{'સ્વિમિંગ પૂલ પ્રવેશ ફી અને પ્રવેશ અંગેના નિયમો / '|
                    translate: translateKey}}</span>{{ 'online_swimmingPool_booking_instruction'| translate:
                translateKey}}</b></div>
        <div class="example-container">
            <mat-card-content class="p-4">

                <p class="cardtitle">વડોદરા મહાનગરપાલિકા હસ્તકના સ્વિમિંગ પૂલની પ્રવેશ ફી અને પ્રવેશ અંગેના નિયમો</p>

                <h4>
                    <ol class="olList">
                        
                        <li>
                            <p class="headerLine">
                                (અ) સભ્ય પદ મેળવવા બાબત : </p>
                            <ol class="olList">
                                <li>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧.</h6>
                                        <h6 class="listSize"> મહાનગરપાલિકાના સ્વીમીંગપુલ ખાતે સભ્ય થવા માટે <a class="li"
                                            href="https://portal.vmc.gov.in/vmcportal/citizen/auth/login">https://portal.vmc.gov.in/vmcportal/citizen/auth/login</a>
                                        મારફત અરજી કરવાની રહેશે.</h6>
                                    </div>
                                    <div class="d-flex">
                                        <h6 class="pr-2 listSize"> ૨. </h6>
                                        <h6 class="listSize">  સ્વીમીંગપુલનું વર્ષ એપ્રિલ થી માર્ચ સુધીનું ગણવામાં આવશે. દરેક નવા નાણાંકીય વર્ષમાં ફરજીયાત
                                            નવિન ફોર્મ ભરી પ્રવેશ મેળવવાનો રહેશે.</h6>
                                    </div>
                                    <div class="d-flex">
                                            <h6 class="listSize pr-2 "> ૩.</h6>
                                            <h6 class="listSize">  પ્રવેશપત્ર સાથે પાસપોર્ટ સાઇઝનો એક ફોટો આપવાનો રહેશે.</h6>
                                    </div>
                                    <div class="d-flex">
                                        <h6 class="listSize pr-2 "> ૪.</h6>
                                        <h6 class="listSize">સ્વીમીંગપુલના સભ્ય થવા ઈચ્છા ધરાવનાર દરેક અરજદારે અનુ.(૧) માં જણાવ્યા મુજબના પોર્ટલ મારફત
                                            મેડિકલ સર્ટી. ડાઉનલોડ કરી જેના પર મહાનગરપાલિકા દવાખાનાના ડૉક્ટરો અથવા માન્ય કરેલ ડૉક્ટરોના
                                            (એમ.બી.બી.એસ. કે તેનાથી વધુ કવોલીફીકેશનવાળા ડૉક્ટરો) સહી-સિક્કા કરાવી સામેલ કરવાનું રહેશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૫.  </h6>
                                    <h6 class="listSize"> અધુરી વિગતવાળા, ડોકટરના સહી-સિક્કા અને રજીસ્ટ્રેશન નંબર વગરના તથા પાસપોર્ટ સાઈઝના ફોટા વગરના
                                        ફોર્મ સ્વીકારવામાં આવશે નહી.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૬.</h6>
                                    <h6 class="listSize"> પ્રવેશપત્રમાં સાચી તેમજ સંપુર્ણ હકીકત રજુ ન કરનાર વ્યક્તિનું સભ્યપદ શરુઆતથી જ રદબાતલ ગણાશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૭.</h6>
                                    <h6 class="listSize">બાળ સ્વીમીંગપુલમાં ફક્ત ૫ થી ૧૨ વર્ષની ઉંમરના બાળકો પ્રવેશપાત્ર રહેશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૮.</h6>
                                    <h6 class="listSize">સ્વીમીંગપુલના સભ્ય થવા ઈચ્છતી વ્યક્તિની ઉંમર ૧૮ વર્ષથી ઉપર હોવી જોઈએ.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૯.</h6>
                                    <h6 class="listSize">૧૮ વર્ષની નીચેના અને ૧૦ વર્ષની ઉપરની વ્યક્તિ સ્વીમીંગપુલના સભ્ય થવા ઈચ્છા ધરાવે તો તેમણે
                                        તેમના પિતા/વાલીનું સંમતિપત્ર રજૂ કરવાનું રહેશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૧૦.</h6>
                                    <h6 class="listSize"> ૧૦ વર્ષની નીચેના બાળકો તેમના માતા-પિતા કે વાલી સાથે સહસભ્ય થઈ શકશે. તેમની ફી સામાન્ય ફી
                                        જેટલી રહેશે. સહ સભ્યની સંપૂર્ણ જવાબદારી માતા-પિતા કે વાલીની રહેશે. માતા-પિતા કે વાલી તરવૈયા હોવા
                                        જરૂરી છે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૧૧.</h6>
                                    <h6 class="listSize">પ્શાળા તથા કોલેજ/યુનિવર્સિટીમાં ભણતા વિદ્યાર્થીઓ અનુ.(૧) માં જણાવ્યા મુજબના પોર્ટલ મારફત
                                        વિદ્યાર્થી હોવા અંગેનો દાખલો ડાઉનલોડ કરી જેના પર શાળા તથા કોલેજ/યુનિવર્સિટીમાંથી આચાર્ય/ડીનના
                                        સહી-સિક્કા કરાવી દાખલો સામેલ કરશે તેમને વિદ્યાર્થી સભ્ય તરીકે દાખલ કરવામાં આવશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૧૨.</h6>
                                    <h6 class="listSize">તરવૈયા તરીકેનો સીધો પ્રવેશ મેળવવા માટે જે તે વ્યક્તિને ઓછામાં ઓછું ૧૦૦ મીટર (બે લેન્થ) તરતાં
                                        આવડવું જોઈએ. આ માટે તેઓએ નિયત ફી ભરીને ૪૮ કલાકમાં સ્વીમીંગપુલના સીની.કોચ/ટ્રેનર પાસે ફક્ત સ્વીમર
                                        બેચના સમયે ટેસ્ટ આપવાનો રહેશે. જે ટેસ્ટમાં ઉત્તીર્ણ થયા બાદ જ તેઓને સીધા તરવૈયા તરીકે પ્રવેશ મળી
                                        શકશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૧૩.</h6>
                                    <h6 class="listSize"> માજી/ચાલુ મ્યુનિસિપલ સભાસદશ્રીને સ્વીમીંગપુલના સભ્ય થવું હશે તો મ્યુનિસિપલ સેક્રેટરીશ્રીનું
                                        પ્રમાણપત્ર રજુ કરવાનું રહેશે.</h6>
                                </div>
                                <div class="d-flex">
                                    <h6 class="listSize pr-2 ">૧૪.</h6>
                                    <h6 class="listSize"> વડોદરા મહાનગરપાલિકા સ્ટાફના કાયમી કર્મચારીએ સ્વીમીંગપુલના સભ્ય થવું હશે તો કર્મચારીએ અનુ.(૧)
                                        માં જણાવ્યા મુજબના પોર્ટલ મારફત કાયમી કર્મચારી હોવા અંગેનો દાખલો ડાઉનલોડ કરી જેના પર
                                        ખાતાધિકારીના સહી-સિક્કા કરાવી દાખલો રજુ કરવાનો રહેશે તેમજ મ્યુનિસિપલ પેન્શનર દ્વારા જરૂરી
                                        પ્રમાણપત્ર ચાલુ વર્ષનું મેળવી રજુ કરવાનું રહેશે.</h6>
                                </div>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p class="headerLine">
                                (આ) સભ્યો માટે ફી બાબતે નોંધ : </p>
                            <ol class="olList">
                                <li>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧.</h6>
                                        <h6 class="listSize"> કોઇપણ સભ્ય તરફથી ભરવામાં આવેલ ફી કોઈપણ સંજોગોમાં પાછી આપવામાં આવશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૨. </h6>
                                        <h6 class="listSize"> સભ્ય તરફથી ભરવામાં આવેલ જે તે માસ/સમયગાળાની ફી જે તે માસ/ સમયગાળા પુરતી જ માન્ય રાખવામાં આવશે
                                            જેને કોઇપણ કારણોસર અન્ય બીજા માસ/સમયગાળા માટે તબદીલ કરવામાં આવશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૩. </h6>
                                        <h6 class="listSize"> શીખાઉ સભ્યોએ વખતોવખત ઠરાવેલ શીખાઉ ફી માસિક ધોરણે વ્યકિતગત વધારાની ભરવાની રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૪.</h6>
                                        <h6 class="listSize"> જે તે માસ દરમિયાન કોઈપણ તારીખે ભરેલ ફી જે તે માસની પહેલી તારીખથી ગણાશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૫.</h6>
                                        <h6 class="listSize"> વાર્ષિક સભ્યપદ જે તે વર્ષના એપ્રિલ માસની પહેલી તારીખથી પછીના વર્ષના માર્ચ માસની આખર તારીખ
                                            સુધીનું ગણાશે. વર્ષના કોઈપણ માસમાં વાર્ષિક ફી ભરવામાં આવશે તો તેની મુદત ૧લી એપ્રિલ થી ૩૧મી માર્ચ
                                            સુધીની ગણાશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૬.</h6>
                                        <h6 class="listSize">  માસિક સભ્યપદ મેળવનાર સભ્યએ આગામી માસની રીન્યુઅલ ફી ચાલુ માસની તારીખ ૨૨ થી ૩૧ સુધીમાં ભરવાની રહેશે.</h6>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p class="headerLine">
                                (ઇ) સભ્યો દ્વારા પાળવાના નિયમો : </p>
                            <ol class="olList">
                                <li>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૧.</h6>
                                        <h6 class="listSize">કોઈપણ સભ્ય સ્વીમીંગપુલમાં કોચિંગ સ્ટાફની ગેરહાજરીમાં પાણીમાં પ્રવેશ કરી શકશે નહી. તેમજ ફરજ
                                            પરના સ્વીમીંગ કોચની દરેક સુચનાઓ તથા આદેશોનું સંપૂર્ણપણે પાલન કરવાનું રહેશે તથા તેઓની પરવાનગી
                                            વિના ઉંડા પાણીના વિસ્તારમાં જઈ શકાશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૨. </h6>
                                        <h6 class="listSize">બાળ સ્વીમીંગપુલના સભ્યોએ ફલોટીંગ એપેટર્સ જેમ કે ફલોટીંગ રીંગ, આર્મબૅન્ડ, ફલોટર્સ વિગેરે સાધનો
                                            સ્વખર્ચે લાવવાના રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૩. </h6>
                                        <h6 class="listSize">સ્વીમીંગપુલ ખાતે તમામ સભ્યએ તરતી વખતે વાંધાજનક ન ગણી શકાય તેવા ઘેરા રંગનો, તરવા અંગેનો પોશાક
                                            (બેથીંગ કોસ્ચ્યુમ) ફરજીયાત પહેરવાનો રહેશે. બહેનોએ તેમજ લાંબાવાળ ધરાવનાર સભ્યએ ફરજીયાત બેથીંગ કેપ
                                            પહેરવાની રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૪. </h6>
                                        <h6 class="listSize">સ્સ્વીમીંગ કોસ્ચ્યુમ વગર કોઈપણ સભ્યને પ્રવેશ આપવામાં આવશે નહીં. સ્વીમીંગ કોસ્યુમ દરવાજે કાર્ડ
                                            ચેકરને બતાવવાનો રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૫.  </h6>
                                        <h6 class="listSize">દરેક સભ્યએ પ્રવેશ કરતાં પહેલા પોતાનું આઇકાર્ડ ફરજ પરના કાર્ડ ચેકરને અવશ્ય બતાવવાનું રહેશે,
                                            ત્યારબાદ જ સ્વીમીંગપુલમાં પ્રવેશને પાત્ર રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૬. </h6>
                                        <h6 class="listSize">સ્વીમીંગપુલના કોઈપણ સભ્યનું કાર્ડ ખોવાઈ જાય તો ઠરાવેલ લાગત ફી લઈ ડુપ્લીકેટ કાર્ડ કાઢી આપવામાં
                                            આવશે. ડુપ્લીકેટ કાર્ડ માટે સભ્યએ પોતાનો ફોટો નંગ-૧ આપવાનો રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૭.</h6>
                                        <h6 class="listSize">  કોઈપણ સભ્ય બીજી અન્ય વ્યક્તિને સ્વીમીંગપુલમાં પ્રવેશ મેળવવા માટે પોતાનું આઇકાર્ડ આપી શકશે
                                            નહિ. તેમજ આઇકાર્ડની માહિતીમાં કંઈપણ ફેરફાર કે ચેકચાક કરી શકશે નહી. આમ કરનારનું સભ્યપદ તુરંત કાયમ
                                            માટે રદ કરવામાં આવશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૮. </h6>
                                        <h6 class="listSize">  સભ્યએ જે સ્વીમીંગપુલ ખાતે જે બેચમાં પ્રવેશ મેળવેલ હશે તેનો પ્રવેશ તે સ્વીમીંગપુલ અને તે બેચ
                                            પૂરતો જ મર્યાદિત રહેશે. અન્ય પુલ પર કે અન્ય બેચમાં પ્રવેશ મળશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૯.  </h6>
                                        <h6 class="listSize">    સ્વીમીંગપુલમાં પ્રવેશ કરતી તેમજ બહાર નીકળતી વખતે પ્રવેશદ્વાર પર સભ્યના પ્રવેશ અંગેની નોંધબુક
                                            (રજીસ્ટર)માં તમામ નોંધ તથા સહી સ્પષ્ટ રીતે વાંચી શકાય તેમ કરવાની રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">  ૧૦.  </h6>
                                        <h6 class="listSize">કોઈપણ સભ્ય દિવસમાં એકથી વધુ વખત તેમજ એકસાથે ૪૫ મીનીટથી વધુ સમય માટે સ્વીમીંગપુલનો ઉપયોગ કરી શકશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧૧.</h6>
                                        <h6 class="listSize">સ્વીમીંગપુલમાં દાખલ થનાર સભ્યએ શાવર રૂમમાં સ્નાન કર્યા બાદ જ સ્વીમીંગપુલમાં પ્રવેશ કરવાનો
                                            રહેશે, સ્વીમીગપુલમાં દાખલ થતી વખતે તેલ, સાબુ કે એવા અન્ય કોઈપણ પદાર્થ શરીર પર લગાવવાના રહેશે
                                            નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧૨. </h6>
                                        <h6 class="listSize">બાળ સભ્ય સહીત દરેક સભ્ય તેઓની નિયત કરેલ બેચમાં ૪૫ મીનીટ માટે સ્વીમીંગપુલનો ઉપયોગ કરી શકશે.
                                            સમય પુરો થવાની પાંચ મીનીટ અગાઉ વોર્નિંગ બેલ વાગતાં દરેક સભ્યએ ફરજીયાત પાંચ મીનીટમાં જ પુલમાંથી
                                            બહાર નીકળી જવાનું રહેશે. ત્યારબાદ ૧૫ મીનીટમાં જ શાવર રૂમ્સ વિભાગની બહાર આવી જવાનું રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧૩. </h6>
                                        <h6 class="listSize">કોઈપણ સભ્ય સ્વીમીંગપુલમાં કે તેના પરીસરમાં નિયત જગા સિવાય પાણીમાં કે બહાર થૂંકવાની, પેશાબ
                                            કરવાની, મળત્યાગ કરવાની કે કોઈપણ પ્રકારની ગંદકી કે ધુમ્રપાન કરશે નહી અને સ્વીમીંગપુલમાં સ્વચ્છતા
                                            અંગેની તમામ સૂચનાનું પાલન કરશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૧૪.</h6>
                                        <h6 class="listSize"> કોઈપણ સભ્ય જો ચામડીના કોઈપણ ચેપી રોગથી પીડાતા હોવાનું માલુમ પડશે તો, જ્યાં સુધી તેવો રોગ
                                            સંપૂર્ણપણે દૂર થયો હોવાની ખાત્રી અધિકૃત અધિકારીને સંતોષજનક રીતે ન થાય, ત્યાં સુધી તે સભ્યને
                                            સ્વીમીંગપુલનો ઉપયોગ કરવા દેવામાં આવશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૧૫.</h6>
                                        <h6 class="listSize"> કોઈપણ સભ્યએ સ્વીમીંગપુલમાં ન્હાવા આવતી વખતે કિંમતી સામાન જેમ કે પૈસા, પાકીટ, ઘડીયાળ, મોબાઈલ
                                            ફોન, ઘરેણાં વિ. સાથે ન લાવવા ખાસ સૂચના આપવામાં આવે છે. આવી કોઈ વસ્તુ કે મિલકત ગુમ થવા અગર ચોરાઈ
                                            જવા અંગે મહાનગરપાલિકા કે તેના કોઈપણ કર્મચારીની જવાબદારી રહેશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૧૬.</h6>
                                        <h6 class="listSize"> સ્વીમીંગપુલમાં કે તેના પરીસરમાં કોઈપણ સભ્ય કૂતરો કે અન્ય કોઇ પ્રાણી લાવી શકશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૧૭.</h6>
                                        <h6 class="listSize"> કોઇપણ સભ્ય સ્વીમીંગપુલના ડાઇવીંગ બોર્ડ અથવા અન્ય કોઈ મિલ્કતનો દુરઉપયોગ કરશે તો તેને તુરંત
                                            બહાર કાઢવા સ્વીમીંગપુલના અધિકૃત અધિકારીની સંપૂર્ણ સત્તા રહેશે. તેમજ સ્વીમીંગપુલને થયેલ નુકશાન
                                            આવા સભ્ય પાસેથી વસૂલ કરવાની મ્યુનિસિપલ કમિશનરશ્રી તેમજ અધિકૃત અધિકારીને સત્તા રહેશે. આવા  
                                            સભ્યપદ રદ કરવા અંગે મ્યુનિસિપલ કમિશનરશ્રીને સંપૂર્ણ સત્તા રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧૮.</h6>
                                        <h6 class="listSize"> સભ્યોએ પાળવાના નિયમો પૈકી કોઈપણ નિયમના ભંગ માટે અથવા સ્વીમીંગપુલની જગામાં અસભ્ય વર્તણુંક કરવા માટે, અગર કોઈપણ નિયમના અનાદર માટે જે તે ગુન્હેગાર સભ્ય સામે મ્યુનિસિપલ કમિશનરશ્રી તેમજ અધિકૃત અધિકારી પગલાં લઈ શકશે તથા તેવા સભ્યને સ્નાનાગારની જગામાંથી બહાર કાઢી શકશે, ઓળખપત્ર જપ્ત કરી શકશે તેમજ તેવા સભ્યનું સભ્યપદ યોગ્ય લાગે તેટલા સમય માટે અથવા કાયમ માટે સ્થગીત (સસ્પેન્ડ) કરી શકશે તેમજ જરૂર જણાયે સર્ટીફીકેટ ઓફ પોસ્ટીંગથી નોટીસ આપી સભ્યપદ રદ કરી આજીવન સુધી તેને સભ્યપદ આપવામાં આવશે નહી. આ નિયમાનુસાર લીધેલ પગલાં અંગે મ્યુનિસિપલ કમિશનરશ્રી તેમજ અધિકૃત અધિકારી કોઈપણ કારણ આપવા બંધાયેલ રહેશે નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૧૯.</h6>
                                        <h6 class="listSize"> તમામ સભ્યો માટેનો સ્વીમીંગ બેચનો નિયત સમય પુરો થવાની પંદર મીનીટ અગાઉ પુલમાં પ્રવેશ આપવાનું
                                            બંધ કરવામાં આવશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૨૦.</h6>
                                        <h6 class="listSize">  સ્વીમીંગપુલની બેચના દરેક સમય મ્યુનિસિપલ કમિશનરશ્રી અથવા અધિકૃત અધિકારી નક્કી કરશે તે મુજબના
                                            રહેશે. સ્વીમીંગપુલને ખુલ્લું કે બંધ રાખવાનો સમય, સ્ત્રી-પુરૂષ કે શિખાઉ માટેના અલગ-અલગ સમય વિગેરે
                                            બાબતે મ્યુનિસિપલ કમિશનરશ્રીનો નિર્ણય આખરી ગણાશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૨૧.</h6>
                                        <h6 class="listSize">  અગાઉથી નોટીસ આપ્યા વિના કોઈપણ દિવસ કે સમયે સ્વીમીંગપુલ બંધ કરવાની કે કોઈપણ સભ્યને પ્રવેશ ન
                                            આપવાની સત્તા મ્યુનિસિપલ કમિશનરશ્રી તેમજ અધિકૃત અધિકારીને રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૨૨.</h6>
                                        <h6 class="listSize">  સ્વીમીંગપુલમાં થતા કોઈપણ અકસ્માત, શારીરિક ઈજા, નુકશાન, જાનહાનિ કે મૃત્યુ અંગેની કોઈપણ
                                            જવાબદારી મહાનગરપાલિકા, મ્યુનિસિપલ કમિશનરશ્રી અથવા આ અંગેની સત્તા આપી હોય તેવા અધિકારીની રહેશે
                                            નહી.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૨૩.</h6>
                                        <h6 class="listSize">કોઈપણ સભ્યની ફરીયાદ સ્વીમીંગપુલના અધિકૃત અધિકારીને લેખિતમાં કરવાની રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૨૪. </h6>
                                        <h6 class="listSize">દરેક સભ્યોએ ફરજ ઉપરના કર્મચારીઓ સાથે સભ્યતાથી વર્તવાનું રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૨૫. </h6>
                                        <h6 class="listSize"> ફકત તરણ સ્પર્ધાના હેતુસર શાળા/માન્ય સંસ્થાઓ દ્વારા જે તે સ્વીમીંગપુલમાં સ્પર્ધા યોજવા માટે
                                            ૧૦ દિવસ અગાઉ પરવાનગી મેળવી લેવાની રહેશે. તરણ સ્પર્ધાના  આયોજનના દિવસના કે તેના ભાગ માટે વખતોવખત
                                            ઠરાવેલ ફી ભરીને ફક્ત તરણ સ્પર્ધા યોજી શકશે તથા સ્વીમીંગપુલનો ઉપયોગ તરણ સ્પર્ધાના સમય પૂરતો જ
                                            મર્યાદિત રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૨૬.</h6>
                                        <h6 class="listSize"> શાળા/માન્ય સંસ્થાઓ તરફથી યોજવામાં આવેલ સ્પર્ધાના દિવસે અને દરેક ગુરૂવારે સ્વીમીંગપુલ બંધ
                                            રહેશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize"> ૨૭.</h6>
                                        <h6 class="listSize"> ઉપરોક્ત તમામ નિયમ તથા શરતો ઉપરાંત વખતોવખત સંજોગોનુસાર, મ્યુનિસિપલ કમિશનરશ્રી તેમજ અધિકૃત
                                            અધિકારી કોઈપણ પ્રકારની નવીન શરત ઉમેરવા કે કમી કરવા જરૂરી પગલાં લઈ શકશે અને તેમાં સુધારો કરી શકશે.</h6>
                                    </div>
                                    <div class="d-flex ">
                                        <h6 class="pr-2 listSize">૨૮.</h6>
                                        <h6 class="listSize">  સ્વીમીંગપુલના નિયમો અથવા સ્વીમીંગપુલને સ્પર્શતી કોઈપણ બાબત વિષે ઉપસ્થિત થયેલ પ્રશ્ન અંગે
                                            મ્યુનિસિપલ કમિશનરશ્રીનો નિર્ણય આખરી ગણાશે.</h6>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </h4>
            </mat-card-content>
        </div>
    </mat-card>
</div>
<!-- <div class="fotButtonBar">
      <div class="col-sm-12 col-md-12 text-right">
        <button mat-raised-button type="button" (click)="guideLineFlag = false;showSearchForm= true;" color="primary">
            <mat-icon>thumb_up_alt</mat-icon>
            Proceed
        </button>
      </div>
    </div> -->
<!-- </div> -->

<!-- HTML for Swimming pool services-->

<!-- <app-title-bar [title]="'SwimmingPool services'"></app-title-bar> -->
<!-- <div *ngIf="showSearchForm" class="moduleList">

          <div class="SwimmingPoolServicesList row">
              <div class="colBtn col-md-3" *ngFor="let service of modules;" matTooltip="{{ service.name }}">
                  <button mat-stroked-button routerLinkActive="activated-services-button" *ngIf="service.active" color="primary" routerLink="/{{manageRoutes.getFullRoute(service.code)}}">
                      {{ service.name }}
                  </button>
                  <button mat-stroked-button *ngIf="!service.active" color="primary">
                      {{ service.name }}  
                  </button>
              </div>
          </div>
          <div class="activated-service">
             <router-outlet></router-outlet> 
          </div>-->
<!-- </div> -->






