@import 'src/assets/scss/variables';

.SwimmingPoolServicesList  {padding-bottom: 45px; width: 100%; float: left;
  // .row {}
  // .col-md-3, .col-sm-4 {padding-bottom: 18px;}
  .colBtn {padding:9px 15px;} /* width: 25%; float: left;*/
  .mat-primary {color: #423c51; font-size: 15px; font-weight: 400; border-radius: 3px; border:1px solid #b2b2b2; display: block; width: 100%; text-overflow: ellipsis;
      overflow: hidden;
      &:hover {background: $colorBlue; border-color: $colorBlue; color: #fff;}
  }

  .activated-services-button {
    background: $colorBlue;
    border-color: $colorBlue;
    color: #fff;
  }
}

.activated-service {
  width: 100%;
  float: left;
}
.example-container { max-height: 400px; overflow: auto; }

.cardBox {
  .headline {
    font-size: 20px;
  }

  .mat-card-content {
    .cardtitle {
      font-size: 17px;
      margin-bottom: 0.4rem;
    }
  }

  .olList {
    list-style-type: none;
    margin-left: -14px;

    li {
      padding-bottom: 0;
      line-height: 27px;
    }

    .listSize {
      font-size: 17px;
      margin-bottom: 4px;
    }

    .oltype {
      font-size: 15px;
      margin-left: -14px;
    }
  }

  .listSize {
    font-size: 17px;
  }
}
