<!-- HTML for booking Guideline-->
<!-- <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar> -->
<div *ngIf="guideLineFlag">
    <mat-card class="cardBox">
  
      <div class="pageTitle"><b><span style="font-size:24px">{{'સ્વિમિંગ પૂલ પ્રવેશ ફી અને પ્રવેશ અંગેના નિયમો / '| translate: translateKey}}</span>{{ 'online_swimmingPool_booking_instruction'| translate: translateKey}}</b></div>
      <div class="example-container">
      <mat-card-content class="p-4">
  
        <p style="font-size:26px">વડોદરા મહાનગરપાલિકા હસ્તકના સ્વિમિંગ પૂલની પ્રવેશ ફી અને પ્રવેશ અંગેના નિયમો</p>

        <h4><ol class="olList">
  
          <li><p class="listSize">
            મહાનગરપાલિકાના સ્વિમિંગ પૂલના સભ્ય થવા માટે ઠરાવેલ નમૂનામાં અરજી કરવાની રહેશે. આ પ્રવેશપત્ર સ્વિમિંગ પૂલ કચેરીએથી મળી શકશે, તેની કિંમત રૂ.20/-
            </p></li>
  
          <li><p class="listSize">
            સભ્યપદ </p>
            <ol type="A">
                <li><p class="listSize">
                    સ્વિમિંગ પૂલના સભ્ય થવા ઈચ્છતી વ્યક્તિની ઉંમર ૧૮ વર્ષથી ઉપર હોવી જોઈએ.
                </p></li>
                <li><p class="listSize">
                     ૧૮ વર્ષની નીચેના અને ૧૦ વર્ષની ઉપરની વ્યકિત સ્વિમિંગ પૂલના સભ્ય થવા ઈચ્છા ધરાવે તો તેમને તેમના 
                    પિતા / વાલીનું સંમતિ અને વિનંતીનું પ્રવેશપત્રમાં દર્શાવ્યા પ્રમાણે સંમતિપત્ર રજૂ કરવાનું રહેશે.
                </p></li>
                <li><p class="listSize">
                    દશ વર્ષની નીચેના બાળકો તેમના પિતા છે વાલી સાથે સહસભ્ય થઈ શકશે. તેમની ફી સામાન્ય ફી જેટલી રહેશે.  સહ સભ્યની સંપૂર્ણ જવાબદારી માતા-પિતા કે વાલીની રહેશે. પિતા વાલી તરવૈયા હોવા જરૂરી છે.
                </p></li>
                <li><p class="listSize">
                    શાળાઓ તથા યુનિવર્સિટીમાં ભણતા વિદ્યાર્થીઓ શાળા તથા યુનિવર્સિટીમાંથી મુખ્ય આચાર્ય તથા ડીનનું      પ્રમાણપત્ર લાવશે તેમને વિદ્યાર્થી સભ્ય તરીકે દાખલ કરવામાં આવશે.
                </p></li>
                <li><p class="listSize">
                    સ્વિમિંગ પૂલના સભ્ય થવા ઈચ્છતા વ્યકિતની ઓળખાણ નીચે પ્રમાણે આપી શકાશે.
                </p>  <ol>
                        <li><p class="listSize">
                            મહાનગરપાલિકાના હાલના મ્યુનિસિપલ સભાસદ
                        </p></li>
                        <li><p class="listSize">
                            મહાનગરપાલિકાના અધિકારી (વર્ગ-૨) જેમનો પગાર રૂ ૫૩,૧૦૦-૧,૬૭,૮૦૦/-  થી ઓછો ન હોય (ભથ્થા સિવાયનો)
                        </p></li>
                        <li><p class="listSize">
                            સ્કૂલના આચાર્ય અને કોલેજના ડીન
                        </p></li>
                        <li><p class="listSize">
                            ગેઝેટેડ સરકારી અધિકારી
                        </p></li>
                    </ol>
                </li>
                <li><p class="listSize">
                    બાળ સ્વિમિંગ પૂલના વધારાના નિયમો :
                </p> <ol>
                       <li><p class="listSize">
                            બાળ સ્વિમિંગ પૂલમાં ૫ થી ૧૨ વર્ષની ઉંમરના બાળકો પ્રવેશપાત્ર રહેશે.
                        </p></li>
                        <li><p class="listSize">
                            બાળ સ્વિમિંગ પૂલ બેંચનો સમય ૪૫ મીનીટનો જ રહેશે. સમય સવારે ૭-૦૦ થી ૧૦- ૦૦ તથા સાંજે ૪-૦૦ થી ૭-૦૦ રહેશે.
                        </p></li>
                        <li><p class="listSize">
                            બાળ સ્વિમિંગ પૂલના બાળ સભ્યોએ ફલોટીંગ એપેટર્સ જેમ કે ફલોટીંગ રીંગ,આર્મબેન્ડ, ફ્લોટર્સ વિગેરે 
                            સાધનો સભ્યોએ લાવવાના રહેશે.
                        </p></li>
                    </ol>
                </li>
            </ol>
          </li>
  
          <li><p class="listSize">
            મહાનગરપાલિકા સ્ટાફ તથા મ્યુનિસિપલ પેન્શનર તથા માજી/ચાલુ સભાસદશ્રીઓ :
        શાળા તથા કોલેજમાં અભ્યાસ કરતાં વિદ્યાર્થીઓને તેમની શાળા કે કોલેજોનાં મુખ્ય આચાર્યનું સર્ટીફીકેટ રજૂ કરવું પડશે.
        તેની સભ્ય ફી નીચે પ્રમાણે રહેશે (ચાલુ વર્ષનું બોનાફાઈડ સર્ટીફીકેટ વિદ્યાર્થીઓને લાવવાનું રહેશે.)
    </p></li>
  
          <li><p class="listSize">
            વડોદરા મહાનગરપાલિકાના સ્ટાફના કાયમી કર્મચારીઓનું સભ્યપદ વડોદરા મહાનગરપાલિકાના સ્ટાફના કાયમી કર્મચારી
            જો સ્વિમિંગ પૂલના સભ્ય થવું હશે તો અલગ બતાવ્યા પ્રમાણેનું ફીનું ધોરણ રહેશે. આ માટે જે તે કર્મચારીએ ખાતાધિકારીનો
            દાખલો રજુ  કરવાનો રહેશે.
        </p></li>
          <li><p class="listSize">
            માજી/ચાલુ મ્યુનિસિપલ સભાસદશ્રીઓ મ્યુનિસિપલ સેક્રેટરીશ્રીનું પ્રમાણપત્ર રજૂ કરવાનું રહેશે. :
        </p></li>
          <li><p class="listSize">
  તરણ સ્પર્ધા:
         માન્ય સંસ્થાઓએ જે તે સ્વિમિંગ પૂલમાં સ્પર્ધા યોજવા માટેની અઠવાડીયા અગાઉ પરવાનગી મેળવી લેવાની રહેશે.તરણ સ્પર્ધાનાં આયોજનના દિવસના કે તેના ભાગ માટે ૨ ૧૦,૦૦૦/- ફી ભરીને તરણ સ્પર્ધા યોજી શકશે તથા ગપુલનો ઉપયોગ તરણ સ્પર્ધાના સમય પૂરતો જ મર્યાદિત રહેશે.
        </p></li>
        </ol>
        <hr/>
        <div class="row">
         <div class="col-md-4">
            <p class="listSize"><u>વાર્ષિક તરવૈયા માટે : </u> </p>
         </div>
         <div class="col-md-8">

             <table class="table table-striped mb-0 responsiveTableRow">
                 <thead>
                     <tr class="mo-d-none">
                         <th><p class="listSize">વિગત</p></th>
                         <th><p class="listSize">તરવૈયા રૂ</p></th>
                     </tr>
                     
                 </thead>
                 <tbody  class="listTable clearfix">
                     <tr>
                       
                         <td><p class="listSize">પ્રવેશ ફી</p></td>
                         <td><p class="listSize">૫૦/- </p></td>
                     </tr>
                     <tr>
                        
                         <td><p class="listSize">વાર્ષિક સભ્ય ફી</p></td>
                         <td><p class="listSize">૪,૫૦૦/-</p></td>
                     </tr>
                     <tr>
                         
                         <td><p class="listSize">કુલ ફી</p></td>
                         <td><p class="listSize"> ૪,૫૫૦/-</p></td>
                     </tr>
                     </tbody>
                 </table>
         </div>
        </div>
<hr/>
            <div class="row">
             <div class="col-md-4">
                <p class="listSize">મહાનગરપાલિકા સ્ટાફના સભ્યો,<br/>વિદ્યાર્થીઓ, માજી સભાસદો,<br/>ચાલુ સભાસદો તેમજ <br/>મ્યુનિસિપલ પેન્શનરો </p>
             </div>
             <div class="col-md-8">
                 <table class="table table-striped mb-0 responsiveTableRow">
                     <thead>
                         <tr class="mo-d-none">
                             
                             <th><p class="listSize">વિગત</p></th>
                             <th><p class="listSize">તરવૈયા રૂ</p></th>
                         </tr>
                         
                     </thead>
                     <tbody  class="listTable clearfix">
                         <tr>
                            
                             <td><p class="listSize">પ્રવેશ ફી</p></td>
                             <td><p class="listSize">૨૫/- </p></td>
                         </tr>
                         <tr>
                           
                             <td><p class="listSize">સભ્ય ફી</p></td>
                             <td><p class="listSize">૨૦૦૦/-</p></td>
                         </tr>
                         <tr>
                       
                             <td><p class="listSize">કુલ ફી</p></td>
                             <td><p class="listSize"> ૨૦૨૫/-</p></td>
                         </tr>
                         </tbody>
                     </table>
             </div>
            </div>
                <hr/>
                <div class="row">
                <div class="col-md-4">
                    <p class="listSize"><u>સામાન્ય સભ્ય :  </u> </p>
                </div>
                <div class="col-md-8">
                    <table class="table table-striped mb-0 responsiveTableRow">
                        <thead>
                            <tr class="mo-d-none">
                               
                                <th><p class="listSize">વિગત</p></th>
                                <th><p class="listSize">શીખાઉ રૂ</p></th>
                                <th><p class="listSize">તરવૈયા રૂ</p></th>
                            </tr>
                            
                        </thead>
                        <tbody  class="listTable clearfix">
                            <tr>
                                <td><p class="listSize">પ્રવેશ ફી</p></td>
                                <td><p class="listSize">૫૦/- </p></td>
                                <td><p class="listSize">૨૫ /- </p></td>
                            </tr>
                            <tr>

                                <td><p class="listSize">સભ્ય ફી (માસિક)</p></td>
                                <td><p class="listSize">૫૦૦/-</p></td>
                                <td><p class="listSize">૫૦૦/-</p></td>
                            </tr>
                            <tr>
                              
                                <td><p class="listSize">શીખાઉ ફી (માસિક)</p></td>
                                <td><p class="listSize">૩૦૦/-</p></td>
                                <td><p class="listSize">-</p></td>
                            </tr>
                            <tr>
                               
                                <td><p class="listSize">કુલ ફી</p></td>
                                <td><p class="listSize">૮૫૦/-</p></td>
                                <td><p class="listSize">૫૫૦/-</p></td>
                            </tr>
                            </tbody>
                        </table>

                </div>
                </div>
                <hr/>
        <p class="listSize" align="center">
            સમગ્રસભાઠરાવ અંકઃ ૧૪૫/૨૦૨૨-૨૦૨૩, તારીખ : ૧૯-૦૨-૨૦૨૨ <br/>
            સને ૨૦૨૨-૨૦૨૩ નું સુધારેલ ફીનું ધોરણ નીચે મુજબ છે.<br/>
            પ્રવેશ પત્રની ફી  રૂ ૨૦/-, ટેસ્ટ ફી રૂ ૩૦/- 
        </p> 
        <p align="center" class="listSize"> <u>
            મહાનગરપાલિકા સ્ટાફ સભ્યો, વિદ્યાર્થીઓ તથા માજી / ચાલુ સભાસદો તેમજ મ્યુનિસિપલ પેન્શનરો (જરૂરી પ્રમાણપત્ર ચાલુ વર્ષનું રજૂ કરવાનું રહેશે.)
        </u></p>
        <table class="table table-striped mb-0 responsiveTableRow">
            <thead>
                <tr class="mo-d-none">
                    <th><p class="listSize">વિગત</p></th>
                    <th><p class="listSize">શીખાઉ	 રૂ</p></th>
                    <th><p class="listSize">તરવૈયા રૂ</p></th>
                </tr>
                
            </thead>
            <tbody  class="listTable clearfix">
                <tr>
                    <td><p class="listSize">પ્રવેશ ફી</p></td>
                    <td><p class="listSize">૨૫ /- </p></td>
                    <td><p class="listSize">૨૫ /- </p></td>
                </tr>
                <tr>
                    <td><p class="listSize">સભ્ય ફી (માસિક)</p></td>
                    <td><p class="listSize">૨૫૦/-</p></td>
                    <td><p class="listSize">૨૫૦/-</p></td>
                </tr>
                <tr>
                    <td><p class="listSize">શીખાઉ ફી (માસિક)</p></td>
                    <td><p class="listSize">૩૦૦/-</p></td>
                    <td><p class="listSize">-</p></td>
                </tr>
                <tr>
                    <td><p class="listSize">કુલ ફી</p></td>
                    <td><p class="listSize">૫૭૫ /-</p></td>
                    <td><p class="listSize">૨૭૫ /-</p></td>
                </tr>
                </tbody>
            </table>
        <p class="listSize">
            નોંધ : જે સભ્યો શીખાઉ હશે વ્યકિત દીઠ રૂ ૩૦૦/- શીખાઉ ફી માસિક ધોરણે વ્યકિતગત વધારાની ભરવાની રહેશે.
        </p>
        <p class="listSize">    નિયમ અને સૂચનાઓ :
        </p>
        <ol>
            <li><p class="listSize">
                સ્વિમિંગ પૂલનું વર્ષ એપ્રિલથી માર્ચ સુધીનું ગણવામાં આવશે. (દરેક નવા નાણાંકીય વર્ષ ફોર્મ ભરી પ્રવેશ મેળવવોરહેશે. ફી માસવારી રહેશે.)
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલના સભ્ય થવા ઈચ્છા ધરાવનાર દરેક અરજદારે મહાનગરપાલિકા દવાખાનાના ડૉક્ટરો અથવા મા ડૉક્ટરો એમ. બી. બી. એસ. કે તેનાથી વધુ કવોલીફીકેશનવાળા ડૉક્ટરોનું પ્રમાણપત્ર પ્રવેશપત્રમાં દર્શાવ્યા પ્રમાણે મેળવવાનું રહેશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલનો લાભ લેનાર વ્યક્તિએ તરતી વખતે તરવાનો ખાસ રંગીન પોષાક પહેરવાનો ફરજીયાત રહેશે. બહેનોએ તેમજ લાંબાવાળ ધરાવનાર વ્યક્તિએ ટોપી પહેરવાની ફરજીયાત રહેશે.
            </p></li>
            <li><p class="listSize">
                તરવૈયા તરીકેનો સીધો પ્રવેશ મેળવવા માટે જે તે વ્યક્તિને ઓછામાં ઓછુ ૫૦ મીટર તરતાં આવડવું જોઈએ. આ માટે તેઓએ રૂ ૩૦/- ભરીને ટેસ્ટ આપવાનો રહેશે. આ અંગેનો ટેસ્ટ જે તે સ્વિમિંગ પૂલના માનદ્દ ટ્રેનર્સ/કોચને આપવાનો રહેશે. સદર  ટેસ્ટમાં  ઉત્તીર્ણ થયા બાદ તેઓએ સીધા તરવૈયા તરીકે પ્રવેશ મળી શકશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલમાં દાખલ થનાર સભ્ય નિયત કરેલા સ્થળે સ્નાન કર્યા બાદ જ સ્વિમિંગ પૂલમાં પ્રવેશ કરવાનો રહેશે. સ્વિમિંગ પૂલમાં દાખલ થતી વખતે તેલ, સાબુ, કે એવા કોઈ પદાર્થ સભ્ય શરીર પર લગાવેલો હોવો જોઈએ નહીં.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલનો કોઈપણ સભ્ય સ્વિમિંગ પૂલમાં કે તેના કોઈપણ અન્ય સ્થળે કોઈપણ પ્રકારની ગંદકી કે ધુમ્રપાન કરશે નહી. અને સ્વિમિંગ પૂલના અધિકારીની સ્વચ્છતા અંગેની સૂચનાનું પાલન કરશે. સ્વિમિંગ પૂલમાં કોઈપણ સભ્ય કૂતરો કે પ્રાણી  લાવી શકશે નહીં.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલના બેચના દરેક સમયે મ્યુનિસિપલ કમિશનરશ્રી અગર ખાતાધિકારી નક્કી કરશે તે મુજબના રહેશે.   સ્વિમિંગ પૂલને ખુલ્લું કે બંધ રાખવાનો સમય સ્ત્રી - પુરૂષ કે શિખાઉ માટેના અલગ અલગ સમય વિગેરે મ્યુનિસિપલ કમિશનરનો નિર્ણય આખરી ગણાશે.
            </p></li>
            <li><p class="listSize">
                કોઈપણ સભ્ય દિવસમાં એક વખત 45 મીનીટ માટે સ્વિમિંગ પૂલનો ઉપયોગ કરી શકશે. સમય પૂરો થયાની સૂચના મળતા        બેલ વાગતાં દરેક સભ્ય સ્વિમિંગ પૂલમાંથી બહાર નીકળી જવું ફરજીયાત રહેશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલમાં દાખલ થતાં પહેલાં અને તેમાંથી બહાર નીકળ્યા પછી દરેક સભ્ય સ્વિમિંગ પૂલના રજીસ્ટરમાં ભરવાની  વિગત અને સહીં સ્પષ્ટ અક્ષર વડે ભરવી આવશ્યક રહેશે.
            </p></li>
            <li><p class="listSize">
                લોકર્સ : સ્વિમિંગ પૂલમાં લોકર્સ માટે સભ્ય ત્રિમાસિક રૂ ૧૫૦/- અથવા વાર્ષિક ફી રૂ ૫૦૦/- ભરવાની રહેશે, તેમજ અનામત રૂ ૫૦/-  ભરવાના રહેશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલના ડ્રાઈવીંગ બોર્ડ અથવા અન્ય કોઈ મિલ્કતનો સભ્ય કોઈ દુરઉપયોગ કરશે અથવા અશિસ્તભર્યું (ગેરવર્તણુંક) વર્તન કરશે અથવા સ્વિમિંગ પૂલના કોઇપણ નિયમનો ભંગ કરશે તો તેને બહાર કાઢવા સ્વિમિંગ પૂલના અધિકૃત અધિકારીની સંપૂર્ણ સત્તા રહેશે. આવા સભ્યપદ રદ્દ કરવા અંગે મ્યુનિસિપલ કમિશનરશ્રીને સંપૂર્ણ સત્તા રહેશે, તેમજ સ્વિમિંગ પૂલને થયેલ નુકશાન આવા સભ્ય પાસેથી વસૂલ કરવાની મ્યુનિસિપલ કમિશનરશ્રીને સત્તા રહેશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલ ના નિયમો અથવા સ્વિમિંગ પૂલને સ્પર્શતી કોઈપણ બાબત વિષે ઉપસ્થિત થયેલ પ્રશ્ન અંગે મ્યુનિસિપલ         કમિશનરશ્રીનો નિર્ણય આખરી ગણાશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ કોસ્ચુમ વગર કોઈપણ સભ્યને પ્રવેશ આપવામાં આવશે નહી. સ્વિમિંગ કોસ્ચુમ દરવાજે ચેકરને બતાવવાના રહેશે.
            </p></li>
            <li><p class="listSize">
                તોફાની સભ્યનું સભ્યપદ તેમની વર્તણૂક સંતોષકારક નહીં લાગે તો સ્વિમિંગ પૂલ બહાર કાઢવામાં આવશે. અને સભ્યપદ રદ કરવામાં આવશે જેમાં તકરાર કે અપીલ ચાલશે નહીં.
            </p></li>
            <li><p class="listSize">
                પ્રવેશ ફોર્મ સાથે બે ફોટા લાવવાના રહેશે.
            </p></li>
            <li><p class="listSize">
                માન્ય સંસ્થાઓ તરફથી સ્પર્ધા યોજે તે દિવસે અને ગુરૂવારે સ્વિમિંગ પૂલ બંધ રહેશે.
            </p></li>
            <li><p class="listSize">
                સભ્યએ જે સ્નાનાગારમાં પ્રવેશ મેળવેલ હશે તેનો પ્રવેશ તે સ્નાનાગાર પૂરતો મર્યાદિત રહેશે.
            </p></li>
            <li><p class="listSize">
                દરેક સભ્યએ પોતાનું કાર્ડ પ્રવેશ કરતાં પહેલાં કાર્ડ ચેકરને અવશ્ય બતાવવાનું રહેશે અને ત્યારબાદ જ સ્વિમિંગ પૂલમાં પ્રવેશન પાત્ર રહેશે તથા સ્વિમિંગ પૂલના કોઈપણ સભ્યનું કાર્ડ ખોવાઈ જાય તો રૂ ૧૦૦/-  લાગત ફી લઈ ડુપ્લીકેટ કાર્ડ કાઢી આપવામાં આવશે. ડુપ્લીકેટ કાર્ડ માટે સભ્યે પોતાનો ફોટો નંગ-૧ આપવાનો રહેશે.
            </p></li>
            <li><p class="listSize">
                સ્વિમિંગ પૂલમાં કોઈ સભ્ય કે મહેમાનને અકસ્માત, શારીરિક હાની વ્યથા કે મૃત્યુ થાય કોઈ ચીજ વસ્તુ ખોવાય તે અંગેની કોઈપણ જવાબદારી મહાનગરપાલિકાની અથવા મ્યુનિસિપલ કમિશનર અગર આ અંગેની સત્તા આપી હોય તેવા   અધિકારીની રહેશે નહીં. 
            </p></li>
    </ol></h4>
      </mat-card-content>
      </div>
    </mat-card>
</div>
    <!-- <div class="fotButtonBar">
      <div class="col-sm-12 col-md-12 text-right">
        <button mat-raised-button type="button" (click)="guideLineFlag = false;showSearchForm= true;" color="primary">
            <mat-icon>thumb_up_alt</mat-icon>
            Proceed
        </button>
      </div>
    </div> -->
<!-- </div> -->
 
  <!-- HTML for Swimming pool services-->

<!-- <app-title-bar [title]="'SwimmingPool services'"></app-title-bar> -->
<!-- <div *ngIf="showSearchForm" class="moduleList">

          <div class="SwimmingPoolServicesList row">
              <div class="colBtn col-md-3" *ngFor="let service of modules;" matTooltip="{{ service.name }}">
                  <button mat-stroked-button routerLinkActive="activated-services-button" *ngIf="service.active" color="primary" routerLink="/{{manageRoutes.getFullRoute(service.code)}}">
                      {{ service.name }}
                  </button>
                  <button mat-stroked-button *ngIf="!service.active" color="primary">
                      {{ service.name }}  
                  </button>
              </div>
          </div>
          <div class="activated-service">
             <router-outlet></router-outlet> 
          </div>-->
<!-- </div> -->






