<div class="row" *ngIf="!fromAdmin">
	<div class="col-md-12">
		<!-- <mat-progress-bar *ngIf="currentFileUpload" mode="determinate" value="{{progress.percentage}}"></mat-progress-bar> -->

		<!-- Preview Image-->
		<!-- <label *ngIf="priviewImage">
			<img [src]="priviewImage" alt="image" class="imageSize" />
		</label> -->

		<!-- Upload new file/Image-->
		<label class="custom-file-upload" [hidden]="canUpload || !form.get('canEdit').value">
			<input #fileInput  type="file" (change)="selectFile($event)" />
			

			<span class="attachment">
				<i class="fa fa-paperclip"></i>
			</span>
			<span class="badge badge-primary ml-1">Attach File</span>
		</label>


		<!-- Uploaded file/image name-->
		<label class="custom-file-upload" [hidden]="!canUpload">
			<span class="badge badge-info" (click)="view()" *ngIf="!getFile">{{fileName}}</span>
			<span class="badge badge-info" *ngIf="getFile" (click)="view()">{{getFile.realFileName}}</span>
		</label>

		<!-- delete button -->
		<button title="Delete File" [hidden]="!canUpload || !form.get('canEdit').value" type="button" mat-icon-button color="warn"
		 (click)="deleteFile()">
			<i class="fa fa-times"></i>
		</button>

		<!-- If no file uploaded and form is submitted-->
		<label *ngIf="!canUpload && !form.get('canEdit').value">
			<span class="badge badge-dark">No file uploaded</span>
		</label>

	</div>

</div>