.paygatewayclass{
    margin: 2%;
}
.color{
    background-color: brown;
}

.modeColor{
    background-color: #cc00cc;
}
.alignButton{
    align-self: center;
}
.example-radio-button {
  margin: 5px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}