<mat-card class="paygatewayclass">
	<mat-card-title>Payment Gateway</mat-card-title>
	<mat-card-content>
		<div class="alert color text-light text-center font-weight-bold">Total Amount</div>

		<div class="row">
			<div class="col-md-3">
				<p class="alert alert-primary">
					Delay registration (Between 21 days to 30 days)
				</p>
			</div>
			<div class="col-md-3">
				<p>
					2 Rupees +
				</p>
			</div>
			<div class="col-md-3">
				<p class="alert alert-success">
					Departmental Charges (10 Rupees)
				</p>
			</div>
			<div class="col-md-3">
				<p>
					= 12 Rupees
				</p>
			</div>
		</div>
		<div class="alert modeColor text-light text-center font-weight-bold">Select Payment Mode</div>

		<div>
			<mat-radio-group class="example-radio-group">
				<mat-radio-button class="example-radio-button" *ngFor="let payMode of PaymentModes" [value]="payMode.code">
					{{payMode.name}}
				</mat-radio-button>
			</mat-radio-group>
		</div>

		<div class="text-center">
			<button mat-raised-button type="button" color="warn" (click)="makePayment()"> Pay </button>
		</div>

	</mat-card-content>
</mat-card>