<button mat-raised-button color="primary" style=" color: white; background: green;margin: 5px 0px 0px 10px;" (click)="onDisablePast()">Book new Appoinment</button>

<div style="margin-top: 10px">
	<span>+91</span><input type="tel" OnlyNumber maxlength="10" minlength="10" placeholder="Enter Mobile"/>
</div>

<h1>{{'56456465451451546.33' | currency:'&#8377;'}}</h1>

<h1>{{'54515414.2145' | inr:'&#8377;'}}</h1>

<div class="container">
	<div class="row">
		<div style="width: 316px;padding: 10px;" class="col">
			<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" (dateChanged)="onDateChanged($event)" required
			 [locale]="locale"></my-date-picker>
		</div>

		<div class="col" style="padding: 10px;">

			<div class="example-container mat-elevation-z8">

				<mat-table #table [dataSource]="tableData">

					<ng-container matColumnDef="checkbox">
						<mat-header-cell *matHeaderCellDef>
							<mat-checkbox>All</mat-checkbox>
						</mat-header-cell>
						<mat-cell *matCellDef="let element;">
							<mat-checkbox></mat-checkbox>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="position">
						<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
						<mat-cell *matCellDef="let element;let indx=index;"> {{indx+1}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="weight">
						<mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="symbol">
						<mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

				</mat-table>

			</div>
		</div>
	</div>
</div>

<mat-toolbar color="primary" class="example-toolbar">
	<mat-toolbar-row>
		<span class="example-spacer"></span>
		<button mat-raised-button color="primary">Book Appoinment</button>
	</mat-toolbar-row>
</mat-toolbar>