<div class="example-container mat-elevation-z8 borderOne mb140" [hidden]="resultsLength==0">


	<table mat-table [dataSource]="dataSource" class="myApplication" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef>Sr No.</mat-header-cell>
			<mat-cell *matCellDef="let row; let i = index;" class="fullWidth">
                <div class="mobile-label">{{'s_no' | translate:translateKey}}</div>
                <div class="mobile-label1">:</div>
                <div class="row-inside"> {{(paginator.pageIndex * paginator.pageSize) + (i+1)}} </div>
            </mat-cell>
		</ng-container>


		<ng-container matColumnDef="chalanNumber">
			<mat-header-cell *matHeaderCellDef>Reference Number</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Reference Number</span> {{element.refNumber}} </mat-cell>
		</ng-container>


		<ng-container matColumnDef="amount">
			<mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Amount</span> {{element.amount}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="paymentDate">
			<mat-header-cell *matHeaderCellDef>Payment Date</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Payment Date</span>{{element.paymentDate | date:'dd/MM/yyyy hh:mm:ss a'}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="payableServices">
			<mat-header-cell *matHeaderCellDef>Service Name</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Service Name</span>{{element.serviceName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="transactionId">
			<mat-header-cell *matHeaderCellDef>Transaction ID</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Transaction ID</span>{{element.transactionId}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="paymentStatus">
			<mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Status</span> {{element.paymentStatus}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="detailsButton">
			<mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
			<mat-cell *matCellDef="let element" class="fullWidth">
				<span class="mobile-label">Action</span>
				<button matTooltip="View Details" matTooltipPosition='right' (click)="openDailog(element)" mat-icon-button color="primary">
					<mat-icon>lock_open</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</table>

	<mat-paginator showFirstLastButtons [hidden]="resultsLength==0" [pageSizeOptions]="[5, 10, 25, 100]" [length]="resultsLength">
    </mat-paginator>

</div>

<div id="sectionToPrint"></div>