<mat-card class="cardBorder">
    <form #formDetail="ngForm" (ngSubmit)="search(formDetail)">
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required *ngIf="wardZoneLevel.length>=1" [items]="wardZoneLevel1List" bindLabel="wardzoneName"
                        [placeholder]="!wardZoneLevel[0]?'': wardZoneLevel[0].levelName + ' *'"
                        bindValue="parentWardzoneId" name="level1Id" (ngModelChange)="onChangedWardZone($event,2)"
                        #Level1Id="ngModel" [(ngModel)]="searchModel.level1Id">
                    </ng-select>
                    <mat-error *ngIf="formDetail.form.get('level1Id') && formDetail.form.get('level1Id').invalid && formDetail.form.get('level1Id').touched">
                      *Zone No. is required.</mat-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required *ngIf="wardZoneLevel.length>=2" [items]="wardZoneLevel2List" bindLabel="wardzoneName"
                        [placeholder]="!wardZoneLevel[1]?'': wardZoneLevel[1].levelName + ' *'" bindValue="wardzoneId"
                        name="level2Id" (ngModelChange)="onChangedWardZone($event,3)" #Level2Id="ngModel"
                        [(ngModel)]="searchModel.level2Id">
                    </ng-select>
                    <mat-error *ngIf="formDetail.form.get('level2Id') && formDetail.form.get('level2Id').invalid && formDetail.form.get('level2Id').touched">
                      *Ward No. is required.</mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select *ngIf="wardZoneLevel.length>=3" [items]="wardZoneLevel3List" bindLabel="wardzoneName"
                        [placeholder]="!wardZoneLevel[2]?'': wardZoneLevel[2].levelName" bindValue="wardzoneId"
                        name="level3Id" (ngModelChange)="onChangedWardZone($event,4)" #Level3Id="ngModel"
                        [(ngModel)]="searchModel.level3Id">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select *ngIf="wardZoneLevel.length>=4" [items]="wardZoneLevel4List" bindLabel="wardzoneName"
                        [placeholder]="!wardZoneLevel[3]?'': wardZoneLevel[3].levelName" bindValue="wardzoneId"
                        name="level4Id" #Level4Id="ngModel" [(ngModel)]="searchModel.level4Id">
                    </ng-select>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width-input">
            <input trim="blur" matInput number-only maxlength="10" name="mobileNo" placeholder="Mobile Number" [(ngModel)]="searchModel.mobileNo">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width-input">
            <input trim="blur" mask-census-no maxlength="17" matInput name="censusNo" placeholder="Census Number" [(ngModel)]="searchModel.censusNo">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width-input">
            <input  trim="blur" matInput name="ownerName" placeholder="Owner Name" [(ngModel)]="searchModel.ownerName">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width-input">
            <input trim="blur" matInput name="occupierName" placeholder="Occupier Name" [(ngModel)]="searchModel.occupierName">
          </mat-form-field>
        </div>
  
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width-input">
            <input trim="blur" matInput name="address" placeholder="Address" [(ngModel)]="searchModel.address">
          </mat-form-field>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width-input">
            <input mask-property-no maxlength="12" trim="blur" matInput name="propertyNo" placeholder="Property Number" [(ngModel)]="propertyNo">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button class="ml-3" mat-raised-button color="primary" type="button" (click)="searchByPropertyNo()">
            Go
          </button>
        </div>
      </div>

      <div class="fotButtonBar clearfix mt-0">
        <div class="col-sm-12 col-md-12 text-right">
          <button mat-raised-button class="gray-btn ml-3" type="submit">
            <mat-icon>search</mat-icon> Search
          </button>
          <button mat-raised-button class=" ml-3" type="button" color="warn" (click)="clear()">
            <mat-icon>clear_all</mat-icon> Clear
          </button>
        </div>
    </div>

    </form>
  </mat-card>