<mat-card class="cardBox">
<mat-card>
  <form #formDetail="ngForm" (ngSubmit)="search(formDetail)">
    <div class="row">
      <div class="col-md-6">
        <div class="ngSelect" *ngIf="wardZoneLevel.length>=1">
          <ng-select required #level1Id="ngModel" [placeholder]="!wardZoneLevel[0]?'': wardZoneLevel[0].levelName + ' *'" [items]="wardZoneLevel1List"
            bindValue="parentWardzoneId" bindLabel="wardzoneName" name="level1Id" [(ngModel)]="searchModel.level1Id"
            (ngModelChange)="onChangedWardZone($event,2)">
          </ng-select>
          <mat-error *ngIf="formDetail.form.get('level1Id') && formDetail.form.get('level1Id').invalid && formDetail.form.get('level1Id').touched">
            *Zone No. is required.</mat-error>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ngSelect" *ngIf="wardZoneLevel.length>=2">
          <ng-select required  [placeholder]="!wardZoneLevel[1]?'': wardZoneLevel[1].levelName + ' *'" [items]="wardZoneLevel2List"
            bindValue="wardzoneId" bindLabel="wardzoneName" name="Level2Id" [(ngModel)]="searchModel.level2Id"
            (ngModelChange)="onChangedWardZone($event,3)">
          </ng-select>
          <mat-error *ngIf="formDetail.form.get('Level2Id') && formDetail.form.get('Level2Id').invalid && formDetail.form.get('Level2Id').touched">
            *Ward No. is required.</mat-error>
        </div>
      </div>
   
      <div class="col-md-6">
        <div class="ngSelect" *ngIf="wardZoneLevel.length>=3">
          <ng-select [placeholder]="!wardZoneLevel[2]?'': wardZoneLevel[2].levelName" [items]="wardZoneLevel3List"
            bindValue="wardzoneId" bindLabel="wardzoneName" name="level3Id" [(ngModel)]="searchModel.level3Id"
            (ngModelChange)="onChangedWardZone($event,4)">
          </ng-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ngSelect" *ngIf="wardZoneLevel.length>=4">
          <ng-select [placeholder]="!wardZoneLevel[3]?'': wardZoneLevel[3].levelName" [items]="wardZoneLevel4List"
            bindValue="wardzoneId" bindLabel="wardzoneName" name="level4Id" [(ngModel)]="searchModel.level4Id">
          </ng-select>
        </div>
      </div>
 
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input matInput number-only maxlength="10" name="mobileNo" placeholder="Mobile Number"
            [(ngModel)]="searchModel.mobileNo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input trim="blur" mask-census-no maxlength="21" matInput name="censusNo" placeholder="Census Number" [(ngModel)]="searchModel.censusNo">
        </mat-form-field>
      </div>
 
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput name="ownerName" placeholder="Owner Name" [(ngModel)]="searchModel.ownerName">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput name="occupierName" placeholder="Occupier Name"
            [(ngModel)]="searchModel.occupierName">
        </mat-form-field>
      </div>


      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput name="address" placeholder="Address" [(ngModel)]="searchModel.address">
        </mat-form-field>
      </div>
     
   
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input trim="blur" mask-property-no-with-occuiper-code maxlength="16" matInput name="propertyNo" placeholder="Property Number" [(ngModel)]="propertyNo">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button class="ml-3" mat-raised-button color="primary" type="button" (click)="searchByPropertyNo()">
          Go
        </button>
      </div>
    </div>

    <div class="fotButtonBar clearfix mt-0">
        <div class="col-sm-12 col-md-12 text-right">
            <button mat-raised-button class="gray-btn ml-3" type="submit">
                <mat-icon>search</mat-icon> Search
              </button>
              <button mat-raised-button class=" ml-3" type="button" color="warn" (click)="clear()">
                <mat-icon>clear_all</mat-icon> Clear
              </button>
        </div>
    </div>

  </form>
</mat-card>
</mat-card>