<div class="container">
	<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
	<mat-card class="mt-4">
		<!--Start  form  -->
		<form [formGroup]="searchForm" autocomplete="off" ngNativeValidate>
			<div class="row" *ngIf="!deathFromName">
				<mat-form-field class="col-md-4">
					<input matInput trim type="text" formControlName="birthRegNumber"
						placeholder="{{'reg_number' | translate: translateKey}}">
				</mat-form-field>

				<div class="col-md-4 ngSelect">
					<ng-select placeholder="{{'reg_year' | translate: translateKey}}" formControlName="birthRegYear">
						<ng-option *ngFor="let regyear of RegYear" [value]="regyear.code">{{regyear.name}}</ng-option>
					</ng-select>
				</div>

				<mat-form-field class="col-md-4">
					<input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthDate"
						(dateChange)="onDateChange($event.value)"
						placeholder="{{deathFromName ? 'death_date' : 'birth_date' | translate: translateKey}}"
						(focus)="picker.open()">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker touchUi="true" #picker></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="col-md-4">
					<input matInput type="text" formControlName="childName" appValidationFields
						validationFieldsType="onlyNameWithOutSpace"
						placeholder="{{deathFromName ? 'deceased_name' : 'child_name' | translate: translateKey}}">
				</mat-form-field>

				<mat-form-field class="col-md-4">
					<input matInput type="text" formControlName="fatherName" appValidationFields
						validationFieldsType="onlyNameWithOutSpace"
						placeholder="{{'father_name' | translate: translateKey}}">
				</mat-form-field>

				<mat-form-field class="col-md-4">
					<input matInput type="text" formControlName="motherName" appValidationFields
						validationFieldsType="onlyNameWithOutSpace"
						placeholder="{{'mother_name' | translate: translateKey}}">
				</mat-form-field>

				<div class="col-md-12 text-right">
					<button mat-raised-button color="primary"
						(click)="getDetails(searchForm.value)">{{'get_certificate_detail' | translate: translateKey}}</button>
				</div>

			</div>
			<!-- this form for cash of death  -->
			<div class="row" *ngIf="deathFromName">
				<mat-form-field class="col-md-4">
					<input matInput trim type="text" formControlName="deathRegNumber"
						placeholder="{{'reg_number' | translate: translateKey}}">
				</mat-form-field>

				<div class="col-md-4 ngSelect">
					<ng-select placeholder="{{'reg_year' | translate: translateKey}}" formControlName="deathRegYear">
						<ng-option *ngFor="let regyear of RegYear" [value]="regyear.code">{{regyear.name}}</ng-option>
					</ng-select>
				</div>

				<mat-form-field class="col-md-4">
					<input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="deathDate"
						(dateChange)="onDateChange($event.value)"
						placeholder="{{ 'death_date' | translate: translateKey}}"
						(focus)="picker.open()">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker touchUi="true" #picker></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="col-md-4">
					<input matInput type="text" formControlName="deceasedName" appValidationFields
						validationFieldsType="onlyNameWithOutSpace"
						placeholder="{{ 'deceased_name'  | translate: translateKey}}">
				</mat-form-field>

				<mat-form-field class="col-md-4">
					<input matInput type="text" formControlName="fatherName" appValidationFields
						validationFieldsType="onlyNameWithOutSpace"
						placeholder="{{'father_name' | translate: translateKey}}">
				</mat-form-field>

				<mat-form-field class="col-md-4">
					<input matInput type="text" formControlName="motherName" appValidationFields
						validationFieldsType="onlyNameWithOutSpace"
						placeholder="{{'mother_name' | translate: translateKey}}">
				</mat-form-field>

				<div class="col-md-12 text-right">
					<button mat-raised-button color="primary"
						(click)="getDetails(searchForm.value)">{{'get_certificate_detail' | translate: translateKey}}</button>
				</div>
			</div>

		</form>
		<!-- end form-->
	</mat-card>

	<!-- Table start-->
	<div class="example-container mat-elevation-z8" [hidden]="resultsLength == 0">
		<div class="example-loading-shade" *ngIf="isLoadingResults || resultsLength==0">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			<div class="example-rate-limit-reached" *ngIf="resultsLength==0">
				No record(s) found!
			</div>
		</div>

		<table mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
			matSortDisableClear matSortDirection="asc">

			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>#</th>
				<td mat-cell *matCellDef="let row;let i = index">
					{{ (paginator.pageSize * (paginator.pageIndex) + i) + 1 }}</td>
			</ng-container>

			<ng-container matColumnDef="seq">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let row;let i = index;">
					<mat-checkbox [checked]="selected === i" (change)="onChkBoxClick($event,row);selected = i">
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container matColumnDef="certificateno">
				<th mat-header-cell *matHeaderCellDef>Certificate no</th>
				<td mat-cell *matCellDef="let row">{{row.certificateno}}</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let row">{{deathFromName?row.deceasedfirstname : row.childName }}</td>
			</ng-container>

			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef>Date</th>
				<td mat-cell *matCellDef="let row">{{deathFromName ? row.deathDate : row.birthDate | date:'dd/MM/yyyy'}}</td>
			</ng-container>

			<ng-container matColumnDef="fathersName">
				<th mat-header-cell *matHeaderCellDef>Father Name</th>
				<td mat-cell *matCellDef="let row">{{deathFromName ? row.fatherorhusbandname : row.fathersName}}</td>
			</ng-container>

			<ng-container matColumnDef="mothersName">
				<th mat-header-cell *matHeaderCellDef>Mother Name</th>
				<td mat-cell *matCellDef="let row">{{deathFromName ? row.mothername : row.mothersName}}</td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef>Action</th>
				<td mat-cell *matCellDef="let row">
					<button *ngIf="rowData.id == row.id" mat-icon-button color="primary"
						(click)="redirectToDuplicate(row)">
						Duplicate Certificate
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<!-- <mat-paginator [length]="resultsLength" [pageSize]="pageSize"> -->
		<mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
			[pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

	</div>
	<!-- Table end-->
</div>