<app-title-bar [title]="'New Water Connection Entry'"></app-title-bar>
<mat-horizontal-stepper #stepper (selectionChange)="stepChanged($event, stepper);" class="stepperToTab">
  <mat-step>
    <ng-template matStepLabel>Applicant Details</ng-template>
    <app-applicant-detail-propertywater (stepChange)="stepChangedEvent($event)" (applicantDetails)="saveApplicantDetails($event)"  [serviceType]="'WTR-NEW'"></app-applicant-detail-propertywater>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Consumer Details</ng-template>
    <app-consumer-detail></app-consumer-detail>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Property Details</ng-template>
    <app-property-detail></app-property-detail>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Attachment</ng-template>
    <app-document-upload></app-document-upload>
  </mat-step>
</mat-horizontal-stepper>