<app-title-bar [title]="'New Water Connection Entry'"></app-title-bar>
  <!-- <mat-card class="cardH1">
    <h1>New Water Connection Entry</h1>
  </mat-card> -->
<mat-horizontal-stepper #stepper (selectionChange)="stepChanged($event, stepper);" class="stepperToTab">
  <mat-step >
    <ng-template matStepLabel>Consumer Details</ng-template>
    <app-consumer-detail></app-consumer-detail>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Property Details</ng-template>
    <app-property-detail></app-property-detail>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Approval</ng-template>
    <app-property-approval></app-property-approval>
  </mat-step>
</mat-horizontal-stepper>


