<form #consumerFormDetails="ngForm" (ngSubmit)="saveConsumerDetail(consumerFormDetails)">
    <mat-card>
        <div class="row">
            <!-- <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input matInput name="applicationNumber" placeholder="Application No" [(ngModel)]="applicationModel.applicationNumber">
                </mat-form-field>
            </div> -->

            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                  <input matInput trim="blur" required placeholder="Application No" maxlength="20" #ApplicationNo="ngModel" name="applicationNumber" [(ngModel)]="applicationModel.applicationNumber">
                  <mat-error *ngIf="ApplicationNo.invalid">*Application No is required.</mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input readonly matInput placeholder="Applicant Name" name="applicantName"  [(ngModel)]="applicationModel.applicantName">
                </mat-form-field>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input readonly matInput placeholder="Applicant's Mobile Number" name="mobileNumber"  [(ngModel)]="applicationModel.mobileNumber">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input readonly matInput placeholder="Applicant's Aadhaar Number" name="aadharNumber"  [(ngModel)]="applicationModel.aadharNumber">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input readonly matInput placeholder="Applicant's Email Id" name="emailID"  [(ngModel)]="applicationModel.emailID">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-checkbox  (change)="onClickIsApplicationisConnectionOwner($event)"  >Is Applicant is Connection Owner</mat-checkbox>
            </div>
        </div> -->
    </mat-card>
    <mat-card class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4>Consumer Detail</h4>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input readonly matInput name="connectionNo" [(ngModel)]="model.connectionNo" #ConnectionNo="ngModel"
                        placeholder="Water Connection No">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input matInput name="oldConnectionNo" [(ngModel)]="model.oldConnectionNo"  maxlength="20"
                        #OldConnectionNo="ngModel" placeholder="Old Water Connection No">
                    <!-- <mat-error *ngIf="OldConnectionNo.invalid">*Old Water Connection No is required.</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" required matInput name="ownerName" [(ngModel)]="model.ownerName" #OwnerName="ngModel"
                        placeholder="Connection Owner Name"  maxlength="255">
                    <mat-error *ngIf="OwnerName.invalid">*Connection Owner Name is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input  matInput number-only [allowDecimals]="false" type="text" maxlength="10"  minlength="10" name="mobileNo"
                        [(ngModel)]="model.mobileNo" #MobileNo="ngModel" placeholder="Mobile No">
                    <mat-error *ngIf="MobileNo.invalid">*Mobile No is invalid.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input  matInput number-only [allowDecimals]="false" type="text" name="aadharNo"
                        [(ngModel)]="model.aadharNo" #AadharNo="ngModel" placeholder="Aadhaar No" maxlength="12"  minlength="12">
                    <mat-error *ngIf="AadharNo.invalid">*Aadhaar No is invalid.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required placeholder="Within Limit / Out of Limit *" [items]="limitList" bindValue="itemId" bindLabel="itemName"
                        name="limitLookupId" [(ngModel)]="model.limitLookupId" #LimitLookupId="ngModel"
                        (ngModelChange)="onChangedLimit($event)"
                        [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && LimitLookupId.invalid}">
                    </ng-select>
                    <div *ngIf="(consumerFormDetails.submitted && LimitLookupId.invalid)  || (LimitLookupId.invalid && LimitLookupId.touched)">
                        <mat-error *ngIf="LimitLookupId.errors.required">*Within Limit / Out of Limit is required.</mat-error>
                    </div>                    
                </div>
                
                
            </div>
        </div>
        <div *ngIf="!isOutofLimit">
            <div class="row">
                <div class="col-md-6">
                    <div class="ngSelect"  *ngIf="wardZoneLevel.length>=1">
                        <ng-select required [placeholder]="!wardZoneLevel[0]?'': wardZoneLevel[0].levelName + ' *'" 
                        [items]="wardZoneLevel1List" bindValue="parentWardzoneId" bindLabel="wardzoneName"
                            name="level1Id" [(ngModel)]="model.level1Id" #Level1Id="ngModel"
                            (ngModelChange)="onChangedWardZone($event,2)"
                            [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && Level1Id.invalid}">
                        </ng-select>
                        <div *ngIf="(consumerFormDetails.submitted && Level1Id.invalid)  || (Level1Id.invalid && Level1Id.touched)">
                            <mat-error *ngIf="Level1Id.errors.required">*{{!wardZoneLevel[0]?'': wardZoneLevel[0].levelName}} is
                                required.</mat-error>
                        </div>                    
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="ngSelect"  *ngIf="wardZoneLevel.length>=2">
                        <ng-select required [placeholder]="!wardZoneLevel[1]?'': wardZoneLevel[1].levelName + ' *'" 
                        [items]="wardZoneLevel2List" bindValue="wardzoneId" bindLabel="wardzoneName"
                            name="Level2Id" [(ngModel)]="model.level2Id" #Level2Id="ngModel"
                            (ngModelChange)="onChangedWardZone($event,3)"
                            [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && Level2Id.invalid}">
                        </ng-select>
                        <div *ngIf="(consumerFormDetails.submitted && Level2Id.invalid)  || (Level2Id.invalid && Level2Id.touched)">
                            <mat-error *ngIf="Level2Id.errors.required">*{{!wardZoneLevel[1]?'': wardZoneLevel[1].levelName}} is
                                required.</mat-error>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="ngSelect"  *ngIf="wardZoneLevel.length>=3">
                        <ng-select  [placeholder]="!wardZoneLevel[2]?'': wardZoneLevel[2].levelName" 
                        [items]="wardZoneLevel3List" bindValue="wardzoneId" bindLabel="wardzoneName"
                            name="level3Id" [(ngModel)]="model.level3Id" 
                            (ngModelChange)="onChangedWardZone($event,4)">
                        </ng-select>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="ngSelect"  *ngIf="wardZoneLevel.length>=4">
                        <ng-select  [placeholder]="!wardZoneLevel[3]?'': wardZoneLevel[3].levelName" 
                        [items]="wardZoneLevel4List" bindValue="wardzoneId" bindLabel="wardzoneName"
                            name="level4Id" [(ngModel)]="model.level4Id">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4>Connection Detail</h4>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required placeholder="Connection Usage *" [items]="connectionUsageList" bindValue="usageId" bindLabel="usageName"
                        name="usageId" [(ngModel)]="model.usageId" #UsageId="ngModel"
                        (ngModelChange)="onChangedConnectionUsage($event)"
                        [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && UsageId.invalid}">
                    </ng-select>
                    <div *ngIf="(consumerFormDetails.submitted && UsageId.invalid)  || (UsageId.invalid && UsageId.touched)">
                        <mat-error *ngIf="UsageId.errors.required">*Connection Usage is required.</mat-error>
                    </div>                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required placeholder="Connection Sub-Usage *" [items]="connectionSubUsageList" bindValue="subUsageId" bindLabel="subUsage"
                        name="subusageId" [(ngModel)]="model.subusageId" #SubusageId="ngModel"
                        [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && SubusageId.invalid}">
                    </ng-select>
                    <div *ngIf="(consumerFormDetails.submitted && SubusageId.invalid)  || (SubusageId.invalid && SubusageId.touched)">
                        <mat-error *ngIf="SubusageId.errors.required">*Connection Sub-Usage is required.</mat-error>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required placeholder="Connection Size *" [items]="connectionSizeList" bindValue="waterConnSizeId" bindLabel="connectionSize"
                        name="connectionSizeId" [(ngModel)]="model.connectionSizeId" #ConnectionSizeId="ngModel"
                        [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && ConnectionSizeId.invalid}">
                    </ng-select>
                    <div *ngIf="(consumerFormDetails.submitted && ConnectionSizeId.invalid)  || (ConnectionSizeId.invalid && ConnectionSizeId.touched)">
                        <mat-error *ngIf="ConnectionSizeId.errors.required">*Connection Size is required.</mat-error>
                    </div>                    
                </div>

            </div>
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required placeholder="Connection Type *" [items]="connectionTypeList" bindValue="itemId" bindLabel="itemName"
                        name="connectionTypeId" [(ngModel)]="model.connectionTypeId" #ConnectionTypeId="ngModel"
                        [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && ConnectionTypeId.invalid}">
                    </ng-select>
                    <div *ngIf="(consumerFormDetails.submitted && ConnectionTypeId.invalid)  || (ConnectionTypeId.invalid && ConnectionTypeId.touched)">
                        <mat-error *ngIf="ConnectionTypeId.errors.required">*Connection Type is required.</mat-error>
                    </div>                    
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <mat-form-field class="full-width-input">
                    <input matInput readonly name="plumberId" [(ngModel)]="model.plumberId" #PlumberId="ngModel"
                        placeholder="Plumber Name">
                    <mat-error *ngIf="PlumberId.invalid">*Plumber Name is required.</mat-error>
                </mat-form-field> -->
                <div class="ngSelect">
                        <ng-select required placeholder="Plumber Name *" [items]="plumberList"
                            bindValue="plumberLicenseId" bindLabel="nameOfApplicant" name="plumberId" [(ngModel)]="model.plumberId"
                            #PlumberId="ngModel"
                            [ngClass]="{'ng-invalid ng-touched':  consumerFormDetails.submitted && PlumberId.invalid}">
                        </ng-select>
                        <div
                            *ngIf="(consumerFormDetails.submitted && PlumberId.invalid)  || (PlumberId.invalid && PlumberId.touched)">
                            <mat-error *ngIf="PlumberId.errors.required">*Plumber Name is required.</mat-error>
                        </div>
                    </div>  
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput name="gasConnectionNo" [(ngModel)]="model.gasConnectionNo"
                        #GasConnectionNo="ngModel" placeholder="Gas Connection No">
                    <mat-error *ngIf="GasConnectionNo.invalid">*Gas Connection No is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput name="electricityConnectionNo" [(ngModel)]="model.electricityConnectionNo"
                        #ElectricityConnectionNo="ngModel" placeholder="Electricity Connection No">
                    <mat-error *ngIf="ElectricityConnectionNo.invalid">*Electricity Connection No is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput name="buildingPermissionNo" [(ngModel)]="model.buildingPermissionNo"
                        #BuildingPermissionNo="ngModel" placeholder="Building Permission No">
                    <mat-error *ngIf="BuildingPermissionNo.invalid">*Building Permission No is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput name="completionCertificateNo" [(ngModel)]="model.completionCertificateNo"
                        #CompletionCertificateNo="ngModel" placeholder="Completion Certificate No">
                    <mat-error *ngIf="CompletionCertificateNo.invalid">*Completion Certificate No is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput name="occupancyCertificateNo" [(ngModel)]="model.occupancyCertificateNo"
                        #OccupancyCertificateNo="ngModel" placeholder="Occupancy Certificate No">
                    <mat-error *ngIf="OccupancyCertificateNo.invalid">*Occupancy Certificate No is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <div class="button-row text-right mt-3">
        <button mat-raised-button color="primary" type="submit">
            Next<mat-icon>skip_next</mat-icon>
        </button>
    </div>
</form>