<div class=" col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
	<mat-card class="mt-4">
		<h1 class="heading">Profile</h1>
		<mat-card-content>
			<form [formGroup]="userProfileForm" (ngSubmit)="onSubmitProfile(userProfileForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="iconMat" >
						<mat-icon matPrefix>face</mat-icon>
					<input matInput type="text" placeholder="Firstname" formControlName="firstName" required>
				</mat-form-field>

				<mat-form-field class="iconMat" >
						<mat-icon matPrefix>face</mat-icon>
					<input matInput type="text" placeholder="Lastname" formControlName="lastName" required>
				</mat-form-field>

				<mat-form-field class="iconMat" >
						<mat-icon matPrefix>mail_outline</mat-icon>
					<input matInput type="email" placeholder="Email" formControlName="email" required readonly>
				</mat-form-field>

				<mat-form-field class="iconMat" >
						<mat-icon matPrefix>phone_android</mat-icon>
					<input matInput type="number" placeholder="Cell Number" formControlName="cellNo" required readonly>
				</mat-form-field>

				<div class="text-center">
				<button type="submit" mat-raised-button color="primary" [disabled]="userProfileForm.invalid" >
					Submit Profile
				</button>
			</div>

			</form>
		</mat-card-content>
	</mat-card>
</div>