$theme-color: lightblue !default;

//left sidebar variables
$side-menu-bg-color: #1e5f62 !default;
$side-menu-font-color: #fff !default;
$side-menu-bg-color-active: #103c3e !default;
$side-menu-font-color-active: #fff !default;

//header variables
$header-menu-bg-color: #fff !default;