
<mat-card class="mb-4">

	<form [formGroup]="paymentsForm" autocomplete="off" ngNativeValidate novalidate>
		<div class="row">
			<div formGroupName="payableServices" class="col-md-4 ngSelect">
				<ng-select placeholder="Select Payable Service *" formControlName="code" (change)="showHideSearchable($event)">
					<ng-option *ngFor="let payservice of PayableServices" [value]="payservice.code">
						{{payservice.name}}
					</ng-option>
				</ng-select>
				<control-messages [control]="paymentsForm.get('payableServices.code')"></control-messages>
			</div>

			<mat-form-field class="col-md-4">
				<input matInput placeholder="Reference Number" formControlName="refNumber" required>
				<control-messages [control]="paymentsForm.get('refNumber')"></control-messages>
			</mat-form-field>

			<div class="col-md-4 pt-2">
				<button mat-raised-button color="accent" (click)="getAmountData()">
					<mat-icon>search</mat-icon>
					Search
				</button>
			</div>
		</div>

		<div class="row" *ngIf="isRecordExists">
			<mat-form-field class="col-md-4">
				<input matInput placeholder="Amount(Rs.)" formControlName="amount">
			</mat-form-field>

			<div class="col-md-4" formGroupName="payMode">
				<mat-label>Payment Mode</mat-label>
				<mat-radio-group class="example-radio-group" formControlName="code">
					<mat-radio-button [value]="mode.code" *ngFor="let mode of payModeArr">{{mode.name}}</mat-radio-button>
				</mat-radio-group>
			</div>

			<div class="col-md-4 pt-3">
				<button mat-raised-button class="paymentButton" color="primary" type="submit" (click)="makePayment(paymentsForm.value)">
					Make Payment
				</button>
			</div>

		</div>

	</form>

</mat-card>