
	<!-- <app-title-bar [title]="'Service Payment' |translate: translateKey"></app-title-bar> -->
	
	<mat-card class="mb-4">

		<form [formGroup]="paymentsForm" autocomplete="off" ngNativeValidate>
			<div class="row">
				<div formGroupName="payableServices" class="col-md-4">
					<ng-select placeholder="Select Payable Service" formControlName="code" (change)="showHideSearchable($event)">
						<ng-option *ngFor="let payservice of PayableServices" [value]="payservice.code">
							{{payservice.name}}
						</ng-option>
					</ng-select>
				</div>

				<mat-form-field class="col-md-4">
					<input matInput placeholder="Reference Number" formControlName="refNumber">
					<control-messages [control]="paymentsForm.controls.refNumber"></control-messages>
				</mat-form-field>

				<div class="col-md-4" *ngIf="currPaySerData && currPaySerData.searchable && isSearchBtnDisplay">
					<button mat-raised-button color="accent" (click)="getAmountData()">
						<mat-icon>search</mat-icon>
						Search
					</button>
				</div>
			</div>
			<div class="row">

				<mat-form-field class="col-md-4">
					<input matInput placeholder="Amount(Rs.)" formControlName="amount">
				</mat-form-field>

				<div formGroupName="paymentMode" class="col-md-4" *ngIf="currPaySerData">
					<ng-select placeholder="Select Pay Mode" formControlName="code">
						<ng-option *ngFor="let payMode of currPaySerData.paymentModes" [value]="payMode.code">
							{{payMode.name}}
						</ng-option>
					</ng-select>
				</div>

				<div class="col-md-12" *ngIf="paymentsForm.get('paymentMode').get('code').value=='DD_BANKER_CHEQUE'">
					<mat-card class="cardH1">
						<h1>DD Banker Details</h1>
					</mat-card>
					<div class="row">
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Bank Name" formControlName="bankName">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Branch Name" formControlName="branchName">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Check/DD Number" formControlName="checkDdNumber">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Account Number" formControlName="acNo">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Account Holder Name" formControlName="acHolderName">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput [matDatepicker]="checkDdPicker" placeholder="Check/DD Date" formControlName="checkDdDate" (click)="checkDdPicker.open()">
							<mat-datepicker-toggle matSuffix [for]="checkDdPicker"></mat-datepicker-toggle>
							<mat-datepicker touchUi="true" #checkDdPicker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-12" *ngIf="paymentsForm.get('paymentMode').get('code').value=='CHEQUE'">
					<mat-card class="cardH1">
						<h1>Check Details</h1>
					</mat-card>
					<div class="row">
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Bank Name" formControlName="bankName">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Branch Name" formControlName="branchName">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Check/DD Number" formControlName="checkDdNumber">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Account Number" formControlName="acNo">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Account Holder Name" formControlName="acHolderName">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput [matDatepicker]="checkDdPicker" placeholder="Check/DD Date" formControlName="checkDdDate" (click)="checkDdPicker.open()">
							<mat-datepicker-toggle matSuffix [for]="checkDdPicker"></mat-datepicker-toggle>
							<mat-datepicker touchUi="true" #checkDdPicker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-12" *ngIf="paymentsForm.get('paymentMode').get('code').value=='POS'">
					<mat-card class="cardH1">
						<h1>POS Details</h1>
					</mat-card>
					<div class="row">
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Card No" formControlName="cardNo">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Name On Card" formControlName="nameOnCard">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="CVV" formControlName="CVV">
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput [matDatepicker]="cardExpPicker" placeholder="Card Expiry" formControlName="cardExpiry" (click)="cardExpPicker.open()">
							<mat-datepicker-toggle matSuffix [for]="cardExpPicker"></mat-datepicker-toggle>
							<mat-datepicker touchUi="true" #cardExpPicker></mat-datepicker>
						</mat-form-field>
						<mat-form-field class="col-md-4">
							<input matInput placeholder="Transaction No" formControlName="transNo">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<button mat-raised-button *ngIf="!isSearchBtnDisplay" class="paymentButton" class="liteGrayBtn" type="button" (click)="dialog.closeAll()">
						Cancel
					</button>
					<button mat-raised-button class="paymentButton" color="primary" type="submit" (click)="makePayment(paymentsForm.value)">
						Make Payment
					</button>
				</div>
			</div>
		</form>

	</mat-card>

