<!-- <p>
  water-pipeline-work-completion works!
</p> -->

<app-title-bar [title]="'screen_title' | translate: translateKey">
</app-title-bar>

<h4>{{'search-view' | translate:translateKey}}</h4>

<form [formGroup]="waterPipelineWorkCompletionSearchForm">
  <div class="row">
    <mat-form-field class="col-lg-3">
      <input matInput formControlName="workCompletionWorkOrderNo" placeholder="{{'work-order-no' | translate:translateKey}}">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
      <input matInput type="text"  formControlName="applicationNo" placeholder="{{'application-no' | translate:translateKey}}">
    </mat-form-field>

    <div class="col-lg-2">
      <button mat-stroked-button (click)="searchInWtrPipeline(waterPipelineWorkCompletionSearchForm)">Search</button>
    </div>
  </div>
</form>

  <!-- <div>Parth form here.</div>  [ngClass]="{'d-none': isFromShow}" -->
  <div class="container" [ngClass]="{'d-none': isFromShow}">
    <mat-card class="cardBorder">
      <form [formGroup]="waterPipelineWorkCompletionForm">
        <div class="row">
          <mat-form-field class="col-md-3">
            <input matInput type="text" readonly required maxlength="300" appValidationFields
              validationFieldsType='onlyNameWithSpace'
              placeholder="{{'scheme-name' | translate:translateKey}}" formControlName="schemeName">
          </mat-form-field>

          <mat-form-field [hidden]="true">
            <input matInput formControlName="waterPipelineWardId" >
          </mat-form-field>

          <mat-form-field [hidden]="true">
            <input matInput formControlName="waterPipeLineConnectionId" >
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput type="tel" readonly  formControlName="tpNo" placeholder="{{'tp-no' | translate:translateKey}}" minlength="6" maxlength="6">
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput readonly  maxlength="10" formControlName="fpNo" placeholder="{{'fp-no' | translate:translateKey}}">
          </mat-form-field>
  
          <mat-form-field class="col-md-3">
            <input matInput OnlyNumber maxlength="10" readonly placeholder="{{'revenue-survey-no' | translate:translateKey}}" formControlName="revenueSurveyNo">
          </mat-form-field>
  
          <mat-form-field class="col-md-3">
            <input matInput  appPreventSpace
              placeholder="{{'city-survey-no' | translate:translateKey}}" type="text"
              formControlName="citySurveyNo" readonly>
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput type="text" placeholder="{{'work-order-no' | translate:translateKey}}" readonly formControlName="workOrderNo" >
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput type="text" placeholder="{{'work-order-date' | translate:translateKey}}" readonly formControlName="workOrderDate" >
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput type="text" required maxlength="300" appValidationFields
              validationFieldsType='onlyNameWithSpace'
              placeholder="{{'applicant-name' | translate:translateKey}}" readonly
              formControlName="developerFullName">
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput type="text" required maxlength="300" appValidationFields
              validationFieldsType='onlyNameWithSpace'
              placeholder="{{'contractor-name' | translate:translateKey}}" readonly
              formControlName="contractorFullName">
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <textarea matInput rows="1" cols="50" maxlength="200" formControlName="contractorAddress"
              placeholder="{{'address' | translate:translateKey}}" required readonly> </textarea>
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input matInput type="text" placeholder="{{'name-of-tpi' | translate:translateKey}}" formControlName="tpiName" >
            <control-messages [control]="waterPipelineWorkCompletionForm.get('tpiName')"></control-messages>
          </mat-form-field>

          <div class="col-md-3 ngSelect">
            <ng-select placeholder="{{'apply-for' | translate:translateKey}}" formControlName="connectionApplyFor">
              <ng-option value="COMPLETION_CERTIFICATE">COMPLETION_CERTIFICATE</ng-option>
              <ng-option value="FLOW_TEST">FLOW_TEST</ng-option>
              <ng-option value="BOTH">BOTH</ng-option>
            </ng-select>
            <control-messages [control]="waterPipelineWorkCompletionForm.get('connectionApplyFor')"></control-messages>
          </div>

          <div class="row">
            <ng-template mat-tab-label>
              <div>upload</div>
            </ng-template>

            <div class="row" *ngIf="!isFromShow">
              <ng-container
                *ngFor="let doc of waterPipelineWorkCompletionForm.get('serviceDetail').get('serviceUploadDocuments').value">
                <div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive">
                  <label>{{translateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }}<span *ngIf="doc.mandatory">*</span>							</label>
                  <file-upload [form]="waterPipelineWorkCompletionForm" [uploadModel]="doc"></file-upload>
                </div>
              </ng-container>
            </div>
            
          </div>

        </div>
        <app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="uploadFilesArray" [isstepper]="false" [stepInfo]="{step: 'final', next: 0, back: 0}" [form]="waterPipelineWorkCompletionForm" ></app-action-bar>
        <select-payment-gateway #paymentGateway></select-payment-gateway>
      </form>
    </mat-card>
  </div>
