<div class="container">
	<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
	<mat-card class="mt-4 formClass">
		<form [formGroup]="bodyWanApplicationForm">
			<mat-horizontal-stepper [linear]="false">

				<!-- first step start-->
				<mat-step [label]="stepLable1">
					<app-basic-details [basicFormGroup]="bodyWanApplicationForm"></app-basic-details>
					<app-action-bar [form]="bodyWanApplicationForm" [step]="'final'" (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
				</mat-step>

			</mat-horizontal-stepper>
		</form>
	</mat-card>
</div>