<mat-horizontal-stepper #stepper class="stepperToTab">
    <mat-step>
        <ng-template matStepLabel>Applicant Details</ng-template>
        <app-applicant-detail-propertywater (stepChange)="stepChangedEvent($event)"
            (applicantDetails)="saveApplicantDetails($event)" [serviceType]="'WTR-DISCON'">
        </app-applicant-detail-propertywater>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Detail</ng-template>
        <mat-card>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width-input" hidden>
                    <input matInput trim="blur"  placeholder="Application Number" maxlength="20" #ApplicationNo="ngModel" name="applicationNumber" [(ngModel)]="applicationModel.applicationNumber">
                    <mat-error *ngIf="ApplicationNo.invalid">*Application Number is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <mat-card class="details mt-3">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width-input">
                        <input trim="blur" matInput placeholder="Connection Number" maxlength="50" name="connectioNo" [(ngModel)]="connectioNo">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button mat-raised-button color="primary" type="button" (click)="searchByConnectionNo()"> Go </button>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width-input">
                        <input disabled matInput placeholder="Owner Name" name="ownerName" [(ngModel)]="connectionsModel.connectionDetail.ownerName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width-input">
                        <textarea disabled matInput placeholder="Address" name="address" [(ngModel)]="connectionsModel.address"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width-input">
                        <input disabled matInput placeholder="Property Dues" name="propertyDues" [(ngModel)]="connectionsModel.propertyDues">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button *ngIf="isShowSaveButton" class="ml-3" mat-raised-button color="accent" type="button" (click)="onPropertyDetailClick()">
                        <mat-icon>details</mat-icon> Detail
                    </button>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width-input">
                        <input disabled matInput placeholder="Water Dues" name="waterDues" [(ngModel)]="connectionsModel.waterDues">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button *ngIf="isShowSaveButton" class="ml-3" mat-raised-button color="accent" type="button" (click)="onWaterDetailClick()">
                        <mat-icon>details</mat-icon> Detail
                    </button>
                </div>
            </div>
            <form #form="ngForm" (ngSubmit)="save(form)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ngSelect">
                            <ng-select required placeholder="Reason for Disconnection *" [items]="reasonList" bindValue="itemId" bindLabel="itemName"
                                name="reasonForDisconnectionId" [(ngModel)]="dataModel.reasonForDisconnectionId" #reasonForDisconnectionId="ngModel"
                                [ngClass]="{'ng-invalid ng-touched':  form.submitted && reasonForDisconnectionId.invalid}">
                            </ng-select>
                            <div *ngIf="(form.submitted && reasonForDisconnectionId.invalid)  || (reasonForDisconnectionId.invalid && reasonForDisconnectionId.touched)">
                                <mat-error *ngIf="reasonForDisconnectionId.errors.required">*Reason for Disconnection is required.</mat-error>
                            </div>                    
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="ngSelect">
                            <ng-select required placeholder="Disconnection Type *" [items]="disconnectionTypeList" bindValue="itemId" bindLabel="itemName"
                                name="disconnectionTypeId" [(ngModel)]="dataModel.disconnectionTypeId" #DisconnectionTypeId="ngModel"
                                [ngClass]="{'ng-invalid ng-touched':  form.submitted && DisconnectionTypeId.invalid}">
                            </ng-select>
                            <div *ngIf="(form.submitted && DisconnectionTypeId.invalid)  || (DisconnectionTypeId.invalid && DisconnectionTypeId.touched)">
                                <mat-error *ngIf="DisconnectionTypeId.errors.required">*Disconnection Type is required.</mat-error>
                            </div>                    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ngSelect">
                            <ng-select required placeholder="Plumber Name *" [items]="plumberList"
                                bindValue="plumberLicenseId" bindLabel="nameOfApplicant" name="plumberId" [(ngModel)]="dataModel.plumberId"
                                #PlumberId="ngModel"
                                [ngClass]="{'ng-invalid ng-touched':  form.submitted && PlumberId.invalid}"
                            >
                            </ng-select>
                            <div *ngIf="(form.submitted && PlumberId.invalid)  || (PlumberId.invalid && PlumberId.touched)">
                                <mat-error *ngIf="PlumberId.errors.required">*Plumber Name is required.</mat-error>
                            </div>                   
                        </div> 
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 p-4" *ngIf="isShowSaveButton">

                    <button mat-raised-button class="ml-3 pull-left" color="primary" type="button" (click)="moveStepper(0)">
                        <mat-icon>skip_previous</mat-icon>Back
                    </button>
                    <button mat-raised-button class="ml-3 pull-right" color="primary" type="submit">
                        <mat-icon>save</mat-icon> Save & Next
                    </button>
                </div>
            </form>
        </mat-card>
    </mat-step>
<mat-step>
  <ng-template matStepLabel>Attachment</ng-template>
  <mat-card>
    <div class="row">
    <ng-container *ngFor="let doc of applictionDisconnectionDocumentUploadDocs">
      <div class="col-md-4">
        <label>{{doc.documentLabelEn}}<span *ngIf="doc.mandatory">*</span></label>
        <file-upload-water-tax [form]="applictionDisconnectionDocumentUploadDocs" [uploadModel]="doc"></file-upload-water-tax>
      </div>
      </ng-container>
    </div>
    
      
    <div class="col-sm-12 col-md-12">
        <button mat-raised-button class="ml-3 pull-left" color="primary" type="button" (click)="moveStepper(1)">
            <mat-icon>skip_previous</mat-icon>Back
        </button>
        <button mat-raised-button class="ml-3 pull-right" color="primary" (click)="onSubmitApproved()" type="button">
            <mat-icon>save</mat-icon>Submit
        </button>
      </div>

      <!-- 

<div class="col-sm-12 col-md-12">
            <button mat-raised-button class="ml-3 pull-left" color="primary" type="button" (click)="onBackClick()">
                <mat-icon>skip_previous</mat-icon>Back
            </button>
            <button mat-raised-button class="ml-3 pull-right" color="primary" type="submit">
                Next<mat-icon>skip_next</mat-icon>
            </button>
        </div>

       -->

  
  </mat-card> 
</mat-step>
      
    
  </mat-horizontal-stepper>
