
<div class="example-container col-md-6 col-md-offset-3" style="margin-top: 40px;">
	<div class="header">
		<div class="heading">Verification</div>
	</div>
	<mat-card>
		<mat-card-content>
			<form name="user-verify-form" [formGroup]="verifyForm" (ngSubmit)="verifyUser(verifyForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="example-full-width" style="width:100%">
					<input matInput type="text" [readonly]="verifyForm.get('code').value != ''" placeholder="Enter OTP" formControlName="code" required>
				</mat-form-field>

				<button type="submit" mat-raised-button color="primary" [disabled]="verifyForm.invalid" style="width:100%">
					Submit
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>