.mat-raised-button:hover {
    box-shadow: none !important;
}

.mat-raised-button {
    cursor: default;
}

.fotButtonBar {
    border: 1px solid #e1e1e1;
    border-top: none;
}

.remove-top-border{
    border-top: none;
}