<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

    <mat-card *ngIf="showApplicationSearch" class="mt-4 container" >

        <form [formGroup]="regStatusForm" (ngSubmit)="getRegistrationNumberStatus()" autocomplete="off">

            <div class="row">

                <mat-form-field class="col-md-4">
                    <input matInput maxlength="50" placeholder="{{'registration_number' | translate:translateKey}}" formControlName="registrationNumber"
                        required>
                    <control-messages [control]="regStatusForm.get('registrationNumber')"></control-messages>
                </mat-form-field>

                <div formGroupName="typeOfCorrection" class="col-md-6 ngSelect">
                    <ng-select placeholder="{{'type_of_correction' | translate:translateKey}}*" formControlName="code" >
                        <ng-option *ngFor="let type of TypeOfCorrection" [value]="type.code">
                            {{type.name}}
                        </ng-option>
                    </ng-select>
                    <control-messages [control]="regStatusForm.get('typeOfCorrection').get('code')"></control-messages>
                </div>

                <div class="col-md-2 text-right">
                    <button [disabled]="!regStatusForm.valid" mat-raised-button color="primary" type="submit">
                        {{'search'| translate: translateKey}}</button>
                </div>
            </div>
        </form>
    </mat-card>
    <mat-card [hidden]="!showcorrectionForm" class="formClass cardBorder">
        <form [formGroup]="birthCorrectionForm" autocomplete="off">
            <mat-tab-group mat-stretch-tabs class="stepperNav" dynamicHeight="true" [(selectedIndex)]="tabIndex">
                <mat-tab [label]="stepLable1 | translate: translateKey">

                    <h2>{{'child_details' | translate:translateKey}}</h2>

                    <div *ngIf="allowChildNameInsertion">
                        <div class="row">
                            <mat-form-field class="col-md-4">
                                <input required matInput [form]="birthCorrectionForm" maxlength="50" appGujInputSource targetElement="childNameGuj" appValidationFields
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'child_name' | translate:translateKey}}"
                                    formControlName="childName">
                                <control-messages [control]="birthCorrectionForm.get('childName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input required matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                                    formControlName="childNameGuj">
                                <control-messages [control]="birthCorrectionForm.get('childNameGuj')"></control-messages>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="allowChildNameCorrection">
                        <div class="row">
                            <mat-form-field class="col-md-4">
                                <input required matInput maxlength="50" [form]="birthCorrectionForm" appGujInputSource targetElement="childNameGuj" appValidationFields
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'child_name' | translate:translateKey}}"
                                    formControlName="childName">
                                <control-messages [control]="birthCorrectionForm.get('childName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input required matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                                    formControlName="childNameGuj">
                                <control-messages [control]="birthCorrectionForm.get('childNameGuj')"></control-messages>
                            </mat-form-field>
                        </div>

                        <h2>{{'father_details' | translate:translateKey}}</h2>

                        <div class="row">

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'" [form]="birthCorrectionForm"
                                    appGujInputSource targetElement="fatherFirstNameGuj" placeholder="{{'first_name' | translate:translateKey}}"
                                    formControlName="fatherFirstName" required>
                                <control-messages [control]="birthCorrectionForm.get('fatherFirstName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="fatherMiddleNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'middle_name' | translate:translateKey}}"
                                    formControlName="fatherMiddleName">
                                <control-messages [control]="birthCorrectionForm.get('fatherMiddleName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="fatherLastNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'last_name' | translate:translateKey}}"
                                    formControlName="fatherLastName" required>
                                <control-messages [control]="birthCorrectionForm.get('fatherLastName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'first_name' | translate:translateKey:'gu'}}"
                                    formControlName="fatherFirstNameGuj" required>
                                <control-messages [control]="birthCorrectionForm.get('fatherFirstNameGuj')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                                    formControlName="fatherMiddleNameGuj">
                                <control-messages [control]="birthCorrectionForm.get('fatherMiddleNameGuj')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                                    formControlName="fatherLastNameGuj" required>
                                <control-messages [control]="birthCorrectionForm.get('fatherLastNameGuj')"></control-messages>
                            </mat-form-field>
                        </div>

                        <h2>{{'mother_details' | translate:translateKey}}</h2>

                        <div class="row">
                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="motherFirstNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'first_name' | translate:translateKey}}"
                                    formControlName="motherFirstName" required>
                                <control-messages [control]="birthCorrectionForm.get('motherFirstName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="motherMiddleNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'middle_name' | translate:translateKey}}"
                                    formControlName="motherMiddleName">
                                <control-messages [control]="birthCorrectionForm.get('motherMiddleName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="motherLastNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'last_name' | translate:translateKey}}"
                                    formControlName="motherLastName" required>
                                <control-messages [control]="birthCorrectionForm.get('motherLastName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'first_name'| translate:translateKey:'gu'}}"
                                    formControlName="motherFirstNameGuj" required>
                                <control-messages [control]="birthCorrectionForm.get('motherFirstNameGuj')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                                    formControlName="motherMiddleNameGuj">
                                <control-messages [control]="birthCorrectionForm.get('motherMiddleNameGuj')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                                    formControlName="motherLastNameGuj" required>
                                <control-messages [control]="birthCorrectionForm.get('motherLastNameGuj')"></control-messages>
                            </mat-form-field>

                        </div>
                    </div>
                    <app-action-bar [uploadFiles]="uploadFileArray" [form]="birthCorrectionForm" [stepInfo]="{step: 'step1', next: 1, back: 0}"
                        (tabIndex)="onTabChange($event)" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

                </mat-tab>
                <mat-tab [label]="stepLable2 | translate: translateKey ">
                    <!-- <h2>{{'upload_mandetory_documents' | translate:translateKey}}</h2> -->

                    <div class="alert alert-warning ">
                        {{'note' | translate:translateKey}} :{{'submit_hard_copy_at_madhyawarti_school' | translate:translateKey}}
                    </div>

                    <div class="alert alert-warning ">
                        {{'note' | translate:translateKey}} : {{'file_size_less_than_5_mb' | translate:translateKey}}
                    </div>

                    <!-- dynamic documents -->
                <div class="row">
                    <ng-container
                        *ngFor="let doc of birthCorrectionForm.get('serviceDetail').get('serviceUploadDocuments').value">
                        <div class="col-md-4"
                            *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
                            <label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }}
                                <span *ngIf="doc.mandatory">*</span></label>
                            <file-upload [form]="birthCorrectionForm" [uploadModel]="doc"></file-upload>
                        </div>
                    </ng-container>
                </div>

                    <app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="uploadFileArray" [form]="birthCorrectionForm" [stepInfo]="{step: 'final', next: 2, back: 0}"
                        (tabIndex)="onTabChange($event)" (handleErrors)="handleErrorsOnSubmit($event) "></app-action-bar>

                </mat-tab>
                <select-payment-gateway #paymentGateway></select-payment-gateway>
            </mat-tab-group>

        </form>
    </mat-card>
