<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<mat-card *ngIf="showApplicationSearch" class="mt-4 container">

    <form [formGroup]="regStatusForm" (ngSubmit)="getRegistrationNumberStatus()" autocomplete="off">

        <div class="row">

            <mat-form-field class="col-md-6">
                <input matInput maxlength="50" placeholder="{{'registration_number' | translate:translateKey}}"
                    formControlName="registrationNumber" required>
                <control-messages [control]="regStatusForm.get('registrationNumber')"></control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthDate"
                    placeholder="{{'birth_date' | translate: translateKey}}" (focus)="picker.open()" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker></mat-datepicker>
                <mat-error *ngIf="regStatusForm.get('birthDate').invalid">Birth Date is Required.</mat-error>
            </mat-form-field>

            <div formGroupName="typeOfCorrection" class="col-md-12 ngSelect asteriskmarkRequired">
                <ng-select placeholder="{{'type_of_correction' | translate:translateKey}}" formControlName="code">
                    <ng-option *ngFor="let type of TypeOfCorrection" [value]="type.code">
                        {{type.name}}
                    </ng-option>
                </ng-select>
                <control-messages [control]="regStatusForm.get('typeOfCorrection').get('code')"></control-messages>
            </div>

            <div class="col-md-12 text-right">
                <button [disabled]="!regStatusForm.valid" mat-raised-button color="primary" type="submit">
                    {{'search'| translate: translateKey}}</button>
            </div>
        </div>
    </form>
</mat-card>
<mat-card [hidden]="!showcorrectionForm" class="formClass cardBorder">
    <form [formGroup]="birthCorrectionForm" autocomplete="off">
        <mat-tab-group mat-stretch-tabs class="stepperNav" dynamicHeight="true" [(selectedIndex)]="tabIndex">
            <mat-tab [label]="stepLable1 | translate: translateKey">


                <h2>{{'child_details' | translate:translateKey}}</h2>

                  <div *ngIf="allowChildNameInsertion">
                    <div class="row">

                      <mat-form-field formGroupName="birthCorrectionCopyMode" class="col-md-4">
                        <mat-label>{{'BIRTH_CORRECTION_COPY_MODE' | translate:translateKey}} <span class="mandatory">*</span></mat-label>
                        <mat-select  formControlName="code">
                          <mat-option *ngFor="let birthCorrectionCopyMode of BirthCorrectionCopyMode" [value]="birthCorrectionCopyMode.code">
                            {{birthCorrectionCopyMode.name}}
                          </mat-option>
                        </mat-select>
                        <control-messages [control]="birthCorrectionForm.get('birthCorrectionCopyMode').get('code')">
                        </control-messages>
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                        <input matInput [max]="100"  type="number" [min]="1 "  OnlyNumber (keypress)="getlength($event)"
                               placeholder="{{'total_copies' | translate:translateKey}} " formControlName="totalCopies" required>
                        <control-messages [control]="birthCorrectionForm.get('totalCopies')"></control-messages>
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                            <input required matInput [form]="birthCorrectionForm" maxlength="50" appGujInputSource
                                targetElement="childNameGuj" appValidationFields
                                [validationFieldsType]="'onlyNameWithOutSpace'"
                                placeholder="{{'child_name' | translate:translateKey}}" formControlName="childName">
                            <control-messages [control]="birthCorrectionForm.get('childName')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput trim type="text" formControlName="gender" appGujInputSource
                                targetElement="genderguj" placeholder="{{'gender' | translate: translateKey}}" required
                                readonly>
                            <control-messages [control]="birthCorrectionForm.get('gender')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput trim type="text" formControlName="placeofbirth" appGujInputSource
                                targetElement="placeofbirthguj"
                                placeholder="{{'place_of_birth' | translate: translateKey}}" required readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('placeofbirth').invalid">Place of Birth is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('placeofbirth')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input  matInput maxlength="150" appValidationFields appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                                [validationFieldsType]="'onlyNameWithOutSpace'" formControlName="childNameGuj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('childNameGuj').invalid">Child Name Gujarati is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('childNameGuj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm" placeholder="{{'gender' | translate:translateKey:'gu'}}"
                                formControlName="genderguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('genderguj').invalid">Gender Gujarati is Required.
                            </mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('genderguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'place_of_birth' | translate:translateKey:'gu'}}"
                                formControlName="placeofbirthguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('placeofbirthguj').invalid">Place of Birth
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('placeofbirthguj')"></control-messages> -->
                        </mat-form-field>
                    </div>

                    <h2>{{'father_details' | translate:translateKey}}</h2>

                    <div class="row">

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appValidationFields [form]="birthCorrectionForm"
                                appGujInputSource targetElement="fatherFirstNameGuj"
                                placeholder="{{'first_name' | translate:translateKey}}"
                                formControlName="fatherFirstName" required>
                            <mat-error *ngIf="birthCorrectionForm.get('fatherFirstName').invalid">Father Name is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('fatherFirstName')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="300" appGujInputTarget [form]="birthCorrectionForm"
                                placeholder="{{'first_name' | translate:translateKey:'gu'}}"
                                formControlName="fatherFirstNameGuj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('fatherFirstNameGuj').invalid">Father Name
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('fatherFirstNameGuj')"></control-messages> -->
                        </mat-form-field>

                    </div>

                    <h2>{{'mother_details' | translate:translateKey}}</h2>

                    <div class="row">

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" [form]="birthCorrectionForm" appGujInputSource
                                targetElement="motherFirstNameGuj"
                                placeholder="{{'mother_name' | translate:translateKey}}"
                                formControlName="motherFirstName" required>
                            <mat-error *ngIf="birthCorrectionForm.get('motherFirstName').invalid">Mother Name is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('motherFirstName')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="300" appGujInputTarget [form]="birthCorrectionForm"
                                placeholder="{{'mother_name'| translate:translateKey:'gu'}}"
                                formControlName="motherFirstNameGuj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('motherFirstNameGuj').invalid">Mother Name
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('motherFirstNameGuj')"></control-messages> -->
                        </mat-form-field>

                    </div>

                    <h2>{{'other_details' | translate:translateKey}}</h2>

                    <div class="row">

                        <mat-form-field class="col-md-6">
                            <input matInput trim type="text" formControlName="birthDate" appGujInputSource
                                targetElement="birthdateguj" placeholder="{{'birth_date' | translate: translateKey}}"
                                required readonly>
                            <control-messages [control]="birthCorrectionForm.get('birthDate')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'birth_date' | translate:translateKey:'gu'}}"
                                formControlName="birthdateguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthdateguj').invalid">Birth Date Gujarati is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthdateguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput trim type="text" formControlName="birthtime" appGujInputSource
                                targetElement="birthtimeguj" placeholder="{{'birth_time' | translate: translateKey}}"
                                required readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthtime').invalid">Birth Time is Required.
                            </mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthtime')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'birth_time' | translate:translateKey:'gu'}}"
                                formControlName="birthtimeguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthtimeguj').invalid">Birth Time Gujarati is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthtimeguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput trim type="text" formControlName="birthaddress" appGujInputSource
                                targetElement="birthaddressguj"
                                placeholder="{{'birth_address' | translate: translateKey}}" required >
                            <mat-error *ngIf="birthCorrectionForm.get('birthaddress').invalid">Birth Address is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthaddress')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'birth_address' | translate:translateKey:'gu'}}"
                                formControlName="birthaddressguj" >
                            <mat-error *ngIf="birthCorrectionForm.get('birthaddressguj').invalid">Birth Address Gujarati
                                is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthaddressguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput trim type="text" formControlName="permanentadd" appGujInputSource
                                targetElement="permanentaddguj"
                                placeholder="{{'permanent_add' | translate: translateKey}}" required>
                            <mat-error *ngIf="birthCorrectionForm.get('permanentadd').invalid">Permanent Address is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('permanentadd')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'permanent_add' | translate:translateKey:'gu'}}"
                                formControlName="permanentaddguj">
                            <mat-error *ngIf="birthCorrectionForm.get('permanentaddguj').invalid">Permanent Address
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('permanentaddguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput trim type="text" formControlName="registrationDate"
                                placeholder="{{'registration_date' | translate: translateKey}}" required readonly>
                            <control-messages [control]="birthCorrectionForm.get('registrationDate')">
                            </control-messages>
                        </mat-form-field>

                    </div>
                </div>

                <div *ngIf="allowChildNameCorrection">
                    <div class="row">

                      <mat-form-field formGroupName="birthCorrectionCopyMode" class="col-md-4">
                        <mat-label>{{'BIRTH_CORRECTION_COPY_MODE' | translate:translateKey}} <span class="mandatory">*</span></mat-label>
                        <mat-select formControlName="code">
                          <mat-option *ngFor="let birthCorrectionCopyMode of BirthCorrectionCopyMode" [value]="birthCorrectionCopyMode.code">
                            {{birthCorrectionCopyMode.name}}
                          </mat-option>
                        </mat-select>
                        <control-messages [control]="birthCorrectionForm.get('birthCorrectionCopyMode').get('code')">
                        </control-messages>
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                        <input matInput [max]="100"  type="number" [min]="1 "  OnlyNumber (keypress)="getlength($event)"
                               placeholder="{{'total_copies' | translate:translateKey}} " formControlName="totalCopies" required>
                        <control-messages [control]="birthCorrectionForm.get('totalCopies')"></control-messages>
                      </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input required matInput maxlength="50" [form]="birthCorrectionForm" appGujInputSource
                                targetElement="childNameGuj" appValidationFields
                                [validationFieldsType]="'onlyNameWithOutSpace'"
                                placeholder="{{'child_name' | translate:translateKey}}" formControlName="childName">
                            <control-messages [control]="birthCorrectionForm.get('childName')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput trim type="text" formControlName="gender" appGujInputSource
                                targetElement="genderguj" placeholder="{{'gender' | translate: translateKey}}" required
                                readonly>
                            <control-messages [control]="birthCorrectionForm.get('gender')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput trim type="text" formControlName="placeofbirth" appGujInputSource
                                targetElement="placeofbirthguj"
                                placeholder="{{'place_of_birth' | translate: translateKey}}" required readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('placeofbirth').invalid">Place of Birth is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('placeofbirth')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input  matInput maxlength="150" appValidationFields appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                                [validationFieldsType]="'onlyNameWithOutSpace'" formControlName="childNameGuj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('childNameGuj').invalid">Child Name Gujarati is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('childNameGuj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm" placeholder="{{'gender' | translate:translateKey:'gu'}}"
                                formControlName="genderguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('genderguj').invalid">Gender Gujarati is Required.
                            </mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('genderguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'place_of_birth' | translate:translateKey:'gu'}}"
                                formControlName="placeofbirthguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('placeofbirthguj').invalid">Place of Birth
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('placeofbirthguj')"></control-messages> -->
                        </mat-form-field>
                    </div>

                    <h2>{{'father_details' | translate:translateKey}}</h2>

                    <div class="row">

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appValidationFields [form]="birthCorrectionForm"
                                [validationFieldsType]="'onlyNameWithSpace'" appGujInputSource
                                targetElement="fatherFirstNameGuj"
                                placeholder="{{'first_name' | translate:translateKey}}"
                                formControlName="fatherFirstName" required>
                            <mat-error *ngIf="birthCorrectionForm.get('fatherFirstName').invalid">Father Name is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('fatherFirstName')"></control-messages> -->
                        </mat-form-field>

                        <!-- <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="fatherMiddleNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'middle_name' | translate:translateKey}}"
                                    formControlName="fatherMiddleName">
                                <control-messages [control]="birthCorrectionForm.get('fatherMiddleName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="fatherLastNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'last_name' | translate:translateKey}}"
                                    formControlName="fatherLastName" required>
                                <control-messages [control]="birthCorrectionForm.get('fatherLastName')"></control-messages>
                            </mat-form-field> -->

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="300" appValidationFields appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'first_name' | translate:translateKey:'gu'}}"
                                [validationFieldsType]="'onlyNameWithSpace'" formControlName="fatherFirstNameGuj"
                                 readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('fatherFirstNameGuj').invalid">Father Name
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('fatherFirstNameGuj')"></control-messages> -->
                        </mat-form-field>

                        <!-- <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                                    formControlName="fatherMiddleNameGuj">
                                <control-messages [control]="birthCorrectionForm.get('fatherMiddleNameGuj')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                                    formControlName="fatherLastNameGuj" required>
                                <control-messages [control]="birthCorrectionForm.get('fatherLastNameGuj')"></control-messages>
                            </mat-form-field> -->
                    </div>

                    <h2>{{'mother_details' | translate:translateKey}}</h2>

                    <div class="row">
                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appValidationFields [form]="birthCorrectionForm"
                                appGujInputSource targetElement="motherFirstNameGuj"
                                [validationFieldsType]="'onlyNameWithSpace'"
                                placeholder="{{'mother_name' | translate:translateKey}}"
                                formControlName="motherFirstName" required>
                            <mat-error *ngIf="birthCorrectionForm.get('motherFirstName').invalid">Mother Name is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('motherFirstName')"></control-messages> -->
                        </mat-form-field>

                        <!-- <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="motherMiddleNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'middle_name' | translate:translateKey}}"
                                    formControlName="motherMiddleName">
                                <control-messages [control]="birthCorrectionForm.get('motherMiddleName')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="20" appValidationFields [form]="birthCorrectionForm" appGujInputSource targetElement="motherLastNameGuj"
                                    [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'last_name' | translate:translateKey}}"
                                    formControlName="motherLastName" required>
                                <control-messages [control]="birthCorrectionForm.get('motherLastName')"></control-messages>
                            </mat-form-field> -->

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="300" appValidationFields appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'mother_name'| translate:translateKey:'gu'}}"
                                [validationFieldsType]="'onlyNameWithSpace'" formControlName="motherFirstNameGuj">
                            <mat-error *ngIf="birthCorrectionForm.get('motherFirstNameGuj').invalid">Mother Name
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('motherFirstNameGuj')"></control-messages> -->
                        </mat-form-field>

                        <!-- <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                                    formControlName="motherMiddleNameGuj">
                                <control-messages [control]="birthCorrectionForm.get('motherMiddleNameGuj')"></control-messages>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <input matInput maxlength="40" appPreventSpace appGujInputTarget [form]="birthCorrectionForm" placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                                    formControlName="motherLastNameGuj" required>
                                <control-messages [control]="birthCorrectionForm.get('motherLastNameGuj')"></control-messages>
                            </mat-form-field> -->
                    </div>

                    <h2>{{'other_details' | translate:translateKey}}</h2>

                    <div class="row">

                        <mat-form-field class="col-md-6">
                            <input matInput trim type="text" formControlName="birthDate" appGujInputSource
                                targetElement="birthdateguj" placeholder="{{'birth_date' | translate: translateKey}}"
                                required readonly>
                            <control-messages [control]="birthCorrectionForm.get('birthDate')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'birth_date' | translate:translateKey:'gu'}}"
                                formControlName="birthdateguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthdateguj').invalid">Birth Date Gujarati is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthdateguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput trim type="text" formControlName="birthtime" appGujInputSource
                                targetElement="birthtimeguj" placeholder="{{'birth_time' | translate: translateKey}}"
                                required readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthtime').invalid">Birth Time is Required.
                            </mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthtime')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'birth_time' | translate:translateKey:'gu'}}"
                                formControlName="birthtimeguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthtimeguj').invalid">Birth Time Gujarati is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthtimeguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput trim type="text" formControlName="birthaddress" appGujInputSource
                                targetElement="birthaddressguj"
                                placeholder="{{'birth_address' | translate: translateKey}}" required readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthaddress').invalid">Birth Address is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthaddress')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'birth_address' | translate:translateKey:'gu'}}"
                                formControlName="birthaddressguj" readonly>
                            <mat-error *ngIf="birthCorrectionForm.get('birthaddressguj').invalid">Birth Address Gujarati
                                is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('birthaddressguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput trim type="text" formControlName="permanentadd" appGujInputSource
                                targetElement="permanentaddguj"
                                placeholder="{{'permanent_add' | translate: translateKey}}" required >
                            <mat-error *ngIf="birthCorrectionForm.get('permanentadd').invalid">Permanent Address is
                                Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('permanentadd')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-12">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="birthCorrectionForm"
                                placeholder="{{'permanent_add' | translate:translateKey:'gu'}}"
                                formControlName="permanentaddguj">
                            <mat-error *ngIf="birthCorrectionForm.get('permanentaddguj').invalid">Permanent Address
                                Gujarati is Required.</mat-error>
                            <!-- <control-messages [control]="birthCorrectionForm.get('permanentaddguj')"></control-messages> -->
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput trim type="text" formControlName="registrationDate"
                                placeholder="{{'registration_date' | translate: translateKey}}" required readonly>
                            <control-messages [control]="birthCorrectionForm.get('registrationDate')">
                            </control-messages>
                        </mat-form-field>

                    </div>
                </div>
                <app-action-bar [uploadFiles]="uploadFileArray" [form]="birthCorrectionForm"
                    [stepInfo]="{step: 'step1', next: 1, back: 0}" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

            </mat-tab>
            <mat-tab [label]="stepLable2 | translate: translateKey ">
                <!-- <h2>{{'upload_mandetory_documents' | translate:translateKey}}</h2> -->

                <div class="alert alert-warning ">
                    {{'note' | translate:translateKey}} :{{'submit_hard_copy_at_madhyawarti_school' |
                    translate:translateKey}}
                </div>

                <div class="alert alert-warning ">
                    {{'note' | translate:translateKey}} : {{'file_size_less_than_5_mb' | translate:translateKey}}
                </div>

                <!-- dynamic documents -->
                <div class="row">
                    <ng-container
                        *ngFor="let doc of birthCorrectionForm.get('serviceDetail').get('serviceUploadDocuments').value">
                        <div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
                            <label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn :
                                doc.documentLabelGuj }}
                                <span *ngIf="doc.mandatory" class="mandatory">*</span></label>

                            <file-upload [form]="birthCorrectionForm" [uploadModel]="doc"></file-upload>
                        </div>
                    </ng-container>
                </div>

                <app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="uploadFileArray"
                    [form]="birthCorrectionForm" [stepInfo]="{step: 'final', next: 2, back: 0}"
                    (tabIndex)="onTabChange($event)" (handleErrors)="handleErrorsOnSubmit($event) "></app-action-bar>

            </mat-tab>
            <select-payment-gateway #paymentGateway></select-payment-gateway>
        </mat-tab-group>

    </form>
</mat-card>
