<div class="mt-4">
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 width100">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select </th>
        <td mat-cell *matCellDef="let element">
          <mat-radio-group [(ngModel)]="selectedItem" (change)="onChangeSelect($event)">
            <mat-radio-button [value]="element"></mat-radio-button>
          </mat-radio-group>
        </td>
      </ng-container>
      <ng-container matColumnDef="propertyNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Property No </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyNo}} </td>
      </ng-container>
      <ng-container matColumnDef="propertyAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyAddress.propertyAddress}} </td>
      </ng-container>
      <ng-container matColumnDef="ownerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
      </ng-container>
      <ng-container matColumnDef="occupierName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Occupier Name </th>
        <td mat-cell *matCellDef="let element"> {{element.occupierName}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div class="row margin-top-20">
  <div class="col-md-2">
    <mat-card>Total Count : <b>{{totalCount}}</b></mat-card>
  </div>
</div>

<mat-card class="col-md-12 mt-3" *ngIf="isShowDetail">
  <form #formDetail="ngForm" (ngSubmit)="onEnterClick(formDetail)">
    <div class="row margin-top-20">
      <div class="col-md-4">
        <div class="ngSelect">
          <ng-select required placeholder="Reason of Reassessment *" [items]="reasonofReassessmentList"
            bindValue="itemId" bindLabel="itemName" name="reasonofReassessmentId" [(ngModel)]="reasonofReassessmentId"
            #ReasonofReassessmentId="ngModel"
            [ngClass]="{'ng-invalid ng-touched':  formDetail.submitted && ReasonofReassessmentId.invalid}">
          </ng-select>
          <div
            *ngIf="(formDetail.submitted && ReasonofReassessmentId.invalid)  || (ReasonofReassessmentId.invalid && ReasonofReassessmentId.touched)">
            <mat-error *ngIf="ReasonofReassessmentId.errors.required">*Reason of Reassessment is required.</mat-error>
          </div>
        </div>
      </div>
      <div class="col-md-8 text-right">
        <button class="ml-3" mat-raised-button color="primary" type="submit">
          <mat-icon>add_circle_outline</mat-icon> Revaluation
        </button>
      </div>
    </div>
  </form>
</mat-card>