<div class="row">
    <div class="col-md-12">
        <h5 class="example-h2 pt-4">Shop Establishment New Licence Application Form </h5>

        <!--Start  form  -->
        <form [formGroup]="shopEstablishLicenceForm">
            <mat-horizontal-stepper [linear]="false">

                <!-- first step start-->
                <mat-step [label]="stepLable1">

                    <div class="row">
                        <mat-form-field class="col-md-4">
                            <input matInput type="text" formControlName="establishmentName" placeholder="{{'establishment_name' | translate:'shopEstablishLicenceScreen'}}" required>
                        </mat-form-field>

                        <mat-form-field formGroupName="postalAddress" class="col-md-4">
                            <textarea matInput type="text" formControlName="addressLine1" placeholder="{{'postal_address' | translate:'shopEstablishLicenceScreen'}}"></textarea>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <textarea matInput type="text" formControlName="shopDetails" placeholder="{{'shop_details' | translate:'shopEstablishLicenceScreen'}}"></textarea>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput type="text" formControlName="employeerName" placeholder="{{'employeer_name' | translate:'shopEstablishLicenceScreen'}}" required>
                        </mat-form-field>

                        <mat-form-field formGroupName="residentialAddressOfEmployer" class="col-md-4">
                            <textarea matInput type="text" formControlName="addressLine1" placeholder="{{'residential_address_of_employer' | translate:'shopEstablishLicenceScreen'}}"></textarea>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput type="text" formControlName="managerName" placeholder="{{'manager_name' | translate:'shopEstablishLicenceScreen'}}" required>
                        </mat-form-field>

                        <mat-form-field formGroupName="managerAddress" class="col-md-4">
                            <textarea matInput type="text" formControlName="addressLine1" placeholder="{{'manager_address' | translate:'shopEstablishLicenceScreen'}}"></textarea>
                        </mat-form-field>
                    </div>

                    <app-action-bar [form]="shopEstablishLicenceForm" [step]="'step1'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

                </mat-step>
                <!-- end first step -->

                <!-- second step start-->
                <mat-step [label]="stepLable2">
					<div class="row">
						<mat-form-field class="col-md-4">
							<input matInput type="text" formControlName="establishmentCategory" placeholder="{{'establishment_category' | translate:'shopEstablishLicenceScreen'}}" required>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput type="text" formControlName="businessName" placeholder="{{'business_name' | translate:'shopEstablishLicenceScreen'}}" required>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="businessCommencementDate" (dateChange)="onDateChange($event.value)" placeholder="{{'business_commencement_date' | translate:'shopEstablishLicenceScreen'}}">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<textarea matInput type="text" formControlName="empFamilyMemName" placeholder="{{'emp_family_memName' | translate:'shopEstablishLicenceScreen'}}"></textarea>
						</mat-form-field>
					</div>

                    <app-action-bar [form]="shopEstablishLicenceForm" [step]="'step2'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

                </mat-step>
                <!-- second step end-->

                <!-- third step start-->
                <mat-step [label]="stepLable3">

                    <file-upload [uploadModel]="setDataValue(3)"></file-upload>

                    <app-action-bar [form]="shopEstablishLicenceForm" [step]="'final'" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>

                </mat-step>
                <!-- third step end-->
            </mat-horizontal-stepper>
        </form>

    </div>
</div>