<app-title-bar [title]="'screen_title' | translate: translateKey">
	<!-- <form class="searchBox">
		<mat-form-field>
			<input matInput autocomplete="off" trim="blur" appAlphaNumeric id="pecNoTextBox" #pecNoTextBox maxlength="12" type="text"
			 placeholder="{{'ecrc_no' | translate: prcTranslateKey}}">
			<button mat-button matSuffix mat-icon-button (click)="searchPecRegByECRCNo($event,pecNoTextBox.value,true)">
				<mat-icon>search</mat-icon>
			</button>
		</mat-form-field>
		<button mat-raised-button type="button" color="primary" class="editBtn" [hidden]="!pecRegForm.get('pecNo').value" (click)="editPECDetail()">
			<mat-icon>edit</mat-icon>{{'edit' | translate :prcTranslateKey}}
		</button>
	</form> -->
	<!-- <button class="pull-right" mat-stroked-button type="button" (click)="patchValue()">
		Patch Value
	</button> -->
</app-title-bar>

<mat-card class="formClass cardBorder">
	<!--Start  form  -->
	<!-- <form [formGroup]="pecRegForm"> -->
		<mat-tab-group mat-stretch-tabs class="stepperNav" [(selectedIndex)]="tabIndex" dynamicHeight="true">

			<!-- first step start-->
			<mat-tab [label]="stepLable1 | translate: translateKey" disabled>
<form [formGroup]="employerDetail">
				<div class="row stepperMinHeight">

					<!-- <mat-form-field class="col-md-4">
						<input matInput autocomplete="off" maxlength="12" formControlName="pecNo" type="text" placeholder="{{'pec_no' | translate: translateKey}}">
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" maxlength="12" formControlName="prcNo" type="text" placeholder="{{'prc_no' | translate: prcTranslateKey}}">
					</mat-form-field> -->

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" appDate formControlName="registrationDate" [max]="maxDate"
							[matDatepicker]="picker" (dateChange)="onDateChange('registrationDate', $event.value)"
							placeholder="{{'registration_date' | translate: translateKey}}">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #picker></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput appBlockCopyPaste autocomplete="off" appValidationFields
							validationFieldsType="onlyNameWithSpace" maxlength="100" formControlName="applicantFullName"
							type="text" placeholder="{{'applicant_full_name' | translate: translateKey}}" required>
						<control-messages [control]="employerDetail.get('applicantFullName')"></control-messages>
					</mat-form-field>

					<div class="col-md-4 radioBtnError asteriskmarkRequired" formGroupName="gender">
						<mat-label>
							{{ 'gender' | translate: translateKey }}
							<span style="color: red">*</span>
						</mat-label>
						<mat-radio-group class="example-radio-group" formControlName="code">
							<mat-radio-button [value]="gender.code" *ngFor="let gender of genderArray">{{gender.name}}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="employerDetail.get('gender').get('code')"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput appValidationFields validationFieldsType="onlyNameWithSpace" autocomplete="off"
							maxlength="100" type="text" formControlName="establishmentName"
							placeholder="{{'establishment_name' | translate: translateKey}}" required>
						<control-messages [control]="employerDetail.get('establishmentName')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<span matPrefix>+91 &nbsp;</span>
						<input matInput OnlyNumber placeholder="{{'contact_no' | translate:translateKey}}" type="tel"
							maxlength="10" minlength="10" formControlName="contactNo" required>
						<control-messages [control]="employerDetail.get('contactNo')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" maxlength="50"
							placeholder="{{'email' | translate:translateKey}}" type="email" formControlName="email">
						<control-messages [control]="employerDetail.get('email')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" appDate [max]="maxDate" [matDatepicker]="rcpicker"
							formControlName="rcDate" (dateChange)="onDateChange('rcDate', $event.value)"
							placeholder="{{'rc_date' | translate: translateKey}}" required>
						<mat-datepicker-toggle matSuffix [for]="rcpicker"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #rcpicker></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
						<control-messages [control]="employerDetail.get('rcDate')"></control-messages>
					</mat-form-field>

					<div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="ward">
						<ng-select placeholder="{{'ward_no' | translate: translateKey}} " required
							formControlName="wardzoneId" (change)="getAllBlockNos($event)">
							<ng-option *ngFor="let ward of wardNoArray" [value]="ward.wardzoneId">{{ward.wardzoneName}}
							</ng-option>
						</ng-select>
						<mat-error
							*ngIf="employerDetail.get('ward').touched && employerDetail.get('ward').get('wardzoneId').value == null">
							{{"Ward is Required"}}
						</mat-error>
						<!-- <control-messages [control]="employerDetail.get('ward').get('wardzoneId')"></control-messages> -->
					</div>

					<div class="col-md-4 ngSelect" formGroupName="block" *ngIf="isBlockNo == false">
						<ng-select placeholder="{{'block_no' | translate: translateKey}} " formControlName="wardzoneId">
							<ng-option *ngFor="let block of blockNoArray" [value]="block.wardzoneId">
								{{block.wardzoneName}}</ng-option>
						</ng-select>
						<!-- <mat-error
							*ngIf="employerDetail.get('block').touched && employerDetail.get('block').get('wardzoneId').value == null">
							{{"Block is Required"}}
						</mat-error> -->
						<!-- <control-messages [control]="employerDetail.get('block').get('wardzoneId')"></control-messages> -->
					</div>
					<div class="col-md-4 ngSelect" formGroupName="block" *ngIf="isBlockNo == true">
						<ng-select placeholder="{{'block_no' | translate: translateKey}} "
							formControlName="wardzoneName">
							<ng-option *ngFor="let block of blockNoArray" [value]="block.wardzoneId">
								{{block.wardzoneName}}</ng-option>
						</ng-select>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" appDate formControlName="applicantDob" [max]="dobMaxDate"
							[matDatepicker]="dobpicker" (dateChange)="onDateChange('applicantDob', $event.value)"
							placeholder="{{'applicant_dob' | translate: translateKey}}" required>
						<mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #dobpicker></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
						<control-messages [control]="employerDetail.get('applicantDob')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" appDate formControlName="commencementDate" [max]="maxDate"
							[matDatepicker]="docpicker" (dateChange)="onDateChange('commencementDate', $event.value)"
							placeholder="{{'date_of_commencement' | translate: translateKey}}" required>
						<mat-datepicker-toggle matSuffix [for]="docpicker"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #docpicker></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{config.DATE_HINT_MSG}}</div>
						<control-messages [control]="employerDetail.get('commencementDate')"></control-messages>
					</mat-form-field>

					<!-- <mat-form-field class="col-md-4">
						<input matInput appAlphaNumeric autocomplete="off" type="text" maxlength="20"
							formControlName="vatNo" placeholder="{{'vat_no' | translate: translateKey}}">
						<control-messages [control]="employerDetail.get('vatNo')"></control-messages>
					</mat-form-field> -->

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" type="tel" formControlName="aadharNo" OnlyNumber
							minlength="12" maxlength="12" placeholder="{{'aadhaar_no' | translate: translateKey}}">
						<control-messages [control]="employerDetail.get('aadharNo')"></control-messages>
					</mat-form-field>


					<h2>{{'office_address' | translate: translateKey}}</h2>
					<app-address #officeAddr [requiredFeilds]="true" [formType]="'PFT'"
						[addressFormGroup]="employerDetail.get('officeAddress')"></app-address>

					<mat-checkbox class="col-md-12 mt-2" formControlName="officeResidentialAddressSame"
						(change)="onSameAddressChange($event)">{{'same_address' | translate: translateKey}}
					</mat-checkbox>

					<h2>{{'residential_address' | translate: translateKey}}</h2>
					<app-address #resAddr [requiredFeilds]="true" [formType]="'PFT'"
						[addressFormGroup]="employerDetail.get('residentialAddress')"></app-address>
				</div>

				<div class="fotButtonBar1 clearfix">
					<div class="col-sm-12 col-md-12">
						<button class="pull-right" type="button" mat-raised-button color="primary"
							(click)="onTabChange(1,employerDetail, pecRegForm)">{{'next' | translate:actionBarKey}}</button>
					</div>
				</div>
</form>

			</mat-tab>
			<!-- end first step -->

			<!-- second step start-->
			<mat-tab [label]="stepLable2 | translate: translateKey" disabled>
<form [formGroup]="bankDetail">				
				<div class="row stepperMinHeight">
					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" minlength="9" maxlength="18" OnlyNumber
							formControlName="bankAccountNo" type="tel"
							placeholder="{{'bank_account_no' | translate: translateKey}}">
						<control-messages [control]="bankDetail.get('bankAccountNo')"></control-messages>
					</mat-form-field>

					<div class="col-md-4 ngSelect" formGroupName="bank">
						<ng-select placeholder="{{'bank_name' | translate: translateKey}}" formControlName="code">
							<ng-option *ngFor="let bank of bankNameArray" [value]="bank.code">{{bank.name}}</ng-option>
						</ng-select>
						<control-messages [control]="bankDetail.get('bank').get('code')"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput appValidationFields validationFieldsType="onlyNameWithSpace" autocomplete="off"
							maxlength="100" formControlName="branchName" type="text"
							placeholder="{{'branch_name' | translate: translateKey}}">
						<control-messages [control]="bankDetail.get('branchName')"></control-messages>
					</mat-form-field>

				</div>

				<div class="fotButtonBar1 clearfix">
					<div class="col-sm-12 col-md-12">
						<button class="liteBorder pull-left" type="button" mat-raised-button
							(click)="tabIndex = 0">{{'back' | translate:actionBarKey}}</button>
						<button class="pull-right" type="button" mat-raised-button color="primary"
						(click)="onTabChange(2,bankDetail, pecRegForm)">{{'next' | translate:actionBarKey}}</button>
					</div>
				</div>
</form>
			</mat-tab>
			<!-- second step end-->

			<!-- third step start-->
			<mat-tab [label]="stepLable3 | translate: translateKey" disabled>
<form [formGroup]="registrationDetail">
				<div class="row stepperMinHeight">
					<mat-form-field class="col-md-6">
						<input matInput autocomplete="off" maxlength="10" appAlphaNumeric formControlName="pancardNo"
							type="text" placeholder="{{'pan_card_no' | translate: translateKey}}" required
							class="capitalCase">
						<control-messages [control]="registrationDetail.get('pancardNo')"></control-messages>
					</mat-form-field>

					<div class="col-md-6">
						<mat-form-field>
							<input matInput class="capitalCase" autocomplete="off" maxlength="15" appGst
								formControlName="gstNo" type="text" (change)="onGstNumber($event)"
								placeholder="{{'gst_no' | translate: translateKey}}">
							<control-messages [control]="registrationDetail.get('gstNo')"></control-messages>
						</mat-form-field>
						<div class="">
							<span>GSTIN e.g. 29ABCDE1234F2Z5</span>
						</div>
					</div>

					<mat-form-field class="col-md-6">
						<input matInput autocomplete="off" maxlength="20" appAlphaNumeric
							formControlName="shopAndLicenseNo" type="text"
							placeholder="{{'shop_and_license_no' | translate: translateKey}}" required>
						<control-messages [control]="registrationDetail.get('shopAndLicenseNo')"></control-messages>
					</mat-form-field>

					<!-- <mat-form-field class="col-md-6">
							<input matInput autocomplete="off" maxlength="50" appAlphaNumeric formControlName="professionalTax" type="text" placeholder="{{'professional_tax' | translate: translateKey}}">
							<control-messages [control]="registrationDetail.get('professionalTax')"></control-messages>
						</mat-form-field> -->

					<mat-form-field class="col-md-6">
						<input matInput autocomplete="off" maxlength="50" appAlphaNumeric formControlName="companyRegNo"
							type="text" placeholder="{{'Company Registration Number' | translate: translateKey}}">
						<control-messages [control]="registrationDetail.get('companyRegNo')"></control-messages>
					</mat-form-field>


					<!-- This section is for adding multiple census number-->
					<div *ngIf="CanEdit == false">
						<div class="width100p" formArrayName="censusNo">
							<div class="row" *ngFor="let item of registrationDetail.get('censusNo')['controls']; let i = index;"
								[formGroupName]="i">
								<div class="row" *ngIf="this.registrationDetail.get('censusNo')['controls'][i].value != null && this.registrationDetail.get('censusNo')['controls'][i].value.census != null  && this.registrationDetail.get('censusNo')['controls'][i].value.census.length > 0">
									<div class="col-md-6">
										<mat-form-field>
											<div *ngIf="this.registrationDetail.get('censusNo')['controls'][i].value.census.length > 18">
												<mat-select style="margin-top: 15px !important;"
													placeholder="{{'census_no' | translate: translateKey}}"
													value="CensusNo" disabled>
													<mat-option value="CensusNo">Census No</mat-option>
												</mat-select>
											</div>
											<div *ngIf="this.registrationDetail.get('censusNo')['controls'][i].value.census.length <= 18">
												<mat-select style="margin-top: 15px !important;"
													placeholder="{{'census_no' | translate: translateKey}}"
													value="PropertyNo" disabled>
													<mat-option value="PropertyNo">Property No</mat-option>
												</mat-select>
											</div>
										</mat-form-field>
									</div>
									<mat-form-field class="col-md-6">
										<input style="margin-top: 15px !important;" matInput autocomplete="off"
											appMaskCensusNumber maxlength="21" formControlName="census" type="text"
											required>
									</mat-form-field>
								</div>
							</div>

							<div class="col-md-12 pt-3" *ngIf="isDeleteBtnShow">
								<button type="button" mat-raised-button color="primary" (click)="addMoreCenus()"
									title="{{'add_more_census' | translate:'translateKey'}}">
									<mat-icon matPrefix>add</mat-icon>Add More Census
								</button>
							</div>
						</div>
					</div>
					<div *ngIf="CanEdit == true">
						<div class="width100p" formArrayName="censusNo">
							<div class="row" *ngFor="let item of registrationDetail.get('censusNo')['controls']; let i = index;"
								[formGroupName]="i">
								<div class="col-md-6">
									<mat-form-field>
										<mat-select style="margin-top: 15px !important;"
											(selectionChange)="selectCensusOrPropertyNo($event);"
											placeholder="{{'census_no' | translate: translateKey}}">
											<mat-option value="CensusNo">Census No</mat-option>
											<mat-option value="PropertyNo">Property No</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<mat-form-field class="col-md-6" *ngIf="isCensusNo">
									<input style="margin-top: 15px !important;" matInput autocomplete="off"
										appMaskCensusNumber maxlength="21" formControlName="census" type="text"
										(focusout)="isExistPropertyNo($event.target.value,i)" disabled>
									<button *ngIf="registrationDetail.get('censusNo')['controls'].length > 1 && isDeleteBtnShow"
										title="Remove Census" class="deleteBtn pull-right text-right" type="button"
										mat-icon-button color="warn" (click)="removeCensus(i)">
										<i class="fa fa-times"></i>
									</button>
									<mat-error *ngIf="placeHolderMessage !== null">{{placeHolderMessage}}</mat-error>
								</mat-form-field>
								<mat-form-field class="col-md-6" *ngIf="!isCensusNo">
									<input style="margin-top: 15px !important;" matInput autocomplete="off"
										appMaskPropertNumber maxlength="21" formControlName="census" type="text"
										(focusout)="isExistPropertyNo($event.target.value,i)" required disabled>
									<button *ngIf="registrationDetail.get('censusNo')['controls'].length > 1 && isDeleteBtnShow"
										title="Remove Census" class="deleteBtn pull-right text-right" type="button"
										mat-icon-button color="warn" (click)="removeCensus(i)">
										<i class="fa fa-times"></i>
									</button>
									<mat-error *ngIf="placeHolderMessage !== null">{{placeHolderMessage}}</mat-error>
								</mat-form-field>
							</div>

							<div class="col-md-12 pt-3" *ngIf="isDeleteBtnShow">
								<button type="button" mat-raised-button color="primary" (click)="addMoreCenus()"
									title="{{'add_more_census' | translate:'translateKey'}}">
									<mat-icon matPrefix>add</mat-icon>Add More Census
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="fotButtonBar1 clearfix">
					<div class="col-sm-12 col-md-12">
						<button class="liteBorder pull-left" type="button" mat-raised-button
							(click)="tabIndex = 1">{{'back' | translate:actionBarKey}}</button>
						<button class="pull-right" type="button" mat-raised-button color="primary"
						(click)="onTabChange(3,registrationDetail, pecRegForm)">{{'next' | translate:actionBarKey}}</button>
					</div>
				</div>
</form>
			</mat-tab>
			<!-- third step end-->

			<!-- fourth step start-->
			<mat-tab [label]="stepLable4 | translate: translateKey" disabled>
<form [formGroup]="actDetail">
				<div class="row stepperMinHeight asteriskmarkRequired">
					<div class="col-md-4 ngSelect" formGroupName="entry">
						<ng-select placeholder="{{'entry_no' | translate: translateKey}} " formControlName="code"
							(change)="onEntryChange($event)">
							<ng-option *ngFor="let entry of entryNoArray" [value]="entry.code">{{entry.name}}
							</ng-option>
						</ng-select>
						<control-messages [control]="actDetail.get('entry').get('code')"></control-messages>
					</div>

					<div class="col-md-4 ngSelect selectCategoryDropdown subEntry asteriskmarkRequired" formGroupName="subEntry">
						<ng-select placeholder="{{'sub_entry_no' | translate: translateKey}} " [disabled]="true"
							[items]="subEntryNoArray" bindLabel="name" bindValue="code" formControlName="code"
							title="{{findSubEntryName()}}" (change)="onSubEntryChange($event)">
							<ng-template ng-option-tmp let-item="item">
								<div title="{{item.name}}">{{item.name}}</div>
							</ng-template>
						</ng-select>
						<control-messages [control]="actDetail.get('subEntry').get('code')"></control-messages>
					</div>

					<div class="col-md-4 ngSelect selectCategoryDropdown profession asteriskmarkRequired" formGroupName="professionConstitution">
						<ng-select placeholder="{{'profession' | translate: translateKey}} " [items]="professionArray"
							bindLabel="name" bindValue="code" formControlName="code" title="{{findProfConstitution()}}">
							<ng-template ng-option-tmp let-item="item">
								<div title="{{item.name}}">{{item.name}}</div>
							</ng-template>
						</ng-select>
						<control-messages [control]="actDetail.get('professionConstitution').get('code')">
						</control-messages>
					</div>

					<div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="constitution">
						<ng-select placeholder="{{'constitution' | translate: translateKey}} " formControlName="code"
							(change)="onConstitutionChange($event)">
							<ng-option *ngFor="let constitution of constitutionArray" [value]="constitution.code">
								{{constitution.name}}</ng-option>
						</ng-select>
						<control-messages [control]="actDetail.get('constitution').get('code')"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput autocomplete="off" maxlength="10" formControlName="applicableRate" type="text"
							placeholder="{{'applicable_rate' | translate: translateKey}}">
					</mat-form-field>

					<mat-form-field class="col-md-4"
						*ngIf="actDetail.get('professionConstitution.code').value == 'OTHER'">
						<input matInput autocomplete="off" maxlength="100" formControlName="otherProfession" type="text"
							appValidationFields validationFieldsType="appAlphanumericNumberWithSpace"
							placeholder="{{'other_profession' | translate: translateKey}}" required>
						<control-messages [control]="actDetail.get('otherProfession')"></control-messages>
					</mat-form-field>
				</div>

				<div class="fotButtonBar1 clearfix">
					<div class="col-sm-12 col-md-12">
						<button class="liteBorder pull-left" type="button" mat-raised-button
							(click)="tabIndex = 2">{{'back' | translate:actionBarKey}}</button>
						<button class="pull-right" type="button" mat-raised-button color="primary"
						(click)="onTabChange(4,actDetail, pecRegForm)">{{'next' | translate:actionBarKey}}</button>
					</div>
				</div>
</form>
			</mat-tab>

			<mat-tab disabled>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: proTranslateKey}}</div>
				</ng-template>
<form [formGroup]="pecRegForm">
				<div class="row">
					<div class="col-md-4" *ngFor="let doc of attachmentList">
						<div *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
							<label>{{doc.documentLabelEn}}
								<span class="text-danger" *ngIf="doc.mandatory">*</span>
							</label>
							<file-upload [form]="pecRegForm" [uploadModel]="doc"></file-upload>
						</div>
					</div>
				</div>

				<div class="fotButtonBar1 clearfix">
					<div class="col-sm-12 col-md-12">
						<button class="liteBorder pull-left" type="button" mat-raised-button
							(click)="tabIndex = 3">{{'back' | translate:actionBarKey}}</button>
						<button *ngIf="isDeleteBtnShow" class="pull-right" mat-raised-button color="success"
							(click)="getUserDetailsAndSubmit()">{{'submit' | translate:actionBarKey}}</button>
					</div>
				</div>
</form>

			</mat-tab>

			<!-- fourth step end-->

		</mat-tab-group>
	<!-- </form> -->
</mat-card>