.width100p {width: 100%;}
.deleteBtn{
    height: 0px;
    margin-top: -25px;
    font-size: 18px;
}

.my-mat-hint {
    line-height: 1.2em;
    transform: translateY(10px);
    font-size: 75%;
  }
  .fotButtonBar1 {background: #f2f2f2; padding: 25px 0 10px; margin-top: 0px !important;}

  .required-field::after {
    content: "*";
    color: red;
  }