<div class="container">

  <app-title-bar [title]="'Contractor Registration'">
    <!-- <form class="searchBox">
      <mat-form-field>
        <input matInput autocomplete="off" trim="blur" maxlength="21" id="applicationNumberTextBox"
          #applicationNumberTextBox [value]="applicationNumberTextBox.value.toUpperCase()" type="text"
          placeholder="{{'Application Number'}}">
        <button mat-button matSuffix mat-icon-button
          (click)="checkDataFromApplicationNumber(applicationNumberTextBox.value)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form> -->
    <button class="pull-right" type="button" (click)="selectLanguage('en')">EN</button>
    <button class="pull-right" type="button" (click)="selectLanguage('gu')">ગુજ</button>
    <!-- <button class="pull-right" mat-stroked-button type="button" (click)="patchValue()">
      Patch Value
    </button> -->
  </app-title-bar>


  <mat-card class="formClass cardBorder">

    <form [formGroup]="contractorRegistrationForm">
      <mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

        <!-- Tab 1 Starts -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div>{{'Contractor Detail' | translate: translateKey}}</div>
          </ng-template>

          <div class="col-md-6">
            <div class="mb-4 mt-4">
              <!-- <mat-label><strong>Registration Category *</strong></mat-label> -->
              <mat-label><strong>{{'registration_category' | translate: translateKey}}</strong></mat-label>
            </div>
            <mat-radio-group formControlName="applyingFor" required class="radioGroup">
              <mat-radio-button value="AA" (change)="locationChange($event)" class="mr-3">
                {{'AA'}}
              </mat-radio-button>
              <mat-radio-button value="A" (change)="locationChange($event)">
                {{'A'}}
              </mat-radio-button>
              <mat-radio-button value="B" (change)="locationChange($event)">
                {{'B'}}
              </mat-radio-button>
              <mat-radio-button value="C" (change)="locationChange($event)">
                {{'C'}}
              </mat-radio-button>
              <mat-radio-button value="D" (change)="locationChange($event)">
                {{'D'}}
              </mat-radio-button>
              <mat-radio-button value="E1" (change)="locationChange($event)">
                {{'E1'}}
              </mat-radio-button>
              <mat-radio-button value="E2" (change)="locationChange($event)">
                {{'E2'}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="row">
            <h2><b>{{'applicant_detail' | translate: translateKey}}</b></h2>
            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="firstName" appValidationFields
                validationFieldsType='onlyNameWithOutSpace' required maxlength="50"
                placeholder="{{'first_name'  | translate: translateKey}}">
              <control-messages [control]="contractorRegistrationForm.get('firstName')">
              </control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="middleName" appValidationFields
                validationFieldsType='onlyNameWithOutSpace' maxlength="50"
                placeholder="{{'middle_name' | translate: translateKey}}">
              <control-messages [control]="contractorRegistrationForm.get('middleName')">
              </control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="lastName" appValidationFields
                validationFieldsType='onlyNameWithOutSpace' required maxlength="50"
                placeholder="{{'last_name' | translate: translateKey}}">
              <control-messages [control]="contractorRegistrationForm.get('lastName')">
              </control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput formControlName="mobileNumber" type="text" required OnlyNumber maxlength="10"
                placeholder="{{'mobile_no' | translate: translateKey}}">
              <control-messages [control]="contractorRegistrationForm.get('mobileNumber')">
              </control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="emailId" maxlength="50"
                placeholder="{{'email_id' | translate: translateKey}}">
              <control-messages [control]="contractorRegistrationForm.get('emailId')">
              </control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" appValidationFields class="capitalCase"
                validationFieldsType='alphanumericWithSpace' required maxlength="10"
                placeholder="{{'pan_no' | translate: translateKey}}" formControlName="panNo">
              <control-messages [control]="contractorRegistrationForm.get('panNo')">
              </control-messages>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput autocomplete="off" type="text" maxlength="15" formControlName="gstNo" class="capitalCase"
                placeholder="{{'gst_no' | translate: translateKey}}">
              <control-messages [control]="contractorRegistrationForm.get('gstNo')"></control-messages>
            </mat-form-field>

            <h2><b>{{'address_detail' | translate: translateKey}}</b></h2>
            <app-address #firmAddress [requiredFeilds]="true"
              [addressFormGroup]="contractorRegistrationForm.get('factoryAddress')"></app-address>

            <div class="col-md-4 ngSelect">
              <mat-label><b>{{'if_company_partnership' | translate: translateKey}} *</b></mat-label>
              <ng-select formControlName="partnerShip">
                <ng-option>Yes</ng-option>
                <ng-option>No</ng-option>
              </ng-select>
            </div>


            <h2><b>{{'owner_details' | translate: translateKey}}</b></h2>
            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="ownerFirstName" appValidationFields
                validationFieldsType='onlyNameWithOutSpace' maxlength="50"
                placeholder="{{'first_name' | translate: translateKey}}" required>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="ownerMiddleName" appValidationFields
                validationFieldsType='onlyNameWithOutSpace' maxlength="50"
                placeholder="{{'middle_name' | translate: translateKey}}">
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="ownerLastName" appValidationFields
                validationFieldsType='onlyNameWithOutSpace' maxlength="50"
                placeholder="{{'last_name' | translate: translateKey}}" required>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="ownerMobileNumber" required OnlyNumber maxlength="10"
                placeholder="{{'mobile_no' | translate: translateKey}}" required>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput type="text" formControlName="ownerEmailId" maxlength="50"
                placeholder="{{'email_id' | translate: translateKey}}">
            </mat-form-field>

            <app-address #residenceAddress [requiredFeilds]="true"
              [addressFormGroup]="contractorRegistrationForm.get('registeredAddress')"></app-address>

            <h2><b>{{'name_of_the_partners' | translate: translateKey}}</b></h2>
            <div class="table-responsive">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                  <tr>
                    <th class="text-center">{{'s_no' | translate: translateKey}}</th>
                    <th class="text-center">{{'owner_type' | translate: translateKey}}</th>
                    <th class="text-center">{{'owner_name' | translate: translateKey}}</th>
                    <th class="text-center">{{'owner_detail' | translate: translateKey}}</th>
                    <th class="text-center">{{'action' | translate: translateKey}}Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr formArrayName="partnersList">
                    <!-- <td  let i = index;
                      [formGroupName]="indx">
                      {{i + 1}}
                      </td> -->
                    <td>1</td>
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="50" formControlName="ownerType" appValidationFields
                          validationFieldsType='onlyNameWithSpace'>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="50" formControlName="OwnerName" appValidationFields
                          validationFieldsType='onlyNameWithSpace'>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="100" formControlName="ownerDetail">
                      </mat-form-field>
                    </td>
                    <td>
                      <span>
                        <button type="submit" mat-icon-button color="primary">
                          <mat-icon title="save" (click)="saveRecord(item)">save</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" style="margin-top: 22px;">
                          <mat-icon title="Cancel">cancel</mat-icon>
                        </button>
                      </span>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="col-md-12 text-right">
              <button mat-raised-button color="primary" (click)="addNewOwner()">{{'add_new' | translate:
                translateKey}}</button>
            </div>

            <h2><b>Bank Detail</b></h2>
            <mat-form-field class="col-md-4">
              <input matInput autocomplete="off" minlength="9" maxlength="18" type="tel" formControlName="bankAccountNo"
                OnlyNumber placeholder="{{'bank_account_no' | translate: translateKey }}" required>
            </mat-form-field>

            <div class="col-md-4 ngSelect" formGroupName="registrationBank">
              <ng-select placeholder="{{'bank_name' | translate: translateKey}} *" formControlName="code">
                <ng-option *ngFor="let bank of bankNameArray" [value]="bank.code">{{bank.name}}</ng-option>
              </ng-select>
              <control-messages [control]="contractorRegistrationForm.get('registrationBank').get('code')">
              </control-messages>
            </div>


            <mat-form-field class="col-md-4">
              <input matInput autocomplete="off" maxlength="50" type="text" formControlName="branchName"
                appValidationFields validationFieldsType='alphanumericWithSpace'
                placeholder="{{'branch_name'  | translate: translateKey}}" required>
            </mat-form-field>


            <h2><b>Business Detail</b></h2>
            <mat-form-field class="col-md-6">
              <input matInput autocomplete="off" maxlength="50" type="text" formControlName="businessName"
                appValidationFields validationFieldsType='onlyNameWithSpace'
                placeholder="{{'business_name' | translate: translateKey}}" required>
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <input matInput autocomplete="off" maxlength="10" type="text" formControlName="businessMobileNo"
                OnlyNumber placeholder="{{'business_mobile_number' | translate: translateKey}}" required>
            </mat-form-field>
            <app-address #bissinessAddress [requiredFeilds]="true"
              [addressFormGroup]="contractorRegistrationForm.get('businessAddress')"></app-address>

          </div>


          <div class="fotButtonBar clearfix mt-5">
            <div class="col-sm-12 col-md-12">
              <!-- <button class="liteBorder pull-left" type="button" mat-raised-button
                              >{{'back'}}</button> -->
              <button class="pull-right" type="button" mat-raised-button color="primary"
                (click)="tabIndex = 1">{{'next'}}</button>
            </div>
          </div>

        </mat-tab>
        <!-- Tab 1 Finish -->

        <!-- Tab 2 Starts -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div>{{'Business Detail 1'}}</div>
          </ng-template>

          <div class="row">
            <!-- <h2><b>Registration Detail</b></h2> -->
            <mat-form-field class="col-md-6">
              <textarea matInput maxlength="255" formControlName="registrationDetails"
                placeholder="{{'registration_detail' | translate: translateKey}}"></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <textarea matInput maxlength="255" formControlName="threeYearDetaols"
                placeholder="{{'three_year_work_details' | translate: translateKey}}"></textarea>
            </mat-form-field>

            <h2><b>Firm Employee Details</b></h2>
            <div class="table-responsive">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Qualification</th>
                    <th>Status</th>
                    <th>Experience in Years</th>
                    <th>when He Started WorkIng This Project</th>
                    <th>Project Start Date</th>
                    <th class="text-center">Action</th>
                  </tr>
                  <tr formArrayName="EmployeeDetails">
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="50" formControlName="employeeName" appValidationFields
                          validationFieldsType='onlyNameWithSpace'>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="50" formControlName="employeeQualification">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="50" formControlName="employeeStatus">
                      </mat-form-field>
                    </td>
                    <td style="max-width:80px;">
                      <mat-form-field>
                        <input matInput type="text" maxlength="4" formControlName="employeeExperiernceyears">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput type="text" maxlength="20" formControlName="employeestartWorkingProject">
                      </mat-form-field>
                    </td>
                    <td style="max-width:100px;">
                      <mat-form-field>
                        <input matInput type="text" maxlength="20" formControlName="projectStartDate">
                      </mat-form-field>
                    </td>
                    <td>
                      <span>
                        <!-- <button mat-icon-button color="primary" 
                          (click)="editRecord()">
                          <mat-icon title="Edit">edit</mat-icon>
                        </button> -->
                        <button type="submit" mat-icon-button color="primary">
                          <mat-icon title="save" (click)="saveRecord(item)">save</mat-icon>
                        </button>
                      </span>
                      <!-- <span *ngIf="contractorRegistrationForm.get('canEdit').value"> -->
                      <!-- <button mat-icon-button color="warn" *ngIf="!item.isEditMode"
                          (click)="deleteRecord(indx,'relationshipList')">
                          <mat-icon title="Delete">delete</mat-icon>
                        </button> -->
                      <button mat-icon-button color="warn" (click)="cancelRecord()">
                        <mat-icon title="Delete">cancel</mat-icon>
                      </button>
                      <!-- </span> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-form-field class="col-md-12">
              <textarea matInput maxlength="255" formControlName="turnoverDetails"
                placeholder="{{'turnover_details' | translate: translateKey}}"></textarea>
            </mat-form-field>

          </div>


          <div class="fotButtonBar clearfix mt-5">
            <div class="col-sm-12 col-md-12">
              <button class="liteBorder pull-left" type="button" mat-raised-button (click)="tabIndex = 0">{{'back' |
                translate: translateKey}}</button>
              <button class="pull-right" type="button" mat-raised-button color="primary" (click)="tabIndex = 2">{{'next'
                | translate: translateKey}}</button>
            </div>
          </div>

        </mat-tab>
        <!-- Tab 2 Finish -->


        <!-- Tab 3 Starts -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div>{{'Business Detail 2'}}</div>
          </ng-template>

          <div class="row">
            <mat-form-field class="col-md-12">
              <textarea matInput formControlName="WorkShopplantRate" maxlength="255"
                placeholder="{{'work_shop_and_plant_rate'  | translate: translateKey }}"></textarea>
            </mat-form-field>

            <div class="col-md-4 ngSelect">
              <mat-label><b>{{'owner_account_department' | translate: translateKey }} *</b></mat-label>
              <ng-select formControlName="ownerAccountDepartment">
                <ng-option>Yes</ng-option>
                <ng-option>No</ng-option>
              </ng-select>
            </div>
            <mat-form-field class="col-md-12">
              <textarea matInput maxlength="255" formControlName="contractorWorkDetails"
                placeholder="{{'contractor_work_details' | translate: translateKey }}"></textarea>
            </mat-form-field>

            <div class="col-md-12"><b>{{'any_registration_on_another_organisation' | translate: translateKey }}
                *</b>
            </div>
            <div class="col-md-4 ngSelect">
              <ng-select formControlName="anotherorganisation">
                <ng-option>Yes</ng-option>
                <ng-option>No</ng-option>
              </ng-select>
            </div>

            <mat-form-field class="col-md-8">
              <input matInput autocomplete="off" maxlength="100" type="text" formControlName="whichDepartment"
                placeholder="{{'which_department' | translate: translateKey}}" required>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <textarea matInput maxlength="255" formControlName="postRegistrationDetails"
                placeholder="{{'post_registration_details' | translate: translateKey}}"></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <textarea matInput maxlength="255" formControlName="engineerDetails"
                placeholder="{{'engineer_details' | translate: translateKey}}"></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <textarea matInput maxlength="255" formControlName="incomeTaxDetails"
                placeholder="{{'income_tax_details' | translate: translateKey}}"></textarea>
            </mat-form-field>

            <div class="col-md-12"><b>{{'owner_partner_and_shareholder_apply_in_any_organization' | translate:
                translateKey}} *</b></div>
            <div class="col-md-6 ngSelect">
              <ng-select formControlName="anyAnotherOrganisationShareholder">
                <ng-option>Yes</ng-option>
                <ng-option>No</ng-option>
              </ng-select>
            </div>

            <mat-form-field class="col-md-6">
              <input matInput autocomplete="off" maxlength="100" type="text"
                formControlName="registrationDateandRenewdate"
                placeholder="{{'new_registration_date_for_renew_date' | translate: translateKey}}" required>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <textarea matInput maxlength="255" formControlName="solvencyAmountandBankDetails"
                placeholder="{{'solvency_amount_and_bank_details' | translate: translateKey}}"></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <textarea matInput maxlength="255" formControlName="oldRegistrationDateandNumber"
                placeholder="{{'old_registration_date_and_number' | translate: translateKey}}"></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <textarea matInput maxlength="255" formControlName="notCompletedReasonDetails"
                placeholder="{{'any_work_not_completed_reason_details' | translate: translateKey}}"></textarea>
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <textarea matInput maxlength="255" formControlName="amountRemainsInCorporationOrOrganization"
                placeholder="{{'If_amount_remains_in_corporation_or_organization' | translate: translateKey}}"></textarea>
            </mat-form-field>

          </div>

          <div class="fotButtonBar clearfix mt-5">
            <div class="col-sm-12 col-md-12">
              <button class="liteBorder pull-left" type="button" mat-raised-button (click)="tabIndex = 1">{{'back' |
                translate: translateKey}}</button>
              <button class="pull-right" type="button" mat-raised-button color="primary" (click)="tabIndex = 3">{{'next'
                | translate: translateKey}}</button>
            </div>
          </div>
        </mat-tab>
        <!-- Tab 3 Finish -->


        <!-- Tab 4 Starts -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div>{{'Attachment' | translate: translateKey}}</div>
          </ng-template>

          <div class="row">
            <div class="col-md-4" *ngFor="let doc of attachmentList">
              <div *ngIf="doc.requiredOnAdminPortal && doc.isActive">
                <label>{{doc.documentLabelEn}}
                  <span class="text-danger" *ngIf="doc.mandatory">*</span>
                </label>
                <file-upload [form]="contractorRegistrationForm" [uploadModel]="doc"></file-upload>
              </div>
            </div>
          </div>



          <app-action-bar [uploadFiles]="uploadFilesArray" [form]="contractorRegistrationForm"
            (tabIndex)="onTabChange($event)" [paymentGateway]="paymentGateway"
            (handleErrors)="handleErrorsOnSubmit($event)" [stepInfo]="{step: 'final', next:5, back:2} ">
          </app-action-bar>

          <!-- step Attachment Ends -->
          <select-payment-gateway #paymentGateway></select-payment-gateway>

        </mat-tab>
        <!-- Tab 4 Finish -->

      </mat-tab-group>
    </form>

  </mat-card>
</div>