<app-title-bar [title]="'screen_title' | translate: translateKey">
</app-title-bar>

<mat-card class="formClass cardBorder">
	<form [formGroup]="newDrainageConnectionForm">

		<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'consumer-details' | translate:translateKey}}</div>
				</ng-template>

				<mat-card class="mt-4">
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h4>Consumer Detail</h4>
								<mat-divider></mat-divider>
							</div>
						</div>
					</div>

					<div class="row">
						<mat-form-field class="col-md-6">
							<input readonly matInput type="text" maxlength="300"
								placeholder="{{'drainage_connection_no' | translate:translateKey}}"
								formControlName="drainageConnectionNo">
						</mat-form-field>
						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber maxlength="300" 
								placeholder="{{'old_drainage_connection_no' | translate:translateKey}}"
								formControlName="oldDrainageConnectionNo">
						</mat-form-field>
					</div>


					<div class="row">
						<div class="col-md-6 ngSelect">
							<ng-select required placeholder="{{'within_limit_out_of_limit' | translate:translateKey}}"
								formControlName="limit" (change)="onChangedLimit($event)">
								<ng-option *ngFor="let limits of limitList" [value]="limits.itemId">
									{{limits.itemName}}</ng-option>
							</ng-select>

							<mat-error *ngIf="!newDrainageConnectionForm.get('limit').valid && newDrainageConnectionForm.get('limit').touched">
								Within Limit/Out of Limit is required
							</mat-error>
						</div>
						<div *ngIf="!isOutofLimit" class="col-md-6 ngSelect">
							<div *ngIf="wardZoneLevel.length>=1">
								<ng-select required
									placeholder="{{'drainage-connection-zone' | translate:translateKey}}"
									formControlName="waterDrainageZoneId" (change)="onChangedWardZone($event,2)">
									<ng-option *ngFor="let zone of wardZoneLevel1List" [value]="zone.parentWardzoneId">
										{{zone.wardzoneName}}</ng-option>
								</ng-select>
								<!-- <control-messages [control]="newDrainageConnectionForm.get('waterDrainageZoneId')">
								</control-messages> -->
								<mat-error *ngIf="!newDrainageConnectionForm.get('waterDrainageZoneId').valid && newDrainageConnectionForm.get('waterDrainageZoneId').touched">
									Zone is required
								</mat-error>
							</div>
						</div>
					</div>

					<div *ngIf="!isOutofLimit" class="row">
						<div class="col-md-6 ngSelect">
							<div *ngIf="wardZoneLevel.length>=2">
								<ng-select required
									placeholder="{{'drainage_connection_ward' | translate:translateKey}}"
									formControlName="waterDrainageWardId" (change)="onChangedWardZone($event,3)">
									<ng-option *ngFor="let zone of wardZoneLevel2List" [value]="zone.wardzoneId">
										{{zone.wardzoneName}}</ng-option>
								</ng-select>
								<!-- <control-messages [control]="newDrainageConnectionForm.get('waterDrainageWardId')">
								</control-messages> -->
								<mat-error *ngIf="!newDrainageConnectionForm.get('waterDrainageWardId').valid 
								&& newDrainageConnectionForm.get('waterDrainageWardId').touched">
									Ward is required
								</mat-error>
							</div>
						</div>
						<div class="col-md-6 ngSelect">
							<div *ngIf="wardZoneLevel.length>=3">
								<ng-select required
									placeholder="{{'drainage_connection_block' | translate:translateKey}} *"
									formControlName="waterDrainageBlockId" (change)="onChangedWardZone($event,4)">
									<ng-option *ngFor="let zone of wardZoneLevel3List" [value]="zone.wardzoneId">
										{{zone.wardzoneName}}</ng-option>
								</ng-select>
								<!-- <control-messages [control]="newDrainageConnectionForm.get('waterDrainageBlockId')">
								</control-messages> -->
								<mat-error *ngIf="!newDrainageConnectionForm.get('waterDrainageBlockId').valid 
								&& newDrainageConnectionForm.get('waterDrainageBlockId').touched">
									Block is required
								</mat-error>
							</div>
						</div>

					</div>

					<div class="row">
						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber maxlength="12" formControlName="aadharNo"
								placeholder="{{'aadhar_no' | translate:translateKey}}">
							<control-messages [control]="newDrainageConnectionForm.get('aadharNo')">
							</control-messages>
						</mat-form-field>
						<mat-form-field class="col-md-6">
							<input matInput type="text" required maxlength="300" appValidationFields
								[validationFieldsType]="'onlyNameWithSpace'"
								placeholder="{{'connection_owner_name' | translate:translateKey}}"
								formControlName="ownerName">
							<control-messages [control]="newDrainageConnectionForm.get('ownerName')">
							</control-messages>
						</mat-form-field>
					</div>

					<div class="row">
						<mat-form-field class="col-md-6">
							<input matInput OnlyNumber required maxlength="10" minlength="10"
								formControlName="ownerMobileNo" placeholder="{{'mobile_no' | translate:translateKey}}">
							<control-messages [control]="newDrainageConnectionForm.get('ownerMobileNo')">
							</control-messages>
						</mat-form-field>
						<mat-form-field class="col-md-6">
							<input matInput appPreventSpace maxlength="50"
								placeholder="{{'email_id' | translate:translateKey}}" type="text"
								formControlName="ownerEmailId">
							<control-messages [control]="newDrainageConnectionForm.get('ownerEmailId')">
							</control-messages>
						</mat-form-field>
					</div>


				</mat-card>
				<mat-card class="mt-4">
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h4>Connection Detail</h4>
								<mat-divider></mat-divider>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 ngSelect">
							<!-- <div *ngIf="connectionUsageList.length>0"> -->
							<ng-select required placeholder="{{'connection_usage' | translate:translateKey}} *"
								formControlName="connectionUsage" (change)="onChangedConnectionUsage($event)">
								<ng-option *ngFor="let connectionUsage of connectionUsageList"
									[value]="connectionUsage.usageId">{{connectionUsage.usageName}}</ng-option>
							</ng-select>
							<control-messages [control]="newDrainageConnectionForm.get('connectionUsage')">
							</control-messages>
							<!-- </div> -->
						</div>

						<div class="col-md-6 ngSelect">
							<ng-select required placeholder="{{'connection_subusage' | translate:translateKey}} *"
								formControlName="connectionSubUsage">
								<ng-option *ngFor="let connectionSubUsage of connectionSubUsageList"
									[value]="connectionSubUsage.subUsageId">{{connectionSubUsage.subUsage}}</ng-option>
							</ng-select>
							<control-messages [control]="newDrainageConnectionForm.get('connectionSubUsage')">
							</control-messages>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 ngSelect">
							<ng-select required placeholder="{{'plumber_name' | translate:translateKey}} *"
								formControlName="plumberId">
								<ng-option *ngFor="let plumber of plumberList" [value]="plumber.plumberLicenseId">
									{{plumber.nameOfApplicant}}</ng-option>
							</ng-select>
							<mat-error *ngIf="!newDrainageConnectionForm.get('plumberId').valid 
								&& newDrainageConnectionForm.get('plumberId').touched">
									Plumber Name is required
							</mat-error>
							<!-- <control-messages [control]="newDrainageConnectionForm.get('plumberId')">
							</control-messages> -->
						</div>
						<mat-form-field class="col-md-6">
							<input matInput appAlphaNumeric
								placeholder="{{'electricity_connection_no' | translate:translateKey}}"
								formControlName="electricityConnectionNo" maxlength="50">
						</mat-form-field>
					</div>

					<div class="row">
						<mat-form-field class="col-md-6">
							<input matInput appAlphaNumeric maxlength="50" placeholder="{{'gas_connection_no' | translate:translateKey}}"
								formControlName="gasConnectionNo">
						</mat-form-field>
						<mat-form-field class="col-md-6">
							<input matInput appAlphaNumeric
								placeholder="{{'building_permission_no' | translate:translateKey}}"
								formControlName="buildingPermissionNo" maxlength="50">
						</mat-form-field>

					</div>

					<div class="row">
						<mat-form-field class="col-md-6">
							<input matInput appAlphaNumeric
								placeholder="{{'completion_certificate_no' | translate:translateKey}}"
								formControlName="completionCertificateNo" maxlength="50">
						</mat-form-field>
						<mat-form-field class="col-md-6">
							<input matInput appAlphaNumeric
								placeholder="{{'occupancy_certificate_no' | translate:translateKey}}"
								formControlName="occupancyCertificateNo" maxlength="50">
						</mat-form-field>
					</div>

				</mat-card>

				<app-action-bar [form]="newDrainageConnectionForm" (tabIndex)="onTabChange($event)"
					[stepInfo]="{step: 'step1', next: 1, back: 0}" (handleErrors)="handleErrorsOnSubmit($event)">
				</app-action-bar>

			</mat-tab>
			<!-- step 1 Ends -->

			<!-- step 2 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'property-details' | translate:translateKey}}</div>
				</ng-template>



				<div class="row">
					<div class="col-md-4">
						<mat-form-field>
							<input matInput appPreventSpace appMaskPropertNumber minlength="16" maxlength="16"
								placeholder="{{'property_Number_on_which_connection_required' | translate:translateKey}}"
								type="text" formControlName="propertyNo">
								<control-messages [control]="newDrainageConnectionForm.get('propertyNo')">
								</control-messages>
						</mat-form-field>
					</div>
					<div class="col-md-4 ngSelect">

						<ng-select placeholder="{{'primary_Property' | translate:translateKey}}"
							formControlName="primaryProperty">
							<ng-option [value]=true>
								YES</ng-option>
							<ng-option [value]=false>
								NO</ng-option>
						</ng-select>
						<control-messages [control]="newDrainageConnectionForm.get('primaryProperty')">
						</control-messages>
					</div>
					<div class="col-md-4">
						<button mat-raised-button color="primary" (click)="getPropertyAddressDetail();" type="button">
							<mat-icon>add_circle_outline</mat-icon> Add
						</button>
					</div>
				</div>
				<mat-card class="mt-4" *ngIf="isShowPropertyGrid">
					<mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
						<ng-container matColumnDef="propertyNo">
							<mat-header-cell *matHeaderCellDef> Property No </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<label>{{row.propertyNo}}</label>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="ownerName">
							<mat-header-cell *matHeaderCellDef> Owner Name </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<label>{{row.ownerName}}</label>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="address">
							<mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<label>{{row.address}}</label>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>
							</mat-header-cell>
							<mat-cell *matCellDef="let row;let i = index;">
								<button mat-icon-button color="warn" focusable="false" (click)="deleteProperty(i)">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>
				</mat-card>
				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput  (input)="onChangeAddress()" maxlength="10" formControlName="fpNo"
							placeholder="{{'fP_No' | translate:translateKey}}">
						<control-messages [control]="newDrainageConnectionForm.get('fpNo')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-6">
						<input matInput appPreventSpace placeholder="{{'plot_Part_No' | translate:translateKey}}"
							type="text" (input)="onChangeAddress()" formControlName="plotPartNo">
						<control-messages [control]="newDrainageConnectionForm.get('plotPartNo')">
						</control-messages>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput  maxlength="10" formControlName="tpNo" (input)="onChangeAddress()"
							placeholder="{{'tP_No' | translate:translateKey}}">
						<control-messages [control]="newDrainageConnectionForm.get('tpNo')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-6">
						<input matInput appPreventSpace placeholder="{{'servey_No' | translate:translateKey}}"
							type="text" (input)="onChangeAddress()" formControlName="serveyNo">
						<control-messages [control]="newDrainageConnectionForm.get('serveyNo')">
						</control-messages>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput OnlyNumber maxlength="10" (input)="onChangeAddress()" formControlName="houseNo"
							placeholder="{{'house_No_Flat_No' | translate:translateKey}}">
						<control-messages [control]="newDrainageConnectionForm.get('houseNo')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-6">
						<input matInput appPreventSpace placeholder="{{'building_Name' | translate:translateKey}}"
							type="text" (input)="onChangeAddress()" formControlName="buildingName">
						<control-messages [control]="newDrainageConnectionForm.get('buildingName')">
						</control-messages>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput formControlName="societyName" (input)="onChangeAddress()"
							placeholder="{{'society_Name' | translate:translateKey}}">
						<control-messages [control]="newDrainageConnectionForm.get('societyName')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-6">
						<input matInput required placeholder="{{'Name_of_Street_Road' | translate:translateKey}}"
							type="text" formControlName="streetName" (input)="onChangeAddress()">
						<control-messages [control]="newDrainageConnectionForm.get('streetName')">
						</control-messages>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput OnlyNumber required maxlength="6" formControlName="pincode"
							(input)="onChangeAddress()" placeholder="{{'pin_code' | translate:translateKey}}">
						<control-messages [control]="newDrainageConnectionForm.get('pincode')">
						</control-messages>
					</mat-form-field>

					<div class="col-md-6">
						<mat-checkbox (change)="eventCheck($event)" class="example-margin"
							formControlName="postalAddressDiff" name="postalAddressDiff">Postal
							Address is different than Property Address</mat-checkbox>
					</div>

				</div>
				<div class="row">
					<mat-form-field class="col-md-6">
						<!-- <textarea matInput   maxlength="10" formControlName="correspondenceAddress"
							placeholder="{{'Property Address' | translate:translateKey}}"></textarea> -->
						<textarea matInput placeholder="{{'property_Address' | translate:translateKey}}" type="text"
							formControlName="correspondenceAddress"></textarea>

					</mat-form-field>
					<mat-form-field *ngIf="ispostalAddressDiff" class="col-md-6">
						<textarea matInput placeholder="{{'postal_Address' | translate:translateKey}}" type="text"
							formControlName="postalAddress"></textarea>

					</mat-form-field>
				</div>


				<app-action-bar [form]="newDrainageConnectionForm" (tabIndex)="onTabChange($event)"
					[stepInfo]="{step: 'step2', next: 2, back: 0}" (handleErrors)="handleErrorsOnSubmit($event)">
				</app-action-bar>

			</mat-tab>
			<!-- step 2 Ends -->

			<!-- step 3 Ends -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'upload' | translate: translateKey}}</div>
				</ng-template>
				<!-- <div class="alert alert-warning">
								{{'note' | translate:translateKey}} :
								{{'submit_hard_copy_at_saradar_market' | translate:translateKey}}
							</div> -->
				<div class="row">
					<!-- fieldIdentifier -->
					<ng-container
						*ngFor="let doc of newDrainageConnectionForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive">
							<label>{{translateService.getCurrentLanguage()=='en'? doc.documentLabelEn :
								doc.documentLabelGuj }}<span *ngIf="doc.mandatory">*</span> </label>
							<file-upload [form]="newDrainageConnectionForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>
				<app-action-bar [uploadFiles]="uploadFilesArray" [form]="newDrainageConnectionForm"
					(tabIndex)="onTabChange($event)" [stepInfo]="{step: 'final', next: 3, back: 1}"
					(handleErrors)="handleErrorsOnSubmit($event)">
				</app-action-bar>
			</mat-tab>
			<!-- Tab 3 End -->


		</mat-tab-group>
	</form>

</mat-card>