<div class="row pt-2">
	<div class="col-12">
		<mat-progress-bar *ngIf="currentFileUpload" mode="determinate" value="{{progress.percentage}}"></mat-progress-bar>

		<div *ngIf="currentFileUpload" class="progress">

			<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
			 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
				{{progress.percentage}}%
			</div>

		</div>

		<label class="btn btn-default">
			<input #fileInput type="file" (change)="selectFile($event)">
		</label>

		<button mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload()">
				<mat-icon>file_upload</mat-icon> Upload
		</button>

	</div>
</div>