<div class="row" *ngIf="!fromAdmin">
	<div class="col-md-12">
		<!-- <mat-progress-bar *ngIf="currentFileUpload" mode="determinate" value="{{progress.percentage}}"></mat-progress-bar> -->

		<span>{{fileName}}</span>
		<span *ngIf="getFile">
			{{getFile.realFileName}}
		</span>

		<!-- <label *ngIf="getFile">
				<img [src]="getFile.absolutePath" alt="image" class="imageSize" />
			</label> -->

		<label *ngIf="priviewImage">
			<img [src]="priviewImage" alt="image" class="imageSize" />
		</label>

		<label class="btn btn-default" [hidden]="canUpload || !form.get('canEdit').value">
			<input #fileInput type="file" (change)="selectFile($event)">
		</label>

		<button type="button" mat-raised-button color="primary" [hidden]="canUpload || !form.get('canEdit').value" (click)="upload()">
			<mat-icon>file_upload</mat-icon> Upload
		</button>

		<button [hidden]="canView || !form.get('canEdit').value" mat-raised-button type="button" color="accent" (click)="view()">
			View
		</button>

		<button [hidden]="canDelete || !form.get('canEdit').value" mat-raised-button type="button" color="warn" (click)="deleteFile()">
			Delete
		</button>
	</div>

</div>