<app-hos-title-bar class="titleBarUpdate" [title]="'screen_title' | translate: translateKey">
    <!-- <button class="pull-right" mat-stroked-button type="button" (click)="patchValue()">
        Patch Value
    </button> -->
</app-hos-title-bar>

<div *ngIf="isGuideLineActive">
    <app-guidelines [isGuileLineActive]="isGuideLineActive" [listMessage]="listMessage" [message]="message"
        (hideGuideLine)="$event?isGuideLineActive = false : isGuideLineActive = true"></app-guidelines>
</div>

<mat-card class="formClass cardBorder" [hidden]="isGuideLineActive">

    <form [formGroup]="stillBirthCertificateForm" autocomplete="off" ngNativeValidate appReload
        [isFormSaved]="isFormSaved" [form]="stillBirthCertificateForm">
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex" class="stepperNav" dynamicHeight="true">

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel1 | translate: translateKey}}</div>
                </ng-template>
                <div class="row">

                    <div formGroupName="birthPlace" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select (change)="changeBirthPlace($event);requiredDocumentList()"
                            placeholder="{{'birth_place' | translate:translateKey}} " formControlName="code">
                            <ng-option *ngFor="let birthplace of BirthPlaces" [value]="birthplace.code">
                                {{birthplace.name}}</ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('birthPlace').get('code')">
                        </control-messages>
                    </div>

                    <div class="col-md-4" *ngIf="stillBirthCertificateForm.value.birthPlace.code == 'OTHER_PLACE'">
                        <mat-form-field>
                            <input matInput placeholder="{{'other_place' | translate:translateKey}}"
                                formControlName="otherPlace" required>
                            <control-messages [control]="stillBirthCertificateForm.get('otherPlace')">
                            </control-messages>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4 radioBtnError" formGroupName="isOrphan">
                        <mat-label>{{'is_orphan' | translate:translateKey }} <span class="mandatory">*</span></mat-label>
                        <mat-radio-group class="example-radio-group" formControlName="code">
                            <mat-radio-button class="example-radio-button" *ngFor="let orphan of ISYESNO"
                                [value]="orphan.code">
                                {{orphan.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <control-messages [control]="stillBirthCertificateForm.get('isOrphan').get('code')">
                        </control-messages>
                    </div>

                    <div class="col text-right">
                        <mat-checkbox
                            [disabled]="stillBirthCertificateForm.get('noOfChilds').value >1 ||  stillBirthCertificateForm.disabled"
                            labelPosition="after" [checked]="showChildAddButton"
                            (change)="multipleChildAdder($event.checked)">
                            {{'child_more_than_one' | translate:translateKey}}
                        </mat-checkbox>
                    </div>
                </div>

                <!-- <button class="float-right" *ngIf="stillBirthCertificateForm.get('noOfChilds').value < 6" [disabled]="showButtons && !stillBirthCertificateForm.controls.canEdit.value"
                    matTooltip="Add More New Born Child" type="button" mat-mini-fab color="accent" (click)="addMoreChild()">
                    <mat-icon>add</mat-icon>
                </button> -->

                <div class="row float-right padaddbtn"
                    *ngIf="stillBirthCertificateForm.get('noOfChilds').value < 6 && showChildAddButton">
                    <button color="primary" [disabled]="showButtons && !stillBirthCertificateForm.get('canEdit').value"
                        matTooltip="Add More New Born Child" type="button" mat-raised-button (click)="addMoreChild()">
                        <mat-icon>add</mat-icon>{{'Add_new_Child_Record' | translate: translateKey}}
                    </button>
                </div>


                <div formArrayName="childs" class="clear">
                    <div class="row mt-4"
                        *ngFor="let item of stillBirthCertificateForm.get('childs')['controls']; let i = index;"
                        [formGroupName]="i">

                        <h2 class="col-md-11 float-left">Child {{i+1}}</h2>
                        <div class="col-md-1 text-right">
                            <button type="button" mat-icon-button
                                [hidden]="showButtons && !stillBirthCertificateForm.get('canEdit').value"
                                (click)="deleteChild(item.value, i)" *ngIf="i > 0">
                                <mat-icon class="v-inherit" matTooltip="Delete Child Information" color="warn">delete
                                </mat-icon>
                            </button>
                        </div>


                        <mat-form-field class="col-md-4">
                            <mat-label>{{'birth_date' | translate:translateKey}}</mat-label>
                            <input matInput [max]="maxBirthDate" [matDatepicker]="picker" placeholder="DD/MM/YYYY"
                                formControlName="birthDate" (dateChange)="delayCalculator($event, i)" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker touchUi="true"></mat-datepicker>
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('birthDate')">
                            </control-messages>
                        </mat-form-field>

                        <div class="col-md-4 pl-0 ml-0">
                            <mat-form-field class="col-md-10">
                                <mat-label>{{'birth_time' | translate:translateKey}}</mat-label>
                                <input (blur)="changeBirthTime($event.target.value, i)" placeholder="HH:MM" matInput
                                    type="time" atp-time-picker theme="dark" formControlName="birthTime" required />
                                <control-messages
                                    [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('birthTime')">
                                </control-messages>
                            </mat-form-field>
                            <button class="ml-0 pl-0" [disabled]="!stillBirthCertificateForm?.get('canEdit')?.value"
                                mat-icon-button type="button" (click)="openTimePicker(i)">
                                <mat-icon matTooltip="Select Birth Time" color="primary">alarm</mat-icon>
                            </button>
                        </div>



                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="50" appValidationFields
                                [validationFieldsType]="'onlyNameWithOutSpace'"
                                placeholder="{{'child_name' | translate:translateKey}}" name="childName"
                                (change)="onChangeNameValidation($event,'childName')"
                                formControlName="childName"
                                [form]="stillBirthCertificateForm.get('childs')['controls'][i]" appGujInputSource
                                targetElement="childNameGuj">
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('childName')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget
                                [form]="stillBirthCertificateForm.get('childs')['controls'][i]"
                                placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                                formControlName="childNameGuj">
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('childNameGuj')">
                            </control-messages>
                        </mat-form-field>

                        <!-- <div class="col-md-4 ngSelect" formGroupName="weightKg">
                            <ng-select placeholder="{{'child_weight_kg' | translate:translateKey}} *"
                                formControlName="code">
                                <ng-option *ngFor="let childweight of ChildWeights" [value]="childweight.code">
                                    {{childweight.name}}
                                    kgs.</ng-option>
                            </ng-select>
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('weightKg').get('code')">
                            </control-messages>
                        </div>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="3" OnlyNumber
                                placeholder="{{'child_weight_gms' | translate:translateKey}}"
                                formControlName="weightGram">
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('weightGram')">
                            </control-messages>

                        </mat-form-field> -->

                        <div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="weightKg">
                            <ng-select placeholder="{{'child_weight_kg' | translate:translateKey}} "
                                formControlName="code" (change)="calculateChildWeight(i,'weightKg','weightGram')">
                                <ng-option *ngFor="let childweight of ChildWeights" [value]="childweight.code">
                                    {{childweight.name}}
                                </ng-option>
                            </ng-select>
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('weightKg').get('code')">
                            </control-messages>
                        </div>

                        <div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="weightGram">
                            <ng-select placeholder="{{'child_weight_gms' | translate:translateKey}} "
                                formControlName="code" (change)="calculateChildWeight(i,'weightKg','weightGram')">
                                <ng-option *ngFor="let childweightgrm of CHILD_WEIGHT_GM" [value]="childweightgrm.code">
                                    {{childweightgrm.name}}
                                </ng-option>
                            </ng-select>
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('weightGram').get('code')">
                            </control-messages>
                        </div>

                        <div class="col-md-4 radioBtnError" formGroupName="sex">
                            <div>
                                <mat-label>{{'gender' | translate:translateKey}} <span class="mandatory">*</span></mat-label>
                                <mat-radio-group class="example-radio-group" formControlName="code">
                                    <mat-radio-button class="example-radio-button" *ngFor="let sex of Gender"
                                        [value]="sex.code">
                                        {{sex.name}}
                                    </mat-radio-button>

                                </mat-radio-group>
                                <control-messages
                                    [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('sex').get('code')">
                                </control-messages>
                            </div>
                        </div>

                        <!-- <mat-form-field class="col-md-12">
                            <textarea required matInput maxlength="500" type="text"
                                placeholder="{{'premature_infant_reason' | translate: translateKey}}"
                                formControlName="prematureInfantReason"></textarea>
                            <control-messages
                                [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('prematureInfantReason')">
                            </control-messages>
                        </mat-form-field> -->

                        <div class="col-md-12 padding0px">
                            <h2>{{'Cause_Of_Death' | translate: translateKey}}</h2>

                            <div class="row">

                                <div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="immediateCOD1">
                                    <ng-select placeholder="{{'immediateCOD1' | translate:translateKey}} "
                                        formControlName="code">
                                        <ng-option *ngFor="let Immediate_COD_Obj of IMMEDIATE_COD_Data"
                                            [value]="Immediate_COD_Obj.code">
                                            {{Immediate_COD_Obj.name}}</ng-option>
                                    </ng-select>
                                    <control-messages
                                        [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('immediateCOD1').get('code')">
                                    </control-messages>
                                </div>

                                <div class="col-md-4 ngSelect" formGroupName="immediateCOD2">
                                    <ng-select placeholder="{{'immediateCOD2' | translate:translateKey}} "
                                        formControlName="code">
                                        <ng-option *ngFor="let Immediate_COD_Obj of IMMEDIATE_COD_Data"
                                            [value]="Immediate_COD_Obj.code">
                                            {{Immediate_COD_Obj.name}}</ng-option>
                                    </ng-select>
                                    <control-messages
                                        [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('immediateCOD2').get('code')">
                                    </control-messages>
                                </div>

                                <div class="col-md-4 ngSelect" formGroupName="immediateCOD3">
                                    <ng-select placeholder="{{'immediateCOD3' | translate:translateKey}} "
                                        formControlName="code">
                                        <ng-option *ngFor="let Immediate_COD_Obj of IMMEDIATE_COD_Data"
                                            [value]="Immediate_COD_Obj.code">
                                            {{Immediate_COD_Obj.name}}</ng-option>
                                    </ng-select>
                                    <control-messages
                                        [control]="stillBirthCertificateForm.get('childs')['controls'][i].get('immediateCOD3').get('code')">
                                    </control-messages>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <app-hos-action-bar [stepInfo]="{step: 'step1', next: 1, back: 0}"
                    (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="stillBirthCertificateForm" [step]="'step1'">
                </app-hos-action-bar>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel2 | translate: translateKey}}</div>
                </ng-template>

                <div class="row">

                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="20" appValidationFields [form]="stillBirthCertificateForm"
                            appGujInputSource targetElement="fatherFirstNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'"
                            placeholder="{{'first_name' | translate:translateKey}}" 
                            (change)="onChangeNameValidation($event,'fatherFirstName')" formControlName="fatherFirstName">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherFirstName')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appValidationFields [form]="stillBirthCertificateForm"
                            appGujInputSource targetElement="fatherMiddleNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'"
                            placeholder="{{'middle_name' | translate:translateKey}}" 
                            (change)="onChangeNameValidation($event,'fatherMiddleName')" formControlName="fatherMiddleName">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherMiddleName')">
                        </control-messages>
                    </mat-form-field>


                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="20" appValidationFields [form]="stillBirthCertificateForm"
                            appGujInputSource targetElement="fatherLastNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'"
                            placeholder="{{'last_name' | translate:translateKey}}" 
                            (change)="onChangeNameValidation($event,'fatherLastName')" formControlName="fatherLastName">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherLastName')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appPreventSpace appGujInputTarget
                            [form]="stillBirthCertificateForm"
                            placeholder="{{'first_name' | translate:translateKey:'gu'}}"
                            formControlName="fatherFirstNameGuj">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherFirstNameGuj')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appPreventSpace appGujInputTarget
                            [form]="stillBirthCertificateForm"
                            placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                            formControlName="fatherMiddleNameGuj">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherMiddleNameGuj')">
                        </control-messages>
                    </mat-form-field>


                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appPreventSpace appGujInputTarget
                            [form]="stillBirthCertificateForm"
                            placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                            formControlName="fatherLastNameGuj">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherLastNameGuj')">
                        </control-messages>
                    </mat-form-field>

                    <div formGroupName="fatherEducation" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'education' | translate:translateKey}} "
                            (change)="gujNameFinder($event,'fatherEducation',FatherEducations)" formControlName="code">
                            <ng-option *ngFor="let fathereducation of FatherEducations" [value]="fathereducation.code">
                                {{fathereducation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('fatherEducation').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field formGroupName="fatherEducation" class="col-md-6">
                        <input required [disabled]="showButtons && !stillBirthCertificateForm.get('canEdit').value"
                            readonly matInput maxlength="20" appPreventSpace
                            placeholder="{{'education' | translate:translateKey:'gu'}}"
                            [value]="stillBirthCertificateForm.get('fatherEducation').get('gujName').value">
                    </mat-form-field>

                    <div class="col-md-12" *ngIf="stillBirthCertificateForm.value.fatherEducation.code == 'NOT_STATED'">
                        <mat-form-field>
                            <input matInput placeholder="{{'not_stated_education' | translate:translateKey}}"
                                formControlName="fatherOtherEducation" required>
                        </mat-form-field>
                    </div>

                    <div formGroupName="fatherOccupations" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'occupation' | translate:translateKey}} "
                            (change)="gujNameFinder($event,'fatherOccupations',FatherOccupation)"
                            formControlName="code">
                            <ng-option *ngFor="let fatheroccupation of FatherOccupation"
                                [value]="fatheroccupation.code">
                                {{fatheroccupation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('fatherOccupations').get('code')">
                        </control-messages>
                    </div>



                    <mat-form-field formGroupName="fatherOccupations" class="col-md-6">
                        <input required [disabled]="showButtons && !stillBirthCertificateForm.get('canEdit').value"
                            readonly matInput maxlength="20" appPreventSpace
                            placeholder="{{'occupation' | translate:translateKey:'gu'}}"
                            [value]="stillBirthCertificateForm.get('fatherOccupations').get('gujName').value">
                    </mat-form-field>

                    <mat-form-field class="col-md-6">
                        <input matInput maxlength="12" minlength="12" OnlyNumber
                            placeholder="{{'aadhar_number' | translate:translateKey}}"
                            formControlName="fatherAadharNumber">
                        <control-messages [control]="stillBirthCertificateForm.get('fatherAadharNumber')">
                        </control-messages>
                    </mat-form-field>
                </div>

                <app-hos-action-bar [stepInfo]="{step: 'step2', next: 2, back: 0}"
                    (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="stillBirthCertificateForm" [step]="'step2'">
                </app-hos-action-bar>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel3 | translate: translateKey}}</div>
                </ng-template>

                <div class="row">
                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="20" appValidationFields [form]="stillBirthCertificateForm"
                            appGujInputSource targetElement="motherFirstNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'"
                            placeholder="{{'first_name' | translate:translateKey}}" 
                            (change)="onChangeNameValidation($event,'motherFirstName')" formControlName="motherFirstName">
                        <control-messages [control]="stillBirthCertificateForm.get('motherFirstName')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appValidationFields [form]="stillBirthCertificateForm"
                            appGujInputSource targetElement="motherMiddleNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'"
                            placeholder="{{'middle_name' | translate:translateKey}}" 
                            (change)="onChangeNameValidation($event,'motherMiddleName')" formControlName="motherMiddleName">
                        <control-messages [control]="stillBirthCertificateForm.get('motherMiddleName')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="20" appValidationFields [form]="stillBirthCertificateForm"
                            appGujInputSource targetElement="motherLastNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'"
                            placeholder="{{'last_name' | translate:translateKey}}" 
                            (change)="onChangeNameValidation($event,'motherLastName')" formControlName="motherLastName">
                        <control-messages [control]="stillBirthCertificateForm.get('motherLastName')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appPreventSpace appGujInputTarget
                            [form]="stillBirthCertificateForm"
                            placeholder="{{'first_name'| translate:translateKey:'gu'}}"
                            formControlName="motherFirstNameGuj">
                        <control-messages [control]="stillBirthCertificateForm.get('motherFirstNameGuj')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appPreventSpace appGujInputTarget
                            [form]="stillBirthCertificateForm"
                            placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                            formControlName="motherMiddleNameGuj">
                        <control-messages [control]="stillBirthCertificateForm.get('motherMiddleNameGuj')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appPreventSpace appGujInputTarget
                            [form]="stillBirthCertificateForm"
                            placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                            formControlName="motherLastNameGuj">
                        <control-messages [control]="stillBirthCertificateForm.get('motherLastNameGuj')">
                        </control-messages>
                    </mat-form-field>

                    <div formGroupName="motherEducation" class="col-md-6 ngSelecta asteriskmarkRequired">
                        <ng-select placeholder="{{'education' | translate:translateKey}} "
                            (change)="gujNameFinder($event,'motherEducation',MotherEducations)" formControlName="code">
                            <ng-option matTooltip="{{mothereducation.name}}"
                                *ngFor="let mothereducation of MotherEducations" [value]="mothereducation.code">
                                {{mothereducation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('motherEducation').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field formGroupName="motherEducation" class="col-md-6">
                        <input [disabled]="showButtons && !stillBirthCertificateForm.get('canEdit').value" readonly
                            matInput maxlength="20" appPreventSpace
                            placeholder="{{'education' | translate:translateKey:'gu'}}"
                            [value]="stillBirthCertificateForm.get('motherEducation').get('gujName').value">
                    </mat-form-field>

                    <div class="col-md-12" *ngIf="stillBirthCertificateForm.value.motherEducation.code == 'NOT_STATED'">
                        <mat-form-field>
                            <input matInput placeholder="{{'not_stated_education' | translate:translateKey}}"
                                formControlName="motherOtherEducation" required>
                        </mat-form-field>
                    </div>

                    <div formGroupName="motherOccupations" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'occupation' | translate:translateKey}} "
                            (change)="gujNameFinder($event,'motherOccupations',MotherOccupation)"
                            formControlName="code">
                            <ng-option matTooltip="{{motheroccupation.name}}"
                                *ngFor="let motheroccupation of MotherOccupation" [value]="motheroccupation.code">
                                {{motheroccupation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('motherOccupations').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field formGroupName="motherOccupations" class="col-md-6">
                        <input required [disabled]="showButtons && !stillBirthCertificateForm.get('canEdit').value"
                            readonly matInput maxlength="20" appPreventSpace
                            placeholder="{{'occupation' | translate:translateKey:'gu'}}"
                            [value]="stillBirthCertificateForm.get('motherOccupations').get('gujName').value">
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="12" minlength="12" OnlyNumber
                            placeholder="{{'aadhar_number' | translate:translateKey}}"
                            formControlName="motherAadharNumber">
                        <control-messages [control]="stillBirthCertificateForm.get('motherAadharNumber')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input  matInput maxlength="4" OnlyNumber
                            placeholder="{{'e_Mamta_RegNumber' | translate:translateKey}}"
                            formControlName="mamtaRegNumber">
                        <control-messages [control]="stillBirthCertificateForm.get('mamtaRegNumber')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appAlphaNumeric
                            placeholder="{{'mother_previous_delivery_number' | translate:translateKey}}"
                            formControlName="motherPrevRegNumber">
                        <control-messages [control]="stillBirthCertificateForm.get('motherPrevRegNumber')">
                        </control-messages>
                    </mat-form-field>

                    <!-- <mat-form-field class="col-md-4">
                        <input matInput maxlength="4" minlength="4" OnlyNumber
                            placeholder="{{'peta_kendra_number' | translate:translateKey}}"
                            formControlName="petaKendraNumber">
                        <control-messages [control]="stillBirthCertificateForm.get('petaKendraNumber')">
                        </control-messages>

                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="3" minlength="2" OnlyNumber
                            placeholder="{{'mother_age_at_time_of_marriage' | translate:translateKey}}"
                            formControlName="motherMarriageAge">
                        <control-messages [control]="stillBirthCertificateForm.get('motherMarriageAge')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="3" minlength="2" OnlyNumber
                            placeholder="{{'mother_age_at_time_of_said_delivery' | translate:translateKey}}"
                            formControlName="motherDeliveryAge">
                        <control-messages [control]="stillBirthCertificateForm.get('motherDeliveryAge')">
                        </control-messages>
                    </mat-form-field> -->

                    <div formGroupName="petaKendraNumber" class="col-md-4 ngSelect">
                        <ng-select placeholder="{{'peta_kendra_number' | translate:translateKey}}"
                            formControlName="code">
                            <ng-option matTooltip="{{upch.name}}" *ngFor="let upch of URBAN_PRIMARY_HEALTH_CENTER"
                                [value]="upch.code">
                                {{upch.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('petaKendraNumber').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="motherMarriageAge" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select OnlyNumber
                            placeholder="{{'mother_age_at_time_of_marriage' | translate:translateKey}} "
                            formControlName="code">
                            <ng-option matTooltip="{{maamt.name}}" *ngFor="let maamt of MOTHER_MARRIAGE_AGE"
                                [value]="maamt.code">
                                {{maamt.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('motherMarriageAge').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="motherDeliveryAge" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select OnlyNumber
                            placeholder="{{'mother_age_at_time_of_said_delivery' | translate:translateKey}} "
                            formControlName="code">
                            <ng-option matTooltip="{{maasd.name}}" *ngFor="let maasd of MOTHER_DELIVERY_AGE"
                                [value]="maasd.code">
                                {{maasd.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('motherDeliveryAge').get('code')">
                        </control-messages>
                    </div>
                </div>

                <h2>{{'child_born_with_mother' | translate:translateKey}}</h2>

                <div class="row">
                    <div formGroupName="deliveryTreatment" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'treatment_taken_during_delivery' | translate:translateKey}} "
                            formControlName="code">
                            <ng-option *ngFor="let dto of DeliveryTreatmentOptions" [value]="dto.code">
                                {{dto.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('deliveryTreatment').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="deliveryType" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'delivery_type' | translate:translateKey}} " formControlName="code">
                            <ng-option *ngFor="let deliverytype of TypeOfDelivery" [value]="deliverytype.code">
                                {{deliverytype.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('deliveryType').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field class="col-md-4">
                        <input required matInput maxlength="2" OnlyNumber
                            placeholder="{{'pregnancy_duration' | translate:translateKey}}"
                            formControlName="pregnancyDuration">
                        <control-messages [control]="stillBirthCertificateForm.get('pregnancyDuration')">
                        </control-messages>
                    </mat-form-field>
                </div>

                <app-hos-action-bar [stepInfo]="{step: 'step3', next: 3, back: 1}"
                    (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="stillBirthCertificateForm" [step]="'step2'">
                </app-hos-action-bar>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel4 | translate: translateKey}}</div>
                </ng-template>
                <div class="row">
                    <div formGroupName="familyReligion" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select (change)="changeFamilyReligion($event)"
                            placeholder="{{'religion' | translate:translateKey}} " formControlName="code" required>
                            <ng-option *ngFor="let relegion of Religion" [value]="relegion.code">
                                {{relegion.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('familyReligion').get('code')">
                        </control-messages>
                    </div>

                    <div class="col-md-8"
                        *ngIf="stillBirthCertificateForm.value.familyReligion.code == 'OTHER_RELIGION'">
                        <mat-form-field class="birth-certificate-col-md-4">
                            <input appValidationFields [validationFieldsType]="'onlyNameWithSpace'" matInput
                                placeholder="{{'other_religion' | translate:translateKey}}"
                                formControlName="familyReligionOther" required>
                        </mat-form-field>
                        <control-messages [control]="stillBirthCertificateForm.get('familyReligionOther')">
                        </control-messages>
                    </div>
                </div>

                <div class="row">

                    <h2>
                        {{'present_address_during_delivery' | translate:translateKey}}
                    </h2>

                    <app-address #address [isDisplayGujFields]="true" [requiredFeilds]="true"
                        [addressFormGroup]="stillBirthCertificateForm.get('parentDeliveryAddress')"></app-address>
                </div>

                <div class="row">
                    <div class="col-md-4" formGroupName="isPermanentPresentAddressSame">
                        <mat-checkbox [disabled]="!stillBirthCertificateForm.get('canEdit').value"
                            (change)="check($event);"
                            [checked]="stillBirthCertificateForm.get('isPermanentPresentAddressSame').get('code').value == 'YES'? true : false">{{'is_permanent_address_same_as_present_address'
                            | translate:translateKey}}</mat-checkbox>
                    </div>

                    <div class="col-md-4 radioBtnError" formGroupName="withinCityLimits">
                        <mat-label>{{'Within_City_Limits' | translate:translateKey}} <span class="mandatory">*</span></mat-label>
                        <mat-radio-group formControlName="code"
                            (change)="stillBirthCertificateForm.get('wardNo').get('code').reset();validationWord($event)">
                            <mat-radio-button class="example-radio-button" *ngFor="let opt of ISYESNO"
                                [value]="opt.code">
                                {{opt.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <control-messages [control]="stillBirthCertificateForm.get('withinCityLimits')">
                        </control-messages>
                    </div>

                    <div formGroupName="wardNo" class="col-md-4 ngSelect asteriskmarkRequired"
                        *ngIf="stillBirthCertificateForm.get('withinCityLimits').get('code').value=='YES'">
                        <ng-select placeholder="{{'ward_No' | translate:translateKey}} " formControlName="code"
                        required="{{stillBirthCertificateForm.get('withinCityLimits').get('code').value=='YES'}}">
                            <ng-option *ngFor="let wardObj of wardNoData" [value]="wardObj.code">
                                {{wardObj.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="stillBirthCertificateForm.get('wardNo').get('code')">
                        </control-messages>
                    </div>

                    <!-- <div class="col-md-4 radioBtnError" formGroupName="birthCertiMailingAddressType">
                        <mat-label>{{'where_do_you_want_birth_certtificate' | translate:translateKey }} *</mat-label>
                        <mat-radio-group class="example-radio-group" formControlName="code">
                            <mat-radio-button class="example-radio-button" *ngFor="let loc of BIRTH_CERTI_MAILING_ADDRESS_TYPE" [value]="loc.code">
                                {{loc.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <control-messages [control]="stillBirthCertificateForm.get('birthCertiMailingAddressType').get('code')">
                        </control-messages>
                    </div> -->

                </div>
                <div class="row">
                    <h2>
                        {{'permanent_address_during_delivery' | translate:translateKey}}
                    </h2>

                    <app-address #address [isDisplayGujFields]="true" [requiredFeilds]="true"
                        [addressFormGroup]="stillBirthCertificateForm.get('parentPermanentAddress')"></app-address>
                </div>



                <app-hos-action-bar [stepInfo]="{step: 'step4', next: 4, back: 2}"
                    (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="stillBirthCertificateForm" [step]="'step3'">
                </app-hos-action-bar>

            </mat-tab>

            <mat-tab>

                <ng-template mat-tab-label>
                    <div>{{stepLabel5 | translate: translateKey}}</div>
                </ng-template>

                <div class="alert alert-warning">
                    {{'note' | translate:translateKey}} :
                    {{'submit_hard_copy_at_madhyawarti_school' | translate:translateKey}}
                </div>

                <div class="alert alert-primary">
                    {{'note' | translate:translateKey}} : {{'file_size_less_than_5_mb' | translate:translateKey}}
                </div>
                <!-- <div class="alert alert-success">
                    {{'note' | translate:translateKey}} : {{'check_photo_upload' | translate:translateKey}}
                </div> -->

                <div class="row">
                    <div class="col-md-4" *ngFor="let doc of uploadFileArray">
                        <!-- *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons" 
                                         birthCertificateForm.get('serviceDetail').get('serviceUploadDocuments').value-->
                        <div>
                            <label>{{translateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }}
                                <span *ngIf="doc.mandatory" class="mandatory">*</span></label>
                            <app-hos-file-upload [form]="stillBirthCertificateForm" [uploadModel]="doc">
                            </app-hos-file-upload>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-4" *ngIf="showButtons">
                        <label> {{'resident_proof' | translate:translateKey}}{{!getFileObjectContained('1.1')?'': '*'}}</label>
                        <app-hos-file-upload [form]="stillBirthCertificateForm" [uploadModel]="setDataValue(1.1,'Resident Proof','1.1','residentProof')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons">
                        <label> {{'doctors_certificate' | translate:translateKey}}{{!getFileObjectContained('1.2')?'': '*'}}</label>
                        <app-hos-file-upload [form]="stillBirthCertificateForm" [uploadModel]="setDataValue(1.2,'Doctors Certificate','1.1','doctorsCertificate')"></app-hos-file-upload>
                    </div>
                </div> -->

                <div>
                    <app-hos-action-bar [paymentGateway]="paymentGateway" [stepInfo]="{step: 'final', next: 5, back: 3}"
                        (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                        [uploadFiles]="uploadFileArray" [form]="stillBirthCertificateForm" [step]="'final'"
                        (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
                </div>
                <select-payment-gateway [applicationType]="'HOSPITAL'" #paymentGateway></select-payment-gateway>
            </mat-tab>
        </mat-tab-group>
    </form>
</mat-card>