<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-card>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>{{'property_detail' | translate:translateKey }} </h2>
                    <!-- <mat-divider></mat-divider> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input" hidden>
                    <mat-label>Application Number</mat-label>
                    <input trim="blur" matInput  name="applicationNumber"
                        #ApplicationNumber="ngModel" [(ngModel)]="addressModel.applicationNumber">
                    <mat-error *ngIf="ApplicationNumber.invalid">*Application No. is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect">
                    <ng-select required placeholder="{{ 'reason_for_property_creation' | translate:translateKey }} " [items]="subReasonPropertyCreationList"
                        bindValue="itemId" bindLabel="itemName" name="subReasonForCreationItemId"
                        [(ngModel)]="addressModel.subReasonForCreationItemId" #SubReasonForCreationItem="ngModel"
                        [ngClass]="{'ng-invalid ng-touched':  form.submitted && SubReasonForCreationItem.invalid}" class="asteriskmarkRequired">
                    </ng-select>
                    <div *ngIf="(form.submitted && SubReasonForCreationItem.invalid)  || (SubReasonForCreationItem.invalid && SubReasonForCreationItem.touched)">
                        <mat-error *ngIf="SubReasonForCreationItem.errors.required">*Reason for Property Creation is required.</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width-input">
                  <mat-label>Old Property No / Census No</mat-label>
                  <input trim="blur" minlength="17" maxlength="17" matInput class="oldPropertyNo" name="oldPropertyNo" [(ngModel)]="addressModel.oldPropertyNo" #oldPropertyNo="ngModel" (keydown)="onKeyDown($event)">
                  <mat-error *ngIf="oldPropertyNo.invalid">*Invalid Old Property No / Census No.</mat-error>
              </mat-form-field>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input" hidden>
                <input trim="blur" matInput name="propertyNo" placeholder="{{'property_no' | translate:translateKey }} " [(ngModel)]="addressModel.propertyNo" disabled>
                </mat-form-field>
            </div>
         </div> -->
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                <input trim="blur" matInput placeholder="{{'reference_property_no' | translate:translateKey }} " name="referencePropertyNo"
                        minlength="12" #ReferencePropertyNo="ngModel" (blur)="onBlurReferenceProperty(ReferencePropertyNo.invalid)"
                        [(ngModel)]="addressModel.referencePropertyNo" maxlength="12" mask-property-no>
                    <mat-error *ngIf="ReferencePropertyNo.invalid">*Invalid Reference Property No.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width-input">
                <input trim="blur" matInput number-only placeholder="{{'serial_no' | translate:translateKey }} " name="serialNo" [(ngModel)]="addressModel.serialNo"
                        #SerialNo="ngModel" maxlength="255">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <div class="button-row text-right">
                    <button mat-raised-button type="button" class="pl-15 pr-15" color="primary" (click)="onSearchSRNo()">
                        <mat-icon>search</mat-icon>{{'search_sr_no' | translate:translateKey }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect" *ngIf="wardZoneLevel.length>=1">
                    <ng-select required [placeholder]="!wardZoneLevel[0]?'': wardZoneLevel[0].levelName "
                        [items]="wardZoneLevel1List" bindValue="parentWardzoneId" bindLabel="wardzoneName"
                        name="level1Id" [(ngModel)]="addressModel.level1Id" #Level1Id="ngModel"
                        (ngModelChange)="onChangedWardZone($event,2)"
                        [ngClass]="{'ng-invalid ng-touched':  form.submitted && Level1Id.invalid}" class="asteriskmarkRequired">
                    </ng-select>
                    <div *ngIf="(form.submitted && Level1Id.invalid)  || (Level1Id.invalid && Level1Id.touched)">
                        <mat-error *ngIf="Level1Id.errors.required">
                            *{{!wardZoneLevel[0]?'': wardZoneLevel[0].levelName}} is
                            required.</mat-error>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="ngSelect" *ngIf="wardZoneLevel.length>=2">
                    <ng-select required [placeholder]="!wardZoneLevel[1]?'': wardZoneLevel[1].levelName "
                        [items]="wardZoneLevel2List" bindValue="wardzoneId" bindLabel="wardzoneName" name="Level2Id"
                        [(ngModel)]="addressModel.level2Id" #Level2Id="ngModel"
                        (ngModelChange)="onChangedWardZone($event,3)"
                        [ngClass]="{'ng-invalid ng-touched':  form.submitted && Level2Id.invalid}" class="asteriskmarkRequired">
                    </ng-select>
                    <div *ngIf="(form.submitted && Level2Id.invalid)  || (Level2Id.invalid && Level2Id.touched)">
                        <mat-error *ngIf="Level2Id.errors.required">
                            *{{!wardZoneLevel[1]?'': wardZoneLevel[1].levelName}} is
                            required.</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ngSelect" *ngIf="wardZoneLevel.length>=3">
                    <ng-select required [placeholder]="!wardZoneLevel[2]?'': wardZoneLevel[2].levelName "
                        [items]="wardZoneLevel3List" bindValue="wardzoneId" bindLabel="wardzoneName" name="level3Id"
                        [(ngModel)]="addressModel.level3Id" #level3Id="ngModel" (ngModelChange)="onChangedWardZone($event,4)" class="asteriskmarkRequired">
                    </ng-select>
                    <div *ngIf="(form.submitted && level3Id.invalid)  || (level3Id.invalid && level3Id.touched)">
                        <mat-error *ngIf="level3Id.errors.required">
                            *{{!wardZoneLevel[2]?'': wardZoneLevel[2].levelName}} is
                            required.</mat-error>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="ngSelect" *ngIf="wardZoneLevel.length>=4">
                    <ng-select [placeholder]="!wardZoneLevel[3]?'': wardZoneLevel[3].levelName"
                        [items]="wardZoneLevel4List" bindValue="wardzoneId" bindLabel="wardzoneName" name="level4Id"
                        [(ngModel)]="addressModel.level4Id">
                    </ng-select>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput number-only placeholder="{{'gis_reference_no' | translate:translateKey }} " name="gisRefNo" [(ngModel)]="addressModel.gisRefNo"
                        maxlength="255">
                </mat-form-field>
            </div> -->
        </div>
    </mat-card>
    <mat-card class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>{{'property_address' | translate:translateKey }}</h2>
                    <!-- <mat-divider></mat-divider> -->
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!isValidForm">
            <div class="col-md-12">
                <div class="alert alert-danger">*Please fill atleast one of the fields of Property Address.<br>
                    i.e. House No. or Building Name or Society Name or Street Name or Landmark or Area Name.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" trim="blur" matInput placeholder="{{'fp_no' | translate:translateKey }} " (input)="onChangeAddress()" name="fpNo"
                        [(ngModel)]="addressModel.propertyAddressDTO.fpNo" maxlength="10">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" trim="blur" matInput placeholder="{{'plot_part_no' | translate:translateKey }} " (input)="onChangeAddress()" name="plotPartNo"
                        [(ngModel)]="addressModel.propertyAddressDTO.plotPartNo" maxlength="10">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput placeholder="{{'tp_no' | translate:translateKey }} " (input)="onChangeAddress()" name="tpNo"
                        [(ngModel)]="addressModel.propertyAddressDTO.tpNo" maxlength="10">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput placeholder="{{'revenue_survey_no' | translate:translateKey }} "
                        (input)="onChangeAddress()" name="serveyNo" [(ngModel)]="addressModel.propertyAddressDTO.serveyNo"
                        maxlength="10">
                </mat-form-field>
            </div>
           <div class="col-md-6">
              <mat-form-field class="full-width-input">
                  <mat-label>City Survey Number</mat-label>
                  <input  trim="blur" appAlphaNumeric maxlength="50" matInput (input)="onChangeAddress()" name="cityCensusNo" #CityCensusNo="ngModel" [(ngModel)]="addressModel.propertyAddressDTO.cityCensusNo">
                  <mat-error *ngIf="CityCensusNo.invalid">*Invalid SurveyNo.</mat-error>
              </mat-form-field>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput (input)="onChangeAddress()" name="houseNo"
                        [(ngModel)]="addressModel.propertyAddressDTO.houseNo" placeholder="{{'house_flat_no' | translate:translateKey }} " placeholder="House / Flat No"
                        maxlength="10">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput (input)="onChangeAddress()" name="buildingName"
                        [(ngModel)]="addressModel.propertyAddressDTO.buildingName" placeholder="{{'building_name' | translate:translateKey }} "
                        maxlength="50">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput (input)="onChangeAddress()" name="societyName"
                        [(ngModel)]="addressModel.propertyAddressDTO.societyName" placeholder="{{'society_name' | translate:translateKey }} "
                        maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput (input)="onChangeAddress()" name="streetName"
                        [(ngModel)]="addressModel.propertyAddressDTO.streetName"placeholder="{{'name_of_street_road' | translate:translateKey }} " placeholder="Name of Street / Road"
                        maxlength="50">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput (input)="onChangeAddress()" name="landMark"
                        [(ngModel)]="addressModel.propertyAddressDTO.landMark" placeholder="{{'landmark' | translate:translateKey }} " maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput (input)="onChangeAddress()" name="areaName" placeholder="{{'area_name' | translate:translateKey }} "
                        [(ngModel)]="addressModel.propertyAddressDTO.areaName" maxlength="50">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <!-- <mat-label>State</mat-label> -->
                    <input matInput name="state" placeholder="{{'state' | translate:translateKey }} " [(ngModel)]="addressModel.propertyAddressDTO.state" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <!-- <mat-label>District</mat-label> -->
                    <input matInput name="district" placeholder="{{'district' | translate:translateKey }} " [(ngModel)]="addressModel.propertyAddressDTO.district" disabled>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input matInput name="city" placeholder="{{'city' | translate:translateKey }} " [(ngModel)]="addressModel.propertyAddressDTO.city" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <input type="text" trim="blur" matInput number-only [allowDecimals]="false" [onlyTwoDecimal]="false"
                        (input)="onChangeAddress()" name="pincode" [(ngModel)]="addressModel.propertyAddressDTO.pincode"
                        placeholder="{{'pincode' | translate:translateKey }} " #Pincode="ngModel" maxlength="6" minlength="6">
                </mat-form-field>
                <mat-error *ngIf="Pincode.invalid">*Pin Code is invalid.</mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full-width-input">
                    <mat-checkbox name="postalAddressCheckBox"
                        [(ngModel)]="addressModel.propertyAddressDTO.isPostalAddressDiff" (change)="changePostalAddressCheckBox()">
                        {{'postal_address_different_than_property_address' | translate:translateKey }}</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <textarea matInput name="propertyAddress" #PropertyAddress="ngModel" placeholder="{{'property_address' | translate:translateKey }} "
                        [(ngModel)]="addressModel.propertyAddressDTO.propertyAddress" maxlength="500" readonly
                        rows="5"></textarea>
                    <mat-error
                        *ngIf="addressModel.propertyAddressDTO.postalAddress!=null && addressModel.propertyAddressDTO.postalAddress.length>500">
                        For Property Address maximum 500 characters are allowed.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width-input">
                    <textarea matInput name="postalAddress" #PostalAddressDiff="ngModel" placeholder="{{'postal_address' | translate:translateKey }} "
                        [(ngModel)]="addressModel.propertyAddressDTO.postalAddress"
                        [required]="addressModel.propertyAddressDTO.isPostalAddressDiff"
                        [readonly]="!addressModel.propertyAddressDTO.isPostalAddressDiff" rows="5" maxlength="500"
                        (input)="checkIsPostalAddressEmpty(PostalAddressDiff)"></textarea>
                    <mat-error *ngIf="PostalAddressDiff.invalid || PostalAddressDiff.touched">
                        Postal Address is required.</mat-error>
                    <mat-error
                        *ngIf="addressModel.propertyAddressDTO.postalAddress!=null && addressModel.propertyAddressDTO.postalAddress.length>500">
                        For Postal Address maximum 500 characters are allowed.</mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    <div class="row text-right mt-3">
        <div class="col-md-12">
            <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onBackClick()">
                <mat-icon>skip_previous</mat-icon>{{'back' | translate:translateKey }}
            </button>
            <button mat-raised-button class="ml-3" color="primary" type="submit">
                {{'next' | translate:translateKey }}<mat-icon>skip_next</mat-icon>
            </button>
        </div>
    </div>
</form>
