/* Structure */


@import "src/assets/scss/variables";

.example-loading-shade { position: absolute; top: 0; left: 0; bottom: 56px; right: 0; background: rgba(0, 0, 0, 0.15); z-index: 1; display: flex; align-items: center; justify-content: center; }

.mat-error{
    margin-top: -10px;
    font-size: 11px
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}


//For material Table 


/* Structure */
.example-container { position: relative; }
.example-table-container { position: relative; max-height: 400px; overflow: auto; }
table { width: 100%; }
.example-loading-shade { position: absolute; top: 0; left: 0; bottom: 56px; right: 0; background: rgba(0, 0, 0, 0.15); z-index: 1; display: flex; align-items: center; justify-content: center; }
.example-rate-limit-reached { color: #980000; max-width: 360px; text-align: center; padding-top: 110px; }

.customthead{
    background-color: #673ab7;
    color: white;
}

.scrollModel{
    overflow-y:auto;
    max-height: 500px;
}

.fsLarge{
    font-size: large;
}

.fotButtonBar{
    background: #f2f2f2;
    padding: 25px 0 10px;
    margin-top: 0px !important;
}
.modal-md {
    max-width: 400;
}
