<!-- HTML for Town hall booking Guideline-->
<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<div *ngIf="guideLineFlag">
    <mat-card class="cardBox">
        <div class="pageTitle d-flex justify-content-between" *ngIf="showSelectLanguage">
            {{'online_townhall_bookings'| translate: translateKey:'gu'}}
            <button mat-raised-button type="button" color="primary" (click)="selectLanguage('en')">English</button>
        </div>
        <div class="pageTitle d-flex justify-content-between" *ngIf="!showSelectLanguage">
            <div>{{'online_townhall_bookings'| translate: translateKey}}</div>
            <button mat-raised-button type="button" color="primary" (click)="selectLanguage('gu')">ગુજરાતી</button>
        </div>
        <mat-card-content class="p-4 header_lines" *ngIf="showSelectLanguage">
            <img _ngcontent-c1="" width=130 height=130 alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg"
                class="center">
            <h5 class="titleHeader"> <b>"પ્રોસેસ" પર ક્લિક કરતા પહેલા ટાઉન હોલ મુજબના તમામ નિયમો વાંચો, એકવાર તમે "પ્રોસેસ"
                    પર ક્લિક કરો પછી અમે નિયમો અને નિયમોની તમારી સ્વીકૃતિને ધ્યાનમાં લઈશું.</b></h5>
            <mat-card-content>

                <div class="row p-3">
                    <div class="col-md-3">
                        <h5 class="text-center"><b> {{'મહાત્મા ગાંધી નગરગૃહ'| translate: translateKey}}: <br />
                                <button mat-button
                                    (click)="downloadGuidLineDocumemnt('MG_Nagar_Gruh_Seating_Arrangement_&_Rules')"
                                    color="primary">Download</button></b>
                        </h5>
                    </div>
                    <div class="col-md-5">
                        <h5 class="text-center"><b>{{'પંડિત દિનદયાલ ઉપાધ્યાય નગરગૃહ' | translate: translateKey}}:<br />
                                <button mat-button
                                    (click)="downloadGuidLineDocumemnt('Pndt_DU_Nagar_Gruh_Seating_Arrangement_&_Rules')"
                                    color="primary">Download</button></b>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center"><b>{{'સર સયાજીરાવ નગરગૃહ' | translate: translateKey}}: <br />
                                <button mat-button
                                    (click)="downloadGuidLineDocumemnt('Sir_Sayaji_Nagar_Gruh_Seating_Arrangement_&_Rules')"
                                    color="primary">Download</button></b>
                        </h5>
                    </div>
                </div>
            </mat-card-content>
            <p class="headline"><strong>{{'અગત્યની સુચનાઓ'| translate: translateKey}}</strong></p>
            <h4 class="instructions pl-2">
                <!-- <li>
                        All parties/organizers have to observe the VMC Rules(
                        <a href="javascript:void(0)" class="stretched-link" (click)="loadGuideLine()">
                            Mahatma Gandhi Nagar Gruh, Sir Sayaji Rao Nagar Gruh,Pandit Dindayal Upadhyay Nagar,Deepak Open Air theater
                        </a>)
                    </li> -->
                    <div class="d-flex ">
                        <p class="pr-2 listSize"> ૧. </p>
                        <p class="listSize">"જો આગામી નાણાકીય વર્ષ 2024-2025 માટે ટાઉન હોલના ચાર્જમાં કોઈ વધારો થશે અને જો બુકિંગ 1/4/2024 પહેલા કરવામાં આવશે તો આ વધેલો ચાર્જ ડિપોઝિટમાંથી બાદ કરવામાં આવશે."</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">  ૨. </p>
                    <p class="listSize">"જો અરજદારનું બુકિંગ 01/01/2025 થી 31/03/2025 સોમવારથી શુક્રવારની વચ્ચે આવતી જાહેર રજાની તારીખ માટે છે, તો તે તારીખ માટેના ચાર્જનો તફાવત 2025 જાહેર રજાની તારીખોની સૂચિ પ્રકાશિત પછી ડિપોઝિટમાંથી બાદ કરવામાં આવશે."</p>
                </div>

                <div class="d-flex ">
                    <p class="pr-2 listSize">  ૩. </p>
                    <p class="listSize"> અનામત પેટે ₹ ૧૫,૦૦૦/- તથા પોલીસ પરફેૉન્સ લાયસન્સ નગર ગૃહની કચેરીમાં કાર્યક્રમની
                        તારીખ પૂર્વે જમા
                        કરાવવું ફરજીયાત છે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">૪. </p>
                    <p class="listSize"> પ્રેક્ષકોની સુરક્ષા માટે મેટલ ડીટેક્ટર અને ડ્રેસ કોડ સહિત સિક્યુરિટી સ્ટાફની
                        વ્યવસ્થા કરવી
                        ફરજીયાત છે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">૫.</p>
                    <p class="listSize"> કોઈ પણ સંજોગોમાં ૯૧૧ થી વધુ દર્શકોને આમંત્રિત કરવા પર પ્રતિબંધ છે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize"> ૬.</p>
                    <p class="listSize"> નગર ગૃહ સંકુલમાં અગ્નિની જવાળાઓ થાય તેવા પ્રયોગો તથા સ્ફોટક ઘડાકાવાળા પ્રયોગો તેમજ
                        ધુમાડો થાય
                        તેવા ધૂપ-દીપ કરવા પ્રતિબંધિત છે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">  ૭. </p>
                    <p class="listSize"> કાર્યક્રમની રજુઆત માટે તૈયાર કરવામાં આવતા બેનરો તથા નિમંત્રણ કાર્ડ અથવા ટીકીટમાં
                        અરજદારનું નામ
                        અને સંસ્થાનું નામ લખવું ફરજીયાત છે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize"> ૮. </p>
                    <p class="listSize lineHight"> જાહેર જનતાની સુરક્ષાને ધ્યાનમાં લેતા કોઈપણ સંજોગોમાં પ્રથમ અને બીજી
                        શીફ્ટમાં નિયત સમયમાં
                        પ્રોગ્રામ શરૂ કરવો તેમજ પૂરો કરવાનો રહેશે તથા ત્રીજી શીફ્ટ પણ રાત્રે ૧-૦૦ વાગ્યા બાદ કાર્યક્રમ બંધ
                        કરવો ફરજીયાત છે.</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize"> ૯. </p>
                    <p class="listSize">પ્રથમ શીફ્ટ - સવારે ૦૯-૦૦ થી ૧૨-૩૦ કલાકે</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-4 listSize"> </p>
                    <p class="listSize">દ્રિતીય શીફ્ટ - બપોરે ૦૩-૦૦ થી ૬-૩૦ કલાકે</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-4 listSize"> </p>
                    <p class="listSize">તૃતીય શીફ્ટ - રાત્રે ૦૯-૦૦ થી ૧૨-૩૦ કલાકે</p>
                </div>
                <div class="d-flex ">
                    <p class="pr-2 listSize">૧૦.</p>
                    <p class="listSize lineHight">નગરગૃહના ઠરાવેલ નિયમો ઉપરાંત હાલની સ્થળ સ્થિતિને ધ્યાનમાં લેતા તથા.
                        પ્રેક્ષકોની સુવિધાઓ અને
                        સુરક્ષાની બાબતને ધ્યાનમાં લેતા ઉપરોક્ત અનુક્રમ નંબર: ૧ થી ૬ ના સૂચનોનું અરજદાર અને સંસ્થાએ અચૂક પાલન
                        કરવાનું રહેશે.</p>
                </div>
                <p class="readline">ઉપરોક્ત સૂચનાનો ચૂસ્તપણે અમલ કરવાનો રહેશે અન્યથા કાર્યક્રમ બંધ કરવાની ફરજ પડશે.</p>
                <!-- </p> -->
            </h4>

        </mat-card-content>
        <mat-card-content class="p-4" *ngIf="!showSelectLanguage">
            <img _ngcontent-c1="" width=130 height=130 alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg"
                class="center">
            <h5 class="titleHeader"> <b>Read all the rules town hall-wise before click on proceed, once you click on proceed
                    we consider your acceptance of the rules and regulations.</b></h5>
            <div class="row p-3">
                <div class="col-md-3">
                    <h5 class="text-center"><b> {{'MG'| translate: translateKey}}: <br />
                            <button mat-button
                                (click)="downloadGuidLineDocumemnt('MG_Nagar_Gruh_Seating_Arrangement_&_Rules')"
                                color="primary">Download</button></b>
                    </h5>
                </div>
                <div class="col-md-5">
                    <h5 class="text-center"><b>{{'PDUN' | translate: translateKey}}:<br />
                            <button mat-button
                                (click)="downloadGuidLineDocumemnt('Pndt_DU_Nagar_Gruh_Seating_Arrangement_&_Rules')"
                                color="primary">Download</button></b>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text-center"><b>{{'SSR' | translate: translateKey}}: <br />
                            <button mat-button
                                (click)="downloadGuidLineDocumemnt('Sir_Sayaji_Nagar_Gruh_Seating_Arrangement_&_Rules')"
                                color="primary">Download</button></b>
                    </h5>
                </div>
            </div>
            <h3 class="engTitle"><strong>{{'Important Instructions'| translate: translateKey}}</strong></h3>
            <h4>
                <ol class="listSize">

                    <li class="engInstructions">
                        <h4>"If there is any increase in Town Hall charges for the next financial year 2024-2025, and if the booking is made before 1/4/2024 then this increased charge will be deducted from the deposit."</h4>
                        </li>
                        <li class="engInstructions">
                        <h4>"If the applicant's booking is for a public holiday date falling between 01/01/2025 to 31/03/2025 Monday to Friday, the difference in charge for that date will be deducted from the deposit after the list of 2025 public holiday dates is published."</h4>
                        </li>
                        <li class="engInstructions">
                        <h4>It is compulsory to deposit ₹ 15,000 / - in reserve and Police Performance License in the town
                            house office before the date of the program.</h4>
                    </li>

                    <li class="engInstructions">
                        <h4>Arranging metal detectors and dress code security staff is mandatory for the safety of the
                            spectators.</h4>
                    </li>

                    <li class="engInstructions">
                        <h4>In any case, inviting more than 911 spectators is prohibited.</h4>
                    </li>

                    <li class="engInstructions">
                        <h4>Experiments with flames and explosives, as well as incense-burning incense, are prohibited in
                            the town hall complex.</h4>
                    </li>

                    <li class="engInstructions">
                        <h4> It is mandatory to write the name of the applicant and the name of the organization in the
                            banners and invitation cards or tickets prepared for the presentation of the program.</h4>
                    </li>

                    <li class="engInstructions">
                        <h4>In any case, considering the safety of the public, the program must be started and completed
                            within the stipulated time in the first and second shifts and it is also mandatory to close the
                            program after 1:00 pm in the third shift.</h4>
                    </li>

                    <li class="engInstructions">
                        <h4>First shift - 09-00 to 12-30 hours in the morning</h4>
                        <h4>Second shift - 03-00 to 6-30 hours</h4>
                        <h4>Third shift - 09:00 to 12-30 hours at night</h4>
                    </li>

                    <li class="engInstructions">
                        <h4>In addition to the rules laid down by the township, taking into account the current site
                            conditions and. Considering the facilities and safety of the audience, the applicant and the
                            organization must strictly follow the instructions of the above sequence number: 1 to 6.</h4>
                    </li>
                </ol>
                <div class="engInstructions">
                    <h4>The above instruction must be strictly enforced otherwise the program will be forced to close.</h4>
                </div>
            </h4>
        </mat-card-content>
    </mat-card>
    <div class="fotButtonBar">
        <div class="row px-3 checkbox">
            <div class="col-sm-6 col-md-6" *ngIf="showSelectLanguage">
            <mat-checkbox class="d-block listSize" labelPosition="after" (change)="clickProcess($event)" [checked]="checkProceed">
                <span class="font-weight-bold">{{'મેં નિયમો અને શરતો વાંચી છે અને તેનાથી સંમત છું.' | translate:translateKey}}</span>
            </mat-checkbox>
            </div>
            <div class="col-sm-6 col-md-6" *ngIf="!showSelectLanguage">
                <mat-checkbox class="d-block listSize" labelPosition="after" (change)="clickProcess($event)" [checked]="checkProceed">
                    <span class="font-weight-bold">   {{'i_have_read_and_agree_with_terms_and_conditions' | translate:translateKey}}</span>
                </mat-checkbox>
                </div>
            <div class="col-sm-6 col-md-6 text-right">
    `           <button mat-raised-button [disabled]="btnProceed" (click)="guideLineFlag = false; showSearchForm= true;" color="primary">
                    <mat-icon>thumb_up_alt</mat-icon>
                    {{'proceed'| translate: translateKey}}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- HTML for Town hall booking -->
<div *ngIf="showSearchForm">
    <mat-card class="formClass cardBorder">
        <div class="pageTitle">{{'screen_title'| translate: translateKey}}</div>
        <div class="p-15">
            <form [formGroup]="searchTownHallForm" (ngSubmit)="searchBooking()" autocomplete="off" ngNativeValidate>
                <div class="row mt-3 mb-3">
                    <div class="col-md-6 ngSelect">
                        <ng-select placeholder="{{'select_town_hall'| translate: translateKey}}" formControlName="code"
                            (change)="onChangeTownHalls($event)" class="asteriskmarkRequired">
                            <ng-option *ngFor="let townHall of townHalls" [value]="townHall.code">
                                {{ townHall.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="searchTownHallForm.get('code')"></control-messages>
                    </div>

                    <div formGroupName="purpose" class="col-md-6 ngSelect">
                        <ng-select placeholder="{{'purpose_of_booking'| translate: translateKey}}"
                            formControlName="code" (change)="onChangePurposeOfBooking($event)" class="asteriskmarkRequired">
                            <ng-option *ngFor="let purpose of purposes" [value]="purpose.code">
                                {{ purpose.name }}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="searchTownHallForm.get('purpose').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field class="col-md-6">
                        <mat-label>{{'choose_start_date'| translate: translateKey}}</mat-label>
                        <input appDate matInput [min]="startMinDate" [max]="maxEndDate"
                            (dateChange)="onDateChange($event.value)" [matDatepicker]="townHallBookingfromPicker"
                            formControlName="startDate" placeholder="DD/MM/YYYY" required>
                        <mat-datepicker-toggle matSuffix [for]="townHallBookingfromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #townHallBookingfromPicker touchUi="true"></mat-datepicker>
                        <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}
                        </div>
                        <control-messages [control]="searchTownHallForm.get('startDate')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-6">
                        <mat-label>{{'choose_end_date'| translate: translateKey}}</mat-label>
                        <input appDate matInput [min]="endMinDate" [max]="maxEndDate"
                            [matDatepicker]="townHallBookingtoPicker" formControlName="endDate"
                            placeholder="DD/MM/YYYY" required>
                        <mat-datepicker-toggle matSuffix [for]="townHallBookingtoPicker"></mat-datepicker-toggle>
                        <mat-datepicker #townHallBookingtoPicker touchUi="true"></mat-datepicker>
                        <div align="end" class="default-show-hint mat-hint mat-right">{{bookingUtils.DATE_HINT_MSG}}
                        </div>
                        <control-messages [control]="searchTownHallForm.get('endDate')">
                        </control-messages>
                    </mat-form-field>

                </div>

                <div class="row fotButtonBar">
                    <div class="col-sm-12 col-md-12 text-right">
                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon>search</mat-icon>
                            {{'search'| translate: translateKey}}
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </mat-card>

    <div *ngIf="Dates.length>0" class="mt-4">
        <mat-card class="formClass cardBorder">

            <div class="pageTitle">{{'list_of_town_hall'| translate: translateKey}}</div>

            <mat-accordion *ngFor="let month of bookingUtils.filterMonths(Dates); let i = index;">
                <mat-expansion-panel [expanded]="i === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{month.monthName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <mat-checkbox [checked]="!bookingUtils.checkedAllinMonth(month, Dates)"
                            [disabled]="bookingUtils.checkAllDisabledInmonth(month,Dates)" labelPosition="after"
                            (change)="selectedShift =  bookingUtils.selectAllShiftsInMonth($event.checked, month, Dates, selectedShift,  i)">
                            {{'select_all_shift_in'| translate: translateKey}} {{month.monthName}}
                        </mat-checkbox>
                    </div>

                    <div class="row">
                        <div *ngFor="let date of bookingUtils.filterAcc(month.id, Dates)"
                            class="col-6 col-md-3 col-lg-2 mb-1 p-1">
                            <div class="dateBox rounded border availableDate" [ngClass]=getClass(date.slotList)>
                                <strong>
                                    {{bookingUtils.returnProperDate(date.key)}}
                                </strong>
                                <div class="dateCon">
                                    <mat-checkbox
                                        (change)="selectedShift = bookingUtils.selectShift(shift, $event.checked, selectedShift)"
                                        *ngFor="let shift of date.slotList; let i = index"
                                        [disabled]="shift.slotStatus == bookingConstants.BOOKED || shift.slotStatus == bookingConstants.RESERVED || shift.slotStatus == bookingConstants.TEMPORARY_BLOCKED || shift.slotStatus == bookingConstants.PARTIALLY_BOOKED"
                                        [checked]="shift.slotStatus != bookingConstants.AVAILABLE && shift.slotStatus != bookingConstants.HOLIDAY && shift.slotStatus != bookingConstants.FESTIVAL">
                                        {{'shift'| translate: translateKey | uppercase}}&nbsp;{{shift.shiftType}}

                                    </mat-checkbox>

                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="fotButtonBar">
                <div class="col-sm-12 col-md-12 text-right">
                    <button mat-raised-button data-toggle="modal" (click)="shortlistShifts()"
                        data-target="#confirmShortlistModel" type="button" [disabled]="selectedShift.length == 0"
                        color="primary">
                        <mat-icon>check_circle_outline</mat-icon>
                        {{'shortlist'| translate: translateKey}}
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div class="modal fade" id="confirmShortlistModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header customthead">
                <h4 class="modal-title" id="exampleModalLabel">
                    {{'list_selected_slot'| translate: translateKey}}
                </h4>
                <button title="Close" data-dismiss="modal" class="mat-icon-button" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body scrollModel">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="customthead">
                            <tr>
                                <!-- <th scope="col" width="56">{{'s_no'| translate: translateKey}}</th> -->
                                <th scope="col" width="56">Sr.No.</th>
                                <th scope="col">{{'date_of_programme'| translate: translateKey}}</th>
                                <!-- <th scope="col">{{'end_date'| translate: translateKey}}</th> -->
                                <th scope="col">{{'shift'| translate: translateKey}}</th>
                                <!-- <div *ngIf="selectedShift.length > 1">
                                    <th scope="col" width="65">{{'action'| translate: translateKey}}</th>
                                </div> -->
                                <th scope="col" width="65">{{'action'| translate: translateKey}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shifts of selectedShift; let i = index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{bookingUtils.returnProperDate(shifts.start)}}</td>
                                <!-- <td>{{bookingUtils.returnProperDate(shifts.end)}}</td> -->
                                <td>{{convertshiftType(shifts.shiftType)}}</td>
                                <div *ngIf="selectedShift.length >= 1">
                                    <td>
                                        <!-- <button mat-icon-button title="{{'remove_slot'| translate: translateKey}}" -->
                                          <button mat-icon-button title="Remove Slot"
                                            (click)="selectedShift = bookingUtils.removeSelectedShift(shifts, selectedShift, i)">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" mat-raised-button color="primary" data-dismiss="modal">
                    <mat-icon>cancel</mat-icon>
                    {{'cancel'| translate: translateKey}}
                </button>

                <button type="button" mat-raised-button color="primary" data-dismiss="modal"
                    (click)="confirmShortlist()">
                    <mat-icon>check_circle_outline</mat-icon>
                    {{'confirm_and_continue'| translate: translateKey}}
                </button>

            </div>
        </div>
    </div>
</div>

<div *ngIf="showPaymentReciept">

    <mat-card class="formClass cardBorder">
        <div class="pageTitle">
            {{'townhall_booking_details'| translate: translateKey}}
        </div>
        <div class="p-3 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            {{'booking_number'| translate: translateKey}}
                        </th>
                        <th scope="col">
                            {{'booking_date'| translate: translateKey}}
                        </th>
                        <th scope="col">
                            {{'Form Fees'}}
                        </th>
                        <th scope="col">
                            {{'net_amount'| translate: translateKey}}
                        </th>
                        <th scope="col">
                            {{'deposit_amount'| translate: translateKey}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">
                            {{paymentObject.refNumber}}
                        </td>
                        <td scope="col">
                            {{paymentObject.bookingDate}}
                        </td>
                        <td scope="col">
                            {{paymentObject.formFees}}
                        </td>
                        <td scope="col">
                            {{paymentObject.rentAmount}}
                        </td>
                        <td scope="col">
                            {{paymentObject.depositAmount}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>

    <div class="mt-5 border">
        <div>
            <table mat-table [dataSource]="bookingDetailsDataSource" matSort matSortActive="created" matSortDisableClear
                matSortDirection="asc">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'s_no'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;let indx=index;">
                        {{paginator?(paginator.pageIndex
                        * paginator.pageSize) + (indx+1) : (indx+1)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="bookingDate">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'date_of_programme'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.bookingDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="shiftType">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'shift_type'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.shiftType}} </td>
                </ng-container>

                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'start_time'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.startTime}} </td>
                </ng-container>

                <ng-container matColumnDef="endTime">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'end_time'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.endTime}} </td>
                </ng-container>

                <ng-container matColumnDef="rent">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'rent'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.rent}} </td>
                </ng-container>

                <ng-container matColumnDef="electricCharges">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'electric_charges' | translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.electricCharges}} </td>
                </ng-container>

                <ng-container matColumnDef="administrationCharges">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'administration_charges' | translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.administrationCharges}} </td>
                </ng-container>

                <ng-container matColumnDef="showTax">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'show_tax'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.showTax}} </td>
                </ng-container>

                <ng-container matColumnDef="subTotal">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'subtotal'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.subTotal}}</td>
                </ng-container>

                <ng-container matColumnDef="gstAmount">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'gst_amount'| translate: translateKey}}
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.gstAmount}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        {{'total'| translate: translateKey}}
                        <div>
                            {{'sub_plus_gst'| translate: translateKey}}
                        </div>
                    </th>
                    <td mat-cell class="fullWidth" *matCellDef="let element;"> {{element.total}} </td>
                </ng-container>

                <tr mat-header-row class="mat-header-sticky" *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>

        <div class="fotButtonBar">
            <div class="col-sm-12 col-md-12 text-right">
                <button mat-raised-button color="primary" type="button"
                    (click)="canclebtn()">{{'Cancel'}}
                </button>

                <button mat-raised-button type="button" color="primary"
                    (click)="showPaymentReciept = false;showApplicationForm = true;getUserProfile();">
                    {{'proceed_for_application' | translate: translateKey}}
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div [hidden]="!showApplicationForm">
    <mat-card class="formClass cardBorder">
        <!-- <form [formGroup]="townHallApplicationForm" (ngSubmit)="submitTownhallApplication()"> -->

            <mat-tab-group mat-stretch-tabs dynamicHeight="true" [(selectedIndex)]="tabIndex" class="stepperNav">

                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div>{{'organization_details' | translate:translateKey}}</div>
                    </ng-template>
                <form [formGroup]="organizationDetails">
                    <h2>
                        {{'organization_details' | translate:translateKey}}
                    </h2>

                    <div class="row">
                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="50" type="text" appValidationFields
                                [validationFieldsType]="'onlyNameWithSpace'" formControlName="organizationName"
                                placeholder="{{'oraganization_name' | translate: translateKey}}" required>
                            <control-messages [control]="organizationDetails.get('organizationName')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput OnlyNumber minlength="11" maxlength="11" formControlName="orgTelephoneNo"
                                placeholder="{{'orgTelephone_no' | translate: translateKey}}" required>
                            <control-messages [control]="organizationDetails.get('orgTelephoneNo')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="50" appValidationFields
                                [validationFieldsType]="'onlyNameWithSpace'" formControlName="organizationPresidentName"
                                placeholder="{{'organization_president_name' | translate: translateKey}}" required>
                            <control-messages [control]="organizationDetails.get('organizationPresidentName')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="15" formControlName="gstNo"
                                placeholder="{{'gst_no' | translate: translateKey}}">
                            <control-messages [control]="organizationDetails.get('gstNo')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="100" formControlName="programmeName" appValidationFields
                                [validationFieldsType]="'onlyNameWithSpace'" type="text"
                                placeholder="{{'programme_name' | translate: translateKey}}" required>
                            <control-messages [control]="organizationDetails.get('programmeName')">
                            </control-messages>
                        </mat-form-field>
                    </div>

                    <div>
                        <h2>
                            {{'organizationAddress' | translate:translateKey}}
                        </h2>
                        <app-address #address [requiredFeilds]="true"
                            [addressFormGroup]="organizationDetails.get('organizationAddress')"></app-address>
                    </div>

                    <div class="row mt-4 fotButtonBar townHallfooter">
                        <div class="col-sm-12 col-md-12 text-right">
                            <button mat-raised-button color="primary" type="button"
                                (click)="canclebtn()">{{'Cancel'}}
                            </button>

                            <button mat-raised-button type="button" color="primary"
                                (click)="checkValidation(organizationDetails,false)">{{'next'
                                | translate:translateKey}}
                                <mat-icon>navigate_next</mat-icon>

                            </button>
                        </div>
                    </div>
            </form>
                </mat-tab>

                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div>{{'applicant_details' | translate:translateKey}}</div>
                    </ng-template>
                <form [formGroup]="applicationDetails">
                    <h2>
                        {{'applicant_details' | translate:translateKey}}
                    </h2>

                    <div class="row">
                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="50" appValidationFields
                                [validationFieldsType]="'onlyNameWithSpace'" type="text" formControlName="applicantName"
                                placeholder="{{'applicant_name' | translate: translateKey}}" required>
                            <control-messages [control]="applicationDetails.get('applicantName')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="applicantMobile"
                                placeholder="{{'applicant_mobile' | translate: translateKey}}" required>
                            <control-messages [control]="applicationDetails.get('applicantMobile')">
                            </control-messages>
                        </mat-form-field>

                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="confirmMobile"
                                    placeholder="{{'confirm_mobile' | translate: translateKey}}" required>
                                <control-messages [control]="applicationDetails.get('confirmMobile')">
                                </control-messages>
                            </mat-form-field>
                            <mat-error
                                *ngIf="!bookingUtils.matcher(applicationDetails, 'applicantMobile', 'confirmMobile') && applicationDetails.get('applicantMobile').touched && applicationDetails.get('confirmMobile').touched">
                                {{bookingConstants.MOB_NO_MIS_MATCH_MESSAGE}}
                            </mat-error>
                        </div>


                        <mat-form-field class="col-md-4">
                            <input matInput type="email" maxlength="50" formControlName="emailID"
                                placeholder="{{'applicant_email' | translate: translateKey}}" required>
                            <control-messages [control]="applicationDetails.get('emailID')"></control-messages>
                        </mat-form-field>

                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput type="email" maxlength="50" formControlName="confirmEmailID"
                                    placeholder="{{'confirm_email' | translate: translateKey}}" required>
                                <control-messages [control]="applicationDetails.get('confirmEmailID')">
                                </control-messages>
                            </mat-form-field>
                            <mat-error
                                *ngIf="!bookingUtils.matcher(applicationDetails, 'emailID', 'confirmEmailID') &&applicationDetails.get('emailID').touched && applicationDetails.get('confirmEmailID').touched">
                                {{bookingConstants.EMAIL_MIS_MATCH_MESSAGE}}
                            </mat-error>
                        </div>

                        <mat-form-field class="col-md-4">
                            <input matInput type="text" maxlength="20" appValidationFields
                                [validationFieldsType]="'onlyNameWithSpace'" formControlName="relationshipWithOrg"
                                placeholder="{{'relationship_with_org' | translate: translateKey}}" required>
                            <control-messages [control]="applicationDetails.get('relationshipWithOrg')">
                            </control-messages>
                        </mat-form-field>
                    </div>

                    <div>
                        <h2>
                            {{'applicantAddress' | translate:translateKey}}
                        </h2>
                        <app-address #appAddress [requiredFeilds]="true"
                            [addressFormGroup]="applicationDetails.get('applicantAddress')"></app-address>
                    </div>

                    <div class="row mt-4 fotButtonBar townHallfooter">
                        <div class="col-sm-12 col-md-12 justify-content-between d-flex">
                            <button type="button" color="primary" mat-raised-button (click)="tabIndex= tabIndex -1; ">
                                <mat-icon>navigate_before</mat-icon>
                                {{'back' | translate:translateKey}}
                            </button>
                            <div class="col-sm-9 col-md-9 text-right">
                            <button mat-raised-button color="primary" type="button"
                                (click)="canclebtn()">{{'Cancel'}}
                            </button>
                            </div>
                            <button mat-raised-button type="button" color="primary" (click)="checkValidation(applicationDetails,false)">
                                {{'next'| translate:translateKey}}
                                <mat-icon>navigate_next</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
                </mat-tab>

                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <div>{{'bank_details' | translate:translateKey}}</div>
                    </ng-template>

                    <h2>
                        {{'bank_details' | translate:translateKey}}
                    </h2>
                    <form [formGroup]="bookingDetails">
                    <!-- <bank-details [form]="townHallApplicationForm"></bank-details> -->
                    <bank-details [form]="bookingDetails"></bank-details>


                    <h2>
                        {{'booking_details' | translate:translateKey}}
                    </h2>

                    <div class="row">
                        <mat-form-field class="col-md-6">
                            <textarea matInput type="text" maxlength="200" formControlName="programShortDetails"
                                placeholder="{{'program_short_details' | translate: translateKey}}" required>
                    </textarea>
                            <control-messages [control]="bookingDetails.get('programShortDetails')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <textarea matInput type="text" maxlength="200" formControlName="programPurpose"
                                placeholder="{{'program_purpose' | translate: translateKey}}" required></textarea>
                            <control-messages [control]="bookingDetails.get('programPurpose')">
                            </control-messages>
                        </mat-form-field>

                        <h2>
                            {{'terms_and_conditions' | translate:translateKey }}
                        </h2>
                        <div class="pl-2">
                            <mat-checkbox class="d-block" labelPosition="after" formControlName="agree">
                                {{'i_agree_with_above_bank_details_are_correct' | translate:translateKey}}
                            </mat-checkbox>
                        </div>
                    </div>

                    <div class="row mt-4 fotButtonBar">
                        <div class="col-sm-12 col-md-12 justify-content-between d-flex">
                            <button type="button" color="primary" mat-raised-button (click)="tabIndex= tabIndex -1; ">
                                <mat-icon>navigate_before</mat-icon>
                                {{'back' | translate:translateKey}}
                            </button>
                            <div class="col-sm-8 col-md-8 text-right">
                                <button mat-raised-button color="primary" type="button"
                                    (click)="canclebtn()">{{'Cancel'}}
                                </button>
                            </div>
                            <button mat-raised-button color="primary" type="submit" (click)="checkValidation(bookingDetails,true)">
                                <mat-icon>check_circle_outline</mat-icon>
                                {{'submit_application'| translate: translateKey}}
                            </button>
                        </div>
                    </div>
                </form>
                </mat-tab>
            </mat-tab-group>
        <!-- </form> -->
    </mat-card>
</div>
<select-payment-gateway [applicationType]="'booking'" #paymentGateway></select-payment-gateway>
