/* Structure */


@import "src/assets/scss/variables";

.example-loading-shade { position: absolute; top: 0; left: 0; bottom: 56px; right: 0; background: rgba(0, 0, 0, 0.15); z-index: 1; display: flex; align-items: center; justify-content: center; }

.mat-error{
    margin-top: -10px;
    font-size: 11px
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
.customthead{
  background-color: #673ab7;
  color: white;
}

//For material Table


/* Structure */
.example-container { position: relative; }
.example-table-container { position: relative; max-height: 400px; overflow: auto; }
table { width: 100%; }
.example-loading-shade { position: absolute; top: 0; left: 0; bottom: 56px; right: 0; background: rgba(0, 0, 0, 0.15); z-index: 1; display: flex; align-items: center; justify-content: center; }
.example-rate-limit-reached { color: #980000; max-width: 360px; text-align: center; padding-top: 110px; }

.customthead{
    background-color: #673ab7;
    color: white;
}

.scrollModel{
    overflow-y:auto;
    max-height: 500px;
}

.fsLarge{
    font-size: large;
}

.fotButtonBar{
    padding: 15px 0 10px;
    margin-top: 0px !important;
    align-items: center;
    .checkbox{
        font-size: 17px;
    }
}
.modal-md {
    max-width: 400;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.availableDate {background-color: #eaf6ed; color: #155724;
    & > strong {color: #155724; background-color: #c3e6cb;}
    &.border {border-color: #c3e6cb !important;}
}

.checkDate {background-color: #eff1fc; color: #251c72;
    & > strong {color: #251c72; background-color: #cbc6f5 ;}
    &.border {border-color: #cbc6f5  !important;}
}

.bookDate, .blockDate {background-color: #fceff0; color: #721c24;
    & > strong {color: #721c24; background-color: #f5c6cb;}
    &.border {border-color: #f5c6cb !important;}
}

.holiyDay {background-color: #fffbee; color: #856404;
    & > strong {color: #856404; background-color: #ffeeba;}
    &.border {border-color: #ffeeba !important;}
}
 .townHallfooter{
    margin-top: 4.5rem !important;
}

.mat-table td.mat-cell, .mat-table th.mat-header-cell {
    font-size: 13px !important;
}

.cardBox {
    .pageTitle {
        margin-bottom: 0px;
    }

    .header_lines {
        padding-top: 7px !important;
        margin-bottom: 0px;

        img {
            margin-bottom: 7px;
        }
        .titleHeader {
            font-size: 18px;
        }
        // .titleparagraph{
        //     font-size: 17px;
        // }
    }

    .headline {
        font-size: 18px;
    }
    .instructions {
        .listSize {
            font-size: 15px;
        }
        .readline{
            font-size: 15px;
        }
        .lineHight{
            line-height: 1.9rem;
        } 
    }
    .engTitle{
       font-size: 24px;
    }
    .engInstructions {
        h4{
            font-size: 18px;
        }
    }
}
.fotButtonBar {
    .checkbox{
        align-items: center;
        justify-items: center;
    }
    .listSize {
        font-size: 17px;
    }
}
