

// /* Column Widths */

// .mat-column-number,
// .mat-column-state {
//     max-width: 64px;
// }

// .mat-column-created {
//     max-width: 124px;
// }

.example-container {
    position: relative;
        overflow: auto;
        width: 1100px;
        
        .mat-table th.mat-header-cell {
            font-size: 15px;
            padding: 10px;
        }
        td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
            padding-left: 0px
        }

        td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
            padding-right: 6px;
        }
        .mat-table td.mat-cell, .mat-table td.mat-footer-cell {
            font-size: 14px;
            padding: 10px;
            word-break: break-all;
        }
        .mat-column-action {
            width: 118px;
        }
    }

// .example-loading-shade {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 56px;
//     right: 0;
//     background: rgba(0, 0, 0, 0.15);
//     z-index: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }






