	<!-- <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar> -->

	<app-title-bar [title]="'screen_title' | translate: translateKey">
	</app-title-bar>
	<mat-card class="formClass cardBorder">
		<form [formGroup]="marriageDuplicateForm">
			<mat-tab-group [(selectedIndex)]="tabIndex"  [(selectedIndex)]="tabIndex"  class="stepperNav" dynamicHeight='true' mat-stretch-tabs>

				<!-- first step start-->
				<mat-tab [label]="stepLable1">
					<app-basic-details [basicFormGroup]="marriageDuplicateForm"></app-basic-details>

					<div class="col-12">
						<app-action-bar [form]="marriageDuplicateForm" [stepInfo]="{step: 'step1', next: 1, back: 0}"  (tabIndex)="onTabChange($event)"></app-action-bar>
					</div>

				</mat-tab>

				<!-- second step start-->
				<mat-tab [label]="stepLable2">
					<div class="row">

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="marriageRegNumber" placeholder="{{ 'marriage_reg_number' | translate:translateKey }}"
							 required>
							<control-messages [control]="marriageDuplicateForm.controls.marriageRegNumber"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput [max]="disablefutureDate" [matDatepicker]="picker1" formControlName="marriageDate" (dateChange)="dateFormate($event.value,'marriageDate')"
							 placeholder="{{ 'date_of_marriage' | translate:translateKey }}" required>
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
							<control-messages [control]="marriageDuplicateForm.controls.marriageDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput formControlName="marriageRegDate" placeholder="{{ 'marriage_reg_date' | translate:translateKey }}" readonly>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="marriageRegYear" placeholder="{{ 'marriage_reg_year' | translate:translateKey }}"
							 required>
							<control-messages [control]="marriageDuplicateForm.controls.marriageRegYear"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="groomName" placeholder="{{ 'groom_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageDuplicateForm.controls.groomName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-4">
							<input matInput type="text" formControlName="brideName" placeholder="{{ 'bride_name' | translate:translateKey }}" required>
							<control-messages [control]="marriageDuplicateForm.controls.brideName"></control-messages>
						</mat-form-field>

						<div class="col-12">
							<app-action-bar [form]="marriageDuplicateForm" [stepInfo]="{step: 'final', next: 0, back: 0}" (tabIndex)="onTabChange($event)" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
						</div>
					</div>
				</mat-tab>
			</mat-tab-group>
		</form>
	</mat-card>
