<app-title-bar [title]="'screen_title' | translate: translateKey">
</app-title-bar>

<mat-card class="formClass cardBorder">
	<form [formGroup]="drainageDisconnectionForm">
		<mat-tab-group [(selectedIndex)]="licenseConfiguration.currentTabIndex" dynamicHeight="true" mat-stretch-tabs 
			class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'drainage_disconnection' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput type="text"  maxlength="30" placeholder="{{'connection_no' | translate:translateKey}}"
							formControlName="connectionNo" >
						<control-messages [control]="drainageDisconnectionForm.get('connectionNo')"></control-messages>
					</mat-form-field>

					<div class="col-md-1">
						<button class="mat-button_cust" mat-raised-button color="primary" type="button" (click)="searchByConnectionNo()"> Go </button>
					</div>
					
					<mat-form-field class="col-md-5">
						<input matInput type="text" readonly placeholder="{{'owner_name' | translate:translateKey}}"
							formControlName="ownerName" >
						<control-messages [control]="drainageDisconnectionForm.get('ownerName')"></control-messages>
					</mat-form-field>
					
				</div>

			
				<div class="row">
					<mat-form-field class="col-md-10">
						<input matInput type="text" readonly placeholder="{{'address' | translate:translateKey}}"
							formControlName="address" >
						<control-messages [control]="drainageDisconnectionForm.get('address')"></control-messages>
					</mat-form-field>
				</div>
				
				
<!-- 
				<div class="row">
					<mat-form-field class="col-md-5">
						<input matInput type="text"  maxlength="30" placeholder="{{'property_dues' | translate:translateKey}}"
							formControlName="propertyDues" >
						<control-messages [control]="drainageDisconnectionForm.get('propertyDues')"></control-messages>
					</mat-form-field>

				

					<mat-form-field class="col-md-5">
						<input matInput type="text" readonly placeholder="{{'water_dues' | translate:translateKey}}"
							formControlName="waterDues" >
						<control-messages [control]="drainageDisconnectionForm.get('waterDues')"></control-messages>
					</mat-form-field>
				</div> -->

				<div class="row">
					<div class="col-md-5 ngSelect">
						<ng-select placeholder="{{'reason_for_disconnection' | translate:translateKey}} *" formControlName="reasonForDisconnection">
							<ng-option *ngFor="let reasonForDisconnection of reasonList" [value]="reasonForDisconnection.itemId">{{reasonForDisconnection.itemName}}
							</ng-option>
						</ng-select>
						<control-messages [control]="drainageDisconnectionForm.get('reasonForDisconnection')">
						</control-messages>
					</div>

					<div class="col-md-5 ngSelect">
						<ng-select placeholder="{{'disconnection_type' | translate:translateKey}} *" formControlName="waterDisconnectionType">
							<ng-option *ngFor="let waterDisconnectionType of disconnectionTypeList" [value]="waterDisconnectionType.itemId">{{waterDisconnectionType.itemName}}
							</ng-option>
						</ng-select>
						<control-messages [control]="drainageDisconnectionForm.get('waterDisconnectionType')">
						</control-messages>
					</div>
					
				</div>

				<app-action-bar [form]="drainageDisconnectionForm" (tabIndex)="licenseConfiguration.onFormTabChange($event)"
					[stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>

			</mat-tab>
			<!-- step 1 Ends -->

			<!-- step 4 Attachment Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
				<div class="row">
					<ng-container
						*ngFor="let doc of drainageDisconnectionForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive">
							<label>{{translateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }}<span
									*ngIf="doc.mandatory">*</span> </label>
							<file-upload [form]="drainageDisconnectionForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>

				<app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="uploadFilesArray"
					[form]="drainageDisconnectionForm" (handleErrors)="handleErrorsOnSubmit($event)"
					(tabIndex)="licenseConfiguration.onFormTabChange($event) "
					[stepInfo]="{step: 'final', next:2, back:0} "></app-action-bar>

			</mat-tab>
		
		</mat-tab-group>
	</form>
</mat-card>
