<mat-card>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button color="primary" class="ml-3" mat-raised-button (click)="togglePanel()">
                <mat-icon>add</mat-icon> Add
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
        </div>
    </div>
    <mat-expansion-panel [expanded]="panelOpenState">
    <form #form="ngForm" (ngSubmit)="saveOccupier(form)">
        <div class="row">
            <div class="col-md-2">
                <div class="ngSelect" style="min-width: 100%;">
                    <ng-select required placeholder="{{'title' | translate:translateKey }} " [items]="titleList" bindValue="itemId"
                        bindLabel="itemName" name="titleId" [(ngModel)]="model.titleId" #TitleId="ngModel"
                        [ngClass]="{'ng-invalid ng-touched':  form.submitted && TitleId.invalid}" class="asteriskmarkRequired">
                    </ng-select>
                    <div *ngIf="(form.submitted && TitleId.invalid)  || (TitleId.invalid && TitleId.touched)">
                        <mat-error *ngIf="TitleId.errors.required">*Title is required.</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput required maxlength="50" placeholder="{{'first_name' | translate:translateKey }}" name="firstName"
                        #FirstName="ngModel" [(ngModel)]="model.firstName" (keypress)="keyPressAlphabetOnly($event)">
                    <mat-error *ngIf="FirstName.invalid">*First Name is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput maxlength="50" placeholder="{{'middle_name' | translate:translateKey }}" name="middleName"
                        #MiddleName="ngModel" [(ngModel)]="model.middleName" (keypress)="keyPressAlphabetOnly($event)">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="full-width-input">
                    <input trim="blur" matInput required maxlength="50" placeholder="{{'last_name' | translate:translateKey }}" name="lastName"
                        #LastName="ngModel" [(ngModel)]="model.lastName" (keypress)="keyPressAlphabetOnly($event)">
                    <mat-error *ngIf="LastName.invalid">*Last Name is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2">
                <div class="ngSelect" style="min-width: 100%;">
                    <!-- <ng-select required [disabled]="model.propertyOccupierId>0" placeholder="{{'occupier_code' | translate:translateKey }} *" [items]="occupierList" bindValue="itemCode" -->
                        <ng-select required placeholder="{{'occupier_code' | translate:translateKey }}" [items]="occupierList" bindValue="itemCode" class="asteriskmarkRequired"
                        bindLabel="itemName" name="occupierCode" [(ngModel)]="model.occupierCode" #occupierCode="ngModel"
                        [ngClass]="{'ng-invalid ng-touched':  form.submitted && occupierCode.invalid}"
                        (mouseenter)="show=1" (mouseleave)="show=0">
                        <mat-error *ngIf="occupierCode.invalid && !(model.occupierCode)">*Code is required.</mat-error>
                    <mat-error *ngIf="occupierCode.invalid && (model.occupierCode)">*Code is invalid.</mat-error>
                    </ng-select>                 
                </div>
            </div>

            <!-- <div class="col-md-2">
                <mat-form-field class="full-width-input">
                    <input matInput [disabled]="model.propertyOccupierId>0" required number-only minlength="3"
                        maxlength="3" (input)="checkDuplicateCode($event);" placeholder="OccupierCode"
                        name="OccupierCode" #OccupierCode="ngModel" [(ngModel)]="model.occupierCode"
                        (mouseenter)="show=1" (mouseleave)="show=0" >
                    <mat-error *ngIf="OccupierCode.invalid && !(model.occupierCode)">*Code is required.</mat-error>
                    <mat-error *ngIf="OccupierCode.invalid && (model.occupierCode)">*Code is invalid.</mat-error>
                </mat-form-field>
                <mat-error *ngIf="isDuplicateCode">*Code is already exist.</mat-error>
            </div> -->

            <div class="col-md-3">
                <mat-form-field class="full-width-input">
                    <input matInput number-only maxlength="12" minlength="12" placeholder="{{'aadhar_no' | translate:translateKey }}" name="aadharNo"
                        #AadhaarNo="ngModel" [(ngModel)]="model.aadharNo">
                    <mat-error *ngIf="AadhaarNo.invalid">*Aadhaar No. is invalid.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="full-width-input">
                    <input matInput number-only maxlength="10" minlength="10" placeholder="{{'mobile_no' | translate:translateKey }}" name="mobileNo"
                        #MobileNo="ngModel" [(ngModel)]="model.mobileNo">
                    <mat-error *ngIf="MobileNo.invalid">*Mobile No. is invalid.</mat-error>
                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field class="full-width-input">
                    <input matInput email placeholder="{{'email' | translate:translateKey }}" name="emailAddress" maxlength="255"
                        #EmailAddress="ngModel" [(ngModel)]="model.emailAddress">
                    <mat-error *ngIf="EmailAddress.invalid && EmailAddress.errors.email">*Email Id is invalid.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row text-right mt-3">
            <div class="col-md-7"></div>
            <div class="col-md-12">
                <button mat-raised-button class="ml-3" type="submit" color="primary" title="Save">
                    <mat-icon>save</mat-icon> Save
                </button>
                <button mat-raised-button class="ml-3" type="button" (click)="clearPropertyOwner(form)"
                    color="warn" title="Cancel">
                    <mat-icon>clear_all</mat-icon> Cancel
                </button>
            </div>
        </div>
    </form>
    </mat-expansion-panel>
    <div class="row mt-4" *ngIf="!isOccupierExist">
        <div class="col-md-12">
            <div class="alert alert-danger">*Please enter atleast one Occupier Detail.</div>
        </div>
    </div>

    <div class="row mt-4" *ngIf="isShowTable">
        <div class="col-md-12" style="overflow:auto;">
            <table mat-table [dataSource]="dataSource" matSort class="width100">
                <ng-container matColumnDef="occupierCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header >Code</th>
                    <td mat-cell *matCellDef="let element"> {{element.occupierCode}} </td>
                </ng-container>
                <ng-container matColumnDef="titleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                    <td mat-cell *matCellDef="let element"> {{element.titleName}} </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>
                <ng-container matColumnDef="middleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
                </ng-container>
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="aadharNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true">Aadhaar No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.aadharNo}} </td>
                </ng-container>
                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true">Mobile No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                </ng-container>
                <ng-container matColumnDef="emailAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button type="button" color="primary" title="Edit" (click)='eidt(element)'>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button type="button" color="primary" title="Unit Detail"
                            (click)="moveStepper(element)">
                            <mat-icon>dashboard</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </div>
    <div class="row mt-3" *ngIf="!isUnitDetailEntered && isOccupierExist">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p [innerHTML]="unitDetailErrorMessage"></p>
            </div>
        </div>
    </div>
</mat-card>
<div class="row text-right mt-3">
    <div class="col-md-12">
        <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onBackClick()">
            <mat-icon>skip_previous</mat-icon>{{'back' | translate:translateKey }}
        </button>
        <!-- <button mat-raised-button class="ml-3" color="primary" type="submit" (click)="onSubmit()">
            <mat-icon>save</mat-icon>Submit
        </button> -->
        <button mat-raised-button class="ml-3" color="primary" type="submit" (click)="moveToDocumentsTab()">
            {{'next' | translate:translateKey }}<mat-icon>skip_next</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="show==1">
    <div class="setBg">
        <h1> Occupier Code for Residential Owner - 020 </h1>
        <h1> Occupier Code for Commercial Owner - 021 </h1>
        <h1> Occupier Code for Tenant & Others - 101 </h1>
    </div>
</div>