<div class="mainBg">

	<mat-card class="verticalAlign borderRadius10">                   
				<div class="headingBox">Forget Password ?<span>Enter your email below, and we’ll send you the Reset Link</span></div>
			<form [formGroup]="forgotPassForm" (ngSubmit)="onForgotPassword(forgotPassForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="example-full-width iconMat">
						<mat-icon matPrefix>mail_outline</mat-icon>
					<input matInput type="email" placeholder="Email" formControlName="email" required>
				</mat-form-field>

				<mat-form-field class="example-full-width iconMat">
						<mat-icon matPrefix>phone_android</mat-icon>
					<input matInput type="number" placeholder="Cell Number" formControlName="cellNo" required>
				</mat-form-field>

				<div class="text-center">
				<button type="submit" mat-raised-button color="primary" [disabled]="forgotPassForm.invalid" class="width150 mt-3">
					Send Reset Link
				</button>
				<br>Back to <a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHLOGIN')}}" class="d-inline-block mt-3 mb-2"><strong>Login</strong></a>
			</div>
			</form>
		</mat-card>

</div>