<div class="mainBg">
	<div class="forgotPass vMid col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
		<mat-card>
			<h1 class="heading">Fogot Password</h1>
			<form [formGroup]="forgotPassForm" (ngSubmit)="onForgotPassword(forgotPassForm.value)" autocomplete="off" ngNativeValidate>

				<mat-form-field class="example-full-width">
					<input matInput type="email" placeholder="Email" formControlName="email" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput type="number" placeholder="Cell Number" formControlName="cellNo" required>
				</mat-form-field>

				<button type="submit" mat-raised-button color="primary" [disabled]="forgotPassForm.invalid">
					Submit
				</button>

				<button type="button" mat-raised-button color="primary" routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHLOGIN')}}">
					Back to Login
				</button>
			</form>
		</mat-card>
	</div>
</div>