
			<mat-card class="borderRadius10">
				<div class="headingBox">Forgot Password ?
					<span>Enter your email below, and we’ll send you the Reset Link</span>
				</div>
			<form [formGroup]="forgotPassForm" (ngSubmit)="onForgotPassword(forgotPassForm.value)" autocomplete="off" ngNativeValidate novalidate>

				<mat-form-field class="example-full-width iconMat">
						<mat-icon matPrefix>mail_outline</mat-icon>
					<input matInput type="email" placeholder="Email" formControlName="email" required maxlength="50">
					<control-messages [control]="forgotPassForm.get('email')"></control-messages>
				</mat-form-field>

				<!-- <mat-form-field class="example-full-width iconMat">
						<mat-icon matPrefix>phone_android</mat-icon>
					<input matInput type="tel" OnlyNumber placeholder="Cell Number" formControlName="cellNo" required>
					<control-messages [control]="forgotPassForm.controls.cellNo"></control-messages>
				</mat-form-field> -->

				<div class="text-center">
				<button type="submit" mat-raised-button color="primary" [disabled]="issingupbtn" [disabled]="forgotPassForm.invalid" class="width180 mt-3">
					Send Reset Link &nbsp;
					<img *ngIf="loading" [class.disabled]="loading" src="assets/images/loader.gif" />
				</button>
				<br>Back to
				<a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHLOGIN')}}" class="d-inline-block mt-3 mb-2"><strong>Login</strong></a>
			</div>
			</form>
		</mat-card>
