.customDataTable {
    td{vertical-align: middle;}
    p{margin-bottom: 0px}
}



/deep/ .adjustError .mat-error{
    white-space: nowrap;
}

.mandatory { color: red;}


.responsiveTableRow tbody tr > td .d-md-none {width: auto;}

.womanWorkinginNightshift {
    text-align: center;
}

// .mat-checkbox-frame {
//     border-width: 1px !important;
//     border-color: #000 !important;
//     border-radius: 0 !important;
// }
  