<div class="container">
	<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
	<mat-card class="mt-4 formClass">

		<!--Start  form  -->
		<form [formGroup]="noRecordDeathForm">
			<mat-horizontal-stepper [linear]="false">

				<!-- first step start-->
				<mat-step [stepControl]="noRecordDetail" [label]="stepLable1">
					<div class="row">
						<mat-form-field class="col-md-4">
							<input matInput type="text" formControlName="deceasedName" placeholder="{{'deceased_name' | translate:'translateKey'}}" required>
							<control-messages [control]="noRecordDeathForm.controls.deceasedName"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="deathDate" (dateChange)="onDateChange($event.value)"
							 placeholder="{{'date_of_death' | translate:'translateKey'}}">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<control-messages [control]="noRecordDeathForm.controls.deathDate"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-4">
							<input matInput type="text" formControlName="fatherOrHusbandName" placeholder="{{'father_or_husband_name' | translate:'translateKey'}}">
							<control-messages [control]="noRecordDeathForm.controls.fatherOrHusbandName"></control-messages>
						</mat-form-field>

						<div formGroupName="gender" class="col-md-4">
							<mat-label>{{'gender' | translate:'translateKey'}}</mat-label>
							<mat-radio-group class="example-radio-group" formControlName="code">
								<mat-radio-button [value]="gender.code" *ngFor="let gender of genderArray">{{gender.name}}</mat-radio-button>
								<br/>
								<control-messages [control]="noRecordDeathForm.controls.gender.controls.code"></control-messages>
							</mat-radio-group>
						</div>

						<div formGroupName="deathPlace" class="col-md-4">
							<mat-label>{{'death_place' | translate:'translateKey'}}</mat-label>
							<mat-radio-group class="example-radio-group" formControlName="code">
								<mat-radio-button [value]="place.code" *ngFor="let place of placeArray">{{place.name}}</mat-radio-button>
							</mat-radio-group>
							<control-messages [control]="noRecordDeathForm.controls.deathPlace.controls.code"></control-messages>
						</div>

						<mat-form-field class="col-md-4">
							<input matInput type="text" OnlyNumber formControlName="age" placeholder="{{'age' | translate:'translateKey'}}">
							<control-messages [control]="noRecordDeathForm.controls.age"></control-messages>
						</mat-form-field>
					</div>

					<div *ngIf="showButtons">
						<span class="text-primary">Upload Mandatory Documents For Deceased ID Proof's </span>
						<file-upload [uploadModel]="setDataValue(1)" [attachments]="attachments"></file-upload>
					</div>

					<app-action-bar [form]="noRecordDeathForm" [step]="'step1'" (stepReset)="stepReset()"></app-action-bar>

				</mat-step>
				<!-- end first step -->

				<!-- second step start-->
				<mat-step [stepControl]="deathAddressDetail" [label]="stepLable2">

					<app-address #address [addressFormGroup]="noRecordDeathForm.controls.deathPlaceAddress"></app-address>

					<div *ngIf="showButtons">
						<span class="text-primary">Upload Mandatory Documents</span>
						<file-upload [uploadModel]="setDataValue(2)" [attachments]="attachments"></file-upload>
					</div>

					<app-action-bar [form]="noRecordDeathForm" [step]="'step2'" (stepReset)="stepReset()"></app-action-bar>

				</mat-step>
				<!-- second step end-->

				<!-- third step start-->
				<mat-step [stepControl]="applicantDetail" [label]="stepLable3">
					<app-basic-details [basicFormGroup]="noRecordDeathForm"></app-basic-details>

					<div class="row">
						<mat-form-field class="col-md-6">
							<input matInput type="text" formControlName="applicantName" placeholder="{{'full_name' | translate:'translateKey'}}">
							<control-messages [control]="noRecordDeathForm.controls.applicantName"></control-messages>
						</mat-form-field>

						<mat-form-field formGroupName="applicantRelation" class="col-md-6">
							<mat-select placeholder="{{'relation_with_applicant' | translate:'translateKey'}}" name="relation" formControlName="code">
								<mat-option *ngFor="let relation of relationshipArray" [value]="relation.code">{{relation.name}}</mat-option>
							</mat-select>
							<control-messages [control]="noRecordDeathForm.controls.applicantRelation.controls.code"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput type="text" OnlyNumber formControlName="applicantContactNo" placeholder="{{'mobile_no' | translate:'translateKey'}}">
							<control-messages [control]="noRecordDeathForm.controls.applicantContactNo"></control-messages>
						</mat-form-field>

						<mat-form-field class="col-md-6">
							<input matInput type="email" formControlName="applicantEmail" placeholder="{{'email' | translate:'translateKey'}}">
							<control-messages [control]="noRecordDeathForm.controls.applicantEmail"></control-messages>
						</mat-form-field>
					</div>

					<div *ngIf="showButtons">
						<span class="text-primary">Upload Mandatory Documents For Applicant ID Proof's </span>
						<file-upload [uploadModel]="setDataValue(3)" [attachments]="attachments"></file-upload>
					</div>

					<div *ngIf="showButtons">
						<span class="text-primary">Additional Documents </span>
						<file-upload [uploadModel]="setDataValue(4)" [attachments]="attachments"></file-upload>
					</div>

					<app-action-bar [form]="noRecordDeathForm" [step]="'final'" (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar>
				</mat-step>
				<!-- third step end-->
			</mat-horizontal-stepper>
		</form>
	</mat-card>
</div>