<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
<mat-card class="formClass cardBorder">
	<form [formGroup]="navaratriNocForm">
		<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'applicant_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-4" *ngIf="navaratriNocForm.get('oldReferenceNumber').value">
						<input matInput readonly placeholder="{{'old_refrance_number' | translate:translateKey}}" formControlName="oldReferenceNumber">
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" required maxlength="100"
						 placeholder="{{'applicant_name' | translate:translateKey}}" formControlName="applicantName" appGujInputSource
						 targetElement="applicantNameGuj" [form]="navaratriNocForm">
						<control-messages [control]="navaratriNocForm.controls.applicantName"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="300" required formControlName="applicantNameGuj" appGujInputTarget [form]="navaratriNocForm"
						 placeholder="{{ 'applicant_name' | translate:translateKey:'gu' }}">
						<control-messages [control]="navaratriNocForm.controls.applicantNameGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'applicant_mobile' | translate:translateKey}}" type="tel" maxlength="12"
						 formControlName="contactNo" required>
						<control-messages [control]="navaratriNocForm.controls.contactNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-8">
						<input matInput appPreventSpace placeholder="{{'email_id' | translate:translateKey}}" type="email"
						 formControlName="email" required maxlength="50">
						<control-messages [control]="navaratriNocForm.controls.email"></control-messages>
					</mat-form-field>



				</div>
				<app-action-bar [form]="navaratriNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 1 Ends -->
			<!-- step 2 Start -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'form_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'application_through_police' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="applicationThroughPolice" required (change)="dependentAttachment($event.value,' POLICE_COMMISSIONER_LETTER_NO')">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.applicationThroughPolice"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput type="text" appAlphaNumeric formControlName="policeCommisionerLetterNo" placeholder="{{'police_commisioner_letter_no' | translate: translateKey }} *"
						 maxlength="20">
						<control-messages [control]="navaratriNocForm.controls.policeCommisionerLetterNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput [matDatepicker]="picker3" formControlName="policeCommisionerLetterDate" placeholder="{{'police_commisioner_letter_date' | translate:translateKey }} (DD/MM/YYYY)"
						 required (dateChange)="dateFormate($event.value,'policeCommisionerLetterDate')">
						<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
						<mat-datepicker #picker3 touchUi="true"></mat-datepicker>
						<control-messages [control]="navaratriNocForm.controls.policeCommisionerLetterDate"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" required maxlength="100"
						 placeholder="{{'organize_name' | translate:translateKey}}" formControlName="organizeName" appGujInputSource
						 targetElement="organizeNameGuj" [form]="navaratriNocForm">
						<control-messages [control]="navaratriNocForm.controls.organizeName"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-6">
						<textarea matInput rows="2" cols="50" required maxlength="200" placeholder="{{'organizer_address' | translate:translateKey}}"
						 formControlName="organizerAddress" appGujInputSource targetElement="organizerAddressGuj" [form]="navaratriNocForm"></textarea>
						<control-messages [control]="navaratriNocForm.controls.organizerAddress"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<input matInput type="text" maxlength="300" required formControlName="organizeNameGuj" appGujInputTarget [form]="navaratriNocForm"
						 placeholder="{{ 'organize_name' | translate:translateKey:'gu' }}">
						<control-messages [control]="navaratriNocForm.controls.organizeNameGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<textarea matInput type="text" rows="2" cols="50" maxlength="600" required formControlName="organizerAddressGuj"
						 appGujInputTarget [form]="navaratriNocForm" placeholder="{{ 'organizer_address' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="navaratriNocForm.controls.organizerAddressGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'organizer_mobile_no' | translate:translateKey}}" type="tel" maxlength="10"
						 minlength="10" formControlName="organizerMobileNo">
						<control-messages [control]="navaratriNocForm.controls.organizerMobileNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'responsible_person_mobile_no' | translate:translateKey}}" type="tel"
						 maxlength="10" minlength="10" formControlName="responsiblePersonMobileNo" required>
						<control-messages [control]="navaratriNocForm.controls.responsiblePersonMobileNo"></control-messages>
					</mat-form-field>

				</div>
				<app-action-bar [form]="navaratriNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 2 Ends -->

			<!-- step 3 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'garba_place_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-6">
						<textarea matInput rows="3" cols="50" required maxlength="100" placeholder="{{'garba_place_address' | translate:translateKey}}"
						 formControlName="garbaPlaceAddress" appGujInputSource targetElement="garbaPlaceAddressGuj" [form]="navaratriNocForm"></textarea>
						<control-messages [control]="navaratriNocForm.controls.garbaPlaceAddress"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-6">
						<textarea matInput type="text" rows="3" cols="50" maxlength="300" required formControlName="garbaPlaceAddressGuj"
						 appGujInputTarget [form]="navaratriNocForm" placeholder="{{ 'garba_place_address' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="navaratriNocForm.controls.garbaPlaceAddressGuj"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput [matDatepicker]="picker1" formControlName="fromDate" placeholder="{{'from_date' | translate:translateKey }} (DD/MM/YYYY)"
						 required (dateChange)="dateFormate($event.value,'fromDate')">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1 touchUi="true"></mat-datepicker>
						<control-messages [control]="navaratriNocForm.controls.fromDate"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput [matDatepicker]="picker2" formControlName="toDate" placeholder="{{'to_date' | translate:translateKey }} (DD/MM/YYYY)"
						 required (dateChange)="dateFormate($event.value,'toDate')">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2 touchUi="true"></mat-datepicker>
						<control-messages [control]="navaratriNocForm.controls.toDate"></control-messages>
					</mat-form-field>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'garba_in_vmc_range' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="garbaInVMCRange" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.garbaInVMCRange"></control-messages>
					</div>

				</div>
				<div class="row">

					<div class="col-md-12 radioBtnError">
						<mat-label>{{'land_owner_is_vmc' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="landOwnerIsVMC" required (change)="onChange('landOwnerIsVMC','vmcfeeReceiptNo');onChange('landOwnerIsVMC','vmcConsentLetterIncluded');onChange('landOwnerIsVMC','consentLetterDate');onChange('landOwnerIsVMC','landOwnerConsentIncluded');">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.landOwnerIsVMC"></control-messages>
					</div>

					<!-- below 4 fields is depend on land_owner_is_vmc field value -->

					<mat-form-field class="col-md-4" *ngIf="navaratriNocForm.controls.landOwnerIsVMC.value">
						<input matInput type="text" appAlphaNumeric formControlName="vmcfeeReceiptNo" placeholder="{{'vmc_fee_receipt_no' | translate: translateKey }} *"
						 maxlength="15">
						<control-messages [control]="navaratriNocForm.controls.vmcfeeReceiptNo"></control-messages>
					</mat-form-field>
					<div class="col-md-4 radioBtnError" *ngIf="navaratriNocForm.controls.landOwnerIsVMC.value">
						<mat-label>{{'vmc_consent_letter_included' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="vmcConsentLetterIncluded" (change)="dependentAttachment($event.value,'CONSENT_LETTER')">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.vmcConsentLetterIncluded"></control-messages>
					</div>
					<mat-form-field class="col-md-4" *ngIf="navaratriNocForm.controls.landOwnerIsVMC.value">
						<input matInput [matDatepicker]="picker4" formControlName="consentLetterDate" placeholder="{{'consent_letter_date' | translate:translateKey }} (DD/MM/YYYY) *"
						 (dateChange)="dateFormate($event.value,'consentLetterDate')">
						<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
						<mat-datepicker #picker4 touchUi="true"></mat-datepicker>
						<control-messages [control]="navaratriNocForm.controls.consentLetterDate"></control-messages>
					</mat-form-field>
				</div>

				<div class="row">
					<div class="col-md-4 radioBtnError" *ngIf="!navaratriNocForm.controls.landOwnerIsVMC.value">
						<mat-label>{{'land_owner_consent_included' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="landOwnerConsentIncluded" (change)="onChange('landOwnerIsVMC','landOwnerConsentIncluded');">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.landOwnerConsentIncluded"></control-messages>
					</div>
				</div>
				<div class="row">
					<mat-form-field class="col-md-6">
						<textarea matInput rows="1" cols="100" required maxlength="150" placeholder="{{'hazardous_performance_detail' | translate:translateKey}}"
						 formControlName="hazardousPerformanceDetail"></textarea>
						<control-messages [control]="navaratriNocForm.controls.hazardousPerformanceDetail"></control-messages>
					</mat-form-field>
				</div>

				<app-action-bar [form]="navaratriNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step3', next: 3, back: 1}"></app-action-bar>
			</mat-tab>
			<!-- step 3 Ends -->

			<!-- step 4 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'event_detail' | translate:translateKey}}</div>
				</ng-template>
				<div class="row">

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber maxlength="5" type="tel" formControlName="noOfGatheringPersons" placeholder="{{'no_of_gathering_persons' | translate:translateKey }}">
						<control-messages [control]="navaratriNocForm.controls.noOfGatheringPersons"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="eventArea" placeholder="{{'event_area' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.eventArea"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="sittingArea" placeholder="{{'sitting_area' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.sittingArea"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="stageArea" placeholder="{{'stage_area' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.stageArea"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="performanceArea" placeholder="{{'performance_area' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.performanceArea"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="totalArea" placeholder="{{'total_area' | translate: translateKey }}"
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.totalArea"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="shamiyanaLength" placeholder="{{'shamiyana_length' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.shamiyanaLength"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="shamiyanaWidth" placeholder="{{'shamiyana_width' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.shamiyanaWidth"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="archGateHeight" placeholder="{{'arch_gate_height' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.archGateHeight"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber type="tel" formControlName="archGateWidth" placeholder="{{'arch_gate_width' | translate: translateKey }} "
						 maxlength="5">
						<control-messages [control]="navaratriNocForm.controls.archGateWidth"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput required OnlyNumber maxlength="2" type="tel" formControlName="noOfExits" placeholder="{{'no_of_eExits' | translate:translateKey }}">
						<control-messages [control]="navaratriNocForm.controls.noOfExits"></control-messages>
					</mat-form-field>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'layout_plan_included' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="layoutPlanIncluded" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.layoutPlanIncluded"></control-messages>
					</div>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'security_arrangement' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="securityArrangement" required (change)="dependentAttachment($event.value,'SECURITY_ARRANGEMENT')">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.securityArrangement"></control-messages>
					</div>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'parking_arrangement' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="parkingArrangement" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.parkingArrangement"></control-messages>
					</div>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'trained_fireman_staff_kept' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="trainedFiremanStaffKept" required>
							<!-- (change)="dependentAttachment($event.value,'TRAIN_FIRE_PERSON_LIST')" -->
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.trainedFiremanStaffKept"></control-messages>
					</div>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'fun_fair_planned' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="funFairPlanned" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.funFairPlanned"></control-messages>
					</div>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'weather_exit_shown_in_map' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="weatherExitShownInMap" required (change)="dependentAttachment($event.value,'LOCATION_MAP')">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.weatherExitShownInMap"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="2" cols="50" required maxlength="150" placeholder="{{'food_stall_detail' | translate:translateKey}}"
						 formControlName="foodStallDetail"></textarea>
						<control-messages [control]="navaratriNocForm.controls.foodStallDetail"></control-messages>
					</mat-form-field>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'high_tension_line_overground' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="highTensionLineOverGround" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="navaratriNocForm.controls.highTensionLineOverGround"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="2" cols="50" required maxlength="150" placeholder="{{'fire_safety_action_with_proof' | translate:translateKey}}"
						 formControlName="fireSafetyActionWithProof"></textarea>
						<control-messages [control]="navaratriNocForm.controls.fireSafetyActionWithProof"></control-messages>
					</mat-form-field>
				</div>
				<app-action-bar [form]="navaratriNocForm" (tabIndex)="onTabChange($event)" (handleOnSaveAndNext)="handleOnSaveAndNext($event)"
				 [stepInfo]="{step: 'step4', next: 4, back: 2}"></app-action-bar>
			</mat-tab>
			<!-- step 4 Ends -->

			<!-- step  Attachment Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
				<div class="row">
					<ng-container *ngFor="let doc of navaratriNocForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
							<label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }} <span *ngIf="doc.mandatory">*</span></label>
							<file-upload [form]="navaratriNocForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>

				<app-action-bar [uploadFiles]="uploadFilesArray" [form]="navaratriNocForm" (tabIndex)="onTabChange($event) "
				 (handleOnSaveAndNext)="handleOnSaveAndNext($event)" (handleErrors)="handleErrorsOnSubmit($event)" [stepInfo]="{step: 'final', next:6, back:4} "></app-action-bar>

			</mat-tab>
			<!-- step Attachment Ends -->

		</mat-tab-group>
	</form>
	<!-- <pre>{{ navaratriNocForm.get('serviceDetail').get('serviceUploadDocuments').value | json }}</pre> -->
</mat-card>