<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
<form [formGroup]="electricConnectionForm">
	<h3 *ngIf="electricConnectionForm.get('oldReferenceNumber').value">Old Refrance NO :
		{{electricConnectionForm.get('oldReferenceNumber').value}}</h3>
	<mat-card class="formClass cardBorder">

		<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'applicant_detail' | translate:translateKey}}</div>
				</ng-template>


				<div class="row">

					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace' required maxlength="100"
						 placeholder="{{'applicantName' | translate:translateKey}}" formControlName="applicantName" appGujInputSource
						 targetElement="applicantNameGuj" [form]="electricConnectionForm">
						<control-messages [control]="electricConnectionForm.controls.applicantName"></control-messages>
					</mat-form-field>
					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="300" required formControlName="applicantNameGuj" appGujInputTarget [form]="electricConnectionForm"
						 placeholder="{{ 'applicantNameGuj' | translate:translateKey:'gu' }}">
						<control-messages [control]="electricConnectionForm.controls.applicantNameGuj"></control-messages>
					</mat-form-field>
					<!-- gujarati -->


					<mat-form-field class="col-md-4">
						<input matInput [max]="disablefutureDate" [matDatepicker]="DateOfapplicationDate" formControlName="applicationDate"
						 (dateChange)="dateFormat($event.value,'applicationDate')" placeholder="{{ 'applicationDate' | translate:translateKey }} (DD/MM/YYYY)">
						<mat-datepicker-toggle matSuffix [for]="DateOfapplicationDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #DateOfapplicationDate></mat-datepicker>
						<control-messages [control]="electricConnectionForm.controls.applicationDate"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'contactNo' | translate:translateKey}}" type="tel" maxlength="10"
						 minlength="10" formControlName="contactNo" required>
						<control-messages [control]="electricConnectionForm.controls.contactNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'mobileNo' | translate:translateKey}}" type="tel" maxlength="10"
						 minlength="10" formControlName="mobileNo" required>
						<control-messages [control]="electricConnectionForm.controls.mobileNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput appPreventSpace placeholder="{{'email' | translate:translateKey}}" type="email" formControlName="email"
						 required maxlength="50">
						<control-messages [control]="electricConnectionForm.controls.email"></control-messages>
					</mat-form-field>

				</div>
				<app-action-bar [form]="electricConnectionForm" (tabIndex)="onTabChange($event)" (handleErrors)="handleErrorsOnSubmit($event)"
				[stepInfo]="{step: 'step1', next: 1, back: 0}" ></app-action-bar>




			</mat-tab>
			<!-- step 1 Ends -->


			<!-- step 2 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'forms_detail' | translate:translateKey}}</div>
				</ng-template>


				<div class="row">

					<mat-form-field class="col-md-4">
						<input matInput type="text" appAlphaNumeric formControlName="electricityConnectionNo" placeholder="{{'electricityConnectionNo' | translate: translateKey }}"
						 maxlength="20" required>
						<control-messages [control]="electricConnectionForm.controls.electricityConnectionNo"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithSpace' required maxlength="100"
						 placeholder="{{'connectionHolderName' | translate:translateKey}}" formControlName="connectionHolderName"
						 appGujInputSource targetElement="connectionHolderNameGuj" [form]="electricConnectionForm">
						<control-messages [control]="electricConnectionForm.controls.connectionHolderName"></control-messages>
					</mat-form-field>
					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="300" required formControlName="connectionHolderNameGuj" appGujInputTarget [form]="electricConnectionForm"
						 placeholder="{{ 'connectionHolderNameGuj' | translate:translateKey:'gu' }}">
						<control-messages [control]="electricConnectionForm.controls.connectionHolderNameGuj"></control-messages>
					</mat-form-field>
					<!-- gujarati -->


					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" required maxlength="500" placeholder="{{'connectionHolderAddress' | translate:translateKey}}"
						 formControlName="connectionHolderAddress" appGujInputSource targetElement="connectionHolderAddressGuj" [form]="electricConnectionForm"></textarea>
						<control-messages [control]="electricConnectionForm.controls.connectionHolderAddress"></control-messages>
					</mat-form-field>
					<!-- gujarati -->
					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" maxlength="1500" required formControlName="connectionHolderAddressGuj"
						 appGujInputTarget [form]="electricConnectionForm" placeholder="{{ 'connectionHolderAddressGuj' | translate:translateKey:'gu' }}"></textarea>
						<control-messages [control]="electricConnectionForm.controls.connectionHolderAddressGuj"></control-messages>
					</mat-form-field>
					<!-- gujarati -->


					<mat-form-field class="col-md-4">
						<input matInput [max]="disablefutureDate" [matDatepicker]="DateOfincidentDate" formControlName="incidentDate"
						 (dateChange)="dateFormat($event.value,'incidentDate')" placeholder="{{ 'incidentDate' | translate:translateKey }} (DD/MM/YYYY)">
						<mat-datepicker-toggle matSuffix [for]="DateOfincidentDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #DateOfincidentDate></mat-datepicker>
						<control-messages [control]="electricConnectionForm.controls.incidentDate"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" appAlphaNumeric formControlName="propertyNo" placeholder="{{'propertyNo' | translate: translateKey }}"
						 maxlength="15" required >
						<control-messages [control]="electricConnectionForm.controls.propertyNo"></control-messages>
					</mat-form-field>

					<div class="col-md-4 ngSelect" formGroupName="firePlaceType">
						<ng-select required placeholder="{{'firePlaceType' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let fire_place of FS_FIRE_PLACE_TYPE" [value]="fire_place.code">{{fire_place.name}}</ng-option>
						</ng-select>
						<control-messages [control]="electricConnectionForm.get('firePlaceType').controls.code"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" required maxlength="300" placeholder="{{'subject' | translate:translateKey}}"
						 formControlName="subject"></textarea>
						<control-messages [control]="electricConnectionForm.controls.subject"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="3" cols="50" required maxlength="300" placeholder="{{'firePlaceAddress' | translate:translateKey}}" formControlName="firePlaceAddress" ></textarea>
						<control-messages [control]="electricConnectionForm.controls.firePlaceAddress"></control-messages>
					</mat-form-field>
					
					
					<mat-form-field class="col-md-4">
						<input matInput OnlyNumber placeholder="{{'fireLossAmount' | translate:translateKey}}" type="tel" maxlength="10"
						 formControlName="fireLossAmount" required>
						<control-messages [control]="electricConnectionForm.controls.fireLossAmount"></control-messages>
					</mat-form-field>

				</div>
				<app-action-bar [form]="electricConnectionForm" (tabIndex)="onTabChange($event)" [stepInfo]="{step: 'step2', next: 2, back: 0}" ></app-action-bar>

			</mat-tab>
			<!-- step 2 Ends -->

			<!-- step 3 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate:translateKey}}</div>
				</ng-template>


				<div class="row">
					<div class="col-md-4" *ngFor="let doc of electricConnectionForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons">
							<label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }} <span *ngIf="doc.mandatory">*</span></label>
							<file-upload [form]="electricConnectionForm" [uploadModel]="doc"></file-upload>
						</div>
					</div>
				</div>

				<app-action-bar [uploadFiles]="uploadFilesArray" [form]="electricConnectionForm" (tabIndex)="onTabChange($event) "
				 (handleErrors)="handleErrorsOnSubmit($event)" [stepInfo]="{step: 'final', next: 3, back: 1}"></app-action-bar>

			</mat-tab>
			<!-- step 3 Ends -->

		</mat-tab-group>

	</mat-card>
</form>