table { width: 100%; }

.customthead{
    background-color: #673ab7;
    color: white;
}

.mat-error{
    margin-top: -10px;
    font-size: 11px
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.scrollModel{
    overflow-y:auto;
    max-height: 500px;
}

.fsLarge{
    font-size: large;
}

.modal-md {
    max-width: 400;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ::ng-deep .mat-progress-bar-fill::after { background-color: #6ff05a;}
  ::ng-deep .mat-progress-bar-buffer { background: #eaeaff; }

  .availableDate {background-color: #eaf6ed; color: #155724;
      & > strong {color: #155724; background-color: #c3e6cb;}
      &.border {border-color: #c3e6cb !important;}
  }

  .checkDate {background-color: #eff1fc; color: #251c72;
      & > strong {color: #251c72; background-color: #cbc6f5 ;}
      &.border {border-color: #cbc6f5  !important;}
  }

  .bookDate, .blockDate {background-color: #fceff0; color: #721c24;
      & > strong {color: #721c24; background-color: #f5c6cb;}
      &.border {border-color: #f5c6cb !important;}
  }

  .holiyDay {background-color: #fffbee; color: #856404;
      & > strong {color: #856404; background-color: #ffeeba;}
      &.border {border-color: #ffeeba !important;}
  }

  .cardBox {
      .pageTitle {
          margin-bottom: 0px;
      }

      .header_lines {
          padding-top: 7px !important;
          margin-bottom: 0px;

          img {
              margin-bottom: 7px;
          }

          .headline {
              font-size: 20px;
          }
          .headlines{
            font-size: 18px;
          }

          .olList {
              list-style-type: none;
              margin-left: -16px;
              li {
                  .listSize {
                      font-size: 15px;
                      margin-top: -15px;
                  }
              }
          }

          .table {
              tr.mat-header-row {
                  height: 43px;
              }

              td,
              th {
                  border: 1px solid #000000;
                  padding: 8px;
              }
          }
      }

      .engTitle {
          font-size: 20px;
      }

      .engInstructions {
          p {
              font-size: 18px;
              line-height: 0.9px;
          }
      }

      .table {
          tr.mat-header-row {
              height: 43px;
          }

          td,
          th {
              border: 1px solid #000000;
              padding: 8px;
          }
      }

      .fotButtonBar {
          margin-top: 0 !important;
      }

  }

  .fotButtonBar{
          margin-top: 45px !important;
    }
