.fotButtonBar{
    background: #f2f2f2;
    padding: 25px 0 10px;
    margin-top: 0px !important;
}
.modal-md {
    max-width: 400;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table { width: 100%; }
