<div class="container">
	<div class="row pt-4">
		<div class="col-md-12">
			<app-title-bar [title]="'Bookings'"></app-title-bar>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Town Hall</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="primary" routerLink="/{{manageRoutes.getFullRoute('TOWNHALLLIST')}}">
						<mat-icon>input</mat-icon>Book
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Theater</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="primary" routerLink="/{{manageRoutes.getFullRoute('THEATERLIST')}}">
						<mat-icon>input</mat-icon>Book
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Zoo</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="accent">
						<mat-icon>input</mat-icon>Pending
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Swimming Pool</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="accent">
						<mat-icon>input</mat-icon>Pending
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Stadium</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="primary" routerLink="/{{manageRoutes.getFullRoute('STADIUMLIST')}}">
						<mat-icon>input</mat-icon>Book
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Planetarium and Children Theater</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="primary" >
						<mat-icon>input</mat-icon>Book
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Guest House</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="primary" routerLink="/{{manageRoutes.getFullRoute('GUESTHOUSELIST')}}">
						<mat-icon>input</mat-icon>Book
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Garden</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="accent">
						<mat-icon>input</mat-icon>Pending
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-md-3 pb-4 text-center">
			<mat-card>
				<mat-icon>account_circle</mat-icon>
				<mat-card-title>Band</mat-card-title>
				<mat-card-actions>
					<button mat-raised-button color="primary" routerLink="/{{manageRoutes.getFullRoute('BANDBOOKINGLIST')}}">
						<mat-icon>input</mat-icon>Book
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>