<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<record-search *ngIf="showSearchForm" [apiType]="manageRoutes.getApiTypeFromApiCode(this.apiCode)"
    (searchResult)="showDuplicateForm($event)">
</record-search>

<div class="container" [hidden]="isVisibeDuplicateForm">
    <mat-card class="cardBorder">
        <form [formGroup]="birthDuplicateForm" autocomplete="off" ngNativeValidate>
            <div class="row">
                <!-- <div class="col-md-4" formGroupName="duplicateCopies">
                    <mat-label>{{'duplicate_copies' | translate:translateKey}}</mat-label>
                    <mat-radio-group formControlName="code">
                        <mat-radio-button *ngFor="let yesNo of ISYESNO" [value]="yesNo.code">
                            {{yesNo.name}}
                        </mat-radio-button>
                        <control-messages [control]="birthDuplicateForm.get('duplicateCopies').get('code')">
                        </control-messages>class="asteriskmarkRequired"
                    </mat-radio-group>
                </div> -->
                <mat-form-field formGroupName="duplicateCopyMode" class="col-md-6">
                    <mat-label>{{'duplicate_copy_mode' | translate:translateKey}}<span class="mandatory"> *</span></mat-label>
                    <mat-select formControlName="code">
                        <mat-option *ngFor="let duplicatemode of DuplicateCopyMode" [value]="duplicatemode.code">
                            {{duplicatemode.name}}
                        </mat-option>
                    </mat-select>
                    <control-messages [control]="birthDuplicateForm.get('duplicateCopyMode').get('code')">
                    </control-messages>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <input matInput [max]="100"  type="number" [min]="1 "  OnlyNumber (keypress)="getlength($event)"
                        placeholder="{{'total_copies' | translate:translateKey}}" formControlName="totalCopies" required>
                    <control-messages [control]="birthDuplicateForm.get('totalCopies')"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput trim type="text" formControlName="childName" appGujInputSource
                        targetElement="childNameGuj" placeholder="{{'child_name' | translate: translateKey}}" required
                        >
                    <control-messages [control]="birthDuplicateForm.get('childName')"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput trim type="text" formControlName="birthDate" appGujInputSource
                        targetElement="birthdateguj" placeholder="{{'birth_date' | translate: translateKey}}" required
                        readonly>
                    <control-messages [control]="birthDuplicateForm.get('birthDate')"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput trim type="text" formControlName="birthtime" appGujInputSource
                        targetElement="birthtimeguj" placeholder="{{'birth_time' | translate: translateKey}}" required
                        readonly>
                    <mat-error *ngIf="birthDuplicateForm.get('birthtime').invalid">Birth Time is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('birthtime')">Birth Time is required</control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput appGujInputTarget placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                        formControlName="childNameGuj" readonly>
                    <control-messages [control]="birthDuplicateForm.get('childNameGuj')"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput appGujInputTarget placeholder="{{'birth_date' | translate:translateKey:'gu'}}"
                        formControlName="birthdateguj" readonly>
                        <mat-error *ngIf="birthDuplicateForm.get('birthdateguj').invalid">Birth Date Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('birthdateguj')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput appGujInputTarget placeholder="{{'birth_time' | translate:translateKey:'gu'}}"
                        formControlName="birthtimeguj" readonly>
                        <mat-error *ngIf="birthDuplicateForm.get('birthtimeguj').invalid">Birth Time Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('birthtimeguj')"></control-messages> -->
                </mat-form-field>



            </div>

            <h2>{{'mother_details' | translate:translateKey}}</h2>

            <div class="row">

                <mat-form-field class="col-md-6">
                    <input matInput trim type="text" formControlName="motherFirstName" appGujInputSource
                        targetElement="motherFirstNameGuj" placeholder="{{'mother_name' | translate: translateKey}}"
                        required >
                        <mat-error *ngIf="birthDuplicateForm.get('motherFirstName').invalid">Mother Name is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('motherFirstName')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput appGujInputTarget placeholder="{{'mother_name' | translate:translateKey:'gu'}}"
                        formControlName="motherFirstNameGuj">
                        <mat-error *ngIf="birthDuplicateForm.get('motherFirstNameGuj').invalid">Mother Name Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('motherFirstNameGuj')"></control-messages> -->
                </mat-form-field>

            </div>

            <h2>{{'father_details' | translate:translateKey}}</h2>

            <div class="row">

                <mat-form-field class="col-md-6">
                    <input matInput trim formControlName="fatherFirstName" appGujInputSource
                        targetElement="fatherFirstNameGuj" placeholder="{{'father_name' | translate: translateKey}}"
                        required >
                        <mat-error *ngIf="birthDuplicateForm.get('fatherFirstName').invalid">Father Name is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('fatherFirstName')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput trim appGujInputTarget placeholder="{{'father_name' | translate:translateKey:'gu'}}"
                        formControlName="fatherFirstNameGuj" >
                        <mat-error *ngIf="birthDuplicateForm.get('fatherFirstNameGuj').invalid">Father Name Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('fatherFirstNameGuj')"></control-messages> -->
                </mat-form-field>

            </div>

            <h2>{{'other_details' | translate:translateKey}}</h2>

            <div class="row">
                <mat-form-field class="col-md-4">
                    <input matInput trim type="text" formControlName="registrationDate"
                        placeholder="{{'reg_date' | translate: translateKey}}" required readonly>
                    <control-messages [control]="birthDuplicateForm.get('registrationDate')"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput trim type="text" formControlName="gender" appGujInputSource
                        targetElement="genderguj" placeholder="{{'gender' | translate: translateKey}}" required
                        readonly>
                    <control-messages [control]="birthDuplicateForm.get('gender')"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput trim appGujInputTarget placeholder="{{'gender' | translate:translateKey:'gu'}}"
                        formControlName="genderguj" readonly>
                        <mat-error *ngIf="birthDuplicateForm.get('genderguj').invalid">Gender Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('genderguj')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput trim type="text" formControlName="placeofbirth"
                        placeholder="{{'birth_place' | translate: translateKey}}" appGujInputSource
                        targetElement="placeofbirthguj" required readonly>
                        <mat-error *ngIf="birthDuplicateForm.get('placeofbirth').invalid">Place of Birth is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('placeofbirth')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput trim appGujInputTarget placeholder="{{'birth_place' | translate:translateKey:'gu'}}"
                        formControlName="placeofbirthguj" readonly>
                        <mat-error *ngIf="birthDuplicateForm.get('placeofbirthguj').invalid">Place of Birth Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('placeofbirthguj')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput trim type="text" formControlName="birthaddress" appGujInputSource
                        targetElement="birthaddressguj" placeholder="{{'address' | translate: translateKey}}" required
                        >
                        <mat-error *ngIf="birthDuplicateForm.get('birthaddress').invalid">Birth Address is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('birthaddress')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput trim appGujInputTarget placeholder="{{'address' | translate:translateKey:'gu'}}"
                        formControlName="birthaddressguj" >
                        <mat-error *ngIf="birthDuplicateForm.get('birthaddressguj').invalid">Birth Address Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('birthaddressguj')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput trim type="text" formControlName="permanentadd" appGujInputSource
                        targetElement="permanentaddguj" placeholder="{{'permanent_add' | translate: translateKey}}"
                        required >
                        <mat-error *ngIf="birthDuplicateForm.get('permanentadd').invalid">Permanent Address is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('permanentadd')"></control-messages> -->
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput trim appGujInputTarget
                        placeholder="{{'permanent_add' | translate:translateKey:'gu'}}"
                        formControlName="permanentaddguj" >
                        <mat-error *ngIf="birthDuplicateForm.get('permanentaddguj').invalid">Permanent Address Gujarati is Required.</mat-error>
                    <!-- <control-messages [control]="birthDuplicateForm.get('permanentaddguj')"></control-messages> -->
                </mat-form-field>

            </div>

            <app-action-bar [isstepper]="false" [form]="birthDuplicateForm" [paymentGateway]="paymentGateway"
                [stepInfo]="{step: 'final', next: 0, back: 0}"></app-action-bar>
        </form>
        <select-payment-gateway #paymentGateway></select-payment-gateway>
    </mat-card>


</div>
