<mat-card>
  <div class="row">
  <ng-container *ngFor="let doc of transferDocumentUploadDocs">
    <div class="col-md-4">
      <label>{{doc.documentLabelEn}}<span *ngIf="doc.mandatory">*</span></label>
      <file-upload-water-tax [form]="transferDocumentUploadDocs" [uploadModel]="doc"></file-upload-water-tax>
    </div>
    </ng-container>
  </div>
  <form #documentCheckListForm="ngForm" (ngSubmit)="onSubmit(documentCheckListForm)">
    
    <div class="button-row text-right mt-3">
        <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onBack()">
            <mat-icon>skip_previous</mat-icon>Back
        </button>
        <button mat-raised-button class="ml-3" color="primary" type="submit">
            <mat-icon>save</mat-icon>Submit
        </button>
    </div>
</form>
</mat-card> 