<mat-card>
    <div class="row text-right mt-3">
        <div class="col-md-12" *ngIf="!isApproveOrDecline">
            <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onBackClick()">
                <mat-icon>skip_previous</mat-icon>Back
            </button>
            <button mat-raised-button class="ml-3" color="warn" type="button" (click)="onDecline()">
                <mat-icon>cancel_presentation</mat-icon>Decline
            </button>
            <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onApprove()">
                <mat-icon>approval</mat-icon>Approve
            </button>
        </div>
    </div>
</mat-card>