<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
<mat-card class="formClass cardBorder">
	<form [formGroup]="tempFireworksNocForm">
		<mat-tab-group [(selectedIndex)]="fireFacilityConfig.currentTabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'applicant_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">
					<mat-form-field class="col-md-4" *ngIf="tempFireworksNocForm.get('oldReferenceNumber').value">
						<input matInput readonly placeholder="{{'old_reference_number' | translate:translateKey}}" formControlName="oldReferenceNumber">
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="col-md-6">
						<input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" required maxlength="100"
						 placeholder="{{'applicant_name' | translate:translateKey}}" formControlName="applicantName" appGujInputSource
						 targetElement="applicantNameGuj" [form]="tempFireworksNocForm">
						<control-messages [control]="tempFireworksNocForm.get('applicantName')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<input matInput type="text" maxlength="300" required formControlName="applicantNameGuj" appGujInputTarget [form]="tempFireworksNocForm"
						 placeholder="{{ 'applicant_name' | translate:translateKey:'gu' }}">
						<control-messages [control]="tempFireworksNocForm.get('applicantNameGuj')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<!-- <span matPrefix>+91 &nbsp;</span> -->
						<input matInput OnlyNumber placeholder="{{'mobile_no' | translate:translateKey}}" type="tel" [maxlength]="fireFacilityConfig.mobileNumber_maxLength"
						 [minlength]="fireFacilityConfig.mobileNumber_minLength" formControlName="mobileNo" required>
						<control-messages [control]="tempFireworksNocForm.get('mobileNo')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-8">
						<input matInput appPreventSpace placeholder="{{'email_id' | translate:translateKey}}" type="email"
						 formControlName="email" required maxlength="50">
						<control-messages [control]="tempFireworksNocForm.get('email')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<mat-label>{{'application_date'| translate: translateKey}} *</mat-label>
						<input appDate matInput [max]="endMinDate"
						[matDatepicker]="townHallBookingfromPicker" (dateChange)="dateFormate($event.value,'applicationDate');" formControlName="applicationDate">
						<mat-datepicker-toggle matSuffix [for]="townHallBookingfromPicker"></mat-datepicker-toggle>
						<mat-datepicker #townHallBookingfromPicker touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{fireFacilityConfig.DATE_HINT_MSG}}
						</div>
						<control-messages [control]="tempFireworksNocForm.get('applicationDate')">
						</control-messages>
					</mat-form-field>
					
	
				</div>
				<app-action-bar [form]="tempFireworksNocForm" (tabIndex)="fireFacilityConfig.onFormTabChange($event)"
				 (handleOnSaveAndNext)="handleOnSaveAndNext($event)" [stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 1 Ends -->
			<!-- step 2 Start -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'form_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">

					<div class="col-md-6">
							<div class="radioBtnError">
								<mat-label>{{'application_through_police' | translate:translateKey }} *</mat-label>
								<mat-radio-group formControlName="applicationThroughPolice" required>
									<mat-radio-button [value]="true" (change)="dependentAttachment($event.value,'LETTER_TO_APPLICANT')">
										{{'yes_txt' | translate:translateKey }}
									</mat-radio-button>
									<mat-radio-button [value]="false">
										{{'no_txt' | translate:translateKey }}
									</mat-radio-button>
								</mat-radio-group>
								<control-messages [control]="tempFireworksNocForm.get('applicationThroughPolice')"></control-messages>
							</div>
					</div>

					<mat-form-field class="col-md-6"	>
						<textarea matInput rows="1" cols="50" required maxlength="200" placeholder="{{'temporary_shop_address' | translate:translateKey}}"
						 formControlName="temporaryShopAddress"></textarea>
						<control-messages [control]="tempFireworksNocForm.get('temporaryShopAddress')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input appDate matInput [matDatepicker]="picker1" formControlName="fromDate" placeholder="{{'from_date' | translate:translateKey }}"
						 required [min]="fromDate"  (dateChange)="dateFormate($event.value,'fromDate');tempFireworksNocForm.get('toDate').reset()">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{fireFacilityConfig.DATE_HINT_MSG}}</div>
						<control-messages [control]="tempFireworksNocForm.get('fromDate')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input appDate matInput [matDatepicker]="picker2" [min]="tempFireworksNocForm.get('fromDate').value" formControlName="toDate"
						 placeholder="{{'to_date' | translate:translateKey }}" required (dateChange)="dateFormate($event.value,'toDate')">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{fireFacilityConfig.DATE_HINT_MSG}}</div>
						<control-messages [control]="tempFireworksNocForm.get('toDate')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="10" type="tel" formControlName="noOfShops" placeholder="{{'no_of_shops' | translate:translateKey }}">
						<control-messages [control]="tempFireworksNocForm.get('noOfShops')"></control-messages>
					</mat-form-field>

					<div class="col-md-4">
							<div class="radioBtnError">
								<mat-label>{{'shop_in_vmcboundry' | translate:translateKey }} *</mat-label>
								<mat-radio-group formControlName="shopInVMCBoundry" required>
									<mat-radio-button [value]="true">
										{{'yes_txt' | translate:translateKey }}
									</mat-radio-button>
									<mat-radio-button [value]="false">
										{{'no_txt' | translate:translateKey }}
									</mat-radio-button>
								</mat-radio-group>
								<control-messages [control]="tempFireworksNocForm.get('shopInVMCBoundry')"></control-messages>
							</div>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput placeholder="{{'shop_in_open_space' | translate:translateKey}}" formControlName="shopInOpenSpace"
						 maxlength="150">
						<control-messages [control]="tempFireworksNocForm.get('shopInOpenSpace')"></control-messages>
					</mat-form-field>

					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 radioBtnError">
								<mat-label>{{'owner_is_vmc' | translate:translateKey }} *</mat-label>
								<mat-radio-group formControlName="ownerIsVMC" required>
									<mat-radio-button [value]="true">
										{{'yes_txt' | translate:translateKey }}
									</mat-radio-button>
									<mat-radio-button [value]="false">
										{{'no_txt' | translate:translateKey }}
									</mat-radio-button>
								</mat-radio-group>
								<control-messages [control]="tempFireworksNocForm.get('ownerIsVMC')"></control-messages>
							</div>
						</div>
					</div>

					<div class="col-md-4">
							<div class="radioBtnError">
								<mat-label>{{'owner_consent_letter_included' | translate:translateKey }} *</mat-label>
								<mat-radio-group formControlName="ownerConsentLetterIncluded" required>
									<mat-radio-button [value]="true" (change)="dependentAttachment($event.value,'CONSENT_LETTER')">
										{{'yes_txt' | translate:translateKey }}
									</mat-radio-button>
									<mat-radio-button [value]="false">
										{{'no_txt' | translate:translateKey }}
									</mat-radio-button>
								</mat-radio-group>
								<control-messages [control]="tempFireworksNocForm.get('ownerConsentLetterIncluded')"></control-messages>
							</div>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput [matDatepicker]="picker3" formControlName="consentLetterDate" placeholder="{{'consent_letter_date' | translate:translateKey }}"
						 required (dateChange)="dateFormate($event.value,'consentLetterDate')">
						<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
						<mat-datepicker #picker3 touchUi="true"></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">{{fireFacilityConfig.DATE_HINT_MSG}}</div>
						<control-messages [control]="tempFireworksNocForm.get('consentLetterDate')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<input matInput type="text" appAlphaNumeric formControlName="propertyNo" placeholder="{{'property_no' | translate: translateKey }} *"
						 maxlength="15">
						<control-messages [control]="tempFireworksNocForm.get('propertyNo')"></control-messages>
					</mat-form-field>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'layout_plan_included' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="layoutPlanIncluded" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('layoutPlanIncluded')"></control-messages>
					</div>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'weather_exit_shown_in_map' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="weatherExitShownInMap" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('weatherExitShownInMap')"></control-messages>
					</div>

					<mat-form-field class="col-md-4">
						<input matInput required OnlyNumber maxlength="3" type="tel" formControlName="noOfExits" placeholder="{{'no_of_exits' | translate:translateKey }}">
						<control-messages [control]="tempFireworksNocForm.get('noOfExits')"></control-messages>
					</mat-form-field>

					<mat-form-field class="col-md-4">
						<textarea matInput rows="2" cols="50" required maxlength="500" placeholder="{{'usage_of_in_flammable' | translate:translateKey}}"
						 formControlName="usageOfInflammable"></textarea>
						<control-messages [control]="tempFireworksNocForm.get('usageOfInflammable')"></control-messages>
					</mat-form-field>


					<div class="col-md-4 radioBtnError">
						<mat-label>{{'security_arrangement' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="securityArrangement" required (change)="dependentAttachment($event.value,'SECURITY_ARRANGEMENT')">
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('securityArrangement')"></control-messages>
					</div>

					<div class="col-md-4 radioBtnError">
						<mat-label>{{'parking_arrangement' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="parkingArrangement" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('parkingArrangement')"></control-messages>
					</div>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'exit_no_smoking_sign_board_provision' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="exitNoSmokingSignboardProvision" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('exitNoSmokingSignboardProvision')"></control-messages>
					</div>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'stand_by_fire_engine_demanded' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="standbyFireEngineDemanded" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('standbyFireEngineDemanded')"></control-messages>
					</div>
					<div class="col-md-4 radioBtnError">
						<mat-label>{{'last_year_licence_received' | translate:translateKey }} *</mat-label>
						<mat-radio-group formControlName="lastYearLicenceReceived" required>
							<mat-radio-button [value]="true">
								{{'yes_txt' | translate:translateKey }}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'no_txt' | translate:translateKey }}
							</mat-radio-button>
						</mat-radio-group>
						<control-messages [control]="tempFireworksNocForm.get('lastYearLicenceReceived')"></control-messages>
					</div>
					<mat-form-field class="col-md-4">
						<input matInput maxlength="12" required appAlphaNumeric placeholder="{{'vmc_fee_receipt_no' | translate:translateKey}}"
						 formControlName="vmcFeeReceiptNo">
						<control-messages [control]="tempFireworksNocForm.get('vmcFeeReceiptNo')"></control-messages>
					</mat-form-field>

					<div class="col-md-4 ngSelect" formGroupName="wiringType">
						<ng-select placeholder="{{'wiring_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of FS_WIRING_TYPE " [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="tempFireworksNocForm.get('wiringType').get('code')"></control-messages>
					</div>
				</div>

				<app-action-bar [form]="tempFireworksNocForm" (tabIndex)="fireFacilityConfig.onFormTabChange($event)"
				 (handleOnSaveAndNext)="handleOnSaveAndNext($event)" [stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 2 Ends -->

			<!-- step  Attachment Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
				<div class="row">
					<ng-container *ngFor="let doc of tempFireworksNocForm.get('serviceDetail').get('serviceUploadDocuments').value">
						<div class="col-md-4" *ngIf="doc.requiredOnCitizenPortal && doc.isActive && fireFacilityConfig.isAttachmentButtonsVisible">
							<label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj }} <span *ngIf="doc.mandatory">*</span></label>
							<file-upload [form]="tempFireworksNocForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>

				<app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="uploadFilesArray" [form]="tempFireworksNocForm" (tabIndex)="fireFacilityConfig.onFormTabChange($event) "
				 (handleOnSaveAndNext)="handleOnSaveAndNext($event)" (handleErrors)="handleErrorsOnSubmit($event)" [stepInfo]="{step: 'final', next:6, back:3} "></app-action-bar>

			</mat-tab>
			<!-- step Attachment Ends -->
			<select-payment-gateway #paymentGateway></select-payment-gateway>
		</mat-tab-group>
	</form>
	<!-- <pre>{{ tempFireworksNocForm.get('serviceDetail').get('serviceUploadDocuments').value | json }}</pre> -->
</mat-card>