<div class="welCome">
    <h1>Welcome to VMC Online Citizen Portal</h1>
    <p>Welcome to Vadodara Municipal Corporation's Virtual Civic Center, which is simple and convenient way for
        citizens to
        access various services from anywhere at anytime.
        <br> The services of Virtual Civic Center can be accessed without paying any additional charge.</p>
</div>

<h2>
    <mat-icon>dashboard</mat-icon>Citizen Services
</h2>
<div class="menu">
    <div class="moduleList">

    <mat-tab-group [selectedIndex]="1">
      <mat-tab *ngFor="let module of bookingsAndTicketings">
        <ng-template mat-tab-label>
            <div class="mat-tab-label-Container" (click)="openBookingServices($event)">
            <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
            <span class="moduleIcon {{ module.code }}" ></span>
            <div class="moduleName">{{ module.name }}</div>
            <!-- <div>{{ module.gujName }}</div> -->
            <span class="count">{{module.services.length}} Services</span>
        </div>
        </ng-template>
        <div class="servicesList row" *ngIf="showBookingServices">
            <div class="colBtn col-md-3" *ngFor="let service of module.services;">
                <button mat-stroked-button *ngIf="service.active" color="primary"   routerLink="/{{manageRoutes.getFullRoute(service.code)}}">
                    {{ service.name }}
                </button>
                <button mat-stroked-button *ngIf="!service.active" color="primary">
                    {{ service.name }}
                </button>
            </div>
        </div>
    </mat-tab>
        <mat-tab *ngFor="let module of userServicesList">
            <ng-template mat-tab-label>
                <div class="mat-tab-label-Container" (click)="openModule($event)">
                    <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                    <span class="moduleIcon {{ module.code }}"></span>
                    <div class="moduleName">{{ module.name }}</div>
                    <!-- <div>{{ module.gujName }}</div> -->
                    <span class="count">{{module.services.length}} Services</span>
                </div>
            </ng-template>
            <div class="servicesList row" *ngIf="showModuleServices">
                <div class="colBtn col-md-3" *ngFor="let service of module.services;">
                    <button mat-stroked-button color="primary" (click)="createRecord(service.code)">
                        {{ service.name }}
                    </button>
                </div>
                <div *ngIf="module.code == 'PROFESSIONAL'" class="row" style="margin-left: 2px;">
                    <div class="colBtn" style="width: 270px;">
                            <button mat-button (click)="downloadGuidLineDocumentPEC('Form-3')"
                                color="primary" class="changeFontColor">Download Form-3 For PEC</button>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <button mat-button (click)="downloadGuidLineDocumentPRC('FORM-1')"
                        color="primary" class="changeFontColor">Download Form-1 For PRC</button>
                    </div>
                </div>
                <div *ngIf="module.code == 'SHOP-ESTAB-NEW'" class="row" style="margin-left: 2px;">
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'APPLICATION FOR REGISTRATION 10 OR ABOVE 10 EMP. Form-A' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-A')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'FORMAT FOR INTIMATION LESS THAN 10 EMP. Form-D' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-D')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'NOTICE FOR CHANGE IN REGISTRATION CERTIFICATE AND INTIMATION Form-G' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-G')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'INTIMATION OF CLOSING OF BUSINESS Form-I' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-I')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'REGISTRATION OF CLOSING OF BUSINESS Form-H' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-H')"
                                color="primary" class="changeFontColor" >Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'CONSENT OF WOMEN WORKER TO WORK IN NIGHTSHIFT Form-J' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-J')"
                                color="primary" class="changeFontColor" >Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'NOTICE FOR WEEKLY HOLIDAY Form-K' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-K')"
                                color="primary" class="changeFontColor" style="margin-top: 19px;">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'LIST OF WORKERS ENGAGED IN SHIFT Form-L' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-L')"
                                color="primary" class="changeFontColor" >Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'IDENTITY CARD Form-M' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-M')"
                                color="primary" class="changeFontColor" style="margin-top: 19px;">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'LEAVE BOOK Form-N' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-N')"
                                color="primary" class="changeFontColor" style="margin-top: 19px;">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'NOTICE OF MAXIMUM LEAVE ACCUMULATED Form-O' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-O')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'MUSTER-ROLL CUM WAGE REGISTER Form-P' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-P')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'DETAILS OF PERSONS DESCHARGING MANAGERIAL FUNCTIONS Form-S' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-S')"
                                color="primary" class="changeFontColor" style="margin-top: 19px;">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'DETAILS OF PERSONS OCCUPYING POSITION OF CONFIDENTIAL CHARACTER Form-T' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('Form-T')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                </div>

                <div *ngIf="module.code == 'ANIMAL-POND'" class="row" style="margin-left: 2px;">
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'AFFIDAVIT FORMAT FOR LICENSE PERMIT' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('AFFIDAVIT-FORMAT-FOR-LICENSE-PERMIT')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'ANIMAL REGISTRATION (TAGGING) APPLICATION FORM' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('ANIMAL-REG-(TAGGING)-APPLICATION-FORM')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'ANIMAL BIRTH REPORT APPLICATION FORM' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('ANIMAL-BIRTH-REPORT-APPLICATION-FORM')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'ANIMAL DEATH REPORT APPLICATION FORM' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('ANIMAL-DEATH-REPORT-APPLICATION-FORM')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'PERMISSION FORM FOR ANIMAL IMPORT IN CITY' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('PERMISSION-FORM-FOR-ANIMAL-IMPORT-IN-CITY')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'PERMISSION FORM FOR ANIMAL EXPORT IN CITY' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('PERMISSION-FORM-FOR-ANIMAL-EXPORT-IN-CITY')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                    <div class="colBtn" style="width: 270px;">
                        <p> <b>{{'AFFIDAVIT FORMAT FOR GRASS SELLING' }}</b>
                            <button mat-button (click)="downloadGuidLineDocumemnt('AFFIDAVIT-FORMAT-FOR-GRASS-SELLING')"
                                color="primary" class="changeFontColor">Download</button>
                        </p>
                    </div>
                </div>
            </div>
        </mat-tab>

        <!-- <mat-tab>
            <ng-template mat-tab-label>
                <span class="moduleIcon affordableHousing"></span>
                <div class="moduleName">Affordable Housing</div>
                <span class="count">Services</span>
            </ng-template>
            <div class="servicesList row">
                <div class="colBtn col-md-3" matTooltip="New Application">
                    <button mat-stroked-button color="primary" (click)="newAffordableHousing()">
                        New Application
                    </button>
                </div>
            </div>
        </mat-tab> -->
    </mat-tab-group>
</div>
</div>

<!-- <h2>
    <mat-icon>dashboard</mat-icon>VMC Facility Booking
</h2>

<div class="moduleList">
  <mat-tab-group>
      <mat-tab *ngFor="let module of bookingsAndTicketings">
          <ng-template mat-tab-label>
              <div class="mat-tab-label-Container" (click)="openBookingServices($event)">

              <span class="moduleIcon {{ module.code }}" ></span>
              <div class="moduleName" title="{{module.name}}">{{ module.name }}</div>

              <span class="count">Services</span>
          </div>
          </ng-template>
          <div class="servicesList row" *ngIf="showBookingServices">
              <div class="colBtn col-md-3" *ngFor="let service of module.services;" matTooltip="{{ service.name }}">
                  <button mat-stroked-button *ngIf="service.active" color="primary"   (click)="onClick(service.code)" routerLink="/{{manageRoutes.getFullRoute(service.code)}}">
                      {{ service.name }}
                  </button>
                  <button mat-stroked-button *ngIf="!service.active" color="primary">
                      {{ service.name }}
                  </button>
              </div>
          </div>
      </mat-tab>
  </mat-tab-group>
</div> -->



<h2 class="applicationInformation" *ngIf="!commonService.isGuestUser()">
    <mat-icon>description</mat-icon>Application Information
</h2>

<!-- <ul  class="recentList" *ngIf="isRecentApp && !commonService.isGuestUser()">
    <li *ngFor="let application of recentApp">
        <div>{{ application.applicantName?application.applicantName:'N/A' }}</div>
        <div class="recenText">{{ application.serviceDetail.name }} | Application / Registration Number : {{
            application.fileNumber ? application.fileNumber : application.uniqueId }}</div>
        <span class="badge draft">{{ application.fileStatusName }}</span>
    </li>
</ul> -->

<ul  class="recentList" *ngIf="isRecentApp && !commonService.isGuestUser()">
    <li>
        <div>Citizen Services:</div>
        <div class="recenText">Please refer your applied applications for Citizen Services at <b><a style="color: black;" class="link" routerLink="/citizen/my-applications">'My Applications'</a></b> section</div>
    </li>

    <li>
        <div>Booking Facilities:</div>
        <div class="recenText">Please refer your applied applications for Booking Facilities at <b><a style="color: black;" class="link" routerLink="/citizen/bookings/my-bookings">'My Bookings'</a></b> section</div>
    </li>

    <li>
        <div>Ticketing Facilities:</div>
        <div class="recenText">Please refer your applied applications for Ticketing Facilities at <b><a style="color: black;" class="link" routerLink="/citizen/ticketings/my-ticketings">'My Ticketing'</a></b> section</div>
    </li>

</ul>

<div class="noApplication" *ngIf="!isRecentApp  && !commonService.isGuestUser()">
    <img src="assets/icons/no-application-found.png" alt=""><br>
    No Application Found
    <span class="noActi">It seems, No activity happend yet</span>
</div>
