<!-- HTML for Town hall booking Guideline-->

<div *ngIf="guideLineFlag" class="container">
    <mat-card class="border border-primary mt-4 p-0">
        <mat-card-title class="alert alert-info text-center mb-0 font-weight-bold">
            Online Townhall Booking
        </mat-card-title>
        <mat-card-content class="border-top border-primary pl-4 pr-4">
            <p style="font-size: large;">{{head_lines| translate: translateKey}}</p>
            <h1>Rules and Regulations</h1>
            <ol class="m-4" style="font-size: large;">
                <li>
                    All parties/organizers have to observe the VMC Rules(
                    <a href="#">Mahatma Gandhi Nagar Gruh, Sir Sayaji Rao Nagar Gruh,Pandit Dindayal Upadhyay Nagar,Deepak Open Air theater
                    </a>)
                </li>
                <li>
                    The shift time includes the entry and exit time it is required to vocate the townhall or or before the session end time beyond
                    which overtime will be charged.
                </li>
                <li>
                    Production of all necessary permission is mandatory for applicant before commencement of programe.
                </li>
                <li>
                    Deduction as per the rules will be made in the event of cancellation.
                </li>
            </ol>
            <div class="text-center">
                <button mat-raised-button (click)="guideLineFlag= false;" color="primary">Submit</button>
            </div>

        </mat-card-content>
    </mat-card>
</div>

<!-- HTML for Town hall booking -->
<div *ngIf="!guideLineFlag" class="container">

    <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

    <mat-card class="mt-4">

        <form [formGroup]="searchTownHallForm" (ngSubmit)="searchBooking()" autocomplete="off" ngNativeValidate>

            <div class="row">
                <div class="col-md-6 ngSelect">
                    <ng-select placeholder="Select Town Hall" formControlName="code">
                        <ng-option *ngFor="let townHall of townHalls" [value]="townHall.code">
                            {{ townHall.name }}
                        </ng-option>
                    </ng-select>
                </div>

                <div formGroupName="purpose" class="col-md-6 ngSelect">
                    <ng-select placeholder="Select Purpose of booking Townhall" formControlName="code">
                        <ng-option *ngFor="let purpose of purposes" [value]="purpose.code">
                            {{ purpose.name }}
                        </ng-option>
                    </ng-select>
                </div>

                <mat-form-field class="col-md-6">
                    <input matInput (click)="townHallBookingfromPicker.open()" (focus)="townHallBookingfromPicker.open()" [matDatepicker]="townHallBookingfromPicker"
                        formControlName="startDate" placeholder="Choose start date">
                    <mat-datepicker-toggle matSuffix [for]="townHallBookingfromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #townHallBookingfromPicker touchUi="true"></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput (click)="townHallBookingtoPicker.open()" (focus)="townHallBookingtoPicker.open()" [matDatepicker]="townHallBookingtoPicker"
                        formControlName="endDate" placeholder="Choose end date">
                    <mat-datepicker-toggle matSuffix [for]="townHallBookingtoPicker"></mat-datepicker-toggle>
                    <mat-datepicker #townHallBookingtoPicker touchUi="true"></mat-datepicker>
                </mat-form-field>

                <div class="col-md-12 text-right">
                    <button mat-raised-button color="primary" type="submit">Search</button>
                </div>

            </div>
        </form>

    </mat-card>

    <!-- <mat-table #table [dataSource]="availableStots">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element;let indx=index;"> {{indx+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef> Start Time</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.start}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef> End Time</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.end}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="slotStatus">
            <mat-header-cell *matHeaderCellDef>Available</mat-header-cell>
            <mat-cell *matCellDef="let element;let indx=index;">
                <button mat-raised-button color="primary" [disabled]="element.status !='AVAILABLE'" (click)="bookSlots(element.uniqueId,indx)">
                    {{element.slotStatus}}
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->


    <mat-card class="mt-4">

        <mat-card class="cardH1">
            <h1>List Of Town Hall</h1>
        </mat-card>

        <div class="row">
            <div class="col-md-2 mb-1 p-1" *ngFor="let date of Dates">
            <mat-card class="p-0 rounded border border-primary">
                <mat-card-title class="bg-primary text-center text-light font-weight-bold p-0">{{returnProperDate(date.date)}}</mat-card-title>
                <mat-card-content class="font-weight-bold">
                    <mat-checkbox [disabled]="date.shift1.status == 'booked' || date.shift1.status == 'temp'" [checked]="date.shift1.status == 'booked' || date.shift1.status == 'temp'">SHIFT 1</mat-checkbox>
                    <mat-checkbox [disabled]="date.shift2.status == 'booked' || date.shift2.status == 'temp'" [checked]="date.shift2.status == 'booked' || date.shift2.status == 'temp'">SHIFT 2</mat-checkbox>
                    <mat-checkbox [disabled]="date.shift3.status == 'booked' || date.shift3.status == 'temp'" [checked]="date.shift3.status == 'booked' || date.shift3.status == 'temp'">SHIFT 3</mat-checkbox>
                </mat-card-content>
            </mat-card>
            </div>
        </div>

    </mat-card>

    <!-- <div *ngIf="availableStots.length==0" class="alert" style="text-align: center;margin: 20px;">
        <strong>No record found!</strong>
        <div>Please select other townhall.</div>
    </div> -->
</div>