/* Structure */

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.example-sidenav-container {
    flex: 1;
    background-color: #fff;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.customthead{
    background-color: #673ab7;
    color: white;
}
.mat-error{
        margin-top: -10px;
    font-size: 11px
}