<!-- HTML for Town hall booking Guideline-->

<div *ngIf="guideLineFlag" class="container">
    <mat-card class="border border-primary mt-4 p-0">
        <mat-card-title class="alert alert-info text-center mb-0 font-weight-bold">
            Online Townhall Booking
        </mat-card-title>
        <mat-card-content class="border-top border-primary pl-4 pr-4">
            <p style="font-size: large;">{{head_lines| translate: translateKey}}</p>
            <h1>Rules and Regulations</h1>
            <ol class="m-4" style="font-size: large;">
                <li>
                    All parties/organizers have to observe the VMC Rules(
                    <a href="#">Mahatma Gandhi Nagar Gruh, Sir Sayaji Rao Nagar Gruh,Pandit Dindayal Upadhyay Nagar,Deepak Open Air theater
                    </a>)
                </li>
                <li>
                    The shift time includes the entry and exit time it is required to vocate the townhall or or before the session end time beyond
                    which overtime will be charged.
                </li>
                <li>
                    Production of all necessary permission is mandatory for applicant before commencement of programe.
                </li>
                <li>
                    Deduction as per the rules will be made in the event of cancellation.
                </li>
            </ol>
            <div class="text-right">
                <button mat-raised-button (click)="guideLineFlag = false; showSearchForm= true;" color="primary">Submit</button>
            </div>

        </mat-card-content>
    </mat-card>
</div>

<!-- HTML for Town hall booking -->
<div *ngIf="showSearchForm" class="container">

    <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

    <mat-card class="mt-4">

        <form [formGroup]="searchTownHallForm" (ngSubmit)="searchBooking()" autocomplete="off" ngNativeValidate>

            <div class="row">
                <div class="col-md-6 ngSelect">
                    <ng-select placeholder="Select Town Hall" formControlName="code">
                        <ng-option *ngFor="let townHall of townHalls" [value]="townHall.code">
                            {{ townHall.name }}
                        </ng-option>
                    </ng-select>
                </div>

                <div formGroupName="purpose" class="col-md-6 ngSelect">
                    <ng-select placeholder="Select Purpose of booking Townhall" formControlName="code">
                        <ng-option *ngFor="let purpose of purposes" [value]="purpose.code">
                            {{ purpose.name }}
                        </ng-option>
                    </ng-select>
                </div>

                <mat-form-field class="col-md-6">
                    <input matInput [matDatepickerFilter]="myFilter" [min]="minDate" [matDatepicker]="townHallBookingfromPicker" formControlName="startDate"
                        placeholder="Choose start date">
                    <mat-datepicker-toggle matSuffix [for]="townHallBookingfromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #townHallBookingfromPicker touchUi="true"></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Choose end date</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" [min]="minDate" [matDatepicker]="townHallBookingtoPicker" formControlName="endDate" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="townHallBookingtoPicker"></mat-datepicker-toggle>
                    <mat-datepicker #townHallBookingtoPicker touchUi="true"></mat-datepicker>
                </mat-form-field>

                <div class="col-md-12 text-right">
                    <button [disabled]="searchTownHallForm.invalid" mat-raised-button color="primary" type="submit">Search</button>
                </div>

            </div>
        </form>

    </mat-card>

    <mat-card class="mt-4" *ngIf="Dates.length>0">
        <mat-card class="cardH1">
            <h1>List Of Town Hall</h1>
        </mat-card>

        <div class="row">

            <div class="col-md-2 mb-1 p-1" *ngFor="let date of Dates">
                <mat-card class="p-0 rounded border border-primary">
                    <mat-card-title class="bg-primary text-center text-light font-weight-bold p-0">{{returnProperDate(date. key)}}
                    </mat-card-title>
                    <mat-card-content class="font-weight-bold">
                        <mat-checkbox (change)="selectShift(shift, $event.checked, i)" *ngFor="let shift of date.slotList; let i = index" [disabled]="shift.slotStatus != 'AVAILABLE'"
                            [checked]="shift.slotStatus != 'AVAILABLE'">SHIFT {{shift.shiftType}}</mat-checkbox>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-12 text-right">
                <button mat-raised-button type="button" color="primary" (click)="shortlistShifts()">Shortlist</button>
            </div>

        </div>

    </mat-card>
</div>

<div class="container" *ngIf="showPaymentReciept">
    <mat-card>

        <div class="row border">
            <div class="col-md-3">
                Booking Date
            </div>
            <div class="col-md-3">
                Booking From
            </div>
            <div class="col-md-3">
                Booking To
            </div>
            <div class="col-md-3">
                Amount (Rs.)
            </div>
        </div>

        <div class="row border">
            <div class="col-md-3">
                {{paymentObject.bookingDate}}
            </div>
            <div class="col-md-3">
                {{paymentObject.bookingFrom}}
            </div>
            <div class="col-md-3">
                {{paymentObject.bookingTo}}
            </div>
            <div class="col-md-3">
                {{paymentObject.amount}}
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button mat-raised-button type="button" color="primary" (click)="confirmPayment()">Confirm Payment</button>
        </div>

    </mat-card>
</div>

<div class="container" [hidden]="!showApplicationForm">


    <mat-card class="cardH1">
        <h1>Town Hall Application Form</h1>
    </mat-card>

    <mat-card>
        <form [formGroup]="townHallApplicationForm" (ngSubmit)="submitTownhallApplication()">

            <h2>
                {{'organization_details' | translate:translateKey}}
            </h2>

            <div class="row">
                <mat-form-field class="col-md-4">
                    <input matInput appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'" type="text" formControlName="organizationName"
                        placeholder="{{'oraganization_name' | translate: translateKey}}" required>
                    <control-messages [control]="townHallApplicationForm.controls.organizationName"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="orgTelephoneNo" placeholder="{{'orgTelephone_no' | translate: translateKey}}"
                        required>
                    <control-messages [control]="townHallApplicationForm.controls.orgTelephoneNo"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'" formControlName="organizationPresidentName"
                        placeholder="{{'organization_president_name' | translate: translateKey}}" required>
                    <control-messages [control]="townHallApplicationForm.controls.organizationPresidentName"></control-messages>
                </mat-form-field>

            </div>

            <div>
                <h2>
                    {{'organizationAddress' | translate:translateKey}}
                </h2>
                <app-address #address [requiredFeilds]="true" [addressFormGroup]="townHallApplicationForm.controls.organizationAddress"></app-address>
            </div>

            <h2>
                {{'applicant_details' | translate:translateKey}}
            </h2>

            <div class="row">
                <mat-form-field class="col-md-4">
                    <input matInput appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'" type="text" formControlName="applicantName"
                        placeholder="{{'applicant_name' | translate: translateKey}}" required>
                    <control-messages [control]="townHallApplicationForm.controls.applicantName"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="applicantMobile" placeholder="{{'applicant_mobile' | translate: translateKey}}"
                        required>
                    <control-messages [control]="townHallApplicationForm.controls.applicantMobile"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput type="email" formControlName="emailID" placeholder="{{'applicant_email' | translate: translateKey}}" required>
                    <control-messages [control]="townHallApplicationForm.controls.emailID"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput type="text" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'" formControlName="relationshipWithOrg"
                        placeholder="{{'relationship_with_org' | translate: translateKey}}" required>
                    <control-messages [control]="townHallApplicationForm.controls.relationshipWithOrg"></control-messages>
                </mat-form-field>
            </div>

            <div>
                <h2>
                    {{'applicantAddress' | translate:translateKey}}
                </h2>
                <app-address #address [requiredFeilds]="true" [addressFormGroup]="townHallApplicationForm.controls.applicantAddress"></app-address>
            </div>

            <h2>
                {{'bank_details' | translate:translateKey}}
            </h2>

            <div class="row">

                <div formGroupName="bankName" class="col-md-4 ngSelect">
                    <ng-select placeholder="{{'bank_name' | translate:translateKey}} *" formControlName="code">
                        <ng-option *ngFor="let bank of BankOptions" [value]="bank.code">
                            {{bank.name}}
                        </ng-option>
                    </ng-select>
                    <control-messages [control]="townHallApplicationForm.controls.bankName.controls.code"></control-messages>
                </div>

                <mat-form-field class="col-md-4">
                    <input matInput type="text" formControlName="accountHolderName" placeholder="{{'account_holder_name' | translate: translateKey}}"
                        required>
                    <control-messages [control]="townHallApplicationForm.controls.accountHolderName"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="accountNo" placeholder="{{'accont_no' | translate: translateKey}}"
                        required>
                    <control-messages [control]="townHallApplicationForm.controls.accountNo"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="ifscCode" placeholder="{{'ifsc_code' | translate: translateKey}}"
                        required>
                    <control-messages [control]="townHallApplicationForm.controls.ifscCode"></control-messages>
                </mat-form-field>
            </div>

            <h2>
                {{'booking_details' | translate:translateKey}}
            </h2>

            <div class="row">
                <mat-form-field class="col-md-4">
                    <textarea matInput type="text" formControlName="programShortDetails" placeholder="{{'program_short_details' | translate: translateKey}}"
                        required></textarea>

                    <control-messages [control]="townHallApplicationForm.controls.programShortDetails"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <textarea matInput type="text" formControlName="programPurpose" placeholder="{{'program_purpose' | translate: translateKey}}"
                        required></textarea>

                    <control-messages [control]="townHallApplicationForm.controls.programPurpose"></control-messages>
                </mat-form-field>
            </div>


            <div class="col-md-12 text-right">
                <button [disabled]="!townHallApplicationForm.valid" mat-raised-button color="primary" type="submit">Submit Application</button>
            </div>

        </form>
    </mat-card>
</div>