<div class="mainBg">
	<mat-card class="verticalAlign borderRadius10">
		<div class="headingBox">Welcome !
			<span>Login by entering the information below</span>
		</div>
		<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)" autocomplete="off" ngNativeValidate>

			<mat-form-field class="iconMat">
				<mat-icon matPrefix>face</mat-icon>
				<input matInput type="text" placeholder="Email / Mobile" formControlName="username" required>
			</mat-form-field>

			<mat-form-field class="iconMat">
				<mat-icon matPrefix>lock_outline</mat-icon>
				<input matInput type="password" placeholder="Password" formControlName="password" required>
			</mat-form-field>

			<div class="text-center">
				<button mat-raised-button type="submit" class="mat-primary width150">Login</button>
			</div>

			<div class="text-center pt-2">
				<p>OR</p>
				Don't have an account?
				<a routerLink="/hospital/auth/register">
					<strong>Sign up</strong>
				</a> here
			</div>

		</form>

	</mat-card>


</div>