<div class="mainBg">

    <div class="login-bg-plain col-md-6 offset-md-3">
        <div class="form-basic">
            <mat-card>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h1 class="heading">Login</h1>
                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)" autocomplete="off" ngNativeValidate>
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Email / Mobile" formControlName="username" required>
                                </mat-form-field>
                            </div>
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                                </mat-form-field>

                            </div>

                            <a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHFORGOTPASS')}}" class="forPass">Forgot Password</a>

                            <button mat-raised-button type="submit" class="login-btn mat-primary">Login</button>
                        </form>

                        <div class="login-footer">
                            OR
                            <span>Don't have an account?
                                <a routerLink="/{{manageRoutes.getFullRoute('CITIZENAUTHSIGNUP')}}">Sign up here</a>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>