<mat-card>
  <form #formDetail="ngForm" (ngSubmit)="save(formDetail)">
    <div class="row">
      <div class="col-md-2">
        <mat-form-field class="full-width-input">
          <input matInput required number-only minlength="3" maxlength="3" (input)="checkDuplicateCode($event);"
            placeholder="Code" name="OccupierCode" #OccupierCode="ngModel" [(ngModel)]="model.occupierCode">
          <mat-error *ngIf="OccupierCode.invalid && !(model.occupierCode)">*Code is required.</mat-error>
          <mat-error *ngIf="OccupierCode.invalid && (model.occupierCode)">*Code is invalid.</mat-error>
        </mat-form-field>
        <mat-error *ngIf="isDuplicateCode">*Code already exists.</mat-error>
      </div>
      <div class="col-md-2">
             <div class="ngSelect" style="min-width: 100%;">
            <ng-select required placeholder="Title" [items]="titleList" bindValue="itemId"
                bindLabel="itemName" name="titleId" [(ngModel)]="model.titleId" #TitleId="ngModel"
                [ngClass]="{'ng-invalid ng-touched':  formDetail.submitted && TitleId.invalid}">
            </ng-select>
            <div *ngIf="(formDetail.submitted && TitleId.invalid)  || (TitleId.invalid && TitleId.touched)">
                <mat-error *ngIf="TitleId.errors.required">*Title is required.</mat-error>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput required maxlength="50" placeholder="First Name" name="firstName" #FirstName="ngModel"
            [(ngModel)]="model.firstName">
          <mat-error *ngIf="FirstName.invalid">*First Name is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput maxlength="50" placeholder="Middle Name" name="middleName" #MiddleName="ngModel" [(ngModel)]="model.middleName">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput required maxlength="50" placeholder="Last Name" name="lastName" #LastName="ngModel"
            [(ngModel)]="model.lastName">
          <mat-error *ngIf="LastName.invalid">*Last Name is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input trim="blur" matInput number-only placeholder="Aadhaar Number" name="aadharNo" maxlength="12" minlength="12"  #AadharNo="ngModel"
            [(ngModel)]="model.aadharNo">
            <mat-error *ngIf="AadharNo.invalid">*Aadhaar No. is invalid.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width-input">
          <input matInput number-only maxlength="10" minlength="10" placeholder="Mobile Number" name="mobileNo"  #MobileNo="ngModel"
            [(ngModel)]="model.mobileNo">
            <mat-error *ngIf="MobileNo.invalid">*Mobile No. is invalid.</mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-1">
        <button mat-mini-fab type="submit" color="primary" title="Save">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="row mt-4" *ngIf="!isOccupierExist">
    <div class="col-md-12">
      <div class="alert alert-danger">*Please enter atleast one Occupier Details.</div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="isShowTable">
    <div class="col-md-12">
      <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="occupierCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let element"> {{element.occupierCode}} </td>
        </ng-container>
        <ng-container matColumnDef="titleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.titleName}} </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="middleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Middle Name</th>
          <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="aadharNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhaar Number</th>
          <td mat-cell *matCellDef="let element"> {{element.aadharNo}} </td>
        </ng-container>
        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
          <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="pr-0 text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="pr-0 text-center" style="min-width: 130px;">
            <button mat-icon-button type="button" color="primary" title="Edit" (click)='eidt(element)'>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" color="primary" title="Unit Details" (click)="moveStepper(element)">
              <mat-icon>dashboard</mat-icon>
            </button>
            <button mat-icon-button title="Delete" color="warn" (click)="delete(element)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="!isUnitDetailEntered && isOccupierExist">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <p [innerHTML]="unitDetailErrorMessage"></p>
      </div>
    </div>
  </div>
</mat-card>

<div class="button-row text-right mt-3">
  <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onBack()">
    <mat-icon>skip_previous</mat-icon>Back
  </button>
  <button mat-raised-button class="ml-3" color="primary" type="button" (click)="onSubmit()">
    <mat-icon>save</mat-icon> Save & Next
  </button>
</div>