<div class="container">
    <div class="row pt-4">
        <form [formGroup]="deathDuplicateForm">
            
                    <app-basic-details [basicFormGroup]="deathDuplicateForm"></app-basic-details>
                    <div class="row">
                    
                        <mat-form-field class="col-md-4">
                            <input required matInput maxlength="20" minlength="20" OnlyNumber placeholder="{{'death_reg_number' | translate:translateKey}}" formControlName="deathRegNumber">
                            <control-messages [control]="deathDuplicateForm.controls.deathRegNumber"></control-messages>
                        </mat-form-field>
                    
                        <div class="col-md-4 ngSelect">
                            <ng-select placeholder="{{'death_reg_year' | translate:translateKey}} *" formControlName="deathRegYear">
                                <ng-option *ngFor="let deathyear of DeathRegYears" [value]="deathyear">
                                    {{deathyear}}
                                </ng-option>
                            </ng-select>
                            <control-messages [control]="deathDuplicateForm.controls.deathRegYear"></control-messages>
                        </div>
                    
                
                        <mat-form-field class="col-md-4">
                            <input  (click)="picker.open()" (focus)="picker.open()" matInput readonly [max]="maxDeathDate" [matDatepicker]="picker" placeholder="{{'death_date' | translate:translateKey}}" formControlName="deathDate"
                                (dateChange)="deathDateCalculator($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker touchUi="true"></mat-datepicker>
                            <control-messages [control]="deathDuplicateForm.controls.deathDate"></control-messages>
                        </mat-form-field>
                    
                        <mat-form-field class="col-md-4">
                            <input (click)="regpicker.open()" (focus)="regpicker.open()" matInput readonly [max]="maxDeathDate" [min]="minDeathDate" [matDatepicker]="regpicker" placeholder="{{'death_reg_date' | translate:translateKey}}"
                                formControlName="deathRegDate" (dateChange)="deathRegCalculator($event)">
                            <mat-datepicker-toggle matSuffix [for]="regpicker"></mat-datepicker-toggle>
                            <mat-datepicker #regpicker touchUi="true"></mat-datepicker>
                            <control-messages [control]="deathDuplicateForm.controls.deathRegDate"></control-messages>
                        </mat-form-field>
                    
                    </div>
                    <!-- <app-action-bar [form]="deathDuplicateForm" [step]="'final'" (stepReset)="stepReset()" (handleErrors)="handleErrorsOnSubmit($event)"></app-action-bar> -->
        </form>
    </div>
</div>