.margin-top-10 {
    margin: 10px 0 15px 0;
}

.overlay {
    opacity: .7;
    filter: alpha(opacity=40);
    pointer-events: none;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}