<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<mat-card [hidden]="serachLicenceObj.isDisplayRenewLicenceForm" class="mt-4 formClass">
	<mat-form-field>
		<input matInput upperCase appAlphaNumeric required
			placeholder="{{'search_by_application_no' | translate:translateKey}}"
			[(ngModel)]="serachLicenceObj.searchLicenceNumber" maxlength="25">
	</mat-form-field>
	<button [disabled]="!serachLicenceObj.searchLicenceNumber" mat-raised-button color="primary"
		(click)="searchLicence()">{{'search'
		| translate:translateKey}}</button>
</mat-card>

<mat-card [hidden]="!serachLicenceObj.isDisplayRenewLicenceForm" class="formClass cardBorder">
	<!-- <form [formGroup]="muttonFishTransferForm"> -->
		<mat-tab-group [(selectedIndex)]="licenseConfiguration.currentTabIndex" dynamicHeight="true" mat-stretch-tabs
			class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab disabled>
				<ng-template mat-tab-label>
					<div>{{'license_holder_detail' | translate:translateKey}}</div>
				</ng-template>

				<form [formGroup]="applicantDetials">
				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput readonly required placeholder="{{'license_no' | translate:translateKey}}"
							formControlName="refNumber">
						<control-messages [control]="applicantDetials.get('refNumber')"></control-messages>
					</mat-form-field>
					<!--<mat-form-field class="col-md-4">-->
					<!--<input matInput readonly placeholder="{{'issue_date' | translate:translateKey}}"-->
					<!--formControlName="licenseIssueDate">-->
					<!--<control-messages [control]="muttonFishTransferForm.get('licenseIssueDate')"></control-messages>-->
					<!--</mat-form-field>-->

					<mat-form-field class="col-md-4">
						<input matInput disabled readonly autocomplete="off" appDate
							[matDatepicker]="DateOflicenseIssueDate" formControlName="licenseIssueDate"
							(dateChange)="dateFormat($event.value,'licenseIssueDate')"
							placeholder="{{ 'issue_date' | translate:translateKey }}">
						<mat-datepicker-toggle matSuffix [for]="DateOflicenseIssueDate"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #DateOflicenseIssueDate></mat-datepicker>
						<div align="end" class="default-show-hint mat-hint mat-right">
							{{licenseConfiguration.DATE_HINT_MSG}}</div>
						<control-messages [control]="applicantDetials.get('licenseIssueDate')">
						</control-messages>
					</mat-form-field>
				</div>

				<div class="row">

					<div class="col-md-4 ngSelect" formGroupName="licenseType">
						<ng-select placeholder="{{'license_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of MF_LICENSE_TYPE" [value]="type.code">{{type.name}}
							</ng-option>
						</ng-select>
						<control-messages [control]="applicantDetials.get('licenseType').get('code')">
						</control-messages>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 ngSelect" formGroupName="personType">
						<ng-select placeholder="{{'person_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of PERSON_TYPE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="applicantDetials.get('personType').get('code')">
						</control-messages>
					</div>
					<mat-form-field class="col-md-2">
						<input matInput type="text" required maxlength="30" appValidationFields
							validationFieldsType='onlyNameWithOutSpace'
							placeholder="{{'holder_firstname' | translate:translateKey}}"
							formControlName="holderFirstName" appGujInputSource targetElement="holderFirstNameGuj"
							[form]="muttonFishTransferForm">
						<control-messages [control]="applicantDetials.get('holderFirstName')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="30" appValidationFields
							placeholder="{{'holder_middlename' | translate:translateKey}}"
							formControlName="holderMiddleName" appGujInputSource targetElement="holderMiddleNameGuj"
							[form]="muttonFishTransferForm">
						<control-messages [control]="applicantDetials.get('holderMiddleName')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="30" appValidationFields
							validationFieldsType='onlyNameWithOutSpace'
							placeholder="{{'holder_lastname' | translate:translateKey}}"
							formControlName="holderLastName" appGujInputSource targetElement="holderLastNameGuj"
							[form]="muttonFishTransferForm">
						<control-messages [control]="applicantDetials.get('holderLastName')"></control-messages>
					</mat-form-field>
				</div>

				<!-- gujarati -->
				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="90" required formControlName="holderFirstNameGuj"
							appGujInputTarget [form]="muttonFishTransferForm"
							placeholder="{{ 'holder_firstname' | translate:translateKey:'gu' }}" appValidationFields
							validationFieldsType='onlyNameWithOutSpace'>
						<control-messages [control]="applicantDetials.get('holderFirstNameGuj')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="90"
							placeholder="{{'holder_middlename' | translate:translateKey:'gu'}}" appValidationFields
							formControlName="holderMiddleNameGuj" appGujInputTarget [form]="muttonFishTransferForm">
						<control-messages [control]="applicantDetials.get('holderMiddleNameGuj')">
						</control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="90"
							placeholder="{{'holder_lastname' | translate:translateKey:'gu'}}" appValidationFields
							validationFieldsType='onlyNameWithOutSpace' formControlName="holderLastNameGuj"
							appGujInputTarget [form]="muttonFishTransferForm">
						<control-messages [control]="applicantDetials.get('holderLastNameGuj')">
						</control-messages>
					</mat-form-field>
				</div>
				<!-- /gujarati -->

				<div class="row">
					<h2>{{'permanat_address' | translate:translateKey}}</h2>
					<app-address #permanantAddressEstablishment [requiredFeilds]="true"
						[addressFormGroup]="applicantDetials.get('permanantAddress')"
						(change)=valueChangeOnPermantAddress()></app-address>
				</div>

				<div class="col-md-4">
					<mat-checkbox class="col-md-12 mt-2" (change)="onSameAddressChange($event)">{{'Temporary Address is
						same as Permanent Address?' | translate: translateKey}}</mat-checkbox>
				</div>

				<div class="row">
					<h2>{{'temp_address' | translate:translateKey}}</h2>
					<app-address #temporaryAddressEstablishment [requiredFeilds]="true"
						[addressFormGroup]="applicantDetials.get('temporaryAddress')"></app-address>
				</div>

				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="11" minlength="11" formControlName="holderTelephoneNo"
						placeholder="{{'holder_telephone_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderTelephoneNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="10" minlength="10" required formControlName="holderMobileNo"
						placeholder="{{'holder_mobile_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderMobileNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" minlength="12" formControlName="holderFaxNo"
						placeholder="{{'holder_fax_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderFaxNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" minlength="12" required formControlName="holderAadharNo"
						placeholder="{{'holder_aadhar_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderAadharNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput appAlphaNumeric maxlength="10"  upperCase required formControlName="holderPanNo"
						placeholder="{{'holder_pan_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderPanNo')"></control-messages>
				</mat-form-field>

				<app-action-bar [form]="muttonFishTransferForm"
					(tabIndex)="licenseConfiguration.onTabChange($event, applicantDetials , muttonFishTransferForm)"
					[stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
				</form>

			</mat-tab>
			<!-- step 1 Ends -->

			<!-- step 2 Starts -->
			<mat-tab  disabled>
				<ng-template mat-tab-label>
					<div>{{'business_detail' | translate:translateKey}}</div>
				</ng-template>
				<form [formGroup]="businessDetail">
				<div class="row">
					<!-- <div class="col-md-4 ngSelect" formGroupName="zoneNo">
						<ng-select placeholder="{{'business_under_zone' | translate:translateKey}} *"
							formControlName="code"
							(change)="onChangeZone($event);muttonFishTransferForm.get('wardNo').reset();">
							 muttonFishTransferForm.get('blockNo').reset()"
							<ng-option *ngFor="let zone of FIRM_ZONE" [value]="zone.code">{{zone.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishTransferForm.get('zoneNo').get('code')">
						</control-messages>
					</div> -->
					<!-- <div class="col-md-4 ngSelect" formGroupName="wardNo">
						<ng-select placeholder="{{'ward_no' | translate:translateKey}} *" formControlName="code">
							 (change)="onChangeWard($event);muttonFishTransferForm.get('blockNo').reset()"
							<ng-option *ngFor="let ward of WARD" [value]="ward.code">{{ward.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishTransferForm.get('wardNo').get('code')">
						</control-messages>
					</div> -->
					<!-- <div class="col-md-4 ngSelect" formGroupName="blockNo">
						<ng-select placeholder="{{'block_no' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let block of BLOCK" [value]="block.code">{{block.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishTransferForm.get('blockNo').get('code')">
						</control-messages>
					</div> -->
					<div class="col-md-4 ngSelect">
						<ng-select  placeholder="{{'business_under_zone' | translate:translateKey}} *" formControlName="zoneNo" required (change)="onChangedZone($event);">
						  <ng-option *ngFor="let zone of wardZoneLevel1List" [value]="zone.parentWardzoneId">
							{{zone.wardzoneName}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('zoneNo')"></control-messages>
					  </div>
					  <div class="col-md-4 ngSelect" >
						<ng-select required placeholder="{{'ward_no' | translate:translateKey}} *" formControlName="wardNo">
						  <ng-option *ngFor="let ward of wardZoneLevel2List" [value]="ward.wardzoneId">
							{{ward.wardzoneName}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('wardNo')"></control-messages>
					  </div>


				</div>
				<div class="row">
					<h2>{{'business_shop_address' | translate:translateKey}}</h2>

					<div class="col-md-4 ngSelect" formGroupName="statusOfBusinessId">
						<ng-select placeholder="{{'business_address_type' | translate:translateKey}} *"
							formControlName="code" (change)="onChangeStatusOfBusiness($event,true)">
							<ng-option *ngFor="let statusId of MEATFISH_STATUS_OF_BUSINESS" [value]="statusId.code">
								{{statusId.name}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('statusOfBusinessId').get('code')">
						</control-messages>
					</div>

					<app-address #temporaryAddressEstablishment [requiredFeilds]="true"
						[addressFormGroup]="businessDetail.get('businessAddress')"></app-address>
				</div>

				<div class="row">
					<!-- <h2>{{'category_label' | translate:translateKey}}</h2> -->

					<!-- <mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="500"
							placeholder="{{'extra_details_of_business' | translate:translateKey}}"
							formControlName="extraDetailsOfBusiness">
						<control-messages [control]="muttonFishTransferForm.get('extraDetailsOfBusiness')">
						</control-messages>
					</mat-form-field> -->
					<!-- <div class="col-md-6 ngSelect" formGroupName="relationshipId">
						<ng-select placeholder="{{'relationship_id' | translate:translateKey}} *" formControlName="code"
							(change)="onChangeRelationWithOrg()">
							<ng-option *ngFor="let id of MF_RELATIONSHIP_OF_APPLICANT" [value]="id.code">{{id.name}}
							</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishTransferForm.get('relationshipId').get('code')">
						</control-messages>
					</div> -->
				</div>

				<div class="row">
					<div class="col-md-10">
						<h2 *ngIf="businessDetail.get('statusOfBusinessId').value.code == 'PROPRIETORSHIPFIRM'">
							{{ 'if_shop_is_in_properitership' | translate:translateKey}}</h2>
						<h2 *ngIf="businessDetail.get('statusOfBusinessId').value.code == 'PARTNERSHIPFIRM'">
							{{ 'if_shop_is_in_partnership' | translate:translateKey}}</h2>
					</div>
					<div class="col-md-2 pt-3 text-right">
						<button type="button" *ngIf="muttonFishTransferForm.get('canEdit').value"
							[disabled]="businessDetail.get('statusOfBusinessId').value.code ? businessDetail.get('statusOfBusinessId').value.code =='PROPRIETORSHIPFIRM' ? !(businessDetail.get('relationshipList').length < 1) : !(businessDetail.get('relationshipList').length < 10) : true"
							matTooltip="{{'add_more' | translate:translateKey}}" mat-raised-button color="primary"
							(click)="addMorePerson('MF_PERSON')">{{'add'| translate:translateKey}}</button>
					</div>
				</div>

				<div *ngIf="businessDetail.get('relationshipList')['controls'].length" class="mb-2">
					<div *ngIf = "istable == true ">
					<table class="table table-striped mb-0 responsiveTableRow">
						<thead>
							<tr class="mo-d-none">
								<th>Sr. No.</th>
								<th>{{'name' | translate:translateKey}}</th>
								<th>{{'address' | translate:translateKey}}</th>
								<th>{{'mobile_no' | translate:translateKey}}</th>
								<th *ngIf="muttonFishTransferForm.get('canEdit').value"></th>
							</tr>
						</thead>

						<tbody formArrayName="relationshipList" class="listTable clearfix">
							<tr *ngFor="let item of businessDetail.get('relationshipList')['controls']; let indx = index;"
								[formGroupName]="indx">

								<td>
									<div class="d-md-none">#</div>
									{{indx+1}}
								</td>

								<td>
									<!-- <div class="d-md-none">{{'name' | translate:translateKey}}</div> -->
									<div *ngIf="!item.isEditMode">{{item.get('name').value}}</div>
									<mat-form-field *ngIf="item.isEditMode">
										<input matInput maxlength="50" appValidationFields
											[validationFieldsType]="'onlyNameWithSpace'" formControlName="name"
											placeholder="{{'name' | translate:translateKey}}*">
										<control-messages [control]="item.get('name')"></control-messages>
									</mat-form-field>
								</td>

								<td>
									<!-- <div class="d-md-none">{{'address' | translate:translateKey}}</div> -->
									<div *ngIf="!item.isEditMode">{{item.get('address').value}}</div>
									<mat-form-field *ngIf="item.isEditMode">
										<input matInput maxlength="100"
											placeholder="{{'address' | translate:translateKey}}*"
											formControlName="address">
										<control-messages [control]="item.get('address')">
										</control-messages>
									</mat-form-field>
								</td>

								<td>
									<!-- <div class="d-md-none">{{'mobile_no' | translate:translateKey}}</div> -->
									<div *ngIf="!item.isEditMode">{{item.get('mobileNo').value}} &nbsp;
									</div>
									<mat-form-field *ngIf="item.isEditMode">
										<input matInput maxlength="11" OnlyNumber formControlName="mobileNo"
											placeholder="{{'mobile_no' | translate:translateKey}}">
										<control-messages [control]="item.get('mobileNo')">
										</control-messages>
									</mat-form-field>
								</td>
								<td>
									<span *ngIf="muttonFishTransferForm.get('canEdit').value">
										<button mat-icon-button color="primary" *ngIf="!item.isEditMode"
											(click)="editRecord(item)">
											<mat-icon title="Edit">edit</mat-icon>
										</button>
										<button type="submit" [disabled]="item.invalid" *ngIf="item.isEditMode"
											(click)="saveRecord(item)" mat-icon-button color="primary">
											<mat-icon title="save">save</mat-icon>
										</button>
									</span>
									<span *ngIf="muttonFishTransferForm.get('canEdit').value">
										<button mat-icon-button color="warn" *ngIf="!item.isEditMode"
											(click)="deleteRecord(indx)">
											<mat-icon title="Delete">delete</mat-icon>
										</button>
										<button mat-icon-button color="warn" *ngIf="item.isEditMode"
											(click)="cancelRecord(item,indx)">
											<mat-icon title="Delete">cancel</mat-icon>
										</button>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<!-- end table -->
				<app-action-bar [form]="muttonFishTransferForm"
					(tabIndex)="licenseConfiguration.onTabChange($event, businessDetail, muttonFishTransferForm)"
					[stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>
			</form>
			</mat-tab>
			<!-- step 2 Ends -->
			<!-- step 4 Attachment Starts -->
			<mat-tab disabled>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
                <form [formGroup]="attachmentDetails">
				<div class="row">
					<!-- muttonFishTransferForm.get('serviceDetail').get('serviceUploadDocuments').value
					| filterAttachmentMF:muttonFishTransferForm.get('statusOfBusinessId').value.code-->
					<ng-container *ngFor="let doc of uploadFileArray ">
						<div class="col-md-4"
							*ngIf="doc.requiredOnCitizenPortal && doc.isActive && licenseConfiguration.isAttachmentButtonsVisible">
							<label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn :
								doc.documentLabelGuj }}
								<span *ngIf="doc.mandatory" class="mandatory">*</span></label>
							<file-upload [form]="muttonFishTransferForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>

				<app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="mandatoryUploadFileArray"
					[form]="muttonFishTransferForm" (handleErrors)="handleErrorsOnSubmit($event)"
					(tabIndex)="licenseConfiguration.onTabChange($event,attachmentDetails,muttonFishTransferForm) "
					[stepInfo]="{step: 'final', next:3, back:1} "></app-action-bar>

				</form>
			</mat-tab>
			<!-- step Attachment Ends -->
			<select-payment-gateway #paymentGateway></select-payment-gateway>
		</mat-tab-group>
	<!-- {{ muttonFishTransferForm.value | json }} -->
</mat-card>