<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Town Hall</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="townHallBookingForm" (ngSubmit)="onSubmitTownHallBookingForm(townHallBookingForm.value)" autocomplete="off"
              ngNativeValidate>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name of the organisation">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Address of organisation"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input type="tel" matInput placeholder="Telephone Number (organisation)">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name of the applicant">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Address of applicant"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input type="tel" matInput placeholder="Mobile Number (applicant)">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input type="tel" matInput placeholder="Confirm Mobile Number">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input type="email" matInput placeholder="Email Id">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input type="email" matInput placeholder="Confirm Email Id">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Relationship of applicant  with organization">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="organization president name">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="organization president address">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Purpose of programe with full details"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Name and short details of the programe to be perform on stage"></textarea>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select Bank">
                      <mat-option [value]="bankName">Bank Name</mat-option>
                      <mat-option [value]="acNo">Account No.</mat-option>
                      <mat-option [value]="IFSCCode">IFSC Code</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account Number">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="IFSC Code">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-checkbox>I agree with above Bank details are correct</mat-checkbox>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-checkbox>I have read and agree with terms and conditions</mat-checkbox>
                </div>
              </div>


              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Confirm and pay now</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Back</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>