    <!-- <app-title-bar [title]="'screen_title' | translate:'MyApplicationScreen'"></app-title-bar> -->
<div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || resultsLength==0">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            
            <div class="noApplication" *ngIf="resultsLength==0">
                    <img src="assets/icons/no-application-found.png" alt=""><br>
                     No Application Found
                     <span class="noActi">It seems, No activity happed yet</span>
                     <a mat-raised-button class="mat-primary" routerLink=".">Create Application</a>
               </div> 

        </div>


        <table mat-table #table [dataSource]="dataSource" class="myApplication" matSort matSortActive="created" matSortDisableClear
            matSortDirection="asc">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row; let i = index;">{{ paginator.pageIndex==0?i+1:((paginator.pageIndex+1)*10)+(i+1) }}</td>
            </ng-container>

            <ng-container matColumnDef="applicantName">
                <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
                <td mat-cell *matCellDef="let row">{{ row.applicantName }}</td>
            </ng-container>

            <ng-container matColumnDef="fileNumber">
                <th mat-header-cell *matHeaderCellDef>File Number</th>
                <td mat-cell *matCellDef="let row">{{ row.fileNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="fileStatus">
                <th mat-header-cell *matHeaderCellDef>File Status</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <mat-chip-list>
                        <span class="{{getFileStatusClass(row.fileStatus)}}" selected="true">{{ row.fileStatus}}</span>
                        <span class="badge badge-warning text-label ml-2" *ngIf="(row.fileStatus === 'SUBMITTED' && row.serviceDetail.appointmentRequired == true)"
                            (click)="redirectAppointment(row.serviceDetail.code, row.serviceFormId)" selected="true">
                            Appointment
                        </span>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="serviceType">
                <th mat-header-cell *matHeaderCellDef>Service Name</th>
                <td mat-cell *matCellDef="let row">{{ row.serviceDetail.name }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [disabled]="!row.canEdit" color="primary" (click)="redirectToEdit(row.serviceDetail.code, row.serviceFormId)">
                        <mat-icon title="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="!row.canDelete" color="primary" (click)="deleteRecord(row.serviceDetail.code, row.serviceFormId)">
                        <mat-icon title="Delete">delete</mat-icon>
                    </button>
                    <!-- <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="Delete" [popoverMessage]="Are you sure?" placement="left" (confirm)="deleteRecord(row.serviceDetail.code, row.serviceFormId)" (cancel)="">
                        <mat-icon title="Delete">delete</mat-icon>
                    </button> -->
                    <!-- <button mat-icon-button [disabled]="!row.canSubmit" [style.color]="'#4CAF50'" (click)="submitRecord(row.serviceDetail.code, row.serviceDetail.name, row.serviceFormId)">
                        <mat-icon title="Submit">done_all</mat-icon>
                    </button> -->
                    <button mat-icon-button [disabled]="row.canSubmit" color="primary" (click)="redirectToEdit(row.serviceDetail.code, row.serviceFormId)">
                        <mat-icon title="Application Preview">remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="row.canSubmit" color="primary" (click)="printReceipt(row.serviceDetail.code, row.serviceDetail.name, row.serviceFormId)">
                        <mat-icon title="Print Receipt">print</mat-icon>
                    </button>

                    <button mat-icon-button data-toggle="modal" color="primary" (click)="openModal(template);jsonDisplay(row.serviceDetail.code, row.serviceDetail.name, row.serviceFormId)">
                        <mat-icon title="JSON Format">center_focus_weak</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize">
        </mat-paginator>
    </div>

    <!-- The Modal -->
    <ng-template #template>
        <div class="modal-header">
            <div class="col-9">
                <h5 class="modal-title pull-left">Application JSON</h5>
            </div>
            <div class="col-2">
                <button class="pull-left mat-icon-button" (click)="copyText(copytext)">
                    <mat-icon title="Copy to Clipboard">content_copy</mat-icon>
                </button>
            </div>
            <div class="col-1">
                <button title="Close" class=" mat-icon-button" aria-label="Close" (click)="modalRef.hide()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <textarea type="text" readonly class="text-left textjson" value="{{JSONdata}}" #copytext> 
                    </textarea>
                </div>
            </div>
            <!-- <pre class="text-left" #copytext style="color: #9cdcfe;background: #212529;overflow: hidden">{{JSONdata}}</pre> -->
        </div>
    </ng-template>




