<div class="container">
    <app-title-bar [title]="'screen_title' | translate:'MyApplicationScreen'"></app-title-bar>
    <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || resultsLength==0">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="resultsLength==0">
                No record(s) found!
            </div>
        </div>

        <table mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row; let i = index;">{{ paginator.pageIndex==0?i+1:((paginator.pageIndex+1)*10)+(i+1) }}</td>
            </ng-container>

            <ng-container matColumnDef="applicantName">
                <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
                <td mat-cell *matCellDef="let row">{{ row.applicantName }}</td>
            </ng-container>

            <ng-container matColumnDef="fileNumber">
                <th mat-header-cell *matHeaderCellDef>File Number</th>
                <td mat-cell *matCellDef="let row">{{ row.fileNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="fileStatus">
                <th mat-header-cell *matHeaderCellDef>File Status</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <mat-chip-list>
                        <span class="{{getFileStatusClass(row.fileStatus)}}" selected="true">{{ row.fileStatus}}</span>
                        <span class="badge badge-warning text-label ml-2" *ngIf="(row.fileStatus === 'SUBMITTED' && row.serviceDetail.appointmentRequired == true)" (click)="redirectAppointment(row.serviceDetail.code, row.serviceFormId)" selected="true">
                            Appointment
                        </span>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="serviceType">
                <th mat-header-cell *matHeaderCellDef>Service Name</th>
                <td mat-cell *matCellDef="let row">{{ row.serviceDetail.name }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [disabled]="!row.canEdit" color="primary" (click)="redirectToEdit(row.serviceDetail.code, row.serviceFormId)">
                        <mat-icon title="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="!row.canDelete" color="warn" (click)="deleteRecord(row.serviceDetail.code, row.serviceFormId)">
                        <mat-icon title="Delete">delete</mat-icon>
                    </button>
                    <!-- <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="Delete" [popoverMessage]="Are you sure?" placement="left" (confirm)="deleteRecord(row.serviceDetail.code, row.serviceFormId)" (cancel)="">
                        <mat-icon title="Delete">delete</mat-icon>
                    </button> -->
                    <!-- <button mat-icon-button [disabled]="!row.canSubmit" [style.color]="'#4CAF50'" (click)="submitRecord(row.serviceDetail.code, row.serviceDetail.name, row.serviceFormId)">
                        <mat-icon title="Submit">done_all</mat-icon>
                    </button> -->
                    <button mat-icon-button [disabled]="row.canSubmit" (click)="redirectToEdit(row.serviceDetail.code, row.serviceFormId)">
                        <mat-icon title="Application Preview">remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="row.canSubmit" (click)="printReceipt(row.serviceDetail.code, row.serviceDetail.name, row.serviceFormId)">
                        <mat-icon title="Print Receipt">print</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize">
        </mat-paginator>
    </div>
</div>