<!-- My Bookings Title Bar -->
<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<!-- Search Bookings By providing filter details -->
<mat-card class="mb-4">
  <form [formGroup]="searchBookingsForm" (ngSubmit)="getAllBooking()" autocomplete="off" ngNativeValidate>
    <div class="row">
      <div class="col-md-4 ngSelect">
        <ng-select placeholder="{{'select_booking_resources' | translate:translateKey}} *" formControlName="resourceType"
          (change)="selectBookingResource($event)">
          <ng-option *ngFor="let resource of resources" [value]="resource.type">
            {{ resource.name }}
          </ng-option>
        </ng-select>
        <control-messages [control]="searchBookingsForm.get('resourceType')">
        </control-messages>
      </div>
      <mat-form-field class="col-md-4">
        <input matInput maxlength="50" type="text" formControlName="refNumber"
          placeholder="{{'ref_number' | translate: translateKey}}" trim="blur">
        <control-messages [control]="searchBookingsForm.get('refNumber')"></control-messages>
      </mat-form-field>
      <div class="col-md-4">
        <button mat-stroked-button color="primary" class="mt-2 w-100" type="submit">
          {{'search' | translate:translateKey}}
        </button>
      </div>
    </div>
  </form>
</mat-card>

<!-- If Bookings Not Found -->
<div class="noApplication" *ngIf="resultsLength==0 && !isLoadingResults &&showReport">
  <img src="assets/icons/no-application-found.png" alt="">
  <br> {{'no_bookings_found' | translate:translateKey}}
  <!--<span class="noActi">{{'no_activity' | translate:translateKey}}</span>
    <a mat-stroked-button class="mat-primary" routerLink="../../dashboard">
      {{'create_bookings' | translate:translateKey}}
    </a>-->
</div>

<!-- My Bookings data table -->
<div class="hideOnPrint" [hidden]="resultsLength==0">

  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div> -->
  <div class="table-responsive">
    <table mat-table class="myBookings" [dataSource]="bookingList" matSort matSortActive="created" matSortDisableClear
      matSortDirection="asc">

      <ng-container matColumnDef="id">
        <mat-header-cell class="wMatCell80" *matHeaderCellDef>{{'s_no' | translate:translateKey}}</mat-header-cell>
        <mat-cell class="wMatCell80" *matCellDef="let element;let indx=index;">
          <div class="mobile-label">{{'s_no' | translate:translateKey}}</div>
          <div class="mobile-label1">:</div>
          <div class="row-inside"> {{(paginator.pageIndex * paginator.pageSize) + (indx+1)}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="applicantName">
        <mat-header-cell  *matHeaderCellDef>
          {{ (isAmphi == true ? 'schoolAndOrg_name' : 'applicant_name') | translate: translateKey}}
          <!-- {{'applicant_name' | translate:translateKey}} -->
        </mat-header-cell>
        <mat-cell  *matCellDef="let element;">
          {{element.applicantName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bookingType">
        <mat-header-cell class="wMatCell250" *matHeaderCellDef>
          {{'booking_type' | translate:translateKey}}
        </mat-header-cell>
        <mat-cell class="wMatCell250" *matCellDef="let element;">
          {{element.bookingType}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="refNumber">
        <mat-header-cell  class="wMatCell250" *matHeaderCellDef> {{'booking_number' | translate:translateKey}}</mat-header-cell>
        <mat-cell   class="wMatCell250" *matCellDef="let element;">
          <div class="mobile-label">{{'booking_number' | translate:translateKey}}</div>
          <div class="mobile-label1">:</div>
          <div class="row-inside">{{element.refNumber}}</div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bookingDate">
        <mat-header-cell class="wMatCell150" *matHeaderCellDef> {{'date_of_booking' | translate:translateKey}}
        </mat-header-cell>
        <mat-cell class="wMatCell150" *matCellDef="let element;">
          <div class="mobile-label">{{'date_of_booking' | translate:translateKey}}</div>
          <div class="mobile-label1">:</div>
          <div class="row-inside">
            {{element.bookingDate}}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell class="wMatCell190" *matHeaderCellDef> {{'booking_status' | translate:translateKey}}
        </mat-header-cell>
        <mat-cell class="wMatCell190" *matCellDef="let element;">
          <div class="mobile-label">{{'booking_status' | translate:translateKey}}</div>
          <div class="mobile-label1">:</div>
          <div class="row-inside">
            {{bookingUtils.getProperErrorMessage(element.status)}}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell class="wMatCell200 cellLast" *matHeaderCellDef> {{'actions' | translate:translateKey}}
        </mat-header-cell>
        <mat-cell class="wMatCell200 cellLast" *matCellDef="let element;">
          <div class="mobile-label">{{'actions' | translate:translateKey}}</div>
          <div class="mobile-label1">:</div>
          <button *ngIf="enableMoreAction(element)" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">

            <div
              *ngIf="(element.status == bookingConstant.SUBMITTED && element.bookingType == 'Advance booking' && element.formCharges == null)">
              <button mat-menu-item color="primary" (click)="paymentRequest(element)">
                <mat-icon title="Print Receipt" color="primary">payment</mat-icon>
                {{'make_payment' | translate:translateKey}}
              </button>
            </div>
            <!--Print Receipt for Atithigruh Form Charges 150-->
            <div>
              <button
                *ngIf="(element.resourceType == 'ATITHIGRUH' && element.status == bookingConstant.BOOKED && element.formCharges !== null || (element.status == bookingConstant.SUBMITTED && element.bookingType == 'Advance booking' && element.formCharges !== null))"
                mat-menu-item color="primary" (click)="printReceipt(element, bookingConstant.FORM_CHARGES)">
                <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                {{'form_charges_receipt' | translate:translateKey}}
              </button>
            </div>

            <div>
              <button
                *ngIf="(element.resourceType == 'SWIMMING_POOL'  && (element.status == bookingConstant.SUBMITTED || element.status == bookingConstant.BOOKED || (element.status == bookingConstant.PAYMENT_REQUIRED && element.bookingType == 'Advance booking')) && element.formCharges !== null)"
                mat-menu-item color="primary"
                (click)="printReceipt(element, bookingConstant.SWIMMING_POOL_ADMISSION_FEES)">
                <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                {{'form_charges_receipt' | translate:translateKey}}
              </button>
            </div>

            <div *ngIf="(element.status != bookingConstant.SUBMITTED)">

              <button
                *ngIf="element.status == bookingConstant.PAYMENT_REQUIRED || ((element.resourceType === 'TOWNHALL' || element.resourceType === 'ATITHIGRUH')  && element.status == bookingConstant.DEPOSIT_REQUIRED)"
                mat-menu-item color="primary" (click)="paymentRequest(element)">
                <mat-icon title="Print Receipt" color="primary">payment</mat-icon>
                {{'make_payment' | translate:translateKey}}
              </button>

              <button mat-menu-item
                *ngIf="(element.status === 'SCRUTINY' && element.payableServiceType !== 'STADIUM_DEPOSIT')"
                color="primary" (click)="loiPayments(element)">
                <mat-icon title="Make Payment" color="primary">payment</mat-icon>
                {{'make_payment' | translate:translateKey}}
              </button>

              <!-- Deposit Payment Call -->
              <button
                *ngIf="element.resourceType === 'STADIUM' && element.status == bookingConstant.DEPOSIT_REQUIRED || (element.payableServiceType== 'STADIUM_DEPOSIT' && element.status === 'SCRUTINY')"
                mat-menu-item color="primary" (click)="loiPayments(element)">
                <mat-icon title="Deposit Payment" color="primary">payment</mat-icon>
                {{'deposit_payment' | translate:translateKey}}
              </button>

              <div *ngIf="element.resourceType== 'TOWNHALL'">
                <button *ngIf="showRecieptReprint(element)" mat-menu-item color="primary" (click)="printReceipt(element, element.payableServiceType=this.bookingConstant.TOWNHALL_FEES)">
                   <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                   {{'receipt_reprint' | translate:translateKey}}
               </button>
                </div>

              <button *ngIf="element.resourceType == 'SWIMMING_POOL' &&
                element.status === this.bookingConstant.BOOKED" mat-menu-item color="primary"
                (click)="printReceiptSwimmingFees(element, 'SWIMMING_POOL_FEES')">
                <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                {{'receipt_reprint' | translate:translateKey}}
              </button>

              <div *ngIf="element.resourceType!= 'TOWNHALL'">
              <button *ngIf="showRecieptReprint(element)" mat-menu-item color="primary"
                (click)="printReceipt(element, element.payableServiceType)">
                <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                {{'receipt_reprint' | translate:translateKey}}
              </button>
              </div>
              <!-- Recepit Re-print Call -->
              <!-- TODO We'll changes AS PER REQUIREMENT-->
              <div *ngIf="element.resourceType!= (bookingConstant.TOWNHALL_RESOURCE_TYPE | uppercase)">
                <button
                  *ngIf="element.resourceType == (bookingConstant.TOWNHALL_RESOURCE_TYPE | uppercase) && element.status != bookingConstant.DEPOSIT_REQUIRED && element.status != bookingConstant.PPL_REQUIRED && element.status != bookingConstant.PAYMENT_REQUIRED && element.status != bookingConstant.CANCELLATION_REQUEST"
                  mat-menu-item color="primary" (click)="printReceipt(element, bookingConstant.TOWNHALL_DEPOSIT)">
                  <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                  {{'deposit_receipt' | translate:translateKey}}
                </button>
              </div>

              <div *ngIf="showStadiumDepositReceiptBtn(element)">
                <button mat-menu-item color="primary" (click)="printReceipt(element, bookingConstant.STADIUM_DEPOSIT)">
                  <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                  {{'deposit_receipt' | translate:translateKey}}
                </button>
              </div>

              <div *ngIf="showTownhallDepositReceiptBtn(element)">
                <button mat-menu-item color="primary" (click)="printReceipt(element, bookingConstant.TOWNHALL_DEPOSIT)">
                  <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                  {{'deposit_receipt' | translate:translateKey}}
                </button>
              </div>

              <div *ngIf="showAtithigruhDepositReceiptBtn(element)">
                <button mat-menu-item color="primary"
                  (click)="printReceipt(element, bookingConstant.ATITHIGURH_DEPOSIT)">
                  <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                  {{'deposit_receipt' | translate:translateKey}}
                </button>
              </div>

              <div *ngIf="element.resourceType == 'SWIMMING_POOL'">
                <button
                  *ngIf="element.resourceType == 'SWIMMING_POOL' && element.status == bookingConstant.PAYMENT_REQUIRED && element.showDownloadLOI"
                  mat-menu-item color="primary" (click)="printReceiptSwimming(element)">
                  <mat-icon title="Print Receipt" color="primary">print</mat-icon>Download LOI
                </button>
              </div>

              <!-- Recepit Re-print For Atithi Deposit -->
              <!-- Hide deposit receipt for Atithigruh as there is no separate payment for Atithigruh deposit payment in citizen -->

              <!-- <button *ngIf="showAtithiDepositReceiptBtn(element)" mat-menu-item color="primary"
                (click)="printReceipt(element, bookingConstant.ATITHIGURH_DEPOSIT)">
                <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                {{'deposit_receipt' | translate:translateKey}}
              </button> -->

              <button
                *ngIf="element.status == bookingConstant.PPL_REQUIRED && element.status != bookingConstant.CANCELLATION_REQUEST && element.status != bookingConstant.PAYMENT_REQUIRED"
                mat-menu-item color="primary" (click)="printPolicePerformanceLicense(element)">
                <mat-icon title="Police Performance license" color="primary">print</mat-icon>
                {{'police_performance_license' | translate:translateKey}}
              </button>

              <button *ngIf="element.resourceType != 'TOWNHALL' && showCancelBtn(element)" mat-menu-item data-toggle="modal" color="primary"
                (click)="openModal(templateRequestModel, element.scheduleList, element.refNumber,element);">
                <mat-icon title="View Booking Details" color="primary">cancel</mat-icon>
                {{'cancel_booking' | translate:translateKey}}
              </button>

              <div *ngIf="element.resourceType == 'TOWNHALL'">
              <button *ngIf="showCancelBtnTownhall(element)" mat-menu-item data-toggle="modal" color="primary"
              (click)="openModal(templateRequestModel, element.scheduleList, element.refNumber,element);">
              <mat-icon title="View Booking Details" color="primary">cancel</mat-icon>
              {{'cancel_booking' | translate:translateKey}}
            </button>
          </div>

              <!-- Make Cancelation Call for Advance booking-->
              <button *ngIf="showCancelAdvanceBooking(element)" mat-menu-item color="primary"
                (click)="cancelAdvanceBooking(element)">
                <mat-icon title="Print Receipt" color="primary">payment</mat-icon>
                {{'cancel_advance_booking' | translate:translateKey}}
              </button>

              <!-- -->
              <button *ngIf="checkingBookingDateWithCurrentDate(element)" mat-menu-item color="primary"
                (click)="depositRefundRequest(element)">
                <mat-icon title="send" color="primary">send</mat-icon>
                {{'refund_request' | translate:translateKey}}
              </button>

              <button mat-menu-item *ngIf="element.status == bookingConstant.CANCELLATION_APPROVED" data-toggle="modal"
                color="primary" (click)="cancellationApproveReport(element.refNumber)">
                <mat-icon title="Print Receipt" color="primary">print</mat-icon>
                {{'approved_receipt_reprint' | translate:translateKey}}
              </button>

              <button mat-menu-item
                *ngIf="element.status == 'REJECTED' && (element.resourceType === 'SWIMMING_POOL' || element.resourceType === 'STADIUM' || element.resourceType === 'SHOOTING_PERMISSION' || element.resourceType === 'CHILDREN_THEATER')"
                data-toggle="modal" color="primary"
                (click)="openRejectedModel(templateRejectModel, element, element.refNumber);">
                <mat-icon title="View Booking Details" color="primary">details</mat-icon>
                {{'details' | translate:translateKey}}
              </button>
            </div>

            <button *ngIf="acknowledgmentReceipt(element)" mat-menu-item color="primary"
              (click)="printAcknowledge(element.refNumber)">
              <mat-icon title="Print Receipt" color="primary">print</mat-icon>
              {{'acknowledgement_reprint' | translate:translateKey}}
            </button>

            <button
              *ngIf="(element.status == bookingConstant.PAYMENT_REQUIRED && element.resourceType == 'SWIMMING_POOL')"
              mat-menu-item color="primary" (click)="printAcknowledge(element.refNumber)">
              <mat-icon title="Print Receipt" color="primary">print</mat-icon>
              {{'acknowledgement_reprint' | translate:translateKey}}
            </button>

            <button
              *ngIf="element.status == bookingConstant.SCRUTINY && (element.resourceType == 'STADIUM' || element.resourceType == 'CHILDREN_THEATER' || element.resourceType == 'SHOOTING_PERMISSION')"
              mat-menu-item color="primary" (click)="printLOIReceipt(element.refNumber)">
              <mat-icon title="Print Receipt" color="primary">print</mat-icon>
              {{'loi_download' | translate:translateKey}}
            </button>

            <button
              *ngIf="(element.resourceType == 'STADIUM' || element.resourceType == 'CHILDREN_THEATER') && element.status == 'REFUND_APPROVED'"
              mat-menu-item color="primary" (click)="refundAcknowledgemnt(element.refNumber,element.resourceType)">
              <mat-icon title="Print Receipt" color="primary">print</mat-icon>
              {{ (element.resourceType == 'STADIUM' ? 'refund_receipt' : 'refund_acknowledgment') | translate:translateKey}}
            </button>


            <button
              *ngIf="element.resourceType == 'ATITHIGRUH' && (element.status == 'CANCELLED' || element.status == 'CANCELLATION_APPROVED')"
              mat-menu-item color="primary" (click)="remarksModal(rejectTemplate);remarks(element)">
              <mat-icon class="m-1" title="Why Rejected?">help_outline</mat-icon>
              {{'cancellation_remark' | translate:translateKey}}
            </button>

            <!-- <button mat-menu-item color="primary" (click)="openJSONModal(template);jsonDisplay(element)">
              <mat-icon class="m-1" title="{{'application_json' | translate:translateKey}}">center_focus_weak</mat-icon>
              {{'application_json' | translate:translateKey}}
            </button> -->

          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
  <mat-paginator showFirstLastButtons [hidden]="resultsLength==0" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="resultsLength">
  </mat-paginator>
</div>


<!-- The Cancel Request Modal -->
<ng-template #templateRequestModel>

  <div class="modal-header customthead">
    <h4 class="modal-title pull-left">{{'list_slots' | translate:translateKey}}</h4>
    <div>
      <button title="Close" class=" mat-icon-button" aria-label="Close" (click)="modalReqRef.hide()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="modal-body scrollModel">

    <table class="table table-bordered">
      <thead class="customthead">
        <tr>
          <th scope="col"> {{'s_no' | translate:translateKey}}</th>
          <th *ngIf="!isBookingNoSlotNo" scope="col">
            {{'slot_or_shift_no' | translate:translateKey}}
          </th>
          <th *ngIf="isBookingNoSlotNo" scope="col">
            {{'booking_number' | translate:translateKey}}
          </th>
          <th scope="col"> {{'date_of_programme' | translate:translateKey}}</th>
          <th scope="col"> {{'day_of_programme' | translate:translateKey}}</th>
          <th scope="col"> {{'start_time' | translate:translateKey}}</th>
          <th scope="col">{{'end_time' | translate:translateKey}}</th>
          <th scope="col">{{'shift' | translate:translateKey}}</th>
          <th scope="col">{{'booking_status' | translate:translateKey}}</th>
          <th scope="col" class="text-center">
            {{'actions' | translate:translateKey}}
            <mat-checkbox labelPosition="after"
              [disabled]="getAllDisabled() || bookingService.resourceType == 'childrenTheater' ||isAmphiCancellation"
              [checked]="getAllSelected()" (change)="chooseAllForCancel($event.checked)">
              {{'select_all' | translate:translateKey}}
            </mat-checkbox>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shifts of CancelSlotList; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td *ngIf="!isBookingNoSlotNo">
            {{shifts.bookingNo?shifts.bookingNo : 'NA'}}
          </td>
          <td *ngIf="isBookingNoSlotNo">
            {{refNumber}}
          </td>
          <td>{{bookingUtils.returnProperDate(shifts.bookingDate)}}</td>
          <td>{{bookingUtils.getDay(shifts.bookingDate)}}</td>
          <td>{{shifts.startTime}}</td>
          <td>{{shifts.endTime}}</td>
          <td>{{shifts.shiftType == 'NONE' ? 'NA' : shifts.shiftType}}</td>
          <td>{{bookingUtils.getProperErrorMessage(shifts.status)}}</td>
          <td>
            <mat-checkbox
              [disabled]="(shifts.status == bookingConstant.CANCELLATION_REQUEST || shifts.status == bookingConstant.CANCELLATION_APPROVED || bookingService.resourceType == 'childrenTheater' ||isAmphiCancellation)"
              [checked]="getSelected(shifts.bookingNo) || (shifts.status == bookingConstant.CANCELLATION_REQUEST || shifts.status == bookingConstant.CANCELLATION_APPROVED)"
              (change)="chooseForCancel(shifts, $event.checked)">
            </mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer customthead">
    <button color="white" [disabled]="CancelRequestList.length == 0"
      title="{{'cancel_request' | translate:translateKey}}" mat-stroked-button (click)="RequestCancel()">
      <mat-icon>check_circle_outline</mat-icon>
      {{'cancel_request' | translate:translateKey}}
    </button>
  </div>

</ng-template>

<!-- The Cancel Response Modal -->
<ng-template #templateResponseModel>
  <div class="modal-header customthead">
    <h4 class="modal-title pull-left">{{'list_cancellable_slot' | translate:translateKey}}</h4>
    <div>
      <button title="Close" class=" mat-icon-button" aria-label="Close" (click)="modalResRef.hide()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-body scrollModel">

    <table class="table table-bordered">
      <thead class="customthead">
        <tr>
          <th scope="col">{{'s_no' | translate:translateKey}}</th>
          <th scope="col">{{'booking_no' | translate:translateKey}}</th>
          <th scope="col">{{'date_of_programme' | translate:translateKey}}</th>
          <th scope="col">{{'day_of_programme' | translate:translateKey}}</th>
          <th scope="col">{{'shift' | translate:translateKey}}</th>
          <th scope="col">{{'cancellable' | translate:translateKey}}</th>
          <th scope="col">{{'err_message' | translate:translateKey}}</th>
          <th scope="col"> {{'refundable' | translate:translateKey}}</th>
          <th scope="col">{{'refundable_amount' | translate:translateKey}}</th>
          <th scope="col">{{'booking_status' | translate:translateKey}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shifts of CancelResponseList; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td>{{shifts.bookingNo}}</td>
          <td>{{bookingUtils.returnProperDate(shifts.bookingDate)}}</td>
          <td>{{bookingUtils.getDay(shifts.bookingDate)}}</td>
          <td>{{shifts.shiftType}}</td>
          <td>{{shifts.cancellable?'YES': 'NO'}}</td>
          <td>{{shifts.errorMessage?bookingUtils.getProperErrorMessage(shifts.errorMessage):
            shifts.refundDetail?bookingUtils.getProperErrorMessage(shifts.refundDetail)
            : ""}}
          </td>
          <td>{{shifts.refundable?'YES': 'NO'}}</td>
          <td>{{shifts.refundableAmount}}</td>
          <td>{{bookingUtils.getProperErrorMessage(shifts.status)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer customthead">
    <button color="white" mat-stroked-button (click)="modalResRef.hide()">
      {{'ok' | translate:translateKey}}
    </button>
  </div>
</ng-template>

<!-- The JSON Modal -->
<ng-template #template>
  <div class="modal-header">
    <div class="col-9">
      <h5 class="modal-title pull-left">{{'application_json' | translate:translateKey}}</h5>
    </div>
    <div class="col-1">
      <button class="pull-left mat-icon-button" (click)="copyText(copytext)">
        <mat-icon title="{{'copy_clipboard' | translate:translateKey}}">content_copy</mat-icon>
      </button>
    </div>
    <div class="col-1">
      <button title="{{'close' | translate:translateKey}}" class=" mat-icon-button" aria-label="Close"
        (click)="modalJsonRef.hide()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <textarea type="text" readonly class="text-left textjson" value="{{JSONdata}}" #copytext>
                    </textarea>
      </div>
    </div>
    <!-- <pre class="text-left" #copytext style="color: #9cdcfe;background: #212529;overflow: hidden">{{JSONdata}}</pre> -->
  </div>
</ng-template>
<!-- refund bank details -->
<ng-template #templateResponseModelRefundDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'refund_bank_details' | translate:translateKey}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalResRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="refundBankDetailsForm" (ngSubmit)="submitRefundBankDetails()">
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput maxlength="50" type="text" placeholder="{{'ref_number' | translate: translateKey}}"
            trim="blur" formControlName="refNumber">
          <control-messages [control]="refundBankDetailsForm.get('refNumber')"></control-messages>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput maxlength="50" type="text" placeholder="{{'account_holder_name' | translate: translateKey}}"
            required appValidationFields [validationFieldsType]="'onlyNameWithSpace'"
            formControlName="accountHolderName">
          <control-messages [control]="refundBankDetailsForm.get('accountHolderName')"></control-messages>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-12 ngSelect" formGroupName="bank">
          <ng-select placeholder="{{'bank_name' | translate: translateKey}}" class="asteriskmarkRequired" formControlName="code">
            <ng-option *ngFor="let bank of bankLists" [value]="bank.code">{{ bank.name }}</ng-option>
            <control-messages [control]="refundBankDetailsForm.get('bank')"></control-messages>
          </ng-select>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput OnlyNumber maxlength="16" minlength="9" type="text"
            placeholder="{{'account_no' | translate: translateKey}}" required formControlName="accountNumber">
          <control-messages [control]="refundBankDetailsForm.get('accountNumber')"></control-messages>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput maxlength="11" type="text" appAlphaNumeric upperCase
            placeholder="{{'ifsc_code' | translate: translateKey}}" required formControlName="ifscCode">
          <control-messages [control]="refundBankDetailsForm.get('ifscCode')"></control-messages>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <textarea matInput type="text" readonly placeholder="{{'slot_numbers' | translate: translateKey}}" trim="blur"
            formControlName="slotBookingNo">
        <control-messages [control]="refundBankDetailsForm.get('slotBookingNo')"></control-messages>
        </textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <textarea matInput type="text" required placeholder="{{'remarks' | translate: translateKey}}" trim="blur"
            formControlName="reasonForCancellation" maxlength="255">
          <control-messages [control]="refundBankDetailsForm.get('reasonForCancellation')"></control-messages>
          </textarea>
        </mat-form-field>
      </div>
      <div class="row col-md-12">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>check_circle_outline</mat-icon>
          {{'request_for_refund'| translate: translateKey}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<select-payment-gateway #paymentGateway [applicationType]="'booking'"></select-payment-gateway>
<!-- this div is used for printing the receipt -->
<!-- changes  -->



<!-- The Cancel Request Modal -->
<ng-template #templateRejectModel>
  <div class="modal-header customthead">
    <h4 class="modal-title pull-left">Reason For Rejecting Application</h4>
    <div>
      <button title="Close" class=" mat-icon-button" aria-label="Close" (click)="modalReqRef.hide()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-body scrollModel">
    <h5><b> {{rejectedMessage}} </b></h5>
  </div>
</ng-template>


<ng-template #rejectTemplate>
  <div class="modal-header">
      <div class="col-9">
          <h5 class="modal-title pull-left">Remarks</h5>
      </div>
      <div class="col-1">
          <button class="pull-left mat-icon-button">
              <mat-icon title="{{'copy_clipboard' | translate:translateKey}}">content_copy</mat-icon>
          </button>
      </div>
      <div class="col-1">
          <button title="{{'close' | translate:translateKey}}" class=" mat-icon-button" aria-label="Close"
              (click)="modalRef.hide()">
              <mat-icon>close</mat-icon>
          </button>
      </div>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-12">
              <div type="text" readonly class="text-left remarks" [innerHtml]="getInnerHTML()" #copytext>
              </div>
          </div>
      </div>
  </div>
</ng-template>

<div id="sectionToPrint"></div>
