<div class="row">
    <div class="col-md-12">
        <h5 class="example-h2 pt-4">Property Tax</h5>
        <!--Start  form  -->
        <form [formGroup]="propertyTaxForm" (ngSubmit)="onSubmit(propertyTaxForm.value)">
            <mat-horizontal-stepper [linear]="false">

                <!-- first step start-->
                <mat-step [stepControl]="addressDetail" [label]="stepLable1">

                    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" value="25" [bufferValue]="bufferValue"></mat-progress-bar>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="PropertyNo" placeholder="{{'property_no' | translate:'ceicedforms'}}" required>
                        <mat-error *ngIf="propertyTaxForm.controls['PropertyNo'].touched && propertyTaxForm.get('PropertyNo').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="oldPropertyNo" placeholder="{{'old_property_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="referencePropertyNo" placeholder="{{'reference_property_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="serialNo" placeholder="{{'serial_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'ward_no' | translate:'ceicedforms'}}" name="ward" formControlName="ward">
                            <mat-option *ngFor="let ward of propertyWardArray" [value]="ward">{{ward.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'block_no' | translate:'ceicedforms'}}" name="block" formControlName="block">
                            <mat-option *ngFor="let block of propertyBlockArray" [value]="block">{{block.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'zone_no' | translate:'ceicedforms'}}" name="zone" formControlName="zone">
                            <mat-option *ngFor="let zone of propertyZoneArray" [value]="zone">{{zone.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="divider">
                        <p class="text-center">{{'property_address' | translate:'ceicedforms'}}</p>
                    </div>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="plotNo" placeholder="{{'plot_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="FPNo" placeholder="{{'fp_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="TPNo" placeholder="{{'tp_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="surveyNo" placeholder="{{'survey_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="buildingName" placeholder="{{'building_name' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="societyName" placeholder="{{'society_name' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="nameOfStreet" placeholder="{{'name_of_street' | translate:'ceicedforms'}}" required>
                        <mat-error *ngIf="propertyTaxForm.controls['nameOfStreet'].touched && propertyTaxForm.get('nameOfStreet').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="landMark" placeholder="{{'landmark' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="pinCode" placeholder="{{'pin_code' | translate:'ceicedforms'}}" required>
                        <mat-error *ngIf="propertyTaxForm.controls['pinCode'].touched && propertyTaxForm.get('pinCode').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-checkbox (change)="isAddressDifferent = !isAddressDifferent">Postal Address is Different than Property Address</mat-checkbox>

                    <mat-form-field class="example-full-width">
                        <textarea matInput [readonly]="isAddressDifferent" formControlName="postalAddress" placeholder="{{'postal_address' | translate:'ceicedforms'}}"></textarea>
                    </mat-form-field>

                    <div class="pt-4">
                        <button mat-raised-button type="button" color="primary" matStepperNext (click)="progressvalue = 66">{{'next' | translate:'ceicedforms'}}</button>
                    </div>

                </mat-step>
                <!-- end first step -->

                <!-- second step start-->
                <mat-step [stepControl]="ownerDetail" [label]="stepLable2">
                    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" value="50" [bufferValue]="bufferValue"></mat-progress-bar>

                    <div class="divider">
                        <p class="text-center">{{'property_owner' | translate:'ceicedforms'}}</p>
                        <p class="text-center float-right ownerClass" (click)="addMoreOwner()">{{'add_name' | translate:'ceicedforms'}}</p>
                    </div>

                    <table formArrayName="propertyOwner" class="table">
                        <thead>
                            <tr>
                                <th>{{'title' | translate:'ceicedforms'}}</th>
                                <th>{{'first_name' | translate:'ceicedforms'}}</th>
                                <th>{{'middle_name' | translate:'ceicedforms'}}</th>
                                <th>{{'last_name' | translate:'ceicedforms'}}</th>
                                <th>{{'aadhar_no' | translate:'ceicedforms'}}</th>
                                <th>{{'mobile_no' | translate:'ceicedforms'}}</th>
                                <th>{{'action' | translate:'ceicedforms'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of propertyTaxForm.get('propertyOwner').controls; let i = index;" [formGroupName]="i">
                                <td>
                                    <select class="form-control" formControlName="title">
                                        <option value="mr">Mr.</option>
                                        <option value="mrs">Mrs.</option>
                                        <option value="miss">Miss.</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="firstName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="middleName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="aadharNo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="mobileNo">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="removeOwner(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="divider">
                        <p class="text-center">{{'property_detail' | translate:'ceicedforms'}}</p>
                    </div>

                    <mat-form-field>
                        <mat-select placeholder="{{'property_type' | translate:'ceicedforms'}}" name="propertyType" formControlName="propertyType">
                            <mat-option *ngFor="let type of propertyTypeArray" [value]="type">{{type.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.controls['propertyType'].touched && propertyTaxForm.get('propertyType').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'property_sub_type' | translate:'ceicedforms'}}" name="propertySubType" formControlName="propertySubType">
                            <mat-option *ngFor="let type of propertySubTypeArray" [value]="type">{{type.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.controls['propertySubType'].touched && propertyTaxForm.get('propertySubType').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="tikkaNo" placeholder="{{'tikka_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="tikkaDate" placeholder="{{'tikka_date' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="buildingPermNo" placeholder="{{'building_permission_no' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="buildingPermDate" placeholder="{{'building_permission_date' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="occupancyCertDate" placeholder="{{'occupancy_certificate_date' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'water_with_in_zone' | translate:'ceicedforms'}}" name="withinWaterZone" formControlName="withinWaterZone">
                            <mat-option value="YES">Yes</mat-option>
                            <mat-option value="NO">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.get('withinWaterZone').touched && propertyTaxForm.get('withinWaterZone').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'is_building_high_rise' | translate:'ceicedforms'}}" name="highRise" formControlName="highRise">
                            <mat-option value="YES">Yes</mat-option>
                            <mat-option value="NO">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.get('highRise').touched && propertyTaxForm.get('highRise').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="landClass" placeholder="{{'land_class' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <div class="pt-4">
                        <button mat-raised-button type="button" color="disabled" matStepperPrevious>{{'back' | translate:'ceicedforms'}}</button>
                        <button mat-raised-button type="button" color="primary" matStepperNext (click)="progressvalue = 100">{{'next' | translate:'ceicedforms'}}</button>
                    </div>

                </mat-step>
                <!-- second step end-->

                <!-- third step start-->
                <mat-step [stepControl]="unitDetail" [label]="stepLable3">
                    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" value="100" [bufferValue]="bufferValue"></mat-progress-bar>
                    <!-- unit information details start -->

                    <div class="divider unitDivider">
                        <p class="text-center">{{'unit_information' | translate:'ceicedforms'}}</p>
                    </div>

                    <table formArrayName="propertyOwner" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{'unit_no' | translate:'ceicedforms'}}</th>
                                <th>{{'usage' | translate:'ceicedforms'}}</th>
                                <th>{{'sub_usage' | translate:'ceicedforms'}}</th>
                                <th>{{'occupier_name' | translate:'ceicedforms'}}</th>
                                <th>{{'built_up_area' | translate:'ceicedforms'}}</th>
                                <th>{{'carpet_area' | translate:'ceicedforms'}}</th>
                                <th>{{'assessible_area' | translate:'ceicedforms'}}</th>
                                <th>{{'general_tax' | translate:'ceicedforms'}}</th>
                                <th>{{'action' | translate:'ceicedforms'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of propertyTaxForm.get('propertyOwner').controls; let i = index;" [formGroupName]="i">
                                <td>
                                    <input type="text" class="form-control" formControlName="firstName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="firstName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="middleName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="aadharNo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="mobileNo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="mobileNo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="mobileNo">
                                </td>
                                <td class="actionRow">
                                    <button class="btn btn-sm btn-success mar-right" (click)="selectUnitRow(i)">Select</button>
                                    <button class="btn btn-sm btn-success mar-right" (click)="copyUnitRow(i)">Copy</button>
                                    <button class="btn btn-sm btn-success" (click)="removeUnitRow(i)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- unit information details end -->

                    <!-- unit details start -->

                    <div class="divider">
                        <p class="text-center">{{'unit_details' | translate:'ceicedforms'}}</p>
                    </div>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="unitNo" placeholder="{{'unit_no' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.controls['unitNo'].touched && propertyTaxForm.get('unitNo').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'floor_no' | translate:'ceicedforms'}}" name="floorNo" formControlName="floorNo">
                            <mat-option *ngFor="let floor of propertyFloorArray" [value]="floor">{{floor.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.get('floorNo').touched && propertyTaxForm.get('floorNo').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'usage' | translate:'ceicedforms'}}" name="usage" formControlName="usage">
                            <mat-option *ngFor="let usage of propertyUsageArray" [value]="usage">{{usage.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.get('usage').touched && propertyTaxForm.get('usage').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'sub_usage' | translate:'ceicedforms'}}" name="subUsage" formControlName="subUsage">
                            <mat-option *ngFor="let subUsage of propertySubUsageArray" [value]="subUsage">{{subUsage.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.controls['subUsage'].touched && propertyTaxForm.get('subUsage').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'construction_class' | translate:'ceicedforms'}}" name="constructionClass" formControlName="constructionClass">
                            <mat-option *ngFor="let construct of propertyContruClassArray" [value]="construct">{{construct.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="firstAssessmentDate" placeholder="{{'first_assesment_date' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('firstAssessmentDate').touched && propertyTaxForm.get('firstAssessmentDate').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'occupancy_status' | translate:'ceicedforms'}}" name="occupancyStatus" formControlName="occupancyStatus">
                            <mat-option *ngFor="let occupancy of propertyOccStatusArray" [value]="occupancy">{{occupancy.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.controls['occupancyStatus'].touched && propertyTaxForm.get('occupancyStatus').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="constructionYear" placeholder="{{'construction_year' | translate:'ceicedforms'}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'unit_status' | translate:'ceicedforms'}}" name="unitStatus" formControlName="unitStatus">
                            <mat-option *ngFor="let status of propertyUnitStatusArray" [value]="status">{{status.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="propertyTaxForm.controls['unitStatus'].touched && propertyTaxForm.get('unitStatus').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <!-- unit details end -->

                    <!-- Occupier details start -->
                    <div class="divider">
                        <p class="text-center">{{'occupier_details' | translate:'ceicedforms'}}</p>
                        <p class="text-center float-right ownerClass" (click)="addMoreOccupier()">{{'add_name' | translate:'ceicedforms'}}</p>
                    </div>

                    <table formArrayName="occupierDetails" class="table">
                        <thead>
                            <tr>
                                <th>{{'title' | translate:'ceicedforms'}}</th>
                                <th>{{'first_name' | translate:'ceicedforms'}}</th>
                                <th>{{'middle_name' | translate:'ceicedforms'}}</th>
                                <th>{{'last_name' | translate:'ceicedforms'}}</th>
                                <th>{{'aadhar_no' | translate:'ceicedforms'}}</th>
                                <th>{{'mobile_no' | translate:'ceicedforms'}}</th>
                                <th>{{'action' | translate:'ceicedforms'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of propertyTaxForm.get('occupierDetails').controls; let i = index;" [formGroupName]="i">
                                <td>
                                    <select class="form-control" formControlName="title">
                                        <option value="mr">Mr.</option>
                                        <option value="mrs">Mrs.</option>
                                        <option value="miss">Miss.</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="firstName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="middleName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="aadharNo">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="mobileNo">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="removeOccupier(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Occupier details end -->

                    <!-- measurment details start -->
                    <div class="divider">
                        <p class="text-center">{{'measurement_details' | translate:'ceicedforms'}}</p>
                    </div>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="builtUpArea" placeholder="{{'built_up_area' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('builtUpArea').touched && propertyTaxForm.get('builtUpArea').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="carpetArea" placeholder="{{'carpet_area' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('carpetArea').touched && propertyTaxForm.get('carpetArea').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="exemptedArea" placeholder="{{'exempted_area' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('exemptedArea').touched && propertyTaxForm.get('exemptedArea').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="AssembleArea" placeholder="{{'assemble_area' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('AssembleArea').touched && propertyTaxForm.get('AssembleArea').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="AnnualRent" placeholder="{{'annual_rent' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('AnnualRent').touched && propertyTaxForm.get('AnnualRent').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="valuation" placeholder="{{'valuation' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('valuation').touched && propertyTaxForm.get('valuation').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="generalTax" placeholder="{{'general_tax' | translate:'ceicedforms'}}">
                        <mat-error *ngIf="propertyTaxForm.get('generalTax').touched && propertyTaxForm.get('generalTax').hasError('required')">
                            <strong>Required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'drainage_connection' | translate:'ceicedforms'}}" name="drainageConnection" formControlName="drainageConnection">
                            <mat-option value="YES">Yes</mat-option>
                            <mat-option value="NO">No</mat-option>
                        </mat-select>

                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="{{'gas_connection' | translate:'ceicedforms'}}" name="gasConnection" formControlName="gasConnection">
                            <mat-option value="YES">Yes</mat-option>
                            <mat-option value="NO">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- measurment details end -->

                    <!-- water connection details start -->
                    <div class="divider">
                        <p class="text-center">{{'water_connection_detail' | translate:'ceicedforms'}}</p>
                    </div>
                    <!-- water connection details start -->

                    <div class="pt-4">
                        <button mat-raised-button type="button" color="disabled" matStepperPrevious>{{'back' | translate:'ceicedforms'}}</button>
                        <button type="submit" mat-raised-button color="primary" (click)="onSubmit(); stepper.reset()">{{'submit' | translate:'ceicedforms'}}</button>
                    </div>

                </mat-step>
                <!-- third step end-->

            </mat-horizontal-stepper>
        </form>
        <!-- End  form -->

        <div class="button-row pb-4 float-right saveDraft">
            <button mat-raised-button color="accent" (click)="saveAsDraft(propertyTaxForm.value)">{{'save_as_draft' | translate:'ceicedforms'}}</button>
        </div>

    </div>
</div>