
// ----------- JK ------------
@import "assets/scss/variables";
@import "assets/scss/material-icons";

@import "~@ng-select/ng-select/themes/material.theme.css";

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
    $font-family:   '',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

// .splashScreen {display: table; text-align:center;}
// .splashScreen svg {display: table-cell; vertical-align: middle;}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {border: 0; box-shadow: inset 0 0 0px 9999px white;}
label.btn { display: inline-block; position: relative; color: #533e00; }
label.btn input { visibility: hidden; width: 100px; }

label.btn:before { content: 'Choose File'; display: block; border-radius: 3px; padding: 7px 0px; outline: none; white-space: nowrap; cursor: pointer; text-align: center; font-size: 15px; position: absolute; left: 0; right: 0; }
label.btn:hover:before {box-shadow: $buttonShadowHover;}
label.btn:before { content: 'Browse File'; background: $primaryGradient; color: $colorWhite; box-shadow: $buttonShadow; }
label.btn.disabled {opacity: 1;}
label.btn.disabled:before {background-color:#e0e0e0; box-shadow: initial !important; color: #999 !important;}

button:focus { outline: none !important;}
.clear {clear:both;}
a {color: $colorBlue;}
a:hover {color: $colorBlue; text-decoration: underline;}
.mat-raised-button:hover {text-decoration: none;}
.p-15 {padding:0 15px;}
.w100p {width: 100%;}

html, body { background: #fff; color: $colorBlack; padding: 0; font-size: 13px; font-weight: 400 !important; margin: 0; width: 100%; height: 100% !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
h1 { font-size: 30px; margin-bottom: 10px; }

.heading { position: relative; }
.heading::after { content: ''; background: $primaryGradient; position: absolute; left: -24px; top: 0; width: 5px; height: 100%; }


// Login
.mainBg { background: url(assets/images/login-main-bg.jpg) no-repeat center 0; width: 100%; height: 100%; background-size: cover; overflow-y: auto;  display: table; vertical-align: middle; }

// .verticalAlign {width: 100%; max-width:400px; margin: 60px auto 20px; justify-content: center; align-self: center; }
.verticalAlign {display: table-cell; vertical-align: middle; float: none; padding: 60px 10px 20px 10px; }
// .verticalAlign > .mat-card {width: 100%; max-width:400px; margin:0 auto;}
.verticalAlign form {padding:0 30px;}

.iconMat, .iconMat2, .iconMat3 {
.mat-form-field-wrapper {/*margin-left: 30px;*/ left: 15px !important;}
.mat-form-field-prefix, &>.mat-icon {position: absolute; top: 15px; left: -30px;}
}
.iconMat2 {position: relative; left: 15px;
    .mat-icon {font-size: 18px; top: 21px;}
}
.iconMat3 {
    .mat-icon {top: 21px; left: 15px; font-size: 18px;}
    .ng-select {margin-left: 30px !important;}
}

.formClass {color: #000;
    .iconMat {padding-left: 30px;
        .mat-form-field-wrapper {left: 0 !important;}
    }
}


.headingBox {
    background:$primaryGradient; font-size: 22px; color: $colorWhite; text-align: center; border-radius:10px; padding: 25px 10px; margin: -65px 25px 30px !important; box-sizing: border-box;
    box-shadow: $colorShadow;
    span {font-size: 13px; font-weight: 300; display: block; padding-top: 10px;}
}
.borderRadius10 {border-radius:10px !important; width: 100%; max-width:400px; margin:0 auto;}
.forPass { display: inline-block; margin-bottom: 2em; }


// Sign up
.signUp {max-width:550px !important;
    // .mat-form-field {margin-top:0; margin-bottom:0;}
    // &>.mat-card {max-width:550px !important;}
    .col-md-6, .col-md-12, .col-md-4 {padding-left: 22px; padding-right: 22px;}
}

// Header
.header {position: fixed; top:0; left:0; width: 100%; padding:2rem 1rem 0;}
.header .logo {color: $colorWhite; font-weight: 400; line-height:normal; text-align: left; float: left;}
.header .logo img {float: left;}
.header .logo .logoName {padding-top: 3px; display: inline-block;}
.header ul  {float: right; list-style: none; margin-right:1rem;
    li {float: left;
        a {color: $colorWhite; text-decoration: none;}
    }

}

.userName {border-radius: 0 !important; 
    img {border-radius: 50% !important; position: relative; top: -3px; object-fit: cover;} 
}

// Footer
.footer {text-align: center; color: $colorWhite; font-size: 11px; padding-top: 15px;}

// Layouts - Dashboard
.logo { padding: 0 10px 0 0 !important;}
.logo img { padding-right: 5px; }
.logo:hover {color: $colorWhite; text-decoration: none; }
.cardH1.mat-card { padding: 15px 24px; margin: 20px 0;background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.cardH1.mat-card h1 { font-size: 15px; text-transform: uppercase; position: relative; }
.cardH1.mat-card h1::after { content: ''; background: $primaryGradient; position: absolute; left: -24px; top: 0; width: 5px; height: 100%; }
.cardH2.mat-card { padding: 1px 24px; margin: 4px 0; }
.cardH2.mat-card h2 { font-size: 14px; text-transform: uppercase; position: relative; }
.cardH2.mat-card div { font-size: 14px; text-transform: uppercase; position: relative; cursor:pointer}
.cardH2.mat-card h2::after { content: ''; background: $primaryGradient; position: absolute; left: -24px; top: 0; width: 5px; height: 100%; }

// .container {padding-bottom: 20px; max-width: inherit;}
.formClass {padding: 0 !important; box-shadow: none !important;}
.cardBorder {border: 1px solid #e1e1e1;}
// .formClass [class^="col-"], .formClass [class*=" col-"] { margin-top: 8px; margin-bottom: 8px; }
.formClass .mat-form-field { width: 100% !important; }
// .formClass h2 { font-size: 1.2rem; margin-bottom: 15px; }
.alignBottom { display: flex; }
.alignBottom .mat-form-field { align-self: flex-end; }
.liteGrayBtn { background: #607d8b; color: $colorWhite; }
.liteGrayBtn span { color: $colorWhite; }

.mat-raised-button.liteBorder {border: 1px solid #ccc !important; background: $colorWhite !important;
    span { color: $colorBlue; }
    &:hover {box-shadow: $buttonShadowHover;}
}

.dashboardList {display:flex;}
.dashboardList>.mat-card {width: 100%; display: flex; align-items: center; flex-direction: column; justify-content: space-between;}
.dashboardList .mat-card-title{font-size: 16px;}

.mat-table {
    .mat-icon {font-size: 22px;}
    .mat-raised-button {margin-bottom: 0 !important;}
}

.themeBox { /*background-color: $colorWhite;*/ position: relative; padding:50px 25px 20px !important; margin:1.2rem 0 2.5rem;}
.h2 { font-size: 14px; margin-top: -1.2rem; margin-left: 1.5rem; position: absolute; top: 0; left: 0;
    .mat-icon {padding-top: 12px; font-size: 25px; background: $primaryGradient; color: $colorWhite; width: 50px; height: 50px; display:block; float: left; position: absolute; top: 0; left: 0; border-radius: 5px; box-shadow: $colorShadow; text-align: center;}
    span {float: left; display: block; padding: 28px 0 0 60px; color: #000;}
}

.servicesList {text-align: center; font-size: 12px;}
.servicesList .col {background-color: #fff; text-decoration: none; margin: 35px 10px 0px; border: 1px solid #EDE7F6; border-radius:5px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);}
.servicesList .col > span {display: inline-block; margin-top: -30px; background-color: #ccc; padding: 5px; border-radius:5px;}
.servicesList .col > div  {padding: 10px 0;}
.yelloCard {box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4); background: linear-gradient(60deg,#ffa726,#fb8c00);}
.redCard {box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4); background: linear-gradient(60deg,#ec407a,#d81b60);}
.greenCard {box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4); background: linear-gradient(60deg,#66bb6a,#43a047);}
.kyeBlueCard {box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4); background: linear-gradient(60deg,#26c6da,#00acc1);}
.grayCard {box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(120,144,156,.4);
    background: linear-gradient(60deg,#90A4AE,#78909C);}





// Page Not found
.notFound {padding:50px 20px 20px; text-align: center;
    .logo {color: $colorWhite; font-weight: 400; line-height:normal; text-align: left; margin-bottom: 40px;}
    .logo img {float: left;}
    .logo .logoName {padding-top: 5px; color:$colorBlue; display: inline-block;}
}
.foundMsg {font-size: 20px; line-height: 66px;
    span {font-size: 100px; display: block;}
}



// Custom CSS
// .ngSelect, .mat-form-field, .mat-radio-button, .mat-checkbox {font-family: Tahoma,Roboto,Arial,sans-serif;}
.mat-input-element {font-size: 14px !important;}
.mat-form-field {width: 100%; margin-top: 5px; margin-bottom: 5px; line-height: normal;}
.mat-form-field-label {color: #989898; font-weight: normal;}
.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {color: #000; /*font-size: 14px;*/}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {font-size: 12px; font-weight: normal;
    letter-spacing: 0.5px; color: #777; font-family: arial;
    -webkit-transform: translateY(-1.28125em) scale(1) !important;
    -ms-transform: translateY(-1.28125em) scale(1) !important;
    transform: translateY(-1.28125em) scale(1) !important;}
// .mat-card:not([class*=mat-elevation-z]), .mat-elevation-z8 { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important; }
.mat-card:not([class*=mat-elevation-z]), .mat-elevation-z8 { /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;*/ box-shadow: none !important;}
.mat-radio-group { display: flex !important; flex-direction: row !important; }
.mat-radio-button { margin: 4px 15px 4px 0px; }
.mat-radio-container, .mat-radio-outer-circle, .mat-radio-inner-circle, .mat-checkbox-inner-container { width: 16px !important; height: 16px !important; }

.mat-checkbox-inner-container {background-color: #f2f2f2;}
.mat-checkbox-frame { border-width: 1px !important; border-color: #ccc !important; border-radius: 0 !important;}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {background-color: #673ab6;}
.mat-checkbox-checkmark-path {stroke: #fff!important;}
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background
 {background-color: #b0b0b0 !important;}

.mat-radio-outer-circle {background-color: #f2f2f2; border-width: 1px !important; border-color: #ccc !important;}
 .mat-radio-checked {
    .mat-radio-outer-circle {background-color: #673ab6; border-color: #673ab6 !important;}
 }
 .mat-radio-button.mat-accent .mat-radio-inner-circle {background-color: #fff;}

// mat-label {align-self: center;}

.mat-radio-label {margin-bottom: 0;}
.mat-radio-label-content { padding-left: 5px !important; padding-top: 2px !important;}
.mat-checkbox { margin-left: 0; margin-right: 7px; }
.mat-checkbox-ripple {left: calc(50% - 15px) !important; top: calc(50% - 15px) !important;}
.mat-radio-ripple {left: calc(50% - 17px) !important; top: calc(50% - 17px) !important;}
.mat-radio-ripple .mat-ripple-element, .mat-checkbox-ripple .mat-ripple-element {display: none; width: 30px !important; height: 30px !important;}

.mat-radio-disabled {
    .mat-radio-label-content {color: rgba(0, 0, 0, .7)}
    &.mat-radio-checked .mat-radio-outer-circle {background-color: #afafaf; border-color: #afafaf!important;}
}

.mat-input-element:disabled {color: rgba(0, 0, 0, .6);}
.mat-form-field-appearance-legacy .mat-form-field-label {color:#777;}
.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {color: rgba(0, 0, 0, .6)}
.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder {color: rgba(0, 0, 0, .6)}

.mat-step-header {text-align: center;}
.mat-step-header:nth-child(odd) {flex: 1fr;}
.mat-step-label {width: 100% !important;}
.mat-horizontal-stepper-header-container { background-color: #fafafa; border-bottom: 1px solid #ebebeb; margin-bottom: 15px; }

.mat-horizontal-stepper-header { height: 60px !important; flex-direction: column; justify-content: center; align-items: center; padding: 0 10px !important;}
.mat-step-label-active.mat-step-label-selected::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background: $primaryGradient; }
.mat-step-icon-not-touched {margin-right: 0 !important;}

.firstCell {
    .mat-header-row, .mat-row {border: 0; padding: 0 15px;}
    .mat-header-row > .mat-header-cell:first-child, .mat-row > .mat-cell:first-child {flex: inherit;  width: 35px; padding-left: 0;}
}



.custom-file-upload .badge {font-size: 12px; background: #fff !important; padding: 7px 5px; white-space: normal !important; width: 250px;word-break: break-all;}
.custom-file-upload .badge.badge-primary.ml-1 {width: auto;}
.custom-file-upload .badge-primary {text-align: left; color: $colorBlue !important;}
.custom-file-upload .badge-info {background: $colorBlue !important; color: #fff; border-radius:0; text-align: left; padding: 12px 35px 12px 15px; font-weight: normal; white-space: nowrap !important; text-overflow: ellipsis; overflow: hidden;}
.custom-file-upload .badge-info:hover {background: $colorLite !important; color: $colorBlue;}
.custom-file-upload .badge-secondary {border: 1px solid #6c757d; color: #6c757d;}
.custom-file-upload .badge-success {border: 1px solid #22b573; color: #22b573;}
.custom-file-upload .badge-danger {border: 1px solid #dc3545; color: #dc3545;}
.custom-file-upload .badge-success {border: 1px solid #22b573; color: #22b573;}
.custom-file-upload .badge-warning {border: 1px solid #ffc107; color: #ffc107;}
.custom-file-upload .badge-dark {border: 1px solid #343a40; color: #343a40;}
.custom-file-upload .attachment {
    color: $colorBlue;
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    overflow: visible;

    .mat-icon {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 38px;
        border: 1px dashed $colorBlue;
        float: left; margin-right: 13px;
    }
}

.closeAttachFile {width: 36px !important; height: 36px !important; line-height: 36px !important; border-radius:0 !important; margin-left: -36px !important;
    .mat-icon {font-size: 20px; border-radius:50%;
        &:hover {background: #fff !important;}
    }
}



mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {border-color:#e4e3eb;}
// .mat-table .mat-row:nth-child(odd) .text-label.badge {background: #EDE7F6 !important;}

.mat-accordion {
    &>.mat-expansion-panel {background: none; box-shadow: none !important;
        .mat-expansion-panel-header { background-color: $colorWhite !important; border-top: 1px solid #E8EAF6;
            &.mat-expanded {margin-bottom: 20px; background-color: $colorLite !important; max-height: 48px; border: 0; border-left: 4px solid $colorBlue;}
        }
    }
}



.ng-select {padding-bottom: 3px; margin-bottom: 1.25em;
    .ng-select-container {min-height: 43px;}
    .ng-value-label.ng-star-inserted {font-size: 14px;}
}
.ng-select.ng-select-opened, .ng-select.ng-select-focused {font-weight: normal; color: #000;}
.ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder {
    font-size: 12px; font-weight: normal; letter-spacing: 0.5px; color: #777 !important; font-family: arial;
    -webkit-transform: translateY(-1.55em) scale(1) !important;
    transform: translateY(-1.55em) scale(1) !important;
}
.ng-select .ng-select-container {color: #000 !important;}
.ng-select .ng-select-container .ng-value-container {padding: 0.7em 0 0;}
// .ng-select .ng-input, .ng-select .ng-clear-wrapper {display: none;}

.ng-select .ng-select-container .ng-value-container .ng-input {bottom: 1px;}
.ng-select .ng-select-container .ng-value-container .ng-input>input {padding-left: 0;}

// Custom Button
.width150 {width: 150px;}
.mat-raised-button {
    color: $colorBlue !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    margin-bottom: 13px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-color: #7a7a7a;
    background: #fff;
    border: 0px solid #ccc !important;
    border-radius: 2px !important;
    padding: 0 28px !important;

     box-shadow:none !important;
}
.w-100.mat-raised-button {margin-left: 0 !important; margin-right: 0 !important;}

.mat-raised-button:hover {
    // box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px hsla(0, 0%, 60%, .2) !important;
    box-shadow: $buttonShadowHover !important;
}

.mat-raised-button.mat-primary {color: #fff !important;}

.mat-raised-button.mat-primary:hover {
    box-shadow: $buttonShadowHover !important;}

.mat-raised-button.mat-accent {
    background-color: #ff9800;
    color: #fff !important;
    // box-shadow: 0 2px 2px 0 rgba(255, 152, 0, .14), 0 3px 1px -2px rgba(255, 152, 0, .2), 0 1px 5px 0 rgba(255, 152, 0, .12) !important;
}

// .mat-raised-button.mat-accent:hover {
//     box-shadow: 0 14px 26px -12px rgba(255, 152, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(255, 152, 0, .2) !important}

.mat-raised-button.mat-warn {
    background-color: #f44336;
    color: #fff !important;
    // box-shadow: 0 2px 2px 0 rgba(244, 67, 54, .14), 0 3px 1px -2px rgba(244, 67, 54, .2), 0 1px 5px 0 rgba(244, 67, 54, .12) !important;
}

// .mat-raised-button.mat-warn:hover {
//     box-shadow: 0 14px 26px -12px rgba(244, 67, 54, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(244, 67, 54, .2) !important;}

.mat-raised-button.mat-info {
    background-color: #00bcd4;
    color: #fff !important;
    // box-shadow: 0 2px 2px 0 rgba(0, 188, 212, .14), 0 3px 1px -2px rgba(0, 188, 212, .2), 0 1px 5px 0 rgba(0, 188, 212, .12) !important;
}

// .mat-raised-button.mat-info:hover {
//     box-shadow: 0 14px 26px -12px rgba(0, 188, 212, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 188, 212, .2) !important;}

.mat-raised-button.mat-success {
    background-color: #4caf50;
    color: #fff !important;
    // box-shadow: 0 2px 2px 0 rgba(76, 175, 80, .14), 0 3px 1px -2px rgba(76, 175, 80, .2), 0 1px 5px 0 rgba(76, 175, 80, .12) !important;
}

// .mat-raised-button.mat-success:hover {
//     box-shadow: 0 14px 26px -12px rgba(76, 175, 80, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(76, 175, 80, .2) !important;}


.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button.mat-info[disabled],
.mat-raised-button.mat-success[disabled],
.mat-raised-button[disabled][disabled] {
    box-shadow: initial !important;
    color: #999 !important;
    border: #999 !important;
}

// Popup
.swal2-shown {
    .swal2-show {animation: none !important;}
    .swal2-popup {border-radius: 3px; padding: 15px 0 0 0;
        .swal2-icon {display: none !important;}
        .doneIcon {width: 90px;}
        .deleteIcon {width: 70px;}
        .swal2-title {font-size: 26px; color: #000; font-weight: 400; margin:0 0 0.2em;}
        .swal2-content {font-size: 17px; color: #333; font-weight: 300; padding: 0 15px;}
         .swal2-actions {border-top:1px solid #ccc; margin: 0;padding: 10px 15px; display: block !important; margin-top: 25px; text-align: center;
            button {background: $colorBlue; box-shadow: none; font-weight: 400; margin: 10px 5px; 
                &:hover { box-shadow: $buttonShadowHover !important;}
            }
        }
    }
    }

    .toast-container {
        .toast {box-shadow: none; padding: 10px 15px 10px 50px; background-size: 20px;
        &:hover {box-shadow: none;}
        }
        .toast-message {padding-top: 2px;}
        .toast-title {font-weight: normal;}
        button.toast-close-button {font-weight: normal; margin-top: -6px; top: -50%;}
    }

.text-label{
    /* font-size: 0.8rem; */
    cursor:pointer;
}

.ng-dropdown-panel.ng-select-bottom {
    top: initial !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {background: rgba(0,0,0,0.08);}

/* Start - CSS for IE Message to not-supported browser for application */
#ie-toolbar { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999999; background-color: #f3f3f3; }
#ie-toolbar div { position: absolute; top: 50%; left: 50%; width: 700px; margin-left: -350px; text-align: center; height: 120px; margin-top: -60px; color: #616161; font-size: 30px; }
#ie-toolbar div a { color: #d65727; text-decoration: underline; }
#ie-toolbar div a:hover { color: #d65727; text-decoration: none; }
/* End - CSS for IE Message to not-supported browser for application */

/* for display error immediate after ng-select and mat-radio-group */
.ngSelect .mat-error { position: relative !important; top: 0 !important; left: 0; font-size: 11px;
    bottom: auto; margin-top: -18px !important; min-height: 18px;}
.radioBtnError .mat-error { position: relative !important; top: -4px !important; left: 0;font-size: 11px;}

.matErrorTwoLine .mat-error {bottom: auto; top:27px; word-break: break-word;}

.mat-horizontal-content-container{
    min-height: 300px;
    max-height:auto;
}



/* NEW Design **********************************************/

h1 {color: #333; font-size:19px; margin-bottom: 10px;}
h2 {color: #333; font-size:18px; margin-bottom: 18px;
    .mat-icon {font-size: 22px; float: left; margin-right: 13px;}
}

.titleBar {background: #f1f1f1; position: absolute; top: 49px; left: 0; width: 100%; padding: 6px 0;  z-index: 2;
    .container {padding: 0; margin: 0 auto; max-width: 1200px;}
    .backArrow {min-width: 36px !important; float: left; border-radius:50%; padding: 0;
        .mat-icon {color: rgb(68, 55, 55);}
    }
    h1 {color: #666; font-size: 16px; margin: 0; padding: 8px 0 0 15px; float: left;}
    .breadcrumbNav {list-style-type: none; margin: 0;
        li {float: left; color: #808080; font-size: 15px; margin-right: 15px; padding-right: 2px; line-height: 34px; position: relative;
            a {color: #808080; min-width: 70px;
                span {font-size: 15px;}
                &:hover {text-decoration:none;}
            }
            &:nth-child(2) {cursor: pointer}
            &::after {content :'/'; position:  absolute; top: 1px; right:-8px; }
            &:first-child { margin-right: 0;
                &::after {display: none;}
            }
            &:last-child { line-height: 36px;}
            &:last-of-type:after { content: none;}

        }
    }
}


.mainMenu { // margin-bottom: 40px;
    position: absolute; top: 49px; left: 0; width: 100%;
    &>.mat-tab-header {border: 0;
        .mat-tab-label-container {background: #f1f1f1;}
    }
    .mat-tab-labels {margin: 0 auto; max-width: 1100px;}
    .mat-tab-label {font-size: 16px; color: #808080; opacity: 1;}
    .mat-icon {font-size: 22px; float: left; position: relative; left: -13px;}
    .mat-tab-label-active {color:$colorBlue;}
}


/*** Dashboard ***/
.container {max-width: 1130px; margin:60px auto 30px;}

.welCome {padding: 23px; background: $colorLite url(assets/images/bg-logo.png) no-repeat right bottom; padding-right: 100px; margin-top: 20px; margin-bottom: 40px; margin-right : 40px;
    p {font-size: 12px; color: #453960; padding-bottom: 0; margin-bottom: 0;}
}

.moduleList:hover {
    .mat-tab-label:hover {
        background-color: #673ab7;
        border: 1px solid #673ab7;
        box-shadow: 2px 2px 9px #673ab7, 2px 2px 8px #673ab7;
        .moduleName {
            color: white;
        }
        .count {
            color: white;
        }
    }

    .mat-tab-label:hover .BOOKINGMODULE {background:url('assets/icons/booking-facilities-h.svg') !important;}

    .mat-tab-label:hover .TICKETINGSMODULE {background:url('assets/icons/ticketing-facilities-h.svg') !important;}

    .mat-tab-label:hover .SHOP-ESTAB {background:url('assets/icons/shop-and-establishment-license-h.svg') !important;}

    .mat-tab-label:hover .SHOP-ESTAB-NEW {background:url('assets/icons/shop-and-establishment-license-h.svg') !important;}

    .mat-tab-label:hover .WATER-TAX {background:url('assets/icons/water-tax-h.svg') !important;}

    .mat-tab-label:hover .AFFORD-HOUSE {background:url('assets/icons/affordable-housing-h.svg') !important;}

    .mat-tab-label:hover .FIRE {background:url('assets/icons/fire-services-h.svg') !important;}

    .mat-tab-label:hover .FOOD-LIC {background:url('assets/icons/food-licensing-registration-h.png') !important;
        background-repeat: no-repeat !important;  background-position: center center !important;}

    .mat-tab-label:hover .ANIMAL-POND {background:url('assets/icons/animal-pond-license-h.svg') !important;}

    .mat-tab-label:hover .PROFESSIONAL{background:url('assets/icons/professional-tax-h.svg') !important;}

    .mat-tab-label:hover .MARRIAGE {background:url('assets/icons/marriage-registration-h.svg') !important;}

    .mat-tab-label:hover .VEHICLE {background:url('assets/icons/vehicle-tax-h.png') !important;
        background-repeat: no-repeat !important;  background-position: center center !important;}

    .mat-tab-label:hover .PROPERTY-TAX {background:url('assets/icons/property-tax-h.svg') !important;}

    .mat-tab-label:hover .MUTTON-FISH {background:url('assets/icons/meat-and-fish-license-h.svg') !important;}

    .mat-tab-label:hover .BIRTH-DEATH {background:url('assets/icons/birth-and-death-h.png') !important;
        background-repeat: no-repeat !important; background-position: center center !important;}

    .mat-tab-label:hover .affordableHousing {background:url('assets/icons/affordable-housing-h.svg') !important;}

    .mat-tab-label:hover .VENDOR_REG{background:url('assets/icons/professional-tax-h.svg') !important;}

    .mat-tab-label:hover .CONTRACTOR_REGISTRATION{background:url('assets/icons/professional-tax-h.svg') !important;}

}

.moduleList {
    .mat-tab-header, .mat-tab-nav-bar {padding-bottom: 15px; border:0 !important;}
    .mat-tab-labels {display: contents};
    .mat-tab-body-wrapper{ width: 1093px;}
    .mat-tab-label { opacity:1; height: auto; border: 1px solid #b2b2b2;  margin: 0 28px 18px 0; width: 190px; white-space: normal;}
    .moduleIcon {width: 65px; height: 65px; line-height: 65px; background: #d1c4e9; border-radius:50%; display: inline-block;
        img {width: 40px;}
    }

    .mat-tab-label:nth-child(1), .mat-tab-label:nth-child(6)  {
        .moduleIcon{background-color: #ed5d7b;}
    }
    .mat-tab-label:nth-child(2), .mat-tab-label:nth-child(7)  {
        .moduleIcon{background-color: #f3be33;}
    }
    .mat-tab-label:nth-child(3), .mat-tab-label:nth-child(8)  {
        .moduleIcon{background-color: #4bdfad;}
    }
    .mat-tab-label:nth-child(4), .mat-tab-label:nth-child(9)  {
        .moduleIcon{background-color: #ba6ded;}
    }
    .mat-tab-label:nth-child(5), .mat-tab-label:nth-child(10)  {
        .moduleIcon{background-color: #78da71;}
    }

    .mat-tab-label .mat-tab-label-content { display: block !important; }
    .moduleName {font-size: 15px; color: #333; font-weight: 500; min-height: 36px; line-height: normal;width: 184px;
            white-space: normal !important; overflow: hidden !important; text-overflow: ellipsis !important;}
    .count {color: #b3b3b3; font-size: 13px; font-weight: 400; display: inline-block; padding-top: 5px;}
    .mat-tab-label-active {background-color: $colorBlue; border: 1px solid #673ab7;
        .moduleName {color: #fff;}
    }
    .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {background-color: $colorBlue;}
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #673ab7;
        display: none;
    }
}

.servicesList  {padding-bottom: 45px; width: 100%; float: left;
    // .row {}
    // .col-md-3, .col-sm-4 {padding-bottom: 18px;}
    .colBtn {padding:9px 15px;} /* width: 25%; float: left;*/
    .mat-primary {color: #423c51; font-size: 15px; font-weight: 400; border-radius: 3px; border:1px solid #b2b2b2; display: block; width: 100%; text-overflow: ellipsis; text-decoration: none; white-space: normal; line-height: 1.4; padding:6px 8px; height: 100%;
        overflow: hidden;
        &:hover {background: $colorBlue; border-color: $colorBlue; color: #fff;}
    }
}

.servicesList:hover {
    .colBtn:hover .mat-stroked-button:hover{
        box-shadow: 2px 2px 6px #673ab7, 2px 2px 10px #673ab7;
    }
}

.recentList { border: 1px solid #e5e5e5; padding:15px 30px; list-style-type: none; float: left; width: 96.6%;
    li {border-top: 1px solid #e5e5e5; padding: 15px 62px 15px 0; color: #4d4d4d; font-size: 12px; float: left; width: 100%; position: relative;
        &:first-child {border: 0;}
        div {color: #000; font-size: 14px; padding-bottom: 5px;}
        .recenText {}
        .badge  {position: absolute; top: 19px; right: 0; padding: 0 10px; height: 22px; line-height: 21px;}
    }
}

.badge.draft {background: #fff; color: #f4c64c; border: 1px solid #f4c64c; padding:0.4em 1em 0.3em; font-size: 12px; font-weight: normal; border-radius: 10rem;}
.badge.submited {background: #fff; color: #78da71; border: 1px solid #78da71; padding:0.4em 1em 0.3em; font-size: 12px; font-weight: normal; border-radius: 10rem;}
.badge.rejected {background: #fff; color: #ed5d7b; border: 1px solid #ed5d7b; padding:0.4em 1em 0.3em; font-size: 12px; font-weight: normal; border-radius: 10rem;}
.badge.primary {background: #fff; color:$colorBlue; border: 1px solid $colorBlue; padding:0.4em 1em 0.3em; font-size: 12px; font-weight: normal; border-radius: 10rem;}
.badge.file {background: #fff; color:$colorBlue; border: 1px solid #17a2b8; padding:0.4em 1em 0.3em; font-size: 12px; font-weight: normal; border-radius: 10rem;}



/***  noApplication  ***/
.noApplication {width: 220px; margin: 0 auto; color: #000; font-size: 18px; text-align: center;
    img {padding: 30px 0;}
    .noActi {color: #989898; font-size: 14px; display: block; padding: 10px 0 40px 0;}
}




/***  Common Table  ***/
.mat-paginator-container {color:#000;}
// .mat-table .mat-row:nth-child(even){background-color:$colorWhite;}
// .mat-table .mat-row:nth-child(odd){background-color:#EDE7F6;}



/*** My Profile ***/
.profilePage {margin:0; border: 1px solid #e9e9ec;
    .col-md-3 {padding: 0;}
    .col-md-9 {padding-left: 30px; padding-right: 30px;}
    // .iconMat {
    //     .mat-form-field-wrapper {margin-left: 30px; left: 0 !important;}
    //     }

    .updateProfileBtn {position: absolute; top: 20px; right: 30px; background: #673ab7; color: #fff !important;}
    h2 {margin:20px 0 8px;}
    }

.userInfo {text-align: center; background: $colorLite; padding: 50px 0 60px; border-right: 1px solid #e9e9ec;
    .userPhoto {padding-bottom: 50px;
        .pic {width: 135px; height: 135px; border: 10px solid #cec2ed; margin-bottom: 25px; border-radius:68px; display: inline-block; position: relative;
            img {border-radius:58px; width: 115px; height: 115px;}
            .edtBtn {position: absolute; top: 0; right: -13px; background: #fff;
                .mat-icon {color: #b3b3b3;}
                &:hover {
                    .mat-icon {color:$colorBlue;}
                }
                span {padding:0;}
            }
        }
        span {font-size: 21px; color: #333; font-weight: 600; display: block; padding: 0 15px; word-break: break-all;}
    }
    p {line-height: 26px;}
}

/*For swal body*/
.swal2-content{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.warningBox {margin: 0;
    div {width: 31.3333%; margin: 3px 1%;}
}

/*** Stepper Pages ***/
.stepperNav {
    .mat-tab-header {margin-bottom: 20px;}

    .stepperMinHeight {min-height: 300px; align-content: start;}
    // .mat-tab-body {min-height: 400px; padding-bottom:70px !important;
    //     app-action-bar {width: 100%; position: absolute; bottom: 0; left: 0;}
    // }
   .row {margin: 0;}
   h2 {padding:25px 15px 0 15px; margin-bottom: 10px; width: 100%; font-size: 1.2rem; color: #000;}
   .justify-content-between > .col-md-10 > h2 {padding-left: 0;}
    &>.mat-tab-header {border: 0;
        .mat-tab-label-container {background: #f1f1f1;}
    }
    .mat-tab-label {font-size: 14px; color: #666; opacity: 1; font-weight: normal;}
    // .mat-icon {font-size: 22px; float: left; margin-right: 13px;}
    .mat-tab-label-active {color:$colorBlue; font-weight: 500;}
   // .mat-tab-label-content {white-space: normal; padding: 0 10px;}
   .mat-tab-label .mat-tab-label-content {white-space: break-spaces; line-height: normal;}

}

.fotButtonBar {background: #f2f2f2; padding: 25px 0 10px; margin-top: 140px !important;}
.fotButtonBar.mt-0 {margin-top: 0 !important;}

.mat-tab-header-pagination-before, .mat-tab-header-pagination-after {background: $colorLite; }

.listTable { margin:0; padding:0; li {list-style-type:none; .table {margin: 0; td {padding:0 0.75rem; vertical-align: middle;} } } }

// mutton-fish page
.listTable  { margin:0; padding:0;
    li {list-style-type:none;
        .table {margin: 0;
            td {padding:0 0.75rem; vertical-align: middle;}
        }
      &:nth-child(even) form > .table-responsive tr {background: #fff;}
    }
}

.ulList, .olList {
    &>li {padding-bottom: 10px;}
}


.cardBox {border: 1px solid $colorLite; padding: 0 !important;}
.pageTitle {padding: 10px 20px; font-size: 20px; margin-bottom: 20px; background-color: #f1f1f1;}
.pageTitle .mb-0 {margin-bottom: 0 !important;}

.dateBox {height: 100%;
    strong {
        background-color: #f1f1f1;
        padding: 5px;
        display: block;
        text-align: center;
    }
    .dateCon {
        padding: 10px;
    }
    .mat-checkbox-layout {
    white-space: normal; word-break: break-all;
    }

}


.modal-content {
    .modal-header {background-color: #f1f1f1;
        .modal-title {line-height: normal; font-weight: normal;}
        .mat-icon-button {height: 24px; width: 24px; line-height: 24px;
            .material-icons {font-size: 16px;}
        }
    }
    .modal-footer {background-color: #f1f1f1; padding-bottom: 2px;}
}


.table thead th {border-bottom-width: 1px;}
.mat-table th.mat-header-cell {color: #212121; font-size: 18px; font-weight: 700; line-height: normal;}
.mat-table td.mat-cell, .mat-table td.mat-footer-cell, .mat-table th.mat-header-cell {font-size: 17px;}


.tableLayout {table-layout: fixed;}
.tableLayout .ngSelect {min-width: inherit !important;}
.tableLayout td, .tableLayout th {word-break: break-all;}

.selectSort .ng-dropdown-panel {max-width: 150px !important;}

.wMatCell80 {max-width: 80px;}
.wMatCell120 {max-width: 120px;}
.wMatCell150 {max-width: 150px;}
.cellLast {padding-right: 0 !important;}

.borderInputNone .mat-form-field-underline { background-color: transparent;}

.labelLonger .mat-form-field-label-wrapper {overflow: visible !important;
    label.mat-form-field-label {width: 100% !important; overflow: visible !important;  white-space: normal !important; text-overflow: initial !important;}
}


.minWidth1000px {min-width: 1000px;}

.marBot100 {margin-bottom: 100px !important;}

.checkBoxLabel .mat-checkbox-label {white-space: normal; line-height: normal !important;}

.paddLeftRight5 .mat-table .mat-cell, 
.paddLeftRight5 td.mat-cell, td.mat-footer-cell, .paddLeftRight5 th.mat-header-cell {padding: 0 6px;}

.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {padding-top: 4px;}

.mat-menu-panel {max-width: 300px !important;}

.example-container.borderOne {max-height: inherit;}

::-webkit-scrollbar {width: 5px; height: 5px;}
::-webkit-scrollbar-track {background: #D1C4E9; border-radius:3px;}
::-webkit-scrollbar-thumb {background: #7E57C2; border-radius:3px;}
::-webkit-scrollbar-thumb:hover {background: #5E35B1;}
* { scrollbar-color: #7E57C2 #D1C4E9 !important; scrollbar-width: thin !important;}

@media (min-width: 992px) {
::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-track {background: #D1C4E9; border-radius:5px;}
::-webkit-scrollbar-thumb {background: #7E57C2; border-radius:5px;}
.twoLineDes .mat-form-field-label-wrapper {
    label.mat-form-field-label {top: 5px !important;}
}

}
// Responsive CSS Part 1 ------------------------------------------------
@media (max-width: 991px) {
    .container {margin-top: 65px;}
    .mainBg {display: block; vertical-align:inherit;}
    .verticalAlign {display: block; vertical-align:inherit; padding-top: 0;}

    .header {position: static; padding:15px 5px 70px;
        ul { margin:0; padding: 4px 0 0 0;}
        .logo {margin-left: 0 !important; padding-right: 0 !important;}
    }
    .dasHeader {padding: 0 5px !important;
       .logo {margin-left:0px !important; text-align: left;}
       .logoText { font-size: 12px;}
    }

    .moduleList {
        // .mat-tab-label-container {overflow-x: scroll; padding-bottom: 10px;}
        // .mat-tab-header-pagination {display: none !important;}
    }
    .servicesList {margin-right: -8px; margin-left: -8px;
        .colBtn {padding: 8px;}
    }

    .titleBar {
        .breadcrumbNav {padding: 0 15px; overflow: auto; white-space: nowrap;
            li {float:none; display: inline;
            &::after { top: -7px;}
            }
        }
    }

    .mat-error {letter-spacing: -1px;}

    .labelLonger .mat-form-field-label-wrapper {
        label.mat-form-field-label {top: 0 !important;}
    }

    .mat-step-label {white-space: normal !important; overflow: visible !important; text-overflow: inherit !important; font-size: 11px; word-break: break-word;}
    
}

// *********  shop-lic-new  **********
.idNubmer td:first-child, .idNubmer th:first-child {text-align: center; width: 40px;}
.table-inputW100p .mat-form-field-infix {width: 100% !important;}
.responsiveTables {
    .mobileLabel {display: none;}
}

@media (max-width: 767px) {
    .userName span.ng-star-inserted {display: none;}

    .container {margin-top: 70px;}
    .welCome {padding: 20px;}
    .servicesList {margin: 0;}
    .recentList  {padding: 8px 15px;}

    .profilePage .updateProfileBtn {position: static; width: 100%;}
    .stepperNav .mat-raised-button {padding: 0 20px !important; min-width: initial; line-height: 30px !important;}
    .stepperNav .mat-tab-label .mat-tab-label-content {line-height: 1.15; font-size: 80%;
        .ng-star-inserted {padding-top: 5px;}
    }
    .mainMenu {
        .linkName {display: none;}
        .mat-icon {
            left: 0;
        }
        .mat-tab-label {
            width: 25% !important;
            min-width: initial;
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    .responsiveTables {
        thead {display: none;}
        td {width: 100% !important; display: flex; align-items: stretch; text-align: left !important; align-items: center; padding: 0 10px;}
        .mobileLabel {width: 90px; display: inline-block; font-weight: bold; padding: 10px 0;}
        .mobileCon {display: inline-block; flex-grow: 1;
            .mat-form-field-wrapper {}
        }
      }
    //  .table-inputW100p .mat-form-field-infix {width: auto !important;}
    .pageTitle {font-size: 17px; padding: 7px 20px;}
    .olList {padding-left: 15px;}

    .cdk-overlay-pane.mat-datepicker-dialog {max-width: 90vw !important;}

    .ngSelect.mat-horizontal-content-container {min-height: 120px;}

    .mat-horizontal-stepper-header-container {position: relative; overflow-x: auto;
        .mat-step-header {min-width: 70px;}
    }
}

/*** for reduce the width and height of datepicker ***/
.mat-datepicker-content-touch .mat-calendar {
    width: 45vh !important;
    height: 55vh !important;
}
// cursor not-allowed on disabled dates
.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    cursor: not-allowed;
}

.formClass .row  app-address {width: 100%;}

/*For swal body*/
.swal2-content{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*This style use for addidng red color on ng-select when it will be invalid */
.ng-select.ng-invalid.ng-touched .ng-placeholder, .ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
    color: #f44336 !important;
}
.ng-select.ng-invalid.ng-touched .ng-select-container:after{
    border-bottom: 1px solid #f44336 !important;
}

.modal-lg.customWidth  {
    max-width: 1000px;
}

.mat-table-sticky {
    top: 0px;
    position: sticky;
    z-index: 100;
}
.mat-header-cell{
    top: 0px;
    position: sticky;
    z-index: 100;
    background-color: white;
}

/* This is use for printing receipt in div start */
#sectionToPrint{visibility:hidden; height:10px; overflow: auto;}

input.gujInputCls {margin-bottom: -8px;}
textarea.gujInputCls {margin-bottom: 0;}

@media print {
@page {margin: 0 !important; padding:0 !important;}
.example-container.borderOne, .mainMenu, .mat-toolbar, .titleBar, mat-card, .mat-elevation-z8.borderOne, .hideOnPrint, .overlay-container,.mat-menu-panel, .loadingDiv, .iframeTitleBar {display: none !important;}
#matSidenav {display: none !important; visibility: hidden !important;}
.mat-drawer-content {margin-left: 0 !important;}
#sectionToPrint, #sectionToPrint {visibility: visible;}
#sectionToPrint {position: static; width: 100%; height: auto !important; margin-top:-50px; padding: 0;}
#sectionToPrint td, #sectionToPrint th {padding: 5px; font-size: 15px;}
#sectionToPrint li, #sectionToPrint tr {page-break-before:always;page-break-inside:avoid; page-break-after:always}
::-webkit-scrollbar {width: 0; height: 0;}
*{-webkit-print-color-adjust: exact; color-adjust: exact;}

}
/* This is use for printing receipt in div end */

.vertline{
    height: 100px;
    width: 2px;
    background-color: gray;
}
.payAmount{
    color: black;
    font: bold;
    font-size: 60px;
}

.loadingDiv{ position:fixed; top:0px; right:0px; width:100%; height:100%; background: rgba(0, 0, 0, 0.15);
  background-image:url('assets/images/mainLoading.gif');  background-repeat:no-repeat; background-position:center;
  z-index:10000000; background-size: 120px; }

  .deleteBtn {
       .fa-times:before { content: "×" !important; }
  }

  .searchBox {position: static; top: -5px; right: 50px;
    .mat-form-field  {width: 200px;}
    .mat-form-field-suffix .mat-icon-button {font-size: 18px !important; width: 2em; height: 2em;}
    .ng-select {margin-bottom: 8px; width: 200px;}
    .editBtn {min-width: auto !important; padding-left: 12px !important; width: 82px; margin-left: 20px !important; position: relative; top: -4px;
        .mat-icon {font-size: 20px; padding: 2px 5px 0 0 !important;}
    }
}

.ng-dropdown-panel.ng-select-top{ bottom: initial !important;}
.ng-dropdown-panel .ng-dropdown-panel-items {max-height: 150px !important;}

.table-responsive {max-height: 400px;}
.maxHeightAuto { max-height: initial;}

 .table thead th {border-bottom: 1px solid #dee2e6; font-size: 12px;}
 .table thead th, .table thead td {vertical-align: top;line-height: normal;}
 .table thead tr > th:first-child, .table tbody tr > td:first-child {padding-left: 0;}
.noRecord { background-color: #f2f2f2;}

// css for time picker
#time-picker-wrapper.material-purple #time-picker .time-picker-header {
    background-color: indigo !important;
}
#time-picker-wrapper.material-purple #time-picker .time-picker-clock > button.active {
    background:  indigo !important
}

#time-picker-wrapper.material-purple #time-picker .time-picker-clock.time-picker-clock-arrow{
    background: indigo !important;
}

#time-picker-wrapper.material-purple #time-picker .time-picker-footer button {
    color: indigo !important;
}

/* style for date format hint*/
.default-show-hint { font-size: 11px;  display: block; position: absolute; bottom: -16px; right: -18px; }

 // Select Dropdown //
//  .mat-tab-body-wrapper {overflow: visible !important;}
//  .mat-tab-body-content {overflow: visible !important;}
//  .mat-tab-group.mat-tab-group-dynamic-height .mat-tab-body.mat-tab-body-active {overflow: visible !important;}


// Part 2 Start ------------------------------------------------
.responsiveTableRow {
    .ngSelect { min-width: 160px; max-width: 160px;}
    .ng-select div {text-overflow: ellipsis; /* overflow: hidden; */}
    thead tr > th:first-child, tbody tr > td:first-child {padding-left: 10px; }
      td{vertical-align: middle;}
      p{margin-bottom: 0px}
      .mat-form-field-infix {width: 100%;}
     .preview-mode-add-class .ngSelect {max-width: 200px;}
  }

  .width40 {width: 40px;}
  .width50 {width: 50px;}
  .width80 {width: 80px;}
  .width110 {width: 110px;}
  .width160 {width: 160px;}
  .maxWidthAuto {max-width: inherit !important;}
// Responsive CSS Part 2 ------------------------------------------------

@media (max-width: 767px) {
.responsiveTableRow {
    .ngSelect {max-width: inherit;}
     tbody tr > td {width: 100% !important; display: block; clear: both;
         .d-md-none {display: inline-block;  width: 100px; padding-right: 10px; float: left; position: relative; font-weight: bold;}
         .d-md-none::before { content: ": "; position: absolute; top: 0; right: 5px; display: none;}
     }
     .mo-d-none {display: none;}
      p {display:block !important; /*display: flex;*/}
    // .ngSelect {width: 100%; max-width: inherit;}
    .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {white-space: inherit !important;}
    .preview-mode-add-class{
        .ng-valid {display: flex;}
    }
    .d-md-none + .ng-star-inserted {display: flex;}
    .d-md-none + .ngSelect, .d-md-none + .mat-form-field {display: inherit;}
  }
  .tdPaddMob > tbody > tr > td {padding: 10px 0.75rem !important;}

  .twoLineMsg control-messages mat-error.mat-error {bottom: -15px;}

  .mobLableWidthFull .d-md-none {width: 100% !important;}
}

// Part 2 End ------------------------------------------------


.mat-header-cell{
    font-weight: bold;
}


  .mat-dialog-content {max-height: 100vh;}
  .mat-dialog-actions {margin-bottom:0;}


// Start Icons ----------------------------------
.moduleList .moduleIcon { background-repeat: no-repeat !important; background-position: center !important; border: 1px solid #673ab7;}
.moduleListcancellationAlertFormcancellationAlertForm .mat-tab-label-active .moduleIcon.ng-star-inserted {background-repeat: no-repeat !important; background-position: center !important; border-color:#fff;}

.BOOKINGMODULE  {background:url('assets/icons/booking-facilities.svg') !important;}
.moduleList .mat-tab-label-active .BOOKINGMODULE,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .BOOKINGMODULE {background:url('assets/icons/booking-facilities-h.svg') !important;}

.TICKETINGSMODULE  {background:url('assets/icons/ticketing-facilities.svg') !important;}
.moduleList .mat-tab-label-active .TICKETINGSMODULE,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .TICKETINGSMODULE {background:url('assets/icons/ticketing-facilities-h.svg') !important;}



.SHOP-ESTAB  {background:url('assets/icons/shop-and-establishment-license.svg') !important;}
.moduleList .mat-tab-label-active .SHOP-ESTAB,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .SHOP-ESTAB {background:url('assets/icons/shop-and-establishment-license-h.svg') !important;}

.WATER-TAX  {background:url('assets/icons/water-tax.svg') !important;}
.moduleList .mat-tab-label-active .WATER-TAX,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .WATER-TAX {background:url('assets/icons/water-tax-h.svg') !important;}

.AFFORD-HOUSE{background:url('assets/icons/affordable-housing.svg') !important;}
.moduleList .mat-tab-label-active .AFFORD-HOUSE,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .AFFORD-HOUSE {background:url('assets/icons/affordable-housing-h.svg') !important;}


.FIRE {background:url('assets/icons/fire-services.svg') !important;}
.moduleList .mat-tab-label-active .FIRE,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .FIRE {background:url('assets/icons/fire-services-h.svg') !important;}

.FOOD-LIC  {background:url('assets/icons/food-licensing-registration.png') !important;}
.moduleList .mat-tab-label-active .FOOD-LIC,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .FOOD-LIC {background:url('assets/icons/food-licensing-registration-h.png') !important;
    background-repeat: no-repeat !important;  background-position: center center !important;}

.ANIMAL-POND  {background:url('assets/icons/animal-pond-license.svg') !important;}
.moduleList .mat-tab-label-active .ANIMAL-POND,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .ANIMAL-POND {background:url('assets/icons/animal-pond-license-h.svg') !important;}

.PROFESSIONAL  {background:url('assets/icons/professional-tax.svg') !important;}
.moduleList .mat-tab-label-active .PROFESSIONAL,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .PROFESSIONAL{background:url('assets/icons/professional-tax-h.svg') !important;}


.MARRIAGE {background:url('assets/icons/marriage-registration.svg') !important;}
.moduleList .mat-tab-label-active .MARRIAGE,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .MARRIAGE {background:url('assets/icons/marriage-registration-h.svg') !important;}

.VEHICLE   {background:url('assets/icons/vehicle-tax.png') !important;}
.moduleList .mat-tab-label-active .VEHICLE,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .VEHICLE {background:url('assets/icons/vehicle-tax-h.png') !important;
    background-repeat: no-repeat !important;  background-position: center center !important;}

.PROPERTY-TAX  {background:url('assets/icons/property-tax.svg') !important;}
.moduleList .mat-tab-label-active .PROPERTY-TAX,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .PROPERTY-TAX {background:url('assets/icons/property-tax-h.svg') !important;}

.MUTTON-FISH  {background:url('assets/icons/meat-and-fish-license.svg') !important;}
.moduleList .mat-tab-label-active .MUTTON-FISH, 
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .MUTTON-FISH {background:url('assets/icons/meat-and-fish-license-h.svg') !important;}

.BIRTH-DEATH  {background:url('assets/icons/birth-and-death.png') !important;}
.moduleList .mat-tab-label-active .BIRTH-DEATH, 
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .BIRTH-DEATH {background:url('assets/icons/birth-and-death-h.png') !important;
    background-repeat: no-repeat !important; background-position: center center !important;}

.affordableHousing  {background:url('assets/icons/affordable-housing.svg') !important;}
.moduleList .mat-tab-label-active .affordableHousing, 
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .affordableHousing {background:url('assets/icons/affordable-housing-h.svg') !important;}

.VENDOR_REG  {background:url('assets/icons/professional-tax.svg') !important;}
.moduleList .mat-tab-label-active .VENDOR_REG,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .VENDOR_REG{background:url('assets/icons/professional-tax-h.svg') !important;}

.CONTRACTOR_REGISTRATION  {background:url('assets/icons/professional-tax.svg') !important;}
.moduleList .mat-tab-label-active .CONTRACTOR_REGISTRATION,
.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .CONTRACTOR_REGISTRATION{background:url('assets/icons/professional-tax-h.svg') !important;}


.moduleList .mat-tab-label:not(.mat-tab-disabled):focus .moduleName {color: #fff;}

// End Icons ----------------------------------

.capitalCase {
    text-transform: uppercase;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder,
.mat-form-field-appearance-legacy .mat-form-field-label,
.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder,
.mat-radio-button.mat-radio-disabled .mat-radio-label-content{
    color: #292828 !important;
}

.ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder,
.ng-select .ng-select-container .ng-value-container .ng-placeholder{
     color: #292828 !important;
}

.mat-form-field-invalid .mat-icon,
.mat-form-field-invalid .mat-datepicker-toggle-default-icon,
.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.ng-select.ng-invalid.ng-touched .ng-placeholder, .ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
    color: #f44336 !important;
}
@media print {
    .zooServicesList{ display: none;}

    .no-print, .no-print *
    {
        display: none !important;
    }
   }

 .createMarriageReg .mat-tab-label{
    width: 200px;

    
}

@-moz-document url-prefix() {
    .stepperNav .mat-tab-label{
        font-size: 14px;
    }
}
.ngSelectPlaceholder .ng-placeholder{top:15px;}


.noDigit {
  .mat-input-element {padding-left: 28px !important;}
  .mat-form-field-label-wrapper {left: 28px;
    -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;}
  &.mat-form-field-should-float {
    .mat-form-field-label-wrapper {left: 0;}
  }
  .mat-form-field-prefix {position: absolute; top: 17px; left: 0;}
}

 .stepperToTab {
  &{border: 1px solid #e1e1e1; border-radius: 5px;}
  .mat-horizontal-content-container {padding: 0;}
  .mat-horizontal-stepper-header-container {margin-bottom: 0; background: #f1f1f1; border: 0;}
  .mat-horizontal-stepper-header {
    height: 45px !important;}
  .mat-step-icon, .mat-step-icon-not-touched {display: none;}
  .mat-stepper-horizontal-line {border-top-width:0}
  .mat-step-label.mat-step-label-active {color: #666;}
  .mat-step-label.mat-step-label-active.mat-step-label-selected {color: #673ab7;}
  .mat-step-label-active.mat-step-label-selected::after {height: 2px; }

}
// Select Tag
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {  margin-bottom: 0 !important;  padding: 1px 5px !important;}

.radioBtnError {margin-bottom: 15px !important}

.iframeTitleBar {background: #f1f1f1; position: absolute; top: 0px; left: 0; width: 100%; padding: 6px 0;  z-index: 2;
    .container {padding: 0; margin: 0 auto; max-width: 1200px;}
    .backArrow {min-width: 36px !important; float: left; border-radius:50%; padding: 0;
        .mat-icon {color: rgb(68, 55, 55);}
    }
    h1 {color: #666; font-size: 16px; margin: 0; padding: 8px 0 0 15px; float: left;}
    .breadcrumbNav {list-style-type: none; margin: 0;
        li {float: left; color: #808080; font-size: 15px; margin-right: 15px; padding-right: 2px; line-height: 34px; position: relative;
            a {color: #808080; min-width: 70px;
                span {font-size: 15px;}
                &:hover {text-decoration:none;}
            }
            &:nth-child(2) {cursor: pointer}
            &::after {content :'/'; position:  absolute; top: 1px; right:-8px; }
            &:first-child { margin-right: 0;
                &::after {display: none;}
            }
            &:last-child { line-height: 36px;}
            &:last-of-type:after { content: none;}

        }
    }
}

.iframeMainMenu { // margin-bottom: 40px;
    position: absolute; top: 0px; left: 0; width: 100%;
    &>.mat-tab-header {border: 0;
        .mat-tab-label-container {background: #f1f1f1;}
    }
    .mat-tab-labels {margin: 0 auto; max-width: 1100px;}
    .mat-tab-label {font-size: 16px; color: #808080; opacity: 1;}
    .mat-icon {font-size: 22px; float: left; position: relative; left: -13px;}
    .mat-tab-label-active {color:$colorBlue;}
}


.timeBut {position: absolute !important;  top: 15px;  right: 25px; background: #fff; width: 30px !important; height: 30px !important; line-height: 30px !important;}
.pr-0.mr-0 .timeBut {right: 10px;}

.lineHeight20 {line-height: 18px !important; margin-top: 2px !important; line-height: 18px !important; margin-top: 0px !important;  padding-top: 3px !important;}


.SHOP-ESTAB-NEW {background:url('assets/icons/shop-and-establishment-license.svg') !important;}
.moduleList .mat-tab-label-active .SHOP-ESTAB-NEW, .moduleList .mat-tab-label:not(.mat-tab-disabled):focus .SHOP-ESTAB-NEW {background:url('assets/icons/shop-and-establishment-license-h.svg') !important;}

// selectTwoLine
.selectCategoryDropdown  .ng-option, .selectTwoLine  .ng-option {
    line-height: normal !important;
    min-height: auto !important;
     padding: 8px 16px !important;
    white-space: normal !important;
}


// Start material selection dropdown
.cdk-overlay-pane { -webkit-transform: translateX(0) translateY(21px) !important; 
    transform: translateX(0) translateY(21px) !important;
.ng-trigger-transformPanel {min-width: 100% !important;}
}
// End material selection dropdown

.mb140 {margin-bottom: 140px;}
.listSize{
    font-size: 24px;
    font-weight: 100;
} 