.header{
	padding: 40px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 20px;
    font-family:   Arial, sans-serif;
}
.mat-step-label-selected{
    color: #673ab7 !important;
}

button:focus {
    outline: none !important;
}

.full-width {
  width: 100%;
}

/* Start - CSS for IE Message to not-supported browser for application */
#ie-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #f3f3f3;
}

#ie-toolbar div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    text-align: center;
    height: 120px;
    margin-top: -60px;
    color: #616161;
    font-size: 30px;
}

#ie-toolbar div a {
    color: #d65727;
    text-decoration: underline;
}

#ie-toolbar div a:hover {
    color: #d65727;
    text-decoration: none;
}

/* End - CSS for IE Message to not-supported browser for application */