<h2 mat-dialog-title></h2>


<mat-dialog-content [formGroup]="applicantDetailsForm">
		<div class="row">
			<mat-form-field class="iconMat col-md-6">
				<mat-icon matPrefix>face</mat-icon>
				<input matInput type="text" maxlength="50" placeholder="Applicant Name"  formControlName="applicantName"
				appValidationFields [validationFieldsType]="'onlyNameWithSpace'" required #firstname="matInput">
				<control-messages [control]="applicantDetailsForm.get('applicantName')"></control-messages>
			</mat-form-field>

			<mat-form-field class="iconMat col-md-6">
				<input matInput OnlyNumber required maxlength="10" placeholder="Cell No"  formControlName="cellNo"
				 required>
				<control-messages [control]="applicantDetailsForm.get('cellNo')"></control-messages>
			</mat-form-field>
			
		</div>

		<div class="row">
			<mat-form-field class="iconMat col-md-6">
				<input matInput type="email" placeholder="Email"  maxlength="50" formControlName="email" required
				 #firstname="matInput">
				<control-messages [control]="applicantDetailsForm.get('email')"></control-messages>
			</mat-form-field>
			
		</div>

</mat-dialog-content>


<mat-dialog-actions>
	<button class="mat-raised-button mat-primary" [disabled]="!applicantDetailsForm.valid" (click)="save()">
	  Save
	</button>
	<button class="mat-raised-button mat-primary"  (click)="cancel()">
		Cancel
	</button>
</mat-dialog-actions>