<app-title-bar [title]="'screen_title' | translate: translateKey">
	<!-- <button class="pull-right" mat-stroked-button type="button" (click)="patchValue()">
		Patch Value
	</button> -->
</app-title-bar>

<mat-card class="formClass cardBorder">
	<!-- <form [formGroup]="muttonFishNewForm"> -->
		<mat-tab-group [(selectedIndex)]="licenseConfiguration.currentTabIndex" dynamicHeight="true" mat-stretch-tabs
			class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'license_holder_detail' | translate:translateKey}}</div>
				</ng-template>
				<form [formGroup]="applicantDetials">
				<div class="row">
					<div class="col-md-4 ngSelect" formGroupName="licenseType">
						<ng-select placeholder="{{'license_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of MF_LICENSE_TYPE" [value]="type.code">{{type.name}}
							</ng-option>
						</ng-select>
						<control-messages [control]="applicantDetials.get('licenseType').get('code')">
						</control-messages>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 ngSelect" formGroupName="personType">
						<ng-select placeholder="{{'person_type' | translate:translateKey}} *" formControlName="code"
							(change)="getGujNameFromLookup($event,'personTypeGuj',PERSON_TYPE)">
							<ng-option *ngFor="let type of PERSON_TYPE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="applicantDetials.get('personType').get('code')">
						</control-messages>
					</div>
					<mat-form-field class="col-md-3">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithOutSpace'
							required maxlength="30" placeholder="{{'holder_firstname' | translate:translateKey}}"
							formControlName="holderFirstName" appGujInputSource targetElement="holderFirstNameGuj"
							[form]="applicantDetials">
						<control-messages [control]="applicantDetials.get('holderFirstName')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-3">
						<input matInput type="text" appValidationFields maxlength="30"
							placeholder="{{'holder_middlename' | translate:translateKey}}"
							formControlName="holderMiddleName" appGujInputSource targetElement="holderMiddleNameGuj"
							[form]="applicantDetials">
						<control-messages [control]="applicantDetials.get('holderMiddleName')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" appValidationFields validationFieldsType='onlyNameWithOutSpace'
							required maxlength="30" placeholder="{{'holder_lastname' | translate:translateKey}}"
							formControlName="holderLastName" appGujInputSource targetElement="holderLastNameGuj"
							[form]="applicantDetials">
						<control-messages [control]="applicantDetials.get('holderLastName')"></control-messages>
					</mat-form-field>
				</div>

				<!-- gujarati -->
				<div class="row">
					<mat-form-field class="col-md-2">
						<input [readonly]="true" matInput type="text" formControlName="personTypeGuj"
							placeholder="{{'person_type' | translate: translateKey:'gu' }}" maxlength="180" required>
					</mat-form-field>

					<mat-form-field class="col-md-3">
						<input matInput type="text" maxlength="90" required formControlName="holderFirstNameGuj"
							appGujInputTarget [form]="applicantDetials"
							placeholder="{{ 'holder_firstname' | translate:translateKey:'gu' }}">
						<!--<input matInput type="text" maxlength="90" required formControlName="holderFirstNameGuj"-->
						<!--appGujInputTarget [form]="muttonFishNewForm" appValidationFields-->
						<!--validationFieldsType='onlyNameWithOutSpace'-->
						<!--placeholder="{{ 'holder_firstname' | translate:translateKey:'gu' }}">-->
						<control-messages [control]="applicantDetials.get('holderFirstNameGuj')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-3">
						<input matInput type="text" maxlength="90"
							placeholder="{{'holder_middlename' | translate:translateKey:'gu'}}"
							formControlName="holderMiddleNameGuj" appGujInputTarget [form]="applicantDetials">
						<!--<input matInput type="text" required maxlength="90"-->
						<!--placeholder="{{'holder_middlename' | translate:translateKey:'gu'}}"-->
						<!--formControlName="holderMiddleNameGuj" appGujInputTarget [form]="muttonFishNewForm"-->
						<!--appValidationFields validationFieldsType='onlyNameWithOutSpace'>-->
						<control-messages [control]="applicantDetials.get('holderMiddleNameGuj')"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="90"
							placeholder="{{'holder_lastname' | translate:translateKey:'gu'}}"
							formControlName="holderLastNameGuj" appGujInputTarget [form]="applicantDetials">

						<!--<input matInput type="text" required maxlength="90"-->
						<!--placeholder="{{'holder_lastname' | translate:translateKey:'gu'}}"-->
						<!--formControlName="holderLastNameGuj" appGujInputTarget [form]="muttonFishNewForm"-->
						<!--appValidationFields validationFieldsType='onlyNameWithOutSpace'>-->
						<control-messages [control]="applicantDetials.get('holderLastNameGuj')"></control-messages>
					</mat-form-field>
				</div>
				<!-- /gujarati -->

				<div class="row">
					<h2>{{'permanat_address' | translate:translateKey}}</h2>
					<app-address [isDisplayGujFields]="true" #permanantAddressEstablishment [requiredFeilds]="true"
						[addressFormGroup]="applicantDetials.get('permanantAddress')">
					</app-address>
				</div>
				<div class="col-md-4" formGroupName="isSameAsPermanantAddress">
					<mat-checkbox class="col-md-12 mt-2"
						[checked]="applicantDetials.get('isSameAsPermanantAddress').get('code').value == 'YES'? true : false"
						[disabled]="!isdisableMode" (change)="onSameAddressChange($event)">
						{{'Temporary Address is same as Permanent Address ?'}}</mat-checkbox>
				</div>
				<div class="row">
					<h2>{{'temp_address' | translate:translateKey}}</h2>
					<app-address [isDisplayGujFields]="true" #temporaryAddressEstablishment [requiredFeilds]="true"
						[addressFormGroup]="applicantDetials.get('temporaryAddress')"></app-address>
				</div>

				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="11" minlength="10" formControlName="holderTelephoneNo"
						placeholder="{{'holder_telephone_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderTelephoneNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="10" minlength="10" required formControlName="holderMobileNo"
						placeholder="{{'holder_mobile_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderMobileNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" minlength="12" formControlName="holderFaxNo"
						placeholder="{{'holder_fax_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderFaxNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" minlength="12" required formControlName="holderAadharNo"
						placeholder="{{'holder_aadhar_no' | translate:translateKey}}">
					<control-messages [control]="applicantDetials.get('holderAadharNo')"></control-messages>
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput appAlphaNumeric maxlength="10" upperCase required formControlName="holderPanNo"
						placeholder="{{'holder_pan_no' | translate:translateKey}}"
						(change)="onCardChange($event,'holderPanNo')">
					<control-messages [control]="applicantDetials.get('holderPanNo')"></control-messages>
				</mat-form-field>

				<app-action-bar [form]="muttonFishNewForm" (tabIndex)="licenseConfiguration.onTabChange($event, applicantDetials, muttonFishNewForm)"
					[stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
				</form>
			</mat-tab>
			<!-- step 1 Ends -->

			<!-- step 2 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'business_detail' | translate:translateKey}}</div>
				</ng-template>
				<form [formGroup]="businessDetail">
				<div class="row">
					<!-- <div class="col-md-4 ngSelect" formGroupName="zoneNo">
						<ng-select placeholder="{{'business_under_zone' | translate:translateKey}} *"
							formControlName="code"
							(change)="onChangeZone($event);businessDetail.get('wardNo').reset();">
							<ng-option *ngFor="let zone of FIRM_ZONE" [value]="zone.code">{{zone.name}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('zoneNo').get('code')"></control-messages>
					</div>
					<div class="col-md-4 ngSelect" formGroupName="wardNo">
						<ng-select placeholder="{{'ward_no' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let ward of WARD" [value]="ward.code">{{ward.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('wardNo').get('code')"></control-messages>
					</div> -->
					<div class="col-md-4 ngSelect" formGroupName="zoneNo">
						<ng-select  placeholder="{{'business_under_zone' | translate:translateKey}} *" formControlName="code" required (change)="onChangedZone($event);">
						  <ng-option *ngFor="let zone of wardZoneLevel1List" [value]="zone.parentWardzoneId">
							{{zone.wardzoneName}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('zoneNo').get('code')"></control-messages>
					  </div>
					  <div class="col-md-4 ngSelect" formGroupName="wardNo" >
						<ng-select required placeholder="{{'ward_no' | translate:translateKey}} *" formControlName="code">
						  <ng-option *ngFor="let ward of wardZoneLevel2List" [value]="ward.wardzoneId">
							{{ward.wardzoneName}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('wardNo').get('code')"></control-messages>
					  </div>
				</div>
				<div class="row">
					<h2>{{'business_shop_address' | translate:translateKey}}</h2>

					<div class="col-md-4 ngSelect" formGroupName="statusOfBusinessId">
						<ng-select placeholder="{{'business_address_type' | translate:translateKey}} *"
							formControlName="code" (change)="onChangeStatusOfBusiness($event)">
							<ng-option *ngFor="let statusId of MEATFISH_STATUS_OF_BUSINESS" [value]="statusId.code">
								{{statusId.name}}</ng-option>
						</ng-select>
						<control-messages [control]="businessDetail.get('statusOfBusinessId').get('code')">
						</control-messages>
					</div>

					<!-- <div class="col-md-4 ngSelect" formGroupName="businessAddressType">
						<ng-select  placeholder="{{'business_address_type' | translate:translateKey}} *"
							formControlName="code" (change)="onChangeBusinessAddresstype($event);">
							<ng-option *ngFor="let add of BUSINESS_ADDRESS_TYPE" [value]="add.code">{{add.name}}
							</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('businessAddressType').get('code')">
						</control-messages>
					</div> -->

					<app-address [isDisplayGujFields]="true" #temporaryAddressEstablishment [requiredFeilds]="true"
						[addressFormGroup]="businessDetail.get('businessAddress')"></app-address>
				</div>

				<div class="row">
					<!-- <h2>{{'category_label' | translate:translateKey}}</h2> -->

					<!-- <mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="500"
							placeholder="{{'extra_details_of_business' | translate:translateKey}}"
							formControlName="extraDetailsOfBusiness">
						<control-messages [control]="muttonFishNewForm.get('extraDetailsOfBusiness')">
						</control-messages>
					</mat-form-field> -->
					<!-- <div class="col-md-6 ngSelect" formGroupName="relationshipId">
						<ng-select placeholder="{{'relationship_id' | translate:translateKey}} *" formControlName="code"
							(change)="onChangeRelationWithOrg()">
							<ng-option *ngFor="let id of MF_RELATIONSHIP_OF_APPLICANT" [value]="id.code">{{id.name}}
							</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('relationshipId').get('code')">
						</control-messages>
					</div> -->

					<!-- <div class="col-md-6 ngSelect" formGroupName="statusOfBusinessId">
						<ng-select (change)="onChangeStatusOfBusiness()"
							placeholder="{{'business_status_id' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let statusId of MEATFISH_STATUS_OF_BUSINESS" [value]="statusId.code">
								{{statusId.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('statusOfBusinessId').get('code')">
						</control-messages>
					</div> -->
				</div>

				<!-- table -->
				<div class="row">
					<div class="col-md-10" style="padding:0;padding-top:30px;">
						<h2 *ngIf="businessDetail.get('statusOfBusinessId').value.code == 'PROPRIETORSHIPFIRM'">
							{{ 'if_shop_is_in_properitership' | translate:translateKey}}</h2>

						<h2 *ngIf="businessDetail.get('statusOfBusinessId').value.code == 'PARTNERSHIPFIRM'">
							{{ 'if_shop_is_in_partnership' | translate:translateKey}}</h2>
					</div>
					<div class="col-md-2 pt-3 text-right">

						<button type="button" *ngIf="muttonFishNewForm.get('canEdit').value"
							[disabled]="(businessDetail.get('statusOfBusinessId').value.code == 'TENANT') || (businessDetail.get('statusOfBusinessId').value.code ? businessDetail.get('statusOfBusinessId').value.code =='PROPRIETORSHIPFIRM' ? !(businessDetail.get('relationshipList').length < 1) : !(businessDetail.get('relationshipList').length < 10) : true) "
							matTooltip="{{'add_more' | translate:translateKey}}" mat-raised-button color="primary"
							(click)="addMorePerson('MF_PERSON')">{{'add'| translate:translateKey}}</button>
					</div>
				</div>

				<div *ngIf="businessDetail.get('relationshipList')['controls'].length">
					<div *ngIf = "istable == true ">
					<table class="table table-striped mb-0 responsiveTableRow" >
						<thead>
							<tr class="mo-d-none">
								<th style="padding-left: 17px;">Sr. No</th>
								<th>{{'name' | translate:translateKey}}</th>
								<th>{{'address' | translate:translateKey}}</th>
								<th>{{'mobile_no' | translate:translateKey}}</th>
								<th *ngIf="muttonFishNewForm.get('canEdit').value"></th>
							</tr>
						</thead>

						<tbody formArrayName="relationshipList" class="listTable clearfix">
							<tr *ngFor="let item of businessDetail.get('relationshipList')['controls']; let indx = index;"
								[formGroupName]="indx">

								<td style="padding-left: 29px;">
									<div class="d-md-none">#</div>
									{{indx+1}}
								</td>

								<td>
									<!-- <div class="d-md-none">{{'name' | translate:translateKey}}</div> -->
									<div class="abc" *ngIf="!item.isEditMode">{{item.get('name').value}}</div>
									<mat-form-field *ngIf="item.isEditMode">
										<input matInput maxlength="50" appValidationFields
											[validationFieldsType]="'onlyNameWithSpace'" formControlName="name"
											placeholder="{{'name' | translate:translateKey}}" required>
										<control-messages [control]="item.get('name')"></control-messages>
									</mat-form-field>
								</td>

								<td>
									<!-- <div class="d-md-none">{{'address' | translate:translateKey}}</div> -->
									<div class="abc" *ngIf="!item.isEditMode">{{item.get('address').value}}</div>
									<mat-form-field *ngIf="item.isEditMode">
										<input matInput maxlength="100"
											placeholder="{{'address' | translate:translateKey}}"
											formControlName="address" required>
										<control-messages [control]="item.get('address')">
										</control-messages>
									</mat-form-field>
								</td>

								<td>
									<!-- <div class="d-md-none">{{'mobile_no' | translate:translateKey}}</div> -->
									<div *ngIf="!item.isEditMode">{{item.get('mobileNo').value}} &nbsp;
									</div>
									<mat-form-field *ngIf="item.isEditMode">
										<input matInput maxlength="10" OnlyNumber formControlName="mobileNo"
											placeholder="{{'mobile_no' | translate:translateKey}}" required>
										<control-messages [control]="item.get('mobileNo')">
										</control-messages>
									</mat-form-field>
								</td>
								<td style="text-align: right">
									<span *ngIf="muttonFishNewForm.get('canEdit').value">
										<button mat-icon-button color="primary" *ngIf="!item.isEditMode"
											(click)="editRecord(item)">
											<mat-icon title="Edit">edit</mat-icon>
										</button>
										<button type="submit" [disabled]="item.invalid" *ngIf="item.isEditMode"
											(click)="saveRecord(item)" mat-icon-button color="primary">
											<mat-icon title="save">save</mat-icon>
										</button>
									</span>
									<span *ngIf="muttonFishNewForm.get('canEdit').value">
										<button mat-icon-button color="warn" *ngIf="!item.isEditMode"
											(click)="deleteRecord(indx)">
											<mat-icon title="Delete">delete</mat-icon>
										</button>
										<button mat-icon-button color="warn" *ngIf="item.isEditMode"
											(click)="cancelRecord(item,indx)">
											<mat-icon title="Delete">cancel</mat-icon>
										</button>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<!-- end table -->
				<app-action-bar [form]="muttonFishNewForm" (tabIndex)="licenseConfiguration.onTabChange($event,businessDetail, muttonFishNewForm)"
					[stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>
					</form>
			</mat-tab>
			<!-- step 2 Ends -->
			<!-- step 4 Attachment Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
				<form  [formGroup]="muttonFishNewForm">
				<div class="row">
					<!-- | filterAttachmentMF:muttonFishNewForm.get('statusOfBusinessId').value.code"  "&& licenseConfiguration.isAttachmentButtonsVisible"-->
					<ng-container *ngFor="let doc of uploadFileArray ">
						<div class="col-md-4"
							*ngIf="doc.requiredOnCitizenPortal && doc.isActive && licenseConfiguration.isAttachmentButtonsVisible">
							<label>{{TranslateService.getCurrentLanguage()=='en'? doc.documentLabelEn :
								doc.documentLabelGuj }}
								<span *ngIf="doc.mandatory" class="mandatory">*</span></label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="doc"></file-upload>
						</div>
					</ng-container>
				</div>

				<app-action-bar [paymentGateway]="paymentGateway" [uploadFiles]="mandatoryUploadFileArray"
					[form]="muttonFishNewForm" (handleErrors)="handleErrorsOnSubmit($event)"
					[stepInfo]="{step: 'final', next:3, back:1} "></app-action-bar>

				</form>
			</mat-tab>
			<!-- step Attachment Ends -->
			<select-payment-gateway #paymentGateway></select-payment-gateway>
		</mat-tab-group>
	<!-- {{ muttonFishNewForm.value | json }} -->
</mat-card>