.customDataTable {
    td{vertical-align: middle;}
    p{margin-bottom: 0px}
  }

  .mandatory {color: red;}
  .abc
  {
    word-wrap: break-word;
    width: 150px;
   }
   ::ng-deep.mat-focused  .mat-form-field-required-marker{
    color: black;
}
  