<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
<mat-card class="formClass cardBorder">
	<form [formGroup]="muttonFishNewForm">
		<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

			<!-- step 1 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'license_holder_detail' | translate:translateKey}}</div>
				</ng-template>

				<div class="row">

					<div class="col-md-4 ngSelect" formGroupName="licenseType">
						<ng-select placeholder="{{'license_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of MF_LICENSE_TYPE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('licenseType').controls.code"></control-messages>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 ngSelect" formGroupName="personType">
						<ng-select placeholder="{{'person_type' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let type of PERSON_TYPE" [value]="type.code">{{type.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('personType').controls.code"></control-messages>
					</div>
					<mat-form-field class="col-md-2">
						<input matInput type="text" required maxlength="30" placeholder="{{'holder_firstname' | translate:translateKey}}" formControlName="holderFirstName"
						 appGujInputSource targetElement="holderFirstNameGuj" [form]="muttonFishNewForm">
						<control-messages [control]="muttonFishNewForm.controls.holderFirstName"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="30" placeholder="{{'holder_middlename' | translate:translateKey}}" formControlName="holderMiddleName"
						 appGujInputSource targetElement="holderMiddleNameGuj" [form]="muttonFishNewForm">
						<control-messages [control]="muttonFishNewForm.controls.holderMiddleName"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="30" placeholder="{{'holder_lastname' | translate:translateKey}}" formControlName="holderLastName"
						 appGujInputSource targetElement="holderLastNameGuj" [form]="muttonFishNewForm">
						<control-messages [control]="muttonFishNewForm.controls.holderLastName"></control-messages>
					</mat-form-field>
				</div>

				<!-- gujarati -->
				<div class="row">
					<mat-form-field class="col-md-4">
						<input matInput type="text" maxlength="90" required formControlName="holderFirstNameGuj" appGujInputTarget [form]="muttonFishNewForm"
						 placeholder="{{ 'holder_firstname' | translate:translateKey:'gu' }}">
						<control-messages [control]="muttonFishNewForm.controls.holderFirstNameGuj"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="90" placeholder="{{'holder_middlename' | translate:translateKey}}" formControlName="holderMiddleNameGuj"
						 appGujInputTarget [form]="muttonFishNewForm">
						<control-messages [control]="muttonFishNewForm.controls.holderMiddleNameGuj"></control-messages>
					</mat-form-field>
					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="90" placeholder="{{'holder_lastname' | translate:translateKey}}" formControlName="holderLastNameGuj"
						 appGujInputTarget [form]="muttonFishNewForm">
						<control-messages [control]="muttonFishNewForm.controls.holderLastNameGuj"></control-messages>
					</mat-form-field>
				</div>
				<!-- /gujarati -->

				<div class="row">
					<h2>{{'permanat_address' | translate:translateKey}}</h2>
					<app-address #permanantAddressEstablishment [requiredFeilds]="muttonFishNewForm.controls.permanantAddress.value" [addressFormGroup]="muttonFishNewForm.controls.permanantAddress"></app-address>
				</div>
				<div class="row">
					<h2>{{'temp_address' | translate:translateKey}}</h2>
					<app-address #temporaryAddressEstablishment [requiredFeilds]="muttonFishNewForm.controls.temporaryAddress.value" [addressFormGroup]="muttonFishNewForm.controls.temporaryAddress"></app-address>
				</div>

				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" formControlName="holderTelephoneNo" placeholder="{{'holder_telephone_no' | translate:translateKey}}">
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="11" formControlName="holderMobileNo" placeholder="{{'holder_mobile_no' | translate:translateKey}}">
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" formControlName="holderFaxNo" placeholder="{{'holder_fax_no' | translate:translateKey}}">
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput OnlyNumber maxlength="12" formControlName="holderAadharNo" placeholder="{{'holder_aadhar_no' | translate:translateKey}}">
				</mat-form-field>
				<mat-form-field class="col-md-4">
					<input matInput appAlphaNumeric maxlength="10" formControlName="holderPanNo" placeholder="{{'holder_pan_no' | translate:translateKey}}">
				</mat-form-field>

				<app-action-bar [form]="muttonFishNewForm" (tabIndex)="onTabChange($event)" [stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 1 Ends -->

			<!-- step 2 Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'business_detail' | translate:translateKey}}</div>
				</ng-template>
				<div class="row">
					<div class="col-md-4 ngSelect" formGroupName="zoneNo">
						<ng-select placeholder="{{'business_under_zone' | translate:translateKey}} *" formControlName="code" (change)="onChangeZone($event);muttonFishNewForm.get('wardNo').reset();muttonFishNewForm.get('blockNo').reset()">
							<ng-option *ngFor="let zone of FIRM_ZONE" [value]="zone.code">{{zone.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('zoneNo').controls.code"></control-messages>
					</div>
					<div class="col-md-4 ngSelect" formGroupName="wardNo">
						<ng-select placeholder="{{'ward_no' | translate:translateKey}} *" formControlName="code" (change)="onChangeWard($event);muttonFishNewForm.get('blockNo').reset()">
							<ng-option *ngFor="let ward of WARD" [value]="ward.code">{{ward.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('wardNo').controls.code"></control-messages>
					</div>
					<div class="col-md-4 ngSelect" formGroupName="blockNo">
						<ng-select placeholder="{{'block_no' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let block of BLOCK" [value]="block.code">{{block.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('blockNo').controls.code"></control-messages>
					</div>
				</div>
				<div class="row">
					<h2>{{'business_shop_address' | translate:translateKey}}</h2>
					<app-address #temporaryAddressEstablishment [requiredFeilds]="muttonFishNewForm.controls.businessAddress.value" [addressFormGroup]="muttonFishNewForm.controls.businessAddress"></app-address>
				</div>

				<div class="row">
					<!-- <h2>{{'category_label' | translate:translateKey}}</h2> -->

					<mat-form-field class="col-md-4">
						<input matInput type="text" required maxlength="500" placeholder="{{'extra_details_of_business' | translate:translateKey}}"
						 formControlName="extraDetailsOfBusiness">
						<control-messages [control]="muttonFishNewForm.controls.extraDetailsOfBusiness"></control-messages>
					</mat-form-field>
					<div class="col-md-4 ngSelect" formGroupName="relationshipId">
						<ng-select placeholder="{{'relationship_id' | translate:translateKey}} *" formControlName="code" (change)="onChangeRelationWithOrg()">
							<ng-option *ngFor="let id of MF_RELATIONSHIP_OF_APPLICANT" [value]="id.code">{{id.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.get('relationshipId').controls.code"></control-messages>
					</div>

					<div class="col-md-4 ngSelect" formGroupName="statusOfBusinessId">
						<ng-select placeholder="{{'business_status_id' | translate:translateKey}} *" formControlName="code">
							<ng-option *ngFor="let statusId of MF_STATUS_OF_BUSINESS" [value]="statusId.code">{{statusId.name}}</ng-option>
						</ng-select>
						<control-messages [control]="muttonFishNewForm.controls.statusOfBusinessId.controls.code"></control-messages>
					</div>
				</div>

				<!-- table -->
				<div class="row">
					<div class="col-md-10">
						<h2 *ngIf="muttonFishNewForm.get('relationshipId').value.code == 'PROPRIETOR'">{{ 'if_shop_is_in_properitership' | translate:translateKey}}</h2>
						<h2 *ngIf="muttonFishNewForm.get('relationshipId').value.code != 'PROPRIETOR'">{{ 'if_shop_is_in_partnership' | translate:translateKey}}</h2>
					</div>
					<div class="col-md-2 pt-3" style="text-align: right;">
						<button type="button" [disabled]="muttonFishNewForm.get('relationshipId').value.code ? muttonFishNewForm.get('relationshipId').value.code=='PROPRIETOR' ? !(muttonFishNewForm.get('relationshipList').controls.length < 1) : !(muttonFishNewForm.get('relationshipList').controls.length < 10) : true"
						 matTooltip="{{'add_more' | translate:translateKey}}" mat-raised-button color="primary" (click)="addMorePerson('MF_PERSON')">{{'add'| translate:translateKey}}</button>
					</div>
				</div>

				<div *ngIf="muttonFishNewForm.get('relationshipList').controls.length">
					<div class="table-responsive">
						<table class="table table-striped customDataTable">
							<thead>
								<tr>
									<th colspan="2" *ngIf="muttonFishNewForm.get('canEdit').value"></th>
									<th>#</th>
									<th>{{'name' | translate:translateKey}}</th>
									<th>{{'address' | translate:translateKey}}</th>
									<th>{{'mobile_no' | translate:translateKey}}</th>
								</tr>
							</thead>

							<tbody formArrayName="relationshipList">
								<tr *ngFor="let item of muttonFishNewForm.get('relationshipList').controls; let indx = index;">

									<td colspan="6">
										<table>
											<tr>
												<form [formGroupName]="indx" style="display: contents;">

													<td *ngIf="muttonFishNewForm.get('canEdit').value">
														<button mat-icon-button color="primary" *ngIf="!item.isEditMode" (click)="editRecord(item)">
															<mat-icon title="Edit">edit</mat-icon>
														</button>
														<button type="submit" [disabled]="item.invalid" *ngIf="item.isEditMode" (click)="saveRecord(item)" mat-icon-button color="primary">
															<mat-icon title="save">save</mat-icon>
														</button>
													</td>
													<td *ngIf="muttonFishNewForm.get('canEdit').value">
														<button mat-icon-button color="warn" *ngIf="!item.isEditMode" (click)="deleteRecord(indx)">
															<mat-icon title="Delete">delete</mat-icon>
														</button>
														<button mat-icon-button color="warn" *ngIf="item.isEditMode" (click)="cancelRecord(item)">
															<mat-icon title="Delete">cancel</mat-icon>
														</button>
													</td>

													<td>{{indx+1}}</td>

													<td>
														<p *ngIf="!item.isEditMode">{{item.get('name').value}}</p>
														<mat-form-field *ngIf="item.isEditMode">
															<input matInput maxlength="100" appValidationFields [validationFieldsType]="'onlyNameWithSpace'" formControlName="name">
															<control-messages [control]="item.controls.name"></control-messages>
														</mat-form-field>
													</td>

													<td>
														<p *ngIf="!item.isEditMode">{{item.get('address').value}}</p>
														<mat-form-field *ngIf="item.isEditMode">
															<input matInput maxlength="150" formControlName="address">
															<control-messages [control]="item.controls.address"></control-messages>
														</mat-form-field>
													</td>

													<td>
														<p *ngIf="!item.isEditMode">{{item.get('mobileNo').value}}</p>
														<mat-form-field *ngIf="item.isEditMode">
															<input matInput maxlength="11" OnlyNumber formControlName="mobileNo">
															<control-messages [control]="item.controls.mobileNo"></control-messages>
														</mat-form-field>
													</td>
												</form>
											</tr>
										</table>

									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- end table -->
				<app-action-bar [form]="muttonFishNewForm" (tabIndex)="onTabChange($event)" [stepInfo]="{step: 'step2', next: 2, back: 0}"></app-action-bar>
			</mat-tab>
			<!-- step 2 Ends -->
			<!-- step 4 Attachment Starts -->
			<mat-tab>
				<ng-template mat-tab-label>
					<div>{{'attachment' | translate: translateKey}}</div>
				</ng-template>
				<div class="row">
					<!-- <h2>{{'owner_checklist' | translate: translateKey}}</h2> -->

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'photo_of_license_holder' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(1,'PhotoofLicenseHolder','1.1','doc')"></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'site_or_key_plan' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(2,'siteorkeyplan','1.2','doc')"></file-upload>
						</div>
					</div>
					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'aadhar_card_scan_copy' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(3,'PropertyTaxCurrentYearReceiptOfOrganization', '1.3', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'pan_card_owner_or_prop' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(4, 'OrganizationBusinessTaxCurrentYearReceipt', '1.4', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'constitution_copy_of_firm' | translate: translateKey}} </label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(5,'WorkersProfessionalTaxReceipt', '1.5','doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'proof_of_ownership_tenancy' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(6,'PartnershipDeedCopyOfPartnerIfThereIsAPartner', '1.6', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'copy_of_lease_deed_or_auctioncopy_or_poss_letter' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(7, 'OwnerMoreWorkers', '1.7', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'premises_by_the_land_owning_agency' | translate: translateKey}}</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(8, 'AdharCardOwner', '1.8', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'additional_document_if_any' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(9, 'ElectionVotersID', '1.9', 'doc') "></file-upload>
						</div>
					</div>

					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'property_tax_bill_paid_receipt' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(10, 'PANCardTenant', '2', 'doc') "></file-upload>
						</div>
					</div>
					<div class="col-md-4">
						<div *ngIf="showButtons">
							<label>{{'shop_establishment_certi' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(11,'PartnershipDeedCopyOfPartnerIfThereIsAPartner', '1.6', 'doc') "></file-upload>
						</div>
					</div>
					<!-- two attachment for rental shop -->
					<div class="col-md-4" *ngIf="muttonFishNewForm.get('statusOfBusinessId').controls.code.value === 'RENT'">
						<div *ngIf="showButtons">
							<label>{{'occupation_certi' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(12,'PartnershipDeedCopyOfPartnerIfThereIsAPartner', '1.6', 'doc') "></file-upload>
						</div>
					</div>
					<div class="col-md-4" *ngIf="muttonFishNewForm.get('statusOfBusinessId').controls.code.value === 'RENT'">
						<div *ngIf="showButtons">
							<label>{{'rent_agreement' | translate: translateKey}} *</label>
							<file-upload [form]="muttonFishNewForm" [uploadModel]="setDataValue(13,'PartnershipDeedCopyOfPartnerIfThereIsAPartner', '1.6', 'doc') "></file-upload>
						</div>
					</div>
				</div>

				<app-action-bar [uploadFiles]="uploadFileArrayData" [form]="muttonFishNewForm" (handleErrors)="handleErrorsOnSubmit($event)"
				 (tabIndex)="onTabChange($event) " [stepInfo]="{step: 'final', next:3, back:1} "></app-action-bar>

			</mat-tab>
			<!-- step Attachment Ends -->

		</mat-tab-group>
	</form>
	<!-- {{ muttonFishNewForm.value | json }} -->
</mat-card>