<app-hos-title-bar [title]="'screen_title' | translate: translateKey">
	<!-- <button class="pull-right" mat-stroked-button type="button" (click)="patchValue()">
		Patch Value
	</button> -->
</app-hos-title-bar>

<div  *ngIf="isGuideLineActive">
    <app-guidelines [isGuileLineActive]="isGuideLineActive" [listMessage]="listMessage" [message]="message" (hideGuideLine) = "$event?isGuideLineActive = false : isGuideLineActive = true" ></app-guidelines>
</div>

<mat-card class="formClass cardBorder" [hidden]="isGuideLineActive">

    <form class="birth-certificate-form" [formGroup]="birthCertificateForm" autocomplete="off" ngNativeValidate appReload [isFormSaved]="isFormSaved"
        [form]="birthCertificateForm">

        <mat-tab-group mat-stretch-tabs dynamicHeight="true" [(selectedIndex)]="tabIndex" class="stepperNav">

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel1 | translate: translateKey}}</div>
                </ng-template>

                <div class="row">

                    <div formGroupName="birthPlace" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select (change)="config.changeHandler($event, 'OTHER_PLACE', birthCertificateForm, 'otherPlace');changeBirthPlace($event);requiredDocumentList()" placeholder="{{'birth_place' | translate:translateKey}} "
                            formControlName="code">
                            <ng-option *ngFor="let birthplace of BirthPlaces" [value]="birthplace.code">
                                {{birthplace.name}}</ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('birthPlace').get('code')">
                        </control-messages>
                    </div>

                    <div class="col-md-4" *ngIf="birthCertificateForm.get('birthPlace').get('code').value == 'OTHER_PLACE'">
                        <mat-form-field class="birth-certificate-col-md-4">
                            <input matInput maxlength="500" placeholder="{{'other_birth_place' | translate:translateKey}}" formControlName="otherPlace"
                                required>
                            <control-messages [control]="birthCertificateForm.get('otherPlace')">
                            </control-messages>
                        </mat-form-field>

                    </div>

                    <div class="col-md-4 radioBtnError" formGroupName="isOrphan">
                        <mat-label>{{'is_orphan' | translate:translateKey }} <span class="mandatory">*</span></mat-label>
                        <mat-radio-group class="example-radio-group" formControlName="code">
                            <mat-radio-button class="example-radio-button" *ngFor="let orphan of ISYESNO" [value]="orphan.code">
                                {{orphan.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <control-messages [control]="birthCertificateForm.get('isOrphan').get('code')">
                        </control-messages>
                    </div>

                    <div class="col text-right">
                        <mat-checkbox [disabled]="birthCertificateForm.get('noOfChilds').value >1 ||  birthCertificateForm.disabled" labelPosition="after"
                            [checked]="showChildAddButton" (change)="multipleChildAdder($event.checked)">
                            {{'child_more_than_one' | translate:translateKey}}
                        </mat-checkbox>
                    </div>
                </div>

                <div class="row float-right padaddbtn" *ngIf="birthCertificateForm.get('noOfChilds').value < 6 && showChildAddButton ">
                    <!-- <button color="primary" [disabled]="showButtons && !birthCertificateForm.get('canEdit').value" matTooltip="Add More New Born Child"
                        type="button"  mat-button (click)="addMoreChild()">
                        <mat-icon class="v-inherit">add</mat-icon>Add More Child
                    </button> -->
                    <button mat-raised-button color="primary" [disabled]="showButtons && !birthCertificateForm.get('canEdit').value" type="button"
                        (click)="addMoreChild()">
                        <mat-icon>add</mat-icon> {{'Add_new_Child_Record' | translate: translateKey}}
                    </button>
                </div>

                <div formArrayName="childs" class="clear">
                    <div class="row" *ngFor="let item of birthCertificateForm.get('childs')['controls']; let i = index;" [formGroupName]="i">

                        <h2 class="col-md-11 float-left">Child {{i+1}}</h2>

                        <div class="col-md-1 text-right">
                            <button type="button" color="warn" mat-mini-fab [hidden]="showButtons && !birthCertificateForm.get('canEdit').value" (click)="deleteChild(item.value, i)"
                                *ngIf="i > 0">
                                <mat-icon class="v-inherit" matTooltip="Delete Child Details">delete</mat-icon>
                            </button>
                        </div>

                        <mat-form-field class="col-md-4">
                            <input matInput [max]="maxBirthDate" [min]="minBirthDate" [matDatepicker]="picker" placeholder="{{'birth_date' | translate:translateKey}}"
                                formControlName="birthDate" (dateChange)="delayCalculator($event, i)" (focus)="resetDateValidation(i)"
                                [form]="birthCertificateForm.get('childs')['controls'][i]" appGujInputSource targetElement="birthDateGuj" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker touchUi="true" (opened)="resetDateValidation(i)"></mat-datepicker>
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('birthDate')">
                            </control-messages>
                        </mat-form-field>

                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>{{'birth_time' | translate:translateKey}}</mat-label>
                                <input class="clock-input" (blur)="changeBirthTime($event.target.value, i)" placeholder="HH:MM" matInput type="time" atp-time-picker
                                    theme="dark" formControlName="birthTime" [form]="birthCertificateForm.get('childs')['controls'][i]" appGujInputSource targetElement="birthTimeGuj"  required />
                                <button class="clock-button" [disabled]="!birthCertificateForm?.get('canEdit')?.value" mat-icon-button type="button" (click)="openTimePicker(i)">
                                    <mat-icon matTooltip="Select Birth Time" color="primary">alarm</mat-icon>
                                </button>
                                <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('birthTime')">
                                </control-messages>
                            </mat-form-field>

                        </div>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="50" [form]="birthCertificateForm.get('childs')['controls'][i]"
                             appGujInputSource targetElement="childNameGuj" appValidationFields [validationFieldsType]="'onlyNameWithOutSpace'"
                             placeholder="{{'child_name' | translate:translateKey}}"
                             (change)="onChangeNameValidation($event,'childName')"   name="childName" formControlName="childName">
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('childName')">
                            </control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input  readonly matInput appGujInputTarget [form]="birthCertificateForm"	
                                placeholder="{{'birth_date' | translate:translateKey:'gu'}}" formControlName="birthDateGuj">
                        </mat-form-field>
    
                        <mat-form-field class="col-md-4">
                        <input class="clock-input" [form]="birthCertificateForm" appGujInputTarget 
                        placeholder="{{'birth_time' | translate:translateKey:'gu'}}" matInput type="text" atp-time-picker theme="dark"
                            formControlName="birthTimeGuj" 
                                readonly />		
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('birthTimeGuj')"></control-messages>
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCertificateForm.get('childs')['controls'][i]" placeholder="{{'child_name' | translate:translateKey:'gu'}}"
                               formControlName="childNameGuj">
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('childNameGuj')">
                            </control-messages>
                        </mat-form-field>

    
                        <div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="weightKg">
                            <ng-select OnlyNumber placeholder="{{'child_weight_kg' | translate:translateKey}} " formControlName="code" (change)="calculateChildWeight(i,'weightKg','weightGram')">
                                <ng-option *ngFor="let childweight of ChildWeights" [value]="childweight.code">
                                    {{childweight.name}}
                                </ng-option>
                            </ng-select>
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('weightKg').get('code')">
                            </control-messages>
                        </div>

                        <div class="col-md-4 ngSelect asteriskmarkRequired" formGroupName="weightGram">
                            <ng-select OnlyNumber placeholder="{{'child_weight_gms' | translate:translateKey}} " formControlName="code" (change)="calculateChildWeight(i,'weightKg','weightGram')">
                                <ng-option *ngFor="let childweightgrm of CHILD_WEIGHT_GM" [value]="childweightgrm.code">
                                    {{childweightgrm.name}}
                                </ng-option>
                            </ng-select>
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('weightGram').get('code')">
                            </control-messages>
                        </div>
                        <!-- 
                        <mat-form-field class="col-md-4">
                            <input matInput maxlength="3" OnlyNumber
                                placeholder="{{'child_weight_gms' | translate:translateKey}}"
                                formControlName="weightGram">
                            <control-messages
                                [control]="birthCertificateForm.get('childs')['controls'][i].get('weightGram')">
                            </control-messages>

                        </mat-form-field> -->

                        <div class="col-md-4 radioBtnError" formGroupName="sex">
                            <mat-label>{{'gender' | translate:translateKey}} <span class="mandatory">*</span></mat-label>
                            <mat-radio-group formControlName="code">
                                <mat-radio-button class="example-radio-button" *ngFor="let sex of Gender" [value]="sex.code">
                                    {{sex.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <control-messages [control]="birthCertificateForm.get('childs')['controls'][i].get('sex').get('code')">
                            </control-messages>
                        </div>
                        <div class="col-md-4" *ngIf="birthCertificateForm.get('delayPeriod').value > 30">
                            <button type="button" mat-raised-button color="primary"
                            (click)="downloadAffidavitForm()">Download Affidavit Form</button>
                        </div>
                    </div>
                </div>
                <app-hos-action-bar [stepInfo]="{step: 'step1', next: 1, back: 0}" (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="birthCertificateForm"></app-hos-action-bar>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel2 | translate: translateKey}}</div>
                </ng-template>
                <div class="row">

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="200" [form]="birthCertificateForm" appGujInputSource targetElement="fatherFirstNameGuj" appValidationFields
                            [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'first_name' | translate:translateKey}}"
                            (change)="onChangeNameValidation($event,'fatherFirstName')"  formControlName="fatherFirstName" required>
                        <control-messages [control]="birthCertificateForm.get('fatherFirstName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50" appValidationFields [form]="birthCertificateForm" appGujInputSource targetElement="fatherMiddleNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'middle_name' | translate:translateKey}}"
                            (change)="onChangeNameValidation($event,'fatherMiddleName')"  formControlName="fatherMiddleName">
                        <control-messages [control]="birthCertificateForm.get('fatherMiddleName')"></control-messages>
                    </mat-form-field>


                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50" appValidationFields [form]="birthCertificateForm" appGujInputSource targetElement="fatherLastNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'last_name' | translate:translateKey}}"
                            (change)="onChangeNameValidation($event,'fatherLastName')"   formControlName="fatherLastName" required>
                        <control-messages [control]="birthCertificateForm.get('fatherLastName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="600" appPreventSpace appGujInputTarget [form]="birthCertificateForm" 
                        placeholder="{{'first_name' | translate:translateKey:'gu'}}"
                            formControlName="fatherFirstNameGuj" required>
                        <control-messages [control]="birthCertificateForm.get('fatherFirstNameGuj')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCertificateForm" 
                        placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                            formControlName="fatherMiddleNameGuj">
                        <control-messages [control]="birthCertificateForm.get('fatherMiddleNameGuj')">
                        </control-messages>
                    </mat-form-field>


                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCertificateForm" 
                        placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                            formControlName="fatherLastNameGuj" required>
                        <control-messages [control]="birthCertificateForm.get('fatherLastNameGuj')"></control-messages>
                    </mat-form-field>

                    <div formGroupName="fatherEducation" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'education' | translate:translateKey}} " (change)="config.gujNameFinder($event, birthCertificateForm, 'fatherEducation',FatherEducations)"
                            formControlName="code">
                            <ng-option matTooltip="{{fathereducation.name}}" *ngFor="let fathereducation of FatherEducations" [value]="fathereducation.code">
                                {{fathereducation.name}}</ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('fatherEducation').get('code')">
                        </control-messages>
                    </div>
                    <mat-form-field formGroupName="fatherEducation" class="col-md-6">
                        <input [disabled]="showButtons && !birthCertificateForm.get('canEdit').value" readonly matInput maxlength="20" appPreventSpace
                            placeholder="{{'education' | translate:translateKey:'gu'}}" [value]="birthCertificateForm.get('fatherEducation').get('gujName').value"
                            required>
                    </mat-form-field>

                    <div class="col-md-12" *ngIf="birthCertificateForm.get('fatherEducation').get('code').value == 'NOT_STATED'">
                        <mat-form-field>
                            <input matInput maxlength="100" placeholder="{{'not_stated_education' | translate:translateKey}}" formControlName="fatherOtherEducation"
                                required>
                        </mat-form-field>
                    </div>

                    <div formGroupName="fatherOccupations" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'occupation' | translate:translateKey}} " (change)="config.gujNameFinder($event, birthCertificateForm ,'fatherOccupations',FatherOccupation)"
                            formControlName="code">
                            <ng-option matTooltip="{{fatheroccupation.name}}" *ngFor="let fatheroccupation of FatherOccupation" [value]="fatheroccupation.code">
                                {{fatheroccupation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('fatherOccupations').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field formGroupName="fatherOccupations" class="col-md-6">
                        <input [disabled]="showButtons && !birthCertificateForm.get('canEdit').value" readonly matInput maxlength="20" appPreventSpace
                            placeholder="{{'occupation' | translate:translateKey:'gu'}}" [value]="birthCertificateForm.get('fatherOccupations').get('gujName').value"
                            required>
                    </mat-form-field>

                    <mat-form-field class="col-md-6">
                        <input matInput maxlength="12" minlength="12" OnlyNumber placeholder="{{'aadhar_number' | translate:translateKey}}" formControlName="fatherAadharNumber">
                        <control-messages [control]="birthCertificateForm.get('fatherAadharNumber')"></control-messages>
                    </mat-form-field>
                </div>

                <app-hos-action-bar [stepInfo]="{step: 'step2', next: 2, back: 0}" (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="birthCertificateForm"></app-hos-action-bar>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel3 | translate: translateKey}}</div>
                </ng-template>

                <div class="row">
                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="200" appValidationFields [form]="birthCertificateForm" appGujInputSource targetElement="motherFirstNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'first_name' | translate:translateKey}}"
                            (change)="onChangeNameValidation($event,'motherFirstName')"   formControlName="motherFirstName" required>
                        <control-messages [control]="birthCertificateForm.get('motherFirstName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50" appValidationFields [form]="birthCertificateForm" appGujInputSource targetElement="motherMiddleNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'middle_name' | translate:translateKey}}"
                            (change)="onChangeNameValidation($event,'motherMiddleName')"   formControlName="motherMiddleName">
                        <control-messages [control]="birthCertificateForm.get('motherMiddleName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="50" appValidationFields [form]="birthCertificateForm" appGujInputSource targetElement="motherLastNameGuj"
                            [validationFieldsType]="'onlyNameWithOutSpace'" placeholder="{{'last_name' | translate:translateKey}}"
                            (change)="onChangeNameValidation($event,'motherLastName')"    formControlName="motherLastName" required>
                        <control-messages [control]="birthCertificateForm.get('motherLastName')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="600" appPreventSpace appGujInputTarget [form]="birthCertificateForm" 
                        placeholder="{{'first_name'| translate:translateKey:'gu'}}"
                            formControlName="motherFirstNameGuj" required>
                        <control-messages [control]="birthCertificateForm.get('motherFirstNameGuj')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCertificateForm" 
                        placeholder="{{'middle_name' | translate:translateKey:'gu'}}"
                            formControlName="motherMiddleNameGuj">
                        <control-messages [control]="birthCertificateForm.get('motherMiddleNameGuj')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="150" appPreventSpace appGujInputTarget [form]="birthCertificateForm" 
                        placeholder="{{'last_name' | translate:translateKey:'gu'}}"
                            formControlName="motherLastNameGuj" required>
                        <control-messages [control]="birthCertificateForm.get('motherLastNameGuj')"></control-messages>
                    </mat-form-field>

                    <div formGroupName="motherEducation" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'education' | translate:translateKey}} " (change)="config.gujNameFinder($event,birthCertificateForm, 'motherEducation',MotherEducations)"
                            formControlName="code">
                            <ng-option matTooltip="{{mothereducation.name}}" *ngFor="let mothereducation of MotherEducations" [value]="mothereducation.code">
                                {{mothereducation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('motherEducation').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field formGroupName="motherEducation" class="col-md-6">
                        <input [disabled]="showButtons && !birthCertificateForm.get('canEdit').value" readonly matInput maxlength="100" appPreventSpace
                            placeholder="{{'education' | translate:translateKey:'gu'}}" [value]="birthCertificateForm.get('motherEducation').get('gujName').value"
                            required>
                    </mat-form-field>

                    <div class="col-md-12" *ngIf="birthCertificateForm.get('motherEducation').get('code').value == 'NOT_STATED'">
                        <mat-form-field>
                            <input matInput placeholder="{{'not_stated_education' | translate:translateKey}}" formControlName="motherOtherEducation"
                                required>
                        </mat-form-field>
                    </div>

                    <div formGroupName="motherOccupations" class="col-md-6 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'occupation' | translate:translateKey}} " (change)="config.gujNameFinder($event, birthCertificateForm, 'motherOccupations',MotherOccupation)"
                            formControlName="code">
                            <ng-option matTooltip="{{motheroccupation.name}}" *ngFor="let motheroccupation of MotherOccupation" [value]="motheroccupation.code">
                                {{motheroccupation.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('motherOccupations').get('code')">
                        </control-messages>
                    </div>



                    <mat-form-field formGroupName="motherOccupations" class="col-md-6">
                        <input [disabled]="showButtons && !birthCertificateForm.get('canEdit').value" readonly matInput maxlength="20" appPreventSpace
                            placeholder="{{'occupation' | translate:translateKey:'gu'}}" [value]="birthCertificateForm.get('motherOccupations').get('gujName').value"
                            required>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="12" minlength="12" OnlyNumber placeholder="{{'aadhar_number' | translate:translateKey}}" formControlName="motherAadharNumber">
                        <control-messages [control]="birthCertificateForm.get('motherAadharNumber')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput type="text" maxlength="4" OnlyNumber placeholder="{{'e_Mamta_RegNumber' | translate:translateKey}}" formControlName="mamtaRegNumber">
                        <control-messages [control]="birthCertificateForm.get('mamtaRegNumber')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="20" appAlphaNumeric placeholder="{{'mother_previous_delivery_number' | translate:translateKey}}"
                            formControlName="motherPrevRegNumber">
                        <control-messages [control]="birthCertificateForm.get('motherPrevRegNumber')">
                        </control-messages>
                    </mat-form-field>

                    <!-- <mat-form-field class="col-md-4">
                        <input matInput maxlength="4" minlength="4" OnlyNumber
                            placeholder="{{'peta_kendra_number' | translate:translateKey}}"
                            formControlName="petaKendraNumber">
                        <control-messages [control]="birthCertificateForm.get('petaKendraNumber')"></control-messages>
                    </mat-form-field> -->

                    <div formGroupName="petaKendraNumber" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'peta_kendra_number' | translate:translateKey}}" formControlName="code">
                            <ng-option matTooltip="{{upch.name}}" *ngFor="let upch of URBAN_PRIMARY_HEALTH_CENTER" [value]="upch.code">
                                {{upch.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('petaKendraNumber').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="motherMarriageAge" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select OnlyNumber (change)="onChangeMerriageAge()" placeholder="{{'mother_age_at_time_of_marriage' | translate:translateKey}} " formControlName="code">
                            <ng-option matTooltip="{{maamt.name}}" *ngFor="let maamt of MOTHER_MARRIAGE_AGE" [value]="maamt.code">
                                {{maamt.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('motherMarriageAge').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="motherDeliveryAge" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select OnlyNumber (change)="onChangeDeliveryAge($event)" placeholder="{{'mother_age_at_time_of_said_delivery' | translate:translateKey}} " formControlName="code">
                            <ng-option matTooltip="{{maasd.name}}" *ngFor="let maasd of MOTHER_DELIVERY_AGE" [value]="maasd.code">
                                {{maasd.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('motherDeliveryAge').get('code')">
                        </control-messages>
                    </div>

                    <!-- <mat-form-field class="col-md-4">
                        <input matInput type="text" maxlength="3" minlength="2" OnlyNumber
                            placeholder="{{'mother_age_at_time_of_marriage' | translate:translateKey}}"
                            formControlName="motherMarriageAge" required>
                        <control-messages [control]="birthCertificateForm.get('motherMarriageAge')"></control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input matInput type="text" maxlength="3" minlength="2"
                            placeholder="{{'mother_age_at_time_of_said_delivery' | translate:translateKey}}"
                            formControlName="motherDeliveryAge" required>
                        <control-messages [control]="birthCertificateForm.get('motherDeliveryAge')"></control-messages>
                    </mat-form-field> -->



                </div>



                <h2>{{'child_born_with_mother' | translate:translateKey}}</h2>

                <div class="row">

                    <mat-form-field class="col-md-4">
                        <input required maxlength="1" (change)="totalChildCalculate()" OnlyNumber matInput placeholder="{{'total_boy_child' | translate:translateKey}}"
                            formControlName="totalBoyChilds" required>
                        <control-messages [control]="birthCertificateForm.get('totalBoyChilds')">
                        </control-messages>

                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input required maxlength="1" (change)="totalChildCalculate()" OnlyNumber matInput placeholder="{{'total_girl_child' | translate:translateKey}}"
                            formControlName="totalGirlChilds" required>
                        <control-messages [control]="birthCertificateForm.get('totalGirlChilds')">
                        </control-messages>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input readonly maxlength="1" OnlyNumber matInput placeholder="{{'total_childs' | translate:translateKey}}"
                            formControlName="totalChilds">
                        <control-messages [control]="birthCertificateForm.get('totalChilds')">
                        </control-messages>
                    </mat-form-field>

                </div>

                <div class="row">
                    <div formGroupName="deliveryTreatment" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'treatment_taken_during_delivery' | translate:translateKey}} " formControlName="code">
                            <ng-option matTooltip="{{dto.name}}" *ngFor="let dto of DeliveryTreatmentOptions" [value]="dto.code">
                                {{dto.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('deliveryTreatment').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="deliveryType" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select placeholder="{{'delivery_type' | translate:translateKey}} " formControlName="code">
                            <ng-option *ngFor="let deliverytype of TypeOfDelivery" [value]="deliverytype.code">
                                {{deliverytype.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('deliveryType').get('code')">
                        </control-messages>
                    </div>

                    <mat-form-field class="col-md-4">
                        <input matInput maxlength="2" OnlyNumber placeholder="{{'pregnancy_duration' | translate:translateKey}}" formControlName="pregnancyDuration"
                            required>
                        <control-messages [control]="birthCertificateForm.get('pregnancyDuration')"></control-messages>
                    </mat-form-field>
                </div>


                <app-hos-action-bar [stepInfo]="{step: 'step3', next: 3, back: 1}" (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                    (handleErrors)="handleErrorsOnSubmit($event)" [form]="birthCertificateForm"></app-hos-action-bar>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{stepLabel4 | translate: translateKey}}</div>
                </ng-template>

                <div class="row">
                    <div formGroupName="familyReligion" class="col-md-4 ngSelect asteriskmarkRequired">
                        <ng-select (change)="config.changeHandler($event,'OTHER_RELIGION', birthCertificateForm,'familyReligionOther' )" placeholder="{{'religion' | translate:translateKey}} "
                            formControlName="code" required>
                            <ng-option *ngFor="let relegion of Religion" [value]="relegion.code">
                                {{relegion.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('familyReligion').get('code')">
                        </control-messages>
                    </div>

                    <div class="col-md-4" *ngIf="birthCertificateForm.get('familyReligion').get('code').value == 'OTHER_RELIGION'">
                        <mat-form-field class="birth-certificate-col-md-4">
                            <input appValidationFields [validationFieldsType]="'onlyNameWithSpace'" matInput placeholder="{{'other_religion' | translate:translateKey}}"
                                formControlName="familyReligionOther" required>
                            <control-messages [control]="birthCertificateForm.get('familyReligionOther')">
                            </control-messages>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <h2>
                        {{'present_address_during_delivery' | translate:translateKey}}
                    </h2>
                    <app-address [isDisplayGujFields]="true" #address [requiredFeilds]="true" [addressFormGroup]="birthCertificateForm.get('parentDeliveryAddress')"></app-address>
                </div>

                <div class="row">
                    <div class="col-md-4" formGroupName="isPermanentPresentAddressSame">
                        <mat-checkbox [disabled]="!birthCertificateForm.get('canEdit').value" (change)="check($event);" [checked]="birthCertificateForm.get('isPermanentPresentAddressSame').get('code').value == 'YES'? true : false">{{'is_permanent_address_same_as_present_address'
                            | translate:translateKey}}</mat-checkbox>
                    </div>

                    <div class="col-md-4 radioBtnError" formGroupName="withinCityLimits">
                        <mat-label>{{'Within_City_Limits' | translate:translateKey}} <span class="mandatory">*</span></mat-label>
                        <mat-radio-group formControlName="code" (change)="changeInCityLimits($event)">
                            <mat-radio-button class="example-radio-button" *ngFor="let opt of ISYESNO" [value]="opt.code">
                                {{opt.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <control-messages [control]="birthCertificateForm.get('withinCityLimits').get('code')">
                        </control-messages>
                    </div>

                    <div formGroupName="wardNo" class="col-md-4 ngSelect asteriskmarkRequired" *ngIf="birthCertificateForm.get('withinCityLimits').get('code').value=='YES'">
                        <ng-select placeholder="{{'ward_No' | translate:translateKey}} " formControlName="code" required="{{birthCertificateForm.get('withinCityLimits').get('code').value=='YES'}}">
                            <ng-option *ngFor="let wardObj of wardNoData" [value]="wardObj.code">
                                {{wardObj.name}}
                            </ng-option>
                        </ng-select>
                        <control-messages [control]="birthCertificateForm.get('wardNo').get('code')">
                        </control-messages>
                    </div>

                    <div class="col-md-4 radioBtnError" formGroupName="birthCertiMailingAddressType">
                        <mat-label>{{'BIRTH_CERTI_MAILING_ADDRESS_TYPE' | translate:translateKey }} <span class="mandatory">*</span></mat-label>
                        <mat-radio-group class="example-radio-group" formControlName="code">
                            <mat-radio-button class="example-radio-button" *ngFor="let loc of BIRTH_CERTI_MAILING_ADDRESS_TYPE" [value]="loc.code">
                                {{loc.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <control-messages [control]="birthCertificateForm.get('birthCertiMailingAddressType').get('code')">
                        </control-messages>
                    </div>
                </div>

                <div class="row">
                    <h2 class="mt-4">
                        {{'permanent_address_during_delivery' | translate:translateKey}}
                    </h2>
                    <app-address [isDisplayGujFields]="true" #address [requiredFeilds]="true" [addressFormGroup]="birthCertificateForm.get('parentPermanentAddress')"></app-address>
                </div>

                <div>
                    <app-hos-action-bar [stepInfo]="{step: 'step4', next: 4, back: 2}" (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                        (handleErrors)="handleErrorsOnSubmit($event)" [form]="birthCertificateForm">
                    </app-hos-action-bar>
                </div>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>{{ stepLabel5 | translate: translateKey}}</div>
                </ng-template>

                <div class="alert alert-warning">
                    {{'note' | translate:translateKey}} :{{'submit_hard_copy_at_madhyawarti_school' | translate:translateKey}}
                </div>

                <div class="alert alert-warning">
                    {{'note' | translate:translateKey}} : {{'file_size_less_than_5_mb' | translate:translateKey}}
                </div>

                <div class="row">
                    <div class="col-md-4" *ngFor="let doc of uploadFileArray">
                        <!-- *ngIf="doc.requiredOnCitizenPortal && doc.isActive && showButtons" 
                         birthCertificateForm.get('serviceDetail').get('serviceUploadDocuments').value-->
                        <div>
                            <label>{{translateService.getCurrentLanguage()=='en'? doc.documentLabelEn : doc.documentLabelGuj
                                }}
                                <span *ngIf="doc.mandatory" class="mandatory">*</span></label>
                            <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="doc">
                            </app-hos-file-upload>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">

                    <div class="col-md-4" *ngIf="showButtons">
                        <label labelPosition="after">{{'resident_proof' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.1')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.1,'Resident Proof','1.1','residentProof')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons">
                        <label>{{'doctors_certificate' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.2')?'': '*'}}</label>

                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.2,'Doctors Certificate','1.1','doctorsCertificate')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons">
                        <label labelPosition="after">{{'kyc_With_Address_Proof' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.3')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificPincode ateForm" [uploadModel]="setDataValue(1.3,'Kyc With Address Proof','1.1','kycWithAddressProof')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons">
                        <label labelPosition="after">{{'aaya_Id_Proof' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.4')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.4,'Aaya Id Proof','1.1','aayaIdProof')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons">
                        <label labelPosition="after">{{'health_Worker_Report' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.5')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.5,'Health Worker Report','1.1','healthWorkerReport')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons">
                        <label labelPosition="after">{{'applicant_Id_Kyc_Proof' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.6')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.6,'Applicant Id Kyc Proof','1.1','applicantIdKycProof')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons && getDelayPeriod() > 30 && getDelayPeriod() < 365">
                        <label labelPosition="after">{{'affidavit_Or_health_Order' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.7')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.7,'Affidavit Or Health Order','1.1','affidavitOrhealthOrder')"></app-hos-file-upload>
                    </div>

                    <div class="col-md-4" *ngIf="showButtons && getDelayPeriod() > 365 ">
                        <label labelPosition="after">{{'court_Order' | translate:translateKey}}{{!config.getFileObjectContained(uploadFileArray,
                            '1.8')?'': '*'}}
                        </label>
                        <app-hos-file-upload [form]="birthCertificateForm" [uploadModel]="setDataValue(1.8,'Court Order','1.1','courtOrder')"></app-hos-file-upload>
                    </div>

                </div> -->

                <div>
                    <app-hos-action-bar [paymentGateway]="paymentGateway" [stepInfo]="{step: 'final', next: 5, back: 3}" (saveEvent)="isFormSaved = $event?.isSaved" (tabIndex)="onTabChange($event)"
                        [form]="birthCertificateForm" [uploadFiles]="uploadFileArray" (handleErrors)="handleErrorsOnSubmit($event)"></app-hos-action-bar>
                </div>
                <select-payment-gateway [applicationType]="'HOSPITAL'" #paymentGateway></select-payment-gateway>
            </mat-tab>
        </mat-tab-group>
    </form>
</mat-card>
<div id="sectionToPrint"></div>