<!-- Theater Booking Module Starts from here -->
<div class="container">

    <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

    <div class="text-right">
        <button mat-raised-button color="primary" type="button" routerLink = "../booking-status">{{'check_booking_status' | translate: translateKey}}</button>
    </div>

    <mat-card class="mt-4">

        <mat-card class="cardH1">
            <h1>{{'check_bookng_availibility' | translate: translateKey}}</h1>
        </mat-card>

        <!-- Cheack Theater booking avalibility -->
        <form [formGroup]="searchTheaterForm" (ngSubmit)="searchBooking()" autocomplete="off" ngNativeValidate>

            <div class="row">
                <div class="col-md-4 ngSelect">
                    <ng-select placeholder="{{'select_hall' | translate: translateKey}} *" (change) = "theaterChange($event)" formControlName="code">
                        <ng-option *ngFor="let theater of theaters" [value]="theater.code">
                            {{ theater.name }}
                        </ng-option>
                    </ng-select>
                </div>

                <div class="col-md-4 ngSelect" formGroupName="category">
                    <ng-select placeholder="{{'select_category' | translate: translateKey}} *" (change) = "categoryChange($event)" formControlName="code">
                        <ng-option *ngFor="let cat of Category" [value]="cat.code">
                            {{ cat.name }}
                        </ng-option>
                    </ng-select>
                </div>

                <mat-form-field class="col-md-4">
                    <input matInput required (dateChange)="dateChange($event)" [min] = "minBookingDate" (focus)="theaterBookingPicker.open()" (click)="theaterBookingPicker.open()" [matDatepicker]="theaterBookingPicker" formControlName="date" placeholder="{{'booking_date' | translate: translateKey}}">
                    <mat-datepicker-toggle matSuffix [for]="theaterBookingPicker"></mat-datepicker-toggle>
                    <mat-datepicker #theaterBookingPicker touchUi="true"></mat-datepicker>
                </mat-form-field>
                
            </div>

            <div class="row">

                <div class="col-md-12 text-right">
                    <button mat-raised-button color="primary" type="submit">{{'search' | translate: translateKey}}</button>
                </div>

            </div>

        </form>

    </mat-card>

    <!-- Table is used to display availble booking list -->
    <mat-table *ngIf="showShortListData && availableStots.length > 0" #table [dataSource]="availableStots">
    
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element;let indx=index;"> {{indx+1}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef>{{'start_time' | translate: translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.start}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef>{{'end_time' | translate: translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.end}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="slotStatus">
            <mat-header-cell *matHeaderCellDef>{{'status' | translate: translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                {{element.slotStatus}}
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>{{'action' | translate: translateKey}}</mat-header-cell>
            <mat-cell *matCellDef="let element;let indx=index;">
                <button mat-raised-button color="primary" *ngIf="element.slotStatus =='AVAILABLE'" (click)="shortListTheater(element)">
                     {{'short_for_booking' | translate: translateKey}}
                </button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- Show User to Booking Information -->

<mat-card *ngIf="showBookingInfo" >

    <mat-card class="cardH1">
        <h1>{{'booking_info' | translate: translateKey}}</h1>
    </mat-card>

    <div class="container row">

        <div class="col-md-4">
            <label>{{'booking_date' | translate: translateKey}}</label>
        </div>

        <div class="col-md-4">
            <label>{{'total_amount' | translate: translateKey}}</label>
        </div>

        <div class="col-md-4">
            <label>{{'remarks' | translate: translateKey}}</label>
        </div>

        <div class="col-md-4">
            {{searchTheaterForm.get('date').value.split('-')[2]}} - {{searchTheaterForm.get('date').value.split('-')[1]}} - {{searchTheaterForm.get('date').value.split('-')[0]}}
        </div>

        <div class="col-md-4">
            {{paymentObject.amount}}
        </div>

        <div class="col-md-4">
            Remarks
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button (click)="proceedForApplication()" mat-raised-button color="primary" type="button">
             {{'make_payment' | translate: translateKey}}
        </button>
    </div>
</mat-card>

    <!-- Theater Booking Form Content -->
    <mat-card *ngIf="showTheaterBookingForm" class="mt-4">
        <mat-card class="cardH1">
            <h1>{{'theater_booking_form' | translate: translateKey}}</h1>
        </mat-card>

        <div class ="alert alert-warning">
            <p>
             {{'contact_warning' | translate: translateKey}}
            </p>
        </div>

        <!-- Theater Booking Form is used to collect all the important information from citizen or department -->
        <form [formGroup]="theaterBookingForm" (ngSubmit)="confirmBooking()" autocomplete="off" ngNativeValidate>
    
            <div class="row">

                <div class ="col-md-12">
                    <mat-form-field >
                        <input matInput appValidationFields [validationFieldsType]="'onlyNameWithSpace'" type="text" formControlName="orgName"
                            placeholder="{{'organization_name' | translate: translateKey}}" required>
                    
                        <control-messages [control]="theaterBookingForm.controls.orgName"></control-messages>
                    </mat-form-field>
                    <p class="text-danger">
                         {{'name_warning' | translate: translateKey}}
                    </p>
                </div>
                
                <mat-form-field class="col-md-6">
                    <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="applicantContactNo" placeholder="{{'mobile_number' | translate: translateKey}}" required>
                    <control-messages [control]="theaterBookingForm.controls.applicantContactNo"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput OnlyNumber minlength="10" maxlength="10" formControlName="confirmContactNo" placeholder="{{'confirm_mobile_number' | translate: translateKey}}" required>
                    <control-messages [control]="theaterBookingForm.controls.confirmContactNo"></control-messages>
                    <mat-error class="mt-2" *ngIf="bookingUtils.matcher(theaterBookingForm, 'applicantContactNo','confirmContactNo')">{{'mobileno_warning' | translate: translateKey}}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <textarea matInput  type="text" formControlName="orgAddress"
                        placeholder="{{'address' | translate: translateKey}}" required></textarea>
                    <control-messages [control]="theaterBookingForm.controls.orgAddress"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput  type="email" formControlName="applicantEmail"
                        placeholder="{{'email' | translate: translateKey}}" required>
                    <control-messages [control]="theaterBookingForm.controls.applicantEmail"></control-messages>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput  type="email" formControlName="confirmEmail"
                        placeholder="{{'confirm_email' | translate: translateKey}}" required>
                        
                    <control-messages [control]="theaterBookingForm.controls.confirmEmail"></control-messages>
                    <mat-error class="mt-2" *ngIf="bookingUtils.matcher(theaterBookingForm, 'applicantEmail','confirmEmail')">{{'email_warning' | translate: translateKey}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-checkbox class="example-margin" [checked]="theaterBookingForm.get('termsCondition').value" formControlName="termsCondition">I have read and agreed with terms and conditions.</mat-checkbox>
            </div>
            <div class="row">
                <mat-checkbox class="example-margin" [checked]="theaterBookingForm.get('agree').value" formControlName="agree">I agreed with above details are correct.</mat-checkbox>
            </div>
            
            <div class="row" >
                <div class="col-md-12 text-right">
                    <button [disabled]="theaterBookingForm.invalid || bookingUtils.matcher(theaterBookingForm, 'applicantEmail','confirmEmail') || bookingUtils.matcher(theaterBookingForm, 'applicantContactNo','confirmContactNo') || agreeAndTermsVerification()" mat-raised-button color="primary" type="submit">{{'confirm_booking' | translate: translateKey}}</button>
                </div>
            </div>
        </form>
    </mat-card>

    <div *ngIf="availableStots.length==0" class="alert" style="text-align: center;margin: 20px;">
        <strong>No record found!</strong>
        <div>Please select other theater.</div>
    </div>
</div>