<!-- Payment Success-->
<div class="container text-center" *ngIf="responseObj.order_status == 'Success' || responseObj.authStatus == '0300' ">
	<div>
		<h1>
			<mat-icon class="checkIcon successicon">check_circle_outline</mat-icon>
			&nbsp;
			<span class="successmsg">Payment Sucessful ! </span>
		</h1>
		<h4 class="mt-4" style="font-weight: 600;">
			Thank you! Your payment of Rs. {{responseObj.mer_amount}} has been received.
		</h4>

		<h6 class="mt-4">
			Order ID: {{responseObj.order_id}} | Transaction ID: {{responseObj.bank_ref_no}}
		</h6>
	</div>


	<div>
		<h5 class="payDetails">Payment Details</h5>
		<mat-card class="cardDetail">
			<div class="row">
				<div class="col mb-2">
					Amount Paid : &#8377; &nbsp;{{responseObj.mer_amount}}
				</div>
				<div class="col">
					Reference Number : &nbsp;{{responseObj.bank_ref_no}}
				</div>
			</div>
			<div class="row">
				<div class="col mb-2">
					Balance Amount : &#8377; &nbsp;{{responseObj.mer_amount}}
				</div>
				<div class="col">
					Transaction Date : &nbsp;{{responseObj.trans_date}}
				</div>
			</div>
		</mat-card>
	</div>

	<div class="mt-4">
		<p style="font-size: 14px;">You will be automatically redirect to home page after
			<span style="color:#f00">{{dispTime}} second</span>.
		</p>
		<p>OR
			<a style="font-size: 14px;" href="javascript:0;" (click)="redirectToHome()">Click here</a>
		</p>
	</div>
</div>

<!-- Payment failed-->
<div class="conatiner text-center"
	*ngIf="(responseObj.order_status == 'Failure' || responseObj.order_status == 'Aborted')  || (responseObj.hasOwnProperty('authStatus') && responseObj.authStatus != '0300')">
	<mat-icon class="failedIcon">error</mat-icon>
	<h1 class="errorMessage">Your payment failed</h1>
	<h4>Please try after some time</h4>

	<div class="mt-4">
		<p style="font-size: 14px;">You will be automatically redirect to home page after
			<span style="color:#f00">{{dispTime}} second</span>.
		</p>
		<p>OR
			<a style="font-size: 14px;" href="javascript:0;" (click)="redirectToMyApps()">Click here</a>
		</p>
	</div>
</div>

<div id="sectionToPrint"></div>