.successmsg {
    color:#2db300;
    position: relative;
    top: -6px;
    left: 15px;
    font-size: 50px;
    font-family: cursive;
}
.warningmsg {
    color: #000;
    position: relative;
    left: 15px;
    bottom: 72px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.payDetails { margin-top: 45px;font-size: 22px;}
.successicon { font-size: 50px; color:#2db300;}

.cardDetail {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    width: 70%;
    margin: 0 auto;
}
.failedIcon{ font-size: 200px; color: #f00; display: inline;}
.errorMessage{ font-size: 50px; color: #565353; }