<!-- *ngIf="searchObj.isDisplayRenewLicenceForm" -->
<div *ngIf="searchObj.isDisplayRenewLicenceForm">
	<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

	<mat-card class="mt-4 formClass">
		<div>
			<mat-form-field class="col-md-10">
				<input matInput required placeholder="{{'search_by_membership_no' | translate:translateKey}}"
					maxlength="11" [formControl]="memberNumber" (keyup)="getNumber($event)">
				<!-- <control-messages [control]="memberNumber">
				</control-messages> -->
				<mat-error *ngIf="memberNumber.invalid && !showMsg">Membership Number  is required.
				</mat-error>
				<mat-error *ngIf="showMsg && memberNumber.invalid">Please enter valid  Membership number</mat-error>
			</mat-form-field>
			
		</div>
		<div>
			<button class="col-md-2" [disabled]="!memberNumber.valid" mat-raised-button color="primary"
				(click)="getSwimmingPoolData()">{{'Search'
				| translate:translateKey}}</button>
		</div>

	</mat-card>
</div>

<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>
<mat-card class="formClass cardBox" [hidden]="showDowlLoadFileTab" *ngIf="!searchObj.isDisplayRenewLicenceForm">
	<div class="pageTitle">{{'online_swimming_pool_bookings'| translate: translateKey}}</div>
	<!-- <mat-card-header class="p-4">
		<mat-card-title>
			<div>{{'note_title' | translate:translateKey}}</div>
		</mat-card-title>
		<mat-card-subtitle>{{'note_desc' | translate: translateKey}}:
		</mat-card-subtitle>
	</mat-card-header> -->

	<mat-card-content class="footer_container">
		<div class="head_container">
		<img _ngcontent-c1=""  alt="Vadodara Municipal Corporation" src="assets/images/VMC_LOGO.jpg" class="center img">
		<div class="tableTop">
			<h1 class="tableTitle py-2"><b>Contact Details</b></h1>
		</div>
		 <table class="table">
			 <tbody>
				 <tr>
					<td class="td"><b>&nbsp;&nbsp;1.&nbsp;&nbsp;&nbsp;<span class="vl"></span>&nbsp;&nbsp;Karelibaug Swimming Pool:&nbsp;&nbsp;(0265)&nbsp;&nbsp;2483500</b></td>
					<td class="td1"><b>&nbsp;&nbsp;2.&nbsp;&nbsp;&nbsp;<span class="vl"></span> &nbsp;&nbsp;Sardarbaug Swimming Pool:&nbsp;&nbsp;(0265)&nbsp;&nbsp;2335383</b></td>
				 </tr>
				 <tr>
					<td class="td"><b>&nbsp;&nbsp;3.&nbsp;&nbsp;&nbsp;<span class="vl"></span>&nbsp;&nbsp;Lalbaug Swimming Pool:&nbsp;&nbsp;(0265)&nbsp;&nbsp;2651575</b></td>
					 <td class="td1"><b>&nbsp;&nbsp;4.&nbsp;&nbsp;&nbsp;<span class="vl"></span>&nbsp;&nbsp;RajivGandhi Swimming Pool:&nbsp;&nbsp;(0265)&nbsp;&nbsp;2516760</b></td>
				 </tr>
			 </tbody>
		 </table>

		<h4 class="titleHeader"> <b>Read all the rules swimming pool-wise before click on proceed, once you click on proceed we consider your acceptance of the rules and regulations.</b></h4>
            <h4 class="titleparagraph"> <b>"Proceed" પર ક્લિક કરતા પહેલા સ્વિમિંગ પૂલ મુજબના તમામ નિયમો વાંચો, એકવાર તમે "Proceed" પર ક્લિક કરો પછી અમે નિયમો અને નિયમોની તમારી સ્વીકૃતિને ધ્યાનમાં લઈશું.</b></h4>
			<br>
			<div class="div1">
				<h1 class="mt-2"><b>Swimming Pool Entry Rules and Applicable Fees</b></h1>
			 </div>
			 <table class="table">
				 <tbody>
					<tr>
					 <td class="td swimmingPoolFees">
						<h5 class="mx-2"><b> {{'Swimming Pool Entry Rules' | translate: translateKey}}:<br>
						<button mat-button (click)="downloadGuidLineDocumemnt('Swimming_Pool_Entry_Rules')"
						 color="primary" >Download</button></b>
						</h5>
					 </td>
			 
					 <td class="td swimmingPoolFees">
						 <h5 class="mx-2"> <b>{{'Swimming Pool Applicable Fees' | translate: translateKey}}:<br>
						 <button mat-button (click)="downloadGuidLineDocumemnt('Swimming_Pool_Applicable_Fees')"
						 color="primary" >Download</button></b>
						  </h5>
					 </td>
		 
				</tr>		
				 </tbody>
			 </table>
			<br>
			<div class="div1">
			   <h1 style="margin-top: 10px;"><b>Need to Download for Application</b></h1>
		    </div>
			<table class="table">
				<tbody>
					<tr>
						<td class="td">
					       <h5><b> {{'&nbsp;&nbsp;Doctor Fitness Certificate' | translate: translateKey}}:
						   <button mat-button (click)="downloadGuidLineDocumemnt('Fitness_Certi_Final_')"
							color="primary" style="margin-right: 106px;">Download</button></b>
					       </h5>
						</td>
				
						<td class="td">
					        <h5> <b>{{'Sammati Patra-10-18 Yrs.Main Pool' | translate: translateKey}}:
						    <button mat-button (click)="downloadGuidLineDocumemnt('Sammati_Patra_0-18_Yrs_Main_Pool')"
							color="primary">Download</button></b>
					         </h5>
					    </td>
			
						<td class="td">
					        <h5><b> {{'Sammati Patra-05-12 Yrs.Baby Pool' | translate: translateKey}}:
						    <button mat-button (click)="downloadGuidLineDocumemnt('Sammati_Patra_05-12_Yrs_BABY_POOL')"
							color="primary">Download</button></b>
					        </h5>
					    </td>
				   </tr>
				   <tr>
					<td class="td" style="margin-right: 200px;">
					   <h5><b> {{'&nbsp;&nbsp;Student Concession' | translate: translateKey}}:
					   <button mat-button (click)="downloadGuidLineDocumemnt('Student_Concession')"
						color="primary" class="but">Download</button></b>
					   </h5>
					</td>
			
					<td class="td" style="margin-right: 200px;">
						<h5> <b>{{'VMC Employee Concession' | translate: translateKey}}:
						<button mat-button (click)="downloadGuidLineDocumemnt('VMC_Employee_Concession')"
						color="primary" class="but">Download</button></b>
						 </h5>
					</td>
		
					<td class="td" style="margin-right: 200px;">
						<h5><b> {{'Test Receipt' | translate: translateKey}}:
						<button mat-button (click)="downloadGuidLineDocumemnt('Test_Receipt__Final_')"
						color="primary" class="but">Download</button></b>
						</h5>
					</td>
			   </tr>		
				</tbody>
			</table>
	</div>
	<!-- <app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar> -->
	<app-swimming-pool-dashboard></app-swimming-pool-dashboard>
	</mat-card-content>
		<div class="fotButtonBar proceedButtton px-3">
			<div class="row">
				<div class="col-sm-6 col-md-6 ">
					<mat-checkbox  labelPosition="after" (change)="termsConditionClick($event)" >
					   <span class="listSize">{{'મેં માર્ગદર્શિકા/નિયમો અને શરતો વાંચી છે અને સંમત છું.'}}</span>
				   </mat-checkbox>	
			    </div>
			<div class="col-sm-6 col-md-6 text-right">
				<button mat-raised-button (click)="showDowlLoadFileTab = true; showSwimmingPoolForm= false;"
					color="primary" [disabled]="!swimmimgPoolBookingForm.get('termsCondition').value">
					<mat-icon>thumb_up_alt</mat-icon> 
					{{'proceed'| translate: translateKey}}
				</button>
		   </div>
		   </div>
	</div>
</mat-card> 


<span [hidden]="showSwimmingPoolForm">
	<!-- <p class="pb-2">{{head_lines| translate: translateKey}}</p> -->

	<mat-card class="formClass cardBorder">
		<!-- <form [formGroup]="swimmimgPoolBookingForm" (ngSubmit)="submitApplication()" autocomplete="off"> -->
			<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

				<!-- Tab 1 Starts -->
				<mat-tab #tab1 disabled>
					<ng-template mat-tab-label>
						<div>{{'general_details' | translate:translateKey}}</div>
					</ng-template>

					<form [formGroup]="generalDetails">
						<h2>
							{{'General Details' | translate:translateKey}}
						</h2>

					   <div class="row">

						<div formGroupName="swimmingPoolName" class="col-md-4 ngSelect">
							<ng-select required placeholder="{{'swimming_pool_name' | translate:translateKey}} *"
								formControlName="code"
								(change)="filterAsperPool($event);generalDetails.get('batchName').reset();generalDetails.get('batchFor').reset()">
								<ng-option *ngFor="let pool of SWIMMING_POOL_NAME" [value]="pool.code">
									{{pool.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="generalDetails.get('swimmingPoolName').get('code')">
							</control-messages>
						</div>

						<div class="col-md-4 ngSelect" formGroupName="membershipType">
							<ng-select placeholder="{{'membership_type' | translate:translateKey}} *"
								formControlName="code">
								<ng-option *ngFor="let member of MEMBERSHIP_TYPE" [value]="member.code">{{member.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="generalDetails.get('membershipType').get('code')">
							</control-messages>
						</div>

						<div class="col-md-4 ngSelect" formGroupName="category">
							<ng-select placeholder="{{'category' | translate:translateKey}} *" formControlName="code"
								required (change)="filterAsperCategory($event);generalDetails.get('batchFor').reset();
								generalDetails.get('batchDuration').reset()">
								<ng-option *ngFor="let cat of CATEGORY" [value]="cat.code">{{cat.name}}</ng-option>
							</ng-select>
							<control-messages [control]="generalDetails.get('category').get('code')">
							</control-messages>
						</div>

						<div class="col-md-4 ngSelect" formGroupName="batchDuration">
							<ng-select placeholder="{{'batch_duration' | translate:translateKey}} *"
								formControlName="code" required>
								<ng-option *ngFor="let time of BATCH_DURATION" [value]="time.code"
									[disabled]='durationisReadOnly'>{{time.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="generalDetails.get('batchDuration').get('code')">
							</control-messages>
						</div>

						<mat-form-field class="col-md-4">
							<input matInput [max]="maxBirthdate" autocomplete="off" appDate [max]="maxBirthdate" 
								[matDatepicker]="birthDatedatepicker" formControlName="birthDate"
								placeholder="{{ 'date_of_birth' | translate:translateKey }} (DD/MM/YYYY)" required
								(dateChange)="dateFormatt($event.value,'birthDate');calculateAge($event.value); generalDetails.get('batchFor').get('code').reset()" >
							<mat-datepicker-toggle matSuffix [for]="birthDatedatepicker"></mat-datepicker-toggle>
							<mat-datepicker #birthDatedatepicker touchUi="true"></mat-datepicker>
							<div align="end" class="default-show-hint mat-hint mat-right">
								{{config.DATE_HINT_MSG}}</div>
						</mat-form-field>


						<div class="col-md-4 ngSelect" formGroupName="batchFor">
							<ng-select placeholder="{{'batch_for' | translate:translateKey}} *" formControlName="code"
								required
								(change)="filterAsperBatchName($event);generalDetails.get('batchName').reset()">
								<ng-option *ngFor="let batchFor of BATCH_FOR" [value]="batchFor.code">{{batchFor.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="generalDetails.get('batchFor').get('code')">
							</control-messages>
						</div>

						<div class="col-md-4 ngSelect" formGroupName="batchName">
							<ng-select placeholder="{{'batch_name' | translate:translateKey}} *" formControlName="code"
								 (change)="filterBatch($event)" required>
								<ng-option *ngFor="let batchName of BATCH_NAME" [value]="batchName.code">
									{{batchName.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="generalDetails.get('batchName').get('code')">
							</control-messages>
						</div>
					</div>

					 <div class="row mt-4 fotButtonBar">
						<div class="col-sm-12 col-md-12 justify-content-between d-flex">
							<button type="button" color="primary" mat-raised-button
								(click)="showDowlLoadFileTab = false; showSwimmingPoolForm = true;">
								{{'back' | translate:translateKey}}
							</button>
							<button mat-raised-button type="button" color="primary"
							(click)="checkValidation(generalDetails,false)">
								{{'save_and_next'| translate:translateKey}}
								<mat-icon>navigate_next</mat-icon>
							</button>
						</div>
					 </div>
				    </form>
			    </mat-tab>
				<!-- Tab 1 Ends -->

				<!-- Tab 2 for applicant details -->
				<mat-tab #tab2 disabled>

					<ng-template mat-tab-label>
						<div>{{'applicant_details' | translate:translateKey}}</div>
					</ng-template>
					<form [formGroup]="applicantDetail">
					  <div class="row">

						 <mat-form-field class="col-md-4">
							<input matInput type="text" formControlName="applicantName" appValidationFields
								[validationFieldsType]="'onlyNameWithSpace'"
								placeholder="{{'applicant_name' | translate: translateKey }}" maxlength="50">
							<control-messages [control]="applicantDetail.get('applicantName')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4">
							<input matInput OnlyNumber minlength="10" maxlength="10"
								formControlName="applicantMobileNumber"
								placeholder="{{'mobile_number' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantMobileNumber')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4">
							<input matInput OnlyNumber minlength="10" maxlength="10"
								formControlName="applicantEmergencyNumber"
								placeholder="{{'applicant_emergency_number' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantEmergencyNumber')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4">
							<input matInput type="text" maxlength="50" formControlName="applicantEmail"
								placeholder="{{'email_id' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantEmail')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4">
							<input matInput [max]="maxBirthdate" autocomplete="off" appDate [min]="minBirthDate"
								[matDatepicker]="datepicker" [min]="minBirthDate" formControlName="applicantBirthDate"
								placeholder="{{ 'date_of_birth' | translate:translateKey }} (DD/MM/YYYY)" required
								(dateChange)="dateFormat2($event.value,'applicantBirthDate');calculateAge($event.value)" [readonly]="true">
							<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
							<mat-datepicker #datepicker touchUi="true"></mat-datepicker>
							<div align="end" class="default-show-hint mat-hint mat-right">
								{{config.DATE_HINT_MSG}}</div>
							<control-messages [control]="applicantDetail.get('applicantBirthDate')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4">
							<input matInput OnlyNumber maxlength="10" formControlName="applicantAge"
								placeholder="{{'age' | translate: translateKey}}" [readonly]="true">
							<control-messages [control]="applicantDetail.get('applicantAge')">
							</control-messages>
						 </mat-form-field>

						 <div class="col-md-4 ngSelect" formGroupName="applicantIDProof">
							<ng-select placeholder="{{'id_proof' | translate:translateKey}} *" formControlName="code"
								(change)="CheckType($event)" required>
								<ng-option *ngFor="let proof of APPLICANT_PROOF" [value]="proof.code">
									{{proof.name}}
								</ng-option>
							</ng-select>
							<control-messages [control]="applicantDetail.get('applicantIDProof').get('code')">
							</control-messages>
						 </div>

						 <mat-form-field class="col-md-4" *ngIf="isVisibleIdNumber">
							<input matInput maxlength="12" upperCase class="aadharcard"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required OnlyNumber>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>


						 <mat-form-field class="col-md-4" *ngIf="isPanCardVisibleIdNumber">
							<input matInput maxlength="10" upperCase class="pancard"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4" *ngIf="isLicenseVisibleIdNumber">
							<input matInput upperCase maxlength="15" class="drivinglicense"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4" *ngIf="isElectionCardIdNumber">
							<input matInput upperCase maxlength="10" class="electioncard"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4" *ngIf="isPassportIdNumber">
							<input matInput upperCase maxlength="10" class="passport"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>

						 <mat-form-field class="col-md-4" *ngIf="isVisibleElectricityBill">
							<input matInput maxlength="11" upperCase class="electricityBill"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required OnlyNumber>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>
						
						 <mat-form-field class="col-md-4" *ngIf="!isVisibleIdNumber && !isPanCardVisibleIdNumber && 
								!isLicenseVisibleIdNumber && !isElectionCardIdNumber && !isPassportIdNumber && !isVisibleElectricityBill">
							<input matInput upperCase maxlength="10" class="others"
								formControlName="applicantIDProofNumber"
								placeholder="{{'id_proof_no' | translate: translateKey}}" required appAlphaNumeric>
							<control-messages [control]="applicantDetail.get('applicantIDProofNumber')">
							</control-messages>
						 </mat-form-field>

						 <div class="col-md-4 ngSelect" formGroupName="applicantBloodGroup">
							<ng-select placeholder="{{'blood_group' | translate:translateKey}}" formControlName="code">
								<ng-option *ngFor="let yes_no of BLOOD_GROUP" [value]="yes_no.code">
									{{yes_no.name}}
								</ng-option>
							</ng-select>
							<control-messages
								[control]="applicantDetail.get('applicantBloodGroup').get('code')">
							</control-messages>
						 </div>

						 <div class="col-md-4">
							<month-picker formControlName="applicantJoiningMonth" [min]="startMinMonth"
								(change)="chosenMonthHandler($event)"></month-picker>
							<div align="end" class="default-show-hint mat-hint mat-right">
								{{config.MONTH_HINT_MSG}}</div>
							<control-messages [control]="applicantDetail.get('applicantJoiningMonth')">
							</control-messages>
						 </div>


					  </div>

					  <h2>
						{{'applicant_address' | translate:translateKey}}
					  </h2>
					       <app-address #address [requiredFeilds]="true" [isDisplayGujFields]="false"
						     [addressFormGroup]="applicantDetail.get('applicantAddress')" ></app-address>


					   <div class="row mt-4 fotButtonBar">
						    <div class="col-sm-12 col-md-12 justify-content-between d-flex">
							     <button type="button" color="primary" mat-raised-button (click)="tabIndex= tabIndex -1; ">
								  <mat-icon>navigate_before</mat-icon>
								  {{'back' | translate:translateKey}}
							     </button>
							   <button mat-raised-button type="button" color="primary"
							   (click)="checkValidation(applicantDetail,false)">
								  {{'save_and_next'| translate:translateKey}}
								  <mat-icon>navigate_next</mat-icon>
							   </button>
						</div>
					 </div>

				  </form>
				</mat-tab>
				<!-- Tab 2 Ends -->


				<!-- step Attachment Starts -->
				<mat-tab #tab3 disabled>
					<ng-template mat-tab-label>
						<div>{{'attachment' | translate: translateKey}}</div>
					</ng-template>
					<!-- <div class="row"> -->

					<h2>
						{{'bank_details' | translate:translateKey}}
					</h2>
					<bank-details [form]="swimmimgPoolBookingForm"></bank-details>
					<!-- <h2>
                            {{'terms_and_conditions' | translate:translateKey }}
                        </h2>
                        <div class="pl-2">
                            <mat-checkbox class="d-block" labelPosition="after" formControlName="agree">
                                {{'i_agree_with_above_bank_details_are_correct' | translate:translateKey}} </mat-checkbox>
                            <mat-checkbox class="d-block" labelPosition="after" formControlName="termsCondition">
                                {{'i_have_read_and_agree_with_terms_and_conditions' | translate:translateKey}} </mat-checkbox>
                        </div> -->
					<!-- </div> -->


					<div class="row" *ngIf="swimmimgPoolBookingForm.get('swimmingPoolName').get('code').value">

						<ng-container>

							<h2>
								{{'Attachments' | translate:translateKey}}
							</h2>
							<div class="col-md-4">
								<label labelPosition="after">{{'photo' | translate:translateKey}} *
								</label>
								<booking-file-upload (uploaded)="isFileUploaded1 = $event" [attachments]="attachments"
									[deleteButtonIsDisabled]="isRenewalForm" [form]="swimmimgPoolBookingForm"
									[uploadModel]="{fieldIdentifier:'1', labelName:'Photo', formPart:'1.4', refNumber:
								swimmimgPoolBookingForm.get('refNumber').value, variableName: 'photo',resourceType:'SWIMMING_POOL'}">
								</booking-file-upload>
							</div>
							<div class="col-md-4">
								<label labelPosition="after">{{'gazettate_officer_letter' | translate:translateKey}} *
								</label>
								<booking-file-upload (uploaded)="isFileUploaded2 = $event" [attachments]="attachments"
									[deleteButtonIsDisabled]="isRenewalForm" [form]="swimmimgPoolBookingForm"
									[uploadModel]="{fieldIdentifier:'2', labelName:'Gazettate Officer Letter', formPart:'1.1', refNumber:
								swimmimgPoolBookingForm.get('refNumber').value, variableName: 'gazettate_officer_letter',resourceType:'SWIMMING_POOL'}">
								</booking-file-upload>

							</div>
							<div *ngIf="isApplicateAgeGreaterThanEighteen" class="col-md-4">
								<label labelPosition="after">{{'parents_or_gauardians_permission_letter' |
									translate:translateKey}} *
								</label>
								<booking-file-upload (uploaded)="isFileUploaded3 = $event" [attachments]="attachments"
									[deleteButtonIsDisabled]="isRenewalForm" [form]="swimmimgPoolBookingForm"
									[uploadModel]="{fieldIdentifier:'3', labelName:'Parents or Guardians Permission Letter', formPart:'1.2', refNumber:
								swimmimgPoolBookingForm.get('refNumber').value, variableName: 'gauardians_permission_letter',resourceType:'SWIMMING_POOL'}">
								</booking-file-upload>
							</div>

							<div class="col-md-4">
								<label labelPosition="after">{{'certified_doctors_certificate' |
									translate:translateKey}} *
								</label>
								<booking-file-upload (uploaded)="isFileUploaded4 = $event" [attachments]="attachments"
									[deleteButtonIsDisabled]="isRenewalForm" [form]="swimmimgPoolBookingForm"
									[uploadModel]="{fieldIdentifier:'4', labelName:'Certified Doctors Certificate', formPart:'1.3', refNumber:
								swimmimgPoolBookingForm.get('refNumber').value, variableName: 'certified_doctors_certificate'}">
								</booking-file-upload>
							</div>
							<div class="col-md-4">
								<label labelPosition="after">{{'photo_id_proof' |
									translate:translateKey}} *
								</label>
								<booking-file-upload (uploaded)="isFileUploaded5 = $event"
									[deleteButtonIsDisabled]="navigatedRefNumber ? true : false"
									[form]="swimmimgPoolBookingForm" [uploadModel]="{fieldIdentifier:'5', labelName:'Photo Id Proof', formPart:'1.4', refNumber:
							swimmimgPoolBookingForm.get('refNumber').value, variableName: 'photo_id_proof'}" [attachments]="attachments">
								</booking-file-upload>
							</div>

							<div *ngIf="isSwimmingTestReportShow" class="col-md-4">
								<label labelPosition="after">{{'swimming_test_report' |
									translate:translateKey}} *
								</label>
								<booking-file-upload (uploaded)="isFileUploaded6 = $event"
									[deleteButtonIsDisabled]="navigatedRefNumber ? true : false"
									[form]="swimmimgPoolBookingForm" [uploadModel]="{fieldIdentifier:'6', labelName:'Swimming Test Report', formPart:'1.5', refNumber:
							swimmimgPoolBookingForm.get('refNumber').value, variableName: 'swimming_test_report'}"
									[attachments]="attachments">
								</booking-file-upload>
							</div>

							<div class="col-md-4">
								<label labelPosition="after">{{'other_documents' |
									translate:translateKey}}
								</label>
								<booking-file-upload (uploaded)="isFileUploaded7 = $event"
									[deleteButtonIsDisabled]="navigatedRefNumber ? true : false"
									[form]="swimmimgPoolBookingForm" [uploadModel]="{fieldIdentifier:'7', labelName:'Other Documents', formPart:'1.6', refNumber:
							swimmimgPoolBookingForm.get('refNumber').value, variableName: 'other_documents'}" [attachments]="attachments">
								</booking-file-upload>
							</div>
						</ng-container>

					</div>

					<div class="row mt-4 fotButtonBar">
						<div class="col-sm-12 col-md-12 justify-content-between d-flex">
							<button type="button" color="primary" mat-raised-button (click)="tabIndex= tabIndex -1; ">
								<mat-icon>navigate_before</mat-icon>
								{{'back' | translate:translateKey}}
							</button>
							<button mat-raised-button color="primary" type="submit" (click)="checkValidation(swimmimgPoolBookingForm,true)">
								{{'submit_application'| translate: translateKey}}
							</button>
						</div>
					</div>
				</mat-tab>
				<!-- step Attachment Ends -->

			</mat-tab-group>
	</mat-card>
</span>
<!-- {{ swimmimgPoolBookingForm.value | json }} -->
<div id="sectionToPrint"></div>
<select-payment-gateway #paymentGateway [applicationType]="'booking'"></select-payment-gateway>


<!-- gujrati fields -->
<!-- <div class="row" *ngIf="isDisplayGujFields">

							<mat-form-field class="col-md-4">
								<input matInput type="text" placeholder="{{'building_name' | translate: translateKey:'gu' }}" maxlength="180" formControlName="buildingNameGuj" appGujInputTarget [form]="applicantDetail">
								<control-messages [control]="swimmimgPoolBookingForm.get('applicantAddress').get('buildingNameGuj')"></control-messages>
							</mat-form-field>

							<mat-form-field class="col-md-4">
								<input matInput type="text" formControlName="streetNameGuj" placeholder="{{'street_name' | translate: translateKey:'gu' }}" maxlength="180" appGujInputTarget [form]="applicantDetail">
								<control-messages [control]="swimmimgPoolBookingForm.get('applicantAddress').get('streetNameGuj')"></control-messages>
							</mat-form-field>

							<mat-form-field class="col-md-4">
								<input matInput type="text" formControlName="landmarkGuj" placeholder="{{'landmark' | translate: translateKey:'gu' }}" maxlength="300" appGujInputTarget [form]="applicantDetail">
								<control-messages [control]="swimmimgPoolBookingForm.get('applicantAddress').get('landmarkGuj')"></control-messages>
							</mat-form-field>

						</div> -->
<!-- gujrati fields -->