.mat-standard-chip {
    border-radius: 0px;
}

/deep/ .mat-chip-list-wrapper {
    display: table-cell !important;
    flex-direction: row;
    flex-wrap: initial;
    align-items: center;
    margin: -4px;
}

.clock-button {
    position: absolute;
    top: -6px;
    right: 0;
}

.clock-input {
    padding-right: 39px;
}

.csBlock {
    border: 2px solid gray;
    margin: 15px;
}

//  for ngx clock
:host /deep/ .clock-face__number>span.disabled {
    color: #e0dbdb !important;
}

:host /deep/ .clock-button > button > svg {
    fill: indigo;
}
.head_container{
    padding-left: 20px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.proceedButtton {
    margin-top: 0 !important;
}

h1{

    text-align: center;
    
    }
    .table-center{
        margin-left: auto;  
        margin-right: auto;  
        border-collapse: collapse;    
        width: 570px
     }

    .table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 98%;
   }
   .td{
       border: 1px solid hsl(0, 0%, 6%);
       text-align: left;
       padding: 8px;
       font-weight: bold;
   }
   .td1{
       border: 1px solid hsl(0, 0%, 6%);
       text-align: left;
       padding: 8px;
   }
  
.cardBox {
    .pageTitle {
        margin-bottom: 6px;
    }
    .footer_container{
        margin-bottom: 0 !important;
        .head_container
    {
        .img{
            width: 130px;
            height: 130px;
        }
        .department-name{
            margin-bottom: 0rem;
            padding: 5px;
            h4{
              font-size: 18px;
            }
          }
        .titleHeader{
            font-size: 17px;
            color: #900C3F;
            text-align: center;
        }
        .titleparagraph{
            font-size: 17px;
            text-align: center;
            color: #900C3F;
        }
        .tableTop{
            border: 1px solid hsl(0, 0%, 6%);
            margin-top: 6px;
            margin-bottom: 1px;
            width: 98%;
        }
        .swimmingPoolFees {
             text-align: center;
             width: 50%;
        }
    }
        .table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 98%;
            td{
                border: 1px solid hsl(0, 0%, 6%);
                text-align: left;
                padding: 8px;
                font-weight: bold;
                font-size: 15px;
            }
            th{
                border: 1px solid hsl(0, 0%, 6%);
                text-align: center;
                font-size: 19px;
            }
            .smallFont{
                font-size: 16px;
                text-align: center;
            }
            .certificate{
              text-align: center;
            }
       }
           .swimmingPool-table-guj {
               margin-left: auto;
               margin-right: auto;
               border-collapse: collapse;
               width: 700px;
    
               .table {
                   th {
                       border: none;
                   }
    
                   td {
                       border: none
                   }
    
                   .td1 {
                       border: none;
                   }
               }
           }

           .swimmingPool-table-eng {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            width: 735px;
 
            .table {
                th {
                    border: none;
                }
 
                td {
                    border: none
                }
 
                .td1 {
                    border: none;
                }
            }
        }
    }
    
}

.fotButtonBar{
    .listSize{
        font-size: 17px;
    }
}

.mandatory{
    color: red;
}