<app-title-bar [title]="'screen_title' | translate: translateKey"></app-title-bar>

<mat-card [hidden]="serachLicenceObj.isDisplayDuplicateLicenceForm" class="mt-4 formClass">
  <mat-form-field class="col-md-10">
    <input matInput required placeholder="{{'search_by_application_no' | translate:translateKey}}" [(ngModel)]="serachLicenceObj.searchLicenceNumber">
  </mat-form-field>
  <button class="col-md-2" [disabled]="!serachLicenceObj.searchLicenceNumber" mat-raised-button color="primary" (click)="searchLicence()">{{'search'
    | translate:translateKey}}</button>
</mat-card>

<mat-card [hidden]="!serachLicenceObj.isDisplayDuplicateLicenceForm" class="formClass cardBorder">
  <form [formGroup]="foodDuplicateForm">
    <mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight="true" mat-stretch-tabs class="stepperNav">

      <!-- step 1 Starts -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div>{{'license_holder_detail' | translate:translateKey}}</div>
        </ng-template>

        <div class="row">
          <mat-form-field class="col-md-6">
            <input matInput type="text" required maxlength="300" appValidationFields validationFieldsType='onlyNameWithSpace'
              placeholder="{{'holder_name' | translate:translateKey}}" formControlName="holderName">
            <control-messages [control]="foodDuplicateForm.get('holderName')"></control-messages>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <input matInput type="text" required maxlength="150" placeholder="{{'firm_name' | translate:translateKey}}"
              formControlName="firmName">
            <control-messages [control]="foodDuplicateForm.get('firmName')"></control-messages>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <textarea matInput rows="3" cols="50" maxlength="500" formControlName="holderAddress" placeholder="{{ 'holder_address' | translate:translateKey }}"
              required> </textarea>
            <control-messages [control]="foodDuplicateForm.get('holderAddress')"></control-messages>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <textarea matInput rows="3" cols="50" maxlength="200" formControlName="firmAddress" placeholder="{{ 'firm_address' | translate:translateKey }}"
              required> </textarea>
            <control-messages [control]="foodDuplicateForm.get('firmAddress')"></control-messages>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-4 ngSelect" formGroupName="firmZone">
            <ng-select placeholder="{{'firm_zone' | translate:translateKey}} *" formControlName="code" (change)="onChangeZone($event);foodDuplicateForm.get('firmAdministrativeWard').reset()">
              <ng-option *ngFor="let zone of FIRM_ZONE" [value]="zone.code">{{zone.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('firmZone').get('code')"></control-messages>
          </div>
          <div class="col-md-4 ngSelect" formGroupName="firmAdministrativeWard">
            <ng-select placeholder="{{'firm_ward_no' | translate:translateKey}} *" formControlName="code">
              <ng-option *ngFor="let ward of WARD" [value]="ward.code">{{ward.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('firmAdministrativeWard').get('code')"></control-messages>
          </div>
          <mat-form-field class="col-md-4">
            <input matInput formControlName="firmCity" appValidationFields validationFieldsType='onlyNameWithOutSpace'
              placeholder="{{'firm_city' | translate:translateKey}}" maxlength="10" required>
            <control-messages [control]="foodDuplicateForm.get('firmCity')"></control-messages>
          </mat-form-field>
        </div>

        <div class="row">

          <mat-form-field class="col-md-4">
            <input matInput type="tel" OnlyNumber formControlName="firmPincode" placeholder="{{'firm_pincode' | translate: translateKey }}"
              minlength="6" maxlength="6" required>
            <control-messages [control]="foodDuplicateForm.get('firmPincode')"></control-messages>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput OnlyNumber required maxlength="10" formControlName="mobileNo" placeholder="{{'mobile_no' | translate:translateKey}}">
            <control-messages [control]="foodDuplicateForm.get('mobileNo')"></control-messages>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput OnlyNumber maxlength="11" minlength="11" formControlName="firmLandLineNo" placeholder="{{'tel_no' | translate:translateKey}}">
            <control-messages [control]="foodDuplicateForm.get('firmLandLineNo')"></control-messages>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <input matInput appPreventSpace placeholder="{{'email' | translate:translateKey}}" type="email"
              formControlName="firmEmailId" required>
            <control-messages [control]="foodDuplicateForm.get('firmEmailId')"></control-messages>
          </mat-form-field>
        </div>
        <app-action-bar [form]="foodDuplicateForm" (tabIndex)="onTabChange($event)" [stepInfo]="{step: 'step1', next: 1, back: 0}"></app-action-bar>
      </mat-tab>
      <!-- step 1 Ends -->

      <!-- step 2 Starts -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div>{{'business_detail' | translate:translateKey}}</div>
        </ng-template>

        <div class="row">
          <div class="col-md-4 ngSelect" formGroupName="businessType">
            <ng-select placeholder="{{'business_type' | translate:translateKey}} *" formControlName="code" (change)="foodDuplicateForm.get('businessCategories').reset();foodDuplicateForm.get('regLicType').reset()">
              <ng-option *ngFor="let type of FOOD_BUSINESS_TYPES" [value]="type.code">{{type.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessType').get('code')"></control-messages>
          </div>
          <div class="col-md-4 ngSelect" formGroupName="regLicType">
            <ng-select placeholder="{{'regLic_type_single_or_multi' | translate:translateKey}} *" formControlName="code"
              (change)="foodDuplicateForm.get('businessCategories').reset()">
              <ng-option *ngFor="let type of FOOD_REG_LIC_SINGLE_OR_MULTIPLE" [value]="type.code">{{type.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('regLicType').get('code')"></control-messages>
          </div>

          <div class="col-md-4 ngSelect" formGroupName="businessTurnOver">
            <ng-select placeholder="{{'business_turnover' | translate:translateKey}} *" formControlName="code"
              (ngModelChange)="onChangeRegOrLicType($event)">
              <ng-option *ngFor="let statusId of FOOD_BUSINESS_TURNOVER" [value]="statusId.code">{{statusId.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessTurnOver').get('code')"></control-messages>
          </div>

          <!-- when business turnover is less than 12 LK and select registration type  and business type is selected-->
          <!-- Multiple MANUFACTURER LESS_THAN_12LK -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value == 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'LESS_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE'">
            <ng-select [items]="FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE_LT12L" bindLabel="name" formControlName="businessCategories"
              [multiple]="true" (change)="foodDuplicateForm.get('singleBusinessCategorie').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessCategories')"></control-messages>
          </div>
          <!-- single MANUFACTURER LESS_THAN_12LK -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value != 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'LESS_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE'">
            <ng-select [items]="FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE_LT12L" bindLabel="name" formControlName="singleBusinessCategorie"
              (change)="foodDuplicateForm.get('businessCategories').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('singleBusinessCategorie')"></control-messages>
          </div>
          <!-- MULTIPLE FOOD_OTHER LESS_THAN_12LK -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value == 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'LESS_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_OTHER' ">
            <ng-select [items]="FOOD_OTHERS_BUSINESSTYPE_LT12L" bindLabel="name" formControlName="businessCategories"
              [multiple]="true" (change)="foodDuplicateForm.get('singleBusinessCategorie').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessCategories')"></control-messages>
          </div>
          <!-- single FOOD_OTHER LESS_THAN_12LK -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value != 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'LESS_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_OTHER' ">
            <ng-select [items]="FOOD_OTHERS_BUSINESSTYPE_LT12L" bindLabel="name" formControlName="singleBusinessCategorie"
              (change)="foodDuplicateForm.get('businessCategories').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('singleBusinessCategorie')"></control-messages>
          </div>

          <!-- when business turnover is more than 12 LK and select registration type  and business type is selected-->
          <!-- MULTIPLE MANUFACTURER GREATER_THAN_12LK -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value == 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'GREATER_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE'">
            <ng-select [items]="FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE_MT12L" bindLabel="name" formControlName="businessCategories"
              [multiple]="true" (change)="foodDuplicateForm.get('singleBusinessCategorie').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessCategories')"></control-messages>
          </div>
          <!-- single MANUFACTURER GREATER_THAN_12LK -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value != 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'GREATER_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE'">
            <ng-select [items]="FOOD_MANUFACTURER_PROCESSOR_BUSINESSTYPE_MT12L" bindLabel="name" formControlName="singleBusinessCategorie"
              (change)="foodDuplicateForm.get('businessCategories').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('singleBusinessCategorie')"></control-messages>
          </div>
          <!-- MULTIPLE FOOD_OTHER GREATER_THAN_12LK  -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value == 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'GREATER_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_OTHER' ">
            <ng-select [items]="FOOD_OTHERS_BUSINESSTYPE_MT12L" bindLabel="name" formControlName="businessCategories"
              [multiple]="true" (change)="foodDuplicateForm.get('singleBusinessCategorie').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessCategories')"></control-messages>
          </div>
          <!-- single FOOD_OTHER GREATER_THAN_12LK  -->
          <div class="col-md-12 ngSelect" *ngIf="foodDuplicateForm.get('regLicType').get('code').value != 'FOOD_REG_LIC_MULTIPLE' && foodDuplicateForm.get('businessTurnOver').get('code').value === 'GREATER_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_OTHER' ">
            <ng-select [items]="FOOD_OTHERS_BUSINESSTYPE_MT12L" bindLabel="name" formControlName="singleBusinessCategorie"
              (change)="foodDuplicateForm.get('businessCategories').reset()" placeholder="{{'business_categories' | translate:translateKey}} *">
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('singleBusinessCategorie')"></control-messages>
          </div>
          <!-- <div class="col-md-8 ngSelect" formArrayName="businessCategories" *ngIf="foodDuplicateForm.get('businessTurnOver').get('code').value === 'GREATER_THAN_12LK' && foodDuplicateForm.get('businessType').get('code').value === 'FOOD_OTHER' && foodDuplicateForm.get('regLicType').get('code').value !== null">
            <ng-select [multiple]="foodDuplicateForm.get('regLicType').get('code').value == 'FOOD_REG_LIC_MULTIPLE'"
              placeholder="{{'business_categories' | translate:translateKey}} *">
              <ng-option *ngFor="let type of FOOD_OTHERS_BUSINESSTYPE_MT12L" [value]="type.code">{{type.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('businessCategories').controls"></control-messages>
          </div> -->

          <!-- depend on business TurnOver -->
          <mat-form-field class="col-md-4">
            <input matInput required readonly formControlName="regOrLic" placeholder="{{'is_reg_or_lic' | translate:translateKey}}">
            <control-messages [control]="foodDuplicateForm.get('regOrLic')"></control-messages>
          </mat-form-field>

          <div class="col-md-4 ngSelect" formGroupName="licenceForNoOfYear">
            <ng-select placeholder="{{'licence_for_no_of_year' | translate:translateKey}} *" formControlName="code">
              <ng-option *ngFor="let statusId of FOOD_LICENCE_NO_OF_YEAR" [value]="statusId.code">{{statusId.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('licenceForNoOfYear').get('code')"></control-messages>
          </div>
          <!-- <div class="col-md-4 ngSelect" formGroupName="feesType">
            <ng-select placeholder="{{'feesType' | translate:translateKey}} *" formControlName="code">
              <ng-option *ngFor="let statusId of FOOD_LIC_FEES_TYPE" [value]="statusId.code">{{statusId.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('feesType').get('code')"></control-messages>
          </div> -->
          <!-- <mat-form-field class="col-md-4">
            <input matInput OnlyNumber required maxlength="10" formControlName="totalFeesAmount" placeholder="{{'total_fees_amount' | translate:translateKey}}">
            <control-messages [control]="foodDuplicateForm.get('totalFeesAmount')"></control-messages>
          </mat-form-field> -->
          <div class="col-md-4 ngSelect" formGroupName="paymentMode">
            <ng-select placeholder="{{'payment_mode' | translate:translateKey}} *" formControlName="code">
              <ng-option *ngFor="let statusId of FOOD_PAYMENT_MODE" [value]="statusId.code">{{statusId.name}}</ng-option>
            </ng-select>
            <control-messages [control]="foodDuplicateForm.get('paymentMode').get('code')"></control-messages>
          </div>
        </div>

        <app-action-bar [paymentGateway]="paymentGateway" [form]="foodDuplicateForm" (handleErrors)="handleErrorsOnSubmit($event)"
          (tabIndex)="onTabChange($event)" [stepInfo]="{step: 'final', next:4, back:0} "></app-action-bar>
      </mat-tab>
      <!-- step 2 Ends -->
      <select-payment-gateway #paymentGateway></select-payment-gateway>
    </mat-tab-group>
  </form>
  <!-- {{ foodDuplicateForm.value | json }} -->
</mat-card>
